:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #f8fbfd;
  --primary-200: #e9f2f8;
  --primary-300: #dae9f3;
  --primary-400: #a7cae0;
  --primary-500: #9ab1c0;
  --primary-600: #93a5b0;
  --primary-700: #8d99a0;
  --primary-800: #899298;
  --primary-900: #838688;
  --hue-0-100: #fdf8f8;
  --hue-0-200: #f8eae9;
  --hue-0-300: #f3ddda;
  --hue-0-400: #e0aca7;
  --hue-0-500: #d0a5a0;
  --hue-0-600: #c8a19d;
  --hue-0-700: #b89997;
  --hue-0-800: #a89290;
  --hue-0-900: #908786;
  --hue-30-100: #fdf9f8;
  --hue-30-200: #f8ede9;
  --hue-30-300: #f3e0da;
  --hue-30-400: #e0b5a7;
  --hue-30-500: #d0aca0;
  --hue-30-600: #c8a89d;
  --hue-30-700: #b89f97;
  --hue-30-800: #a89690;
  --hue-30-900: #908986;
  --hue-60-100: #fdfaf8;
  --hue-60-200: #f8f0e9;
  --hue-60-300: #f3e6da;
  --hue-60-400: #ebc49c;
  --hue-60-500: #c7ad92;
  --hue-60-600: #b0a293;
  --hue-60-700: #a0968d;
  --hue-60-800: #989189;
  --hue-60-900: #888583;
  --hue-90-100: #fefcf7;
  --hue-90-200: #faf5e7;
  --hue-90-300: #f7efd6;
  --hue-90-400: #ebd79c;
  --hue-90-500: #c7ba92;
  --hue-90-600: #b5ac8e;
  --hue-90-700: #a49d89;
  --hue-90-800: #9b9687;
  --hue-90-900: #898782;
  --hue-120-100: #fefef7;
  --hue-120-200: #fafae7;
  --hue-120-300: #f7f7d6;
  --hue-120-400: #ebeb9c;
  --hue-120-500: #c7c792;
  --hue-120-600: #b5b58e;
  --hue-120-700: #a4a489;
  --hue-120-800: #9b9b87;
  --hue-120-900: #898982;
  --hue-150-100: #fcfef7;
  --hue-150-200: #f6fae7;
  --hue-150-300: #f0f7d6;
  --hue-150-400: #d9eb9c;
  --hue-150-500: #bbc792;
  --hue-150-600: #acb58e;
  --hue-150-700: #9ea489;
  --hue-150-800: #969b87;
  --hue-150-900: #878982;
  --hue-180-100: #fafdf8;
  --hue-180-200: #eff8e9;
  --hue-180-300: #e4f3da;
  --hue-180-400: #bfe0a7;
  --hue-180-500: #aac09a;
  --hue-180-600: #9fb093;
  --hue-180-700: #95a08d;
  --hue-180-800: #8f9889;
  --hue-180-900: #858883;
  --hue-210-100: #f8fdfb;
  --hue-210-200: #e9f8f4;
  --hue-210-300: #daf3ec;
  --hue-210-400: #a7e0d1;
  --hue-210-500: #9ac0b6;
  --hue-210-600: #93b0a8;
  --hue-210-700: #8da09b;
  --hue-210-800: #899894;
  --hue-210-900: #838886;
  --hue-240-100: #f9f9fc;
  --hue-240-200: #ebeef6;
  --hue-240-300: #dee3ef;
  --hue-240-400: #afbad8;
  --hue-240-500: #a7b1c9;
  --hue-240-600: #a4acc2;
  --hue-240-700: #9ba2b3;
  --hue-240-800: #9498a4;
  --hue-240-900: #888a8e;
  --hue-270-100: #faf9fc;
  --hue-270-200: #efebf6;
  --hue-270-300: #e5deef;
  --hue-270-400: #bfafd8;
  --hue-270-500: #b5a7c9;
  --hue-270-600: #b0a4c2;
  --hue-270-700: #a59bb3;
  --hue-270-800: #9a94a4;
  --hue-270-900: #8a888e;
  --hue-300-100: #fcf8fc;
  --hue-300-200: #f7eaf7;
  --hue-300-300: #f1dcf1;
  --hue-300-400: #ddaadd;
  --hue-300-500: #cea3ce;
  --hue-300-600: #c6a0c6;
  --hue-300-700: #b698b6;
  --hue-300-800: #a791a7;
  --hue-300-900: #8f878f;
  --hue-330-100: #fdf8f9;
  --hue-330-200: #f8e9ee;
  --hue-330-300: #f3dae2;
  --hue-330-400: #e0a7b9;
  --hue-330-500: #d0a0af;
  --hue-330-600: #c89daa;
  --hue-330-700: #b897a1;
  --hue-330-800: #a89098;
  --hue-330-900: #908689;
  --complementary-100: #fcfaf9;
  --complementary-200: #f5efeb;
  --complementary-300: #eee4de;
  --complementary-400: #d7bdb0;
  --complementary-500: #c8b3a8;
  --complementary-600: #c1aea4;
  --complementary-700: #b3a49c;
  --complementary-800: #a49994;
  --complementary-900: #8e8a88;
  --analogous1-100: #f9f9fc;
  --analogous1-200: #ebeef6;
  --analogous1-300: #dee2ef;
  --analogous1-400: #afb8d8;
  --analogous1-500: #a7afc9;
  --analogous1-600: #a4aac2;
  --analogous1-700: #9ba0b3;
  --analogous1-800: #9497a4;
  --analogous1-900: #88898e;
  --analogous2-100: #fbf9fd;
  --analogous2-200: #f2ecf8;
  --analogous2-300: #e9dff2;
  --analogous2-400: #c9b2e0;
  --analogous2-500: #bdaad0;
  --analogous2-600: #b7a5c8;
  --analogous2-700: #aa9db8;
  --analogous2-800: #9e95a8;
  --analogous2-900: #8c8890;
  --analogous3-100: #fcf8fc;
  --analogous3-200: #f4ebf4;
  --analogous3-300: #edddec;
  --analogous3-400: #d3add2;
  --analogous3-500: #c5a6c4;
  --analogous3-600: #bea2bd;
  --analogous3-700: #b09ab0;
  --analogous3-800: #a393a2;
  --analogous3-900: #8e878e;
  --split1-100: #fcf9f9;
  --split1-200: #f5eceb;
  --split1-300: #eedfde;
  --split1-400: #d7b2b0;
  --split1-500: #c8aaa8;
  --split1-600: #c1a5a4;
  --split1-700: #b39d9c;
  --split1-800: #a49594;
  --split1-900: #8e8888;
  --split2-100: #fdfbf8;
  --split2-200: #f8f2e8;
  --split2-300: #f3ead9;
  --split2-400: #e2cba5;
  --split2-500: #c2b298;
  --split2-600: #b1a692;
  --split2-700: #a1998c;
  --split2-800: #999389;
  --split2-900: #888683;
  --square1-100: #fcf8fc;
  --square1-200: #f4ebf4;
  --square1-300: #edddec;
  --square1-400: #d3add2;
  --square1-500: #c5a6c4;
  --square1-600: #bea2bd;
  --square1-700: #b09ab0;
  --square1-800: #a393a2;
  --square1-900: #8e878e;
  --square2-100: #fcfaf9;
  --square2-200: #f5efeb;
  --square2-300: #eee4de;
  --square2-400: #d7bdb0;
  --square2-500: #c8b3a8;
  --square2-600: #c1aea4;
  --square2-700: #b3a49c;
  --square2-800: #a49994;
  --square2-900: #8e8a88;
  --square3-100: #fdfdf8;
  --square3-200: #f7fae9;
  --square3-300: #f1f6da;
  --square3-400: #dde8a6;
  --square3-500: #bec599;
  --square3-600: #aeb493;
  --square3-700: #9fa38c;
  --square3-800: #979a89;
  --square3-900: #888883;
  --triadic1-100: #fcf8fa;
  --triadic1-200: #f5eaee;
  --triadic1-300: #eedce3;
  --triadic1-400: #d6abbb;
  --triadic1-500: #c7a4b1;
  --triadic1-600: #c0a0ac;
  --triadic1-700: #b299a2;
  --triadic1-800: #a49299;
  --triadic1-900: #8e878a;
  --triadic2-100: #fdfcf8;
  --triadic2-200: #f8f7e8;
  --triadic2-300: #f3f1d9;
  --triadic2-400: #e2dda5;
  --triadic2-500: #c2be98;
  --triadic2-600: #b1af92;
  --triadic2-700: #a19f8c;
  --triadic2-800: #999789;
  --triadic2-900: #888783;
  --tetradic1-100: #fbf9fd;
  --tetradic1-200: #f2ecf8;
  --tetradic1-300: #e9dff2;
  --tetradic1-400: #c9b2e0;
  --tetradic1-500: #bdaad0;
  --tetradic1-600: #b7a5c8;
  --tetradic1-700: #aa9db8;
  --tetradic1-800: #9e95a8;
  --tetradic1-900: #8c8890;
  --tetradic2-100: #fcfaf9;
  --tetradic2-200: #f5efeb;
  --tetradic2-300: #eee4de;
  --tetradic2-400: #d7bdb0;
  --tetradic2-500: #c8b3a8;
  --tetradic2-600: #c1aea4;
  --tetradic2-700: #b3a49c;
  --tetradic2-800: #a49994;
  --tetradic2-900: #8e8a88;
  --tetradic3-100: #fdfcf8;
  --tetradic3-200: #f8f7e8;
  --tetradic3-300: #f3f1d9;
  --tetradic3-400: #e2dda5;
  --tetradic3-500: #c2be98;
  --tetradic3-600: #b1af92;
  --tetradic3-700: #a19f8c;
  --tetradic3-800: #999789;
  --tetradic3-900: #888783;
  --success-100: #fafdf8;
  --success-200: #eff8e9;
  --success-300: #e4f3da;
  --success-400: #bfe0a7;
  --success-500: #aac09a;
  --success-600: #9fb093;
  --success-700: #95a08d;
  --success-800: #8f9889;
  --success-900: #858883;
  --danger-100: #fdf8f8;
  --danger-200: #f8eae9;
  --danger-300: #f3ddda;
  --danger-400: #e0aca7;
  --danger-500: #d0a5a0;
  --danger-600: #c8a19d;
  --danger-700: #b89997;
  --danger-800: #a89290;
  --danger-900: #908786;
  --warning-100: #fdfaf8;
  --warning-200: #f8f0e9;
  --warning-300: #f3e6da;
  --warning-400: #ebc49c;
  --warning-500: #c7ad92;
  --warning-600: #b0a293;
  --warning-700: #a0968d;
  --warning-800: #989189;
  --warning-900: #888583;
  --info-100: #f9f9fc;
  --info-200: #ebeef6;
  --info-300: #dee3ef;
  --info-400: #afbad8;
  --info-500: #a7b1c9;
  --info-600: #a4acc2;
  --info-700: #9ba2b3;
  --info-800: #9498a4;
  --info-900: #888a8e;
  --primary-100n: #f0f6fa;
  --primary-200n: #d3e5f0;
  --primary-300n: #b5d3e6;
  --primary-400n: #4e95c1;
  --primary-500n: #346380;
  --primary-600n: #274b61;
  --primary-700n: #1a3241;
  --primary-800n: #132531;
  --primary-900n: #060c10;
  --hue-0-100n: #faf1f0;
  --hue-0-200n: #f0d5d3;
  --hue-0-300n: #e6bab5;
  --hue-0-400n: #c1584e;
  --hue-0-500n: #a14a41;
  --hue-0-600n: #91423b;
  --hue-0-700n: #70332e;
  --hue-0-800n: #512520;
  --hue-0-900n: #200f0d;
  --hue-30-100n: #faf3f0;
  --hue-30-200n: #f0dad3;
  --hue-30-300n: #e6c1b5;
  --hue-30-400n: #c16b4e;
  --hue-30-500n: #a15941;
  --hue-30-600n: #91503b;
  --hue-30-700n: #703e2e;
  --hue-30-800n: #512c20;
  --hue-30-900n: #20120d;
  --hue-60-100n: #faf5f0;
  --hue-60-200n: #f0e1d3;
  --hue-60-300n: #e6cdb5;
  --hue-60-400n: #d68839;
  --hue-60-500n: #8f5b25;
  --hue-60-600n: #614427;
  --hue-60-700n: #412d1a;
  --hue-60-800n: #312213;
  --hue-60-900n: #100b06;
  --hue-90-100n: #fcf9ee;
  --hue-90-200n: #f5ebce;
  --hue-90-300n: #eedead;
  --hue-90-400n: #d6af39;
  --hue-90-500n: #8f7525;
  --hue-90-600n: #6b581d;
  --hue-90-700n: #483a13;
  --hue-90-800n: #362c0e;
  --hue-90-900n: #120f04;
  --hue-120-100n: #fcfcee;
  --hue-120-200n: #f5f5ce;
  --hue-120-300n: #eeeead;
  --hue-120-400n: #d6d639;
  --hue-120-500n: #8f8f25;
  --hue-120-600n: #6b6b1d;
  --hue-120-700n: #484813;
  --hue-120-800n: #36360e;
  --hue-120-900n: #121204;
  --hue-150-100n: #f9fcee;
  --hue-150-200n: #ecf5ce;
  --hue-150-300n: #e0eead;
  --hue-150-400n: #b3d639;
  --hue-150-500n: #778f25;
  --hue-150-600n: #596b1d;
  --hue-150-700n: #3c4813;
  --hue-150-800n: #2d360e;
  --hue-150-900n: #0f1204;
  --hue-180-100n: #f4faf0;
  --hue-180-200n: #dff0d3;
  --hue-180-300n: #c9e6b5;
  --hue-180-400n: #7ec14e;
  --hue-180-500n: #548034;
  --hue-180-600n: #3f6127;
  --hue-180-700n: #2a411a;
  --hue-180-800n: #1f3113;
  --hue-180-900n: #0a1006;
  --hue-210-100n: #f0faf7;
  --hue-210-200n: #d3f0e8;
  --hue-210-300n: #b5e6d8;
  --hue-210-400n: #4ec1a2;
  --hue-210-500n: #34806c;
  --hue-210-600n: #276151;
  --hue-210-700n: #1a4136;
  --hue-210-800n: #133128;
  --hue-210-900n: #06100d;
  --hue-240-100n: #f2f3f8;
  --hue-240-200n: #d7ddec;
  --hue-240-300n: #bdc6de;
  --hue-240-400n: #5f75b0;
  --hue-240-500n: #4f6293;
  --hue-240-600n: #485884;
  --hue-240-700n: #374467;
  --hue-240-800n: #283149;
  --hue-240-900n: #10141d;
  --hue-270-100n: #f4f2f8;
  --hue-270-200n: #dfd7ec;
  --hue-270-300n: #cabdde;
  --hue-270-400n: #7f5fb0;
  --hue-270-500n: #6a4f93;
  --hue-270-600n: #604884;
  --hue-270-700n: #4a3767;
  --hue-270-800n: #352849;
  --hue-270-900n: #15101d;
  --hue-300-100n: #f9f1f9;
  --hue-300-200n: #eed5ee;
  --hue-300-300n: #e3b8e3;
  --hue-300-400n: #bb54bb;
  --hue-300-500n: #9c469c;
  --hue-300-600n: #8c408c;
  --hue-300-700n: #6d316d;
  --hue-300-800n: #4e234e;
  --hue-300-900n: #1f0e1f;
  --hue-330-100n: #faf0f3;
  --hue-330-200n: #f0d3dc;
  --hue-330-300n: #e6b5c4;
  --hue-330-400n: #c14e72;
  --hue-330-500n: #a1415f;
  --hue-330-600n: #913b55;
  --hue-330-700n: #702e42;
  --hue-330-800n: #512030;
  --hue-330-900n: #200d13;
  --complementary-100n: #f8f4f2;
  --complementary-200n: #ebded7;
  --complementary-300n: #ddc8bd;
  --complementary-400n: #af7b60;
  --complementary-500n: #916751;
  --complementary-600n: #835d48;
  --complementary-700n: #664838;
  --complementary-800n: #493328;
  --complementary-900n: #1d1511;
  --analogous1-100n: #f2f3f8;
  --analogous1-200n: #d7dcec;
  --analogous1-300n: #bdc4de;
  --analogous1-400n: #5f70b0;
  --analogous1-500n: #4f5e93;
  --analogous1-600n: #485584;
  --analogous1-700n: #374167;
  --analogous1-800n: #282f49;
  --analogous1-900n: #10131d;
  --analogous2-100n: #f6f2fa;
  --analogous2-200n: #e4d8f0;
  --analogous2-300n: #d2bfe5;
  --analogous2-400n: #9264c0;
  --analogous2-500n: #7a54a0;
  --analogous2-600n: #6e4b91;
  --analogous2-700n: #553a70;
  --analogous2-800n: #3d2a50;
  --analogous2-900n: #181020;
  --analogous3-100n: #f8f1f8;
  --analogous3-200n: #e9d6e8;
  --analogous3-300n: #dabbd9;
  --analogous3-400n: #a75ba5;
  --analogous3-500n: #8b4c89;
  --analogous3-600n: #7d457b;
  --analogous3-700n: #613560;
  --analogous3-800n: #462645;
  --analogous3-900n: #1c0f1c;
  --split1-100n: #f8f2f2;
  --split1-200n: #ebd8d7;
  --split1-300n: #ddbebd;
  --split1-400n: #af6560;
  --split1-500n: #915451;
  --split1-600n: #834b48;
  --split1-700n: #663a38;
  --split1-800n: #492a28;
  --split1-900n: #1d1111;
  --split2-100n: #faf6f0;
  --split2-200n: #f1e5d1;
  --split2-300n: #e7d4b3;
  --split2-400n: #c5974a;
  --split2-500n: #846531;
  --split2-600n: #634c25;
  --split2-700n: #423218;
  --split2-800n: #322612;
  --split2-900n: #100c06;
  --square1-100n: #f8f1f8;
  --square1-200n: #e9d6e8;
  --square1-300n: #dabbd9;
  --square1-400n: #a75ba5;
  --square1-500n: #8b4c89;
  --square1-600n: #7d457b;
  --square1-700n: #613560;
  --square1-800n: #462645;
  --square1-900n: #1c0f1c;
  --square2-100n: #f8f4f2;
  --square2-200n: #ebded7;
  --square2-300n: #ddc8bd;
  --square2-400n: #af7b60;
  --square2-500n: #916751;
  --square2-600n: #835d48;
  --square2-700n: #664838;
  --square2-800n: #493328;
  --square2-900n: #1d1511;
  --square3-100n: #fafbf0;
  --square3-200n: #eef4d2;
  --square3-300n: #e3ecb4;
  --square3-400n: #bbd14c;
  --square3-500n: #7d8b33;
  --square3-600n: #5d6926;
  --square3-700n: #3e4619;
  --square3-800n: #2f3413;
  --square3-900n: #101106;
  --triadic1-100n: #f8f1f4;
  --triadic1-200n: #ead5dd;
  --triadic1-300n: #dcb9c6;
  --triadic1-400n: #ac5677;
  --triadic1-500n: #8f4863;
  --triadic1-600n: #814159;
  --triadic1-700n: #643245;
  --triadic1-800n: #482432;
  --triadic1-900n: #1d0e14;
  --triadic2-100n: #faf9f0;
  --triadic2-200n: #f1eed1;
  --triadic2-300n: #e7e2b3;
  --triadic2-400n: #c5bb4a;
  --triadic2-500n: #847d31;
  --triadic2-600n: #635e25;
  --triadic2-700n: #423e18;
  --triadic2-800n: #322f12;
  --triadic2-900n: #100f06;
  --tetradic1-100n: #f6f2fa;
  --tetradic1-200n: #e4d8f0;
  --tetradic1-300n: #d2bfe5;
  --tetradic1-400n: #9264c0;
  --tetradic1-500n: #7a54a0;
  --tetradic1-600n: #6e4b91;
  --tetradic1-700n: #553a70;
  --tetradic1-800n: #3d2a50;
  --tetradic1-900n: #181020;
  --tetradic2-100n: #f8f4f2;
  --tetradic2-200n: #ebded7;
  --tetradic2-300n: #ddc8bd;
  --tetradic2-400n: #af7b60;
  --tetradic2-500n: #916751;
  --tetradic2-600n: #835d48;
  --tetradic2-700n: #664838;
  --tetradic2-800n: #493328;
  --tetradic2-900n: #1d1511;
  --tetradic3-100n: #faf9f0;
  --tetradic3-200n: #f1eed1;
  --tetradic3-300n: #e7e2b3;
  --tetradic3-400n: #c5bb4a;
  --tetradic3-500n: #847d31;
  --tetradic3-600n: #635e25;
  --tetradic3-700n: #423e18;
  --tetradic3-800n: #322f12;
  --tetradic3-900n: #100f06;
  --success-100n: #f4faf0;
  --success-200n: #dff0d3;
  --success-300n: #c9e6b5;
  --success-400n: #7ec14e;
  --success-500n: #548034;
  --success-600n: #3f6127;
  --success-700n: #2a411a;
  --success-800n: #1f3113;
  --success-900n: #0a1006;
  --danger-100n: #faf1f0;
  --danger-200n: #f0d5d3;
  --danger-300n: #e6bab5;
  --danger-400n: #c1584e;
  --danger-500n: #a14a41;
  --danger-600n: #91423b;
  --danger-700n: #70332e;
  --danger-800n: #512520;
  --danger-900n: #200f0d;
  --warning-100n: #faf5f0;
  --warning-200n: #f0e1d3;
  --warning-300n: #e6cdb5;
  --warning-400n: #d68839;
  --warning-500n: #8f5b25;
  --warning-600n: #614427;
  --warning-700n: #412d1a;
  --warning-800n: #312213;
  --warning-900n: #100b06;
  --info-100n: #f2f3f8;
  --info-200n: #d7ddec;
  --info-300n: #bdc6de;
  --info-400n: #5f75b0;
  --info-500n: #4f6293;
  --info-600n: #485884;
  --info-700n: #374467;
  --info-800n: #283149;
  --info-900n: #10141d;
  --primary-100a: rgba(236, 247, 254, 0.3);
  --primary-200a: rgba(199, 232, 252, 0.3);
  --primary-300a: rgba(161, 216, 250, 0.3);
  --primary-400a: rgba(29, 161, 242, 0.3);
  --primary-500a: rgba(19, 107, 161, 0.3);
  --primary-600a: rgba(15, 81, 121, 0.3);
  --primary-700a: rgba(10, 54, 81, 0.3);
  --primary-800a: rgba(7, 40, 61, 0.3);
  --primary-900a: rgba(2, 13, 20, 0.3);
  --hue-0-100a: rgba(254, 238, 236, 0.3);
  --hue-0-200a: rgba(252, 203, 199, 0.3);
  --hue-0-300a: rgba(250, 169, 161, 0.3);
  --hue-0-400a: rgba(242, 48, 29, 0.3);
  --hue-0-500a: rgba(202, 40, 24, 0.3);
  --hue-0-600a: rgba(182, 36, 22, 0.3);
  --hue-0-700a: rgba(141, 28, 17, 0.3);
  --hue-0-800a: rgba(101, 20, 12, 0.3);
  --hue-0-900a: rgba(40, 8, 5, 0.3);
  --hue-30-100a: rgba(254, 241, 236, 0.3);
  --hue-30-200a: rgba(252, 212, 199, 0.3);
  --hue-30-300a: rgba(250, 183, 161, 0.3);
  --hue-30-400a: rgba(242, 82, 29, 0.3);
  --hue-30-500a: rgba(202, 68, 24, 0.3);
  --hue-30-600a: rgba(182, 62, 22, 0.3);
  --hue-30-700a: rgba(141, 48, 17, 0.3);
  --hue-30-800a: rgba(101, 34, 12, 0.3);
  --hue-30-900a: rgba(40, 14, 5, 0.3);
  --hue-60-100a: rgba(254, 245, 236, 0.3);
  --hue-60-200a: rgba(252, 225, 199, 0.3);
  --hue-60-300a: rgba(250, 205, 161, 0.3);
  --hue-60-400a: rgba(242, 136, 29, 0.3);
  --hue-60-500a: rgba(161, 91, 19, 0.3);
  --hue-60-600a: rgba(121, 68, 15, 0.3);
  --hue-60-700a: rgba(81, 45, 10, 0.3);
  --hue-60-800a: rgba(61, 34, 7, 0.3);
  --hue-60-900a: rgba(20, 11, 2, 0.3);
  --hue-90-100a: rgba(254, 250, 236, 0.3);
  --hue-90-200a: rgba(252, 239, 199, 0.3);
  --hue-90-300a: rgba(250, 228, 161, 0.3);
  --hue-90-400a: rgba(242, 189, 29, 0.3);
  --hue-90-500a: rgba(161, 126, 19, 0.3);
  --hue-90-600a: rgba(121, 95, 15, 0.3);
  --hue-90-700a: rgba(81, 63, 10, 0.3);
  --hue-90-800a: rgba(61, 47, 7, 0.3);
  --hue-90-900a: rgba(20, 16, 2, 0.3);
  --hue-120-100a: rgba(254, 254, 236, 0.3);
  --hue-120-200a: rgba(252, 252, 199, 0.3);
  --hue-120-300a: rgba(250, 250, 161, 0.3);
  --hue-120-400a: rgba(242, 242, 29, 0.3);
  --hue-120-500a: rgba(161, 161, 19, 0.3);
  --hue-120-600a: rgba(121, 121, 15, 0.3);
  --hue-120-700a: rgba(81, 81, 10, 0.3);
  --hue-120-800a: rgba(61, 61, 7, 0.3);
  --hue-120-900a: rgba(20, 20, 2, 0.3);
  --hue-150-100a: rgba(250, 254, 236, 0.3);
  --hue-150-200a: rgba(240, 252, 199, 0.3);
  --hue-150-300a: rgba(230, 250, 161, 0.3);
  --hue-150-400a: rgba(194, 242, 29, 0.3);
  --hue-150-500a: rgba(129, 161, 19, 0.3);
  --hue-150-600a: rgba(97, 121, 15, 0.3);
  --hue-150-700a: rgba(65, 81, 10, 0.3);
  --hue-150-800a: rgba(49, 61, 7, 0.3);
  --hue-150-900a: rgba(16, 20, 2, 0.3);
  --hue-180-100a: rgba(244, 254, 236, 0.3);
  --hue-180-200a: rgba(221, 252, 199, 0.3);
  --hue-180-300a: rgba(198, 250, 161, 0.3);
  --hue-180-400a: rgba(117, 242, 29, 0.3);
  --hue-180-500a: rgba(78, 161, 19, 0.3);
  --hue-180-600a: rgba(59, 121, 15, 0.3);
  --hue-180-700a: rgba(39, 81, 10, 0.3);
  --hue-180-800a: rgba(29, 61, 7, 0.3);
  --hue-180-900a: rgba(10, 20, 2, 0.3);
  --hue-210-100a: rgba(236, 254, 249, 0.3);
  --hue-210-200a: rgba(199, 252, 237, 0.3);
  --hue-210-300a: rgba(161, 250, 225, 0.3);
  --hue-210-400a: rgba(29, 242, 184, 0.3);
  --hue-210-500a: rgba(19, 161, 123, 0.3);
  --hue-210-600a: rgba(15, 121, 92, 0.3);
  --hue-210-700a: rgba(10, 81, 61, 0.3);
  --hue-210-800a: rgba(7, 61, 46, 0.3);
  --hue-210-900a: rgba(2, 20, 15, 0.3);
  --hue-240-100a: rgba(236, 241, 254, 0.3);
  --hue-240-200a: rgba(199, 213, 252, 0.3);
  --hue-240-300a: rgba(161, 185, 250, 0.3);
  --hue-240-400a: rgba(29, 87, 242, 0.3);
  --hue-240-500a: rgba(24, 73, 202, 0.3);
  --hue-240-600a: rgba(22, 65, 182, 0.3);
  --hue-240-700a: rgba(17, 51, 141, 0.3);
  --hue-240-800a: rgba(12, 36, 101, 0.3);
  --hue-240-900a: rgba(5, 15, 40, 0.3);
  --hue-270-100a: rgba(243, 236, 254, 0.3);
  --hue-270-200a: rgba(220, 199, 252, 0.3);
  --hue-270-300a: rgba(196, 161, 250, 0.3);
  --hue-270-400a: rgba(114, 29, 242, 0.3);
  --hue-270-500a: rgba(95, 24, 202, 0.3);
  --hue-270-600a: rgba(86, 22, 182, 0.3);
  --hue-270-700a: rgba(67, 17, 141, 0.3);
  --hue-270-800a: rgba(48, 12, 101, 0.3);
  --hue-270-900a: rgba(19, 5, 40, 0.3);
  --hue-300-100a: rgba(254, 236, 254, 0.3);
  --hue-300-200a: rgba(252, 199, 252, 0.3);
  --hue-300-300a: rgba(250, 161, 250, 0.3);
  --hue-300-400a: rgba(242, 29, 242, 0.3);
  --hue-300-500a: rgba(202, 24, 202, 0.3);
  --hue-300-600a: rgba(182, 22, 182, 0.3);
  --hue-300-700a: rgba(141, 17, 141, 0.3);
  --hue-300-800a: rgba(101, 12, 101, 0.3);
  --hue-300-900a: rgba(40, 5, 40, 0.3);
  --hue-330-100a: rgba(254, 236, 242, 0.3);
  --hue-330-200a: rgba(252, 199, 215, 0.3);
  --hue-330-300a: rgba(250, 161, 188, 0.3);
  --hue-330-400a: rgba(242, 29, 95, 0.3);
  --hue-330-500a: rgba(202, 24, 79, 0.3);
  --hue-330-600a: rgba(182, 22, 71, 0.3);
  --hue-330-700a: rgba(141, 17, 55, 0.3);
  --hue-330-800a: rgba(101, 12, 40, 0.3);
  --hue-330-900a: rgba(40, 5, 16, 0.3);
  --complementary-100a: rgba(251, 243, 239, 0.3);
  --complementary-200a: rgba(243, 220, 207, 0.3);
  --complementary-300a: rgba(235, 196, 175, 0.3);
  --complementary-400a: rgba(208, 113, 63, 0.3);
  --complementary-500a: rgba(173, 94, 53, 0.3);
  --complementary-600a: rgba(156, 85, 47, 0.3);
  --complementary-700a: rgba(121, 66, 37, 0.3);
  --complementary-800a: rgba(87, 47, 26, 0.3);
  --complementary-900a: rgba(35, 19, 11, 0.3);
  --analogous1-100a: rgba(236, 240, 254, 0.3);
  --analogous1-200a: rgba(199, 210, 252, 0.3);
  --analogous1-300a: rgba(161, 180, 250, 0.3);
  --analogous1-400a: rgba(29, 74, 242, 0.3);
  --analogous1-500a: rgba(24, 62, 202, 0.3);
  --analogous1-600a: rgba(22, 56, 182, 0.3);
  --analogous1-700a: rgba(17, 43, 141, 0.3);
  --analogous1-800a: rgba(12, 31, 101, 0.3);
  --analogous1-900a: rgba(5, 12, 40, 0.3);
  --analogous2-100a: rgba(246, 238, 254, 0.3);
  --analogous2-200a: rgba(228, 204, 252, 0.3);
  --analogous2-300a: rgba(210, 170, 250, 0.3);
  --analogous2-400a: rgba(147, 50, 242, 0.3);
  --analogous2-500a: rgba(123, 42, 202, 0.3);
  --analogous2-600a: rgba(110, 38, 182, 0.3);
  --analogous2-700a: rgba(86, 29, 141, 0.3);
  --analogous2-800a: rgba(61, 21, 101, 0.3);
  --analogous2-900a: rgba(25, 8, 40, 0.3);
  --analogous3-100a: rgba(251, 238, 251, 0.3);
  --analogous3-200a: rgba(243, 204, 242, 0.3);
  --analogous3-300a: rgba(235, 170, 233, 0.3);
  --analogous3-400a: rgba(208, 50, 203, 0.3);
  --analogous3-500a: rgba(173, 42, 169, 0.3);
  --analogous3-600a: rgba(156, 38, 152, 0.3);
  --analogous3-700a: rgba(121, 29, 118, 0.3);
  --analogous3-800a: rgba(87, 21, 85, 0.3);
  --analogous3-900a: rgba(35, 8, 34, 0.3);
  --split1-100a: rgba(251, 240, 239, 0.3);
  --split1-200a: rgba(243, 209, 207, 0.3);
  --split1-300a: rgba(235, 178, 175, 0.3);
  --split1-400a: rgba(208, 71, 63, 0.3);
  --split1-500a: rgba(173, 59, 53, 0.3);
  --split1-600a: rgba(156, 53, 47, 0.3);
  --split1-700a: rgba(121, 41, 37, 0.3);
  --split1-800a: rgba(87, 30, 26, 0.3);
  --split1-900a: rgba(35, 12, 11, 0.3);
  --split2-100a: rgba(252, 247, 238, 0.3);
  --split2-200a: rgba(246, 231, 204, 0.3);
  --split2-300a: rgba(240, 214, 170, 0.3);
  --split2-400a: rgba(219, 157, 52, 0.3);
  --split2-500a: rgba(146, 105, 35, 0.3);
  --split2-600a: rgba(110, 79, 26, 0.3);
  --split2-700a: rgba(73, 52, 17, 0.3);
  --split2-800a: rgba(55, 39, 13, 0.3);
  --split2-900a: rgba(18, 13, 4, 0.3);
  --square1-100a: rgba(251, 238, 251, 0.3);
  --square1-200a: rgba(243, 204, 242, 0.3);
  --square1-300a: rgba(235, 170, 233, 0.3);
  --square1-400a: rgba(208, 50, 203, 0.3);
  --square1-500a: rgba(173, 42, 169, 0.3);
  --square1-600a: rgba(156, 38, 152, 0.3);
  --square1-700a: rgba(121, 29, 118, 0.3);
  --square1-800a: rgba(87, 21, 85, 0.3);
  --square1-900a: rgba(35, 8, 34, 0.3);
  --square2-100a: rgba(251, 243, 239, 0.3);
  --square2-200a: rgba(243, 220, 207, 0.3);
  --square2-300a: rgba(235, 196, 175, 0.3);
  --square2-400a: rgba(208, 113, 63, 0.3);
  --square2-500a: rgba(173, 94, 53, 0.3);
  --square2-600a: rgba(156, 85, 47, 0.3);
  --square2-700a: rgba(121, 66, 37, 0.3);
  --square2-800a: rgba(87, 47, 26, 0.3);
  --square2-900a: rgba(35, 19, 11, 0.3);
  --square3-100a: rgba(251, 253, 238, 0.3);
  --square3-200a: rgba(242, 250, 204, 0.3);
  --square3-300a: rgba(233, 246, 170, 0.3);
  --square3-400a: rgba(202, 233, 52, 0.3);
  --square3-500a: rgba(135, 155, 35, 0.3);
  --square3-600a: rgba(101, 117, 26, 0.3);
  --square3-700a: rgba(67, 78, 17, 0.3);
  --square3-800a: rgba(51, 58, 13, 0.3);
  --square3-900a: rgba(17, 19, 4, 0.3);
  --triadic1-100a: rgba(251, 238, 243, 0.3);
  --triadic1-200a: rgba(243, 204, 219, 0.3);
  --triadic1-300a: rgba(235, 170, 195, 0.3);
  --triadic1-400a: rgba(208, 50, 110, 0.3);
  --triadic1-500a: rgba(173, 42, 92, 0.3);
  --triadic1-600a: rgba(156, 38, 83, 0.3);
  --triadic1-700a: rgba(121, 29, 64, 0.3);
  --triadic1-800a: rgba(87, 21, 46, 0.3);
  --triadic1-900a: rgba(35, 8, 18, 0.3);
  --triadic2-100a: rgba(252, 251, 238, 0.3);
  --triadic2-200a: rgba(246, 243, 204, 0.3);
  --triadic2-300a: rgba(240, 234, 170, 0.3);
  --triadic2-400a: rgba(219, 205, 52, 0.3);
  --triadic2-500a: rgba(146, 137, 35, 0.3);
  --triadic2-600a: rgba(110, 103, 26, 0.3);
  --triadic2-700a: rgba(73, 68, 17, 0.3);
  --triadic2-800a: rgba(55, 51, 13, 0.3);
  --triadic2-900a: rgba(18, 17, 4, 0.3);
  --tetradic1-100a: rgba(246, 238, 254, 0.3);
  --tetradic1-200a: rgba(228, 204, 252, 0.3);
  --tetradic1-300a: rgba(210, 170, 250, 0.3);
  --tetradic1-400a: rgba(147, 50, 242, 0.3);
  --tetradic1-500a: rgba(123, 42, 202, 0.3);
  --tetradic1-600a: rgba(110, 38, 182, 0.3);
  --tetradic1-700a: rgba(86, 29, 141, 0.3);
  --tetradic1-800a: rgba(61, 21, 101, 0.3);
  --tetradic1-900a: rgba(25, 8, 40, 0.3);
  --tetradic2-100a: rgba(251, 243, 239, 0.3);
  --tetradic2-200a: rgba(243, 220, 207, 0.3);
  --tetradic2-300a: rgba(235, 196, 175, 0.3);
  --tetradic2-400a: rgba(208, 113, 63, 0.3);
  --tetradic2-500a: rgba(173, 94, 53, 0.3);
  --tetradic2-600a: rgba(156, 85, 47, 0.3);
  --tetradic2-700a: rgba(121, 66, 37, 0.3);
  --tetradic2-800a: rgba(87, 47, 26, 0.3);
  --tetradic2-900a: rgba(35, 19, 11, 0.3);
  --tetradic3-100a: rgba(252, 251, 238, 0.3);
  --tetradic3-200a: rgba(246, 243, 204, 0.3);
  --tetradic3-300a: rgba(240, 234, 170, 0.3);
  --tetradic3-400a: rgba(219, 205, 52, 0.3);
  --tetradic3-500a: rgba(146, 137, 35, 0.3);
  --tetradic3-600a: rgba(110, 103, 26, 0.3);
  --tetradic3-700a: rgba(73, 68, 17, 0.3);
  --tetradic3-800a: rgba(55, 51, 13, 0.3);
  --tetradic3-900a: rgba(18, 17, 4, 0.3);
  --success-100a: rgba(244, 254, 236, 0.3);
  --success-200a: rgba(221, 252, 199, 0.3);
  --success-300a: rgba(198, 250, 161, 0.3);
  --success-400a: rgba(117, 242, 29, 0.3);
  --success-500a: rgba(78, 161, 19, 0.3);
  --success-600a: rgba(59, 121, 15, 0.3);
  --success-700a: rgba(39, 81, 10, 0.3);
  --success-800a: rgba(29, 61, 7, 0.3);
  --success-900a: rgba(10, 20, 2, 0.3);
  --danger-100a: rgba(254, 238, 236, 0.3);
  --danger-200a: rgba(252, 203, 199, 0.3);
  --danger-300a: rgba(250, 169, 161, 0.3);
  --danger-400a: rgba(242, 48, 29, 0.3);
  --danger-500a: rgba(202, 40, 24, 0.3);
  --danger-600a: rgba(182, 36, 22, 0.3);
  --danger-700a: rgba(141, 28, 17, 0.3);
  --danger-800a: rgba(101, 20, 12, 0.3);
  --danger-900a: rgba(40, 8, 5, 0.3);
  --warning-100a: rgba(254, 245, 236, 0.3);
  --warning-200a: rgba(252, 225, 199, 0.3);
  --warning-300a: rgba(250, 205, 161, 0.3);
  --warning-400a: rgba(242, 136, 29, 0.3);
  --warning-500a: rgba(161, 91, 19, 0.3);
  --warning-600a: rgba(121, 68, 15, 0.3);
  --warning-700a: rgba(81, 45, 10, 0.3);
  --warning-800a: rgba(61, 34, 7, 0.3);
  --warning-900a: rgba(20, 11, 2, 0.3);
  --info-100a: rgba(236, 241, 254, 0.3);
  --info-200a: rgba(199, 213, 252, 0.3);
  --info-300a: rgba(161, 185, 250, 0.3);
  --info-400a: rgba(29, 87, 242, 0.3);
  --info-500a: rgba(24, 73, 202, 0.3);
  --info-600a: rgba(22, 65, 182, 0.3);
  --info-700a: rgba(17, 51, 141, 0.3);
  --info-800a: rgba(12, 36, 101, 0.3);
  --info-900a: rgba(5, 15, 40, 0.3);
}
