:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #f6fbff;
  --primary-200: #e3f4fe;
  --primary-300: #d0ecfd;
  --primary-400: #8ed0f9;
  --primary-500: #89b5d0;
  --primary-600: #87a8bc;
  --primary-700: #859ba8;
  --primary-800: #83949e;
  --primary-900: #81868a;
  --hue-0-100: #fff7f6;
  --hue-0-200: #fee5e3;
  --hue-0-300: #fdd4d0;
  --hue-0-400: #f9988e;
  --hue-0-500: #e5948c;
  --hue-0-600: #db928b;
  --hue-0-700: #c68e88;
  --hue-0-800: #b28a86;
  --hue-0-900: #948482;
  --hue-30-100: #fff8f6;
  --hue-30-200: #feeae3;
  --hue-30-300: #fddbd0;
  --hue-30-400: #f9a98e;
  --hue-30-500: #e5a28c;
  --hue-30-600: #db9f8b;
  --hue-30-700: #c69888;
  --hue-30-800: #b29186;
  --hue-30-900: #948782;
  --hue-60-100: #fffaf6;
  --hue-60-200: #fef0e3;
  --hue-60-300: #fde6d0;
  --hue-60-400: #f9c48e;
  --hue-60-500: #d0ad89;
  --hue-60-600: #bca287;
  --hue-60-700: #a89685;
  --hue-60-800: #9e9183;
  --hue-60-900: #8a8581;
  --hue-90-100: #fffdf6;
  --hue-90-200: #fef7e3;
  --hue-90-300: #fdf2d0;
  --hue-90-400: #f9de8e;
  --hue-90-500: #d0bf89;
  --hue-90-600: #bcaf87;
  --hue-90-700: #a89f85;
  --hue-90-800: #9e9783;
  --hue-90-900: #8a8881;
  --hue-120-100: #fffff6;
  --hue-120-200: #fefee3;
  --hue-120-300: #fdfdd0;
  --hue-120-400: #f9f98e;
  --hue-120-500: #d0d089;
  --hue-120-600: #bcbc87;
  --hue-120-700: #a8a885;
  --hue-120-800: #9e9e83;
  --hue-120-900: #8a8a81;
  --hue-150-100: #fdfff6;
  --hue-150-200: #f8fee3;
  --hue-150-300: #f3fdd0;
  --hue-150-400: #e1f98e;
  --hue-150-500: #c0d089;
  --hue-150-600: #b0bc87;
  --hue-150-700: #a0a885;
  --hue-150-800: #989e83;
  --hue-150-900: #888a81;
  --hue-180-100: #fafff6;
  --hue-180-200: #eefee3;
  --hue-180-300: #e3fdd0;
  --hue-180-400: #baf98e;
  --hue-180-500: #a7d089;
  --hue-180-600: #9dbc87;
  --hue-180-700: #93a885;
  --hue-180-800: #8e9e83;
  --hue-180-900: #858a81;
  --hue-210-100: #f6fffc;
  --hue-210-200: #e3fef6;
  --hue-210-300: #d0fdf0;
  --hue-210-400: #8ef9dc;
  --hue-210-500: #89d0bd;
  --hue-210-600: #87bcae;
  --hue-210-700: #85a89e;
  --hue-210-800: #839e97;
  --hue-210-900: #818a87;
  --hue-240-100: #f6f8ff;
  --hue-240-200: #e3eafe;
  --hue-240-300: #d0dcfd;
  --hue-240-400: #8eabf9;
  --hue-240-500: #8ca4e5;
  --hue-240-600: #8ba0db;
  --hue-240-700: #8899c6;
  --hue-240-800: #8692b2;
  --hue-240-900: #828794;
  --hue-270-100: #f9f6ff;
  --hue-270-200: #eee3fe;
  --hue-270-300: #e2d0fd;
  --hue-270-400: #b98ef9;
  --hue-270-500: #af8ce5;
  --hue-270-600: #ab8bdb;
  --hue-270-700: #a188c6;
  --hue-270-800: #9886b2;
  --hue-270-900: #898294;
  --hue-300-100: #fff6ff;
  --hue-300-200: #fee3fe;
  --hue-300-300: #fdd0fd;
  --hue-300-400: #f98ef9;
  --hue-300-500: #e58ce5;
  --hue-300-600: #db8bdb;
  --hue-300-700: #c688c6;
  --hue-300-800: #b286b2;
  --hue-300-900: #948294;
  --hue-330-100: #fff6f9;
  --hue-330-200: #fee3eb;
  --hue-330-300: #fdd0de;
  --hue-330-400: #f98eaf;
  --hue-330-500: #e58ca7;
  --hue-330-600: #db8ba3;
  --hue-330-700: #c6889b;
  --hue-330-800: #b28694;
  --hue-330-900: #948288;
  --complementary-100: #fff9f6;
  --complementary-200: #feece3;
  --complementary-300: #fde0d0;
  --complementary-400: #f9b48e;
  --complementary-500: #e5ab8c;
  --complementary-600: #dba78b;
  --complementary-700: #c69e88;
  --complementary-800: #b29586;
  --complementary-900: #948882;
  --analogous1-100: #f6f7ff;
  --analogous1-200: #e3e7fe;
  --analogous1-300: #d0d6fd;
  --analogous1-400: #8e9cf9;
  --analogous1-500: #8c98e5;
  --analogous1-600: #8b95db;
  --analogous1-700: #8890c6;
  --analogous1-800: #868cb2;
  --analogous1-900: #828594;
  --analogous2-100: #fcf6ff;
  --analogous2-200: #f5e3fe;
  --analogous2-300: #edd0fd;
  --analogous2-400: #d48ef9;
  --analogous2-500: #c68ce5;
  --analogous2-600: #bf8bdb;
  --analogous2-700: #b188c6;
  --analogous2-800: #a386b2;
  --analogous2-900: #8e8294;
  --analogous3-100: #fff6fd;
  --analogous3-200: #fee3f8;
  --analogous3-300: #fdd0f3;
  --analogous3-400: #f98ee2;
  --analogous3-500: #e58cd1;
  --analogous3-600: #db8bc9;
  --analogous3-700: #c688b9;
  --analogous3-800: #b286a9;
  --analogous3-900: #948290;
  --split1-100: #fff7f6;
  --split1-200: #fee6e3;
  --split1-300: #fdd5d0;
  --split1-400: #f99b8e;
  --split1-500: #e5968c;
  --split1-600: #db948b;
  --split1-700: #c69088;
  --split1-800: #b28b86;
  --split1-900: #948482;
  --split2-100: #fffbf6;
  --split2-200: #fef3e3;
  --split2-300: #fdebd0;
  --split2-400: #f9ce8e;
  --split2-500: #d0b489;
  --split2-600: #bca787;
  --split2-700: #a89a85;
  --split2-800: #9e9383;
  --split2-900: #8a8681;
  --square1-100: #fff6fd;
  --square1-200: #fee3f8;
  --square1-300: #fdd0f3;
  --square1-400: #f98ee2;
  --square1-500: #e58cd1;
  --square1-600: #db8bc9;
  --square1-700: #c688b9;
  --square1-800: #b286a9;
  --square1-900: #948290;
  --square2-100: #fff9f6;
  --square2-200: #feece3;
  --square2-300: #fde0d0;
  --square2-400: #f9b48e;
  --square2-500: #e5ab8c;
  --square2-600: #dba78b;
  --square2-700: #c69e88;
  --square2-800: #b29586;
  --square2-900: #948882;
  --square3-100: #fefff6;
  --square3-200: #fbfee3;
  --square3-300: #f9fdd0;
  --square3-400: #eff98e;
  --square3-500: #cad089;
  --square3-600: #b8bc87;
  --square3-700: #a5a885;
  --square3-800: #9c9e83;
  --square3-900: #898a81;
  --triadic1-100: #fff6f8;
  --triadic1-200: #fee3ea;
  --triadic1-300: #fdd0dc;
  --triadic1-400: #f98eaa;
  --triadic1-500: #e58ca3;
  --triadic1-600: #db8ba0;
  --triadic1-700: #c68899;
  --triadic1-800: #b28691;
  --triadic1-900: #948287;
  --triadic2-100: #fffdf6;
  --triadic2-200: #fefae3;
  --triadic2-300: #fdf6d0;
  --triadic2-400: #f9e98e;
  --triadic2-500: #d0c689;
  --triadic2-600: #bcb487;
  --triadic2-700: #a8a385;
  --triadic2-800: #9e9a83;
  --triadic2-900: #8a8981;
  --tetradic1-100: #fcf6ff;
  --tetradic1-200: #f5e3fe;
  --tetradic1-300: #edd0fd;
  --tetradic1-400: #d48ef9;
  --tetradic1-500: #c68ce5;
  --tetradic1-600: #bf8bdb;
  --tetradic1-700: #b188c6;
  --tetradic1-800: #a386b2;
  --tetradic1-900: #8e8294;
  --tetradic2-100: #fff9f6;
  --tetradic2-200: #feece3;
  --tetradic2-300: #fde0d0;
  --tetradic2-400: #f9b48e;
  --tetradic2-500: #e5ab8c;
  --tetradic2-600: #dba78b;
  --tetradic2-700: #c69e88;
  --tetradic2-800: #b29586;
  --tetradic2-900: #948882;
  --tetradic3-100: #fffdf6;
  --tetradic3-200: #fefae3;
  --tetradic3-300: #fdf6d0;
  --tetradic3-400: #f9e98e;
  --tetradic3-500: #d0c689;
  --tetradic3-600: #bcb487;
  --tetradic3-700: #a8a385;
  --tetradic3-800: #9e9a83;
  --tetradic3-900: #8a8981;
  --success-100: #fafff6;
  --success-200: #eefee3;
  --success-300: #e3fdd0;
  --success-400: #baf98e;
  --success-500: #a7d089;
  --success-600: #9dbc87;
  --success-700: #93a885;
  --success-800: #8e9e83;
  --success-900: #858a81;
  --danger-100: #fff7f6;
  --danger-200: #fee5e3;
  --danger-300: #fdd4d0;
  --danger-400: #f9988e;
  --danger-500: #e5948c;
  --danger-600: #db928b;
  --danger-700: #c68e88;
  --danger-800: #b28a86;
  --danger-900: #948482;
  --warning-100: #fffaf6;
  --warning-200: #fef0e3;
  --warning-300: #fde6d0;
  --warning-400: #f9c48e;
  --warning-500: #d0ad89;
  --warning-600: #bca287;
  --warning-700: #a89685;
  --warning-800: #9e9183;
  --warning-900: #8a8581;
  --info-100: #f6f8ff;
  --info-200: #e3eafe;
  --info-300: #d0dcfd;
  --info-400: #8eabf9;
  --info-500: #8ca4e5;
  --info-600: #8ba0db;
  --info-700: #8899c6;
  --info-800: #8692b2;
  --info-900: #828794;
  --primary-100n: #f0f6fa;
  --primary-200n: #d3e5f0;
  --primary-300n: #b5d3e6;
  --primary-400n: #4e95c1;
  --primary-500n: #346380;
  --primary-600n: #274b61;
  --primary-700n: #1a3241;
  --primary-800n: #132531;
  --primary-900n: #060c10;
  --hue-0-100n: #faf1f0;
  --hue-0-200n: #f0d5d3;
  --hue-0-300n: #e6bab5;
  --hue-0-400n: #c1584e;
  --hue-0-500n: #a14a41;
  --hue-0-600n: #91423b;
  --hue-0-700n: #70332e;
  --hue-0-800n: #512520;
  --hue-0-900n: #200f0d;
  --hue-30-100n: #faf3f0;
  --hue-30-200n: #f0dad3;
  --hue-30-300n: #e6c1b5;
  --hue-30-400n: #c16b4e;
  --hue-30-500n: #a15941;
  --hue-30-600n: #91503b;
  --hue-30-700n: #703e2e;
  --hue-30-800n: #512c20;
  --hue-30-900n: #20120d;
  --hue-60-100n: #faf5f0;
  --hue-60-200n: #f0e1d3;
  --hue-60-300n: #e6cdb5;
  --hue-60-400n: #d68839;
  --hue-60-500n: #8f5b25;
  --hue-60-600n: #614427;
  --hue-60-700n: #412d1a;
  --hue-60-800n: #312213;
  --hue-60-900n: #100b06;
  --hue-90-100n: #fcf9ee;
  --hue-90-200n: #f5ebce;
  --hue-90-300n: #eedead;
  --hue-90-400n: #d6af39;
  --hue-90-500n: #8f7525;
  --hue-90-600n: #6b581d;
  --hue-90-700n: #483a13;
  --hue-90-800n: #362c0e;
  --hue-90-900n: #120f04;
  --hue-120-100n: #fcfcee;
  --hue-120-200n: #f5f5ce;
  --hue-120-300n: #eeeead;
  --hue-120-400n: #d6d639;
  --hue-120-500n: #8f8f25;
  --hue-120-600n: #6b6b1d;
  --hue-120-700n: #484813;
  --hue-120-800n: #36360e;
  --hue-120-900n: #121204;
  --hue-150-100n: #f9fcee;
  --hue-150-200n: #ecf5ce;
  --hue-150-300n: #e0eead;
  --hue-150-400n: #b3d639;
  --hue-150-500n: #778f25;
  --hue-150-600n: #596b1d;
  --hue-150-700n: #3c4813;
  --hue-150-800n: #2d360e;
  --hue-150-900n: #0f1204;
  --hue-180-100n: #f4faf0;
  --hue-180-200n: #dff0d3;
  --hue-180-300n: #c9e6b5;
  --hue-180-400n: #7ec14e;
  --hue-180-500n: #548034;
  --hue-180-600n: #3f6127;
  --hue-180-700n: #2a411a;
  --hue-180-800n: #1f3113;
  --hue-180-900n: #0a1006;
  --hue-210-100n: #f0faf7;
  --hue-210-200n: #d3f0e8;
  --hue-210-300n: #b5e6d8;
  --hue-210-400n: #4ec1a2;
  --hue-210-500n: #34806c;
  --hue-210-600n: #276151;
  --hue-210-700n: #1a4136;
  --hue-210-800n: #133128;
  --hue-210-900n: #06100d;
  --hue-240-100n: #f2f3f8;
  --hue-240-200n: #d7ddec;
  --hue-240-300n: #bdc6de;
  --hue-240-400n: #5f75b0;
  --hue-240-500n: #4f6293;
  --hue-240-600n: #485884;
  --hue-240-700n: #374467;
  --hue-240-800n: #283149;
  --hue-240-900n: #10141d;
  --hue-270-100n: #f4f2f8;
  --hue-270-200n: #dfd7ec;
  --hue-270-300n: #cabdde;
  --hue-270-400n: #7f5fb0;
  --hue-270-500n: #6a4f93;
  --hue-270-600n: #604884;
  --hue-270-700n: #4a3767;
  --hue-270-800n: #352849;
  --hue-270-900n: #15101d;
  --hue-300-100n: #f9f1f9;
  --hue-300-200n: #eed5ee;
  --hue-300-300n: #e3b8e3;
  --hue-300-400n: #bb54bb;
  --hue-300-500n: #9c469c;
  --hue-300-600n: #8c408c;
  --hue-300-700n: #6d316d;
  --hue-300-800n: #4e234e;
  --hue-300-900n: #1f0e1f;
  --hue-330-100n: #faf0f3;
  --hue-330-200n: #f0d3dc;
  --hue-330-300n: #e6b5c4;
  --hue-330-400n: #c14e72;
  --hue-330-500n: #a1415f;
  --hue-330-600n: #913b55;
  --hue-330-700n: #702e42;
  --hue-330-800n: #512030;
  --hue-330-900n: #200d13;
  --complementary-100n: #faf3f0;
  --complementary-200n: #f0ddd3;
  --complementary-300n: #e6c6b5;
  --complementary-400n: #c1764e;
  --complementary-500n: #a16341;
  --complementary-600n: #91593b;
  --complementary-700n: #70452e;
  --complementary-800n: #513120;
  --complementary-900n: #20140d;
  --analogous1-100n: #f2f3f8;
  --analogous1-200n: #d7daec;
  --analogous1-300n: #bdc1de;
  --analogous1-400n: #5f6ab0;
  --analogous1-500n: #4f5893;
  --analogous1-600n: #485084;
  --analogous1-700n: #373e67;
  --analogous1-800n: #282c49;
  --analogous1-900n: #10121d;
  --analogous2-100n: #f6f1f9;
  --analogous2-200n: #e6d5ee;
  --analogous2-300n: #d4b8e3;
  --analogous2-400n: #9854bb;
  --analogous2-500n: #7e469c;
  --analogous2-600n: #72408c;
  --analogous2-700n: #59316d;
  --analogous2-800n: #3f234e;
  --analogous2-900n: #190e1f;
  --analogous3-100n: #f9f1f7;
  --analogous3-200n: #eed5e8;
  --analogous3-300n: #e3b8d9;
  --analogous3-400n: #bb54a5;
  --analogous3-500n: #9c4689;
  --analogous3-600n: #8c407c;
  --analogous3-700n: #6d3160;
  --analogous3-800n: #4e2345;
  --analogous3-900n: #1f0e1c;
  --split1-100n: #faf1f0;
  --split1-200n: #f0d6d3;
  --split1-300n: #e6bbb5;
  --split1-400n: #c15b4e;
  --split1-500n: #a14c41;
  --split1-600n: #91453b;
  --split1-700n: #70362e;
  --split1-800n: #512620;
  --split1-900n: #200f0d;
  --split2-100n: #fcf6ee;
  --split2-200n: #f5e6ce;
  --split2-300n: #eed4ad;
  --split2-400n: #d69739;
  --split2-500n: #8f6525;
  --split2-600n: #6b4c1d;
  --split2-700n: #483213;
  --split2-800n: #36260e;
  --split2-900n: #120c04;
  --square1-100n: #f9f1f7;
  --square1-200n: #eed5e8;
  --square1-300n: #e3b8d9;
  --square1-400n: #bb54a5;
  --square1-500n: #9c4689;
  --square1-600n: #8c407c;
  --square1-700n: #6d3160;
  --square1-800n: #4e2345;
  --square1-900n: #1f0e1c;
  --square2-100n: #faf3f0;
  --square2-200n: #f0ddd3;
  --square2-300n: #e6c6b5;
  --square2-400n: #c1764e;
  --square2-500n: #a16341;
  --square2-600n: #91593b;
  --square2-700n: #70452e;
  --square2-800n: #513120;
  --square2-900n: #20140d;
  --square3-100n: #fafcee;
  --square3-200n: #f1f5ce;
  --square3-300n: #e9eead;
  --square3-400n: #c8d639;
  --square3-500n: #868f25;
  --square3-600n: #656b1d;
  --square3-700n: #434813;
  --square3-800n: #32360e;
  --square3-900n: #111204;
  --triadic1-100n: #faf0f3;
  --triadic1-200n: #f0d3db;
  --triadic1-300n: #e6b5c2;
  --triadic1-400n: #c14e6c;
  --triadic1-500n: #a1415a;
  --triadic1-600n: #913b51;
  --triadic1-700n: #702e3f;
  --triadic1-800n: #51202d;
  --triadic1-900n: #200d12;
  --triadic2-100n: #fcf9ee;
  --triadic2-200n: #f5efce;
  --triadic2-300n: #eee4ad;
  --triadic2-400n: #d6bf39;
  --triadic2-500n: #8f7f25;
  --triadic2-600n: #6b5f1d;
  --triadic2-700n: #484013;
  --triadic2-800n: #36300e;
  --triadic2-900n: #121004;
  --tetradic1-100n: #f6f1f9;
  --tetradic1-200n: #e6d5ee;
  --tetradic1-300n: #d4b8e3;
  --tetradic1-400n: #9854bb;
  --tetradic1-500n: #7e469c;
  --tetradic1-600n: #72408c;
  --tetradic1-700n: #59316d;
  --tetradic1-800n: #3f234e;
  --tetradic1-900n: #190e1f;
  --tetradic2-100n: #faf3f0;
  --tetradic2-200n: #f0ddd3;
  --tetradic2-300n: #e6c6b5;
  --tetradic2-400n: #c1764e;
  --tetradic2-500n: #a16341;
  --tetradic2-600n: #91593b;
  --tetradic2-700n: #70452e;
  --tetradic2-800n: #513120;
  --tetradic2-900n: #20140d;
  --tetradic3-100n: #fcf9ee;
  --tetradic3-200n: #f5efce;
  --tetradic3-300n: #eee4ad;
  --tetradic3-400n: #d6bf39;
  --tetradic3-500n: #8f7f25;
  --tetradic3-600n: #6b5f1d;
  --tetradic3-700n: #484013;
  --tetradic3-800n: #36300e;
  --tetradic3-900n: #121004;
  --success-100n: #f4faf0;
  --success-200n: #dff0d3;
  --success-300n: #c9e6b5;
  --success-400n: #7ec14e;
  --success-500n: #548034;
  --success-600n: #3f6127;
  --success-700n: #2a411a;
  --success-800n: #1f3113;
  --success-900n: #0a1006;
  --danger-100n: #faf1f0;
  --danger-200n: #f0d5d3;
  --danger-300n: #e6bab5;
  --danger-400n: #c1584e;
  --danger-500n: #a14a41;
  --danger-600n: #91423b;
  --danger-700n: #70332e;
  --danger-800n: #512520;
  --danger-900n: #200f0d;
  --warning-100n: #faf5f0;
  --warning-200n: #f0e1d3;
  --warning-300n: #e6cdb5;
  --warning-400n: #d68839;
  --warning-500n: #8f5b25;
  --warning-600n: #614427;
  --warning-700n: #412d1a;
  --warning-800n: #312213;
  --warning-900n: #100b06;
  --info-100n: #f2f3f8;
  --info-200n: #d7ddec;
  --info-300n: #bdc6de;
  --info-400n: #5f75b0;
  --info-500n: #4f6293;
  --info-600n: #485884;
  --info-700n: #374467;
  --info-800n: #283149;
  --info-900n: #10141d;
  --primary-100a: rgba(236, 247, 254, 0.3);
  --primary-200a: rgba(199, 232, 252, 0.3);
  --primary-300a: rgba(161, 216, 250, 0.3);
  --primary-400a: rgba(29, 161, 242, 0.3);
  --primary-500a: rgba(19, 107, 161, 0.3);
  --primary-600a: rgba(15, 81, 121, 0.3);
  --primary-700a: rgba(10, 54, 81, 0.3);
  --primary-800a: rgba(7, 40, 61, 0.3);
  --primary-900a: rgba(2, 13, 20, 0.3);
  --hue-0-100a: rgba(254, 238, 236, 0.3);
  --hue-0-200a: rgba(252, 203, 199, 0.3);
  --hue-0-300a: rgba(250, 169, 161, 0.3);
  --hue-0-400a: rgba(242, 48, 29, 0.3);
  --hue-0-500a: rgba(202, 40, 24, 0.3);
  --hue-0-600a: rgba(182, 36, 22, 0.3);
  --hue-0-700a: rgba(141, 28, 17, 0.3);
  --hue-0-800a: rgba(101, 20, 12, 0.3);
  --hue-0-900a: rgba(40, 8, 5, 0.3);
  --hue-30-100a: rgba(254, 241, 236, 0.3);
  --hue-30-200a: rgba(252, 212, 199, 0.3);
  --hue-30-300a: rgba(250, 183, 161, 0.3);
  --hue-30-400a: rgba(242, 82, 29, 0.3);
  --hue-30-500a: rgba(202, 68, 24, 0.3);
  --hue-30-600a: rgba(182, 62, 22, 0.3);
  --hue-30-700a: rgba(141, 48, 17, 0.3);
  --hue-30-800a: rgba(101, 34, 12, 0.3);
  --hue-30-900a: rgba(40, 14, 5, 0.3);
  --hue-60-100a: rgba(254, 245, 236, 0.3);
  --hue-60-200a: rgba(252, 225, 199, 0.3);
  --hue-60-300a: rgba(250, 205, 161, 0.3);
  --hue-60-400a: rgba(242, 136, 29, 0.3);
  --hue-60-500a: rgba(161, 91, 19, 0.3);
  --hue-60-600a: rgba(121, 68, 15, 0.3);
  --hue-60-700a: rgba(81, 45, 10, 0.3);
  --hue-60-800a: rgba(61, 34, 7, 0.3);
  --hue-60-900a: rgba(20, 11, 2, 0.3);
  --hue-90-100a: rgba(254, 250, 236, 0.3);
  --hue-90-200a: rgba(252, 239, 199, 0.3);
  --hue-90-300a: rgba(250, 228, 161, 0.3);
  --hue-90-400a: rgba(242, 189, 29, 0.3);
  --hue-90-500a: rgba(161, 126, 19, 0.3);
  --hue-90-600a: rgba(121, 95, 15, 0.3);
  --hue-90-700a: rgba(81, 63, 10, 0.3);
  --hue-90-800a: rgba(61, 47, 7, 0.3);
  --hue-90-900a: rgba(20, 16, 2, 0.3);
  --hue-120-100a: rgba(254, 254, 236, 0.3);
  --hue-120-200a: rgba(252, 252, 199, 0.3);
  --hue-120-300a: rgba(250, 250, 161, 0.3);
  --hue-120-400a: rgba(242, 242, 29, 0.3);
  --hue-120-500a: rgba(161, 161, 19, 0.3);
  --hue-120-600a: rgba(121, 121, 15, 0.3);
  --hue-120-700a: rgba(81, 81, 10, 0.3);
  --hue-120-800a: rgba(61, 61, 7, 0.3);
  --hue-120-900a: rgba(20, 20, 2, 0.3);
  --hue-150-100a: rgba(250, 254, 236, 0.3);
  --hue-150-200a: rgba(240, 252, 199, 0.3);
  --hue-150-300a: rgba(230, 250, 161, 0.3);
  --hue-150-400a: rgba(194, 242, 29, 0.3);
  --hue-150-500a: rgba(129, 161, 19, 0.3);
  --hue-150-600a: rgba(97, 121, 15, 0.3);
  --hue-150-700a: rgba(65, 81, 10, 0.3);
  --hue-150-800a: rgba(49, 61, 7, 0.3);
  --hue-150-900a: rgba(16, 20, 2, 0.3);
  --hue-180-100a: rgba(244, 254, 236, 0.3);
  --hue-180-200a: rgba(221, 252, 199, 0.3);
  --hue-180-300a: rgba(198, 250, 161, 0.3);
  --hue-180-400a: rgba(117, 242, 29, 0.3);
  --hue-180-500a: rgba(78, 161, 19, 0.3);
  --hue-180-600a: rgba(59, 121, 15, 0.3);
  --hue-180-700a: rgba(39, 81, 10, 0.3);
  --hue-180-800a: rgba(29, 61, 7, 0.3);
  --hue-180-900a: rgba(10, 20, 2, 0.3);
  --hue-210-100a: rgba(236, 254, 249, 0.3);
  --hue-210-200a: rgba(199, 252, 237, 0.3);
  --hue-210-300a: rgba(161, 250, 225, 0.3);
  --hue-210-400a: rgba(29, 242, 184, 0.3);
  --hue-210-500a: rgba(19, 161, 123, 0.3);
  --hue-210-600a: rgba(15, 121, 92, 0.3);
  --hue-210-700a: rgba(10, 81, 61, 0.3);
  --hue-210-800a: rgba(7, 61, 46, 0.3);
  --hue-210-900a: rgba(2, 20, 15, 0.3);
  --hue-240-100a: rgba(236, 241, 254, 0.3);
  --hue-240-200a: rgba(199, 213, 252, 0.3);
  --hue-240-300a: rgba(161, 185, 250, 0.3);
  --hue-240-400a: rgba(29, 87, 242, 0.3);
  --hue-240-500a: rgba(24, 73, 202, 0.3);
  --hue-240-600a: rgba(22, 65, 182, 0.3);
  --hue-240-700a: rgba(17, 51, 141, 0.3);
  --hue-240-800a: rgba(12, 36, 101, 0.3);
  --hue-240-900a: rgba(5, 15, 40, 0.3);
  --hue-270-100a: rgba(243, 236, 254, 0.3);
  --hue-270-200a: rgba(220, 199, 252, 0.3);
  --hue-270-300a: rgba(196, 161, 250, 0.3);
  --hue-270-400a: rgba(114, 29, 242, 0.3);
  --hue-270-500a: rgba(95, 24, 202, 0.3);
  --hue-270-600a: rgba(86, 22, 182, 0.3);
  --hue-270-700a: rgba(67, 17, 141, 0.3);
  --hue-270-800a: rgba(48, 12, 101, 0.3);
  --hue-270-900a: rgba(19, 5, 40, 0.3);
  --hue-300-100a: rgba(254, 236, 254, 0.3);
  --hue-300-200a: rgba(252, 199, 252, 0.3);
  --hue-300-300a: rgba(250, 161, 250, 0.3);
  --hue-300-400a: rgba(242, 29, 242, 0.3);
  --hue-300-500a: rgba(202, 24, 202, 0.3);
  --hue-300-600a: rgba(182, 22, 182, 0.3);
  --hue-300-700a: rgba(141, 17, 141, 0.3);
  --hue-300-800a: rgba(101, 12, 101, 0.3);
  --hue-300-900a: rgba(40, 5, 40, 0.3);
  --hue-330-100a: rgba(254, 236, 242, 0.3);
  --hue-330-200a: rgba(252, 199, 215, 0.3);
  --hue-330-300a: rgba(250, 161, 188, 0.3);
  --hue-330-400a: rgba(242, 29, 95, 0.3);
  --hue-330-500a: rgba(202, 24, 79, 0.3);
  --hue-330-600a: rgba(182, 22, 71, 0.3);
  --hue-330-700a: rgba(141, 17, 55, 0.3);
  --hue-330-800a: rgba(101, 12, 40, 0.3);
  --hue-330-900a: rgba(40, 5, 16, 0.3);
  --complementary-100a: rgba(254, 242, 236, 0.3);
  --complementary-200a: rgba(252, 217, 199, 0.3);
  --complementary-300a: rgba(250, 192, 161, 0.3);
  --complementary-400a: rgba(242, 104, 29, 0.3);
  --complementary-500a: rgba(202, 87, 24, 0.3);
  --complementary-600a: rgba(182, 78, 22, 0.3);
  --complementary-700a: rgba(141, 61, 17, 0.3);
  --complementary-800a: rgba(101, 43, 12, 0.3);
  --complementary-900a: rgba(40, 17, 5, 0.3);
  --analogous1-100a: rgba(236, 239, 254, 0.3);
  --analogous1-200a: rgba(199, 206, 252, 0.3);
  --analogous1-300a: rgba(161, 173, 250, 0.3);
  --analogous1-400a: rgba(29, 57, 242, 0.3);
  --analogous1-500a: rgba(24, 48, 202, 0.3);
  --analogous1-600a: rgba(22, 43, 182, 0.3);
  --analogous1-700a: rgba(17, 33, 141, 0.3);
  --analogous1-800a: rgba(12, 24, 101, 0.3);
  --analogous1-900a: rgba(5, 10, 40, 0.3);
  --analogous2-100a: rgba(248, 236, 254, 0.3);
  --analogous2-200a: rgba(234, 199, 252, 0.3);
  --analogous2-300a: rgba(219, 161, 250, 0.3);
  --analogous2-400a: rgba(169, 29, 242, 0.3);
  --analogous2-500a: rgba(141, 24, 202, 0.3);
  --analogous2-600a: rgba(127, 22, 182, 0.3);
  --analogous2-700a: rgba(99, 17, 141, 0.3);
  --analogous2-800a: rgba(70, 12, 101, 0.3);
  --analogous2-900a: rgba(28, 5, 40, 0.3);
  --analogous3-100a: rgba(254, 236, 250, 0.3);
  --analogous3-200a: rgba(252, 199, 240, 0.3);
  --analogous3-300a: rgba(250, 161, 230, 0.3);
  --analogous3-400a: rgba(242, 29, 196, 0.3);
  --analogous3-500a: rgba(202, 24, 163, 0.3);
  --analogous3-600a: rgba(182, 22, 147, 0.3);
  --analogous3-700a: rgba(141, 17, 114, 0.3);
  --analogous3-800a: rgba(101, 12, 82, 0.3);
  --analogous3-900a: rgba(40, 5, 33, 0.3);
  --split1-100a: rgba(254, 238, 236, 0.3);
  --split1-200a: rgba(252, 205, 199, 0.3);
  --split1-300a: rgba(250, 171, 161, 0.3);
  --split1-400a: rgba(242, 54, 29, 0.3);
  --split1-500a: rgba(202, 45, 24, 0.3);
  --split1-600a: rgba(182, 41, 22, 0.3);
  --split1-700a: rgba(141, 32, 17, 0.3);
  --split1-800a: rgba(101, 23, 12, 0.3);
  --split1-900a: rgba(40, 9, 5, 0.3);
  --split2-100a: rgba(254, 247, 236, 0.3);
  --split2-200a: rgba(252, 231, 199, 0.3);
  --split2-300a: rgba(250, 214, 161, 0.3);
  --split2-400a: rgba(242, 157, 29, 0.3);
  --split2-500a: rgba(161, 105, 19, 0.3);
  --split2-600a: rgba(121, 79, 15, 0.3);
  --split2-700a: rgba(81, 52, 10, 0.3);
  --split2-800a: rgba(61, 39, 7, 0.3);
  --split2-900a: rgba(20, 13, 2, 0.3);
  --square1-100a: rgba(254, 236, 250, 0.3);
  --square1-200a: rgba(252, 199, 240, 0.3);
  --square1-300a: rgba(250, 161, 230, 0.3);
  --square1-400a: rgba(242, 29, 196, 0.3);
  --square1-500a: rgba(202, 24, 163, 0.3);
  --square1-600a: rgba(182, 22, 147, 0.3);
  --square1-700a: rgba(141, 17, 114, 0.3);
  --square1-800a: rgba(101, 12, 82, 0.3);
  --square1-900a: rgba(40, 5, 33, 0.3);
  --square2-100a: rgba(254, 242, 236, 0.3);
  --square2-200a: rgba(252, 217, 199, 0.3);
  --square2-300a: rgba(250, 192, 161, 0.3);
  --square2-400a: rgba(242, 104, 29, 0.3);
  --square2-500a: rgba(202, 87, 24, 0.3);
  --square2-600a: rgba(182, 78, 22, 0.3);
  --square2-700a: rgba(141, 61, 17, 0.3);
  --square2-800a: rgba(101, 43, 12, 0.3);
  --square2-900a: rgba(40, 17, 5, 0.3);
  --square3-100a: rgba(252, 254, 236, 0.3);
  --square3-200a: rgba(247, 252, 199, 0.3);
  --square3-300a: rgba(242, 250, 161, 0.3);
  --square3-400a: rgba(223, 242, 29, 0.3);
  --square3-500a: rgba(149, 161, 19, 0.3);
  --square3-600a: rgba(112, 121, 15, 0.3);
  --square3-700a: rgba(74, 81, 10, 0.3);
  --square3-800a: rgba(56, 61, 7, 0.3);
  --square3-900a: rgba(19, 20, 2, 0.3);
  --triadic1-100a: rgba(254, 236, 241, 0.3);
  --triadic1-200a: rgba(252, 199, 213, 0.3);
  --triadic1-300a: rgba(250, 161, 184, 0.3);
  --triadic1-400a: rgba(242, 29, 85, 0.3);
  --triadic1-500a: rgba(202, 24, 71, 0.3);
  --triadic1-600a: rgba(182, 22, 64, 0.3);
  --triadic1-700a: rgba(141, 17, 50, 0.3);
  --triadic1-800a: rgba(101, 12, 35, 0.3);
  --triadic1-900a: rgba(40, 5, 14, 0.3);
  --triadic2-100a: rgba(254, 251, 236, 0.3);
  --triadic2-200a: rgba(252, 244, 199, 0.3);
  --triadic2-300a: rgba(250, 236, 161, 0.3);
  --triadic2-400a: rgba(242, 210, 29, 0.3);
  --triadic2-500a: rgba(161, 140, 19, 0.3);
  --triadic2-600a: rgba(121, 105, 15, 0.3);
  --triadic2-700a: rgba(81, 70, 10, 0.3);
  --triadic2-800a: rgba(61, 53, 7, 0.3);
  --triadic2-900a: rgba(20, 18, 2, 0.3);
  --tetradic1-100a: rgba(248, 236, 254, 0.3);
  --tetradic1-200a: rgba(234, 199, 252, 0.3);
  --tetradic1-300a: rgba(219, 161, 250, 0.3);
  --tetradic1-400a: rgba(169, 29, 242, 0.3);
  --tetradic1-500a: rgba(141, 24, 202, 0.3);
  --tetradic1-600a: rgba(127, 22, 182, 0.3);
  --tetradic1-700a: rgba(99, 17, 141, 0.3);
  --tetradic1-800a: rgba(70, 12, 101, 0.3);
  --tetradic1-900a: rgba(28, 5, 40, 0.3);
  --tetradic2-100a: rgba(254, 242, 236, 0.3);
  --tetradic2-200a: rgba(252, 217, 199, 0.3);
  --tetradic2-300a: rgba(250, 192, 161, 0.3);
  --tetradic2-400a: rgba(242, 104, 29, 0.3);
  --tetradic2-500a: rgba(202, 87, 24, 0.3);
  --tetradic2-600a: rgba(182, 78, 22, 0.3);
  --tetradic2-700a: rgba(141, 61, 17, 0.3);
  --tetradic2-800a: rgba(101, 43, 12, 0.3);
  --tetradic2-900a: rgba(40, 17, 5, 0.3);
  --tetradic3-100a: rgba(254, 251, 236, 0.3);
  --tetradic3-200a: rgba(252, 244, 199, 0.3);
  --tetradic3-300a: rgba(250, 236, 161, 0.3);
  --tetradic3-400a: rgba(242, 210, 29, 0.3);
  --tetradic3-500a: rgba(161, 140, 19, 0.3);
  --tetradic3-600a: rgba(121, 105, 15, 0.3);
  --tetradic3-700a: rgba(81, 70, 10, 0.3);
  --tetradic3-800a: rgba(61, 53, 7, 0.3);
  --tetradic3-900a: rgba(20, 18, 2, 0.3);
  --success-100a: rgba(244, 254, 236, 0.3);
  --success-200a: rgba(221, 252, 199, 0.3);
  --success-300a: rgba(198, 250, 161, 0.3);
  --success-400a: rgba(117, 242, 29, 0.3);
  --success-500a: rgba(78, 161, 19, 0.3);
  --success-600a: rgba(59, 121, 15, 0.3);
  --success-700a: rgba(39, 81, 10, 0.3);
  --success-800a: rgba(29, 61, 7, 0.3);
  --success-900a: rgba(10, 20, 2, 0.3);
  --danger-100a: rgba(254, 238, 236, 0.3);
  --danger-200a: rgba(252, 203, 199, 0.3);
  --danger-300a: rgba(250, 169, 161, 0.3);
  --danger-400a: rgba(242, 48, 29, 0.3);
  --danger-500a: rgba(202, 40, 24, 0.3);
  --danger-600a: rgba(182, 36, 22, 0.3);
  --danger-700a: rgba(141, 28, 17, 0.3);
  --danger-800a: rgba(101, 20, 12, 0.3);
  --danger-900a: rgba(40, 8, 5, 0.3);
  --warning-100a: rgba(254, 245, 236, 0.3);
  --warning-200a: rgba(252, 225, 199, 0.3);
  --warning-300a: rgba(250, 205, 161, 0.3);
  --warning-400a: rgba(242, 136, 29, 0.3);
  --warning-500a: rgba(161, 91, 19, 0.3);
  --warning-600a: rgba(121, 68, 15, 0.3);
  --warning-700a: rgba(81, 45, 10, 0.3);
  --warning-800a: rgba(61, 34, 7, 0.3);
  --warning-900a: rgba(20, 11, 2, 0.3);
  --info-100a: rgba(236, 241, 254, 0.3);
  --info-200a: rgba(199, 213, 252, 0.3);
  --info-300a: rgba(161, 185, 250, 0.3);
  --info-400a: rgba(29, 87, 242, 0.3);
  --info-500a: rgba(24, 73, 202, 0.3);
  --info-600a: rgba(22, 65, 182, 0.3);
  --info-700a: rgba(17, 51, 141, 0.3);
  --info-800a: rgba(12, 36, 101, 0.3);
  --info-900a: rgba(5, 15, 40, 0.3);
}
