:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #f8fbfd;
  --primary-200: #e9f2f8;
  --primary-300: #dae9f3;
  --primary-400: #a7cae0;
  --primary-500: #9ab1c0;
  --primary-600: #93a5b0;
  --primary-700: #8d99a0;
  --primary-800: #899298;
  --primary-900: #838688;
  --hue-0-100: #fdf8f8;
  --hue-0-200: #f8e9e9;
  --hue-0-300: #f3dada;
  --hue-0-400: #e0a7a7;
  --hue-0-500: #d0a0a0;
  --hue-0-600: #c89d9d;
  --hue-0-700: #b89797;
  --hue-0-800: #a89090;
  --hue-0-900: #908686;
  --hue-30-100: #fdfaf8;
  --hue-30-200: #f8f0e9;
  --hue-30-300: #f3e6da;
  --hue-30-400: #e0c4a7;
  --hue-30-500: #c7ad92;
  --hue-30-600: #b0a293;
  --hue-30-700: #a0968d;
  --hue-30-800: #989189;
  --hue-30-900: #888583;
  --hue-60-100: #fefef7;
  --hue-60-200: #fafae7;
  --hue-60-300: #f7f7d6;
  --hue-60-400: #ebeb9c;
  --hue-60-500: #c7c792;
  --hue-60-600: #b5b58e;
  --hue-60-700: #a4a489;
  --hue-60-800: #9b9b87;
  --hue-60-900: #898982;
  --hue-90-100: #fafdf8;
  --hue-90-200: #f0f8e9;
  --hue-90-300: #e6f3da;
  --hue-90-400: #c4e0a7;
  --hue-90-500: #adc09a;
  --hue-90-600: #a2b093;
  --hue-90-700: #96a08d;
  --hue-90-800: #919889;
  --hue-90-900: #858883;
  --hue-120-100: #f8fdf8;
  --hue-120-200: #e9f8e9;
  --hue-120-300: #daf3da;
  --hue-120-400: #a7e0a7;
  --hue-120-500: #9ac09a;
  --hue-120-600: #93b093;
  --hue-120-700: #8da08d;
  --hue-120-800: #899889;
  --hue-120-900: #838883;
  --hue-150-100: #f8fdfa;
  --hue-150-200: #e9f8f0;
  --hue-150-300: #daf3e6;
  --hue-150-400: #a7e0c4;
  --hue-150-500: #9ac0ad;
  --hue-150-600: #93b0a2;
  --hue-150-700: #8da096;
  --hue-150-800: #899891;
  --hue-150-900: #838885;
  --hue-180-100: #f8fdfd;
  --hue-180-200: #e9f8f8;
  --hue-180-300: #daf3f3;
  --hue-180-400: #a7e0e0;
  --hue-180-500: #9ac0c0;
  --hue-180-600: #93b0b0;
  --hue-180-700: #8da0a0;
  --hue-180-800: #899898;
  --hue-180-900: #838888;
  --hue-210-100: #f8fafd;
  --hue-210-200: #ebf0f6;
  --hue-210-300: #dee6ef;
  --hue-210-400: #a7c4e0;
  --hue-210-500: #a0b8d0;
  --hue-210-600: #9db3c8;
  --hue-210-700: #97a7b8;
  --hue-210-800: #909ca8;
  --hue-210-900: #868b90;
  --hue-240-100: #f9f9fc;
  --hue-240-200: #ebebf6;
  --hue-240-300: #dedeef;
  --hue-240-400: #afafd8;
  --hue-240-500: #a7a7c9;
  --hue-240-600: #a4a4c2;
  --hue-240-700: #9b9bb3;
  --hue-240-800: #9494a4;
  --hue-240-900: #88888e;
  --hue-270-100: #faf8fc;
  --hue-270-200: #f0eaf7;
  --hue-270-300: #e6dcf1;
  --hue-270-400: #c4aadd;
  --hue-270-500: #b8a3ce;
  --hue-270-600: #b3a0c6;
  --hue-270-700: #a798b6;
  --hue-270-800: #9c91a7;
  --hue-270-900: #8b878f;
  --hue-300-100: #fcf8fc;
  --hue-300-200: #f7eaf7;
  --hue-300-300: #f1dcf1;
  --hue-300-400: #ddaadd;
  --hue-300-500: #cea3ce;
  --hue-300-600: #c6a0c6;
  --hue-300-700: #b698b6;
  --hue-300-800: #a791a7;
  --hue-300-900: #8f878f;
  --hue-330-100: #fdf8fa;
  --hue-330-200: #f8e9f0;
  --hue-330-300: #f3dae6;
  --hue-330-400: #e0a7c4;
  --hue-330-500: #d0a0b8;
  --hue-330-600: #c89db3;
  --hue-330-700: #b897a7;
  --hue-330-800: #a8909c;
  --hue-330-900: #90868b;
  --complementary-100: #fcfaf9;
  --complementary-200: #f5efeb;
  --complementary-300: #eee4de;
  --complementary-400: #d7bfb0;
  --complementary-500: #c8b4a8;
  --complementary-600: #c1afa4;
  --complementary-700: #b3a59c;
  --complementary-800: #a49a94;
  --complementary-900: #8e8a88;
  --analogous1-100: #f9f9fc;
  --analogous1-200: #ebedf6;
  --analogous1-300: #dee1ef;
  --analogous1-400: #afb7d8;
  --analogous1-500: #a7aec9;
  --analogous1-600: #a4aac2;
  --analogous1-700: #9ba0b3;
  --analogous1-800: #9497a4;
  --analogous1-900: #88898e;
  --analogous2-100: #faf9fc;
  --analogous2-200: #efedf6;
  --analogous2-300: #e5e1f0;
  --analogous2-400: #bfb7db;
  --analogous2-500: #b5aecc;
  --analogous2-600: #b0a9c4;
  --analogous2-700: #a5a0b5;
  --analogous2-800: #9a97a6;
  --analogous2-900: #8a898f;
  --analogous3-100: #fbf9fd;
  --analogous3-200: #f4ecf8;
  --analogous3-300: #eddff2;
  --analogous3-400: #d3b2e0;
  --analogous3-500: #c5aad0;
  --analogous3-600: #bea5c8;
  --analogous3-700: #b09db8;
  --analogous3-800: #a295a8;
  --analogous3-900: #8d8890;
  --split1-100: #fcf8f9;
  --split1-200: #f5eaed;
  --split1-300: #eedce0;
  --split1-400: #d6abb4;
  --split1-500: #c7a4ac;
  --split1-600: #c0a0a7;
  --split1-700: #b2999f;
  --split1-800: #a49296;
  --split1-900: #8e8788;
  --split2-100: #fdfcf8;
  --split2-200: #f8f7e8;
  --split2-300: #f3f2d9;
  --split2-400: #e2dfa5;
  --split2-500: #c2c098;
  --split2-600: #b1b092;
  --split2-700: #a1a08c;
  --split2-800: #999889;
  --split2-900: #888883;
  --square1-100: #fbf9fd;
  --square1-200: #f4ecf8;
  --square1-300: #eddff2;
  --square1-400: #d3b2e0;
  --square1-500: #c5aad0;
  --square1-600: #bea5c8;
  --square1-700: #b09db8;
  --square1-800: #a295a8;
  --square1-900: #8d8890;
  --square2-100: #fcfaf9;
  --square2-200: #f5efeb;
  --square2-300: #eee4de;
  --square2-400: #d7bfb0;
  --square2-500: #c8b4a8;
  --square2-600: #c1afa4;
  --square2-700: #b3a59c;
  --square2-800: #a49a94;
  --square2-900: #8e8a88;
  --square3-100: #f8fdf8;
  --square3-200: #ebf7eb;
  --square3-300: #ddf2dd;
  --square3-400: #afdfaf;
  --square3-500: #9fbf9f;
  --square3-600: #97b097;
  --square3-700: #8fa08f;
  --square3-800: #8b988b;
  --square3-900: #838883;
  --triadic1-100: #fcf8fb;
  --triadic1-200: #f4ebf2;
  --triadic1-300: #eddde9;
  --triadic1-400: #d3adcb;
  --triadic1-500: #c5a6bf;
  --triadic1-600: #bea2b8;
  --triadic1-700: #b09aac;
  --triadic1-800: #a3939f;
  --triadic1-900: #8e878c;
  --triadic2-100: #fbfdf8;
  --triadic2-200: #f2fae9;
  --triadic2-300: #e8f6da;
  --triadic2-400: #c8e8a6;
  --triadic2-500: #b0c599;
  --triadic2-600: #a4b097;
  --triadic2-700: #98a38c;
  --triadic2-800: #929a89;
  --triadic2-900: #868883;
  --tetradic1-100: #faf9fc;
  --tetradic1-200: #efedf6;
  --tetradic1-300: #e5e1f0;
  --tetradic1-400: #bfb7db;
  --tetradic1-500: #b5aecc;
  --tetradic1-600: #b0a9c4;
  --tetradic1-700: #a5a0b5;
  --tetradic1-800: #9a97a6;
  --tetradic1-900: #8a898f;
  --tetradic2-100: #fcfaf9;
  --tetradic2-200: #f5efeb;
  --tetradic2-300: #eee4de;
  --tetradic2-400: #d7bfb0;
  --tetradic2-500: #c8b4a8;
  --tetradic2-600: #c1afa4;
  --tetradic2-700: #b3a59c;
  --tetradic2-800: #a49a94;
  --tetradic2-900: #8e8a88;
  --tetradic3-100: #fbfdf8;
  --tetradic3-200: #f2fae9;
  --tetradic3-300: #e8f6da;
  --tetradic3-400: #c8e8a6;
  --tetradic3-500: #b0c599;
  --tetradic3-600: #a4b097;
  --tetradic3-700: #98a38c;
  --tetradic3-800: #929a89;
  --tetradic3-900: #868883;
  --success-100: #f8fdf8;
  --success-200: #e9f8e9;
  --success-300: #daf3da;
  --success-400: #a7e0a7;
  --success-500: #9ac09a;
  --success-600: #93b093;
  --success-700: #8da08d;
  --success-800: #899889;
  --success-900: #838883;
  --danger-100: #fdf8f8;
  --danger-200: #f8e9e9;
  --danger-300: #f3dada;
  --danger-400: #e0a7a7;
  --danger-500: #d0a0a0;
  --danger-600: #c89d9d;
  --danger-700: #b89797;
  --danger-800: #a89090;
  --danger-900: #908686;
  --warning-100: #fdfaf8;
  --warning-200: #f8f0e9;
  --warning-300: #f3e6da;
  --warning-400: #ebc49c;
  --warning-500: #c7ad92;
  --warning-600: #b0a293;
  --warning-700: #a0968d;
  --warning-800: #989189;
  --warning-900: #888583;
  --info-100: #f8fafd;
  --info-200: #ebf0f6;
  --info-300: #dee6ef;
  --info-400: #a7c4e0;
  --info-500: #a0b8d0;
  --info-600: #9db3c8;
  --info-700: #97a7b8;
  --info-800: #909ca8;
  --info-900: #868b90;
  --primary-100n: #f0f6fa;
  --primary-200n: #d3e5f0;
  --primary-300n: #b5d3e6;
  --primary-400n: #4e95c1;
  --primary-500n: #346380;
  --primary-600n: #274b61;
  --primary-700n: #1a3241;
  --primary-800n: #132531;
  --primary-900n: #060c10;
  --hue-0-100n: #faf0f0;
  --hue-0-200n: #f0d3d3;
  --hue-0-300n: #e6b5b5;
  --hue-0-400n: #c14e4e;
  --hue-0-500n: #a14141;
  --hue-0-600n: #913b3b;
  --hue-0-700n: #702e2e;
  --hue-0-800n: #512020;
  --hue-0-900n: #200d0d;
  --hue-30-100n: #faf5f0;
  --hue-30-200n: #f0e1d3;
  --hue-30-300n: #e6cdb5;
  --hue-30-400n: #c1884e;
  --hue-30-500n: #8f5b25;
  --hue-30-600n: #614427;
  --hue-30-700n: #412d1a;
  --hue-30-800n: #312213;
  --hue-30-900n: #100b06;
  --hue-60-100n: #fcfcee;
  --hue-60-200n: #f5f5ce;
  --hue-60-300n: #eeeead;
  --hue-60-400n: #d6d639;
  --hue-60-500n: #8f8f25;
  --hue-60-600n: #6b6b1d;
  --hue-60-700n: #484813;
  --hue-60-800n: #36360e;
  --hue-60-900n: #121204;
  --hue-90-100n: #f5faf0;
  --hue-90-200n: #e1f0d3;
  --hue-90-300n: #cde6b5;
  --hue-90-400n: #88c14e;
  --hue-90-500n: #5b8034;
  --hue-90-600n: #446127;
  --hue-90-700n: #2d411a;
  --hue-90-800n: #223113;
  --hue-90-900n: #0b1006;
  --hue-120-100n: #f0faf0;
  --hue-120-200n: #d3f0d3;
  --hue-120-300n: #b5e6b5;
  --hue-120-400n: #4ec14e;
  --hue-120-500n: #348034;
  --hue-120-600n: #276127;
  --hue-120-700n: #1a411a;
  --hue-120-800n: #133113;
  --hue-120-900n: #061006;
  --hue-150-100n: #f0faf5;
  --hue-150-200n: #d3f0e1;
  --hue-150-300n: #b5e6cd;
  --hue-150-400n: #4ec188;
  --hue-150-500n: #34805b;
  --hue-150-600n: #276144;
  --hue-150-700n: #1a412d;
  --hue-150-800n: #133122;
  --hue-150-900n: #06100b;
  --hue-180-100n: #f0fafa;
  --hue-180-200n: #d3f0f0;
  --hue-180-300n: #b5e6e6;
  --hue-180-400n: #4ec1c1;
  --hue-180-500n: #348080;
  --hue-180-600n: #276161;
  --hue-180-700n: #1a4141;
  --hue-180-800n: #133131;
  --hue-180-900n: #061010;
  --hue-210-100n: #f0f5fa;
  --hue-210-200n: #d7e1ec;
  --hue-210-300n: #bdcdde;
  --hue-210-400n: #4e88c1;
  --hue-210-500n: #4171a1;
  --hue-210-600n: #3b6691;
  --hue-210-700n: #2e4f70;
  --hue-210-800n: #203951;
  --hue-210-900n: #0d1720;
  --hue-240-100n: #f2f2f8;
  --hue-240-200n: #d7d7ec;
  --hue-240-300n: #bdbdde;
  --hue-240-400n: #5f5fb0;
  --hue-240-500n: #4f4f93;
  --hue-240-600n: #484884;
  --hue-240-700n: #373767;
  --hue-240-800n: #282849;
  --hue-240-900n: #10101d;
  --hue-270-100n: #f5f1f9;
  --hue-270-200n: #e1d5ee;
  --hue-270-300n: #cdb8e3;
  --hue-270-400n: #8854bb;
  --hue-270-500n: #71469c;
  --hue-270-600n: #66408c;
  --hue-270-700n: #4f316d;
  --hue-270-800n: #39234e;
  --hue-270-900n: #170e1f;
  --hue-300-100n: #f9f1f9;
  --hue-300-200n: #eed5ee;
  --hue-300-300n: #e3b8e3;
  --hue-300-400n: #bb54bb;
  --hue-300-500n: #9c469c;
  --hue-300-600n: #8c408c;
  --hue-300-700n: #6d316d;
  --hue-300-800n: #4e234e;
  --hue-300-900n: #1f0e1f;
  --hue-330-100n: #faf0f5;
  --hue-330-200n: #f0d3e1;
  --hue-330-300n: #e6b5cd;
  --hue-330-400n: #c14e88;
  --hue-330-500n: #a14171;
  --hue-330-600n: #913b66;
  --hue-330-700n: #702e4f;
  --hue-330-800n: #512039;
  --hue-330-900n: #200d17;
  --complementary-100n: #f8f4f2;
  --complementary-200n: #ebdfd7;
  --complementary-300n: #ddc9bd;
  --complementary-400n: #af7e60;
  --complementary-500n: #916951;
  --complementary-600n: #835f48;
  --complementary-700n: #664a38;
  --complementary-800n: #493428;
  --complementary-900n: #1d1511;
  --analogous1-100n: #f2f3f8;
  --analogous1-200n: #d7dbec;
  --analogous1-300n: #bdc3de;
  --analogous1-400n: #5f6fb0;
  --analogous1-500n: #4f5d93;
  --analogous1-600n: #485484;
  --analogous1-700n: #374167;
  --analogous1-800n: #282e49;
  --analogous1-900n: #10131d;
  --analogous2-100n: #f4f3f9;
  --analogous2-200n: #dfdbed;
  --analogous2-300n: #cac3e1;
  --analogous2-400n: #7f6eb6;
  --analogous2-500n: #6a5c98;
  --analogous2-600n: #605389;
  --analogous2-700n: #4a406a;
  --analogous2-800n: #352e4c;
  --analogous2-900n: #15121e;
  --analogous3-100n: #f7f2fa;
  --analogous3-200n: #e9d8f0;
  --analogous3-300n: #dabfe5;
  --analogous3-400n: #a664c0;
  --analogous3-500n: #8a54a0;
  --analogous3-600n: #7c4b91;
  --analogous3-700n: #613a70;
  --analogous3-800n: #452a50;
  --analogous3-900n: #1b1020;
  --split1-100n: #f8f1f3;
  --split1-200n: #ead5da;
  --split1-300n: #dcb9c1;
  --split1-400n: #ac5669;
  --split1-500n: #8f4858;
  --split1-600n: #81414f;
  --split1-700n: #64323e;
  --split1-800n: #48242c;
  --split1-900n: #1d0e11;
  --split2-100n: #faf9f0;
  --split2-200n: #f1efd1;
  --split2-300n: #e7e5b3;
  --split2-400n: #c5bf4a;
  --split2-500n: #848031;
  --split2-600n: #636025;
  --split2-700n: #424018;
  --split2-800n: #323012;
  --split2-900n: #101006;
  --square1-100n: #f7f2fa;
  --square1-200n: #e9d8f0;
  --square1-300n: #dabfe5;
  --square1-400n: #a664c0;
  --square1-500n: #8a54a0;
  --square1-600n: #7c4b91;
  --square1-700n: #613a70;
  --square1-800n: #452a50;
  --square1-900n: #1b1020;
  --square2-100n: #f8f4f2;
  --square2-200n: #ebdfd7;
  --square2-300n: #ddc9bd;
  --square2-400n: #af7e60;
  --square2-500n: #916951;
  --square2-600n: #835f48;
  --square2-700n: #664a38;
  --square2-800n: #493428;
  --square2-900n: #1d1511;
  --square3-100n: #f1faf1;
  --square3-200n: #d7efd7;
  --square3-300n: #bbe5bb;
  --square3-400n: #5ebf5e;
  --square3-500n: #3f7f3f;
  --square3-600n: #2f602f;
  --square3-700n: #1f401f;
  --square3-800n: #173017;
  --square3-900n: #071007;
  --triadic1-100n: #f8f1f6;
  --triadic1-200n: #e9d6e5;
  --triadic1-300n: #dabbd3;
  --triadic1-400n: #a75b97;
  --triadic1-500n: #8b4c7e;
  --triadic1-600n: #7d4571;
  --triadic1-700n: #613558;
  --triadic1-800n: #46263f;
  --triadic1-900n: #1c0f19;
  --triadic2-100n: #f6fbf0;
  --triadic2-200n: #e4f4d2;
  --triadic2-300n: #d1ecb4;
  --triadic2-400n: #91d14c;
  --triadic2-500n: #608b33;
  --triadic2-600n: #48602f;
  --triadic2-700n: #314619;
  --triadic2-800n: #253413;
  --triadic2-900n: #0c1106;
  --tetradic1-100n: #f4f3f9;
  --tetradic1-200n: #dfdbed;
  --tetradic1-300n: #cac3e1;
  --tetradic1-400n: #7f6eb6;
  --tetradic1-500n: #6a5c98;
  --tetradic1-600n: #605389;
  --tetradic1-700n: #4a406a;
  --tetradic1-800n: #352e4c;
  --tetradic1-900n: #15121e;
  --tetradic2-100n: #f8f4f2;
  --tetradic2-200n: #ebdfd7;
  --tetradic2-300n: #ddc9bd;
  --tetradic2-400n: #af7e60;
  --tetradic2-500n: #916951;
  --tetradic2-600n: #835f48;
  --tetradic2-700n: #664a38;
  --tetradic2-800n: #493428;
  --tetradic2-900n: #1d1511;
  --tetradic3-100n: #f6fbf0;
  --tetradic3-200n: #e4f4d2;
  --tetradic3-300n: #d1ecb4;
  --tetradic3-400n: #91d14c;
  --tetradic3-500n: #608b33;
  --tetradic3-600n: #48602f;
  --tetradic3-700n: #314619;
  --tetradic3-800n: #253413;
  --tetradic3-900n: #0c1106;
  --success-100n: #f0faf0;
  --success-200n: #d3f0d3;
  --success-300n: #b5e6b5;
  --success-400n: #4ec14e;
  --success-500n: #348034;
  --success-600n: #276127;
  --success-700n: #1a411a;
  --success-800n: #133113;
  --success-900n: #061006;
  --danger-100n: #faf0f0;
  --danger-200n: #f0d3d3;
  --danger-300n: #e6b5b5;
  --danger-400n: #c14e4e;
  --danger-500n: #a14141;
  --danger-600n: #913b3b;
  --danger-700n: #702e2e;
  --danger-800n: #512020;
  --danger-900n: #200d0d;
  --warning-100n: #faf5f0;
  --warning-200n: #f0e1d3;
  --warning-300n: #e6cdb5;
  --warning-400n: #d68839;
  --warning-500n: #8f5b25;
  --warning-600n: #614427;
  --warning-700n: #412d1a;
  --warning-800n: #312213;
  --warning-900n: #100b06;
  --info-100n: #f0f5fa;
  --info-200n: #d7e1ec;
  --info-300n: #bdcdde;
  --info-400n: #4e88c1;
  --info-500n: #4171a1;
  --info-600n: #3b6691;
  --info-700n: #2e4f70;
  --info-800n: #203951;
  --info-900n: #0d1720;
  --primary-100a: rgba(236, 247, 254, 0.3);
  --primary-200a: rgba(199, 232, 252, 0.3);
  --primary-300a: rgba(161, 216, 250, 0.3);
  --primary-400a: rgba(29, 161, 242, 0.3);
  --primary-500a: rgba(19, 107, 161, 0.3);
  --primary-600a: rgba(15, 81, 121, 0.3);
  --primary-700a: rgba(10, 54, 81, 0.3);
  --primary-800a: rgba(7, 40, 61, 0.3);
  --primary-900a: rgba(2, 13, 20, 0.3);
  --hue-0-100a: rgba(254, 236, 236, 0.3);
  --hue-0-200a: rgba(252, 199, 199, 0.3);
  --hue-0-300a: rgba(250, 161, 161, 0.3);
  --hue-0-400a: rgba(242, 29, 29, 0.3);
  --hue-0-500a: rgba(202, 24, 24, 0.3);
  --hue-0-600a: rgba(182, 22, 22, 0.3);
  --hue-0-700a: rgba(141, 17, 17, 0.3);
  --hue-0-800a: rgba(101, 12, 12, 0.3);
  --hue-0-900a: rgba(40, 5, 5, 0.3);
  --hue-30-100a: rgba(254, 245, 236, 0.3);
  --hue-30-200a: rgba(252, 225, 199, 0.3);
  --hue-30-300a: rgba(250, 205, 161, 0.3);
  --hue-30-400a: rgba(242, 136, 29, 0.3);
  --hue-30-500a: rgba(161, 91, 19, 0.3);
  --hue-30-600a: rgba(121, 68, 15, 0.3);
  --hue-30-700a: rgba(81, 45, 10, 0.3);
  --hue-30-800a: rgba(61, 34, 7, 0.3);
  --hue-30-900a: rgba(20, 11, 2, 0.3);
  --hue-60-100a: rgba(254, 254, 236, 0.3);
  --hue-60-200a: rgba(252, 252, 199, 0.3);
  --hue-60-300a: rgba(250, 250, 161, 0.3);
  --hue-60-400a: rgba(242, 242, 29, 0.3);
  --hue-60-500a: rgba(161, 161, 19, 0.3);
  --hue-60-600a: rgba(121, 121, 15, 0.3);
  --hue-60-700a: rgba(81, 81, 10, 0.3);
  --hue-60-800a: rgba(61, 61, 7, 0.3);
  --hue-60-900a: rgba(20, 20, 2, 0.3);
  --hue-90-100a: rgba(245, 254, 236, 0.3);
  --hue-90-200a: rgba(225, 252, 199, 0.3);
  --hue-90-300a: rgba(205, 250, 161, 0.3);
  --hue-90-400a: rgba(136, 242, 29, 0.3);
  --hue-90-500a: rgba(91, 161, 19, 0.3);
  --hue-90-600a: rgba(68, 121, 15, 0.3);
  --hue-90-700a: rgba(45, 81, 10, 0.3);
  --hue-90-800a: rgba(34, 61, 7, 0.3);
  --hue-90-900a: rgba(11, 20, 2, 0.3);
  --hue-120-100a: rgba(236, 254, 236, 0.3);
  --hue-120-200a: rgba(199, 252, 199, 0.3);
  --hue-120-300a: rgba(161, 250, 161, 0.3);
  --hue-120-400a: rgba(29, 242, 29, 0.3);
  --hue-120-500a: rgba(19, 161, 19, 0.3);
  --hue-120-600a: rgba(15, 121, 15, 0.3);
  --hue-120-700a: rgba(10, 81, 10, 0.3);
  --hue-120-800a: rgba(7, 61, 7, 0.3);
  --hue-120-900a: rgba(2, 20, 2, 0.3);
  --hue-150-100a: rgba(236, 254, 245, 0.3);
  --hue-150-200a: rgba(199, 252, 225, 0.3);
  --hue-150-300a: rgba(161, 250, 205, 0.3);
  --hue-150-400a: rgba(29, 242, 136, 0.3);
  --hue-150-500a: rgba(19, 161, 91, 0.3);
  --hue-150-600a: rgba(15, 121, 68, 0.3);
  --hue-150-700a: rgba(10, 81, 45, 0.3);
  --hue-150-800a: rgba(7, 61, 34, 0.3);
  --hue-150-900a: rgba(2, 20, 11, 0.3);
  --hue-180-100a: rgba(236, 254, 254, 0.3);
  --hue-180-200a: rgba(199, 252, 252, 0.3);
  --hue-180-300a: rgba(161, 250, 250, 0.3);
  --hue-180-400a: rgba(29, 242, 242, 0.3);
  --hue-180-500a: rgba(19, 161, 161, 0.3);
  --hue-180-600a: rgba(15, 121, 121, 0.3);
  --hue-180-700a: rgba(10, 81, 81, 0.3);
  --hue-180-800a: rgba(7, 61, 61, 0.3);
  --hue-180-900a: rgba(2, 20, 20, 0.3);
  --hue-210-100a: rgba(236, 245, 254, 0.3);
  --hue-210-200a: rgba(199, 225, 252, 0.3);
  --hue-210-300a: rgba(161, 205, 250, 0.3);
  --hue-210-400a: rgba(29, 136, 242, 0.3);
  --hue-210-500a: rgba(24, 113, 202, 0.3);
  --hue-210-600a: rgba(22, 102, 182, 0.3);
  --hue-210-700a: rgba(17, 79, 141, 0.3);
  --hue-210-800a: rgba(12, 57, 101, 0.3);
  --hue-210-900a: rgba(5, 23, 40, 0.3);
  --hue-240-100a: rgba(236, 236, 254, 0.3);
  --hue-240-200a: rgba(199, 199, 252, 0.3);
  --hue-240-300a: rgba(161, 161, 250, 0.3);
  --hue-240-400a: rgba(29, 29, 242, 0.3);
  --hue-240-500a: rgba(24, 24, 202, 0.3);
  --hue-240-600a: rgba(22, 22, 182, 0.3);
  --hue-240-700a: rgba(17, 17, 141, 0.3);
  --hue-240-800a: rgba(12, 12, 101, 0.3);
  --hue-240-900a: rgba(5, 5, 40, 0.3);
  --hue-270-100a: rgba(245, 236, 254, 0.3);
  --hue-270-200a: rgba(225, 199, 252, 0.3);
  --hue-270-300a: rgba(205, 161, 250, 0.3);
  --hue-270-400a: rgba(136, 29, 242, 0.3);
  --hue-270-500a: rgba(113, 24, 202, 0.3);
  --hue-270-600a: rgba(102, 22, 182, 0.3);
  --hue-270-700a: rgba(79, 17, 141, 0.3);
  --hue-270-800a: rgba(57, 12, 101, 0.3);
  --hue-270-900a: rgba(23, 5, 40, 0.3);
  --hue-300-100a: rgba(254, 236, 254, 0.3);
  --hue-300-200a: rgba(252, 199, 252, 0.3);
  --hue-300-300a: rgba(250, 161, 250, 0.3);
  --hue-300-400a: rgba(242, 29, 242, 0.3);
  --hue-300-500a: rgba(202, 24, 202, 0.3);
  --hue-300-600a: rgba(182, 22, 182, 0.3);
  --hue-300-700a: rgba(141, 17, 141, 0.3);
  --hue-300-800a: rgba(101, 12, 101, 0.3);
  --hue-300-900a: rgba(40, 5, 40, 0.3);
  --hue-330-100a: rgba(254, 236, 245, 0.3);
  --hue-330-200a: rgba(252, 199, 225, 0.3);
  --hue-330-300a: rgba(250, 161, 205, 0.3);
  --hue-330-400a: rgba(242, 29, 136, 0.3);
  --hue-330-500a: rgba(202, 24, 113, 0.3);
  --hue-330-600a: rgba(182, 22, 102, 0.3);
  --hue-330-700a: rgba(141, 17, 79, 0.3);
  --hue-330-800a: rgba(101, 12, 57, 0.3);
  --hue-330-900a: rgba(40, 5, 23, 0.3);
  --complementary-100a: rgba(251, 244, 239, 0.3);
  --complementary-200a: rgba(243, 221, 207, 0.3);
  --complementary-300a: rgba(235, 198, 175, 0.3);
  --complementary-400a: rgba(208, 118, 63, 0.3);
  --complementary-500a: rgba(173, 98, 53, 0.3);
  --complementary-600a: rgba(156, 89, 47, 0.3);
  --complementary-700a: rgba(121, 69, 37, 0.3);
  --complementary-800a: rgba(87, 49, 26, 0.3);
  --complementary-900a: rgba(35, 20, 11, 0.3);
  --analogous1-100a: rgba(236, 240, 254, 0.3);
  --analogous1-200a: rgba(199, 209, 252, 0.3);
  --analogous1-300a: rgba(161, 179, 250, 0.3);
  --analogous1-400a: rgba(29, 72, 242, 0.3);
  --analogous1-500a: rgba(24, 60, 202, 0.3);
  --analogous1-600a: rgba(22, 54, 182, 0.3);
  --analogous1-700a: rgba(17, 42, 141, 0.3);
  --analogous1-800a: rgba(12, 30, 101, 0.3);
  --analogous1-900a: rgba(5, 12, 40, 0.3);
  --analogous2-100a: rgba(242, 238, 254, 0.3);
  --analogous2-200a: rgba(216, 204, 252, 0.3);
  --analogous2-300a: rgba(189, 170, 250, 0.3);
  --analogous2-400a: rgba(97, 50, 242, 0.3);
  --analogous2-500a: rgba(81, 42, 202, 0.3);
  --analogous2-600a: rgba(73, 38, 182, 0.3);
  --analogous2-700a: rgba(57, 29, 141, 0.3);
  --analogous2-800a: rgba(40, 21, 101, 0.3);
  --analogous2-900a: rgba(16, 8, 40, 0.3);
  --analogous3-100a: rgba(249, 238, 254, 0.3);
  --analogous3-200a: rgba(238, 204, 252, 0.3);
  --analogous3-300a: rgba(227, 170, 250, 0.3);
  --analogous3-400a: rgba(187, 50, 242, 0.3);
  --analogous3-500a: rgba(156, 42, 202, 0.3);
  --analogous3-600a: rgba(140, 38, 182, 0.3);
  --analogous3-700a: rgba(109, 29, 141, 0.3);
  --analogous3-800a: rgba(78, 21, 101, 0.3);
  --analogous3-900a: rgba(31, 8, 40, 0.3);
  --split1-100a: rgba(251, 238, 241, 0.3);
  --split1-200a: rgba(243, 204, 213, 0.3);
  --split1-300a: rgba(235, 170, 184, 0.3);
  --split1-400a: rgba(208, 50, 85, 0.3);
  --split1-500a: rgba(173, 42, 71, 0.3);
  --split1-600a: rgba(156, 38, 64, 0.3);
  --split1-700a: rgba(121, 29, 50, 0.3);
  --split1-800a: rgba(87, 21, 35, 0.3);
  --split1-900a: rgba(35, 8, 14, 0.3);
  --split2-100a: rgba(252, 251, 238, 0.3);
  --split2-200a: rgba(246, 244, 204, 0.3);
  --split2-300a: rgba(240, 237, 170, 0.3);
  --split2-400a: rgba(219, 211, 52, 0.3);
  --split2-500a: rgba(146, 141, 35, 0.3);
  --split2-600a: rgba(110, 106, 26, 0.3);
  --split2-700a: rgba(73, 70, 17, 0.3);
  --split2-800a: rgba(55, 53, 13, 0.3);
  --split2-900a: rgba(18, 18, 4, 0.3);
  --square1-100a: rgba(249, 238, 254, 0.3);
  --square1-200a: rgba(238, 204, 252, 0.3);
  --square1-300a: rgba(227, 170, 250, 0.3);
  --square1-400a: rgba(187, 50, 242, 0.3);
  --square1-500a: rgba(156, 42, 202, 0.3);
  --square1-600a: rgba(140, 38, 182, 0.3);
  --square1-700a: rgba(109, 29, 141, 0.3);
  --square1-800a: rgba(78, 21, 101, 0.3);
  --square1-900a: rgba(31, 8, 40, 0.3);
  --square2-100a: rgba(251, 244, 239, 0.3);
  --square2-200a: rgba(243, 221, 207, 0.3);
  --square2-300a: rgba(235, 198, 175, 0.3);
  --square2-400a: rgba(208, 118, 63, 0.3);
  --square2-500a: rgba(173, 98, 53, 0.3);
  --square2-600a: rgba(156, 89, 47, 0.3);
  --square2-700a: rgba(121, 69, 37, 0.3);
  --square2-800a: rgba(87, 49, 26, 0.3);
  --square2-900a: rgba(35, 20, 11, 0.3);
  --square3-100a: rgba(238, 253, 238, 0.3);
  --square3-200a: rgba(204, 250, 204, 0.3);
  --square3-300a: rgba(170, 246, 170, 0.3);
  --square3-400a: rgba(52, 233, 52, 0.3);
  --square3-500a: rgba(35, 155, 35, 0.3);
  --square3-600a: rgba(26, 117, 26, 0.3);
  --square3-700a: rgba(17, 78, 17, 0.3);
  --square3-800a: rgba(13, 58, 13, 0.3);
  --square3-900a: rgba(4, 19, 4, 0.3);
  --triadic1-100a: rgba(251, 238, 248, 0.3);
  --triadic1-200a: rgba(243, 204, 235, 0.3);
  --triadic1-300a: rgba(235, 170, 221, 0.3);
  --triadic1-400a: rgba(208, 50, 174, 0.3);
  --triadic1-500a: rgba(173, 42, 145, 0.3);
  --triadic1-600a: rgba(156, 38, 131, 0.3);
  --triadic1-700a: rgba(121, 29, 102, 0.3);
  --triadic1-800a: rgba(87, 21, 73, 0.3);
  --triadic1-900a: rgba(35, 8, 29, 0.3);
  --triadic2-100a: rgba(246, 253, 238, 0.3);
  --triadic2-200a: rgba(228, 250, 204, 0.3);
  --triadic2-300a: rgba(210, 246, 170, 0.3);
  --triadic2-400a: rgba(146, 233, 52, 0.3);
  --triadic2-500a: rgba(97, 155, 35, 0.3);
  --triadic2-600a: rgba(73, 117, 26, 0.3);
  --triadic2-700a: rgba(49, 78, 17, 0.3);
  --triadic2-800a: rgba(37, 58, 13, 0.3);
  --triadic2-900a: rgba(12, 19, 4, 0.3);
  --tetradic1-100a: rgba(242, 238, 254, 0.3);
  --tetradic1-200a: rgba(216, 204, 252, 0.3);
  --tetradic1-300a: rgba(189, 170, 250, 0.3);
  --tetradic1-400a: rgba(97, 50, 242, 0.3);
  --tetradic1-500a: rgba(81, 42, 202, 0.3);
  --tetradic1-600a: rgba(73, 38, 182, 0.3);
  --tetradic1-700a: rgba(57, 29, 141, 0.3);
  --tetradic1-800a: rgba(40, 21, 101, 0.3);
  --tetradic1-900a: rgba(16, 8, 40, 0.3);
  --tetradic2-100a: rgba(251, 244, 239, 0.3);
  --tetradic2-200a: rgba(243, 221, 207, 0.3);
  --tetradic2-300a: rgba(235, 198, 175, 0.3);
  --tetradic2-400a: rgba(208, 118, 63, 0.3);
  --tetradic2-500a: rgba(173, 98, 53, 0.3);
  --tetradic2-600a: rgba(156, 89, 47, 0.3);
  --tetradic2-700a: rgba(121, 69, 37, 0.3);
  --tetradic2-800a: rgba(87, 49, 26, 0.3);
  --tetradic2-900a: rgba(35, 20, 11, 0.3);
  --tetradic3-100a: rgba(246, 253, 238, 0.3);
  --tetradic3-200a: rgba(228, 250, 204, 0.3);
  --tetradic3-300a: rgba(210, 246, 170, 0.3);
  --tetradic3-400a: rgba(146, 233, 52, 0.3);
  --tetradic3-500a: rgba(97, 155, 35, 0.3);
  --tetradic3-600a: rgba(73, 117, 26, 0.3);
  --tetradic3-700a: rgba(49, 78, 17, 0.3);
  --tetradic3-800a: rgba(37, 58, 13, 0.3);
  --tetradic3-900a: rgba(12, 19, 4, 0.3);
  --success-100a: rgba(236, 254, 236, 0.3);
  --success-200a: rgba(199, 252, 199, 0.3);
  --success-300a: rgba(161, 250, 161, 0.3);
  --success-400a: rgba(29, 242, 29, 0.3);
  --success-500a: rgba(19, 161, 19, 0.3);
  --success-600a: rgba(15, 121, 15, 0.3);
  --success-700a: rgba(10, 81, 10, 0.3);
  --success-800a: rgba(7, 61, 7, 0.3);
  --success-900a: rgba(2, 20, 2, 0.3);
  --danger-100a: rgba(254, 236, 236, 0.3);
  --danger-200a: rgba(252, 199, 199, 0.3);
  --danger-300a: rgba(250, 161, 161, 0.3);
  --danger-400a: rgba(242, 29, 29, 0.3);
  --danger-500a: rgba(202, 24, 24, 0.3);
  --danger-600a: rgba(182, 22, 22, 0.3);
  --danger-700a: rgba(141, 17, 17, 0.3);
  --danger-800a: rgba(101, 12, 12, 0.3);
  --danger-900a: rgba(40, 5, 5, 0.3);
  --warning-100a: rgba(254, 245, 236, 0.3);
  --warning-200a: rgba(252, 225, 199, 0.3);
  --warning-300a: rgba(250, 205, 161, 0.3);
  --warning-400a: rgba(242, 136, 29, 0.3);
  --warning-500a: rgba(161, 91, 19, 0.3);
  --warning-600a: rgba(121, 68, 15, 0.3);
  --warning-700a: rgba(81, 45, 10, 0.3);
  --warning-800a: rgba(61, 34, 7, 0.3);
  --warning-900a: rgba(20, 11, 2, 0.3);
  --info-100a: rgba(236, 245, 254, 0.3);
  --info-200a: rgba(199, 225, 252, 0.3);
  --info-300a: rgba(161, 205, 250, 0.3);
  --info-400a: rgba(29, 136, 242, 0.3);
  --info-500a: rgba(24, 113, 202, 0.3);
  --info-600a: rgba(22, 102, 182, 0.3);
  --info-700a: rgba(17, 79, 141, 0.3);
  --info-800a: rgba(12, 57, 101, 0.3);
  --info-900a: rgba(5, 23, 40, 0.3);
}
