:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #fefafa;
  --primary-200: #fbeff0;
  --primary-300: #f7e5e6;
  --primary-400: #ecc0c2;
  --primary-500: #c8abac;
  --primary-600: #b6a0a1;
  --primary-700: #a49596;
  --primary-800: #9b9090;
  --primary-900: #898585;
  --hue-0-100: #fefafa;
  --hue-0-200: #fbf1ef;
  --hue-0-300: #f7e7e5;
  --hue-0-400: #ecc4c0;
  --hue-0-500: #c8adab;
  --hue-0-600: #b6a2a0;
  --hue-0-700: #a49695;
  --hue-0-800: #9b9190;
  --hue-0-900: #898685;
  --hue-30-100: #fefbfa;
  --hue-30-200: #fbf2ef;
  --hue-30-300: #f7eae5;
  --hue-30-400: #eccbc0;
  --hue-30-500: #c8b2ab;
  --hue-30-600: #b6a5a0;
  --hue-30-700: #a49995;
  --hue-30-800: #9b9390;
  --hue-30-900: #898685;
  --hue-60-100: #fefcfa;
  --hue-60-200: #fdf5ed;
  --hue-60-300: #faeee2;
  --hue-60-400: #f4d6b8;
  --hue-60-500: #cdb9a5;
  --hue-60-600: #baab9c;
  --hue-60-700: #a69d93;
  --hue-60-800: #9d958e;
  --hue-60-900: #898785;
  --hue-90-100: #fefdf9;
  --hue-90-200: #fdf9ed;
  --hue-90-300: #faf4e2;
  --hue-90-400: #f4e5b8;
  --hue-90-500: #cdc3a5;
  --hue-90-600: #bab39c;
  --hue-90-700: #a6a193;
  --hue-90-800: #9d998e;
  --hue-90-900: #898885;
  --hue-120-100: #fefef9;
  --hue-120-200: #fdfded;
  --hue-120-300: #fafae2;
  --hue-120-400: #f4f4b8;
  --hue-120-500: #cdcda5;
  --hue-120-600: #baba9c;
  --hue-120-700: #a6a693;
  --hue-120-800: #9d9d8e;
  --hue-120-900: #898985;
  --hue-150-100: #fdfef9;
  --hue-150-200: #f9fded;
  --hue-150-300: #f5fae2;
  --hue-150-400: #e6f4b8;
  --hue-150-500: #c4cda5;
  --hue-150-600: #b3ba9c;
  --hue-150-700: #a2a693;
  --hue-150-800: #999d8e;
  --hue-150-900: #888985;
  --hue-180-100: #fbfefa;
  --hue-180-200: #f4fbef;
  --hue-180-300: #edf7e5;
  --hue-180-400: #d2ecc0;
  --hue-180-500: #b7c8ab;
  --hue-180-600: #a9b6a0;
  --hue-180-700: #9ba495;
  --hue-180-800: #949b90;
  --hue-180-900: #878985;
  --hue-210-100: #fafefd;
  --hue-210-200: #effbf8;
  --hue-210-300: #e5f7f2;
  --hue-210-400: #c0ece0;
  --hue-210-500: #abc8c0;
  --hue-210-600: #a0b6b0;
  --hue-210-700: #95a4a0;
  --hue-210-800: #909b98;
  --hue-210-900: #858988;
  --hue-240-100: #fafbfd;
  --hue-240-200: #f1f3f9;
  --hue-240-300: #e8ebf4;
  --hue-240-400: #c7cfe5;
  --hue-240-500: #afb5c4;
  --hue-240-600: #a3a7b3;
  --hue-240-700: #979aa2;
  --hue-240-800: #919499;
  --hue-240-900: #868688;
  --hue-270-100: #fcfafd;
  --hue-270-200: #f4f1f9;
  --hue-270-300: #ede8f4;
  --hue-270-400: #d3c7e5;
  --hue-270-500: #b7afc4;
  --hue-270-600: #a9a3b3;
  --hue-270-700: #9b97a2;
  --hue-270-800: #949199;
  --hue-270-900: #878688;
  --hue-300-100: #fdfafd;
  --hue-300-200: #faf0fa;
  --hue-300-300: #f6e6f6;
  --hue-300-400: #e9c3e9;
  --hue-300-500: #c6acc6;
  --hue-300-600: #b5a1b5;
  --hue-300-700: #a396a3;
  --hue-300-800: #9a909a;
  --hue-300-900: #898589;
  --hue-330-100: #fefafb;
  --hue-330-200: #fbeff3;
  --hue-330-300: #f7e5eb;
  --hue-330-400: #ecc0ce;
  --hue-330-500: #c8abb4;
  --hue-330-600: #b6a0a7;
  --hue-330-700: #a4959a;
  --hue-330-800: #9b9093;
  --hue-330-900: #898586;
  --complementary-100: #fcfef9;
  --complementary-200: #f5faed;
  --complementary-300: #eef7e1;
  --complementary-400: #d6ebb7;
  --complementary-500: #b9c7a5;
  --complementary-600: #abb59c;
  --complementary-700: #9da392;
  --complementary-800: #959a8e;
  --complementary-900: #878984;
  --analogous1-100: #fefbfa;
  --analogous1-200: #fbf1f0;
  --analogous1-300: #f7e8e5;
  --analogous1-400: #ecc8c1;
  --analogous1-500: #c8b0ab;
  --analogous1-600: #b6a4a0;
  --analogous1-700: #a49895;
  --analogous1-800: #9b9290;
  --analogous1-900: #898685;
  --analogous2-100: #fefbfa;
  --analogous2-200: #fbf4f0;
  --analogous2-300: #f7ece5;
  --analogous2-400: #ecd0c1;
  --analogous2-500: #c8b6ab;
  --analogous2-600: #b6a8a0;
  --analogous2-700: #a49a95;
  --analogous2-800: #9b9490;
  --analogous2-900: #898785;
  --analogous3-100: #fefdfa;
  --analogous3-200: #fdf7ee;
  --analogous3-300: #faf2e2;
  --analogous3-400: #f4deb9;
  --analogous3-500: #cdbea6;
  --analogous3-600: #baaf9c;
  --analogous3-700: #a69f93;
  --analogous3-800: #9d978e;
  --analogous3-900: #898885;
  --split1-100: #fdfef9;
  --split1-200: #f9faed;
  --split1-300: #f5f7e1;
  --split1-400: #e8ebb7;
  --split1-500: #c5c7a5;
  --split1-600: #b4b59c;
  --split1-700: #a3a392;
  --split1-800: #9a9a8e;
  --split1-900: #898984;
  --split2-100: #fbfdfc;
  --split2-200: #f2f8f5;
  --split2-300: #e9f3ef;
  --split2-400: #cae2d7;
  --split2-500: #b1c1ba;
  --split2-600: #a5b1ab;
  --split2-700: #99a09d;
  --split2-800: #929896;
  --split2-900: #868887;
  --square1-100: #fefdfa;
  --square1-200: #fdf7ee;
  --square1-300: #faf2e2;
  --square1-400: #f4deb9;
  --square1-500: #cdbea6;
  --square1-600: #baaf9c;
  --square1-700: #a69f93;
  --square1-800: #9d978e;
  --square1-900: #898885;
  --square2-100: #fcfef9;
  --square2-200: #f5faed;
  --square2-300: #eef7e1;
  --square2-400: #d6ebb7;
  --square2-500: #b9c7a5;
  --square2-600: #abb59c;
  --square2-700: #9da392;
  --square2-800: #959a8e;
  --square2-900: #878984;
  --square3-100: #fbfafc;
  --square3-200: #f3eff7;
  --square3-300: #ece4f1;
  --square3-400: #d0bedc;
  --square3-500: #b5a9bd;
  --square3-600: #a89fae;
  --square3-700: #9a959f;
  --square3-800: #948f97;
  --square3-900: #868587;
  --triadic1-100: #fefefa;
  --triadic1-200: #fdfaee;
  --triadic1-300: #faf7e2;
  --triadic1-400: #f4ebb9;
  --triadic1-500: #cdc7a6;
  --triadic1-600: #bab69c;
  --triadic1-700: #a6a393;
  --triadic1-800: #9d9a8e;
  --triadic1-900: #898985;
  --triadic2-100: #fbfbfd;
  --triadic2-200: #f3f4f7;
  --triadic2-300: #ebecf2;
  --triadic2-400: #ced0df;
  --triadic2-500: #b4b5bf;
  --triadic2-600: #a7a8af;
  --triadic2-700: #9a9aa0;
  --triadic2-800: #939498;
  --triadic2-900: #868688;
  --tetradic1-100: #fefbfa;
  --tetradic1-200: #fbf4f0;
  --tetradic1-300: #f7ece5;
  --tetradic1-400: #ecd0c1;
  --tetradic1-500: #c8b6ab;
  --tetradic1-600: #b6a8a0;
  --tetradic1-700: #a49a95;
  --tetradic1-800: #9b9490;
  --tetradic1-900: #898785;
  --tetradic2-100: #fcfef9;
  --tetradic2-200: #f5faed;
  --tetradic2-300: #eef7e1;
  --tetradic2-400: #d6ebb7;
  --tetradic2-500: #b9c7a5;
  --tetradic2-600: #abb59c;
  --tetradic2-700: #9da392;
  --tetradic2-800: #959a8e;
  --tetradic2-900: #878984;
  --tetradic3-100: #fbfbfd;
  --tetradic3-200: #f3f4f7;
  --tetradic3-300: #ebecf2;
  --tetradic3-400: #ced0df;
  --tetradic3-500: #b4b5bf;
  --tetradic3-600: #a7a8af;
  --tetradic3-700: #9a9aa0;
  --tetradic3-800: #939498;
  --tetradic3-900: #868688;
  --success-100: #fbfefa;
  --success-200: #f4fbef;
  --success-300: #edf7e5;
  --success-400: #d2ecc0;
  --success-500: #b7c8ab;
  --success-600: #a9b6a0;
  --success-700: #9ba495;
  --success-800: #949b90;
  --success-900: #878985;
  --danger-100: #fefafa;
  --danger-200: #fbf1ef;
  --danger-300: #f7e7e5;
  --danger-400: #ecc4c0;
  --danger-500: #c8adab;
  --danger-600: #b6a2a0;
  --danger-700: #a49695;
  --danger-800: #9b9190;
  --danger-900: #898685;
  --warning-100: #fefcfa;
  --warning-200: #fdf5ed;
  --warning-300: #faeee2;
  --warning-400: #f4d6b8;
  --warning-500: #cdb9a5;
  --warning-600: #baab9c;
  --warning-700: #a69d93;
  --warning-800: #9d958e;
  --warning-900: #898785;
  --info-100: #fafbfd;
  --info-200: #f1f3f9;
  --info-300: #e8ebf4;
  --info-400: #c7cfe5;
  --info-500: #afb5c4;
  --info-600: #a3a7b3;
  --info-700: #979aa2;
  --info-800: #919499;
  --info-900: #868688;
  --primary-100n: #fcf4f5;
  --primary-200n: #f6dfe1;
  --primary-300n: #efcacc;
  --primary-400n: #d88185;
  --primary-500n: #905659;
  --primary-600n: #6c4143;
  --primary-700n: #482b2c;
  --primary-800n: #362021;
  --primary-900n: #120b0b;
  --hue-0-100n: #fcf5f4;
  --hue-0-200n: #f6e2df;
  --hue-0-300n: #efceca;
  --hue-0-400n: #d88981;
  --hue-0-500n: #905b56;
  --hue-0-600n: #6c4441;
  --hue-0-700n: #482d2b;
  --hue-0-800n: #362220;
  --hue-0-900n: #120c0b;
  --hue-30-100n: #fcf6f4;
  --hue-30-200n: #f6e5df;
  --hue-30-300n: #efd4ca;
  --hue-30-400n: #d89781;
  --hue-30-500n: #906456;
  --hue-30-600n: #6c4b41;
  --hue-30-700n: #48322b;
  --hue-30-800n: #362620;
  --hue-30-900n: #120d0b;
  --hue-60-100n: #fcf8f4;
  --hue-60-200n: #faebdb;
  --hue-60-300n: #f5ddc4;
  --hue-60-400n: #e8ad71;
  --hue-60-500n: #9b734b;
  --hue-60-600n: #745739;
  --hue-60-700n: #4d3a26;
  --hue-60-800n: #3a2b1c;
  --hue-60-900n: #120e0b;
  --hue-90-100n: #fdfbf3;
  --hue-90-200n: #faf2db;
  --hue-90-300n: #f5e9c4;
  --hue-90-400n: #e8ca71;
  --hue-90-500n: #9b874b;
  --hue-90-600n: #746639;
  --hue-90-700n: #4d4326;
  --hue-90-800n: #3a321c;
  --hue-90-900n: #13110a;
  --hue-120-100n: #fdfdf3;
  --hue-120-200n: #fafadb;
  --hue-120-300n: #f5f5c4;
  --hue-120-400n: #e8e871;
  --hue-120-500n: #9b9b4b;
  --hue-120-600n: #747439;
  --hue-120-700n: #4d4d26;
  --hue-120-800n: #3a3a1c;
  --hue-120-900n: #13130a;
  --hue-150-100n: #fbfdf3;
  --hue-150-200n: #f3fadb;
  --hue-150-300n: #eaf5c4;
  --hue-150-400n: #cde871;
  --hue-150-500n: #899b4b;
  --hue-150-600n: #677439;
  --hue-150-700n: #444d26;
  --hue-150-800n: #333a1c;
  --hue-150-900n: #11130a;
  --hue-180-100n: #f7fcf4;
  --hue-180-200n: #e9f6df;
  --hue-180-300n: #daefca;
  --hue-180-400n: #a5d881;
  --hue-180-500n: #6e9056;
  --hue-180-600n: #526c41;
  --hue-180-700n: #37482b;
  --hue-180-800n: #293620;
  --hue-180-900n: #0e120b;
  --hue-210-100n: #f4fcfa;
  --hue-210-200n: #dff6f0;
  --hue-210-300n: #caefe5;
  --hue-210-400n: #81d8c0;
  --hue-210-500n: #569080;
  --hue-210-600n: #416c60;
  --hue-210-700n: #2b4840;
  --hue-210-800n: #203630;
  --hue-210-900n: #0b1210;
  --hue-240-100n: #f5f7fb;
  --hue-240-200n: #e3e7f2;
  --hue-240-300n: #d0d7e9;
  --hue-240-400n: #8e9fcb;
  --hue-240-500n: #5e6a88;
  --hue-240-600n: #474f66;
  --hue-240-700n: #2f3544;
  --hue-240-800n: #232833;
  --hue-240-900n: #0c0d11;
  --hue-270-100n: #f8f5fb;
  --hue-270-200n: #e9e3f2;
  --hue-270-300n: #dad0e9;
  --hue-270-400n: #a68ecb;
  --hue-270-500n: #6f5e88;
  --hue-270-600n: #534766;
  --hue-270-700n: #372f44;
  --hue-270-800n: #292333;
  --hue-270-900n: #0e0c11;
  --hue-300-100n: #fbf5fb;
  --hue-300-200n: #f4e1f4;
  --hue-300-300n: #edcced;
  --hue-300-400n: #d386d3;
  --hue-300-500n: #8d598d;
  --hue-300-600n: #6a436a;
  --hue-300-700n: #462d46;
  --hue-300-800n: #352135;
  --hue-300-900n: #120b12;
  --hue-330-100n: #fcf4f7;
  --hue-330-200n: #f6dfe6;
  --hue-330-300n: #efcad6;
  --hue-330-400n: #d8819c;
  --hue-330-500n: #905668;
  --hue-330-600n: #6c414e;
  --hue-330-700n: #482b34;
  --hue-330-800n: #362027;
  --hue-330-900n: #120b0d;
  --complementary-100n: #f8fcf3;
  --complementary-200n: #eaf5db;
  --complementary-300n: #ddeec3;
  --complementary-400n: #acd66f;
  --complementary-500n: #738f4a;
  --complementary-600n: #566b38;
  --complementary-700n: #3a4725;
  --complementary-800n: #2b351c;
  --complementary-900n: #0f1209;
  --analogous1-100n: #fcf6f5;
  --analogous1-200n: #f6e3e0;
  --analogous1-300n: #efd1cb;
  --analogous1-400n: #d89183;
  --analogous1-500n: #916157;
  --analogous1-600n: #6d4841;
  --analogous1-700n: #48302b;
  --analogous1-800n: #362421;
  --analogous1-900n: #120c0b;
  --analogous2-100n: #fcf7f5;
  --analogous2-200n: #f6e8e0;
  --analogous2-300n: #efd8cb;
  --analogous2-400n: #d8a183;
  --analogous2-500n: #916c57;
  --analogous2-600n: #6d5141;
  --analogous2-700n: #48352b;
  --analogous2-800n: #362921;
  --analogous2-900n: #120e0b;
  --analogous3-100n: #fdfaf4;
  --analogous3-200n: #faefdc;
  --analogous3-300n: #f5e4c5;
  --analogous3-400n: #e8bd72;
  --analogous3-500n: #9b7d4c;
  --analogous3-600n: #755e39;
  --analogous3-700n: #4d3f26;
  --analogous3-800n: #3a2f1c;
  --analogous3-900n: #13100a;
  --split1-100n: #fbfcf3;
  --split1-200n: #f3f5db;
  --split1-300n: #ebeec3;
  --split1-400n: #d0d66f;
  --split1-500n: #8a8f4a;
  --split1-600n: #686b38;
  --split1-700n: #464725;
  --split1-800n: #34351c;
  --split1-900n: #121209;
  --split2-100n: #f7faf8;
  --split2-200n: #e5f0eb;
  --split2-300n: #d3e7de;
  --split2-400n: #95c4ae;
  --split2-500n: #638374;
  --split2-600n: #4b6257;
  --split2-700n: #32413a;
  --split2-800n: #25312c;
  --split2-900n: #0d100f;
  --square1-100n: #fdfaf4;
  --square1-200n: #faefdc;
  --square1-300n: #f5e4c5;
  --square1-400n: #e8bd72;
  --square1-500n: #9b7d4c;
  --square1-600n: #755e39;
  --square1-700n: #4d3f26;
  --square1-800n: #3a2f1c;
  --square1-900n: #13100a;
  --square2-100n: #f8fcf3;
  --square2-200n: #eaf5db;
  --square2-300n: #ddeec3;
  --square2-400n: #acd66f;
  --square2-500n: #738f4a;
  --square2-600n: #566b38;
  --square2-700n: #3a4725;
  --square2-800n: #2b351c;
  --square2-900n: #0f1209;
  --square3-100n: #f7f4f9;
  --square3-200n: #e7deee;
  --square3-300n: #d8c9e2;
  --square3-400n: #a07db9;
  --square3-500n: #6b537b;
  --square3-600n: #503e5d;
  --square3-700n: #352a3e;
  --square3-800n: #281f2f;
  --square3-900n: #0d0b0f;
  --triadic1-100n: #fdfcf4;
  --triadic1-200n: #faf5dc;
  --triadic1-300n: #f5eec5;
  --triadic1-400n: #e8d672;
  --triadic1-500n: #9b8f4c;
  --triadic1-600n: #756c39;
  --triadic1-700n: #4d4726;
  --triadic1-800n: #3a351c;
  --triadic1-900n: #13120a;
  --triadic2-100n: #f7f7fa;
  --triadic2-200n: #e7e8ef;
  --triadic2-300n: #d6d8e5;
  --triadic2-400n: #9da0be;
  --triadic2-500n: #686a7f;
  --triadic2-600n: #4f505f;
  --triadic2-700n: #343540;
  --triadic2-800n: #272830;
  --triadic2-900n: #0d0d10;
  --tetradic1-100n: #fcf7f5;
  --tetradic1-200n: #f6e8e0;
  --tetradic1-300n: #efd8cb;
  --tetradic1-400n: #d8a183;
  --tetradic1-500n: #916c57;
  --tetradic1-600n: #6d5141;
  --tetradic1-700n: #48352b;
  --tetradic1-800n: #362921;
  --tetradic1-900n: #120e0b;
  --tetradic2-100n: #f8fcf3;
  --tetradic2-200n: #eaf5db;
  --tetradic2-300n: #ddeec3;
  --tetradic2-400n: #acd66f;
  --tetradic2-500n: #738f4a;
  --tetradic2-600n: #566b38;
  --tetradic2-700n: #3a4725;
  --tetradic2-800n: #2b351c;
  --tetradic2-900n: #0f1209;
  --tetradic3-100n: #f7f7fa;
  --tetradic3-200n: #e7e8ef;
  --tetradic3-300n: #d6d8e5;
  --tetradic3-400n: #9da0be;
  --tetradic3-500n: #686a7f;
  --tetradic3-600n: #4f505f;
  --tetradic3-700n: #343540;
  --tetradic3-800n: #272830;
  --tetradic3-900n: #0d0d10;
  --success-100n: #f7fcf4;
  --success-200n: #e9f6df;
  --success-300n: #daefca;
  --success-400n: #a5d881;
  --success-500n: #6e9056;
  --success-600n: #526c41;
  --success-700n: #37482b;
  --success-800n: #293620;
  --success-900n: #0e120b;
  --danger-100n: #fcf5f4;
  --danger-200n: #f6e2df;
  --danger-300n: #efceca;
  --danger-400n: #d88981;
  --danger-500n: #905b56;
  --danger-600n: #6c4441;
  --danger-700n: #482d2b;
  --danger-800n: #362220;
  --danger-900n: #120c0b;
  --warning-100n: #fcf8f4;
  --warning-200n: #faebdb;
  --warning-300n: #f5ddc4;
  --warning-400n: #e8ad71;
  --warning-500n: #9b734b;
  --warning-600n: #745739;
  --warning-700n: #4d3a26;
  --warning-800n: #3a2b1c;
  --warning-900n: #120e0b;
  --info-100n: #f5f7fb;
  --info-200n: #e3e7f2;
  --info-300n: #d0d7e9;
  --info-400n: #8e9fcb;
  --info-500n: #5e6a88;
  --info-600n: #474f66;
  --info-700n: #2f3544;
  --info-800n: #232833;
  --info-900n: #0c0d11;
  --primary-100a: rgba(255, 241, 242, 0.3);
  --primary-200a: rgba(255, 214, 216, 0.3);
  --primary-300a: rgba(254, 187, 190, 0.3);
  --primary-400a: rgba(253, 92, 99, 0.3);
  --primary-500a: rgba(169, 61, 66, 0.3);
  --primary-600a: rgba(127, 46, 50, 0.3);
  --primary-700a: rgba(84, 31, 33, 0.3);
  --primary-800a: rgba(63, 23, 25, 0.3);
  --primary-900a: rgba(21, 8, 8, 0.3);
  --hue-0-100a: rgba(255, 243, 241, 0.3);
  --hue-0-200a: rgba(255, 218, 214, 0.3);
  --hue-0-300a: rgba(254, 193, 187, 0.3);
  --hue-0-400a: rgba(253, 106, 92, 0.3);
  --hue-0-500a: rgba(169, 71, 61, 0.3);
  --hue-0-600a: rgba(127, 53, 46, 0.3);
  --hue-0-700a: rgba(84, 35, 31, 0.3);
  --hue-0-800a: rgba(63, 27, 23, 0.3);
  --hue-0-900a: rgba(21, 9, 8, 0.3);
  --hue-30-100a: rgba(255, 245, 241, 0.3);
  --hue-30-200a: rgba(255, 224, 214, 0.3);
  --hue-30-300a: rgba(254, 204, 187, 0.3);
  --hue-30-400a: rgba(253, 132, 92, 0.3);
  --hue-30-500a: rgba(169, 88, 61, 0.3);
  --hue-30-600a: rgba(127, 66, 46, 0.3);
  --hue-30-700a: rgba(84, 44, 31, 0.3);
  --hue-30-800a: rgba(63, 33, 23, 0.3);
  --hue-30-900a: rgba(21, 11, 8, 0.3);
  --hue-60-100a: rgba(255, 248, 241, 0.3);
  --hue-60-200a: rgba(255, 235, 214, 0.3);
  --hue-60-300a: rgba(254, 221, 187, 0.3);
  --hue-60-400a: rgba(253, 173, 92, 0.3);
  --hue-60-500a: rgba(169, 115, 61, 0.3);
  --hue-60-600a: rgba(127, 87, 46, 0.3);
  --hue-60-700a: rgba(84, 58, 31, 0.3);
  --hue-60-800a: rgba(63, 43, 23, 0.3);
  --hue-60-900a: rgba(21, 14, 8, 0.3);
  --hue-90-100a: rgba(255, 252, 241, 0.3);
  --hue-90-200a: rgba(255, 245, 214, 0.3);
  --hue-90-300a: rgba(254, 238, 187, 0.3);
  --hue-90-400a: rgba(253, 213, 92, 0.3);
  --hue-90-500a: rgba(169, 142, 61, 0.3);
  --hue-90-600a: rgba(127, 107, 46, 0.3);
  --hue-90-700a: rgba(84, 71, 31, 0.3);
  --hue-90-800a: rgba(63, 53, 23, 0.3);
  --hue-90-900a: rgba(21, 18, 8, 0.3);
  --hue-120-100a: rgba(255, 255, 241, 0.3);
  --hue-120-200a: rgba(255, 255, 214, 0.3);
  --hue-120-300a: rgba(254, 254, 187, 0.3);
  --hue-120-400a: rgba(253, 253, 92, 0.3);
  --hue-120-500a: rgba(169, 169, 61, 0.3);
  --hue-120-600a: rgba(127, 127, 46, 0.3);
  --hue-120-700a: rgba(84, 84, 31, 0.3);
  --hue-120-800a: rgba(63, 63, 23, 0.3);
  --hue-120-900a: rgba(21, 21, 8, 0.3);
  --hue-150-100a: rgba(252, 255, 241, 0.3);
  --hue-150-200a: rgba(246, 255, 214, 0.3);
  --hue-150-300a: rgba(239, 254, 187, 0.3);
  --hue-150-400a: rgba(217, 253, 92, 0.3);
  --hue-150-500a: rgba(145, 169, 61, 0.3);
  --hue-150-600a: rgba(109, 127, 46, 0.3);
  --hue-150-700a: rgba(72, 84, 31, 0.3);
  --hue-150-800a: rgba(54, 63, 23, 0.3);
  --hue-150-900a: rgba(18, 21, 8, 0.3);
  --hue-180-100a: rgba(247, 255, 241, 0.3);
  --hue-180-200a: rgba(231, 255, 214, 0.3);
  --hue-180-300a: rgba(215, 254, 187, 0.3);
  --hue-180-400a: rgba(158, 253, 92, 0.3);
  --hue-180-500a: rgba(105, 169, 61, 0.3);
  --hue-180-600a: rgba(79, 127, 46, 0.3);
  --hue-180-700a: rgba(53, 84, 31, 0.3);
  --hue-180-800a: rgba(40, 63, 23, 0.3);
  --hue-180-900a: rgba(13, 21, 8, 0.3);
  --hue-210-100a: rgba(241, 255, 251, 0.3);
  --hue-210-200a: rgba(214, 255, 244, 0.3);
  --hue-210-300a: rgba(187, 254, 236, 0.3);
  --hue-210-400a: rgba(92, 253, 209, 0.3);
  --hue-210-500a: rgba(61, 169, 139, 0.3);
  --hue-210-600a: rgba(46, 127, 105, 0.3);
  --hue-210-700a: rgba(31, 84, 70, 0.3);
  --hue-210-800a: rgba(23, 63, 52, 0.3);
  --hue-210-900a: rgba(8, 21, 17, 0.3);
  --hue-240-100a: rgba(241, 245, 255, 0.3);
  --hue-240-200a: rgba(214, 225, 255, 0.3);
  --hue-240-300a: rgba(187, 205, 254, 0.3);
  --hue-240-400a: rgba(92, 136, 253, 0.3);
  --hue-240-500a: rgba(61, 91, 169, 0.3);
  --hue-240-600a: rgba(46, 68, 127, 0.3);
  --hue-240-700a: rgba(31, 45, 84, 0.3);
  --hue-240-800a: rgba(23, 34, 63, 0.3);
  --hue-240-900a: rgba(8, 11, 21, 0.3);
  --hue-270-100a: rgba(247, 241, 255, 0.3);
  --hue-270-200a: rgba(230, 214, 255, 0.3);
  --hue-270-300a: rgba(214, 187, 254, 0.3);
  --hue-270-400a: rgba(156, 92, 253, 0.3);
  --hue-270-500a: rgba(104, 61, 169, 0.3);
  --hue-270-600a: rgba(78, 46, 127, 0.3);
  --hue-270-700a: rgba(52, 31, 84, 0.3);
  --hue-270-800a: rgba(39, 23, 63, 0.3);
  --hue-270-900a: rgba(13, 8, 21, 0.3);
  --hue-300-100a: rgba(255, 241, 255, 0.3);
  --hue-300-200a: rgba(255, 214, 255, 0.3);
  --hue-300-300a: rgba(254, 187, 254, 0.3);
  --hue-300-400a: rgba(253, 92, 253, 0.3);
  --hue-300-500a: rgba(169, 61, 169, 0.3);
  --hue-300-600a: rgba(127, 46, 127, 0.3);
  --hue-300-700a: rgba(84, 31, 84, 0.3);
  --hue-300-800a: rgba(63, 23, 63, 0.3);
  --hue-300-900a: rgba(21, 8, 21, 0.3);
  --hue-330-100a: rgba(255, 241, 246, 0.3);
  --hue-330-200a: rgba(255, 214, 227, 0.3);
  --hue-330-300a: rgba(254, 187, 208, 0.3);
  --hue-330-400a: rgba(253, 92, 142, 0.3);
  --hue-330-500a: rgba(169, 61, 95, 0.3);
  --hue-330-600a: rgba(127, 46, 71, 0.3);
  --hue-330-700a: rgba(84, 31, 47, 0.3);
  --hue-330-800a: rgba(63, 23, 36, 0.3);
  --hue-330-900a: rgba(21, 8, 12, 0.3);
  --complementary-100a: rgba(248, 253, 242, 0.3);
  --complementary-200a: rgba(235, 249, 215, 0.3);
  --complementary-300a: rgba(222, 245, 188, 0.3);
  --complementary-400a: rgba(176, 232, 93, 0.3);
  --complementary-500a: rgba(117, 155, 62, 0.3);
  --complementary-600a: rgba(88, 116, 47, 0.3);
  --complementary-700a: rgba(59, 77, 31, 0.3);
  --complementary-800a: rgba(44, 58, 23, 0.3);
  --complementary-900a: rgba(15, 19, 8, 0.3);
  --analogous1-100a: rgba(255, 244, 242, 0.3);
  --analogous1-200a: rgba(255, 221, 215, 0.3);
  --analogous1-300a: rgba(254, 199, 188, 0.3);
  --analogous1-400a: rgba(253, 120, 94, 0.3);
  --analogous1-500a: rgba(169, 80, 63, 0.3);
  --analogous1-600a: rgba(127, 60, 47, 0.3);
  --analogous1-700a: rgba(84, 40, 31, 0.3);
  --analogous1-800a: rgba(63, 30, 24, 0.3);
  --analogous1-900a: rgba(21, 10, 8, 0.3);
  --analogous2-100a: rgba(255, 246, 242, 0.3);
  --analogous2-200a: rgba(255, 229, 215, 0.3);
  --analogous2-300a: rgba(254, 212, 188, 0.3);
  --analogous2-400a: rgba(253, 151, 94, 0.3);
  --analogous2-500a: rgba(169, 101, 63, 0.3);
  --analogous2-600a: rgba(127, 76, 47, 0.3);
  --analogous2-700a: rgba(84, 50, 31, 0.3);
  --analogous2-800a: rgba(63, 38, 24, 0.3);
  --analogous2-900a: rgba(21, 13, 8, 0.3);
  --analogous3-100a: rgba(255, 250, 242, 0.3);
  --analogous3-200a: rgba(255, 240, 215, 0.3);
  --analogous3-300a: rgba(254, 230, 188, 0.3);
  --analogous3-400a: rgba(253, 194, 93, 0.3);
  --analogous3-500a: rgba(169, 129, 62, 0.3);
  --analogous3-600a: rgba(127, 97, 47, 0.3);
  --analogous3-700a: rgba(84, 65, 31, 0.3);
  --analogous3-800a: rgba(63, 49, 23, 0.3);
  --analogous3-900a: rgba(21, 16, 8, 0.3);
  --split1-100a: rgba(252, 253, 242, 0.3);
  --split1-200a: rgba(247, 249, 215, 0.3);
  --split1-300a: rgba(242, 245, 188, 0.3);
  --split1-400a: rgba(224, 232, 93, 0.3);
  --split1-500a: rgba(149, 155, 62, 0.3);
  --split1-600a: rgba(112, 116, 47, 0.3);
  --split1-700a: rgba(75, 77, 31, 0.3);
  --split1-800a: rgba(56, 58, 23, 0.3);
  --split1-900a: rgba(19, 19, 8, 0.3);
  --split2-100a: rgba(245, 252, 248, 0.3);
  --split2-200a: rgba(224, 245, 235, 0.3);
  --split2-300a: rgba(203, 239, 222, 0.3);
  --split2-400a: rgba(129, 216, 176, 0.3);
  --split2-500a: rgba(86, 144, 117, 0.3);
  --split2-600a: rgba(65, 108, 88, 0.3);
  --split2-700a: rgba(43, 72, 59, 0.3);
  --split2-800a: rgba(32, 54, 44, 0.3);
  --split2-900a: rgba(11, 18, 15, 0.3);
  --square1-100a: rgba(255, 250, 242, 0.3);
  --square1-200a: rgba(255, 240, 215, 0.3);
  --square1-300a: rgba(254, 230, 188, 0.3);
  --square1-400a: rgba(253, 194, 93, 0.3);
  --square1-500a: rgba(169, 129, 62, 0.3);
  --square1-600a: rgba(127, 97, 47, 0.3);
  --square1-700a: rgba(84, 65, 31, 0.3);
  --square1-800a: rgba(63, 49, 23, 0.3);
  --square1-900a: rgba(21, 16, 8, 0.3);
  --square2-100a: rgba(248, 253, 242, 0.3);
  --square2-200a: rgba(235, 249, 215, 0.3);
  --square2-300a: rgba(222, 245, 188, 0.3);
  --square2-400a: rgba(176, 232, 93, 0.3);
  --square2-500a: rgba(117, 155, 62, 0.3);
  --square2-600a: rgba(88, 116, 47, 0.3);
  --square2-700a: rgba(59, 77, 31, 0.3);
  --square2-800a: rgba(44, 58, 23, 0.3);
  --square2-900a: rgba(15, 19, 8, 0.3);
  --square3-100a: rgba(248, 241, 252, 0.3);
  --square3-200a: rgba(233, 214, 246, 0.3);
  --square3-300a: rgba(218, 187, 240, 0.3);
  --square3-400a: rgba(166, 92, 218, 0.3);
  --square3-500a: rgba(111, 61, 145, 0.3);
  --square3-600a: rgba(83, 46, 109, 0.3);
  --square3-700a: rgba(55, 31, 73, 0.3);
  --square3-800a: rgba(42, 23, 55, 0.3);
  --square3-900a: rgba(14, 8, 18, 0.3);
  --triadic1-100a: rgba(255, 253, 242, 0.3);
  --triadic1-200a: rgba(255, 249, 215, 0.3);
  --triadic1-300a: rgba(254, 244, 188, 0.3);
  --triadic1-400a: rgba(253, 229, 93, 0.3);
  --triadic1-500a: rgba(169, 153, 62, 0.3);
  --triadic1-600a: rgba(127, 115, 47, 0.3);
  --triadic1-700a: rgba(84, 76, 31, 0.3);
  --triadic1-800a: rgba(63, 57, 23, 0.3);
  --triadic1-900a: rgba(21, 19, 8, 0.3);
  --triadic2-100a: rgba(245, 245, 252, 0.3);
  --triadic2-200a: rgba(224, 226, 246, 0.3);
  --triadic2-300a: rgba(203, 206, 240, 0.3);
  --triadic2-400a: rgba(129, 137, 218, 0.3);
  --triadic2-500a: rgba(86, 91, 145, 0.3);
  --triadic2-600a: rgba(65, 69, 109, 0.3);
  --triadic2-700a: rgba(43, 46, 73, 0.3);
  --triadic2-800a: rgba(32, 34, 55, 0.3);
  --triadic2-900a: rgba(11, 11, 18, 0.3);
  --tetradic1-100a: rgba(255, 246, 242, 0.3);
  --tetradic1-200a: rgba(255, 229, 215, 0.3);
  --tetradic1-300a: rgba(254, 212, 188, 0.3);
  --tetradic1-400a: rgba(253, 151, 94, 0.3);
  --tetradic1-500a: rgba(169, 101, 63, 0.3);
  --tetradic1-600a: rgba(127, 76, 47, 0.3);
  --tetradic1-700a: rgba(84, 50, 31, 0.3);
  --tetradic1-800a: rgba(63, 38, 24, 0.3);
  --tetradic1-900a: rgba(21, 13, 8, 0.3);
  --tetradic2-100a: rgba(248, 253, 242, 0.3);
  --tetradic2-200a: rgba(235, 249, 215, 0.3);
  --tetradic2-300a: rgba(222, 245, 188, 0.3);
  --tetradic2-400a: rgba(176, 232, 93, 0.3);
  --tetradic2-500a: rgba(117, 155, 62, 0.3);
  --tetradic2-600a: rgba(88, 116, 47, 0.3);
  --tetradic2-700a: rgba(59, 77, 31, 0.3);
  --tetradic2-800a: rgba(44, 58, 23, 0.3);
  --tetradic2-900a: rgba(15, 19, 8, 0.3);
  --tetradic3-100a: rgba(245, 245, 252, 0.3);
  --tetradic3-200a: rgba(224, 226, 246, 0.3);
  --tetradic3-300a: rgba(203, 206, 240, 0.3);
  --tetradic3-400a: rgba(129, 137, 218, 0.3);
  --tetradic3-500a: rgba(86, 91, 145, 0.3);
  --tetradic3-600a: rgba(65, 69, 109, 0.3);
  --tetradic3-700a: rgba(43, 46, 73, 0.3);
  --tetradic3-800a: rgba(32, 34, 55, 0.3);
  --tetradic3-900a: rgba(11, 11, 18, 0.3);
  --success-100a: rgba(247, 255, 241, 0.3);
  --success-200a: rgba(231, 255, 214, 0.3);
  --success-300a: rgba(215, 254, 187, 0.3);
  --success-400a: rgba(158, 253, 92, 0.3);
  --success-500a: rgba(105, 169, 61, 0.3);
  --success-600a: rgba(79, 127, 46, 0.3);
  --success-700a: rgba(53, 84, 31, 0.3);
  --success-800a: rgba(40, 63, 23, 0.3);
  --success-900a: rgba(13, 21, 8, 0.3);
  --danger-100a: rgba(255, 243, 241, 0.3);
  --danger-200a: rgba(255, 218, 214, 0.3);
  --danger-300a: rgba(254, 193, 187, 0.3);
  --danger-400a: rgba(253, 106, 92, 0.3);
  --danger-500a: rgba(169, 71, 61, 0.3);
  --danger-600a: rgba(127, 53, 46, 0.3);
  --danger-700a: rgba(84, 35, 31, 0.3);
  --danger-800a: rgba(63, 27, 23, 0.3);
  --danger-900a: rgba(21, 9, 8, 0.3);
  --warning-100a: rgba(255, 248, 241, 0.3);
  --warning-200a: rgba(255, 235, 214, 0.3);
  --warning-300a: rgba(254, 221, 187, 0.3);
  --warning-400a: rgba(253, 173, 92, 0.3);
  --warning-500a: rgba(169, 115, 61, 0.3);
  --warning-600a: rgba(127, 87, 46, 0.3);
  --warning-700a: rgba(84, 58, 31, 0.3);
  --warning-800a: rgba(63, 43, 23, 0.3);
  --warning-900a: rgba(21, 14, 8, 0.3);
  --info-100a: rgba(241, 245, 255, 0.3);
  --info-200a: rgba(214, 225, 255, 0.3);
  --info-300a: rgba(187, 205, 254, 0.3);
  --info-400a: rgba(92, 136, 253, 0.3);
  --info-500a: rgba(61, 91, 169, 0.3);
  --info-600a: rgba(46, 68, 127, 0.3);
  --info-700a: rgba(31, 45, 84, 0.3);
  --info-800a: rgba(23, 34, 63, 0.3);
  --info-900a: rgba(8, 11, 21, 0.3);
}
