:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #fefafa;
  --primary-200: #fbeff0;
  --primary-300: #f7e5e6;
  --primary-400: #ecc0c2;
  --primary-500: #c8abac;
  --primary-600: #b6a0a1;
  --primary-700: #a49596;
  --primary-800: #9b9090;
  --primary-900: #898585;
  --hue-0-100: #fefafa;
  --hue-0-200: #fbefef;
  --hue-0-300: #f7e5e5;
  --hue-0-400: #ecc0c0;
  --hue-0-500: #c8abab;
  --hue-0-600: #b6a0a0;
  --hue-0-700: #a49595;
  --hue-0-800: #9b9090;
  --hue-0-900: #898585;
  --hue-30-100: #fefcfa;
  --hue-30-200: #fdf5ed;
  --hue-30-300: #faeee2;
  --hue-30-400: #ecd6c0;
  --hue-30-500: #cdb9a5;
  --hue-30-600: #baab9c;
  --hue-30-700: #a69d93;
  --hue-30-800: #9d958e;
  --hue-30-900: #898785;
  --hue-60-100: #fefef9;
  --hue-60-200: #fdfded;
  --hue-60-300: #fafae2;
  --hue-60-400: #f4f4b8;
  --hue-60-500: #cdcda5;
  --hue-60-600: #baba9c;
  --hue-60-700: #a6a693;
  --hue-60-800: #9d9d8e;
  --hue-60-900: #898985;
  --hue-90-100: #fcfefa;
  --hue-90-200: #f5fbef;
  --hue-90-300: #eef7e5;
  --hue-90-400: #d6ecc0;
  --hue-90-500: #b9c8ab;
  --hue-90-600: #abb6a0;
  --hue-90-700: #9da495;
  --hue-90-800: #959b90;
  --hue-90-900: #878985;
  --hue-120-100: #fafefa;
  --hue-120-200: #effbef;
  --hue-120-300: #e5f7e5;
  --hue-120-400: #c0ecc0;
  --hue-120-500: #abc8ab;
  --hue-120-600: #a0b6a0;
  --hue-120-700: #95a495;
  --hue-120-800: #909b90;
  --hue-120-900: #858985;
  --hue-150-100: #fafefc;
  --hue-150-200: #effbf5;
  --hue-150-300: #e5f7ee;
  --hue-150-400: #c0ecd6;
  --hue-150-500: #abc8b9;
  --hue-150-600: #a0b6ab;
  --hue-150-700: #95a49d;
  --hue-150-800: #909b95;
  --hue-150-900: #858987;
  --hue-180-100: #fafefe;
  --hue-180-200: #effbfb;
  --hue-180-300: #e5f7f7;
  --hue-180-400: #c0ecec;
  --hue-180-500: #abc8c8;
  --hue-180-600: #a0b6b6;
  --hue-180-700: #95a4a4;
  --hue-180-800: #909b9b;
  --hue-180-900: #858989;
  --hue-210-100: #fafcfe;
  --hue-210-200: #eff5fb;
  --hue-210-300: #e5eef7;
  --hue-210-400: #c0d6ec;
  --hue-210-500: #abb9c8;
  --hue-210-600: #a0abb6;
  --hue-210-700: #959da4;
  --hue-210-800: #90959b;
  --hue-210-900: #868788;
  --hue-240-100: #fafafd;
  --hue-240-200: #f1f1f9;
  --hue-240-300: #e8e8f4;
  --hue-240-400: #c7c7e5;
  --hue-240-500: #afafc4;
  --hue-240-600: #a3a3b3;
  --hue-240-700: #9797a2;
  --hue-240-800: #919199;
  --hue-240-900: #868688;
  --hue-270-100: #fcfafd;
  --hue-270-200: #f5f0fa;
  --hue-270-300: #eee6f6;
  --hue-270-400: #d6c3e9;
  --hue-270-500: #b9acc6;
  --hue-270-600: #aba1b5;
  --hue-270-700: #9d96a3;
  --hue-270-800: #95909a;
  --hue-270-900: #878688;
  --hue-300-100: #fdfafd;
  --hue-300-200: #faf0fa;
  --hue-300-300: #f6e6f6;
  --hue-300-400: #e9c3e9;
  --hue-300-500: #c6acc6;
  --hue-300-600: #b5a1b5;
  --hue-300-700: #a396a3;
  --hue-300-800: #9a909a;
  --hue-300-900: #898589;
  --hue-330-100: #fefafc;
  --hue-330-200: #fbeff5;
  --hue-330-300: #f7e5ee;
  --hue-330-400: #ecc0d6;
  --hue-330-500: #c8abb9;
  --hue-330-600: #b6a0ab;
  --hue-330-700: #a4959d;
  --hue-330-800: #9b9095;
  --hue-330-900: #898587;
  --complementary-100: #fafefd;
  --complementary-200: #effbfa;
  --complementary-300: #e5f7f6;
  --complementary-400: #c0ecea;
  --complementary-500: #abc8c6;
  --complementary-600: #a0b6b5;
  --complementary-700: #95a4a3;
  --complementary-800: #909b9a;
  --complementary-900: #858989;
  --analogous1-100: #fefcfa;
  --analogous1-200: #fbf5ef;
  --analogous1-300: #f7ede5;
  --analogous1-400: #ecd4c0;
  --analogous1-500: #c8b8ab;
  --analogous1-600: #b6aaa0;
  --analogous1-700: #a49c95;
  --analogous1-800: #9b9590;
  --analogous1-900: #898785;
  --analogous2-100: #fefef9;
  --analogous2-200: #fdfced;
  --analogous2-300: #faf9e2;
  --analogous2-400: #f4f1b8;
  --analogous2-500: #cdcba5;
  --analogous2-600: #bab99c;
  --analogous2-700: #a6a693;
  --analogous2-800: #9d9c8e;
  --analogous2-900: #898985;
  --analogous3-100: #fcfef9;
  --analogous3-200: #f6fded;
  --analogous3-300: #effae2;
  --analogous3-400: #d9f4b8;
  --analogous3-500: #bbcda5;
  --analogous3-600: #acba9c;
  --analogous3-700: #9da693;
  --analogous3-800: #969d8e;
  --analogous3-900: #878985;
  --split1-100: #fafefc;
  --split1-200: #effbf5;
  --split1-300: #e5f7ed;
  --split1-400: #c0ecd4;
  --split1-500: #abc8b8;
  --split1-600: #a0b6aa;
  --split1-700: #95a49c;
  --split1-800: #909b95;
  --split1-900: #858987;
  --split2-100: #fafcfe;
  --split2-200: #eff5fb;
  --split2-300: #e5eff7;
  --split2-400: #c0d8ec;
  --split2-500: #abbbc8;
  --split2-600: #a0acb6;
  --split2-700: #959da4;
  --split2-800: #90969b;
  --split2-900: #858789;
  --square1-100: #fcfef9;
  --square1-200: #f6fded;
  --square1-300: #effae2;
  --square1-400: #d9f4b8;
  --square1-500: #bbcda5;
  --square1-600: #acba9c;
  --square1-700: #9da693;
  --square1-800: #969d8e;
  --square1-900: #878985;
  --square2-100: #fafefd;
  --square2-200: #effbfa;
  --square2-300: #e5f7f6;
  --square2-400: #c0ecea;
  --square2-500: #abc8c6;
  --square2-600: #a0b6b5;
  --square2-700: #95a4a3;
  --square2-800: #909b9a;
  --square2-900: #858989;
  --square3-100: #fcfafd;
  --square3-200: #f5f1f9;
  --square3-300: #eee8f4;
  --square3-400: #d5c7e5;
  --square3-500: #b8afc4;
  --square3-600: #aaa3b3;
  --square3-700: #9c97a2;
  --square3-800: #959199;
  --square3-900: #878688;
  --triadic1-100: #fafefa;
  --triadic1-200: #f0fbef;
  --triadic1-300: #e6f7e5;
  --triadic1-400: #c2ecc0;
  --triadic1-500: #acc8ab;
  --triadic1-600: #a1b6a0;
  --triadic1-700: #96a495;
  --triadic1-800: #909b90;
  --triadic1-900: #858985;
  --triadic2-100: #fafbfd;
  --triadic2-200: #f1f1f9;
  --triadic2-300: #e8e8f4;
  --triadic2-400: #c7c8e5;
  --triadic2-500: #afb0c4;
  --triadic2-600: #a3a4b3;
  --triadic2-700: #9798a2;
  --triadic2-800: #919299;
  --triadic2-900: #868688;
  --tetradic1-100: #fefef9;
  --tetradic1-200: #fdfced;
  --tetradic1-300: #faf9e2;
  --tetradic1-400: #f4f1b8;
  --tetradic1-500: #cdcba5;
  --tetradic1-600: #bab99c;
  --tetradic1-700: #a6a693;
  --tetradic1-800: #9d9c8e;
  --tetradic1-900: #898985;
  --tetradic2-100: #fafefd;
  --tetradic2-200: #effbfa;
  --tetradic2-300: #e5f7f6;
  --tetradic2-400: #c0ecea;
  --tetradic2-500: #abc8c6;
  --tetradic2-600: #a0b6b5;
  --tetradic2-700: #95a4a3;
  --tetradic2-800: #909b9a;
  --tetradic2-900: #858989;
  --tetradic3-100: #fafbfd;
  --tetradic3-200: #f1f1f9;
  --tetradic3-300: #e8e8f4;
  --tetradic3-400: #c7c8e5;
  --tetradic3-500: #afb0c4;
  --tetradic3-600: #a3a4b3;
  --tetradic3-700: #9798a2;
  --tetradic3-800: #919299;
  --tetradic3-900: #868688;
  --success-100: #fafefa;
  --success-200: #effbef;
  --success-300: #e5f7e5;
  --success-400: #c0ecc0;
  --success-500: #abc8ab;
  --success-600: #a0b6a0;
  --success-700: #95a495;
  --success-800: #909b90;
  --success-900: #858985;
  --danger-100: #fefafa;
  --danger-200: #fbefef;
  --danger-300: #f7e5e5;
  --danger-400: #ecc0c0;
  --danger-500: #c8abab;
  --danger-600: #b6a0a0;
  --danger-700: #a49595;
  --danger-800: #9b9090;
  --danger-900: #898585;
  --warning-100: #fefcfa;
  --warning-200: #fdf5ed;
  --warning-300: #faeee2;
  --warning-400: #f4d6b8;
  --warning-500: #cdb9a5;
  --warning-600: #baab9c;
  --warning-700: #a69d93;
  --warning-800: #9d958e;
  --warning-900: #898785;
  --info-100: #fafcfe;
  --info-200: #eff5fb;
  --info-300: #e5eef7;
  --info-400: #c0d6ec;
  --info-500: #abb9c8;
  --info-600: #a0abb6;
  --info-700: #959da4;
  --info-800: #90959b;
  --info-900: #868788;
  --primary-100n: #fcf4f5;
  --primary-200n: #f6dfe1;
  --primary-300n: #efcacc;
  --primary-400n: #d88185;
  --primary-500n: #905659;
  --primary-600n: #6c4143;
  --primary-700n: #482b2c;
  --primary-800n: #362021;
  --primary-900n: #120b0b;
  --hue-0-100n: #fcf4f4;
  --hue-0-200n: #f6dfdf;
  --hue-0-300n: #efcaca;
  --hue-0-400n: #d88181;
  --hue-0-500n: #905656;
  --hue-0-600n: #6c4141;
  --hue-0-700n: #482b2b;
  --hue-0-800n: #362020;
  --hue-0-900n: #120b0b;
  --hue-30-100n: #fcf8f4;
  --hue-30-200n: #faebdb;
  --hue-30-300n: #f5ddc4;
  --hue-30-400n: #d8ad81;
  --hue-30-500n: #9b734b;
  --hue-30-600n: #745739;
  --hue-30-700n: #4d3a26;
  --hue-30-800n: #3a2b1c;
  --hue-30-900n: #120e0b;
  --hue-60-100n: #fdfdf3;
  --hue-60-200n: #fafadb;
  --hue-60-300n: #f5f5c4;
  --hue-60-400n: #e8e871;
  --hue-60-500n: #9b9b4b;
  --hue-60-600n: #747439;
  --hue-60-700n: #4d4d26;
  --hue-60-800n: #3a3a1c;
  --hue-60-900n: #13130a;
  --hue-90-100n: #f8fcf4;
  --hue-90-200n: #ebf6df;
  --hue-90-300n: #ddefca;
  --hue-90-400n: #add881;
  --hue-90-500n: #739056;
  --hue-90-600n: #576c41;
  --hue-90-700n: #3a482b;
  --hue-90-800n: #2b3620;
  --hue-90-900n: #0e120b;
  --hue-120-100n: #f4fcf4;
  --hue-120-200n: #dff6df;
  --hue-120-300n: #caefca;
  --hue-120-400n: #81d881;
  --hue-120-500n: #569056;
  --hue-120-600n: #416c41;
  --hue-120-700n: #2b482b;
  --hue-120-800n: #203620;
  --hue-120-900n: #0b120b;
  --hue-150-100n: #f4fcf8;
  --hue-150-200n: #dff6eb;
  --hue-150-300n: #caefdd;
  --hue-150-400n: #81d8ad;
  --hue-150-500n: #569073;
  --hue-150-600n: #416c57;
  --hue-150-700n: #2b483a;
  --hue-150-800n: #20362b;
  --hue-150-900n: #0b120e;
  --hue-180-100n: #f4fcfc;
  --hue-180-200n: #dff6f6;
  --hue-180-300n: #caefef;
  --hue-180-400n: #81d8d8;
  --hue-180-500n: #569090;
  --hue-180-600n: #416c6c;
  --hue-180-700n: #2b4848;
  --hue-180-800n: #203636;
  --hue-180-900n: #0b1212;
  --hue-210-100n: #f4f8fc;
  --hue-210-200n: #dfebf6;
  --hue-210-300n: #caddef;
  --hue-210-400n: #81add8;
  --hue-210-500n: #567390;
  --hue-210-600n: #41576c;
  --hue-210-700n: #2b3a48;
  --hue-210-800n: #202b36;
  --hue-210-900n: #0c0e11;
  --hue-240-100n: #f5f5fb;
  --hue-240-200n: #e3e3f2;
  --hue-240-300n: #d0d0e9;
  --hue-240-400n: #8e8ecb;
  --hue-240-500n: #5e5e88;
  --hue-240-600n: #474766;
  --hue-240-700n: #2f2f44;
  --hue-240-800n: #232333;
  --hue-240-900n: #0c0c11;
  --hue-270-100n: #f8f5fb;
  --hue-270-200n: #ebe1f4;
  --hue-270-300n: #ddcced;
  --hue-270-400n: #ad86d3;
  --hue-270-500n: #73598d;
  --hue-270-600n: #57436a;
  --hue-270-700n: #3a2d46;
  --hue-270-800n: #2b2135;
  --hue-270-900n: #0e0c11;
  --hue-300-100n: #fbf5fb;
  --hue-300-200n: #f4e1f4;
  --hue-300-300n: #edcced;
  --hue-300-400n: #d386d3;
  --hue-300-500n: #8d598d;
  --hue-300-600n: #6a436a;
  --hue-300-700n: #462d46;
  --hue-300-800n: #352135;
  --hue-300-900n: #120b12;
  --hue-330-100n: #fcf4f8;
  --hue-330-200n: #f6dfeb;
  --hue-330-300n: #efcadd;
  --hue-330-400n: #d881ad;
  --hue-330-500n: #905673;
  --hue-330-600n: #6c4157;
  --hue-330-700n: #482b3a;
  --hue-330-800n: #36202b;
  --hue-330-900n: #120b0e;
  --complementary-100n: #f4fcfb;
  --complementary-200n: #dff6f4;
  --complementary-300n: #caefed;
  --complementary-400n: #81d8d4;
  --complementary-500n: #56908d;
  --complementary-600n: #416c6a;
  --complementary-700n: #2b4847;
  --complementary-800n: #203635;
  --complementary-900n: #0b1212;
  --analogous1-100n: #fcf8f4;
  --analogous1-200n: #f6eadf;
  --analogous1-300n: #efdbca;
  --analogous1-400n: #d8a981;
  --analogous1-500n: #907156;
  --analogous1-600n: #6c5541;
  --analogous1-700n: #48382b;
  --analogous1-800n: #362a20;
  --analogous1-900n: #120e0b;
  --analogous2-100n: #fdfcf3;
  --analogous2-200n: #faf8db;
  --analogous2-300n: #f5f3c4;
  --analogous2-400n: #e8e371;
  --analogous2-500n: #9b974b;
  --analogous2-600n: #747239;
  --analogous2-700n: #4d4c26;
  --analogous2-800n: #3a391c;
  --analogous2-900n: #13130a;
  --analogous3-100n: #f9fdf3;
  --analogous3-200n: #ecfadb;
  --analogous3-300n: #dff5c4;
  --analogous3-400n: #b2e871;
  --analogous3-500n: #779b4b;
  --analogous3-600n: #597439;
  --analogous3-700n: #3b4d26;
  --analogous3-800n: #2c3a1c;
  --analogous3-900n: #0f130a;
  --split1-100n: #f4fcf8;
  --split1-200n: #dff6ea;
  --split1-300n: #caefdb;
  --split1-400n: #81d8a9;
  --split1-500n: #569071;
  --split1-600n: #416c55;
  --split1-700n: #2b4838;
  --split1-800n: #20362a;
  --split1-900n: #0b120e;
  --split2-100n: #f4f9fc;
  --split2-200n: #dfebf6;
  --split2-300n: #cadeef;
  --split2-400n: #81b1d8;
  --split2-500n: #567690;
  --split2-600n: #41586c;
  --split2-700n: #2b3b48;
  --split2-800n: #202c36;
  --split2-900n: #0b0f12;
  --square1-100n: #f9fdf3;
  --square1-200n: #ecfadb;
  --square1-300n: #dff5c4;
  --square1-400n: #b2e871;
  --square1-500n: #779b4b;
  --square1-600n: #597439;
  --square1-700n: #3b4d26;
  --square1-800n: #2c3a1c;
  --square1-900n: #0f130a;
  --square2-100n: #f4fcfb;
  --square2-200n: #dff6f4;
  --square2-300n: #caefed;
  --square2-400n: #81d8d4;
  --square2-500n: #56908d;
  --square2-600n: #416c6a;
  --square2-700n: #2b4847;
  --square2-800n: #203635;
  --square2-900n: #0b1212;
  --square3-100n: #f8f5fb;
  --square3-200n: #eae3f2;
  --square3-300n: #dcd0e9;
  --square3-400n: #aa8ecb;
  --square3-500n: #715e88;
  --square3-600n: #554766;
  --square3-700n: #392f44;
  --square3-800n: #2b2333;
  --square3-900n: #0e0c11;
  --triadic1-100n: #f5fcf4;
  --triadic1-200n: #e1f6df;
  --triadic1-300n: #ccefca;
  --triadic1-400n: #85d881;
  --triadic1-500n: #599056;
  --triadic1-600n: #436c41;
  --triadic1-700n: #2c482b;
  --triadic1-800n: #213620;
  --triadic1-900n: #0b120b;
  --triadic2-100n: #f5f6fb;
  --triadic2-200n: #e3e3f2;
  --triadic2-300n: #d0d1e9;
  --triadic2-400n: #8e91cb;
  --triadic2-500n: #5e6088;
  --triadic2-600n: #474966;
  --triadic2-700n: #2f3044;
  --triadic2-800n: #232433;
  --triadic2-900n: #0c0c11;
  --tetradic1-100n: #fdfcf3;
  --tetradic1-200n: #faf8db;
  --tetradic1-300n: #f5f3c4;
  --tetradic1-400n: #e8e371;
  --tetradic1-500n: #9b974b;
  --tetradic1-600n: #747239;
  --tetradic1-700n: #4d4c26;
  --tetradic1-800n: #3a391c;
  --tetradic1-900n: #13130a;
  --tetradic2-100n: #f4fcfb;
  --tetradic2-200n: #dff6f4;
  --tetradic2-300n: #caefed;
  --tetradic2-400n: #81d8d4;
  --tetradic2-500n: #56908d;
  --tetradic2-600n: #416c6a;
  --tetradic2-700n: #2b4847;
  --tetradic2-800n: #203635;
  --tetradic2-900n: #0b1212;
  --tetradic3-100n: #f5f6fb;
  --tetradic3-200n: #e3e3f2;
  --tetradic3-300n: #d0d1e9;
  --tetradic3-400n: #8e91cb;
  --tetradic3-500n: #5e6088;
  --tetradic3-600n: #474966;
  --tetradic3-700n: #2f3044;
  --tetradic3-800n: #232433;
  --tetradic3-900n: #0c0c11;
  --success-100n: #f4fcf4;
  --success-200n: #dff6df;
  --success-300n: #caefca;
  --success-400n: #81d881;
  --success-500n: #569056;
  --success-600n: #416c41;
  --success-700n: #2b482b;
  --success-800n: #203620;
  --success-900n: #0b120b;
  --danger-100n: #fcf4f4;
  --danger-200n: #f6dfdf;
  --danger-300n: #efcaca;
  --danger-400n: #d88181;
  --danger-500n: #905656;
  --danger-600n: #6c4141;
  --danger-700n: #482b2b;
  --danger-800n: #362020;
  --danger-900n: #120b0b;
  --warning-100n: #fcf8f4;
  --warning-200n: #faebdb;
  --warning-300n: #f5ddc4;
  --warning-400n: #e8ad71;
  --warning-500n: #9b734b;
  --warning-600n: #745739;
  --warning-700n: #4d3a26;
  --warning-800n: #3a2b1c;
  --warning-900n: #120e0b;
  --info-100n: #f4f8fc;
  --info-200n: #dfebf6;
  --info-300n: #caddef;
  --info-400n: #81add8;
  --info-500n: #567390;
  --info-600n: #41576c;
  --info-700n: #2b3a48;
  --info-800n: #202b36;
  --info-900n: #0c0e11;
  --primary-100a: rgba(255, 241, 242, 0.3);
  --primary-200a: rgba(255, 214, 216, 0.3);
  --primary-300a: rgba(254, 187, 190, 0.3);
  --primary-400a: rgba(253, 92, 99, 0.3);
  --primary-500a: rgba(169, 61, 66, 0.3);
  --primary-600a: rgba(127, 46, 50, 0.3);
  --primary-700a: rgba(84, 31, 33, 0.3);
  --primary-800a: rgba(63, 23, 25, 0.3);
  --primary-900a: rgba(21, 8, 8, 0.3);
  --hue-0-100a: rgba(255, 241, 241, 0.3);
  --hue-0-200a: rgba(255, 214, 214, 0.3);
  --hue-0-300a: rgba(254, 187, 187, 0.3);
  --hue-0-400a: rgba(253, 92, 92, 0.3);
  --hue-0-500a: rgba(169, 61, 61, 0.3);
  --hue-0-600a: rgba(127, 46, 46, 0.3);
  --hue-0-700a: rgba(84, 31, 31, 0.3);
  --hue-0-800a: rgba(63, 23, 23, 0.3);
  --hue-0-900a: rgba(21, 8, 8, 0.3);
  --hue-30-100a: rgba(255, 248, 241, 0.3);
  --hue-30-200a: rgba(255, 235, 214, 0.3);
  --hue-30-300a: rgba(254, 221, 187, 0.3);
  --hue-30-400a: rgba(253, 173, 92, 0.3);
  --hue-30-500a: rgba(169, 115, 61, 0.3);
  --hue-30-600a: rgba(127, 87, 46, 0.3);
  --hue-30-700a: rgba(84, 58, 31, 0.3);
  --hue-30-800a: rgba(63, 43, 23, 0.3);
  --hue-30-900a: rgba(21, 14, 8, 0.3);
  --hue-60-100a: rgba(255, 255, 241, 0.3);
  --hue-60-200a: rgba(255, 255, 214, 0.3);
  --hue-60-300a: rgba(254, 254, 187, 0.3);
  --hue-60-400a: rgba(253, 253, 92, 0.3);
  --hue-60-500a: rgba(169, 169, 61, 0.3);
  --hue-60-600a: rgba(127, 127, 46, 0.3);
  --hue-60-700a: rgba(84, 84, 31, 0.3);
  --hue-60-800a: rgba(63, 63, 23, 0.3);
  --hue-60-900a: rgba(21, 21, 8, 0.3);
  --hue-90-100a: rgba(248, 255, 241, 0.3);
  --hue-90-200a: rgba(235, 255, 214, 0.3);
  --hue-90-300a: rgba(221, 254, 187, 0.3);
  --hue-90-400a: rgba(173, 253, 92, 0.3);
  --hue-90-500a: rgba(115, 169, 61, 0.3);
  --hue-90-600a: rgba(87, 127, 46, 0.3);
  --hue-90-700a: rgba(58, 84, 31, 0.3);
  --hue-90-800a: rgba(43, 63, 23, 0.3);
  --hue-90-900a: rgba(14, 21, 8, 0.3);
  --hue-120-100a: rgba(241, 255, 241, 0.3);
  --hue-120-200a: rgba(214, 255, 214, 0.3);
  --hue-120-300a: rgba(187, 254, 187, 0.3);
  --hue-120-400a: rgba(92, 253, 92, 0.3);
  --hue-120-500a: rgba(61, 169, 61, 0.3);
  --hue-120-600a: rgba(46, 127, 46, 0.3);
  --hue-120-700a: rgba(31, 84, 31, 0.3);
  --hue-120-800a: rgba(23, 63, 23, 0.3);
  --hue-120-900a: rgba(8, 21, 8, 0.3);
  --hue-150-100a: rgba(241, 255, 248, 0.3);
  --hue-150-200a: rgba(214, 255, 235, 0.3);
  --hue-150-300a: rgba(187, 254, 221, 0.3);
  --hue-150-400a: rgba(92, 253, 173, 0.3);
  --hue-150-500a: rgba(61, 169, 115, 0.3);
  --hue-150-600a: rgba(46, 127, 87, 0.3);
  --hue-150-700a: rgba(31, 84, 58, 0.3);
  --hue-150-800a: rgba(23, 63, 43, 0.3);
  --hue-150-900a: rgba(8, 21, 14, 0.3);
  --hue-180-100a: rgba(241, 255, 255, 0.3);
  --hue-180-200a: rgba(214, 255, 255, 0.3);
  --hue-180-300a: rgba(187, 254, 254, 0.3);
  --hue-180-400a: rgba(92, 253, 253, 0.3);
  --hue-180-500a: rgba(61, 169, 169, 0.3);
  --hue-180-600a: rgba(46, 127, 127, 0.3);
  --hue-180-700a: rgba(31, 84, 84, 0.3);
  --hue-180-800a: rgba(23, 63, 63, 0.3);
  --hue-180-900a: rgba(8, 21, 21, 0.3);
  --hue-210-100a: rgba(241, 248, 255, 0.3);
  --hue-210-200a: rgba(214, 235, 255, 0.3);
  --hue-210-300a: rgba(187, 221, 254, 0.3);
  --hue-210-400a: rgba(92, 173, 253, 0.3);
  --hue-210-500a: rgba(61, 115, 169, 0.3);
  --hue-210-600a: rgba(46, 87, 127, 0.3);
  --hue-210-700a: rgba(31, 58, 84, 0.3);
  --hue-210-800a: rgba(23, 43, 63, 0.3);
  --hue-210-900a: rgba(8, 14, 21, 0.3);
  --hue-240-100a: rgba(241, 241, 255, 0.3);
  --hue-240-200a: rgba(214, 214, 255, 0.3);
  --hue-240-300a: rgba(187, 187, 254, 0.3);
  --hue-240-400a: rgba(92, 92, 253, 0.3);
  --hue-240-500a: rgba(61, 61, 169, 0.3);
  --hue-240-600a: rgba(46, 46, 127, 0.3);
  --hue-240-700a: rgba(31, 31, 84, 0.3);
  --hue-240-800a: rgba(23, 23, 63, 0.3);
  --hue-240-900a: rgba(8, 8, 21, 0.3);
  --hue-270-100a: rgba(248, 241, 255, 0.3);
  --hue-270-200a: rgba(235, 214, 255, 0.3);
  --hue-270-300a: rgba(221, 187, 254, 0.3);
  --hue-270-400a: rgba(173, 92, 253, 0.3);
  --hue-270-500a: rgba(115, 61, 169, 0.3);
  --hue-270-600a: rgba(87, 46, 127, 0.3);
  --hue-270-700a: rgba(58, 31, 84, 0.3);
  --hue-270-800a: rgba(43, 23, 63, 0.3);
  --hue-270-900a: rgba(14, 8, 21, 0.3);
  --hue-300-100a: rgba(255, 241, 255, 0.3);
  --hue-300-200a: rgba(255, 214, 255, 0.3);
  --hue-300-300a: rgba(254, 187, 254, 0.3);
  --hue-300-400a: rgba(253, 92, 253, 0.3);
  --hue-300-500a: rgba(169, 61, 169, 0.3);
  --hue-300-600a: rgba(127, 46, 127, 0.3);
  --hue-300-700a: rgba(84, 31, 84, 0.3);
  --hue-300-800a: rgba(63, 23, 63, 0.3);
  --hue-300-900a: rgba(21, 8, 21, 0.3);
  --hue-330-100a: rgba(255, 241, 248, 0.3);
  --hue-330-200a: rgba(255, 214, 235, 0.3);
  --hue-330-300a: rgba(254, 187, 221, 0.3);
  --hue-330-400a: rgba(253, 92, 173, 0.3);
  --hue-330-500a: rgba(169, 61, 115, 0.3);
  --hue-330-600a: rgba(127, 46, 87, 0.3);
  --hue-330-700a: rgba(84, 31, 58, 0.3);
  --hue-330-800a: rgba(63, 23, 43, 0.3);
  --hue-330-900a: rgba(21, 8, 14, 0.3);
  --complementary-100a: rgba(241, 255, 254, 0.3);
  --complementary-200a: rgba(214, 255, 253, 0.3);
  --complementary-300a: rgba(187, 254, 251, 0.3);
  --complementary-400a: rgba(92, 253, 246, 0.3);
  --complementary-500a: rgba(61, 169, 164, 0.3);
  --complementary-600a: rgba(46, 127, 123, 0.3);
  --complementary-700a: rgba(31, 84, 82, 0.3);
  --complementary-800a: rgba(23, 63, 62, 0.3);
  --complementary-900a: rgba(8, 21, 21, 0.3);
  --analogous1-100a: rgba(255, 248, 241, 0.3);
  --analogous1-200a: rgba(255, 233, 214, 0.3);
  --analogous1-300a: rgba(254, 218, 187, 0.3);
  --analogous1-400a: rgba(253, 166, 92, 0.3);
  --analogous1-500a: rgba(169, 111, 61, 0.3);
  --analogous1-600a: rgba(127, 83, 46, 0.3);
  --analogous1-700a: rgba(84, 55, 31, 0.3);
  --analogous1-800a: rgba(63, 42, 23, 0.3);
  --analogous1-900a: rgba(21, 14, 8, 0.3);
  --analogous2-100a: rgba(255, 254, 241, 0.3);
  --analogous2-200a: rgba(255, 253, 214, 0.3);
  --analogous2-300a: rgba(254, 251, 187, 0.3);
  --analogous2-400a: rgba(253, 246, 92, 0.3);
  --analogous2-500a: rgba(169, 164, 61, 0.3);
  --analogous2-600a: rgba(127, 123, 46, 0.3);
  --analogous2-700a: rgba(84, 82, 31, 0.3);
  --analogous2-800a: rgba(63, 62, 23, 0.3);
  --analogous2-900a: rgba(21, 21, 8, 0.3);
  --analogous3-100a: rgba(249, 255, 241, 0.3);
  --analogous3-200a: rgba(236, 255, 214, 0.3);
  --analogous3-300a: rgba(224, 254, 187, 0.3);
  --analogous3-400a: rgba(180, 253, 92, 0.3);
  --analogous3-500a: rgba(120, 169, 61, 0.3);
  --analogous3-600a: rgba(90, 127, 46, 0.3);
  --analogous3-700a: rgba(60, 84, 31, 0.3);
  --analogous3-800a: rgba(45, 63, 23, 0.3);
  --analogous3-900a: rgba(15, 21, 8, 0.3);
  --split1-100a: rgba(241, 255, 248, 0.3);
  --split1-200a: rgba(214, 255, 233, 0.3);
  --split1-300a: rgba(187, 254, 218, 0.3);
  --split1-400a: rgba(92, 253, 166, 0.3);
  --split1-500a: rgba(61, 169, 111, 0.3);
  --split1-600a: rgba(46, 127, 83, 0.3);
  --split1-700a: rgba(31, 84, 55, 0.3);
  --split1-800a: rgba(23, 63, 42, 0.3);
  --split1-900a: rgba(8, 21, 14, 0.3);
  --split2-100a: rgba(241, 249, 255, 0.3);
  --split2-200a: rgba(214, 236, 255, 0.3);
  --split2-300a: rgba(187, 224, 254, 0.3);
  --split2-400a: rgba(92, 180, 253, 0.3);
  --split2-500a: rgba(61, 120, 169, 0.3);
  --split2-600a: rgba(46, 90, 127, 0.3);
  --split2-700a: rgba(31, 60, 84, 0.3);
  --split2-800a: rgba(23, 45, 63, 0.3);
  --split2-900a: rgba(8, 15, 21, 0.3);
  --square1-100a: rgba(249, 255, 241, 0.3);
  --square1-200a: rgba(236, 255, 214, 0.3);
  --square1-300a: rgba(224, 254, 187, 0.3);
  --square1-400a: rgba(180, 253, 92, 0.3);
  --square1-500a: rgba(120, 169, 61, 0.3);
  --square1-600a: rgba(90, 127, 46, 0.3);
  --square1-700a: rgba(60, 84, 31, 0.3);
  --square1-800a: rgba(45, 63, 23, 0.3);
  --square1-900a: rgba(15, 21, 8, 0.3);
  --square2-100a: rgba(241, 255, 254, 0.3);
  --square2-200a: rgba(214, 255, 253, 0.3);
  --square2-300a: rgba(187, 254, 251, 0.3);
  --square2-400a: rgba(92, 253, 246, 0.3);
  --square2-500a: rgba(61, 169, 164, 0.3);
  --square2-600a: rgba(46, 127, 123, 0.3);
  --square2-700a: rgba(31, 84, 82, 0.3);
  --square2-800a: rgba(23, 63, 62, 0.3);
  --square2-900a: rgba(8, 21, 21, 0.3);
  --square3-100a: rgba(248, 241, 255, 0.3);
  --square3-200a: rgba(233, 214, 255, 0.3);
  --square3-300a: rgba(218, 187, 254, 0.3);
  --square3-400a: rgba(166, 92, 253, 0.3);
  --square3-500a: rgba(111, 61, 169, 0.3);
  --square3-600a: rgba(83, 46, 127, 0.3);
  --square3-700a: rgba(55, 31, 84, 0.3);
  --square3-800a: rgba(42, 23, 63, 0.3);
  --square3-900a: rgba(14, 8, 21, 0.3);
  --triadic1-100a: rgba(242, 255, 241, 0.3);
  --triadic1-200a: rgba(216, 255, 214, 0.3);
  --triadic1-300a: rgba(190, 254, 187, 0.3);
  --triadic1-400a: rgba(99, 253, 92, 0.3);
  --triadic1-500a: rgba(66, 169, 61, 0.3);
  --triadic1-600a: rgba(50, 127, 46, 0.3);
  --triadic1-700a: rgba(33, 84, 31, 0.3);
  --triadic1-800a: rgba(25, 63, 23, 0.3);
  --triadic1-900a: rgba(8, 21, 8, 0.3);
  --triadic2-100a: rgba(241, 242, 255, 0.3);
  --triadic2-200a: rgba(214, 216, 255, 0.3);
  --triadic2-300a: rgba(187, 190, 254, 0.3);
  --triadic2-400a: rgba(92, 99, 253, 0.3);
  --triadic2-500a: rgba(61, 66, 169, 0.3);
  --triadic2-600a: rgba(46, 50, 127, 0.3);
  --triadic2-700a: rgba(31, 33, 84, 0.3);
  --triadic2-800a: rgba(23, 25, 63, 0.3);
  --triadic2-900a: rgba(8, 8, 21, 0.3);
  --tetradic1-100a: rgba(255, 254, 241, 0.3);
  --tetradic1-200a: rgba(255, 253, 214, 0.3);
  --tetradic1-300a: rgba(254, 251, 187, 0.3);
  --tetradic1-400a: rgba(253, 246, 92, 0.3);
  --tetradic1-500a: rgba(169, 164, 61, 0.3);
  --tetradic1-600a: rgba(127, 123, 46, 0.3);
  --tetradic1-700a: rgba(84, 82, 31, 0.3);
  --tetradic1-800a: rgba(63, 62, 23, 0.3);
  --tetradic1-900a: rgba(21, 21, 8, 0.3);
  --tetradic2-100a: rgba(241, 255, 254, 0.3);
  --tetradic2-200a: rgba(214, 255, 253, 0.3);
  --tetradic2-300a: rgba(187, 254, 251, 0.3);
  --tetradic2-400a: rgba(92, 253, 246, 0.3);
  --tetradic2-500a: rgba(61, 169, 164, 0.3);
  --tetradic2-600a: rgba(46, 127, 123, 0.3);
  --tetradic2-700a: rgba(31, 84, 82, 0.3);
  --tetradic2-800a: rgba(23, 63, 62, 0.3);
  --tetradic2-900a: rgba(8, 21, 21, 0.3);
  --tetradic3-100a: rgba(241, 242, 255, 0.3);
  --tetradic3-200a: rgba(214, 216, 255, 0.3);
  --tetradic3-300a: rgba(187, 190, 254, 0.3);
  --tetradic3-400a: rgba(92, 99, 253, 0.3);
  --tetradic3-500a: rgba(61, 66, 169, 0.3);
  --tetradic3-600a: rgba(46, 50, 127, 0.3);
  --tetradic3-700a: rgba(31, 33, 84, 0.3);
  --tetradic3-800a: rgba(23, 25, 63, 0.3);
  --tetradic3-900a: rgba(8, 8, 21, 0.3);
  --success-100a: rgba(241, 255, 241, 0.3);
  --success-200a: rgba(214, 255, 214, 0.3);
  --success-300a: rgba(187, 254, 187, 0.3);
  --success-400a: rgba(92, 253, 92, 0.3);
  --success-500a: rgba(61, 169, 61, 0.3);
  --success-600a: rgba(46, 127, 46, 0.3);
  --success-700a: rgba(31, 84, 31, 0.3);
  --success-800a: rgba(23, 63, 23, 0.3);
  --success-900a: rgba(8, 21, 8, 0.3);
  --danger-100a: rgba(255, 241, 241, 0.3);
  --danger-200a: rgba(255, 214, 214, 0.3);
  --danger-300a: rgba(254, 187, 187, 0.3);
  --danger-400a: rgba(253, 92, 92, 0.3);
  --danger-500a: rgba(169, 61, 61, 0.3);
  --danger-600a: rgba(127, 46, 46, 0.3);
  --danger-700a: rgba(84, 31, 31, 0.3);
  --danger-800a: rgba(63, 23, 23, 0.3);
  --danger-900a: rgba(21, 8, 8, 0.3);
  --warning-100a: rgba(255, 248, 241, 0.3);
  --warning-200a: rgba(255, 235, 214, 0.3);
  --warning-300a: rgba(254, 221, 187, 0.3);
  --warning-400a: rgba(253, 173, 92, 0.3);
  --warning-500a: rgba(169, 115, 61, 0.3);
  --warning-600a: rgba(127, 87, 46, 0.3);
  --warning-700a: rgba(84, 58, 31, 0.3);
  --warning-800a: rgba(63, 43, 23, 0.3);
  --warning-900a: rgba(21, 14, 8, 0.3);
  --info-100a: rgba(241, 248, 255, 0.3);
  --info-200a: rgba(214, 235, 255, 0.3);
  --info-300a: rgba(187, 221, 254, 0.3);
  --info-400a: rgba(92, 173, 253, 0.3);
  --info-500a: rgba(61, 115, 169, 0.3);
  --info-600a: rgba(46, 87, 127, 0.3);
  --info-700a: rgba(31, 58, 84, 0.3);
  --info-800a: rgba(23, 43, 63, 0.3);
  --info-900a: rgba(8, 14, 21, 0.3);
}
