:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #fff1f2;
  --primary-200: #ffd6d8;
  --primary-300: #febbbe;
  --primary-400: #fd5c63;
  --primary-500: #a93d42;
  --primary-600: #7f2e32;
  --primary-700: #541f21;
  --primary-800: #3f1719;
  --primary-900: #150808;
  --hue-0-100: #fff1f1;
  --hue-0-200: #ffd6d6;
  --hue-0-300: #febbbb;
  --hue-0-400: #fd5c5c;
  --hue-0-500: #a93d3d;
  --hue-0-600: #7f2e2e;
  --hue-0-700: #541f1f;
  --hue-0-800: #3f1717;
  --hue-0-900: #150808;
  --hue-30-100: #fff8f1;
  --hue-30-200: #ffebd6;
  --hue-30-300: #feddbb;
  --hue-30-400: #fdad5c;
  --hue-30-500: #a9733d;
  --hue-30-600: #7f572e;
  --hue-30-700: #543a1f;
  --hue-30-800: #3f2b17;
  --hue-30-900: #150e08;
  --hue-60-100: #fffff1;
  --hue-60-200: #ffffd6;
  --hue-60-300: #fefebb;
  --hue-60-400: #fdfd5c;
  --hue-60-500: #a9a93d;
  --hue-60-600: #7f7f2e;
  --hue-60-700: #54541f;
  --hue-60-800: #3f3f17;
  --hue-60-900: #151508;
  --hue-90-100: #f8fff1;
  --hue-90-200: #ebffd6;
  --hue-90-300: #ddfebb;
  --hue-90-400: #adfd5c;
  --hue-90-500: #73a93d;
  --hue-90-600: #577f2e;
  --hue-90-700: #3a541f;
  --hue-90-800: #2b3f17;
  --hue-90-900: #0e1508;
  --hue-120-100: #f1fff1;
  --hue-120-200: #d6ffd6;
  --hue-120-300: #bbfebb;
  --hue-120-400: #5cfd5c;
  --hue-120-500: #3da93d;
  --hue-120-600: #2e7f2e;
  --hue-120-700: #1f541f;
  --hue-120-800: #173f17;
  --hue-120-900: #081508;
  --hue-150-100: #f1fff8;
  --hue-150-200: #d6ffeb;
  --hue-150-300: #bbfedd;
  --hue-150-400: #5cfdad;
  --hue-150-500: #3da973;
  --hue-150-600: #2e7f57;
  --hue-150-700: #1f543a;
  --hue-150-800: #173f2b;
  --hue-150-900: #08150e;
  --hue-180-100: #f1ffff;
  --hue-180-200: #d6ffff;
  --hue-180-300: #bbfefe;
  --hue-180-400: #5cfdfd;
  --hue-180-500: #3da9a9;
  --hue-180-600: #2e7f7f;
  --hue-180-700: #1f5454;
  --hue-180-800: #173f3f;
  --hue-180-900: #081515;
  --hue-210-100: #f1f8ff;
  --hue-210-200: #d6ebff;
  --hue-210-300: #bbddfe;
  --hue-210-400: #5cadfd;
  --hue-210-500: #3d73a9;
  --hue-210-600: #2e577f;
  --hue-210-700: #1f3a54;
  --hue-210-800: #172b3f;
  --hue-210-900: #080e15;
  --hue-240-100: #f1f1ff;
  --hue-240-200: #d6d6ff;
  --hue-240-300: #bbbbfe;
  --hue-240-400: #5c5cfd;
  --hue-240-500: #3d3da9;
  --hue-240-600: #2e2e7f;
  --hue-240-700: #1f1f54;
  --hue-240-800: #17173f;
  --hue-240-900: #080815;
  --hue-270-100: #f8f1ff;
  --hue-270-200: #ebd6ff;
  --hue-270-300: #ddbbfe;
  --hue-270-400: #ad5cfd;
  --hue-270-500: #733da9;
  --hue-270-600: #572e7f;
  --hue-270-700: #3a1f54;
  --hue-270-800: #2b173f;
  --hue-270-900: #0e0815;
  --hue-300-100: #fff1ff;
  --hue-300-200: #ffd6ff;
  --hue-300-300: #febbfe;
  --hue-300-400: #fd5cfd;
  --hue-300-500: #a93da9;
  --hue-300-600: #7f2e7f;
  --hue-300-700: #541f54;
  --hue-300-800: #3f173f;
  --hue-300-900: #150815;
  --hue-330-100: #fff1f8;
  --hue-330-200: #ffd6eb;
  --hue-330-300: #febbdd;
  --hue-330-400: #fd5cad;
  --hue-330-500: #a93d73;
  --hue-330-600: #7f2e57;
  --hue-330-700: #541f3a;
  --hue-330-800: #3f172b;
  --hue-330-900: #15080e;
  --complementary-100: #f5fcfb;
  --complementary-200: #e0f5f4;
  --complementary-300: #cbefed;
  --complementary-400: #81d8d4;
  --complementary-500: #56908d;
  --complementary-600: #416c6a;
  --complementary-700: #2b4847;
  --complementary-800: #203635;
  --complementary-900: #0b1212;
  --analogous1-100: #fff6f2;
  --analogous1-200: #ffe5d7;
  --analogous1-300: #fed3bc;
  --analogous1-400: #fd955e;
  --analogous1-500: #a9633f;
  --analogous1-600: #7f4b2f;
  --analogous1-700: #54321f;
  --analogous1-800: #3f2518;
  --analogous1-900: #150c08;
  --analogous2-100: #fffdf2;
  --analogous2-200: #fff8d7;
  --analogous2-300: #fef3bc;
  --analogous2-400: #fde25d;
  --analogous2-500: #a9973e;
  --analogous2-600: #7f712f;
  --analogous2-700: #544b1f;
  --analogous2-800: #3f3917;
  --analogous2-900: #151308;
  --analogous3-100: #fafdf2;
  --analogous3-200: #eff9d7;
  --analogous3-300: #e4f5bc;
  --analogous3-400: #bde85d;
  --analogous3-500: #7e9b3e;
  --analogous3-600: #5f742f;
  --analogous3-700: #3f4d1f;
  --analogous3-800: #2f3a17;
  --analogous3-900: #101308;
  --split1-100: #f5fcf6;
  --split1-200: #e0f5e5;
  --split1-300: #cbefd4;
  --split1-400: #81d897;
  --split1-500: #569065;
  --split1-600: #416c4c;
  --split1-700: #2b4832;
  --split1-800: #203626;
  --split1-900: #0b120d;
  --split2-100: #f5f7fc;
  --split2-200: #e0e7f6;
  --split2-300: #cbd7f0;
  --split2-400: #81a0da;
  --split2-500: #566b91;
  --split2-600: #41506d;
  --split2-700: #2b3549;
  --split2-800: #202837;
  --split2-900: #0b0d12;
  --square1-100: #fafdf2;
  --square1-200: #eff9d7;
  --square1-300: #e4f5bc;
  --square1-400: #bde85d;
  --square1-500: #7e9b3e;
  --square1-600: #5f742f;
  --square1-700: #3f4d1f;
  --square1-800: #2f3a17;
  --square1-900: #101308;
  --square2-100: #f5fcfb;
  --square2-200: #e0f5f4;
  --square2-300: #cbefed;
  --square2-400: #81d8d4;
  --square2-500: #56908d;
  --square2-600: #416c6a;
  --square2-700: #2b4847;
  --square2-800: #203635;
  --square2-900: #0b1212;
  --square3-100: #f9f1fc;
  --square3-200: #eed6f6;
  --square3-300: #e2bbf0;
  --square3-400: #ba5cda;
  --square3-500: #7c3d91;
  --square3-600: #5d2e6d;
  --square3-700: #3e1f49;
  --square3-800: #2f1737;
  --square3-900: #100812;
  --triadic1-100: #f4fdf2;
  --triadic1-200: #ddf9d7;
  --triadic1-300: #c6f5bc;
  --triadic1-400: #77e85d;
  --triadic1-500: #4f9b3e;
  --triadic1-600: #3c742f;
  --triadic1-700: #284d1f;
  --triadic1-800: #1e3a17;
  --triadic1-900: #0a1308;
  --triadic2-100: #f5f2fc;
  --triadic2-200: #e0d8f6;
  --triadic2-300: #cbbdf0;
  --triadic2-400: #8161da;
  --triadic2-500: #564191;
  --triadic2-600: #41316d;
  --triadic2-700: #2b2049;
  --triadic2-800: #201837;
  --triadic2-900: #0b0812;
  --tetradic1-100: #fffdf2;
  --tetradic1-200: #fff8d7;
  --tetradic1-300: #fef3bc;
  --tetradic1-400: #fde25d;
  --tetradic1-500: #a9973e;
  --tetradic1-600: #7f712f;
  --tetradic1-700: #544b1f;
  --tetradic1-800: #3f3917;
  --tetradic1-900: #151308;
  --tetradic2-100: #f5fcfb;
  --tetradic2-200: #e0f5f4;
  --tetradic2-300: #cbefed;
  --tetradic2-400: #81d8d4;
  --tetradic2-500: #56908d;
  --tetradic2-600: #416c6a;
  --tetradic2-700: #2b4847;
  --tetradic2-800: #203635;
  --tetradic2-900: #0b1212;
  --tetradic3-100: #f5f2fc;
  --tetradic3-200: #e0d8f6;
  --tetradic3-300: #cbbdf0;
  --tetradic3-400: #8161da;
  --tetradic3-500: #564191;
  --tetradic3-600: #41316d;
  --tetradic3-700: #2b2049;
  --tetradic3-800: #201837;
  --tetradic3-900: #0b0812;
  --success-100: #f1fff1;
  --success-200: #d6ffd6;
  --success-300: #bbfebb;
  --success-400: #5cfd5c;
  --success-500: #3da93d;
  --success-600: #2e7f2e;
  --success-700: #1f541f;
  --success-800: #173f17;
  --success-900: #081508;
  --danger-100: #fff1f1;
  --danger-200: #ffd6d6;
  --danger-300: #febbbb;
  --danger-400: #fd5c5c;
  --danger-500: #a93d3d;
  --danger-600: #7f2e2e;
  --danger-700: #541f1f;
  --danger-800: #3f1717;
  --danger-900: #150808;
  --warning-100: #fff8f1;
  --warning-200: #ffebd6;
  --warning-300: #feddbb;
  --warning-400: #fdad5c;
  --warning-500: #a9733d;
  --warning-600: #7f572e;
  --warning-700: #543a1f;
  --warning-800: #3f2b17;
  --warning-900: #150e08;
  --info-100: #f1f8ff;
  --info-200: #d6ebff;
  --info-300: #bbddfe;
  --info-400: #5cadfd;
  --info-500: #3d73a9;
  --info-600: #2e577f;
  --info-700: #1f3a54;
  --info-800: #172b3f;
  --info-900: #080e15;
  --primary-100n: #fcf4f5;
  --primary-200n: #f6dfe1;
  --primary-300n: #efcacc;
  --primary-400n: #d88185;
  --primary-500n: #905659;
  --primary-600n: #6c4143;
  --primary-700n: #482b2c;
  --primary-800n: #362021;
  --primary-900n: #120b0b;
  --hue-0-100n: #fcf4f4;
  --hue-0-200n: #f6dfdf;
  --hue-0-300n: #efcaca;
  --hue-0-400n: #d88181;
  --hue-0-500n: #905656;
  --hue-0-600n: #6c4141;
  --hue-0-700n: #482b2b;
  --hue-0-800n: #362020;
  --hue-0-900n: #120b0b;
  --hue-30-100n: #fcf8f4;
  --hue-30-200n: #faebdb;
  --hue-30-300n: #f5ddc4;
  --hue-30-400n: #d8ad81;
  --hue-30-500n: #9b734b;
  --hue-30-600n: #745739;
  --hue-30-700n: #4d3a26;
  --hue-30-800n: #3a2b1c;
  --hue-30-900n: #120e0b;
  --hue-60-100n: #fdfdf3;
  --hue-60-200n: #fafadb;
  --hue-60-300n: #f5f5c4;
  --hue-60-400n: #e8e871;
  --hue-60-500n: #9b9b4b;
  --hue-60-600n: #747439;
  --hue-60-700n: #4d4d26;
  --hue-60-800n: #3a3a1c;
  --hue-60-900n: #13130a;
  --hue-90-100n: #f8fcf4;
  --hue-90-200n: #ebf6df;
  --hue-90-300n: #ddefca;
  --hue-90-400n: #add881;
  --hue-90-500n: #739056;
  --hue-90-600n: #576c41;
  --hue-90-700n: #3a482b;
  --hue-90-800n: #2b3620;
  --hue-90-900n: #0e120b;
  --hue-120-100n: #f4fcf4;
  --hue-120-200n: #dff6df;
  --hue-120-300n: #caefca;
  --hue-120-400n: #81d881;
  --hue-120-500n: #569056;
  --hue-120-600n: #416c41;
  --hue-120-700n: #2b482b;
  --hue-120-800n: #203620;
  --hue-120-900n: #0b120b;
  --hue-150-100n: #f4fcf8;
  --hue-150-200n: #dff6eb;
  --hue-150-300n: #caefdd;
  --hue-150-400n: #81d8ad;
  --hue-150-500n: #569073;
  --hue-150-600n: #416c57;
  --hue-150-700n: #2b483a;
  --hue-150-800n: #20362b;
  --hue-150-900n: #0b120e;
  --hue-180-100n: #f4fcfc;
  --hue-180-200n: #dff6f6;
  --hue-180-300n: #caefef;
  --hue-180-400n: #81d8d8;
  --hue-180-500n: #569090;
  --hue-180-600n: #416c6c;
  --hue-180-700n: #2b4848;
  --hue-180-800n: #203636;
  --hue-180-900n: #0b1212;
  --hue-210-100n: #f4f8fc;
  --hue-210-200n: #dfebf6;
  --hue-210-300n: #caddef;
  --hue-210-400n: #81add8;
  --hue-210-500n: #567390;
  --hue-210-600n: #41576c;
  --hue-210-700n: #2b3a48;
  --hue-210-800n: #202b36;
  --hue-210-900n: #0c0e11;
  --hue-240-100n: #f5f5fb;
  --hue-240-200n: #e3e3f2;
  --hue-240-300n: #d0d0e9;
  --hue-240-400n: #8e8ecb;
  --hue-240-500n: #5e5e88;
  --hue-240-600n: #474766;
  --hue-240-700n: #2f2f44;
  --hue-240-800n: #232333;
  --hue-240-900n: #0c0c11;
  --hue-270-100n: #f8f5fb;
  --hue-270-200n: #ebe1f4;
  --hue-270-300n: #ddcced;
  --hue-270-400n: #ad86d3;
  --hue-270-500n: #73598d;
  --hue-270-600n: #57436a;
  --hue-270-700n: #3a2d46;
  --hue-270-800n: #2b2135;
  --hue-270-900n: #0e0c11;
  --hue-300-100n: #fbf5fb;
  --hue-300-200n: #f4e1f4;
  --hue-300-300n: #edcced;
  --hue-300-400n: #d386d3;
  --hue-300-500n: #8d598d;
  --hue-300-600n: #6a436a;
  --hue-300-700n: #462d46;
  --hue-300-800n: #352135;
  --hue-300-900n: #120b12;
  --hue-330-100n: #fcf4f8;
  --hue-330-200n: #f6dfeb;
  --hue-330-300n: #efcadd;
  --hue-330-400n: #d881ad;
  --hue-330-500n: #905673;
  --hue-330-600n: #6c4157;
  --hue-330-700n: #482b3a;
  --hue-330-800n: #36202b;
  --hue-330-900n: #120b0e;
  --complementary-100n: #f7fafa;
  --complementary-200n: #e5f0f0;
  --complementary-300n: #d3e7e6;
  --complementary-400n: #95c4c2;
  --complementary-500n: #638381;
  --complementary-600n: #4b6261;
  --complementary-700n: #324141;
  --complementary-800n: #253130;
  --complementary-900n: #0d1010;
  --analogous1-100n: #fcf7f5;
  --analogous1-200n: #f6e8e0;
  --analogous1-300n: #efd8cb;
  --analogous1-400n: #d8a083;
  --analogous1-500n: #916b57;
  --analogous1-600n: #6d5141;
  --analogous1-700n: #48352b;
  --analogous1-800n: #362821;
  --analogous1-900n: #120d0b;
  --analogous2-100n: #fdfcf4;
  --analogous2-200n: #faf5dc;
  --analogous2-300n: #f5edc5;
  --analogous2-400n: #e8d472;
  --analogous2-500n: #9b8e4c;
  --analogous2-600n: #756a39;
  --analogous2-700n: #4d4626;
  --analogous2-800n: #3a351c;
  --analogous2-900n: #13120a;
  --analogous3-100n: #f9fcf3;
  --analogous3-200n: #edf5db;
  --analogous3-300n: #e1eec3;
  --analogous3-400n: #b6d66f;
  --analogous3-500n: #798f4a;
  --analogous3-600n: #5b6b38;
  --analogous3-700n: #3d4725;
  --analogous3-800n: #2d351c;
  --analogous3-900n: #0f1209;
  --split1-100n: #f7faf7;
  --split1-200n: #e5f0e8;
  --split1-300n: #d3e7d8;
  --split1-400n: #95c4a1;
  --split1-500n: #63836b;
  --split1-600n: #4b6251;
  --split1-700n: #324135;
  --split1-800n: #253128;
  --split1-900n: #0d100e;
  --split2-100n: #f7f8fa;
  --split2-200n: #e7e9ef;
  --split2-300n: #d6dbe5;
  --split2-400n: #9da8be;
  --split2-500n: #68707f;
  --split2-600n: #4f545f;
  --split2-700n: #343840;
  --split2-800n: #272a30;
  --split2-900n: #0d0e10;
  --square1-100n: #f9fcf3;
  --square1-200n: #edf5db;
  --square1-300n: #e1eec3;
  --square1-400n: #b6d66f;
  --square1-500n: #798f4a;
  --square1-600n: #5b6b38;
  --square1-700n: #3d4725;
  --square1-800n: #2d351c;
  --square1-900n: #0f1209;
  --square2-100n: #f7fafa;
  --square2-200n: #e5f0f0;
  --square2-300n: #d3e7e6;
  --square2-400n: #95c4c2;
  --square2-500n: #638381;
  --square2-600n: #4b6261;
  --square2-700n: #324141;
  --square2-800n: #253130;
  --square2-900n: #0d1010;
  --square3-100n: #f8f4f9;
  --square3-200n: #eadeee;
  --square3-300n: #dcc9e2;
  --square3-400n: #aa7db9;
  --square3-500n: #71537b;
  --square3-600n: #553e5d;
  --square3-700n: #392a3e;
  --square3-800n: #2b1f2f;
  --square3-900n: #0e0b0f;
  --triadic1-100n: #f6faf5;
  --triadic1-200n: #e2f1df;
  --triadic1-300n: #cfe8c9;
  --triadic1-400n: #8bc87d;
  --triadic1-500n: #5d8653;
  --triadic1-600n: #46643f;
  --triadic1-700n: #2e422a;
  --triadic1-800n: #23321f;
  --triadic1-900n: #0c100b;
  --triadic2-100n: #f6f5f9;
  --triadic2-200n: #e4e1ed;
  --triadic2-300n: #d2cde0;
  --triadic2-400n: #9387b4;
  --triadic2-500n: #625a78;
  --triadic2-600n: #4a445a;
  --triadic2-700n: #312d3c;
  --triadic2-800n: #25222d;
  --triadic2-900n: #0c0b0f;
  --tetradic1-100n: #fdfcf4;
  --tetradic1-200n: #faf5dc;
  --tetradic1-300n: #f5edc5;
  --tetradic1-400n: #e8d472;
  --tetradic1-500n: #9b8e4c;
  --tetradic1-600n: #756a39;
  --tetradic1-700n: #4d4626;
  --tetradic1-800n: #3a351c;
  --tetradic1-900n: #13120a;
  --tetradic2-100n: #f7fafa;
  --tetradic2-200n: #e5f0f0;
  --tetradic2-300n: #d3e7e6;
  --tetradic2-400n: #95c4c2;
  --tetradic2-500n: #638381;
  --tetradic2-600n: #4b6261;
  --tetradic2-700n: #324141;
  --tetradic2-800n: #253130;
  --tetradic2-900n: #0d1010;
  --tetradic3-100n: #f6f5f9;
  --tetradic3-200n: #e4e1ed;
  --tetradic3-300n: #d2cde0;
  --tetradic3-400n: #9387b4;
  --tetradic3-500n: #625a78;
  --tetradic3-600n: #4a445a;
  --tetradic3-700n: #312d3c;
  --tetradic3-800n: #25222d;
  --tetradic3-900n: #0c0b0f;
  --success-100n: #f4fcf4;
  --success-200n: #dff6df;
  --success-300n: #caefca;
  --success-400n: #81d881;
  --success-500n: #569056;
  --success-600n: #416c41;
  --success-700n: #2b482b;
  --success-800n: #203620;
  --success-900n: #0b120b;
  --danger-100n: #fcf4f4;
  --danger-200n: #f6dfdf;
  --danger-300n: #efcaca;
  --danger-400n: #d88181;
  --danger-500n: #905656;
  --danger-600n: #6c4141;
  --danger-700n: #482b2b;
  --danger-800n: #362020;
  --danger-900n: #120b0b;
  --warning-100n: #fcf8f4;
  --warning-200n: #faebdb;
  --warning-300n: #f5ddc4;
  --warning-400n: #e8ad71;
  --warning-500n: #9b734b;
  --warning-600n: #745739;
  --warning-700n: #4d3a26;
  --warning-800n: #3a2b1c;
  --warning-900n: #120e0b;
  --info-100n: #f4f8fc;
  --info-200n: #dfebf6;
  --info-300n: #caddef;
  --info-400n: #81add8;
  --info-500n: #567390;
  --info-600n: #41576c;
  --info-700n: #2b3a48;
  --info-800n: #202b36;
  --info-900n: #0c0e11;
  --primary-100a: rgba(255, 241, 242, 0.3);
  --primary-200a: rgba(255, 214, 216, 0.3);
  --primary-300a: rgba(254, 187, 190, 0.3);
  --primary-400a: rgba(253, 92, 99, 0.3);
  --primary-500a: rgba(169, 61, 66, 0.3);
  --primary-600a: rgba(127, 46, 50, 0.3);
  --primary-700a: rgba(84, 31, 33, 0.3);
  --primary-800a: rgba(63, 23, 25, 0.3);
  --primary-900a: rgba(21, 8, 8, 0.3);
  --hue-0-100a: rgba(255, 241, 241, 0.3);
  --hue-0-200a: rgba(255, 214, 214, 0.3);
  --hue-0-300a: rgba(254, 187, 187, 0.3);
  --hue-0-400a: rgba(253, 92, 92, 0.3);
  --hue-0-500a: rgba(169, 61, 61, 0.3);
  --hue-0-600a: rgba(127, 46, 46, 0.3);
  --hue-0-700a: rgba(84, 31, 31, 0.3);
  --hue-0-800a: rgba(63, 23, 23, 0.3);
  --hue-0-900a: rgba(21, 8, 8, 0.3);
  --hue-30-100a: rgba(255, 248, 241, 0.3);
  --hue-30-200a: rgba(255, 235, 214, 0.3);
  --hue-30-300a: rgba(254, 221, 187, 0.3);
  --hue-30-400a: rgba(253, 173, 92, 0.3);
  --hue-30-500a: rgba(169, 115, 61, 0.3);
  --hue-30-600a: rgba(127, 87, 46, 0.3);
  --hue-30-700a: rgba(84, 58, 31, 0.3);
  --hue-30-800a: rgba(63, 43, 23, 0.3);
  --hue-30-900a: rgba(21, 14, 8, 0.3);
  --hue-60-100a: rgba(255, 255, 241, 0.3);
  --hue-60-200a: rgba(255, 255, 214, 0.3);
  --hue-60-300a: rgba(254, 254, 187, 0.3);
  --hue-60-400a: rgba(253, 253, 92, 0.3);
  --hue-60-500a: rgba(169, 169, 61, 0.3);
  --hue-60-600a: rgba(127, 127, 46, 0.3);
  --hue-60-700a: rgba(84, 84, 31, 0.3);
  --hue-60-800a: rgba(63, 63, 23, 0.3);
  --hue-60-900a: rgba(21, 21, 8, 0.3);
  --hue-90-100a: rgba(248, 255, 241, 0.3);
  --hue-90-200a: rgba(235, 255, 214, 0.3);
  --hue-90-300a: rgba(221, 254, 187, 0.3);
  --hue-90-400a: rgba(173, 253, 92, 0.3);
  --hue-90-500a: rgba(115, 169, 61, 0.3);
  --hue-90-600a: rgba(87, 127, 46, 0.3);
  --hue-90-700a: rgba(58, 84, 31, 0.3);
  --hue-90-800a: rgba(43, 63, 23, 0.3);
  --hue-90-900a: rgba(14, 21, 8, 0.3);
  --hue-120-100a: rgba(241, 255, 241, 0.3);
  --hue-120-200a: rgba(214, 255, 214, 0.3);
  --hue-120-300a: rgba(187, 254, 187, 0.3);
  --hue-120-400a: rgba(92, 253, 92, 0.3);
  --hue-120-500a: rgba(61, 169, 61, 0.3);
  --hue-120-600a: rgba(46, 127, 46, 0.3);
  --hue-120-700a: rgba(31, 84, 31, 0.3);
  --hue-120-800a: rgba(23, 63, 23, 0.3);
  --hue-120-900a: rgba(8, 21, 8, 0.3);
  --hue-150-100a: rgba(241, 255, 248, 0.3);
  --hue-150-200a: rgba(214, 255, 235, 0.3);
  --hue-150-300a: rgba(187, 254, 221, 0.3);
  --hue-150-400a: rgba(92, 253, 173, 0.3);
  --hue-150-500a: rgba(61, 169, 115, 0.3);
  --hue-150-600a: rgba(46, 127, 87, 0.3);
  --hue-150-700a: rgba(31, 84, 58, 0.3);
  --hue-150-800a: rgba(23, 63, 43, 0.3);
  --hue-150-900a: rgba(8, 21, 14, 0.3);
  --hue-180-100a: rgba(241, 255, 255, 0.3);
  --hue-180-200a: rgba(214, 255, 255, 0.3);
  --hue-180-300a: rgba(187, 254, 254, 0.3);
  --hue-180-400a: rgba(92, 253, 253, 0.3);
  --hue-180-500a: rgba(61, 169, 169, 0.3);
  --hue-180-600a: rgba(46, 127, 127, 0.3);
  --hue-180-700a: rgba(31, 84, 84, 0.3);
  --hue-180-800a: rgba(23, 63, 63, 0.3);
  --hue-180-900a: rgba(8, 21, 21, 0.3);
  --hue-210-100a: rgba(241, 248, 255, 0.3);
  --hue-210-200a: rgba(214, 235, 255, 0.3);
  --hue-210-300a: rgba(187, 221, 254, 0.3);
  --hue-210-400a: rgba(92, 173, 253, 0.3);
  --hue-210-500a: rgba(61, 115, 169, 0.3);
  --hue-210-600a: rgba(46, 87, 127, 0.3);
  --hue-210-700a: rgba(31, 58, 84, 0.3);
  --hue-210-800a: rgba(23, 43, 63, 0.3);
  --hue-210-900a: rgba(8, 14, 21, 0.3);
  --hue-240-100a: rgba(241, 241, 255, 0.3);
  --hue-240-200a: rgba(214, 214, 255, 0.3);
  --hue-240-300a: rgba(187, 187, 254, 0.3);
  --hue-240-400a: rgba(92, 92, 253, 0.3);
  --hue-240-500a: rgba(61, 61, 169, 0.3);
  --hue-240-600a: rgba(46, 46, 127, 0.3);
  --hue-240-700a: rgba(31, 31, 84, 0.3);
  --hue-240-800a: rgba(23, 23, 63, 0.3);
  --hue-240-900a: rgba(8, 8, 21, 0.3);
  --hue-270-100a: rgba(248, 241, 255, 0.3);
  --hue-270-200a: rgba(235, 214, 255, 0.3);
  --hue-270-300a: rgba(221, 187, 254, 0.3);
  --hue-270-400a: rgba(173, 92, 253, 0.3);
  --hue-270-500a: rgba(115, 61, 169, 0.3);
  --hue-270-600a: rgba(87, 46, 127, 0.3);
  --hue-270-700a: rgba(58, 31, 84, 0.3);
  --hue-270-800a: rgba(43, 23, 63, 0.3);
  --hue-270-900a: rgba(14, 8, 21, 0.3);
  --hue-300-100a: rgba(255, 241, 255, 0.3);
  --hue-300-200a: rgba(255, 214, 255, 0.3);
  --hue-300-300a: rgba(254, 187, 254, 0.3);
  --hue-300-400a: rgba(253, 92, 253, 0.3);
  --hue-300-500a: rgba(169, 61, 169, 0.3);
  --hue-300-600a: rgba(127, 46, 127, 0.3);
  --hue-300-700a: rgba(84, 31, 84, 0.3);
  --hue-300-800a: rgba(63, 23, 63, 0.3);
  --hue-300-900a: rgba(21, 8, 21, 0.3);
  --hue-330-100a: rgba(255, 241, 248, 0.3);
  --hue-330-200a: rgba(255, 214, 235, 0.3);
  --hue-330-300a: rgba(254, 187, 221, 0.3);
  --hue-330-400a: rgba(253, 92, 173, 0.3);
  --hue-330-500a: rgba(169, 61, 115, 0.3);
  --hue-330-600a: rgba(127, 46, 87, 0.3);
  --hue-330-700a: rgba(84, 31, 58, 0.3);
  --hue-330-800a: rgba(63, 23, 43, 0.3);
  --hue-330-900a: rgba(21, 8, 14, 0.3);
  --complementary-100a: rgba(245, 252, 251, 0.3);
  --complementary-200a: rgba(224, 245, 244, 0.3);
  --complementary-300a: rgba(203, 239, 237, 0.3);
  --complementary-400a: rgba(129, 216, 212, 0.3);
  --complementary-500a: rgba(86, 144, 141, 0.3);
  --complementary-600a: rgba(65, 108, 106, 0.3);
  --complementary-700a: rgba(43, 72, 71, 0.3);
  --complementary-800a: rgba(32, 54, 53, 0.3);
  --complementary-900a: rgba(11, 18, 18, 0.3);
  --analogous1-100a: rgba(255, 246, 242, 0.3);
  --analogous1-200a: rgba(255, 229, 215, 0.3);
  --analogous1-300a: rgba(254, 211, 188, 0.3);
  --analogous1-400a: rgba(253, 149, 94, 0.3);
  --analogous1-500a: rgba(169, 99, 63, 0.3);
  --analogous1-600a: rgba(127, 75, 47, 0.3);
  --analogous1-700a: rgba(84, 50, 31, 0.3);
  --analogous1-800a: rgba(63, 37, 24, 0.3);
  --analogous1-900a: rgba(21, 12, 8, 0.3);
  --analogous2-100a: rgba(255, 253, 242, 0.3);
  --analogous2-200a: rgba(255, 248, 215, 0.3);
  --analogous2-300a: rgba(254, 243, 188, 0.3);
  --analogous2-400a: rgba(253, 226, 93, 0.3);
  --analogous2-500a: rgba(169, 151, 62, 0.3);
  --analogous2-600a: rgba(127, 113, 47, 0.3);
  --analogous2-700a: rgba(84, 75, 31, 0.3);
  --analogous2-800a: rgba(63, 57, 23, 0.3);
  --analogous2-900a: rgba(21, 19, 8, 0.3);
  --analogous3-100a: rgba(250, 253, 242, 0.3);
  --analogous3-200a: rgba(239, 249, 215, 0.3);
  --analogous3-300a: rgba(228, 245, 188, 0.3);
  --analogous3-400a: rgba(189, 232, 93, 0.3);
  --analogous3-500a: rgba(126, 155, 62, 0.3);
  --analogous3-600a: rgba(95, 116, 47, 0.3);
  --analogous3-700a: rgba(63, 77, 31, 0.3);
  --analogous3-800a: rgba(47, 58, 23, 0.3);
  --analogous3-900a: rgba(16, 19, 8, 0.3);
  --split1-100a: rgba(245, 252, 246, 0.3);
  --split1-200a: rgba(224, 245, 229, 0.3);
  --split1-300a: rgba(203, 239, 212, 0.3);
  --split1-400a: rgba(129, 216, 151, 0.3);
  --split1-500a: rgba(86, 144, 101, 0.3);
  --split1-600a: rgba(65, 108, 76, 0.3);
  --split1-700a: rgba(43, 72, 50, 0.3);
  --split1-800a: rgba(32, 54, 38, 0.3);
  --split1-900a: rgba(11, 18, 13, 0.3);
  --split2-100a: rgba(245, 247, 252, 0.3);
  --split2-200a: rgba(224, 231, 246, 0.3);
  --split2-300a: rgba(203, 215, 240, 0.3);
  --split2-400a: rgba(129, 160, 218, 0.3);
  --split2-500a: rgba(86, 107, 145, 0.3);
  --split2-600a: rgba(65, 80, 109, 0.3);
  --split2-700a: rgba(43, 53, 73, 0.3);
  --split2-800a: rgba(32, 40, 55, 0.3);
  --split2-900a: rgba(11, 13, 18, 0.3);
  --square1-100a: rgba(250, 253, 242, 0.3);
  --square1-200a: rgba(239, 249, 215, 0.3);
  --square1-300a: rgba(228, 245, 188, 0.3);
  --square1-400a: rgba(189, 232, 93, 0.3);
  --square1-500a: rgba(126, 155, 62, 0.3);
  --square1-600a: rgba(95, 116, 47, 0.3);
  --square1-700a: rgba(63, 77, 31, 0.3);
  --square1-800a: rgba(47, 58, 23, 0.3);
  --square1-900a: rgba(16, 19, 8, 0.3);
  --square2-100a: rgba(245, 252, 251, 0.3);
  --square2-200a: rgba(224, 245, 244, 0.3);
  --square2-300a: rgba(203, 239, 237, 0.3);
  --square2-400a: rgba(129, 216, 212, 0.3);
  --square2-500a: rgba(86, 144, 141, 0.3);
  --square2-600a: rgba(65, 108, 106, 0.3);
  --square2-700a: rgba(43, 72, 71, 0.3);
  --square2-800a: rgba(32, 54, 53, 0.3);
  --square2-900a: rgba(11, 18, 18, 0.3);
  --square3-100a: rgba(249, 241, 252, 0.3);
  --square3-200a: rgba(238, 214, 246, 0.3);
  --square3-300a: rgba(226, 187, 240, 0.3);
  --square3-400a: rgba(186, 92, 218, 0.3);
  --square3-500a: rgba(124, 61, 145, 0.3);
  --square3-600a: rgba(93, 46, 109, 0.3);
  --square3-700a: rgba(62, 31, 73, 0.3);
  --square3-800a: rgba(47, 23, 55, 0.3);
  --square3-900a: rgba(16, 8, 18, 0.3);
  --triadic1-100a: rgba(244, 253, 242, 0.3);
  --triadic1-200a: rgba(221, 249, 215, 0.3);
  --triadic1-300a: rgba(198, 245, 188, 0.3);
  --triadic1-400a: rgba(119, 232, 93, 0.3);
  --triadic1-500a: rgba(79, 155, 62, 0.3);
  --triadic1-600a: rgba(60, 116, 47, 0.3);
  --triadic1-700a: rgba(40, 77, 31, 0.3);
  --triadic1-800a: rgba(30, 58, 23, 0.3);
  --triadic1-900a: rgba(10, 19, 8, 0.3);
  --triadic2-100a: rgba(245, 242, 252, 0.3);
  --triadic2-200a: rgba(224, 216, 246, 0.3);
  --triadic2-300a: rgba(203, 189, 240, 0.3);
  --triadic2-400a: rgba(129, 97, 218, 0.3);
  --triadic2-500a: rgba(86, 65, 145, 0.3);
  --triadic2-600a: rgba(65, 49, 109, 0.3);
  --triadic2-700a: rgba(43, 32, 73, 0.3);
  --triadic2-800a: rgba(32, 24, 55, 0.3);
  --triadic2-900a: rgba(11, 8, 18, 0.3);
  --tetradic1-100a: rgba(255, 253, 242, 0.3);
  --tetradic1-200a: rgba(255, 248, 215, 0.3);
  --tetradic1-300a: rgba(254, 243, 188, 0.3);
  --tetradic1-400a: rgba(253, 226, 93, 0.3);
  --tetradic1-500a: rgba(169, 151, 62, 0.3);
  --tetradic1-600a: rgba(127, 113, 47, 0.3);
  --tetradic1-700a: rgba(84, 75, 31, 0.3);
  --tetradic1-800a: rgba(63, 57, 23, 0.3);
  --tetradic1-900a: rgba(21, 19, 8, 0.3);
  --tetradic2-100a: rgba(245, 252, 251, 0.3);
  --tetradic2-200a: rgba(224, 245, 244, 0.3);
  --tetradic2-300a: rgba(203, 239, 237, 0.3);
  --tetradic2-400a: rgba(129, 216, 212, 0.3);
  --tetradic2-500a: rgba(86, 144, 141, 0.3);
  --tetradic2-600a: rgba(65, 108, 106, 0.3);
  --tetradic2-700a: rgba(43, 72, 71, 0.3);
  --tetradic2-800a: rgba(32, 54, 53, 0.3);
  --tetradic2-900a: rgba(11, 18, 18, 0.3);
  --tetradic3-100a: rgba(245, 242, 252, 0.3);
  --tetradic3-200a: rgba(224, 216, 246, 0.3);
  --tetradic3-300a: rgba(203, 189, 240, 0.3);
  --tetradic3-400a: rgba(129, 97, 218, 0.3);
  --tetradic3-500a: rgba(86, 65, 145, 0.3);
  --tetradic3-600a: rgba(65, 49, 109, 0.3);
  --tetradic3-700a: rgba(43, 32, 73, 0.3);
  --tetradic3-800a: rgba(32, 24, 55, 0.3);
  --tetradic3-900a: rgba(11, 8, 18, 0.3);
  --success-100a: rgba(241, 255, 241, 0.3);
  --success-200a: rgba(214, 255, 214, 0.3);
  --success-300a: rgba(187, 254, 187, 0.3);
  --success-400a: rgba(92, 253, 92, 0.3);
  --success-500a: rgba(61, 169, 61, 0.3);
  --success-600a: rgba(46, 127, 46, 0.3);
  --success-700a: rgba(31, 84, 31, 0.3);
  --success-800a: rgba(23, 63, 23, 0.3);
  --success-900a: rgba(8, 21, 8, 0.3);
  --danger-100a: rgba(255, 241, 241, 0.3);
  --danger-200a: rgba(255, 214, 214, 0.3);
  --danger-300a: rgba(254, 187, 187, 0.3);
  --danger-400a: rgba(253, 92, 92, 0.3);
  --danger-500a: rgba(169, 61, 61, 0.3);
  --danger-600a: rgba(127, 46, 46, 0.3);
  --danger-700a: rgba(84, 31, 31, 0.3);
  --danger-800a: rgba(63, 23, 23, 0.3);
  --danger-900a: rgba(21, 8, 8, 0.3);
  --warning-100a: rgba(255, 248, 241, 0.3);
  --warning-200a: rgba(255, 235, 214, 0.3);
  --warning-300a: rgba(254, 221, 187, 0.3);
  --warning-400a: rgba(253, 173, 92, 0.3);
  --warning-500a: rgba(169, 115, 61, 0.3);
  --warning-600a: rgba(127, 87, 46, 0.3);
  --warning-700a: rgba(84, 58, 31, 0.3);
  --warning-800a: rgba(63, 43, 23, 0.3);
  --warning-900a: rgba(21, 14, 8, 0.3);
  --info-100a: rgba(241, 248, 255, 0.3);
  --info-200a: rgba(214, 235, 255, 0.3);
  --info-300a: rgba(187, 221, 254, 0.3);
  --info-400a: rgba(92, 173, 253, 0.3);
  --info-500a: rgba(61, 115, 169, 0.3);
  --info-600a: rgba(46, 87, 127, 0.3);
  --info-700a: rgba(31, 58, 84, 0.3);
  --info-800a: rgba(23, 43, 63, 0.3);
  --info-900a: rgba(8, 14, 21, 0.3);
}
