:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #fcf4f5;
  --primary-200: #f6dfe1;
  --primary-300: #efcacc;
  --primary-400: #d88185;
  --primary-500: #905659;
  --primary-600: #6c4143;
  --primary-700: #482b2c;
  --primary-800: #362021;
  --primary-900: #120b0b;
  --hue-0-100: #fcf5f4;
  --hue-0-200: #f6e2df;
  --hue-0-300: #efceca;
  --hue-0-400: #d88981;
  --hue-0-500: #905b56;
  --hue-0-600: #6c4441;
  --hue-0-700: #482d2b;
  --hue-0-800: #362220;
  --hue-0-900: #120c0b;
  --hue-30-100: #fcf6f4;
  --hue-30-200: #f6e5df;
  --hue-30-300: #efd4ca;
  --hue-30-400: #d89781;
  --hue-30-500: #906456;
  --hue-30-600: #6c4b41;
  --hue-30-700: #48322b;
  --hue-30-800: #362620;
  --hue-30-900: #120d0b;
  --hue-60-100: #fcf8f4;
  --hue-60-200: #faebdb;
  --hue-60-300: #f5ddc4;
  --hue-60-400: #e8ad71;
  --hue-60-500: #9b734b;
  --hue-60-600: #745739;
  --hue-60-700: #4d3a26;
  --hue-60-800: #3a2b1c;
  --hue-60-900: #120e0b;
  --hue-90-100: #fdfbf3;
  --hue-90-200: #faf2db;
  --hue-90-300: #f5e9c4;
  --hue-90-400: #e8ca71;
  --hue-90-500: #9b874b;
  --hue-90-600: #746639;
  --hue-90-700: #4d4326;
  --hue-90-800: #3a321c;
  --hue-90-900: #13110a;
  --hue-120-100: #fdfdf3;
  --hue-120-200: #fafadb;
  --hue-120-300: #f5f5c4;
  --hue-120-400: #e8e871;
  --hue-120-500: #9b9b4b;
  --hue-120-600: #747439;
  --hue-120-700: #4d4d26;
  --hue-120-800: #3a3a1c;
  --hue-120-900: #13130a;
  --hue-150-100: #fbfdf3;
  --hue-150-200: #f3fadb;
  --hue-150-300: #eaf5c4;
  --hue-150-400: #cde871;
  --hue-150-500: #899b4b;
  --hue-150-600: #677439;
  --hue-150-700: #444d26;
  --hue-150-800: #333a1c;
  --hue-150-900: #11130a;
  --hue-180-100: #f7fcf4;
  --hue-180-200: #e9f6df;
  --hue-180-300: #daefca;
  --hue-180-400: #a5d881;
  --hue-180-500: #6e9056;
  --hue-180-600: #526c41;
  --hue-180-700: #37482b;
  --hue-180-800: #293620;
  --hue-180-900: #0e120b;
  --hue-210-100: #f4fcfa;
  --hue-210-200: #dff6f0;
  --hue-210-300: #caefe5;
  --hue-210-400: #81d8c0;
  --hue-210-500: #569080;
  --hue-210-600: #416c60;
  --hue-210-700: #2b4840;
  --hue-210-800: #203630;
  --hue-210-900: #0b1210;
  --hue-240-100: #f5f7fb;
  --hue-240-200: #e3e7f2;
  --hue-240-300: #d0d7e9;
  --hue-240-400: #8e9fcb;
  --hue-240-500: #5e6a88;
  --hue-240-600: #474f66;
  --hue-240-700: #2f3544;
  --hue-240-800: #232833;
  --hue-240-900: #0c0d11;
  --hue-270-100: #f8f5fb;
  --hue-270-200: #e9e3f2;
  --hue-270-300: #dad0e9;
  --hue-270-400: #a68ecb;
  --hue-270-500: #6f5e88;
  --hue-270-600: #534766;
  --hue-270-700: #372f44;
  --hue-270-800: #292333;
  --hue-270-900: #0e0c11;
  --hue-300-100: #fbf5fb;
  --hue-300-200: #f4e1f4;
  --hue-300-300: #edcced;
  --hue-300-400: #d386d3;
  --hue-300-500: #8d598d;
  --hue-300-600: #6a436a;
  --hue-300-700: #462d46;
  --hue-300-800: #352135;
  --hue-300-900: #120b12;
  --hue-330-100: #fcf4f7;
  --hue-330-200: #f6dfe6;
  --hue-330-300: #efcad6;
  --hue-330-400: #d8819c;
  --hue-330-500: #905668;
  --hue-330-600: #6c414e;
  --hue-330-700: #482b34;
  --hue-330-800: #362027;
  --hue-330-900: #120b0d;
  --complementary-100: #f8fcf4;
  --complementary-200: #eaf6df;
  --complementary-300: #dbefca;
  --complementary-400: #a8d881;
  --complementary-500: #709056;
  --complementary-600: #556c41;
  --complementary-700: #38482b;
  --complementary-800: #2a3620;
  --complementary-900: #0e120b;
  --analogous1-100: #fcf6f4;
  --analogous1-200: #f6e4df;
  --analogous1-300: #efd3ca;
  --analogous1-400: #d89481;
  --analogous1-500: #906356;
  --analogous1-600: #6c4a41;
  --analogous1-700: #48322b;
  --analogous1-800: #362520;
  --analogous1-900: #120d0b;
  --analogous2-100: #fcf8f4;
  --analogous2-200: #f6eadf;
  --analogous2-300: #efdcca;
  --analogous2-400: #d8ab81;
  --analogous2-500: #907256;
  --analogous2-600: #6c5641;
  --analogous2-700: #48392b;
  --analogous2-800: #362a20;
  --analogous2-900: #120e0b;
  --analogous3-100: #fdfaf3;
  --analogous3-200: #faf2db;
  --analogous3-300: #f5e8c4;
  --analogous3-400: #e8c871;
  --analogous3-500: #9b854b;
  --analogous3-600: #746439;
  --analogous3-700: #4d4326;
  --analogous3-800: #3a321c;
  --analogous3-900: #13100a;
  --split1-100: #fbfdf3;
  --split1-200: #f3fadb;
  --split1-300: #ebf5c4;
  --split1-400: #d0e871;
  --split1-500: #8b9b4b;
  --split1-600: #687439;
  --split1-700: #454d26;
  --split1-800: #343a1c;
  --split1-900: #11130a;
  --split2-100: #f4fcf9;
  --split2-200: #dff6ee;
  --split2-300: #caefe3;
  --split2-400: #81d8bb;
  --split2-500: #56907d;
  --split2-600: #416c5e;
  --split2-700: #2b483e;
  --split2-800: #20362f;
  --split2-900: #0b1210;
  --square1-100: #fdfaf3;
  --square1-200: #faf2db;
  --square1-300: #f5e8c4;
  --square1-400: #e8c871;
  --square1-500: #9b854b;
  --square1-600: #746439;
  --square1-700: #4d4326;
  --square1-800: #3a321c;
  --square1-900: #13100a;
  --square2-100: #f8fcf4;
  --square2-200: #eaf6df;
  --square2-300: #dbefca;
  --square2-400: #a8d881;
  --square2-500: #709056;
  --square2-600: #556c41;
  --square2-700: #38482b;
  --square2-800: #2a3620;
  --square2-900: #0e120b;
  --square3-100: #f7f5fb;
  --square3-200: #e7e3f2;
  --square3-300: #d7d0e9;
  --square3-400: #a08ecb;
  --square3-500: #6b5e88;
  --square3-600: #504766;
  --square3-700: #362f44;
  --square3-800: #282333;
  --square3-900: #0e0c11;
  --triadic1-100: #fdfdf3;
  --triadic1-200: #faf9db;
  --triadic1-300: #f5f5c4;
  --triadic1-400: #e8e571;
  --triadic1-500: #9b994b;
  --triadic1-600: #747339;
  --triadic1-700: #4d4c26;
  --triadic1-800: #3a391c;
  --triadic1-900: #13130a;
  --triadic2-100: #f5f7fb;
  --triadic2-200: #e3e8f2;
  --triadic2-300: #d0d9e9;
  --triadic2-400: #8ea4cb;
  --triadic2-500: #5e6e88;
  --triadic2-600: #475366;
  --triadic2-700: #2f3744;
  --triadic2-800: #232933;
  --triadic2-900: #0c0e11;
  --tetradic1-100: #fcf8f4;
  --tetradic1-200: #f6eadf;
  --tetradic1-300: #efdcca;
  --tetradic1-400: #d8ab81;
  --tetradic1-500: #907256;
  --tetradic1-600: #6c5641;
  --tetradic1-700: #48392b;
  --tetradic1-800: #362a20;
  --tetradic1-900: #120e0b;
  --tetradic2-100: #f8fcf4;
  --tetradic2-200: #eaf6df;
  --tetradic2-300: #dbefca;
  --tetradic2-400: #a8d881;
  --tetradic2-500: #709056;
  --tetradic2-600: #556c41;
  --tetradic2-700: #38482b;
  --tetradic2-800: #2a3620;
  --tetradic2-900: #0e120b;
  --tetradic3-100: #f5f7fb;
  --tetradic3-200: #e3e8f2;
  --tetradic3-300: #d0d9e9;
  --tetradic3-400: #8ea4cb;
  --tetradic3-500: #5e6e88;
  --tetradic3-600: #475366;
  --tetradic3-700: #2f3744;
  --tetradic3-800: #232933;
  --tetradic3-900: #0c0e11;
  --success-100: #f7fcf4;
  --success-200: #e9f6df;
  --success-300: #daefca;
  --success-400: #a5d881;
  --success-500: #6e9056;
  --success-600: #526c41;
  --success-700: #37482b;
  --success-800: #293620;
  --success-900: #0e120b;
  --danger-100: #fcf5f4;
  --danger-200: #f6e2df;
  --danger-300: #efceca;
  --danger-400: #d88981;
  --danger-500: #905b56;
  --danger-600: #6c4441;
  --danger-700: #482d2b;
  --danger-800: #362220;
  --danger-900: #120c0b;
  --warning-100: #fcf8f4;
  --warning-200: #faebdb;
  --warning-300: #f5ddc4;
  --warning-400: #e8ad71;
  --warning-500: #9b734b;
  --warning-600: #745739;
  --warning-700: #4d3a26;
  --warning-800: #3a2b1c;
  --warning-900: #120e0b;
  --info-100: #f5f7fb;
  --info-200: #e3e7f2;
  --info-300: #d0d7e9;
  --info-400: #8e9fcb;
  --info-500: #5e6a88;
  --info-600: #474f66;
  --info-700: #2f3544;
  --info-800: #232833;
  --info-900: #0c0d11;
  --primary-100n: #fcf4f5;
  --primary-200n: #f6dfe1;
  --primary-300n: #efcacc;
  --primary-400n: #d88185;
  --primary-500n: #905659;
  --primary-600n: #6c4143;
  --primary-700n: #482b2c;
  --primary-800n: #362021;
  --primary-900n: #120b0b;
  --hue-0-100n: #fcf5f4;
  --hue-0-200n: #f6e2df;
  --hue-0-300n: #efceca;
  --hue-0-400n: #d88981;
  --hue-0-500n: #905b56;
  --hue-0-600n: #6c4441;
  --hue-0-700n: #482d2b;
  --hue-0-800n: #362220;
  --hue-0-900n: #120c0b;
  --hue-30-100n: #fcf6f4;
  --hue-30-200n: #f6e5df;
  --hue-30-300n: #efd4ca;
  --hue-30-400n: #d89781;
  --hue-30-500n: #906456;
  --hue-30-600n: #6c4b41;
  --hue-30-700n: #48322b;
  --hue-30-800n: #362620;
  --hue-30-900n: #120d0b;
  --hue-60-100n: #fcf8f4;
  --hue-60-200n: #faebdb;
  --hue-60-300n: #f5ddc4;
  --hue-60-400n: #e8ad71;
  --hue-60-500n: #9b734b;
  --hue-60-600n: #745739;
  --hue-60-700n: #4d3a26;
  --hue-60-800n: #3a2b1c;
  --hue-60-900n: #120e0b;
  --hue-90-100n: #fdfbf3;
  --hue-90-200n: #faf2db;
  --hue-90-300n: #f5e9c4;
  --hue-90-400n: #e8ca71;
  --hue-90-500n: #9b874b;
  --hue-90-600n: #746639;
  --hue-90-700n: #4d4326;
  --hue-90-800n: #3a321c;
  --hue-90-900n: #13110a;
  --hue-120-100n: #fdfdf3;
  --hue-120-200n: #fafadb;
  --hue-120-300n: #f5f5c4;
  --hue-120-400n: #e8e871;
  --hue-120-500n: #9b9b4b;
  --hue-120-600n: #747439;
  --hue-120-700n: #4d4d26;
  --hue-120-800n: #3a3a1c;
  --hue-120-900n: #13130a;
  --hue-150-100n: #fbfdf3;
  --hue-150-200n: #f3fadb;
  --hue-150-300n: #eaf5c4;
  --hue-150-400n: #cde871;
  --hue-150-500n: #899b4b;
  --hue-150-600n: #677439;
  --hue-150-700n: #444d26;
  --hue-150-800n: #333a1c;
  --hue-150-900n: #11130a;
  --hue-180-100n: #f7fcf4;
  --hue-180-200n: #e9f6df;
  --hue-180-300n: #daefca;
  --hue-180-400n: #a5d881;
  --hue-180-500n: #6e9056;
  --hue-180-600n: #526c41;
  --hue-180-700n: #37482b;
  --hue-180-800n: #293620;
  --hue-180-900n: #0e120b;
  --hue-210-100n: #f4fcfa;
  --hue-210-200n: #dff6f0;
  --hue-210-300n: #caefe5;
  --hue-210-400n: #81d8c0;
  --hue-210-500n: #569080;
  --hue-210-600n: #416c60;
  --hue-210-700n: #2b4840;
  --hue-210-800n: #203630;
  --hue-210-900n: #0b1210;
  --hue-240-100n: #f5f7fb;
  --hue-240-200n: #e3e7f2;
  --hue-240-300n: #d0d7e9;
  --hue-240-400n: #8e9fcb;
  --hue-240-500n: #5e6a88;
  --hue-240-600n: #474f66;
  --hue-240-700n: #2f3544;
  --hue-240-800n: #232833;
  --hue-240-900n: #0c0d11;
  --hue-270-100n: #f8f5fb;
  --hue-270-200n: #e9e3f2;
  --hue-270-300n: #dad0e9;
  --hue-270-400n: #a68ecb;
  --hue-270-500n: #6f5e88;
  --hue-270-600n: #534766;
  --hue-270-700n: #372f44;
  --hue-270-800n: #292333;
  --hue-270-900n: #0e0c11;
  --hue-300-100n: #fbf5fb;
  --hue-300-200n: #f4e1f4;
  --hue-300-300n: #edcced;
  --hue-300-400n: #d386d3;
  --hue-300-500n: #8d598d;
  --hue-300-600n: #6a436a;
  --hue-300-700n: #462d46;
  --hue-300-800n: #352135;
  --hue-300-900n: #120b12;
  --hue-330-100n: #fcf4f7;
  --hue-330-200n: #f6dfe6;
  --hue-330-300n: #efcad6;
  --hue-330-400n: #d8819c;
  --hue-330-500n: #905668;
  --hue-330-600n: #6c414e;
  --hue-330-700n: #482b34;
  --hue-330-800n: #362027;
  --hue-330-900n: #120b0d;
  --complementary-100n: #f8fcf4;
  --complementary-200n: #eaf6df;
  --complementary-300n: #dbefca;
  --complementary-400n: #a8d881;
  --complementary-500n: #709056;
  --complementary-600n: #556c41;
  --complementary-700n: #38482b;
  --complementary-800n: #2a3620;
  --complementary-900n: #0e120b;
  --analogous1-100n: #fcf6f4;
  --analogous1-200n: #f6e4df;
  --analogous1-300n: #efd3ca;
  --analogous1-400n: #d89481;
  --analogous1-500n: #906356;
  --analogous1-600n: #6c4a41;
  --analogous1-700n: #48322b;
  --analogous1-800n: #362520;
  --analogous1-900n: #120d0b;
  --analogous2-100n: #fcf8f4;
  --analogous2-200n: #f6eadf;
  --analogous2-300n: #efdcca;
  --analogous2-400n: #d8ab81;
  --analogous2-500n: #907256;
  --analogous2-600n: #6c5641;
  --analogous2-700n: #48392b;
  --analogous2-800n: #362a20;
  --analogous2-900n: #120e0b;
  --analogous3-100n: #fdfaf3;
  --analogous3-200n: #faf2db;
  --analogous3-300n: #f5e8c4;
  --analogous3-400n: #e8c871;
  --analogous3-500n: #9b854b;
  --analogous3-600n: #746439;
  --analogous3-700n: #4d4326;
  --analogous3-800n: #3a321c;
  --analogous3-900n: #13100a;
  --split1-100n: #fbfdf3;
  --split1-200n: #f3fadb;
  --split1-300n: #ebf5c4;
  --split1-400n: #d0e871;
  --split1-500n: #8b9b4b;
  --split1-600n: #687439;
  --split1-700n: #454d26;
  --split1-800n: #343a1c;
  --split1-900n: #11130a;
  --split2-100n: #f4fcf9;
  --split2-200n: #dff6ee;
  --split2-300n: #caefe3;
  --split2-400n: #81d8bb;
  --split2-500n: #56907d;
  --split2-600n: #416c5e;
  --split2-700n: #2b483e;
  --split2-800n: #20362f;
  --split2-900n: #0b1210;
  --square1-100n: #fdfaf3;
  --square1-200n: #faf2db;
  --square1-300n: #f5e8c4;
  --square1-400n: #e8c871;
  --square1-500n: #9b854b;
  --square1-600n: #746439;
  --square1-700n: #4d4326;
  --square1-800n: #3a321c;
  --square1-900n: #13100a;
  --square2-100n: #f8fcf4;
  --square2-200n: #eaf6df;
  --square2-300n: #dbefca;
  --square2-400n: #a8d881;
  --square2-500n: #709056;
  --square2-600n: #556c41;
  --square2-700n: #38482b;
  --square2-800n: #2a3620;
  --square2-900n: #0e120b;
  --square3-100n: #f7f5fb;
  --square3-200n: #e7e3f2;
  --square3-300n: #d7d0e9;
  --square3-400n: #a08ecb;
  --square3-500n: #6b5e88;
  --square3-600n: #504766;
  --square3-700n: #362f44;
  --square3-800n: #282333;
  --square3-900n: #0e0c11;
  --triadic1-100n: #fdfdf3;
  --triadic1-200n: #faf9db;
  --triadic1-300n: #f5f5c4;
  --triadic1-400n: #e8e571;
  --triadic1-500n: #9b994b;
  --triadic1-600n: #747339;
  --triadic1-700n: #4d4c26;
  --triadic1-800n: #3a391c;
  --triadic1-900n: #13130a;
  --triadic2-100n: #f5f7fb;
  --triadic2-200n: #e3e8f2;
  --triadic2-300n: #d0d9e9;
  --triadic2-400n: #8ea4cb;
  --triadic2-500n: #5e6e88;
  --triadic2-600n: #475366;
  --triadic2-700n: #2f3744;
  --triadic2-800n: #232933;
  --triadic2-900n: #0c0e11;
  --tetradic1-100n: #fcf8f4;
  --tetradic1-200n: #f6eadf;
  --tetradic1-300n: #efdcca;
  --tetradic1-400n: #d8ab81;
  --tetradic1-500n: #907256;
  --tetradic1-600n: #6c5641;
  --tetradic1-700n: #48392b;
  --tetradic1-800n: #362a20;
  --tetradic1-900n: #120e0b;
  --tetradic2-100n: #f8fcf4;
  --tetradic2-200n: #eaf6df;
  --tetradic2-300n: #dbefca;
  --tetradic2-400n: #a8d881;
  --tetradic2-500n: #709056;
  --tetradic2-600n: #556c41;
  --tetradic2-700n: #38482b;
  --tetradic2-800n: #2a3620;
  --tetradic2-900n: #0e120b;
  --tetradic3-100n: #f5f7fb;
  --tetradic3-200n: #e3e8f2;
  --tetradic3-300n: #d0d9e9;
  --tetradic3-400n: #8ea4cb;
  --tetradic3-500n: #5e6e88;
  --tetradic3-600n: #475366;
  --tetradic3-700n: #2f3744;
  --tetradic3-800n: #232933;
  --tetradic3-900n: #0c0e11;
  --success-100n: #f7fcf4;
  --success-200n: #e9f6df;
  --success-300n: #daefca;
  --success-400n: #a5d881;
  --success-500n: #6e9056;
  --success-600n: #526c41;
  --success-700n: #37482b;
  --success-800n: #293620;
  --success-900n: #0e120b;
  --danger-100n: #fcf5f4;
  --danger-200n: #f6e2df;
  --danger-300n: #efceca;
  --danger-400n: #d88981;
  --danger-500n: #905b56;
  --danger-600n: #6c4441;
  --danger-700n: #482d2b;
  --danger-800n: #362220;
  --danger-900n: #120c0b;
  --warning-100n: #fcf8f4;
  --warning-200n: #faebdb;
  --warning-300n: #f5ddc4;
  --warning-400n: #e8ad71;
  --warning-500n: #9b734b;
  --warning-600n: #745739;
  --warning-700n: #4d3a26;
  --warning-800n: #3a2b1c;
  --warning-900n: #120e0b;
  --info-100n: #f5f7fb;
  --info-200n: #e3e7f2;
  --info-300n: #d0d7e9;
  --info-400n: #8e9fcb;
  --info-500n: #5e6a88;
  --info-600n: #474f66;
  --info-700n: #2f3544;
  --info-800n: #232833;
  --info-900n: #0c0d11;
  --primary-100a: rgba(255, 241, 242, 0.3);
  --primary-200a: rgba(255, 214, 216, 0.3);
  --primary-300a: rgba(254, 187, 190, 0.3);
  --primary-400a: rgba(253, 92, 99, 0.3);
  --primary-500a: rgba(169, 61, 66, 0.3);
  --primary-600a: rgba(127, 46, 50, 0.3);
  --primary-700a: rgba(84, 31, 33, 0.3);
  --primary-800a: rgba(63, 23, 25, 0.3);
  --primary-900a: rgba(21, 8, 8, 0.3);
  --hue-0-100a: rgba(255, 243, 241, 0.3);
  --hue-0-200a: rgba(255, 218, 214, 0.3);
  --hue-0-300a: rgba(254, 193, 187, 0.3);
  --hue-0-400a: rgba(253, 106, 92, 0.3);
  --hue-0-500a: rgba(169, 71, 61, 0.3);
  --hue-0-600a: rgba(127, 53, 46, 0.3);
  --hue-0-700a: rgba(84, 35, 31, 0.3);
  --hue-0-800a: rgba(63, 27, 23, 0.3);
  --hue-0-900a: rgba(21, 9, 8, 0.3);
  --hue-30-100a: rgba(255, 245, 241, 0.3);
  --hue-30-200a: rgba(255, 224, 214, 0.3);
  --hue-30-300a: rgba(254, 204, 187, 0.3);
  --hue-30-400a: rgba(253, 132, 92, 0.3);
  --hue-30-500a: rgba(169, 88, 61, 0.3);
  --hue-30-600a: rgba(127, 66, 46, 0.3);
  --hue-30-700a: rgba(84, 44, 31, 0.3);
  --hue-30-800a: rgba(63, 33, 23, 0.3);
  --hue-30-900a: rgba(21, 11, 8, 0.3);
  --hue-60-100a: rgba(255, 248, 241, 0.3);
  --hue-60-200a: rgba(255, 235, 214, 0.3);
  --hue-60-300a: rgba(254, 221, 187, 0.3);
  --hue-60-400a: rgba(253, 173, 92, 0.3);
  --hue-60-500a: rgba(169, 115, 61, 0.3);
  --hue-60-600a: rgba(127, 87, 46, 0.3);
  --hue-60-700a: rgba(84, 58, 31, 0.3);
  --hue-60-800a: rgba(63, 43, 23, 0.3);
  --hue-60-900a: rgba(21, 14, 8, 0.3);
  --hue-90-100a: rgba(255, 252, 241, 0.3);
  --hue-90-200a: rgba(255, 245, 214, 0.3);
  --hue-90-300a: rgba(254, 238, 187, 0.3);
  --hue-90-400a: rgba(253, 213, 92, 0.3);
  --hue-90-500a: rgba(169, 142, 61, 0.3);
  --hue-90-600a: rgba(127, 107, 46, 0.3);
  --hue-90-700a: rgba(84, 71, 31, 0.3);
  --hue-90-800a: rgba(63, 53, 23, 0.3);
  --hue-90-900a: rgba(21, 18, 8, 0.3);
  --hue-120-100a: rgba(255, 255, 241, 0.3);
  --hue-120-200a: rgba(255, 255, 214, 0.3);
  --hue-120-300a: rgba(254, 254, 187, 0.3);
  --hue-120-400a: rgba(253, 253, 92, 0.3);
  --hue-120-500a: rgba(169, 169, 61, 0.3);
  --hue-120-600a: rgba(127, 127, 46, 0.3);
  --hue-120-700a: rgba(84, 84, 31, 0.3);
  --hue-120-800a: rgba(63, 63, 23, 0.3);
  --hue-120-900a: rgba(21, 21, 8, 0.3);
  --hue-150-100a: rgba(252, 255, 241, 0.3);
  --hue-150-200a: rgba(246, 255, 214, 0.3);
  --hue-150-300a: rgba(239, 254, 187, 0.3);
  --hue-150-400a: rgba(217, 253, 92, 0.3);
  --hue-150-500a: rgba(145, 169, 61, 0.3);
  --hue-150-600a: rgba(109, 127, 46, 0.3);
  --hue-150-700a: rgba(72, 84, 31, 0.3);
  --hue-150-800a: rgba(54, 63, 23, 0.3);
  --hue-150-900a: rgba(18, 21, 8, 0.3);
  --hue-180-100a: rgba(247, 255, 241, 0.3);
  --hue-180-200a: rgba(231, 255, 214, 0.3);
  --hue-180-300a: rgba(215, 254, 187, 0.3);
  --hue-180-400a: rgba(158, 253, 92, 0.3);
  --hue-180-500a: rgba(105, 169, 61, 0.3);
  --hue-180-600a: rgba(79, 127, 46, 0.3);
  --hue-180-700a: rgba(53, 84, 31, 0.3);
  --hue-180-800a: rgba(40, 63, 23, 0.3);
  --hue-180-900a: rgba(13, 21, 8, 0.3);
  --hue-210-100a: rgba(241, 255, 251, 0.3);
  --hue-210-200a: rgba(214, 255, 244, 0.3);
  --hue-210-300a: rgba(187, 254, 236, 0.3);
  --hue-210-400a: rgba(92, 253, 209, 0.3);
  --hue-210-500a: rgba(61, 169, 139, 0.3);
  --hue-210-600a: rgba(46, 127, 105, 0.3);
  --hue-210-700a: rgba(31, 84, 70, 0.3);
  --hue-210-800a: rgba(23, 63, 52, 0.3);
  --hue-210-900a: rgba(8, 21, 17, 0.3);
  --hue-240-100a: rgba(241, 245, 255, 0.3);
  --hue-240-200a: rgba(214, 225, 255, 0.3);
  --hue-240-300a: rgba(187, 205, 254, 0.3);
  --hue-240-400a: rgba(92, 136, 253, 0.3);
  --hue-240-500a: rgba(61, 91, 169, 0.3);
  --hue-240-600a: rgba(46, 68, 127, 0.3);
  --hue-240-700a: rgba(31, 45, 84, 0.3);
  --hue-240-800a: rgba(23, 34, 63, 0.3);
  --hue-240-900a: rgba(8, 11, 21, 0.3);
  --hue-270-100a: rgba(247, 241, 255, 0.3);
  --hue-270-200a: rgba(230, 214, 255, 0.3);
  --hue-270-300a: rgba(214, 187, 254, 0.3);
  --hue-270-400a: rgba(156, 92, 253, 0.3);
  --hue-270-500a: rgba(104, 61, 169, 0.3);
  --hue-270-600a: rgba(78, 46, 127, 0.3);
  --hue-270-700a: rgba(52, 31, 84, 0.3);
  --hue-270-800a: rgba(39, 23, 63, 0.3);
  --hue-270-900a: rgba(13, 8, 21, 0.3);
  --hue-300-100a: rgba(255, 241, 255, 0.3);
  --hue-300-200a: rgba(255, 214, 255, 0.3);
  --hue-300-300a: rgba(254, 187, 254, 0.3);
  --hue-300-400a: rgba(253, 92, 253, 0.3);
  --hue-300-500a: rgba(169, 61, 169, 0.3);
  --hue-300-600a: rgba(127, 46, 127, 0.3);
  --hue-300-700a: rgba(84, 31, 84, 0.3);
  --hue-300-800a: rgba(63, 23, 63, 0.3);
  --hue-300-900a: rgba(21, 8, 21, 0.3);
  --hue-330-100a: rgba(255, 241, 246, 0.3);
  --hue-330-200a: rgba(255, 214, 227, 0.3);
  --hue-330-300a: rgba(254, 187, 208, 0.3);
  --hue-330-400a: rgba(253, 92, 142, 0.3);
  --hue-330-500a: rgba(169, 61, 95, 0.3);
  --hue-330-600a: rgba(127, 46, 71, 0.3);
  --hue-330-700a: rgba(84, 31, 47, 0.3);
  --hue-330-800a: rgba(63, 23, 36, 0.3);
  --hue-330-900a: rgba(21, 8, 12, 0.3);
  --complementary-100a: rgba(248, 255, 241, 0.3);
  --complementary-200a: rgba(233, 255, 214, 0.3);
  --complementary-300a: rgba(218, 254, 187, 0.3);
  --complementary-400a: rgba(165, 253, 92, 0.3);
  --complementary-500a: rgba(110, 169, 61, 0.3);
  --complementary-600a: rgba(83, 127, 46, 0.3);
  --complementary-700a: rgba(55, 84, 31, 0.3);
  --complementary-800a: rgba(41, 63, 23, 0.3);
  --complementary-900a: rgba(14, 21, 8, 0.3);
  --analogous1-100a: rgba(255, 244, 241, 0.3);
  --analogous1-200a: rgba(255, 223, 214, 0.3);
  --analogous1-300a: rgba(254, 202, 187, 0.3);
  --analogous1-400a: rgba(253, 128, 92, 0.3);
  --analogous1-500a: rgba(169, 85, 61, 0.3);
  --analogous1-600a: rgba(127, 64, 46, 0.3);
  --analogous1-700a: rgba(84, 43, 31, 0.3);
  --analogous1-800a: rgba(63, 32, 23, 0.3);
  --analogous1-900a: rgba(21, 11, 8, 0.3);
  --analogous2-100a: rgba(255, 248, 241, 0.3);
  --analogous2-200a: rgba(255, 234, 214, 0.3);
  --analogous2-300a: rgba(254, 219, 187, 0.3);
  --analogous2-400a: rgba(253, 169, 92, 0.3);
  --analogous2-500a: rgba(169, 113, 61, 0.3);
  --analogous2-600a: rgba(127, 85, 46, 0.3);
  --analogous2-700a: rgba(84, 56, 31, 0.3);
  --analogous2-800a: rgba(63, 42, 23, 0.3);
  --analogous2-900a: rgba(21, 14, 8, 0.3);
  --analogous3-100a: rgba(255, 251, 241, 0.3);
  --analogous3-200a: rgba(255, 244, 214, 0.3);
  --analogous3-300a: rgba(254, 236, 187, 0.3);
  --analogous3-400a: rgba(253, 209, 92, 0.3);
  --analogous3-500a: rgba(169, 139, 61, 0.3);
  --analogous3-600a: rgba(127, 105, 46, 0.3);
  --analogous3-700a: rgba(84, 70, 31, 0.3);
  --analogous3-800a: rgba(63, 52, 23, 0.3);
  --analogous3-900a: rgba(21, 17, 8, 0.3);
  --split1-100a: rgba(252, 255, 241, 0.3);
  --split1-200a: rgba(246, 255, 214, 0.3);
  --split1-300a: rgba(240, 254, 187, 0.3);
  --split1-400a: rgba(220, 253, 92, 0.3);
  --split1-500a: rgba(147, 169, 61, 0.3);
  --split1-600a: rgba(110, 127, 46, 0.3);
  --split1-700a: rgba(73, 84, 31, 0.3);
  --split1-800a: rgba(55, 63, 23, 0.3);
  --split1-900a: rgba(18, 21, 8, 0.3);
  --split2-100a: rgba(241, 255, 250, 0.3);
  --split2-200a: rgba(214, 255, 241, 0.3);
  --split2-300a: rgba(187, 254, 232, 0.3);
  --split2-400a: rgba(92, 253, 199, 0.3);
  --split2-500a: rgba(61, 169, 133, 0.3);
  --split2-600a: rgba(46, 127, 100, 0.3);
  --split2-700a: rgba(31, 84, 66, 0.3);
  --split2-800a: rgba(23, 63, 50, 0.3);
  --split2-900a: rgba(8, 21, 17, 0.3);
  --square1-100a: rgba(255, 251, 241, 0.3);
  --square1-200a: rgba(255, 244, 214, 0.3);
  --square1-300a: rgba(254, 236, 187, 0.3);
  --square1-400a: rgba(253, 209, 92, 0.3);
  --square1-500a: rgba(169, 139, 61, 0.3);
  --square1-600a: rgba(127, 105, 46, 0.3);
  --square1-700a: rgba(84, 70, 31, 0.3);
  --square1-800a: rgba(63, 52, 23, 0.3);
  --square1-900a: rgba(21, 17, 8, 0.3);
  --square2-100a: rgba(248, 255, 241, 0.3);
  --square2-200a: rgba(233, 255, 214, 0.3);
  --square2-300a: rgba(218, 254, 187, 0.3);
  --square2-400a: rgba(165, 253, 92, 0.3);
  --square2-500a: rgba(110, 169, 61, 0.3);
  --square2-600a: rgba(83, 127, 46, 0.3);
  --square2-700a: rgba(55, 84, 31, 0.3);
  --square2-800a: rgba(41, 63, 23, 0.3);
  --square2-900a: rgba(14, 21, 8, 0.3);
  --square3-100a: rgba(245, 241, 255, 0.3);
  --square3-200a: rgba(226, 214, 255, 0.3);
  --square3-300a: rgba(207, 187, 254, 0.3);
  --square3-400a: rgba(140, 92, 253, 0.3);
  --square3-500a: rgba(93, 61, 169, 0.3);
  --square3-600a: rgba(70, 46, 127, 0.3);
  --square3-700a: rgba(47, 31, 84, 0.3);
  --square3-800a: rgba(35, 23, 63, 0.3);
  --square3-900a: rgba(12, 8, 21, 0.3);
  --triadic1-100a: rgba(255, 255, 241, 0.3);
  --triadic1-200a: rgba(255, 254, 214, 0.3);
  --triadic1-300a: rgba(254, 253, 187, 0.3);
  --triadic1-400a: rgba(253, 249, 92, 0.3);
  --triadic1-500a: rgba(169, 166, 61, 0.3);
  --triadic1-600a: rgba(127, 125, 46, 0.3);
  --triadic1-700a: rgba(84, 83, 31, 0.3);
  --triadic1-800a: rgba(63, 62, 23, 0.3);
  --triadic1-900a: rgba(21, 21, 8, 0.3);
  --triadic2-100a: rgba(241, 246, 255, 0.3);
  --triadic2-200a: rgba(214, 229, 255, 0.3);
  --triadic2-300a: rgba(187, 212, 254, 0.3);
  --triadic2-400a: rgba(92, 151, 253, 0.3);
  --triadic2-500a: rgba(61, 101, 169, 0.3);
  --triadic2-600a: rgba(46, 76, 127, 0.3);
  --triadic2-700a: rgba(31, 50, 84, 0.3);
  --triadic2-800a: rgba(23, 38, 63, 0.3);
  --triadic2-900a: rgba(8, 13, 21, 0.3);
  --tetradic1-100a: rgba(255, 248, 241, 0.3);
  --tetradic1-200a: rgba(255, 234, 214, 0.3);
  --tetradic1-300a: rgba(254, 219, 187, 0.3);
  --tetradic1-400a: rgba(253, 169, 92, 0.3);
  --tetradic1-500a: rgba(169, 113, 61, 0.3);
  --tetradic1-600a: rgba(127, 85, 46, 0.3);
  --tetradic1-700a: rgba(84, 56, 31, 0.3);
  --tetradic1-800a: rgba(63, 42, 23, 0.3);
  --tetradic1-900a: rgba(21, 14, 8, 0.3);
  --tetradic2-100a: rgba(248, 255, 241, 0.3);
  --tetradic2-200a: rgba(233, 255, 214, 0.3);
  --tetradic2-300a: rgba(218, 254, 187, 0.3);
  --tetradic2-400a: rgba(165, 253, 92, 0.3);
  --tetradic2-500a: rgba(110, 169, 61, 0.3);
  --tetradic2-600a: rgba(83, 127, 46, 0.3);
  --tetradic2-700a: rgba(55, 84, 31, 0.3);
  --tetradic2-800a: rgba(41, 63, 23, 0.3);
  --tetradic2-900a: rgba(14, 21, 8, 0.3);
  --tetradic3-100a: rgba(241, 246, 255, 0.3);
  --tetradic3-200a: rgba(214, 229, 255, 0.3);
  --tetradic3-300a: rgba(187, 212, 254, 0.3);
  --tetradic3-400a: rgba(92, 151, 253, 0.3);
  --tetradic3-500a: rgba(61, 101, 169, 0.3);
  --tetradic3-600a: rgba(46, 76, 127, 0.3);
  --tetradic3-700a: rgba(31, 50, 84, 0.3);
  --tetradic3-800a: rgba(23, 38, 63, 0.3);
  --tetradic3-900a: rgba(8, 13, 21, 0.3);
  --success-100a: rgba(247, 255, 241, 0.3);
  --success-200a: rgba(231, 255, 214, 0.3);
  --success-300a: rgba(215, 254, 187, 0.3);
  --success-400a: rgba(158, 253, 92, 0.3);
  --success-500a: rgba(105, 169, 61, 0.3);
  --success-600a: rgba(79, 127, 46, 0.3);
  --success-700a: rgba(53, 84, 31, 0.3);
  --success-800a: rgba(40, 63, 23, 0.3);
  --success-900a: rgba(13, 21, 8, 0.3);
  --danger-100a: rgba(255, 243, 241, 0.3);
  --danger-200a: rgba(255, 218, 214, 0.3);
  --danger-300a: rgba(254, 193, 187, 0.3);
  --danger-400a: rgba(253, 106, 92, 0.3);
  --danger-500a: rgba(169, 71, 61, 0.3);
  --danger-600a: rgba(127, 53, 46, 0.3);
  --danger-700a: rgba(84, 35, 31, 0.3);
  --danger-800a: rgba(63, 27, 23, 0.3);
  --danger-900a: rgba(21, 9, 8, 0.3);
  --warning-100a: rgba(255, 248, 241, 0.3);
  --warning-200a: rgba(255, 235, 214, 0.3);
  --warning-300a: rgba(254, 221, 187, 0.3);
  --warning-400a: rgba(253, 173, 92, 0.3);
  --warning-500a: rgba(169, 115, 61, 0.3);
  --warning-600a: rgba(127, 87, 46, 0.3);
  --warning-700a: rgba(84, 58, 31, 0.3);
  --warning-800a: rgba(63, 43, 23, 0.3);
  --warning-900a: rgba(21, 14, 8, 0.3);
  --info-100a: rgba(241, 245, 255, 0.3);
  --info-200a: rgba(214, 225, 255, 0.3);
  --info-300a: rgba(187, 205, 254, 0.3);
  --info-400a: rgba(92, 136, 253, 0.3);
  --info-500a: rgba(61, 91, 169, 0.3);
  --info-600a: rgba(46, 68, 127, 0.3);
  --info-700a: rgba(31, 45, 84, 0.3);
  --info-800a: rgba(23, 34, 63, 0.3);
  --info-900a: rgba(8, 11, 21, 0.3);
}
