:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #fefafa;
  --primary-200: #fbeff0;
  --primary-300: #f7e5e6;
  --primary-400: #ecc0c2;
  --primary-500: #c8abac;
  --primary-600: #b6a0a1;
  --primary-700: #a49596;
  --primary-800: #9b9090;
  --primary-900: #898585;
  --hue-0-100: #fefafa;
  --hue-0-200: #fbefef;
  --hue-0-300: #f7e5e5;
  --hue-0-400: #ecc0c0;
  --hue-0-500: #c8abab;
  --hue-0-600: #b6a0a0;
  --hue-0-700: #a49595;
  --hue-0-800: #9b9090;
  --hue-0-900: #898585;
  --hue-30-100: #fefcfa;
  --hue-30-200: #fdf5ed;
  --hue-30-300: #faeee2;
  --hue-30-400: #ecd6c0;
  --hue-30-500: #cdb9a5;
  --hue-30-600: #baab9c;
  --hue-30-700: #a69d93;
  --hue-30-800: #9d958e;
  --hue-30-900: #898785;
  --hue-60-100: #fefef9;
  --hue-60-200: #fdfded;
  --hue-60-300: #fafae2;
  --hue-60-400: #f4f4b8;
  --hue-60-500: #cdcda5;
  --hue-60-600: #baba9c;
  --hue-60-700: #a6a693;
  --hue-60-800: #9d9d8e;
  --hue-60-900: #898985;
  --hue-90-100: #fcfefa;
  --hue-90-200: #f5fbef;
  --hue-90-300: #eef7e5;
  --hue-90-400: #d6ecc0;
  --hue-90-500: #b9c8ab;
  --hue-90-600: #abb6a0;
  --hue-90-700: #9da495;
  --hue-90-800: #959b90;
  --hue-90-900: #878985;
  --hue-120-100: #fafefa;
  --hue-120-200: #effbef;
  --hue-120-300: #e5f7e5;
  --hue-120-400: #c0ecc0;
  --hue-120-500: #abc8ab;
  --hue-120-600: #a0b6a0;
  --hue-120-700: #95a495;
  --hue-120-800: #909b90;
  --hue-120-900: #858985;
  --hue-150-100: #fafefc;
  --hue-150-200: #effbf5;
  --hue-150-300: #e5f7ee;
  --hue-150-400: #c0ecd6;
  --hue-150-500: #abc8b9;
  --hue-150-600: #a0b6ab;
  --hue-150-700: #95a49d;
  --hue-150-800: #909b95;
  --hue-150-900: #858987;
  --hue-180-100: #fafefe;
  --hue-180-200: #effbfb;
  --hue-180-300: #e5f7f7;
  --hue-180-400: #c0ecec;
  --hue-180-500: #abc8c8;
  --hue-180-600: #a0b6b6;
  --hue-180-700: #95a4a4;
  --hue-180-800: #909b9b;
  --hue-180-900: #858989;
  --hue-210-100: #fafcfe;
  --hue-210-200: #eff5fb;
  --hue-210-300: #e5eef7;
  --hue-210-400: #c0d6ec;
  --hue-210-500: #abb9c8;
  --hue-210-600: #a0abb6;
  --hue-210-700: #959da4;
  --hue-210-800: #90959b;
  --hue-210-900: #868788;
  --hue-240-100: #fafafd;
  --hue-240-200: #f1f1f9;
  --hue-240-300: #e8e8f4;
  --hue-240-400: #c7c7e5;
  --hue-240-500: #afafc4;
  --hue-240-600: #a3a3b3;
  --hue-240-700: #9797a2;
  --hue-240-800: #919199;
  --hue-240-900: #868688;
  --hue-270-100: #fcfafd;
  --hue-270-200: #f5f0fa;
  --hue-270-300: #eee6f6;
  --hue-270-400: #d6c3e9;
  --hue-270-500: #b9acc6;
  --hue-270-600: #aba1b5;
  --hue-270-700: #9d96a3;
  --hue-270-800: #95909a;
  --hue-270-900: #878688;
  --hue-300-100: #fdfafd;
  --hue-300-200: #faf0fa;
  --hue-300-300: #f6e6f6;
  --hue-300-400: #e9c3e9;
  --hue-300-500: #c6acc6;
  --hue-300-600: #b5a1b5;
  --hue-300-700: #a396a3;
  --hue-300-800: #9a909a;
  --hue-300-900: #898589;
  --hue-330-100: #fefafc;
  --hue-330-200: #fbeff5;
  --hue-330-300: #f7e5ee;
  --hue-330-400: #ecc0d6;
  --hue-330-500: #c8abb9;
  --hue-330-600: #b6a0ab;
  --hue-330-700: #a4959d;
  --hue-330-800: #9b9095;
  --hue-330-900: #898587;
  --complementary-100: #fbfdfd;
  --complementary-200: #f2f8f8;
  --complementary-300: #e9f3f3;
  --complementary-400: #cae2e1;
  --complementary-500: #b1c1c0;
  --complementary-600: #a5b1b0;
  --complementary-700: #99a0a0;
  --complementary-800: #929898;
  --complementary-900: #868888;
  --analogous1-100: #fefbfa;
  --analogous1-200: #fbf4f0;
  --analogous1-300: #f7ece5;
  --analogous1-400: #ecd0c1;
  --analogous1-500: #c8b5ab;
  --analogous1-600: #b6a8a0;
  --analogous1-700: #a49a95;
  --analogous1-800: #9b9490;
  --analogous1-900: #898685;
  --analogous2-100: #fefefa;
  --analogous2-200: #fdfaee;
  --analogous2-300: #faf6e2;
  --analogous2-400: #f4eab9;
  --analogous2-500: #cdc7a6;
  --analogous2-600: #bab59c;
  --analogous2-700: #a6a393;
  --analogous2-800: #9d9a8e;
  --analogous2-900: #898985;
  --analogous3-100: #fcfef9;
  --analogous3-200: #f6faed;
  --analogous3-300: #f0f7e1;
  --analogous3-400: #dbebb7;
  --analogous3-500: #bcc7a5;
  --analogous3-600: #adb59c;
  --analogous3-700: #9ea392;
  --analogous3-800: #969a8e;
  --analogous3-900: #878984;
  --split1-100: #fbfdfb;
  --split1-200: #f2f8f4;
  --split1-300: #e9f3ec;
  --split1-400: #cae2d0;
  --split1-500: #b1c1b5;
  --split1-600: #a5b1a8;
  --split1-700: #99a09a;
  --split1-800: #929894;
  --split1-900: #868887;
  --split2-100: #fbfcfd;
  --split2-200: #f3f4f7;
  --split2-300: #ebedf2;
  --split2-400: #ced4df;
  --split2-500: #b4b8bf;
  --split2-600: #a7aaaf;
  --split2-700: #9a9ca0;
  --split2-800: #939598;
  --split2-900: #868788;
  --square1-100: #fcfef9;
  --square1-200: #f6faed;
  --square1-300: #f0f7e1;
  --square1-400: #dbebb7;
  --square1-500: #bcc7a5;
  --square1-600: #adb59c;
  --square1-700: #9ea392;
  --square1-800: #969a8e;
  --square1-900: #878984;
  --square2-100: #fbfdfd;
  --square2-200: #f2f8f8;
  --square2-300: #e9f3f3;
  --square2-400: #cae2e1;
  --square2-500: #b1c1c0;
  --square2-600: #a5b1b0;
  --square2-700: #99a0a0;
  --square2-800: #929898;
  --square2-900: #868888;
  --square3-100: #fcfafc;
  --square3-200: #f5eff7;
  --square3-300: #eee4f1;
  --square3-400: #d5bedc;
  --square3-500: #b8a9bd;
  --square3-600: #aa9fae;
  --square3-700: #9c959f;
  --square3-800: #958f97;
  --square3-900: #878587;
  --triadic1-100: #fbfdfa;
  --triadic1-200: #f1f8ef;
  --triadic1-300: #e7f4e4;
  --triadic1-400: #c5e4be;
  --triadic1-500: #aec3a9;
  --triadic1-600: #a3b29f;
  --triadic1-700: #97a195;
  --triadic1-800: #91998f;
  --triadic1-900: #868885;
  --triadic2-100: #fbfafc;
  --triadic2-200: #f2f0f6;
  --triadic2-300: #e9e6f0;
  --triadic2-400: #c9c3da;
  --triadic2-500: #b1adbc;
  --triadic2-600: #a5a2ad;
  --triadic2-700: #98969e;
  --triadic2-800: #929196;
  --triadic2-900: #868587;
  --tetradic1-100: #fefefa;
  --tetradic1-200: #fdfaee;
  --tetradic1-300: #faf6e2;
  --tetradic1-400: #f4eab9;
  --tetradic1-500: #cdc7a6;
  --tetradic1-600: #bab59c;
  --tetradic1-700: #a6a393;
  --tetradic1-800: #9d9a8e;
  --tetradic1-900: #898985;
  --tetradic2-100: #fbfdfd;
  --tetradic2-200: #f2f8f8;
  --tetradic2-300: #e9f3f3;
  --tetradic2-400: #cae2e1;
  --tetradic2-500: #b1c1c0;
  --tetradic2-600: #a5b1b0;
  --tetradic2-700: #99a0a0;
  --tetradic2-800: #929898;
  --tetradic2-900: #868888;
  --tetradic3-100: #fbfafc;
  --tetradic3-200: #f2f0f6;
  --tetradic3-300: #e9e6f0;
  --tetradic3-400: #c9c3da;
  --tetradic3-500: #b1adbc;
  --tetradic3-600: #a5a2ad;
  --tetradic3-700: #98969e;
  --tetradic3-800: #929196;
  --tetradic3-900: #868587;
  --success-100: #fafefa;
  --success-200: #effbef;
  --success-300: #e5f7e5;
  --success-400: #c0ecc0;
  --success-500: #abc8ab;
  --success-600: #a0b6a0;
  --success-700: #95a495;
  --success-800: #909b90;
  --success-900: #858985;
  --danger-100: #fefafa;
  --danger-200: #fbefef;
  --danger-300: #f7e5e5;
  --danger-400: #ecc0c0;
  --danger-500: #c8abab;
  --danger-600: #b6a0a0;
  --danger-700: #a49595;
  --danger-800: #9b9090;
  --danger-900: #898585;
  --warning-100: #fefcfa;
  --warning-200: #fdf5ed;
  --warning-300: #faeee2;
  --warning-400: #f4d6b8;
  --warning-500: #cdb9a5;
  --warning-600: #baab9c;
  --warning-700: #a69d93;
  --warning-800: #9d958e;
  --warning-900: #898785;
  --info-100: #fafcfe;
  --info-200: #eff5fb;
  --info-300: #e5eef7;
  --info-400: #c0d6ec;
  --info-500: #abb9c8;
  --info-600: #a0abb6;
  --info-700: #959da4;
  --info-800: #90959b;
  --info-900: #868788;
  --primary-100n: #fcf4f5;
  --primary-200n: #f6dfe1;
  --primary-300n: #efcacc;
  --primary-400n: #d88185;
  --primary-500n: #905659;
  --primary-600n: #6c4143;
  --primary-700n: #482b2c;
  --primary-800n: #362021;
  --primary-900n: #120b0b;
  --hue-0-100n: #fcf4f4;
  --hue-0-200n: #f6dfdf;
  --hue-0-300n: #efcaca;
  --hue-0-400n: #d88181;
  --hue-0-500n: #905656;
  --hue-0-600n: #6c4141;
  --hue-0-700n: #482b2b;
  --hue-0-800n: #362020;
  --hue-0-900n: #120b0b;
  --hue-30-100n: #fcf8f4;
  --hue-30-200n: #faebdb;
  --hue-30-300n: #f5ddc4;
  --hue-30-400n: #d8ad81;
  --hue-30-500n: #9b734b;
  --hue-30-600n: #745739;
  --hue-30-700n: #4d3a26;
  --hue-30-800n: #3a2b1c;
  --hue-30-900n: #120e0b;
  --hue-60-100n: #fdfdf3;
  --hue-60-200n: #fafadb;
  --hue-60-300n: #f5f5c4;
  --hue-60-400n: #e8e871;
  --hue-60-500n: #9b9b4b;
  --hue-60-600n: #747439;
  --hue-60-700n: #4d4d26;
  --hue-60-800n: #3a3a1c;
  --hue-60-900n: #13130a;
  --hue-90-100n: #f8fcf4;
  --hue-90-200n: #ebf6df;
  --hue-90-300n: #ddefca;
  --hue-90-400n: #add881;
  --hue-90-500n: #739056;
  --hue-90-600n: #576c41;
  --hue-90-700n: #3a482b;
  --hue-90-800n: #2b3620;
  --hue-90-900n: #0e120b;
  --hue-120-100n: #f4fcf4;
  --hue-120-200n: #dff6df;
  --hue-120-300n: #caefca;
  --hue-120-400n: #81d881;
  --hue-120-500n: #569056;
  --hue-120-600n: #416c41;
  --hue-120-700n: #2b482b;
  --hue-120-800n: #203620;
  --hue-120-900n: #0b120b;
  --hue-150-100n: #f4fcf8;
  --hue-150-200n: #dff6eb;
  --hue-150-300n: #caefdd;
  --hue-150-400n: #81d8ad;
  --hue-150-500n: #569073;
  --hue-150-600n: #416c57;
  --hue-150-700n: #2b483a;
  --hue-150-800n: #20362b;
  --hue-150-900n: #0b120e;
  --hue-180-100n: #f4fcfc;
  --hue-180-200n: #dff6f6;
  --hue-180-300n: #caefef;
  --hue-180-400n: #81d8d8;
  --hue-180-500n: #569090;
  --hue-180-600n: #416c6c;
  --hue-180-700n: #2b4848;
  --hue-180-800n: #203636;
  --hue-180-900n: #0b1212;
  --hue-210-100n: #f4f8fc;
  --hue-210-200n: #dfebf6;
  --hue-210-300n: #caddef;
  --hue-210-400n: #81add8;
  --hue-210-500n: #567390;
  --hue-210-600n: #41576c;
  --hue-210-700n: #2b3a48;
  --hue-210-800n: #202b36;
  --hue-210-900n: #0c0e11;
  --hue-240-100n: #f5f5fb;
  --hue-240-200n: #e3e3f2;
  --hue-240-300n: #d0d0e9;
  --hue-240-400n: #8e8ecb;
  --hue-240-500n: #5e5e88;
  --hue-240-600n: #474766;
  --hue-240-700n: #2f2f44;
  --hue-240-800n: #232333;
  --hue-240-900n: #0c0c11;
  --hue-270-100n: #f8f5fb;
  --hue-270-200n: #ebe1f4;
  --hue-270-300n: #ddcced;
  --hue-270-400n: #ad86d3;
  --hue-270-500n: #73598d;
  --hue-270-600n: #57436a;
  --hue-270-700n: #3a2d46;
  --hue-270-800n: #2b2135;
  --hue-270-900n: #0e0c11;
  --hue-300-100n: #fbf5fb;
  --hue-300-200n: #f4e1f4;
  --hue-300-300n: #edcced;
  --hue-300-400n: #d386d3;
  --hue-300-500n: #8d598d;
  --hue-300-600n: #6a436a;
  --hue-300-700n: #462d46;
  --hue-300-800n: #352135;
  --hue-300-900n: #120b12;
  --hue-330-100n: #fcf4f8;
  --hue-330-200n: #f6dfeb;
  --hue-330-300n: #efcadd;
  --hue-330-400n: #d881ad;
  --hue-330-500n: #905673;
  --hue-330-600n: #6c4157;
  --hue-330-700n: #482b3a;
  --hue-330-800n: #36202b;
  --hue-330-900n: #120b0e;
  --complementary-100n: #f7fafa;
  --complementary-200n: #e5f0f0;
  --complementary-300n: #d3e7e6;
  --complementary-400n: #95c4c2;
  --complementary-500n: #638381;
  --complementary-600n: #4b6261;
  --complementary-700n: #324141;
  --complementary-800n: #253130;
  --complementary-900n: #0d1010;
  --analogous1-100n: #fcf7f5;
  --analogous1-200n: #f6e8e0;
  --analogous1-300n: #efd8cb;
  --analogous1-400n: #d8a083;
  --analogous1-500n: #916b57;
  --analogous1-600n: #6d5141;
  --analogous1-700n: #48352b;
  --analogous1-800n: #362821;
  --analogous1-900n: #120d0b;
  --analogous2-100n: #fdfcf4;
  --analogous2-200n: #faf5dc;
  --analogous2-300n: #f5edc5;
  --analogous2-400n: #e8d472;
  --analogous2-500n: #9b8e4c;
  --analogous2-600n: #756a39;
  --analogous2-700n: #4d4626;
  --analogous2-800n: #3a351c;
  --analogous2-900n: #13120a;
  --analogous3-100n: #f9fcf3;
  --analogous3-200n: #edf5db;
  --analogous3-300n: #e1eec3;
  --analogous3-400n: #b6d66f;
  --analogous3-500n: #798f4a;
  --analogous3-600n: #5b6b38;
  --analogous3-700n: #3d4725;
  --analogous3-800n: #2d351c;
  --analogous3-900n: #0f1209;
  --split1-100n: #f7faf7;
  --split1-200n: #e5f0e8;
  --split1-300n: #d3e7d8;
  --split1-400n: #95c4a1;
  --split1-500n: #63836b;
  --split1-600n: #4b6251;
  --split1-700n: #324135;
  --split1-800n: #253128;
  --split1-900n: #0d100e;
  --split2-100n: #f7f8fa;
  --split2-200n: #e7e9ef;
  --split2-300n: #d6dbe5;
  --split2-400n: #9da8be;
  --split2-500n: #68707f;
  --split2-600n: #4f545f;
  --split2-700n: #343840;
  --split2-800n: #272a30;
  --split2-900n: #0d0e10;
  --square1-100n: #f9fcf3;
  --square1-200n: #edf5db;
  --square1-300n: #e1eec3;
  --square1-400n: #b6d66f;
  --square1-500n: #798f4a;
  --square1-600n: #5b6b38;
  --square1-700n: #3d4725;
  --square1-800n: #2d351c;
  --square1-900n: #0f1209;
  --square2-100n: #f7fafa;
  --square2-200n: #e5f0f0;
  --square2-300n: #d3e7e6;
  --square2-400n: #95c4c2;
  --square2-500n: #638381;
  --square2-600n: #4b6261;
  --square2-700n: #324141;
  --square2-800n: #253130;
  --square2-900n: #0d1010;
  --square3-100n: #f8f4f9;
  --square3-200n: #eadeee;
  --square3-300n: #dcc9e2;
  --square3-400n: #aa7db9;
  --square3-500n: #71537b;
  --square3-600n: #553e5d;
  --square3-700n: #392a3e;
  --square3-800n: #2b1f2f;
  --square3-900n: #0e0b0f;
  --triadic1-100n: #f6faf5;
  --triadic1-200n: #e2f1df;
  --triadic1-300n: #cfe8c9;
  --triadic1-400n: #8bc87d;
  --triadic1-500n: #5d8653;
  --triadic1-600n: #46643f;
  --triadic1-700n: #2e422a;
  --triadic1-800n: #23321f;
  --triadic1-900n: #0c100b;
  --triadic2-100n: #f6f5f9;
  --triadic2-200n: #e4e1ed;
  --triadic2-300n: #d2cde0;
  --triadic2-400n: #9387b4;
  --triadic2-500n: #625a78;
  --triadic2-600n: #4a445a;
  --triadic2-700n: #312d3c;
  --triadic2-800n: #25222d;
  --triadic2-900n: #0c0b0f;
  --tetradic1-100n: #fdfcf4;
  --tetradic1-200n: #faf5dc;
  --tetradic1-300n: #f5edc5;
  --tetradic1-400n: #e8d472;
  --tetradic1-500n: #9b8e4c;
  --tetradic1-600n: #756a39;
  --tetradic1-700n: #4d4626;
  --tetradic1-800n: #3a351c;
  --tetradic1-900n: #13120a;
  --tetradic2-100n: #f7fafa;
  --tetradic2-200n: #e5f0f0;
  --tetradic2-300n: #d3e7e6;
  --tetradic2-400n: #95c4c2;
  --tetradic2-500n: #638381;
  --tetradic2-600n: #4b6261;
  --tetradic2-700n: #324141;
  --tetradic2-800n: #253130;
  --tetradic2-900n: #0d1010;
  --tetradic3-100n: #f6f5f9;
  --tetradic3-200n: #e4e1ed;
  --tetradic3-300n: #d2cde0;
  --tetradic3-400n: #9387b4;
  --tetradic3-500n: #625a78;
  --tetradic3-600n: #4a445a;
  --tetradic3-700n: #312d3c;
  --tetradic3-800n: #25222d;
  --tetradic3-900n: #0c0b0f;
  --success-100n: #f4fcf4;
  --success-200n: #dff6df;
  --success-300n: #caefca;
  --success-400n: #81d881;
  --success-500n: #569056;
  --success-600n: #416c41;
  --success-700n: #2b482b;
  --success-800n: #203620;
  --success-900n: #0b120b;
  --danger-100n: #fcf4f4;
  --danger-200n: #f6dfdf;
  --danger-300n: #efcaca;
  --danger-400n: #d88181;
  --danger-500n: #905656;
  --danger-600n: #6c4141;
  --danger-700n: #482b2b;
  --danger-800n: #362020;
  --danger-900n: #120b0b;
  --warning-100n: #fcf8f4;
  --warning-200n: #faebdb;
  --warning-300n: #f5ddc4;
  --warning-400n: #e8ad71;
  --warning-500n: #9b734b;
  --warning-600n: #745739;
  --warning-700n: #4d3a26;
  --warning-800n: #3a2b1c;
  --warning-900n: #120e0b;
  --info-100n: #f4f8fc;
  --info-200n: #dfebf6;
  --info-300n: #caddef;
  --info-400n: #81add8;
  --info-500n: #567390;
  --info-600n: #41576c;
  --info-700n: #2b3a48;
  --info-800n: #202b36;
  --info-900n: #0c0e11;
  --primary-100a: rgba(255, 241, 242, 0.3);
  --primary-200a: rgba(255, 214, 216, 0.3);
  --primary-300a: rgba(254, 187, 190, 0.3);
  --primary-400a: rgba(253, 92, 99, 0.3);
  --primary-500a: rgba(169, 61, 66, 0.3);
  --primary-600a: rgba(127, 46, 50, 0.3);
  --primary-700a: rgba(84, 31, 33, 0.3);
  --primary-800a: rgba(63, 23, 25, 0.3);
  --primary-900a: rgba(21, 8, 8, 0.3);
  --hue-0-100a: rgba(255, 241, 241, 0.3);
  --hue-0-200a: rgba(255, 214, 214, 0.3);
  --hue-0-300a: rgba(254, 187, 187, 0.3);
  --hue-0-400a: rgba(253, 92, 92, 0.3);
  --hue-0-500a: rgba(169, 61, 61, 0.3);
  --hue-0-600a: rgba(127, 46, 46, 0.3);
  --hue-0-700a: rgba(84, 31, 31, 0.3);
  --hue-0-800a: rgba(63, 23, 23, 0.3);
  --hue-0-900a: rgba(21, 8, 8, 0.3);
  --hue-30-100a: rgba(255, 248, 241, 0.3);
  --hue-30-200a: rgba(255, 235, 214, 0.3);
  --hue-30-300a: rgba(254, 221, 187, 0.3);
  --hue-30-400a: rgba(253, 173, 92, 0.3);
  --hue-30-500a: rgba(169, 115, 61, 0.3);
  --hue-30-600a: rgba(127, 87, 46, 0.3);
  --hue-30-700a: rgba(84, 58, 31, 0.3);
  --hue-30-800a: rgba(63, 43, 23, 0.3);
  --hue-30-900a: rgba(21, 14, 8, 0.3);
  --hue-60-100a: rgba(255, 255, 241, 0.3);
  --hue-60-200a: rgba(255, 255, 214, 0.3);
  --hue-60-300a: rgba(254, 254, 187, 0.3);
  --hue-60-400a: rgba(253, 253, 92, 0.3);
  --hue-60-500a: rgba(169, 169, 61, 0.3);
  --hue-60-600a: rgba(127, 127, 46, 0.3);
  --hue-60-700a: rgba(84, 84, 31, 0.3);
  --hue-60-800a: rgba(63, 63, 23, 0.3);
  --hue-60-900a: rgba(21, 21, 8, 0.3);
  --hue-90-100a: rgba(248, 255, 241, 0.3);
  --hue-90-200a: rgba(235, 255, 214, 0.3);
  --hue-90-300a: rgba(221, 254, 187, 0.3);
  --hue-90-400a: rgba(173, 253, 92, 0.3);
  --hue-90-500a: rgba(115, 169, 61, 0.3);
  --hue-90-600a: rgba(87, 127, 46, 0.3);
  --hue-90-700a: rgba(58, 84, 31, 0.3);
  --hue-90-800a: rgba(43, 63, 23, 0.3);
  --hue-90-900a: rgba(14, 21, 8, 0.3);
  --hue-120-100a: rgba(241, 255, 241, 0.3);
  --hue-120-200a: rgba(214, 255, 214, 0.3);
  --hue-120-300a: rgba(187, 254, 187, 0.3);
  --hue-120-400a: rgba(92, 253, 92, 0.3);
  --hue-120-500a: rgba(61, 169, 61, 0.3);
  --hue-120-600a: rgba(46, 127, 46, 0.3);
  --hue-120-700a: rgba(31, 84, 31, 0.3);
  --hue-120-800a: rgba(23, 63, 23, 0.3);
  --hue-120-900a: rgba(8, 21, 8, 0.3);
  --hue-150-100a: rgba(241, 255, 248, 0.3);
  --hue-150-200a: rgba(214, 255, 235, 0.3);
  --hue-150-300a: rgba(187, 254, 221, 0.3);
  --hue-150-400a: rgba(92, 253, 173, 0.3);
  --hue-150-500a: rgba(61, 169, 115, 0.3);
  --hue-150-600a: rgba(46, 127, 87, 0.3);
  --hue-150-700a: rgba(31, 84, 58, 0.3);
  --hue-150-800a: rgba(23, 63, 43, 0.3);
  --hue-150-900a: rgba(8, 21, 14, 0.3);
  --hue-180-100a: rgba(241, 255, 255, 0.3);
  --hue-180-200a: rgba(214, 255, 255, 0.3);
  --hue-180-300a: rgba(187, 254, 254, 0.3);
  --hue-180-400a: rgba(92, 253, 253, 0.3);
  --hue-180-500a: rgba(61, 169, 169, 0.3);
  --hue-180-600a: rgba(46, 127, 127, 0.3);
  --hue-180-700a: rgba(31, 84, 84, 0.3);
  --hue-180-800a: rgba(23, 63, 63, 0.3);
  --hue-180-900a: rgba(8, 21, 21, 0.3);
  --hue-210-100a: rgba(241, 248, 255, 0.3);
  --hue-210-200a: rgba(214, 235, 255, 0.3);
  --hue-210-300a: rgba(187, 221, 254, 0.3);
  --hue-210-400a: rgba(92, 173, 253, 0.3);
  --hue-210-500a: rgba(61, 115, 169, 0.3);
  --hue-210-600a: rgba(46, 87, 127, 0.3);
  --hue-210-700a: rgba(31, 58, 84, 0.3);
  --hue-210-800a: rgba(23, 43, 63, 0.3);
  --hue-210-900a: rgba(8, 14, 21, 0.3);
  --hue-240-100a: rgba(241, 241, 255, 0.3);
  --hue-240-200a: rgba(214, 214, 255, 0.3);
  --hue-240-300a: rgba(187, 187, 254, 0.3);
  --hue-240-400a: rgba(92, 92, 253, 0.3);
  --hue-240-500a: rgba(61, 61, 169, 0.3);
  --hue-240-600a: rgba(46, 46, 127, 0.3);
  --hue-240-700a: rgba(31, 31, 84, 0.3);
  --hue-240-800a: rgba(23, 23, 63, 0.3);
  --hue-240-900a: rgba(8, 8, 21, 0.3);
  --hue-270-100a: rgba(248, 241, 255, 0.3);
  --hue-270-200a: rgba(235, 214, 255, 0.3);
  --hue-270-300a: rgba(221, 187, 254, 0.3);
  --hue-270-400a: rgba(173, 92, 253, 0.3);
  --hue-270-500a: rgba(115, 61, 169, 0.3);
  --hue-270-600a: rgba(87, 46, 127, 0.3);
  --hue-270-700a: rgba(58, 31, 84, 0.3);
  --hue-270-800a: rgba(43, 23, 63, 0.3);
  --hue-270-900a: rgba(14, 8, 21, 0.3);
  --hue-300-100a: rgba(255, 241, 255, 0.3);
  --hue-300-200a: rgba(255, 214, 255, 0.3);
  --hue-300-300a: rgba(254, 187, 254, 0.3);
  --hue-300-400a: rgba(253, 92, 253, 0.3);
  --hue-300-500a: rgba(169, 61, 169, 0.3);
  --hue-300-600a: rgba(127, 46, 127, 0.3);
  --hue-300-700a: rgba(84, 31, 84, 0.3);
  --hue-300-800a: rgba(63, 23, 63, 0.3);
  --hue-300-900a: rgba(21, 8, 21, 0.3);
  --hue-330-100a: rgba(255, 241, 248, 0.3);
  --hue-330-200a: rgba(255, 214, 235, 0.3);
  --hue-330-300a: rgba(254, 187, 221, 0.3);
  --hue-330-400a: rgba(253, 92, 173, 0.3);
  --hue-330-500a: rgba(169, 61, 115, 0.3);
  --hue-330-600a: rgba(127, 46, 87, 0.3);
  --hue-330-700a: rgba(84, 31, 58, 0.3);
  --hue-330-800a: rgba(63, 23, 43, 0.3);
  --hue-330-900a: rgba(21, 8, 14, 0.3);
  --complementary-100a: rgba(245, 252, 251, 0.3);
  --complementary-200a: rgba(224, 245, 244, 0.3);
  --complementary-300a: rgba(203, 239, 237, 0.3);
  --complementary-400a: rgba(129, 216, 212, 0.3);
  --complementary-500a: rgba(86, 144, 141, 0.3);
  --complementary-600a: rgba(65, 108, 106, 0.3);
  --complementary-700a: rgba(43, 72, 71, 0.3);
  --complementary-800a: rgba(32, 54, 53, 0.3);
  --complementary-900a: rgba(11, 18, 18, 0.3);
  --analogous1-100a: rgba(255, 246, 242, 0.3);
  --analogous1-200a: rgba(255, 229, 215, 0.3);
  --analogous1-300a: rgba(254, 211, 188, 0.3);
  --analogous1-400a: rgba(253, 149, 94, 0.3);
  --analogous1-500a: rgba(169, 99, 63, 0.3);
  --analogous1-600a: rgba(127, 75, 47, 0.3);
  --analogous1-700a: rgba(84, 50, 31, 0.3);
  --analogous1-800a: rgba(63, 37, 24, 0.3);
  --analogous1-900a: rgba(21, 12, 8, 0.3);
  --analogous2-100a: rgba(255, 253, 242, 0.3);
  --analogous2-200a: rgba(255, 248, 215, 0.3);
  --analogous2-300a: rgba(254, 243, 188, 0.3);
  --analogous2-400a: rgba(253, 226, 93, 0.3);
  --analogous2-500a: rgba(169, 151, 62, 0.3);
  --analogous2-600a: rgba(127, 113, 47, 0.3);
  --analogous2-700a: rgba(84, 75, 31, 0.3);
  --analogous2-800a: rgba(63, 57, 23, 0.3);
  --analogous2-900a: rgba(21, 19, 8, 0.3);
  --analogous3-100a: rgba(250, 253, 242, 0.3);
  --analogous3-200a: rgba(239, 249, 215, 0.3);
  --analogous3-300a: rgba(228, 245, 188, 0.3);
  --analogous3-400a: rgba(189, 232, 93, 0.3);
  --analogous3-500a: rgba(126, 155, 62, 0.3);
  --analogous3-600a: rgba(95, 116, 47, 0.3);
  --analogous3-700a: rgba(63, 77, 31, 0.3);
  --analogous3-800a: rgba(47, 58, 23, 0.3);
  --analogous3-900a: rgba(16, 19, 8, 0.3);
  --split1-100a: rgba(245, 252, 246, 0.3);
  --split1-200a: rgba(224, 245, 229, 0.3);
  --split1-300a: rgba(203, 239, 212, 0.3);
  --split1-400a: rgba(129, 216, 151, 0.3);
  --split1-500a: rgba(86, 144, 101, 0.3);
  --split1-600a: rgba(65, 108, 76, 0.3);
  --split1-700a: rgba(43, 72, 50, 0.3);
  --split1-800a: rgba(32, 54, 38, 0.3);
  --split1-900a: rgba(11, 18, 13, 0.3);
  --split2-100a: rgba(245, 247, 252, 0.3);
  --split2-200a: rgba(224, 231, 246, 0.3);
  --split2-300a: rgba(203, 215, 240, 0.3);
  --split2-400a: rgba(129, 160, 218, 0.3);
  --split2-500a: rgba(86, 107, 145, 0.3);
  --split2-600a: rgba(65, 80, 109, 0.3);
  --split2-700a: rgba(43, 53, 73, 0.3);
  --split2-800a: rgba(32, 40, 55, 0.3);
  --split2-900a: rgba(11, 13, 18, 0.3);
  --square1-100a: rgba(250, 253, 242, 0.3);
  --square1-200a: rgba(239, 249, 215, 0.3);
  --square1-300a: rgba(228, 245, 188, 0.3);
  --square1-400a: rgba(189, 232, 93, 0.3);
  --square1-500a: rgba(126, 155, 62, 0.3);
  --square1-600a: rgba(95, 116, 47, 0.3);
  --square1-700a: rgba(63, 77, 31, 0.3);
  --square1-800a: rgba(47, 58, 23, 0.3);
  --square1-900a: rgba(16, 19, 8, 0.3);
  --square2-100a: rgba(245, 252, 251, 0.3);
  --square2-200a: rgba(224, 245, 244, 0.3);
  --square2-300a: rgba(203, 239, 237, 0.3);
  --square2-400a: rgba(129, 216, 212, 0.3);
  --square2-500a: rgba(86, 144, 141, 0.3);
  --square2-600a: rgba(65, 108, 106, 0.3);
  --square2-700a: rgba(43, 72, 71, 0.3);
  --square2-800a: rgba(32, 54, 53, 0.3);
  --square2-900a: rgba(11, 18, 18, 0.3);
  --square3-100a: rgba(249, 241, 252, 0.3);
  --square3-200a: rgba(238, 214, 246, 0.3);
  --square3-300a: rgba(226, 187, 240, 0.3);
  --square3-400a: rgba(186, 92, 218, 0.3);
  --square3-500a: rgba(124, 61, 145, 0.3);
  --square3-600a: rgba(93, 46, 109, 0.3);
  --square3-700a: rgba(62, 31, 73, 0.3);
  --square3-800a: rgba(47, 23, 55, 0.3);
  --square3-900a: rgba(16, 8, 18, 0.3);
  --triadic1-100a: rgba(244, 253, 242, 0.3);
  --triadic1-200a: rgba(221, 249, 215, 0.3);
  --triadic1-300a: rgba(198, 245, 188, 0.3);
  --triadic1-400a: rgba(119, 232, 93, 0.3);
  --triadic1-500a: rgba(79, 155, 62, 0.3);
  --triadic1-600a: rgba(60, 116, 47, 0.3);
  --triadic1-700a: rgba(40, 77, 31, 0.3);
  --triadic1-800a: rgba(30, 58, 23, 0.3);
  --triadic1-900a: rgba(10, 19, 8, 0.3);
  --triadic2-100a: rgba(245, 242, 252, 0.3);
  --triadic2-200a: rgba(224, 216, 246, 0.3);
  --triadic2-300a: rgba(203, 189, 240, 0.3);
  --triadic2-400a: rgba(129, 97, 218, 0.3);
  --triadic2-500a: rgba(86, 65, 145, 0.3);
  --triadic2-600a: rgba(65, 49, 109, 0.3);
  --triadic2-700a: rgba(43, 32, 73, 0.3);
  --triadic2-800a: rgba(32, 24, 55, 0.3);
  --triadic2-900a: rgba(11, 8, 18, 0.3);
  --tetradic1-100a: rgba(255, 253, 242, 0.3);
  --tetradic1-200a: rgba(255, 248, 215, 0.3);
  --tetradic1-300a: rgba(254, 243, 188, 0.3);
  --tetradic1-400a: rgba(253, 226, 93, 0.3);
  --tetradic1-500a: rgba(169, 151, 62, 0.3);
  --tetradic1-600a: rgba(127, 113, 47, 0.3);
  --tetradic1-700a: rgba(84, 75, 31, 0.3);
  --tetradic1-800a: rgba(63, 57, 23, 0.3);
  --tetradic1-900a: rgba(21, 19, 8, 0.3);
  --tetradic2-100a: rgba(245, 252, 251, 0.3);
  --tetradic2-200a: rgba(224, 245, 244, 0.3);
  --tetradic2-300a: rgba(203, 239, 237, 0.3);
  --tetradic2-400a: rgba(129, 216, 212, 0.3);
  --tetradic2-500a: rgba(86, 144, 141, 0.3);
  --tetradic2-600a: rgba(65, 108, 106, 0.3);
  --tetradic2-700a: rgba(43, 72, 71, 0.3);
  --tetradic2-800a: rgba(32, 54, 53, 0.3);
  --tetradic2-900a: rgba(11, 18, 18, 0.3);
  --tetradic3-100a: rgba(245, 242, 252, 0.3);
  --tetradic3-200a: rgba(224, 216, 246, 0.3);
  --tetradic3-300a: rgba(203, 189, 240, 0.3);
  --tetradic3-400a: rgba(129, 97, 218, 0.3);
  --tetradic3-500a: rgba(86, 65, 145, 0.3);
  --tetradic3-600a: rgba(65, 49, 109, 0.3);
  --tetradic3-700a: rgba(43, 32, 73, 0.3);
  --tetradic3-800a: rgba(32, 24, 55, 0.3);
  --tetradic3-900a: rgba(11, 8, 18, 0.3);
  --success-100a: rgba(241, 255, 241, 0.3);
  --success-200a: rgba(214, 255, 214, 0.3);
  --success-300a: rgba(187, 254, 187, 0.3);
  --success-400a: rgba(92, 253, 92, 0.3);
  --success-500a: rgba(61, 169, 61, 0.3);
  --success-600a: rgba(46, 127, 46, 0.3);
  --success-700a: rgba(31, 84, 31, 0.3);
  --success-800a: rgba(23, 63, 23, 0.3);
  --success-900a: rgba(8, 21, 8, 0.3);
  --danger-100a: rgba(255, 241, 241, 0.3);
  --danger-200a: rgba(255, 214, 214, 0.3);
  --danger-300a: rgba(254, 187, 187, 0.3);
  --danger-400a: rgba(253, 92, 92, 0.3);
  --danger-500a: rgba(169, 61, 61, 0.3);
  --danger-600a: rgba(127, 46, 46, 0.3);
  --danger-700a: rgba(84, 31, 31, 0.3);
  --danger-800a: rgba(63, 23, 23, 0.3);
  --danger-900a: rgba(21, 8, 8, 0.3);
  --warning-100a: rgba(255, 248, 241, 0.3);
  --warning-200a: rgba(255, 235, 214, 0.3);
  --warning-300a: rgba(254, 221, 187, 0.3);
  --warning-400a: rgba(253, 173, 92, 0.3);
  --warning-500a: rgba(169, 115, 61, 0.3);
  --warning-600a: rgba(127, 87, 46, 0.3);
  --warning-700a: rgba(84, 58, 31, 0.3);
  --warning-800a: rgba(63, 43, 23, 0.3);
  --warning-900a: rgba(21, 14, 8, 0.3);
  --info-100a: rgba(241, 248, 255, 0.3);
  --info-200a: rgba(214, 235, 255, 0.3);
  --info-300a: rgba(187, 221, 254, 0.3);
  --info-400a: rgba(92, 173, 253, 0.3);
  --info-500a: rgba(61, 115, 169, 0.3);
  --info-600a: rgba(46, 87, 127, 0.3);
  --info-700a: rgba(31, 58, 84, 0.3);
  --info-800a: rgba(23, 43, 63, 0.3);
  --info-900a: rgba(8, 14, 21, 0.3);
}
