:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #f7f8fb;
  --primary-200: #e7ebf2;
  --primary-300: #d6ddea;
  --primary-400: #9daccc;
  --primary-500: #98a5bf;
  --primary-600: #96a1b9;
  --primary-700: #919aac;
  --primary-800: #8c929f;
  --primary-900: #85878c;
  --hue-0-100: #fbf7f7;
  --hue-0-200: #f2e7e7;
  --hue-0-300: #ead6d6;
  --hue-0-400: #cc9d9d;
  --hue-0-500: #bf9898;
  --hue-0-600: #b99696;
  --hue-0-700: #ac9191;
  --hue-0-800: #9f8c8c;
  --hue-0-900: #8c8585;
  --hue-30-100: #fbf9f7;
  --hue-30-200: #f2ede7;
  --hue-30-300: #eae0d6;
  --hue-30-400: #ccb59d;
  --hue-30-500: #b2a393;
  --hue-30-600: #a69a8f;
  --hue-30-700: #99918a;
  --hue-30-800: #938d87;
  --hue-30-900: #868482;
  --hue-60-100: #fbfbf7;
  --hue-60-200: #f2f2e7;
  --hue-60-300: #eaead6;
  --hue-60-400: #cccc9d;
  --hue-60-500: #b2b293;
  --hue-60-600: #a6a68f;
  --hue-60-700: #99998a;
  --hue-60-800: #939387;
  --hue-60-900: #868682;
  --hue-90-100: #f9fbf7;
  --hue-90-200: #edf2e7;
  --hue-90-300: #e0ead6;
  --hue-90-400: #b5cc9d;
  --hue-90-500: #a3b293;
  --hue-90-600: #9aa68f;
  --hue-90-700: #91998a;
  --hue-90-800: #8d9387;
  --hue-90-900: #848682;
  --hue-120-100: #f7fbf7;
  --hue-120-200: #e7f2e7;
  --hue-120-300: #d6ead6;
  --hue-120-400: #9dcc9d;
  --hue-120-500: #93b293;
  --hue-120-600: #8fa68f;
  --hue-120-700: #8a998a;
  --hue-120-800: #879387;
  --hue-120-900: #828682;
  --hue-150-100: #f7fbf9;
  --hue-150-200: #e7f2ed;
  --hue-150-300: #d6eae0;
  --hue-150-400: #9dccb5;
  --hue-150-500: #93b2a3;
  --hue-150-600: #8fa69a;
  --hue-150-700: #8a9991;
  --hue-150-800: #87938d;
  --hue-150-900: #828684;
  --hue-180-100: #f7fbfb;
  --hue-180-200: #e7f2f2;
  --hue-180-300: #d6eaea;
  --hue-180-400: #9dcccc;
  --hue-180-500: #93b2b2;
  --hue-180-600: #8fa6a6;
  --hue-180-700: #8a9999;
  --hue-180-800: #879393;
  --hue-180-900: #828686;
  --hue-210-100: #f7f9fb;
  --hue-210-200: #e7edf2;
  --hue-210-300: #d6e0ea;
  --hue-210-400: #9db5cc;
  --hue-210-500: #98acbf;
  --hue-210-600: #96a8b9;
  --hue-210-700: #919fac;
  --hue-210-800: #8c969f;
  --hue-210-900: #85898c;
  --hue-240-100: #f7f7fb;
  --hue-240-200: #e7e7f2;
  --hue-240-300: #d6d6ea;
  --hue-240-400: #9d9dcc;
  --hue-240-500: #9898bf;
  --hue-240-600: #9696b9;
  --hue-240-700: #9191ac;
  --hue-240-800: #8c8c9f;
  --hue-240-900: #85858c;
  --hue-270-100: #f9f7fb;
  --hue-270-200: #ede7f2;
  --hue-270-300: #e0d6ea;
  --hue-270-400: #b59dcc;
  --hue-270-500: #ac98bf;
  --hue-270-600: #a896b9;
  --hue-270-700: #9f91ac;
  --hue-270-800: #968c9f;
  --hue-270-900: #89858c;
  --hue-300-100: #fbf7fb;
  --hue-300-200: #f2e7f2;
  --hue-300-300: #ead6ea;
  --hue-300-400: #cc9dcc;
  --hue-300-500: #bf98bf;
  --hue-300-600: #b996b9;
  --hue-300-700: #ac91ac;
  --hue-300-800: #9f8c9f;
  --hue-300-900: #8c858c;
  --hue-330-100: #fbf7f9;
  --hue-330-200: #f2e7ed;
  --hue-330-300: #ead6e0;
  --hue-330-400: #cc9db5;
  --hue-330-500: #bf98ac;
  --hue-330-600: #b996a8;
  --hue-330-700: #ac919f;
  --hue-330-800: #9f8c96;
  --hue-330-900: #8c8589;
  --complementary-100: #fbfaf8;
  --complementary-200: #f1eee8;
  --complementary-300: #e8e3d9;
  --complementary-400: #c7bba2;
  --complementary-500: #afa797;
  --complementary-600: #a39d91;
  --complementary-700: #97938b;
  --complementary-800: #928f88;
  --complementary-900: #868583;
  --analogous1-100: #f8f7fb;
  --analogous1-200: #e9e7f2;
  --analogous1-300: #d9d7ea;
  --analogous1-400: #a4a0cc;
  --analogous1-500: #9e9abf;
  --analogous1-600: #9b98b9;
  --analogous1-700: #9592ac;
  --analogous1-800: #8f8d9f;
  --analogous1-900: #86858c;
  --analogous2-100: #f9f7fb;
  --analogous2-200: #ede7f2;
  --analogous2-300: #e1d7ea;
  --analogous2-400: #b8a0cc;
  --analogous2-500: #ae9abf;
  --analogous2-600: #aa98b9;
  --analogous2-700: #a092ac;
  --analogous2-800: #978d9f;
  --analogous2-900: #89858c;
  --analogous3-100: #faf7fa;
  --analogous3-200: #f1e7f1;
  --analogous3-300: #e7d7e7;
  --analogous3-400: #c4a0c5;
  --analogous3-500: #b99aba;
  --analogous3-600: #b398b4;
  --analogous3-700: #a892a8;
  --analogous3-800: #9c8d9d;
  --analogous3-900: #8b858b;
  --split1-100: #faf8f8;
  --split1-200: #f1e9e9;
  --split1-300: #e7dada;
  --split1-400: #c4a7a5;
  --split1-500: #b9a09f;
  --split1-600: #b39d9c;
  --split1-700: #a89795;
  --split1-800: #9c908f;
  --split1-900: #8b8686;
  --split2-100: #fafbf8;
  --split2-200: #eff2e8;
  --split2-300: #e5e8d9;
  --split2-400: #c0c8a2;
  --split2-500: #aab097;
  --split2-600: #a0a491;
  --split2-700: #95988b;
  --split2-800: #909288;
  --split2-900: #858683;
  --square1-100: #faf7fa;
  --square1-200: #f1e7f1;
  --square1-300: #e7d7e7;
  --square1-400: #c4a0c5;
  --square1-500: #b99aba;
  --square1-600: #b398b4;
  --square1-700: #a892a8;
  --square1-800: #9c8d9d;
  --square1-900: #8b858b;
  --square2-100: #fbfaf8;
  --square2-200: #f1eee8;
  --square2-300: #e8e3d9;
  --square2-400: #c7bba2;
  --square2-500: #afa797;
  --square2-600: #a39d91;
  --square2-700: #97938b;
  --square2-800: #928f88;
  --square2-900: #868583;
  --square3-100: #f7fbf8;
  --square3-200: #e7f2ea;
  --square3-300: #d6e8dc;
  --square3-400: #9dc8aa;
  --square3-500: #93b09c;
  --square3-600: #8fa495;
  --square3-700: #8a988e;
  --square3-800: #87928a;
  --square3-900: #828683;
  --triadic1-100: #faf7f9;
  --triadic1-200: #f1e7ec;
  --triadic1-300: #e7d7df;
  --triadic1-400: #c4a0b1;
  --triadic1-500: #b99aa9;
  --triadic1-600: #b398a5;
  --triadic1-700: #a8929d;
  --triadic1-800: #9c8d94;
  --triadic1-900: #8b8588;
  --triadic2-100: #f8fbf8;
  --triadic2-200: #eaf2e8;
  --triadic2-300: #dce8d9;
  --triadic2-400: #abc8a2;
  --triadic2-500: #9cb097;
  --triadic2-600: #95a491;
  --triadic2-700: #8e988b;
  --triadic2-800: #8b9288;
  --triadic2-900: #838683;
  --tetradic1-100: #f9f7fb;
  --tetradic1-200: #ede7f2;
  --tetradic1-300: #e1d7ea;
  --tetradic1-400: #b8a0cc;
  --tetradic1-500: #ae9abf;
  --tetradic1-600: #aa98b9;
  --tetradic1-700: #a092ac;
  --tetradic1-800: #978d9f;
  --tetradic1-900: #89858c;
  --tetradic2-100: #fbfaf8;
  --tetradic2-200: #f1eee8;
  --tetradic2-300: #e8e3d9;
  --tetradic2-400: #c7bba2;
  --tetradic2-500: #afa797;
  --tetradic2-600: #a39d91;
  --tetradic2-700: #97938b;
  --tetradic2-800: #928f88;
  --tetradic2-900: #868583;
  --tetradic3-100: #f8fbf8;
  --tetradic3-200: #eaf2e8;
  --tetradic3-300: #dce8d9;
  --tetradic3-400: #abc8a2;
  --tetradic3-500: #9cb097;
  --tetradic3-600: #95a491;
  --tetradic3-700: #8e988b;
  --tetradic3-800: #8b9288;
  --tetradic3-900: #838683;
  --success-100: #f7fbf7;
  --success-200: #e7f2e7;
  --success-300: #d6ead6;
  --success-400: #9dcc9d;
  --success-500: #93b293;
  --success-600: #8fa68f;
  --success-700: #8a998a;
  --success-800: #879387;
  --success-900: #828682;
  --danger-100: #fbf7f7;
  --danger-200: #f2e7e7;
  --danger-300: #ead6d6;
  --danger-400: #cc9d9d;
  --danger-500: #bf9898;
  --danger-600: #b99696;
  --danger-700: #ac9191;
  --danger-800: #9f8c8c;
  --danger-900: #8c8585;
  --warning-100: #fbf9f7;
  --warning-200: #f2ede7;
  --warning-300: #eae0d6;
  --warning-400: #ccb59d;
  --warning-500: #b2a393;
  --warning-600: #a69a8f;
  --warning-700: #99918a;
  --warning-800: #938d87;
  --warning-900: #868482;
  --info-100: #f7f9fb;
  --info-200: #e7edf2;
  --info-300: #d6e0ea;
  --info-400: #9db5cc;
  --info-500: #98acbf;
  --info-600: #96a8b9;
  --info-700: #919fac;
  --info-800: #8c969f;
  --info-900: #85898c;
  --primary-100n: #f1f2f4;
  --primary-200n: #d5d8de;
  --primary-300n: #b9bec8;
  --primary-400n: #58637b;
  --primary-500n: #495367;
  --primary-600n: #424a5c;
  --primary-700n: #333a48;
  --primary-800n: #252933;
  --primary-900n: #0f1114;
  --hue-0-100n: #f4f1f1;
  --hue-0-200n: #e0d3d3;
  --hue-0-300n: #cbb6b6;
  --hue-0-400n: #835050;
  --hue-0-500n: #6d4343;
  --hue-0-600n: #623c3c;
  --hue-0-700n: #4c2f2f;
  --hue-0-800n: #362222;
  --hue-0-900n: #160d0d;
  --hue-30-100n: #f5f3f0;
  --hue-30-200n: #e2dad1;
  --hue-30-300n: #cfc1b2;
  --hue-30-400n: #836a50;
  --hue-30-500n: #5d472f;
  --hue-30-600n: #463524;
  --hue-30-700n: #2c231b;
  --hue-30-800n: #231b12;
  --hue-30-900n: #0b0907;
  --hue-60-100n: #f5f5f0;
  --hue-60-200n: #e2e2d1;
  --hue-60-300n: #cfcfb2;
  --hue-60-400n: #8c8c47;
  --hue-60-500n: #5d5d2f;
  --hue-60-600n: #464624;
  --hue-60-700n: #2f2f18;
  --hue-60-800n: #232312;
  --hue-60-900n: #0c0c06;
  --hue-90-100n: #f3f5f0;
  --hue-90-200n: #dae2d1;
  --hue-90-300n: #c1cbb6;
  --hue-90-400n: #6a8350;
  --hue-90-500n: #475735;
  --hue-90-600n: #354129;
  --hue-90-700n: #232c1b;
  --hue-90-800n: #1b2312;
  --hue-90-900n: #090b07;
  --hue-120-100n: #f1f4f1;
  --hue-120-200n: #d3e0d3;
  --hue-120-300n: #b6cbb6;
  --hue-120-400n: #508350;
  --hue-120-500n: #355735;
  --hue-120-600n: #294129;
  --hue-120-700n: #1b2c1b;
  --hue-120-800n: #142114;
  --hue-120-900n: #070b07;
  --hue-150-100n: #f1f4f3;
  --hue-150-200n: #d3e0da;
  --hue-150-300n: #b6cbc1;
  --hue-150-400n: #50836a;
  --hue-150-500n: #355747;
  --hue-150-600n: #294135;
  --hue-150-700n: #1b2c23;
  --hue-150-800n: #14211b;
  --hue-150-900n: #070b09;
  --hue-180-100n: #f1f4f4;
  --hue-180-200n: #d3e0e0;
  --hue-180-300n: #b6cbcb;
  --hue-180-400n: #508383;
  --hue-180-500n: #355757;
  --hue-180-600n: #294141;
  --hue-180-700n: #1b2c2c;
  --hue-180-800n: #142121;
  --hue-180-900n: #070b0b;
  --hue-210-100n: #f1f3f4;
  --hue-210-200n: #d3dae0;
  --hue-210-300n: #b6c1cb;
  --hue-210-400n: #506a83;
  --hue-210-500n: #43586d;
  --hue-210-600n: #3c5062;
  --hue-210-700n: #2f3e4c;
  --hue-210-800n: #222c36;
  --hue-210-900n: #0d1216;
  --hue-240-100n: #f1f1f4;
  --hue-240-200n: #d5d5de;
  --hue-240-300n: #b9b9c8;
  --hue-240-400n: #58587b;
  --hue-240-500n: #494967;
  --hue-240-600n: #42425c;
  --hue-240-700n: #333348;
  --hue-240-800n: #252533;
  --hue-240-900n: #0f0f14;
  --hue-270-100n: #f3f1f4;
  --hue-270-200n: #dad4df;
  --hue-270-300n: #c1b7ca;
  --hue-270-400n: #6a5380;
  --hue-270-500n: #58456b;
  --hue-270-600n: #4f3e60;
  --hue-270-700n: #3e304b;
  --hue-270-800n: #2c2335;
  --hue-270-900n: #120e15;
  --hue-300-100n: #f4f1f4;
  --hue-300-200n: #dfd4df;
  --hue-300-300n: #cab7ca;
  --hue-300-400n: #805380;
  --hue-300-500n: #6b456b;
  --hue-300-600n: #603e60;
  --hue-300-700n: #4b304b;
  --hue-300-800n: #352335;
  --hue-300-900n: #150e15;
  --hue-330-100n: #f4f1f3;
  --hue-330-200n: #e0d3da;
  --hue-330-300n: #cbb6c1;
  --hue-330-400n: #83506a;
  --hue-330-500n: #6d4358;
  --hue-330-600n: #623c50;
  --hue-330-700n: #4c2f3e;
  --hue-330-800n: #36222c;
  --hue-330-900n: #160d12;
  --complementary-100n: #f5f4f1;
  --complementary-200n: #e1dcd3;
  --complementary-300n: #ccc5b6;
  --complementary-400n: #85734e;
  --complementary-500n: #594d34;
  --complementary-600n: #423928;
  --complementary-700n: #2c261a;
  --complementary-800n: #221d13;
  --complementary-900n: #0b0a07;
  --analogous1-100n: #f2f1f4;
  --analogous1-200n: #d7d6de;
  --analogous1-300n: #bcbac9;
  --analogous1-400n: #5f5b7d;
  --analogous1-500n: #4f4c68;
  --analogous1-600n: #47445e;
  --analogous1-700n: #373549;
  --analogous1-800n: #272634;
  --analogous1-900n: #100f15;
  --analogous2-100n: #f3f1f4;
  --analogous2-200n: #dad5df;
  --analogous2-300n: #c2b9ca;
  --analogous2-400n: #6e5781;
  --analogous2-500n: #5b486c;
  --analogous2-600n: #524161;
  --analogous2-700n: #40334b;
  --analogous2-800n: #2e2436;
  --analogous2-900n: #120f15;
  --analogous3-100n: #f3f1f3;
  --analogous3-200n: #ddd4dd;
  --analogous3-300n: #c6b7c7;
  --analogous3-400n: #775478;
  --analogous3-500n: #634564;
  --analogous3-600n: #593f59;
  --analogous3-700n: #453046;
  --analogous3-800n: #312332;
  --analogous3-900n: #140e14;
  --split1-100n: #f4f1f1;
  --split1-200n: #ded6d6;
  --split1-300n: #c8bbba;
  --split1-400n: #7b5b58;
  --split1-500n: #664c4a;
  --split1-600n: #5c4443;
  --split1-700n: #473534;
  --split1-800n: #332625;
  --split1-900n: #140f0f;
  --split2-100n: #f4f5f1;
  --split2-200n: #dee2d3;
  --split2-300n: #c8cdb6;
  --split2-400n: #7b874f;
  --split2-500n: #515a35;
  --split2-600n: #3d4428;
  --split2-700n: #292d1a;
  --split2-800n: #1f2213;
  --split2-900n: #0a0b07;
  --square1-100n: #f3f1f3;
  --square1-200n: #ddd4dd;
  --square1-300n: #c6b7c7;
  --square1-400n: #775478;
  --square1-500n: #634564;
  --square1-600n: #593f59;
  --square1-700n: #453046;
  --square1-800n: #312332;
  --square1-900n: #140e14;
  --square2-100n: #f5f4f1;
  --square2-200n: #e1dcd3;
  --square2-300n: #ccc5b6;
  --square2-400n: #85734e;
  --square2-500n: #594d34;
  --square2-600n: #423928;
  --square2-700n: #2c261a;
  --square2-800n: #221d13;
  --square2-900n: #0b0a07;
  --square3-100n: #f1f4f2;
  --square3-200n: #d3dfd6;
  --square3-300n: #b5c9bb;
  --square3-400n: #4f7d5c;
  --square3-500n: #34543e;
  --square3-600n: #283f2e;
  --square3-700n: #1a2a1f;
  --square3-800n: #141f17;
  --square3-900n: #070a08;
  --triadic1-100n: #f4f0f2;
  --triadic1-200n: #ded3d8;
  --triadic1-300n: #c7b6be;
  --triadic1-400n: #785164;
  --triadic1-500n: #644353;
  --triadic1-600n: #5a3d4b;
  --triadic1-700n: #462f3a;
  --triadic1-800n: #322229;
  --triadic1-900n: #140e11;
  --triadic2-100n: #f2f5f1;
  --triadic2-200n: #d8e0d5;
  --triadic2-300n: #bdcab9;
  --triadic2-400n: #608056;
  --triadic2-500n: #40553a;
  --triadic2-600n: #30402c;
  --triadic2-700n: #202a1d;
  --triadic2-800n: #182015;
  --triadic2-900n: #080b07;
  --tetradic1-100n: #f3f1f4;
  --tetradic1-200n: #dad5df;
  --tetradic1-300n: #c2b9ca;
  --tetradic1-400n: #6e5781;
  --tetradic1-500n: #5b486c;
  --tetradic1-600n: #524161;
  --tetradic1-700n: #40334b;
  --tetradic1-800n: #2e2436;
  --tetradic1-900n: #120f15;
  --tetradic2-100n: #f5f4f1;
  --tetradic2-200n: #e1dcd3;
  --tetradic2-300n: #ccc5b6;
  --tetradic2-400n: #85734e;
  --tetradic2-500n: #594d34;
  --tetradic2-600n: #423928;
  --tetradic2-700n: #2c261a;
  --tetradic2-800n: #221d13;
  --tetradic2-900n: #0b0a07;
  --tetradic3-100n: #f2f5f1;
  --tetradic3-200n: #d8e0d5;
  --tetradic3-300n: #bdcab9;
  --tetradic3-400n: #608056;
  --tetradic3-500n: #40553a;
  --tetradic3-600n: #30402c;
  --tetradic3-700n: #202a1d;
  --tetradic3-800n: #182015;
  --tetradic3-900n: #080b07;
  --success-100n: #f1f4f1;
  --success-200n: #d3e0d3;
  --success-300n: #b6cbb6;
  --success-400n: #508350;
  --success-500n: #355735;
  --success-600n: #294129;
  --success-700n: #1b2c1b;
  --success-800n: #142114;
  --success-900n: #070b07;
  --danger-100n: #f4f1f1;
  --danger-200n: #e0d3d3;
  --danger-300n: #cbb6b6;
  --danger-400n: #835050;
  --danger-500n: #6d4343;
  --danger-600n: #623c3c;
  --danger-700n: #4c2f2f;
  --danger-800n: #362222;
  --danger-900n: #160d0d;
  --warning-100n: #f5f3f0;
  --warning-200n: #e2dad1;
  --warning-300n: #cfc1b2;
  --warning-400n: #8c6a47;
  --warning-500n: #5d472f;
  --warning-600n: #463524;
  --warning-700n: #2c231b;
  --warning-800n: #231b12;
  --warning-900n: #0b0907;
  --info-100n: #f1f3f4;
  --info-200n: #d3dae0;
  --info-300n: #b6c1cb;
  --info-400n: #506a83;
  --info-500n: #43586d;
  --info-600n: #3c5062;
  --info-700n: #2f3e4c;
  --info-800n: #222c36;
  --info-900n: #0d1216;
  --primary-100a: rgba(239, 241, 246, 0.3);
  --primary-200a: rgba(206, 214, 229, 0.3);
  --primary-300a: rgba(173, 186, 212, 0.3);
  --primary-400a: rgba(59, 89, 152, 0.3);
  --primary-500a: rgba(49, 74, 127, 0.3);
  --primary-600a: rgba(44, 67, 114, 0.3);
  --primary-700a: rgba(34, 52, 89, 0.3);
  --primary-800a: rgba(25, 37, 63, 0.3);
  --primary-900a: rgba(10, 15, 25, 0.3);
  --hue-0-100a: rgba(246, 239, 239, 0.3);
  --hue-0-200a: rgba(229, 206, 206, 0.3);
  --hue-0-300a: rgba(212, 173, 173, 0.3);
  --hue-0-400a: rgba(152, 59, 59, 0.3);
  --hue-0-500a: rgba(127, 49, 49, 0.3);
  --hue-0-600a: rgba(114, 44, 44, 0.3);
  --hue-0-700a: rgba(89, 34, 34, 0.3);
  --hue-0-800a: rgba(63, 25, 25, 0.3);
  --hue-0-900a: rgba(25, 10, 10, 0.3);
  --hue-30-100a: rgba(246, 243, 239, 0.3);
  --hue-30-200a: rgba(229, 218, 206, 0.3);
  --hue-30-300a: rgba(212, 193, 173, 0.3);
  --hue-30-400a: rgba(152, 106, 59, 0.3);
  --hue-30-500a: rgba(101, 71, 39, 0.3);
  --hue-30-600a: rgba(76, 53, 30, 0.3);
  --hue-30-700a: rgba(51, 35, 20, 0.3);
  --hue-30-800a: rgba(38, 27, 15, 0.3);
  --hue-30-900a: rgba(13, 9, 5, 0.3);
  --hue-60-100a: rgba(246, 246, 239, 0.3);
  --hue-60-200a: rgba(229, 229, 206, 0.3);
  --hue-60-300a: rgba(212, 212, 173, 0.3);
  --hue-60-400a: rgba(152, 152, 59, 0.3);
  --hue-60-500a: rgba(101, 101, 39, 0.3);
  --hue-60-600a: rgba(76, 76, 30, 0.3);
  --hue-60-700a: rgba(51, 51, 20, 0.3);
  --hue-60-800a: rgba(38, 38, 15, 0.3);
  --hue-60-900a: rgba(13, 13, 5, 0.3);
  --hue-90-100a: rgba(243, 246, 239, 0.3);
  --hue-90-200a: rgba(218, 229, 206, 0.3);
  --hue-90-300a: rgba(193, 212, 173, 0.3);
  --hue-90-400a: rgba(106, 152, 59, 0.3);
  --hue-90-500a: rgba(71, 101, 39, 0.3);
  --hue-90-600a: rgba(53, 76, 30, 0.3);
  --hue-90-700a: rgba(35, 51, 20, 0.3);
  --hue-90-800a: rgba(27, 38, 15, 0.3);
  --hue-90-900a: rgba(9, 13, 5, 0.3);
  --hue-120-100a: rgba(239, 246, 239, 0.3);
  --hue-120-200a: rgba(206, 229, 206, 0.3);
  --hue-120-300a: rgba(173, 212, 173, 0.3);
  --hue-120-400a: rgba(59, 152, 59, 0.3);
  --hue-120-500a: rgba(39, 101, 39, 0.3);
  --hue-120-600a: rgba(30, 76, 30, 0.3);
  --hue-120-700a: rgba(20, 51, 20, 0.3);
  --hue-120-800a: rgba(15, 38, 15, 0.3);
  --hue-120-900a: rgba(5, 13, 5, 0.3);
  --hue-150-100a: rgba(239, 246, 243, 0.3);
  --hue-150-200a: rgba(206, 229, 218, 0.3);
  --hue-150-300a: rgba(173, 212, 193, 0.3);
  --hue-150-400a: rgba(59, 152, 106, 0.3);
  --hue-150-500a: rgba(39, 101, 71, 0.3);
  --hue-150-600a: rgba(30, 76, 53, 0.3);
  --hue-150-700a: rgba(20, 51, 35, 0.3);
  --hue-150-800a: rgba(15, 38, 27, 0.3);
  --hue-150-900a: rgba(5, 13, 9, 0.3);
  --hue-180-100a: rgba(239, 246, 246, 0.3);
  --hue-180-200a: rgba(206, 229, 229, 0.3);
  --hue-180-300a: rgba(173, 212, 212, 0.3);
  --hue-180-400a: rgba(59, 152, 152, 0.3);
  --hue-180-500a: rgba(39, 101, 101, 0.3);
  --hue-180-600a: rgba(30, 76, 76, 0.3);
  --hue-180-700a: rgba(20, 51, 51, 0.3);
  --hue-180-800a: rgba(15, 38, 38, 0.3);
  --hue-180-900a: rgba(5, 13, 13, 0.3);
  --hue-210-100a: rgba(239, 243, 246, 0.3);
  --hue-210-200a: rgba(206, 218, 229, 0.3);
  --hue-210-300a: rgba(173, 193, 212, 0.3);
  --hue-210-400a: rgba(59, 106, 152, 0.3);
  --hue-210-500a: rgba(49, 88, 127, 0.3);
  --hue-210-600a: rgba(44, 80, 114, 0.3);
  --hue-210-700a: rgba(34, 62, 89, 0.3);
  --hue-210-800a: rgba(25, 44, 63, 0.3);
  --hue-210-900a: rgba(10, 18, 25, 0.3);
  --hue-240-100a: rgba(239, 239, 246, 0.3);
  --hue-240-200a: rgba(206, 206, 229, 0.3);
  --hue-240-300a: rgba(173, 173, 212, 0.3);
  --hue-240-400a: rgba(59, 59, 152, 0.3);
  --hue-240-500a: rgba(49, 49, 127, 0.3);
  --hue-240-600a: rgba(44, 44, 114, 0.3);
  --hue-240-700a: rgba(34, 34, 89, 0.3);
  --hue-240-800a: rgba(25, 25, 63, 0.3);
  --hue-240-900a: rgba(10, 10, 25, 0.3);
  --hue-270-100a: rgba(243, 239, 246, 0.3);
  --hue-270-200a: rgba(218, 206, 229, 0.3);
  --hue-270-300a: rgba(193, 173, 212, 0.3);
  --hue-270-400a: rgba(106, 59, 152, 0.3);
  --hue-270-500a: rgba(88, 49, 127, 0.3);
  --hue-270-600a: rgba(80, 44, 114, 0.3);
  --hue-270-700a: rgba(62, 34, 89, 0.3);
  --hue-270-800a: rgba(44, 25, 63, 0.3);
  --hue-270-900a: rgba(18, 10, 25, 0.3);
  --hue-300-100a: rgba(246, 239, 246, 0.3);
  --hue-300-200a: rgba(229, 206, 229, 0.3);
  --hue-300-300a: rgba(212, 173, 212, 0.3);
  --hue-300-400a: rgba(152, 59, 152, 0.3);
  --hue-300-500a: rgba(127, 49, 127, 0.3);
  --hue-300-600a: rgba(114, 44, 114, 0.3);
  --hue-300-700a: rgba(89, 34, 89, 0.3);
  --hue-300-800a: rgba(63, 25, 63, 0.3);
  --hue-300-900a: rgba(25, 10, 25, 0.3);
  --hue-330-100a: rgba(246, 239, 243, 0.3);
  --hue-330-200a: rgba(229, 206, 218, 0.3);
  --hue-330-300a: rgba(212, 173, 193, 0.3);
  --hue-330-400a: rgba(152, 59, 106, 0.3);
  --hue-330-500a: rgba(127, 49, 88, 0.3);
  --hue-330-600a: rgba(114, 44, 80, 0.3);
  --hue-330-700a: rgba(89, 34, 62, 0.3);
  --hue-330-800a: rgba(63, 25, 44, 0.3);
  --hue-330-900a: rgba(25, 10, 18, 0.3);
  --complementary-100a: rgba(246, 244, 240, 0.3);
  --complementary-200a: rgba(227, 221, 209, 0.3);
  --complementary-300a: rgba(208, 198, 178, 0.3);
  --complementary-400a: rgba(142, 118, 69, 0.3);
  --complementary-500a: rgba(95, 79, 46, 0.3);
  --complementary-600a: rgba(71, 59, 35, 0.3);
  --complementary-700a: rgba(47, 39, 23, 0.3);
  --complementary-800a: rgba(36, 30, 17, 0.3);
  --complementary-900a: rgba(12, 10, 6, 0.3);
  --analogous1-100a: rgba(240, 239, 246, 0.3);
  --analogous1-200a: rgba(210, 207, 229, 0.3);
  --analogous1-300a: rgba(179, 175, 212, 0.3);
  --analogous1-400a: rgba(73, 64, 152, 0.3);
  --analogous1-500a: rgba(61, 53, 127, 0.3);
  --analogous1-600a: rgba(55, 48, 114, 0.3);
  --analogous1-700a: rgba(43, 37, 89, 0.3);
  --analogous1-800a: rgba(30, 27, 63, 0.3);
  --analogous1-900a: rgba(12, 11, 25, 0.3);
  --analogous2-100a: rgba(243, 239, 246, 0.3);
  --analogous2-200a: rgba(219, 207, 229, 0.3);
  --analogous2-300a: rgba(195, 175, 212, 0.3);
  --analogous2-400a: rgba(112, 64, 152, 0.3);
  --analogous2-500a: rgba(93, 53, 127, 0.3);
  --analogous2-600a: rgba(84, 48, 114, 0.3);
  --analogous2-700a: rgba(65, 37, 89, 0.3);
  --analogous2-800a: rgba(47, 27, 63, 0.3);
  --analogous2-900a: rgba(19, 11, 25, 0.3);
  --analogous3-100a: rgba(245, 239, 245, 0.3);
  --analogous3-200a: rgba(226, 207, 226, 0.3);
  --analogous3-300a: rgba(206, 175, 207, 0.3);
  --analogous3-400a: rgba(137, 64, 139, 0.3);
  --analogous3-500a: rgba(114, 53, 116, 0.3);
  --analogous3-600a: rgba(103, 48, 104, 0.3);
  --analogous3-700a: rgba(80, 37, 81, 0.3);
  --analogous3-800a: rgba(57, 27, 58, 0.3);
  --analogous3-900a: rgba(23, 11, 23, 0.3);
  --split1-100a: rgba(245, 240, 240, 0.3);
  --split1-200a: rgba(226, 211, 210, 0.3);
  --split1-300a: rgba(206, 181, 180, 0.3);
  --split1-400a: rgba(137, 78, 74, 0.3);
  --split1-500a: rgba(114, 65, 62, 0.3);
  --split1-600a: rgba(103, 59, 56, 0.3);
  --split1-700a: rgba(80, 46, 43, 0.3);
  --split1-800a: rgba(57, 33, 31, 0.3);
  --split1-900a: rgba(23, 13, 12, 0.3);
  --split2-100a: rgba(244, 246, 240, 0.3);
  --split2-200a: rgba(223, 228, 209, 0.3);
  --split2-300a: rgba(202, 209, 178, 0.3);
  --split2-400a: rgba(128, 145, 69, 0.3);
  --split2-500a: rgba(85, 97, 46, 0.3);
  --split2-600a: rgba(64, 73, 35, 0.3);
  --split2-700a: rgba(43, 48, 23, 0.3);
  --split2-800a: rgba(32, 36, 17, 0.3);
  --split2-900a: rgba(11, 12, 6, 0.3);
  --square1-100a: rgba(245, 239, 245, 0.3);
  --square1-200a: rgba(226, 207, 226, 0.3);
  --square1-300a: rgba(206, 175, 207, 0.3);
  --square1-400a: rgba(137, 64, 139, 0.3);
  --square1-500a: rgba(114, 53, 116, 0.3);
  --square1-600a: rgba(103, 48, 104, 0.3);
  --square1-700a: rgba(80, 37, 81, 0.3);
  --square1-800a: rgba(57, 27, 58, 0.3);
  --square1-900a: rgba(23, 11, 23, 0.3);
  --square2-100a: rgba(246, 244, 240, 0.3);
  --square2-200a: rgba(227, 221, 209, 0.3);
  --square2-300a: rgba(208, 198, 178, 0.3);
  --square2-400a: rgba(142, 118, 69, 0.3);
  --square2-500a: rgba(95, 79, 46, 0.3);
  --square2-600a: rgba(71, 59, 35, 0.3);
  --square2-700a: rgba(47, 39, 23, 0.3);
  --square2-800a: rgba(36, 30, 17, 0.3);
  --square2-900a: rgba(12, 10, 6, 0.3);
  --square3-100a: rgba(239, 246, 241, 0.3);
  --square3-200a: rgba(206, 228, 212, 0.3);
  --square3-300a: rgba(173, 209, 184, 0.3);
  --square3-400a: rgba(59, 145, 84, 0.3);
  --square3-500a: rgba(39, 97, 56, 0.3);
  --square3-600a: rgba(30, 73, 42, 0.3);
  --square3-700a: rgba(20, 48, 28, 0.3);
  --square3-800a: rgba(15, 36, 21, 0.3);
  --square3-900a: rgba(5, 12, 7, 0.3);
  --triadic1-100a: rgba(245, 239, 242, 0.3);
  --triadic1-200a: rgba(226, 207, 216, 0.3);
  --triadic1-300a: rgba(206, 175, 190, 0.3);
  --triadic1-400a: rgba(137, 64, 99, 0.3);
  --triadic1-500a: rgba(114, 53, 83, 0.3);
  --triadic1-600a: rgba(103, 48, 74, 0.3);
  --triadic1-700a: rgba(80, 37, 58, 0.3);
  --triadic1-800a: rgba(57, 27, 41, 0.3);
  --triadic1-900a: rgba(23, 11, 17, 0.3);
  --triadic2-100a: rgba(241, 246, 240, 0.3);
  --triadic2-200a: rgba(213, 228, 209, 0.3);
  --triadic2-300a: rgba(185, 209, 178, 0.3);
  --triadic2-400a: rgba(86, 145, 69, 0.3);
  --triadic2-500a: rgba(57, 97, 46, 0.3);
  --triadic2-600a: rgba(43, 73, 35, 0.3);
  --triadic2-700a: rgba(29, 48, 23, 0.3);
  --triadic2-800a: rgba(22, 36, 17, 0.3);
  --triadic2-900a: rgba(7, 12, 6, 0.3);
  --tetradic1-100a: rgba(243, 239, 246, 0.3);
  --tetradic1-200a: rgba(219, 207, 229, 0.3);
  --tetradic1-300a: rgba(195, 175, 212, 0.3);
  --tetradic1-400a: rgba(112, 64, 152, 0.3);
  --tetradic1-500a: rgba(93, 53, 127, 0.3);
  --tetradic1-600a: rgba(84, 48, 114, 0.3);
  --tetradic1-700a: rgba(65, 37, 89, 0.3);
  --tetradic1-800a: rgba(47, 27, 63, 0.3);
  --tetradic1-900a: rgba(19, 11, 25, 0.3);
  --tetradic2-100a: rgba(246, 244, 240, 0.3);
  --tetradic2-200a: rgba(227, 221, 209, 0.3);
  --tetradic2-300a: rgba(208, 198, 178, 0.3);
  --tetradic2-400a: rgba(142, 118, 69, 0.3);
  --tetradic2-500a: rgba(95, 79, 46, 0.3);
  --tetradic2-600a: rgba(71, 59, 35, 0.3);
  --tetradic2-700a: rgba(47, 39, 23, 0.3);
  --tetradic2-800a: rgba(36, 30, 17, 0.3);
  --tetradic2-900a: rgba(12, 10, 6, 0.3);
  --tetradic3-100a: rgba(241, 246, 240, 0.3);
  --tetradic3-200a: rgba(213, 228, 209, 0.3);
  --tetradic3-300a: rgba(185, 209, 178, 0.3);
  --tetradic3-400a: rgba(86, 145, 69, 0.3);
  --tetradic3-500a: rgba(57, 97, 46, 0.3);
  --tetradic3-600a: rgba(43, 73, 35, 0.3);
  --tetradic3-700a: rgba(29, 48, 23, 0.3);
  --tetradic3-800a: rgba(22, 36, 17, 0.3);
  --tetradic3-900a: rgba(7, 12, 6, 0.3);
  --success-100a: rgba(239, 246, 239, 0.3);
  --success-200a: rgba(206, 229, 206, 0.3);
  --success-300a: rgba(173, 212, 173, 0.3);
  --success-400a: rgba(59, 152, 59, 0.3);
  --success-500a: rgba(39, 101, 39, 0.3);
  --success-600a: rgba(30, 76, 30, 0.3);
  --success-700a: rgba(20, 51, 20, 0.3);
  --success-800a: rgba(15, 38, 15, 0.3);
  --success-900a: rgba(5, 13, 5, 0.3);
  --danger-100a: rgba(246, 239, 239, 0.3);
  --danger-200a: rgba(229, 206, 206, 0.3);
  --danger-300a: rgba(212, 173, 173, 0.3);
  --danger-400a: rgba(152, 59, 59, 0.3);
  --danger-500a: rgba(127, 49, 49, 0.3);
  --danger-600a: rgba(114, 44, 44, 0.3);
  --danger-700a: rgba(89, 34, 34, 0.3);
  --danger-800a: rgba(63, 25, 25, 0.3);
  --danger-900a: rgba(25, 10, 10, 0.3);
  --warning-100a: rgba(246, 243, 239, 0.3);
  --warning-200a: rgba(229, 218, 206, 0.3);
  --warning-300a: rgba(212, 193, 173, 0.3);
  --warning-400a: rgba(152, 106, 59, 0.3);
  --warning-500a: rgba(101, 71, 39, 0.3);
  --warning-600a: rgba(76, 53, 30, 0.3);
  --warning-700a: rgba(51, 35, 20, 0.3);
  --warning-800a: rgba(38, 27, 15, 0.3);
  --warning-900a: rgba(13, 9, 5, 0.3);
  --info-100a: rgba(239, 243, 246, 0.3);
  --info-200a: rgba(206, 218, 229, 0.3);
  --info-300a: rgba(173, 193, 212, 0.3);
  --info-400a: rgba(59, 106, 152, 0.3);
  --info-500a: rgba(49, 88, 127, 0.3);
  --info-600a: rgba(44, 80, 114, 0.3);
  --info-700a: rgba(34, 62, 89, 0.3);
  --info-800a: rgba(25, 44, 63, 0.3);
  --info-900a: rgba(10, 18, 25, 0.3);
}
