:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #f7f8fb;
  --primary-200: #e7ebf2;
  --primary-300: #d6ddea;
  --primary-400: #9daccc;
  --primary-500: #98a5bf;
  --primary-600: #96a1b9;
  --primary-700: #919aac;
  --primary-800: #8c929f;
  --primary-900: #85878c;
  --hue-0-100: #fbf7f7;
  --hue-0-200: #f2e7e7;
  --hue-0-300: #ead6d6;
  --hue-0-400: #cc9d9d;
  --hue-0-500: #bf9898;
  --hue-0-600: #b99696;
  --hue-0-700: #ac9191;
  --hue-0-800: #9f8c8c;
  --hue-0-900: #8c8585;
  --hue-30-100: #fbf9f7;
  --hue-30-200: #f2ede7;
  --hue-30-300: #eae0d6;
  --hue-30-400: #ccb59d;
  --hue-30-500: #b2a393;
  --hue-30-600: #a69a8f;
  --hue-30-700: #99918a;
  --hue-30-800: #938d87;
  --hue-30-900: #868482;
  --hue-60-100: #fbfbf7;
  --hue-60-200: #f2f2e7;
  --hue-60-300: #eaead6;
  --hue-60-400: #cccc9d;
  --hue-60-500: #b2b293;
  --hue-60-600: #a6a68f;
  --hue-60-700: #99998a;
  --hue-60-800: #939387;
  --hue-60-900: #868682;
  --hue-90-100: #f9fbf7;
  --hue-90-200: #edf2e7;
  --hue-90-300: #e0ead6;
  --hue-90-400: #b5cc9d;
  --hue-90-500: #a3b293;
  --hue-90-600: #9aa68f;
  --hue-90-700: #91998a;
  --hue-90-800: #8d9387;
  --hue-90-900: #848682;
  --hue-120-100: #f7fbf7;
  --hue-120-200: #e7f2e7;
  --hue-120-300: #d6ead6;
  --hue-120-400: #9dcc9d;
  --hue-120-500: #93b293;
  --hue-120-600: #8fa68f;
  --hue-120-700: #8a998a;
  --hue-120-800: #879387;
  --hue-120-900: #828682;
  --hue-150-100: #f7fbf9;
  --hue-150-200: #e7f2ed;
  --hue-150-300: #d6eae0;
  --hue-150-400: #9dccb5;
  --hue-150-500: #93b2a3;
  --hue-150-600: #8fa69a;
  --hue-150-700: #8a9991;
  --hue-150-800: #87938d;
  --hue-150-900: #828684;
  --hue-180-100: #f7fbfb;
  --hue-180-200: #e7f2f2;
  --hue-180-300: #d6eaea;
  --hue-180-400: #9dcccc;
  --hue-180-500: #93b2b2;
  --hue-180-600: #8fa6a6;
  --hue-180-700: #8a9999;
  --hue-180-800: #879393;
  --hue-180-900: #828686;
  --hue-210-100: #f7f9fb;
  --hue-210-200: #e7edf2;
  --hue-210-300: #d6e0ea;
  --hue-210-400: #9db5cc;
  --hue-210-500: #98acbf;
  --hue-210-600: #96a8b9;
  --hue-210-700: #919fac;
  --hue-210-800: #8c969f;
  --hue-210-900: #85898c;
  --hue-240-100: #f7f7fb;
  --hue-240-200: #e7e7f2;
  --hue-240-300: #d6d6ea;
  --hue-240-400: #9d9dcc;
  --hue-240-500: #9898bf;
  --hue-240-600: #9696b9;
  --hue-240-700: #9191ac;
  --hue-240-800: #8c8c9f;
  --hue-240-900: #85858c;
  --hue-270-100: #f9f7fb;
  --hue-270-200: #ede7f2;
  --hue-270-300: #e0d6ea;
  --hue-270-400: #b59dcc;
  --hue-270-500: #ac98bf;
  --hue-270-600: #a896b9;
  --hue-270-700: #9f91ac;
  --hue-270-800: #968c9f;
  --hue-270-900: #89858c;
  --hue-300-100: #fbf7fb;
  --hue-300-200: #f2e7f2;
  --hue-300-300: #ead6ea;
  --hue-300-400: #cc9dcc;
  --hue-300-500: #bf98bf;
  --hue-300-600: #b996b9;
  --hue-300-700: #ac91ac;
  --hue-300-800: #9f8c9f;
  --hue-300-900: #8c858c;
  --hue-330-100: #fbf7f9;
  --hue-330-200: #f2e7ed;
  --hue-330-300: #ead6e0;
  --hue-330-400: #cc9db5;
  --hue-330-500: #bf98ac;
  --hue-330-600: #b996a8;
  --hue-330-700: #ac919f;
  --hue-330-800: #9f8c96;
  --hue-330-900: #8c8589;
  --complementary-100: #fbfaf7;
  --complementary-200: #f2efe7;
  --complementary-300: #eae4d6;
  --complementary-400: #ccbd9d;
  --complementary-500: #b2a893;
  --complementary-600: #a69e8f;
  --complementary-700: #99948a;
  --complementary-800: #938f87;
  --complementary-900: #868582;
  --analogous1-100: #f8f7fb;
  --analogous1-200: #e9e7f2;
  --analogous1-300: #dad6ea;
  --analogous1-400: #a69dcc;
  --analogous1-500: #9f98bf;
  --analogous1-600: #9c96b9;
  --analogous1-700: #9691ac;
  --analogous1-800: #908c9f;
  --analogous1-900: #86858c;
  --analogous2-100: #faf7fb;
  --analogous2-200: #efe7f2;
  --analogous2-300: #e4d6ea;
  --analogous2-400: #bd9dcc;
  --analogous2-500: #b398bf;
  --analogous2-600: #ae96b9;
  --analogous2-700: #a391ac;
  --analogous2-800: #998c9f;
  --analogous2-900: #8a858c;
  --analogous3-100: #fbf7fa;
  --analogous3-200: #f2e7f0;
  --analogous3-300: #ead6e6;
  --analogous3-400: #cc9dc4;
  --analogous3-500: #bf98b8;
  --analogous3-600: #b996b3;
  --analogous3-700: #ac91a7;
  --analogous3-800: #9f8c9c;
  --analogous3-900: #8c858b;
  --split1-100: #fbf8f7;
  --split1-200: #f2e9e7;
  --split1-300: #eadad6;
  --split1-400: #cca69d;
  --split1-500: #bf9f98;
  --split1-600: #b99c96;
  --split1-700: #ac9691;
  --split1-800: #9f908c;
  --split1-900: #8c8685;
  --split2-100: #fafbf7;
  --split2-200: #f0f2e7;
  --split2-300: #e6ead6;
  --split2-400: #c4cc9d;
  --split2-500: #adb293;
  --split2-600: #a2a68f;
  --split2-700: #96998a;
  --split2-800: #919387;
  --split2-900: #858682;
  --square1-100: #fbf7fa;
  --square1-200: #f2e7f0;
  --square1-300: #ead6e6;
  --square1-400: #cc9dc4;
  --square1-500: #bf98b8;
  --square1-600: #b996b3;
  --square1-700: #ac91a7;
  --square1-800: #9f8c9c;
  --square1-900: #8c858b;
  --square2-100: #fbfaf7;
  --square2-200: #f2efe7;
  --square2-300: #eae4d6;
  --square2-400: #ccbd9d;
  --square2-500: #b2a893;
  --square2-600: #a69e8f;
  --square2-700: #99948a;
  --square2-800: #938f87;
  --square2-900: #868582;
  --square3-100: #f7fbf8;
  --square3-200: #e7f2e9;
  --square3-300: #d6eada;
  --square3-400: #9dcca6;
  --square3-500: #93b299;
  --square3-600: #8fa693;
  --square3-700: #8a998c;
  --square3-800: #879389;
  --square3-900: #828683;
  --triadic1-100: #fbf7f8;
  --triadic1-200: #f2e7eb;
  --triadic1-300: #ead6dd;
  --triadic1-400: #cc9dac;
  --triadic1-500: #bf98a5;
  --triadic1-600: #b996a1;
  --triadic1-700: #ac919a;
  --triadic1-800: #9f8c92;
  --triadic1-900: #8c8587;
  --triadic2-100: #f8fbf7;
  --triadic2-200: #ebf2e7;
  --triadic2-300: #ddead6;
  --triadic2-400: #accc9d;
  --triadic2-500: #9db293;
  --triadic2-600: #96a68f;
  --triadic2-700: #8f998a;
  --triadic2-800: #8b9387;
  --triadic2-900: #838682;
  --tetradic1-100: #faf7fb;
  --tetradic1-200: #efe7f2;
  --tetradic1-300: #e4d6ea;
  --tetradic1-400: #bd9dcc;
  --tetradic1-500: #b398bf;
  --tetradic1-600: #ae96b9;
  --tetradic1-700: #a391ac;
  --tetradic1-800: #998c9f;
  --tetradic1-900: #8a858c;
  --tetradic2-100: #fbfaf7;
  --tetradic2-200: #f2efe7;
  --tetradic2-300: #eae4d6;
  --tetradic2-400: #ccbd9d;
  --tetradic2-500: #b2a893;
  --tetradic2-600: #a69e8f;
  --tetradic2-700: #99948a;
  --tetradic2-800: #938f87;
  --tetradic2-900: #868582;
  --tetradic3-100: #f8fbf7;
  --tetradic3-200: #ebf2e7;
  --tetradic3-300: #ddead6;
  --tetradic3-400: #accc9d;
  --tetradic3-500: #9db293;
  --tetradic3-600: #96a68f;
  --tetradic3-700: #8f998a;
  --tetradic3-800: #8b9387;
  --tetradic3-900: #838682;
  --success-100: #f7fbf7;
  --success-200: #e7f2e7;
  --success-300: #d6ead6;
  --success-400: #9dcc9d;
  --success-500: #93b293;
  --success-600: #8fa68f;
  --success-700: #8a998a;
  --success-800: #879387;
  --success-900: #828682;
  --danger-100: #fbf7f7;
  --danger-200: #f2e7e7;
  --danger-300: #ead6d6;
  --danger-400: #cc9d9d;
  --danger-500: #bf9898;
  --danger-600: #b99696;
  --danger-700: #ac9191;
  --danger-800: #9f8c8c;
  --danger-900: #8c8585;
  --warning-100: #fbf9f7;
  --warning-200: #f2ede7;
  --warning-300: #eae0d6;
  --warning-400: #ccb59d;
  --warning-500: #b2a393;
  --warning-600: #a69a8f;
  --warning-700: #99918a;
  --warning-800: #938d87;
  --warning-900: #868482;
  --info-100: #f7f9fb;
  --info-200: #e7edf2;
  --info-300: #d6e0ea;
  --info-400: #9db5cc;
  --info-500: #98acbf;
  --info-600: #96a8b9;
  --info-700: #919fac;
  --info-800: #8c969f;
  --info-900: #85898c;
  --primary-100n: #f1f2f4;
  --primary-200n: #d5d8de;
  --primary-300n: #b9bec8;
  --primary-400n: #58637b;
  --primary-500n: #495367;
  --primary-600n: #424a5c;
  --primary-700n: #333a48;
  --primary-800n: #252933;
  --primary-900n: #0f1114;
  --hue-0-100n: #f4f1f1;
  --hue-0-200n: #e0d3d3;
  --hue-0-300n: #cbb6b6;
  --hue-0-400n: #835050;
  --hue-0-500n: #6d4343;
  --hue-0-600n: #623c3c;
  --hue-0-700n: #4c2f2f;
  --hue-0-800n: #362222;
  --hue-0-900n: #160d0d;
  --hue-30-100n: #f5f3f0;
  --hue-30-200n: #e2dad1;
  --hue-30-300n: #cfc1b2;
  --hue-30-400n: #836a50;
  --hue-30-500n: #5d472f;
  --hue-30-600n: #463524;
  --hue-30-700n: #2c231b;
  --hue-30-800n: #231b12;
  --hue-30-900n: #0b0907;
  --hue-60-100n: #f5f5f0;
  --hue-60-200n: #e2e2d1;
  --hue-60-300n: #cfcfb2;
  --hue-60-400n: #8c8c47;
  --hue-60-500n: #5d5d2f;
  --hue-60-600n: #464624;
  --hue-60-700n: #2f2f18;
  --hue-60-800n: #232312;
  --hue-60-900n: #0c0c06;
  --hue-90-100n: #f3f5f0;
  --hue-90-200n: #dae2d1;
  --hue-90-300n: #c1cbb6;
  --hue-90-400n: #6a8350;
  --hue-90-500n: #475735;
  --hue-90-600n: #354129;
  --hue-90-700n: #232c1b;
  --hue-90-800n: #1b2312;
  --hue-90-900n: #090b07;
  --hue-120-100n: #f1f4f1;
  --hue-120-200n: #d3e0d3;
  --hue-120-300n: #b6cbb6;
  --hue-120-400n: #508350;
  --hue-120-500n: #355735;
  --hue-120-600n: #294129;
  --hue-120-700n: #1b2c1b;
  --hue-120-800n: #142114;
  --hue-120-900n: #070b07;
  --hue-150-100n: #f1f4f3;
  --hue-150-200n: #d3e0da;
  --hue-150-300n: #b6cbc1;
  --hue-150-400n: #50836a;
  --hue-150-500n: #355747;
  --hue-150-600n: #294135;
  --hue-150-700n: #1b2c23;
  --hue-150-800n: #14211b;
  --hue-150-900n: #070b09;
  --hue-180-100n: #f1f4f4;
  --hue-180-200n: #d3e0e0;
  --hue-180-300n: #b6cbcb;
  --hue-180-400n: #508383;
  --hue-180-500n: #355757;
  --hue-180-600n: #294141;
  --hue-180-700n: #1b2c2c;
  --hue-180-800n: #142121;
  --hue-180-900n: #070b0b;
  --hue-210-100n: #f1f3f4;
  --hue-210-200n: #d3dae0;
  --hue-210-300n: #b6c1cb;
  --hue-210-400n: #506a83;
  --hue-210-500n: #43586d;
  --hue-210-600n: #3c5062;
  --hue-210-700n: #2f3e4c;
  --hue-210-800n: #222c36;
  --hue-210-900n: #0d1216;
  --hue-240-100n: #f1f1f4;
  --hue-240-200n: #d5d5de;
  --hue-240-300n: #b9b9c8;
  --hue-240-400n: #58587b;
  --hue-240-500n: #494967;
  --hue-240-600n: #42425c;
  --hue-240-700n: #333348;
  --hue-240-800n: #252533;
  --hue-240-900n: #0f0f14;
  --hue-270-100n: #f3f1f4;
  --hue-270-200n: #dad4df;
  --hue-270-300n: #c1b7ca;
  --hue-270-400n: #6a5380;
  --hue-270-500n: #58456b;
  --hue-270-600n: #4f3e60;
  --hue-270-700n: #3e304b;
  --hue-270-800n: #2c2335;
  --hue-270-900n: #120e15;
  --hue-300-100n: #f4f1f4;
  --hue-300-200n: #dfd4df;
  --hue-300-300n: #cab7ca;
  --hue-300-400n: #805380;
  --hue-300-500n: #6b456b;
  --hue-300-600n: #603e60;
  --hue-300-700n: #4b304b;
  --hue-300-800n: #352335;
  --hue-300-900n: #150e15;
  --hue-330-100n: #f4f1f3;
  --hue-330-200n: #e0d3da;
  --hue-330-300n: #cbb6c1;
  --hue-330-400n: #83506a;
  --hue-330-500n: #6d4358;
  --hue-330-600n: #623c50;
  --hue-330-700n: #4c2f3e;
  --hue-330-800n: #36222c;
  --hue-330-900n: #160d12;
  --complementary-100n: #f5f4f0;
  --complementary-200n: #e2ddd1;
  --complementary-300n: #cfc6b2;
  --complementary-400n: #8c7647;
  --complementary-500n: #5d4e2f;
  --complementary-600n: #463b24;
  --complementary-700n: #2f2818;
  --complementary-800n: #231e12;
  --complementary-900n: #0c0a06;
  --analogous1-100n: #f2f1f4;
  --analogous1-200n: #d7d5de;
  --analogous1-300n: #bcb9c8;
  --analogous1-400n: #5f587b;
  --analogous1-500n: #4f4967;
  --analogous1-600n: #47425c;
  --analogous1-700n: #373348;
  --analogous1-800n: #272533;
  --analogous1-900n: #100f14;
  --analogous2-100n: #f3f1f4;
  --analogous2-200n: #dcd4df;
  --analogous2-300n: #c4b7ca;
  --analogous2-400n: #715380;
  --analogous2-500n: #5f456b;
  --analogous2-600n: #553e60;
  --analogous2-700n: #42304b;
  --analogous2-800n: #2f2335;
  --analogous2-900n: #130e15;
  --analogous3-100n: #f4f1f4;
  --analogous3-200n: #dfd4dd;
  --analogous3-300n: #cab7c7;
  --analogous3-400n: #805378;
  --analogous3-500n: #6b4564;
  --analogous3-600n: #603e5a;
  --analogous3-700n: #4b3046;
  --analogous3-800n: #352332;
  --analogous3-900n: #150e14;
  --split1-100n: #f4f1f1;
  --split1-200n: #e0d5d3;
  --split1-300n: #cbbab6;
  --split1-400n: #835a50;
  --split1-500n: #6d4b43;
  --split1-600n: #62433c;
  --split1-700n: #4c342f;
  --split1-800n: #362622;
  --split1-900n: #160f0d;
  --split2-100n: #f4f5f0;
  --split2-200n: #dfe2d1;
  --split2-300n: #cacfb2;
  --split2-400n: #808c47;
  --split2-500n: #565d2f;
  --split2-600n: #404624;
  --split2-700n: #2b2f18;
  --split2-800n: #202312;
  --split2-900n: #0a0c06;
  --square1-100n: #f4f1f4;
  --square1-200n: #dfd4dd;
  --square1-300n: #cab7c7;
  --square1-400n: #805378;
  --square1-500n: #6b4564;
  --square1-600n: #603e5a;
  --square1-700n: #4b3046;
  --square1-800n: #352332;
  --square1-900n: #150e14;
  --square2-100n: #f5f4f0;
  --square2-200n: #e2ddd1;
  --square2-300n: #cfc6b2;
  --square2-400n: #8c7647;
  --square2-500n: #5d4e2f;
  --square2-600n: #463b24;
  --square2-700n: #2f2818;
  --square2-800n: #231e12;
  --square2-900n: #0c0a06;
  --square3-100n: #f1f4f1;
  --square3-200n: #d3e0d5;
  --square3-300n: #b6cbba;
  --square3-400n: #50835a;
  --square3-500n: #35573c;
  --square3-600n: #29412d;
  --square3-700n: #1b2c1e;
  --square3-800n: #142116;
  --square3-900n: #070b07;
  --triadic1-100n: #f4f1f2;
  --triadic1-200n: #e0d3d8;
  --triadic1-300n: #cbb6bd;
  --triadic1-400n: #835061;
  --triadic1-500n: #6d4350;
  --triadic1-600n: #623c49;
  --triadic1-700n: #4c2f38;
  --triadic1-800n: #362228;
  --triadic1-900n: #160d10;
  --triadic2-100n: #f2f4f1;
  --triadic2-200n: #d8e0d3;
  --triadic2-300n: #bdcbb6;
  --triadic2-400n: #618350;
  --triadic2-500n: #405735;
  --triadic2-600n: #314129;
  --triadic2-700n: #212c1b;
  --triadic2-800n: #182114;
  --triadic2-900n: #080b07;
  --tetradic1-100n: #f3f1f4;
  --tetradic1-200n: #dcd4df;
  --tetradic1-300n: #c4b7ca;
  --tetradic1-400n: #715380;
  --tetradic1-500n: #5f456b;
  --tetradic1-600n: #553e60;
  --tetradic1-700n: #42304b;
  --tetradic1-800n: #2f2335;
  --tetradic1-900n: #130e15;
  --tetradic2-100n: #f5f4f0;
  --tetradic2-200n: #e2ddd1;
  --tetradic2-300n: #cfc6b2;
  --tetradic2-400n: #8c7647;
  --tetradic2-500n: #5d4e2f;
  --tetradic2-600n: #463b24;
  --tetradic2-700n: #2f2818;
  --tetradic2-800n: #231e12;
  --tetradic2-900n: #0c0a06;
  --tetradic3-100n: #f2f4f1;
  --tetradic3-200n: #d8e0d3;
  --tetradic3-300n: #bdcbb6;
  --tetradic3-400n: #618350;
  --tetradic3-500n: #405735;
  --tetradic3-600n: #314129;
  --tetradic3-700n: #212c1b;
  --tetradic3-800n: #182114;
  --tetradic3-900n: #080b07;
  --success-100n: #f1f4f1;
  --success-200n: #d3e0d3;
  --success-300n: #b6cbb6;
  --success-400n: #508350;
  --success-500n: #355735;
  --success-600n: #294129;
  --success-700n: #1b2c1b;
  --success-800n: #142114;
  --success-900n: #070b07;
  --danger-100n: #f4f1f1;
  --danger-200n: #e0d3d3;
  --danger-300n: #cbb6b6;
  --danger-400n: #835050;
  --danger-500n: #6d4343;
  --danger-600n: #623c3c;
  --danger-700n: #4c2f2f;
  --danger-800n: #362222;
  --danger-900n: #160d0d;
  --warning-100n: #f5f3f0;
  --warning-200n: #e2dad1;
  --warning-300n: #cfc1b2;
  --warning-400n: #8c6a47;
  --warning-500n: #5d472f;
  --warning-600n: #463524;
  --warning-700n: #2c231b;
  --warning-800n: #231b12;
  --warning-900n: #0b0907;
  --info-100n: #f1f3f4;
  --info-200n: #d3dae0;
  --info-300n: #b6c1cb;
  --info-400n: #506a83;
  --info-500n: #43586d;
  --info-600n: #3c5062;
  --info-700n: #2f3e4c;
  --info-800n: #222c36;
  --info-900n: #0d1216;
  --primary-100a: rgba(239, 241, 246, 0.3);
  --primary-200a: rgba(206, 214, 229, 0.3);
  --primary-300a: rgba(173, 186, 212, 0.3);
  --primary-400a: rgba(59, 89, 152, 0.3);
  --primary-500a: rgba(49, 74, 127, 0.3);
  --primary-600a: rgba(44, 67, 114, 0.3);
  --primary-700a: rgba(34, 52, 89, 0.3);
  --primary-800a: rgba(25, 37, 63, 0.3);
  --primary-900a: rgba(10, 15, 25, 0.3);
  --hue-0-100a: rgba(246, 239, 239, 0.3);
  --hue-0-200a: rgba(229, 206, 206, 0.3);
  --hue-0-300a: rgba(212, 173, 173, 0.3);
  --hue-0-400a: rgba(152, 59, 59, 0.3);
  --hue-0-500a: rgba(127, 49, 49, 0.3);
  --hue-0-600a: rgba(114, 44, 44, 0.3);
  --hue-0-700a: rgba(89, 34, 34, 0.3);
  --hue-0-800a: rgba(63, 25, 25, 0.3);
  --hue-0-900a: rgba(25, 10, 10, 0.3);
  --hue-30-100a: rgba(246, 243, 239, 0.3);
  --hue-30-200a: rgba(229, 218, 206, 0.3);
  --hue-30-300a: rgba(212, 193, 173, 0.3);
  --hue-30-400a: rgba(152, 106, 59, 0.3);
  --hue-30-500a: rgba(101, 71, 39, 0.3);
  --hue-30-600a: rgba(76, 53, 30, 0.3);
  --hue-30-700a: rgba(51, 35, 20, 0.3);
  --hue-30-800a: rgba(38, 27, 15, 0.3);
  --hue-30-900a: rgba(13, 9, 5, 0.3);
  --hue-60-100a: rgba(246, 246, 239, 0.3);
  --hue-60-200a: rgba(229, 229, 206, 0.3);
  --hue-60-300a: rgba(212, 212, 173, 0.3);
  --hue-60-400a: rgba(152, 152, 59, 0.3);
  --hue-60-500a: rgba(101, 101, 39, 0.3);
  --hue-60-600a: rgba(76, 76, 30, 0.3);
  --hue-60-700a: rgba(51, 51, 20, 0.3);
  --hue-60-800a: rgba(38, 38, 15, 0.3);
  --hue-60-900a: rgba(13, 13, 5, 0.3);
  --hue-90-100a: rgba(243, 246, 239, 0.3);
  --hue-90-200a: rgba(218, 229, 206, 0.3);
  --hue-90-300a: rgba(193, 212, 173, 0.3);
  --hue-90-400a: rgba(106, 152, 59, 0.3);
  --hue-90-500a: rgba(71, 101, 39, 0.3);
  --hue-90-600a: rgba(53, 76, 30, 0.3);
  --hue-90-700a: rgba(35, 51, 20, 0.3);
  --hue-90-800a: rgba(27, 38, 15, 0.3);
  --hue-90-900a: rgba(9, 13, 5, 0.3);
  --hue-120-100a: rgba(239, 246, 239, 0.3);
  --hue-120-200a: rgba(206, 229, 206, 0.3);
  --hue-120-300a: rgba(173, 212, 173, 0.3);
  --hue-120-400a: rgba(59, 152, 59, 0.3);
  --hue-120-500a: rgba(39, 101, 39, 0.3);
  --hue-120-600a: rgba(30, 76, 30, 0.3);
  --hue-120-700a: rgba(20, 51, 20, 0.3);
  --hue-120-800a: rgba(15, 38, 15, 0.3);
  --hue-120-900a: rgba(5, 13, 5, 0.3);
  --hue-150-100a: rgba(239, 246, 243, 0.3);
  --hue-150-200a: rgba(206, 229, 218, 0.3);
  --hue-150-300a: rgba(173, 212, 193, 0.3);
  --hue-150-400a: rgba(59, 152, 106, 0.3);
  --hue-150-500a: rgba(39, 101, 71, 0.3);
  --hue-150-600a: rgba(30, 76, 53, 0.3);
  --hue-150-700a: rgba(20, 51, 35, 0.3);
  --hue-150-800a: rgba(15, 38, 27, 0.3);
  --hue-150-900a: rgba(5, 13, 9, 0.3);
  --hue-180-100a: rgba(239, 246, 246, 0.3);
  --hue-180-200a: rgba(206, 229, 229, 0.3);
  --hue-180-300a: rgba(173, 212, 212, 0.3);
  --hue-180-400a: rgba(59, 152, 152, 0.3);
  --hue-180-500a: rgba(39, 101, 101, 0.3);
  --hue-180-600a: rgba(30, 76, 76, 0.3);
  --hue-180-700a: rgba(20, 51, 51, 0.3);
  --hue-180-800a: rgba(15, 38, 38, 0.3);
  --hue-180-900a: rgba(5, 13, 13, 0.3);
  --hue-210-100a: rgba(239, 243, 246, 0.3);
  --hue-210-200a: rgba(206, 218, 229, 0.3);
  --hue-210-300a: rgba(173, 193, 212, 0.3);
  --hue-210-400a: rgba(59, 106, 152, 0.3);
  --hue-210-500a: rgba(49, 88, 127, 0.3);
  --hue-210-600a: rgba(44, 80, 114, 0.3);
  --hue-210-700a: rgba(34, 62, 89, 0.3);
  --hue-210-800a: rgba(25, 44, 63, 0.3);
  --hue-210-900a: rgba(10, 18, 25, 0.3);
  --hue-240-100a: rgba(239, 239, 246, 0.3);
  --hue-240-200a: rgba(206, 206, 229, 0.3);
  --hue-240-300a: rgba(173, 173, 212, 0.3);
  --hue-240-400a: rgba(59, 59, 152, 0.3);
  --hue-240-500a: rgba(49, 49, 127, 0.3);
  --hue-240-600a: rgba(44, 44, 114, 0.3);
  --hue-240-700a: rgba(34, 34, 89, 0.3);
  --hue-240-800a: rgba(25, 25, 63, 0.3);
  --hue-240-900a: rgba(10, 10, 25, 0.3);
  --hue-270-100a: rgba(243, 239, 246, 0.3);
  --hue-270-200a: rgba(218, 206, 229, 0.3);
  --hue-270-300a: rgba(193, 173, 212, 0.3);
  --hue-270-400a: rgba(106, 59, 152, 0.3);
  --hue-270-500a: rgba(88, 49, 127, 0.3);
  --hue-270-600a: rgba(80, 44, 114, 0.3);
  --hue-270-700a: rgba(62, 34, 89, 0.3);
  --hue-270-800a: rgba(44, 25, 63, 0.3);
  --hue-270-900a: rgba(18, 10, 25, 0.3);
  --hue-300-100a: rgba(246, 239, 246, 0.3);
  --hue-300-200a: rgba(229, 206, 229, 0.3);
  --hue-300-300a: rgba(212, 173, 212, 0.3);
  --hue-300-400a: rgba(152, 59, 152, 0.3);
  --hue-300-500a: rgba(127, 49, 127, 0.3);
  --hue-300-600a: rgba(114, 44, 114, 0.3);
  --hue-300-700a: rgba(89, 34, 89, 0.3);
  --hue-300-800a: rgba(63, 25, 63, 0.3);
  --hue-300-900a: rgba(25, 10, 25, 0.3);
  --hue-330-100a: rgba(246, 239, 243, 0.3);
  --hue-330-200a: rgba(229, 206, 218, 0.3);
  --hue-330-300a: rgba(212, 173, 193, 0.3);
  --hue-330-400a: rgba(152, 59, 106, 0.3);
  --hue-330-500a: rgba(127, 49, 88, 0.3);
  --hue-330-600a: rgba(114, 44, 80, 0.3);
  --hue-330-700a: rgba(89, 34, 62, 0.3);
  --hue-330-800a: rgba(63, 25, 44, 0.3);
  --hue-330-900a: rgba(25, 10, 18, 0.3);
  --complementary-100a: rgba(246, 244, 239, 0.3);
  --complementary-200a: rgba(229, 222, 206, 0.3);
  --complementary-300a: rgba(212, 200, 173, 0.3);
  --complementary-400a: rgba(152, 122, 59, 0.3);
  --complementary-500a: rgba(101, 81, 39, 0.3);
  --complementary-600a: rgba(76, 61, 30, 0.3);
  --complementary-700a: rgba(51, 41, 20, 0.3);
  --complementary-800a: rgba(38, 31, 15, 0.3);
  --complementary-900a: rgba(13, 10, 5, 0.3);
  --analogous1-100a: rgba(240, 239, 246, 0.3);
  --analogous1-200a: rgba(210, 206, 229, 0.3);
  --analogous1-300a: rgba(180, 173, 212, 0.3);
  --analogous1-400a: rgba(76, 59, 152, 0.3);
  --analogous1-500a: rgba(63, 49, 127, 0.3);
  --analogous1-600a: rgba(57, 44, 114, 0.3);
  --analogous1-700a: rgba(44, 34, 89, 0.3);
  --analogous1-800a: rgba(32, 25, 63, 0.3);
  --analogous1-900a: rgba(13, 10, 25, 0.3);
  --analogous2-100a: rgba(244, 239, 246, 0.3);
  --analogous2-200a: rgba(222, 206, 229, 0.3);
  --analogous2-300a: rgba(200, 173, 212, 0.3);
  --analogous2-400a: rgba(122, 59, 152, 0.3);
  --analogous2-500a: rgba(102, 49, 127, 0.3);
  --analogous2-600a: rgba(92, 44, 114, 0.3);
  --analogous2-700a: rgba(71, 34, 89, 0.3);
  --analogous2-800a: rgba(51, 25, 63, 0.3);
  --analogous2-900a: rgba(20, 10, 25, 0.3);
  --analogous3-100a: rgba(246, 239, 245, 0.3);
  --analogous3-200a: rgba(229, 206, 225, 0.3);
  --analogous3-300a: rgba(212, 173, 205, 0.3);
  --analogous3-400a: rgba(152, 59, 136, 0.3);
  --analogous3-500a: rgba(127, 49, 113, 0.3);
  --analogous3-600a: rgba(114, 44, 102, 0.3);
  --analogous3-700a: rgba(89, 34, 79, 0.3);
  --analogous3-800a: rgba(63, 25, 57, 0.3);
  --analogous3-900a: rgba(25, 10, 23, 0.3);
  --split1-100a: rgba(246, 240, 239, 0.3);
  --split1-200a: rgba(229, 210, 206, 0.3);
  --split1-300a: rgba(212, 180, 173, 0.3);
  --split1-400a: rgba(152, 76, 59, 0.3);
  --split1-500a: rgba(127, 63, 49, 0.3);
  --split1-600a: rgba(114, 57, 44, 0.3);
  --split1-700a: rgba(89, 44, 34, 0.3);
  --split1-800a: rgba(63, 32, 25, 0.3);
  --split1-900a: rgba(25, 13, 10, 0.3);
  --split2-100a: rgba(245, 246, 239, 0.3);
  --split2-200a: rgba(225, 229, 206, 0.3);
  --split2-300a: rgba(205, 212, 173, 0.3);
  --split2-400a: rgba(136, 152, 59, 0.3);
  --split2-500a: rgba(91, 101, 39, 0.3);
  --split2-600a: rgba(68, 76, 30, 0.3);
  --split2-700a: rgba(45, 51, 20, 0.3);
  --split2-800a: rgba(34, 38, 15, 0.3);
  --split2-900a: rgba(11, 13, 5, 0.3);
  --square1-100a: rgba(246, 239, 245, 0.3);
  --square1-200a: rgba(229, 206, 225, 0.3);
  --square1-300a: rgba(212, 173, 205, 0.3);
  --square1-400a: rgba(152, 59, 136, 0.3);
  --square1-500a: rgba(127, 49, 113, 0.3);
  --square1-600a: rgba(114, 44, 102, 0.3);
  --square1-700a: rgba(89, 34, 79, 0.3);
  --square1-800a: rgba(63, 25, 57, 0.3);
  --square1-900a: rgba(25, 10, 23, 0.3);
  --square2-100a: rgba(246, 244, 239, 0.3);
  --square2-200a: rgba(229, 222, 206, 0.3);
  --square2-300a: rgba(212, 200, 173, 0.3);
  --square2-400a: rgba(152, 122, 59, 0.3);
  --square2-500a: rgba(101, 81, 39, 0.3);
  --square2-600a: rgba(76, 61, 30, 0.3);
  --square2-700a: rgba(51, 41, 20, 0.3);
  --square2-800a: rgba(38, 31, 15, 0.3);
  --square2-900a: rgba(13, 10, 5, 0.3);
  --square3-100a: rgba(239, 246, 240, 0.3);
  --square3-200a: rgba(206, 229, 210, 0.3);
  --square3-300a: rgba(173, 212, 180, 0.3);
  --square3-400a: rgba(59, 152, 76, 0.3);
  --square3-500a: rgba(39, 101, 51, 0.3);
  --square3-600a: rgba(30, 76, 38, 0.3);
  --square3-700a: rgba(20, 51, 25, 0.3);
  --square3-800a: rgba(15, 38, 19, 0.3);
  --square3-900a: rgba(5, 13, 6, 0.3);
  --triadic1-100a: rgba(246, 239, 241, 0.3);
  --triadic1-200a: rgba(229, 206, 214, 0.3);
  --triadic1-300a: rgba(212, 173, 186, 0.3);
  --triadic1-400a: rgba(152, 59, 89, 0.3);
  --triadic1-500a: rgba(127, 49, 74, 0.3);
  --triadic1-600a: rgba(114, 44, 67, 0.3);
  --triadic1-700a: rgba(89, 34, 52, 0.3);
  --triadic1-800a: rgba(63, 25, 37, 0.3);
  --triadic1-900a: rgba(25, 10, 15, 0.3);
  --triadic2-100a: rgba(241, 246, 239, 0.3);
  --triadic2-200a: rgba(214, 229, 206, 0.3);
  --triadic2-300a: rgba(186, 212, 173, 0.3);
  --triadic2-400a: rgba(89, 152, 59, 0.3);
  --triadic2-500a: rgba(59, 101, 39, 0.3);
  --triadic2-600a: rgba(45, 76, 30, 0.3);
  --triadic2-700a: rgba(30, 51, 20, 0.3);
  --triadic2-800a: rgba(22, 38, 15, 0.3);
  --triadic2-900a: rgba(7, 13, 5, 0.3);
  --tetradic1-100a: rgba(244, 239, 246, 0.3);
  --tetradic1-200a: rgba(222, 206, 229, 0.3);
  --tetradic1-300a: rgba(200, 173, 212, 0.3);
  --tetradic1-400a: rgba(122, 59, 152, 0.3);
  --tetradic1-500a: rgba(102, 49, 127, 0.3);
  --tetradic1-600a: rgba(92, 44, 114, 0.3);
  --tetradic1-700a: rgba(71, 34, 89, 0.3);
  --tetradic1-800a: rgba(51, 25, 63, 0.3);
  --tetradic1-900a: rgba(20, 10, 25, 0.3);
  --tetradic2-100a: rgba(246, 244, 239, 0.3);
  --tetradic2-200a: rgba(229, 222, 206, 0.3);
  --tetradic2-300a: rgba(212, 200, 173, 0.3);
  --tetradic2-400a: rgba(152, 122, 59, 0.3);
  --tetradic2-500a: rgba(101, 81, 39, 0.3);
  --tetradic2-600a: rgba(76, 61, 30, 0.3);
  --tetradic2-700a: rgba(51, 41, 20, 0.3);
  --tetradic2-800a: rgba(38, 31, 15, 0.3);
  --tetradic2-900a: rgba(13, 10, 5, 0.3);
  --tetradic3-100a: rgba(241, 246, 239, 0.3);
  --tetradic3-200a: rgba(214, 229, 206, 0.3);
  --tetradic3-300a: rgba(186, 212, 173, 0.3);
  --tetradic3-400a: rgba(89, 152, 59, 0.3);
  --tetradic3-500a: rgba(59, 101, 39, 0.3);
  --tetradic3-600a: rgba(45, 76, 30, 0.3);
  --tetradic3-700a: rgba(30, 51, 20, 0.3);
  --tetradic3-800a: rgba(22, 38, 15, 0.3);
  --tetradic3-900a: rgba(7, 13, 5, 0.3);
  --success-100a: rgba(239, 246, 239, 0.3);
  --success-200a: rgba(206, 229, 206, 0.3);
  --success-300a: rgba(173, 212, 173, 0.3);
  --success-400a: rgba(59, 152, 59, 0.3);
  --success-500a: rgba(39, 101, 39, 0.3);
  --success-600a: rgba(30, 76, 30, 0.3);
  --success-700a: rgba(20, 51, 20, 0.3);
  --success-800a: rgba(15, 38, 15, 0.3);
  --success-900a: rgba(5, 13, 5, 0.3);
  --danger-100a: rgba(246, 239, 239, 0.3);
  --danger-200a: rgba(229, 206, 206, 0.3);
  --danger-300a: rgba(212, 173, 173, 0.3);
  --danger-400a: rgba(152, 59, 59, 0.3);
  --danger-500a: rgba(127, 49, 49, 0.3);
  --danger-600a: rgba(114, 44, 44, 0.3);
  --danger-700a: rgba(89, 34, 34, 0.3);
  --danger-800a: rgba(63, 25, 25, 0.3);
  --danger-900a: rgba(25, 10, 10, 0.3);
  --warning-100a: rgba(246, 243, 239, 0.3);
  --warning-200a: rgba(229, 218, 206, 0.3);
  --warning-300a: rgba(212, 193, 173, 0.3);
  --warning-400a: rgba(152, 106, 59, 0.3);
  --warning-500a: rgba(101, 71, 39, 0.3);
  --warning-600a: rgba(76, 53, 30, 0.3);
  --warning-700a: rgba(51, 35, 20, 0.3);
  --warning-800a: rgba(38, 27, 15, 0.3);
  --warning-900a: rgba(13, 9, 5, 0.3);
  --info-100a: rgba(239, 243, 246, 0.3);
  --info-200a: rgba(206, 218, 229, 0.3);
  --info-300a: rgba(173, 193, 212, 0.3);
  --info-400a: rgba(59, 106, 152, 0.3);
  --info-500a: rgba(49, 88, 127, 0.3);
  --info-600a: rgba(44, 80, 114, 0.3);
  --info-700a: rgba(34, 62, 89, 0.3);
  --info-800a: rgba(25, 44, 63, 0.3);
  --info-900a: rgba(10, 18, 25, 0.3);
}
