:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #f1f2f4;
  --primary-200: #d5d8de;
  --primary-300: #b9bec8;
  --primary-400: #58637b;
  --primary-500: #495367;
  --primary-600: #424a5c;
  --primary-700: #333a48;
  --primary-800: #252933;
  --primary-900: #0f1114;
  --hue-0-100: #f4f1f1;
  --hue-0-200: #e0d4d3;
  --hue-0-300: #cbb8b6;
  --hue-0-400: #835550;
  --hue-0-500: #6d4743;
  --hue-0-600: #623f3c;
  --hue-0-700: #4c312f;
  --hue-0-800: #362322;
  --hue-0-900: #160e0d;
  --hue-30-100: #f4f2f1;
  --hue-30-200: #e0d7d3;
  --hue-30-300: #cbbbb6;
  --hue-30-400: #835d50;
  --hue-30-500: #6d4d43;
  --hue-30-600: #62463c;
  --hue-30-700: #4c362f;
  --hue-30-800: #362722;
  --hue-30-900: #16100d;
  --hue-60-100: #f5f3f0;
  --hue-60-200: #e2dad1;
  --hue-60-300: #cfc1b2;
  --hue-60-400: #8c6a47;
  --hue-60-500: #5d472f;
  --hue-60-600: #463524;
  --hue-60-700: #2c231b;
  --hue-60-800: #231b12;
  --hue-60-900: #0b0907;
  --hue-90-100: #f5f4f0;
  --hue-90-200: #e2ded1;
  --hue-90-300: #cfc8b2;
  --hue-90-400: #8c7b47;
  --hue-90-500: #5d522f;
  --hue-90-600: #463e24;
  --hue-90-700: #2f2918;
  --hue-90-800: #231f12;
  --hue-90-900: #0c0a06;
  --hue-120-100: #f5f5f0;
  --hue-120-200: #e2e2d1;
  --hue-120-300: #cfcfb2;
  --hue-120-400: #8c8c47;
  --hue-120-500: #5d5d2f;
  --hue-120-600: #464624;
  --hue-120-700: #2f2f18;
  --hue-120-800: #232312;
  --hue-120-900: #0c0c06;
  --hue-150-100: #f4f5f0;
  --hue-150-200: #dee2d1;
  --hue-150-300: #c8cfb2;
  --hue-150-400: #7c8c47;
  --hue-150-500: #535d2f;
  --hue-150-600: #3f4624;
  --hue-150-700: #2a2f18;
  --hue-150-800: #1f2312;
  --hue-150-900: #0a0c06;
  --hue-180-100: #f2f4f1;
  --hue-180-200: #d9e0d3;
  --hue-180-300: #bfcbb6;
  --hue-180-400: #658350;
  --hue-180-500: #435735;
  --hue-180-600: #334129;
  --hue-180-700: #222c1b;
  --hue-180-800: #192114;
  --hue-180-900: #080b07;
  --hue-210-100: #f1f4f3;
  --hue-210-200: #d3e0dc;
  --hue-210-300: #b6cbc6;
  --hue-210-400: #508375;
  --hue-210-500: #35574e;
  --hue-210-600: #29413b;
  --hue-210-700: #1b2c27;
  --hue-210-800: #14211d;
  --hue-210-900: #070b0a;
  --hue-240-100: #f1f2f4;
  --hue-240-200: #d5d7de;
  --hue-240-300: #b9bdc8;
  --hue-240-400: #58617b;
  --hue-240-500: #495167;
  --hue-240-600: #42495c;
  --hue-240-700: #333948;
  --hue-240-800: #252933;
  --hue-240-900: #0f1014;
  --hue-270-100: #f2f1f4;
  --hue-270-200: #d9d5de;
  --hue-270-300: #bfb9c8;
  --hue-270-400: #66587b;
  --hue-270-500: #554967;
  --hue-270-600: #4c425c;
  --hue-270-700: #3b3348;
  --hue-270-800: #2a2533;
  --hue-270-900: #110f14;
  --hue-300-100: #f4f1f4;
  --hue-300-200: #dfd4df;
  --hue-300-300: #cab7ca;
  --hue-300-400: #805380;
  --hue-300-500: #6b456b;
  --hue-300-600: #603e60;
  --hue-300-700: #4b304b;
  --hue-300-800: #352335;
  --hue-300-900: #150e15;
  --hue-330-100: #f4f1f2;
  --hue-330-200: #e0d3d7;
  --hue-330-300: #cbb6bc;
  --hue-330-400: #835060;
  --hue-330-500: #6d4350;
  --hue-330-600: #623c48;
  --hue-330-700: #4c2f38;
  --hue-330-800: #362228;
  --hue-330-900: #160d10;
  --complementary-100: #f4f2f1;
  --complementary-200: #e0d9d3;
  --complementary-300: #cbc0b6;
  --complementary-400: #836950;
  --complementary-500: #574535;
  --complementary-600: #413429;
  --complementary-700: #2c231b;
  --complementary-800: #211a14;
  --complementary-900: #0b0907;
  --analogous1-100: #f2f1f4;
  --analogous1-200: #d8d5de;
  --analogous1-300: #beb9c8;
  --analogous1-400: #64587b;
  --analogous1-500: #534967;
  --analogous1-600: #4b425c;
  --analogous1-700: #3a3348;
  --analogous1-800: #2a2533;
  --analogous1-900: #110f14;
  --analogous2-100: #f4f1f4;
  --analogous2-200: #dfd4df;
  --analogous2-300: #c9b7ca;
  --analogous2-400: #7e5380;
  --analogous2-500: #69456b;
  --analogous2-600: #5f3e60;
  --analogous2-700: #4a304b;
  --analogous2-800: #352335;
  --analogous2-900: #150e15;
  --analogous3-100: #f4f1f2;
  --analogous3-200: #e0d3d8;
  --analogous3-300: #cbb6be;
  --analogous3-400: #835063;
  --analogous3-500: #6d4353;
  --analogous3-600: #623c4a;
  --analogous3-700: #4c2f39;
  --analogous3-800: #362229;
  --analogous3-900: #160d11;
  --split1-100: #f4f2f1;
  --split1-200: #e0d7d3;
  --split1-300: #cbbbb6;
  --split1-400: #835c50;
  --split1-500: #6d4d43;
  --split1-600: #62453c;
  --split1-700: #4c362f;
  --split1-800: #362722;
  --split1-900: #16100d;
  --split2-100: #f5f4f0;
  --split2-200: #e2ded1;
  --split2-300: #cfc8b2;
  --split2-400: #8c7947;
  --split2-500: #5d512f;
  --split2-600: #463d24;
  --split2-700: #2f2818;
  --split2-800: #231f12;
  --split2-900: #0c0a06;
  --square1-100: #f4f1f2;
  --square1-200: #e0d3d8;
  --square1-300: #cbb6be;
  --square1-400: #835063;
  --square1-500: #6d4353;
  --square1-600: #623c4a;
  --square1-700: #4c2f39;
  --square1-800: #362229;
  --square1-900: #160d11;
  --square2-100: #f4f2f1;
  --square2-200: #e0d9d3;
  --square2-300: #cbc0b6;
  --square2-400: #836950;
  --square2-500: #574535;
  --square2-600: #413429;
  --square2-700: #2c231b;
  --square2-800: #211a14;
  --square2-900: #0b0907;
  --square3-100: #f4f5f0;
  --square3-200: #dee2d1;
  --square3-300: #c9cfb2;
  --square3-400: #7d8c47;
  --square3-500: #535d2f;
  --square3-600: #3f4624;
  --square3-700: #2a2f18;
  --square3-800: #1f2312;
  --square3-900: #0a0c06;
  --triadic1-100: #f4f1f1;
  --triadic1-200: #e0d4d3;
  --triadic1-300: #cbb7b6;
  --triadic1-400: #835350;
  --triadic1-500: #6d4543;
  --triadic1-600: #623e3c;
  --triadic1-700: #4c302f;
  --triadic1-800: #362222;
  --triadic1-900: #160e0d;
  --triadic2-100: #f5f5f0;
  --triadic2-200: #e2e2d1;
  --triadic2-300: #cfceb2;
  --triadic2-400: #8c8a47;
  --triadic2-500: #5d5c2f;
  --triadic2-600: #464524;
  --triadic2-700: #2f2e18;
  --triadic2-800: #232312;
  --triadic2-900: #0c0c06;
  --tetradic1-100: #f4f1f4;
  --tetradic1-200: #dfd4df;
  --tetradic1-300: #c9b7ca;
  --tetradic1-400: #7e5380;
  --tetradic1-500: #69456b;
  --tetradic1-600: #5f3e60;
  --tetradic1-700: #4a304b;
  --tetradic1-800: #352335;
  --tetradic1-900: #150e15;
  --tetradic2-100: #f4f2f1;
  --tetradic2-200: #e0d9d3;
  --tetradic2-300: #cbc0b6;
  --tetradic2-400: #836950;
  --tetradic2-500: #574535;
  --tetradic2-600: #413429;
  --tetradic2-700: #2c231b;
  --tetradic2-800: #211a14;
  --tetradic2-900: #0b0907;
  --tetradic3-100: #f5f5f0;
  --tetradic3-200: #e2e2d1;
  --tetradic3-300: #cfceb2;
  --tetradic3-400: #8c8a47;
  --tetradic3-500: #5d5c2f;
  --tetradic3-600: #464524;
  --tetradic3-700: #2f2e18;
  --tetradic3-800: #232312;
  --tetradic3-900: #0c0c06;
  --success-100: #f2f4f1;
  --success-200: #d9e0d3;
  --success-300: #bfcbb6;
  --success-400: #658350;
  --success-500: #435735;
  --success-600: #334129;
  --success-700: #222c1b;
  --success-800: #192114;
  --success-900: #080b07;
  --danger-100: #f4f1f1;
  --danger-200: #e0d4d3;
  --danger-300: #cbb8b6;
  --danger-400: #835550;
  --danger-500: #6d4743;
  --danger-600: #623f3c;
  --danger-700: #4c312f;
  --danger-800: #362322;
  --danger-900: #160e0d;
  --warning-100: #f5f3f0;
  --warning-200: #e2dad1;
  --warning-300: #cfc1b2;
  --warning-400: #8c6a47;
  --warning-500: #5d472f;
  --warning-600: #463524;
  --warning-700: #2c231b;
  --warning-800: #231b12;
  --warning-900: #0b0907;
  --info-100: #f1f2f4;
  --info-200: #d5d7de;
  --info-300: #b9bdc8;
  --info-400: #58617b;
  --info-500: #495167;
  --info-600: #42495c;
  --info-700: #333948;
  --info-800: #252933;
  --info-900: #0f1014;
  --primary-100n: #f1f2f4;
  --primary-200n: #d5d8de;
  --primary-300n: #b9bec8;
  --primary-400n: #58637b;
  --primary-500n: #495367;
  --primary-600n: #424a5c;
  --primary-700n: #333a48;
  --primary-800n: #252933;
  --primary-900n: #0f1114;
  --hue-0-100n: #f4f1f1;
  --hue-0-200n: #e0d4d3;
  --hue-0-300n: #cbb8b6;
  --hue-0-400n: #835550;
  --hue-0-500n: #6d4743;
  --hue-0-600n: #623f3c;
  --hue-0-700n: #4c312f;
  --hue-0-800n: #362322;
  --hue-0-900n: #160e0d;
  --hue-30-100n: #f4f2f1;
  --hue-30-200n: #e0d7d3;
  --hue-30-300n: #cbbbb6;
  --hue-30-400n: #835d50;
  --hue-30-500n: #6d4d43;
  --hue-30-600n: #62463c;
  --hue-30-700n: #4c362f;
  --hue-30-800n: #362722;
  --hue-30-900n: #16100d;
  --hue-60-100n: #f5f3f0;
  --hue-60-200n: #e2dad1;
  --hue-60-300n: #cfc1b2;
  --hue-60-400n: #8c6a47;
  --hue-60-500n: #5d472f;
  --hue-60-600n: #463524;
  --hue-60-700n: #2c231b;
  --hue-60-800n: #231b12;
  --hue-60-900n: #0b0907;
  --hue-90-100n: #f5f4f0;
  --hue-90-200n: #e2ded1;
  --hue-90-300n: #cfc8b2;
  --hue-90-400n: #8c7b47;
  --hue-90-500n: #5d522f;
  --hue-90-600n: #463e24;
  --hue-90-700n: #2f2918;
  --hue-90-800n: #231f12;
  --hue-90-900n: #0c0a06;
  --hue-120-100n: #f5f5f0;
  --hue-120-200n: #e2e2d1;
  --hue-120-300n: #cfcfb2;
  --hue-120-400n: #8c8c47;
  --hue-120-500n: #5d5d2f;
  --hue-120-600n: #464624;
  --hue-120-700n: #2f2f18;
  --hue-120-800n: #232312;
  --hue-120-900n: #0c0c06;
  --hue-150-100n: #f4f5f0;
  --hue-150-200n: #dee2d1;
  --hue-150-300n: #c8cfb2;
  --hue-150-400n: #7c8c47;
  --hue-150-500n: #535d2f;
  --hue-150-600n: #3f4624;
  --hue-150-700n: #2a2f18;
  --hue-150-800n: #1f2312;
  --hue-150-900n: #0a0c06;
  --hue-180-100n: #f2f4f1;
  --hue-180-200n: #d9e0d3;
  --hue-180-300n: #bfcbb6;
  --hue-180-400n: #658350;
  --hue-180-500n: #435735;
  --hue-180-600n: #334129;
  --hue-180-700n: #222c1b;
  --hue-180-800n: #192114;
  --hue-180-900n: #080b07;
  --hue-210-100n: #f1f4f3;
  --hue-210-200n: #d3e0dc;
  --hue-210-300n: #b6cbc6;
  --hue-210-400n: #508375;
  --hue-210-500n: #35574e;
  --hue-210-600n: #29413b;
  --hue-210-700n: #1b2c27;
  --hue-210-800n: #14211d;
  --hue-210-900n: #070b0a;
  --hue-240-100n: #f1f2f4;
  --hue-240-200n: #d5d7de;
  --hue-240-300n: #b9bdc8;
  --hue-240-400n: #58617b;
  --hue-240-500n: #495167;
  --hue-240-600n: #42495c;
  --hue-240-700n: #333948;
  --hue-240-800n: #252933;
  --hue-240-900n: #0f1014;
  --hue-270-100n: #f2f1f4;
  --hue-270-200n: #d9d5de;
  --hue-270-300n: #bfb9c8;
  --hue-270-400n: #66587b;
  --hue-270-500n: #554967;
  --hue-270-600n: #4c425c;
  --hue-270-700n: #3b3348;
  --hue-270-800n: #2a2533;
  --hue-270-900n: #110f14;
  --hue-300-100n: #f4f1f4;
  --hue-300-200n: #dfd4df;
  --hue-300-300n: #cab7ca;
  --hue-300-400n: #805380;
  --hue-300-500n: #6b456b;
  --hue-300-600n: #603e60;
  --hue-300-700n: #4b304b;
  --hue-300-800n: #352335;
  --hue-300-900n: #150e15;
  --hue-330-100n: #f4f1f2;
  --hue-330-200n: #e0d3d7;
  --hue-330-300n: #cbb6bc;
  --hue-330-400n: #835060;
  --hue-330-500n: #6d4350;
  --hue-330-600n: #623c48;
  --hue-330-700n: #4c2f38;
  --hue-330-800n: #362228;
  --hue-330-900n: #160d10;
  --complementary-100n: #f4f2f1;
  --complementary-200n: #e0d9d3;
  --complementary-300n: #cbc0b6;
  --complementary-400n: #836950;
  --complementary-500n: #574535;
  --complementary-600n: #413429;
  --complementary-700n: #2c231b;
  --complementary-800n: #211a14;
  --complementary-900n: #0b0907;
  --analogous1-100n: #f2f1f4;
  --analogous1-200n: #d8d5de;
  --analogous1-300n: #beb9c8;
  --analogous1-400n: #64587b;
  --analogous1-500n: #534967;
  --analogous1-600n: #4b425c;
  --analogous1-700n: #3a3348;
  --analogous1-800n: #2a2533;
  --analogous1-900n: #110f14;
  --analogous2-100n: #f4f1f4;
  --analogous2-200n: #dfd4df;
  --analogous2-300n: #c9b7ca;
  --analogous2-400n: #7e5380;
  --analogous2-500n: #69456b;
  --analogous2-600n: #5f3e60;
  --analogous2-700n: #4a304b;
  --analogous2-800n: #352335;
  --analogous2-900n: #150e15;
  --analogous3-100n: #f4f1f2;
  --analogous3-200n: #e0d3d8;
  --analogous3-300n: #cbb6be;
  --analogous3-400n: #835063;
  --analogous3-500n: #6d4353;
  --analogous3-600n: #623c4a;
  --analogous3-700n: #4c2f39;
  --analogous3-800n: #362229;
  --analogous3-900n: #160d11;
  --split1-100n: #f4f2f1;
  --split1-200n: #e0d7d3;
  --split1-300n: #cbbbb6;
  --split1-400n: #835c50;
  --split1-500n: #6d4d43;
  --split1-600n: #62453c;
  --split1-700n: #4c362f;
  --split1-800n: #362722;
  --split1-900n: #16100d;
  --split2-100n: #f5f4f0;
  --split2-200n: #e2ded1;
  --split2-300n: #cfc8b2;
  --split2-400n: #8c7947;
  --split2-500n: #5d512f;
  --split2-600n: #463d24;
  --split2-700n: #2f2818;
  --split2-800n: #231f12;
  --split2-900n: #0c0a06;
  --square1-100n: #f4f1f2;
  --square1-200n: #e0d3d8;
  --square1-300n: #cbb6be;
  --square1-400n: #835063;
  --square1-500n: #6d4353;
  --square1-600n: #623c4a;
  --square1-700n: #4c2f39;
  --square1-800n: #362229;
  --square1-900n: #160d11;
  --square2-100n: #f4f2f1;
  --square2-200n: #e0d9d3;
  --square2-300n: #cbc0b6;
  --square2-400n: #836950;
  --square2-500n: #574535;
  --square2-600n: #413429;
  --square2-700n: #2c231b;
  --square2-800n: #211a14;
  --square2-900n: #0b0907;
  --square3-100n: #f4f5f0;
  --square3-200n: #dee2d1;
  --square3-300n: #c9cfb2;
  --square3-400n: #7d8c47;
  --square3-500n: #535d2f;
  --square3-600n: #3f4624;
  --square3-700n: #2a2f18;
  --square3-800n: #1f2312;
  --square3-900n: #0a0c06;
  --triadic1-100n: #f4f1f1;
  --triadic1-200n: #e0d4d3;
  --triadic1-300n: #cbb7b6;
  --triadic1-400n: #835350;
  --triadic1-500n: #6d4543;
  --triadic1-600n: #623e3c;
  --triadic1-700n: #4c302f;
  --triadic1-800n: #362222;
  --triadic1-900n: #160e0d;
  --triadic2-100n: #f5f5f0;
  --triadic2-200n: #e2e2d1;
  --triadic2-300n: #cfceb2;
  --triadic2-400n: #8c8a47;
  --triadic2-500n: #5d5c2f;
  --triadic2-600n: #464524;
  --triadic2-700n: #2f2e18;
  --triadic2-800n: #232312;
  --triadic2-900n: #0c0c06;
  --tetradic1-100n: #f4f1f4;
  --tetradic1-200n: #dfd4df;
  --tetradic1-300n: #c9b7ca;
  --tetradic1-400n: #7e5380;
  --tetradic1-500n: #69456b;
  --tetradic1-600n: #5f3e60;
  --tetradic1-700n: #4a304b;
  --tetradic1-800n: #352335;
  --tetradic1-900n: #150e15;
  --tetradic2-100n: #f4f2f1;
  --tetradic2-200n: #e0d9d3;
  --tetradic2-300n: #cbc0b6;
  --tetradic2-400n: #836950;
  --tetradic2-500n: #574535;
  --tetradic2-600n: #413429;
  --tetradic2-700n: #2c231b;
  --tetradic2-800n: #211a14;
  --tetradic2-900n: #0b0907;
  --tetradic3-100n: #f5f5f0;
  --tetradic3-200n: #e2e2d1;
  --tetradic3-300n: #cfceb2;
  --tetradic3-400n: #8c8a47;
  --tetradic3-500n: #5d5c2f;
  --tetradic3-600n: #464524;
  --tetradic3-700n: #2f2e18;
  --tetradic3-800n: #232312;
  --tetradic3-900n: #0c0c06;
  --success-100n: #f2f4f1;
  --success-200n: #d9e0d3;
  --success-300n: #bfcbb6;
  --success-400n: #658350;
  --success-500n: #435735;
  --success-600n: #334129;
  --success-700n: #222c1b;
  --success-800n: #192114;
  --success-900n: #080b07;
  --danger-100n: #f4f1f1;
  --danger-200n: #e0d4d3;
  --danger-300n: #cbb8b6;
  --danger-400n: #835550;
  --danger-500n: #6d4743;
  --danger-600n: #623f3c;
  --danger-700n: #4c312f;
  --danger-800n: #362322;
  --danger-900n: #160e0d;
  --warning-100n: #f5f3f0;
  --warning-200n: #e2dad1;
  --warning-300n: #cfc1b2;
  --warning-400n: #8c6a47;
  --warning-500n: #5d472f;
  --warning-600n: #463524;
  --warning-700n: #2c231b;
  --warning-800n: #231b12;
  --warning-900n: #0b0907;
  --info-100n: #f1f2f4;
  --info-200n: #d5d7de;
  --info-300n: #b9bdc8;
  --info-400n: #58617b;
  --info-500n: #495167;
  --info-600n: #42495c;
  --info-700n: #333948;
  --info-800n: #252933;
  --info-900n: #0f1014;
  --primary-100a: rgba(239, 241, 246, 0.3);
  --primary-200a: rgba(206, 214, 229, 0.3);
  --primary-300a: rgba(173, 186, 212, 0.3);
  --primary-400a: rgba(59, 89, 152, 0.3);
  --primary-500a: rgba(49, 74, 127, 0.3);
  --primary-600a: rgba(44, 67, 114, 0.3);
  --primary-700a: rgba(34, 52, 89, 0.3);
  --primary-800a: rgba(25, 37, 63, 0.3);
  --primary-900a: rgba(10, 15, 25, 0.3);
  --hue-0-100a: rgba(246, 239, 239, 0.3);
  --hue-0-200a: rgba(229, 208, 206, 0.3);
  --hue-0-300a: rgba(212, 177, 173, 0.3);
  --hue-0-400a: rgba(152, 67, 59, 0.3);
  --hue-0-500a: rgba(127, 56, 49, 0.3);
  --hue-0-600a: rgba(114, 50, 44, 0.3);
  --hue-0-700a: rgba(89, 39, 34, 0.3);
  --hue-0-800a: rgba(63, 28, 25, 0.3);
  --hue-0-900a: rgba(25, 11, 10, 0.3);
  --hue-30-100a: rgba(246, 241, 239, 0.3);
  --hue-30-200a: rgba(229, 212, 206, 0.3);
  --hue-30-300a: rgba(212, 183, 173, 0.3);
  --hue-30-400a: rgba(152, 82, 59, 0.3);
  --hue-30-500a: rgba(127, 68, 49, 0.3);
  --hue-30-600a: rgba(114, 62, 44, 0.3);
  --hue-30-700a: rgba(89, 48, 34, 0.3);
  --hue-30-800a: rgba(63, 34, 25, 0.3);
  --hue-30-900a: rgba(25, 14, 10, 0.3);
  --hue-60-100a: rgba(246, 243, 239, 0.3);
  --hue-60-200a: rgba(229, 218, 206, 0.3);
  --hue-60-300a: rgba(212, 193, 173, 0.3);
  --hue-60-400a: rgba(152, 106, 59, 0.3);
  --hue-60-500a: rgba(101, 71, 39, 0.3);
  --hue-60-600a: rgba(76, 53, 30, 0.3);
  --hue-60-700a: rgba(51, 35, 20, 0.3);
  --hue-60-800a: rgba(38, 27, 15, 0.3);
  --hue-60-900a: rgba(13, 9, 5, 0.3);
  --hue-90-100a: rgba(246, 245, 239, 0.3);
  --hue-90-200a: rgba(229, 224, 206, 0.3);
  --hue-90-300a: rgba(212, 203, 173, 0.3);
  --hue-90-400a: rgba(152, 129, 59, 0.3);
  --hue-90-500a: rgba(101, 86, 39, 0.3);
  --hue-90-600a: rgba(76, 65, 30, 0.3);
  --hue-90-700a: rgba(51, 43, 20, 0.3);
  --hue-90-800a: rgba(38, 32, 15, 0.3);
  --hue-90-900a: rgba(13, 11, 5, 0.3);
  --hue-120-100a: rgba(246, 246, 239, 0.3);
  --hue-120-200a: rgba(229, 229, 206, 0.3);
  --hue-120-300a: rgba(212, 212, 173, 0.3);
  --hue-120-400a: rgba(152, 152, 59, 0.3);
  --hue-120-500a: rgba(101, 101, 39, 0.3);
  --hue-120-600a: rgba(76, 76, 30, 0.3);
  --hue-120-700a: rgba(51, 51, 20, 0.3);
  --hue-120-800a: rgba(38, 38, 15, 0.3);
  --hue-120-900a: rgba(13, 13, 5, 0.3);
  --hue-150-100a: rgba(245, 246, 239, 0.3);
  --hue-150-200a: rgba(224, 229, 206, 0.3);
  --hue-150-300a: rgba(203, 212, 173, 0.3);
  --hue-150-400a: rgba(131, 152, 59, 0.3);
  --hue-150-500a: rgba(87, 101, 39, 0.3);
  --hue-150-600a: rgba(66, 76, 30, 0.3);
  --hue-150-700a: rgba(44, 51, 20, 0.3);
  --hue-150-800a: rgba(33, 38, 15, 0.3);
  --hue-150-900a: rgba(11, 13, 5, 0.3);
  --hue-180-100a: rgba(242, 246, 239, 0.3);
  --hue-180-200a: rgba(216, 229, 206, 0.3);
  --hue-180-300a: rgba(189, 212, 173, 0.3);
  --hue-180-400a: rgba(97, 152, 59, 0.3);
  --hue-180-500a: rgba(65, 101, 39, 0.3);
  --hue-180-600a: rgba(49, 76, 30, 0.3);
  --hue-180-700a: rgba(32, 51, 20, 0.3);
  --hue-180-800a: rgba(24, 38, 15, 0.3);
  --hue-180-900a: rgba(8, 13, 5, 0.3);
  --hue-210-100a: rgba(239, 246, 244, 0.3);
  --hue-210-200a: rgba(206, 229, 223, 0.3);
  --hue-210-300a: rgba(173, 212, 202, 0.3);
  --hue-210-400a: rgba(59, 152, 127, 0.3);
  --hue-210-500a: rgba(39, 101, 85, 0.3);
  --hue-210-600a: rgba(30, 76, 64, 0.3);
  --hue-210-700a: rgba(20, 51, 42, 0.3);
  --hue-210-800a: rgba(15, 38, 32, 0.3);
  --hue-210-900a: rgba(5, 13, 11, 0.3);
  --hue-240-100a: rgba(239, 241, 246, 0.3);
  --hue-240-200a: rgba(206, 212, 229, 0.3);
  --hue-240-300a: rgba(173, 184, 212, 0.3);
  --hue-240-400a: rgba(59, 84, 152, 0.3);
  --hue-240-500a: rgba(49, 70, 127, 0.3);
  --hue-240-600a: rgba(44, 63, 114, 0.3);
  --hue-240-700a: rgba(34, 49, 89, 0.3);
  --hue-240-800a: rgba(25, 35, 63, 0.3);
  --hue-240-900a: rgba(10, 14, 25, 0.3);
  --hue-270-100a: rgba(242, 239, 246, 0.3);
  --hue-270-200a: rgba(215, 206, 229, 0.3);
  --hue-270-300a: rgba(189, 173, 212, 0.3);
  --hue-270-400a: rgba(96, 59, 152, 0.3);
  --hue-270-500a: rgba(80, 49, 127, 0.3);
  --hue-270-600a: rgba(72, 44, 114, 0.3);
  --hue-270-700a: rgba(56, 34, 89, 0.3);
  --hue-270-800a: rgba(40, 25, 63, 0.3);
  --hue-270-900a: rgba(16, 10, 25, 0.3);
  --hue-300-100a: rgba(246, 239, 246, 0.3);
  --hue-300-200a: rgba(229, 206, 229, 0.3);
  --hue-300-300a: rgba(212, 173, 212, 0.3);
  --hue-300-400a: rgba(152, 59, 152, 0.3);
  --hue-300-500a: rgba(127, 49, 127, 0.3);
  --hue-300-600a: rgba(114, 44, 114, 0.3);
  --hue-300-700a: rgba(89, 34, 89, 0.3);
  --hue-300-800a: rgba(63, 25, 63, 0.3);
  --hue-300-900a: rgba(25, 10, 25, 0.3);
  --hue-330-100a: rgba(246, 239, 241, 0.3);
  --hue-330-200a: rgba(229, 206, 213, 0.3);
  --hue-330-300a: rgba(212, 173, 185, 0.3);
  --hue-330-400a: rgba(152, 59, 88, 0.3);
  --hue-330-500a: rgba(127, 49, 73, 0.3);
  --hue-330-600a: rgba(114, 44, 66, 0.3);
  --hue-330-700a: rgba(89, 34, 51, 0.3);
  --hue-330-800a: rgba(63, 25, 37, 0.3);
  --hue-330-900a: rgba(25, 10, 15, 0.3);
  --complementary-100a: rgba(246, 242, 239, 0.3);
  --complementary-200a: rgba(229, 217, 206, 0.3);
  --complementary-300a: rgba(212, 192, 173, 0.3);
  --complementary-400a: rgba(152, 104, 59, 0.3);
  --complementary-500a: rgba(101, 69, 39, 0.3);
  --complementary-600a: rgba(76, 52, 30, 0.3);
  --complementary-700a: rgba(51, 35, 20, 0.3);
  --complementary-800a: rgba(38, 26, 15, 0.3);
  --complementary-900a: rgba(13, 9, 5, 0.3);
  --analogous1-100a: rgba(241, 239, 246, 0.3);
  --analogous1-200a: rgba(214, 206, 229, 0.3);
  --analogous1-300a: rgba(186, 173, 212, 0.3);
  --analogous1-400a: rgba(90, 59, 152, 0.3);
  --analogous1-500a: rgba(75, 49, 127, 0.3);
  --analogous1-600a: rgba(68, 44, 114, 0.3);
  --analogous1-700a: rgba(53, 34, 89, 0.3);
  --analogous1-800a: rgba(38, 25, 63, 0.3);
  --analogous1-900a: rgba(15, 10, 25, 0.3);
  --analogous2-100a: rgba(246, 239, 246, 0.3);
  --analogous2-200a: rgba(229, 206, 229, 0.3);
  --analogous2-300a: rgba(211, 173, 212, 0.3);
  --analogous2-400a: rgba(149, 59, 152, 0.3);
  --analogous2-500a: rgba(124, 49, 127, 0.3);
  --analogous2-600a: rgba(112, 44, 114, 0.3);
  --analogous2-700a: rgba(87, 34, 89, 0.3);
  --analogous2-800a: rgba(62, 25, 63, 0.3);
  --analogous2-900a: rgba(25, 10, 25, 0.3);
  --analogous3-100a: rgba(246, 239, 242, 0.3);
  --analogous3-200a: rgba(229, 206, 215, 0.3);
  --analogous3-300a: rgba(212, 173, 188, 0.3);
  --analogous3-400a: rgba(152, 59, 93, 0.3);
  --analogous3-500a: rgba(127, 49, 78, 0.3);
  --analogous3-600a: rgba(114, 44, 70, 0.3);
  --analogous3-700a: rgba(89, 34, 54, 0.3);
  --analogous3-800a: rgba(63, 25, 39, 0.3);
  --analogous3-900a: rgba(25, 10, 16, 0.3);
  --split1-100a: rgba(246, 241, 239, 0.3);
  --split1-200a: rgba(229, 212, 206, 0.3);
  --split1-300a: rgba(212, 183, 173, 0.3);
  --split1-400a: rgba(152, 81, 59, 0.3);
  --split1-500a: rgba(127, 68, 49, 0.3);
  --split1-600a: rgba(114, 61, 44, 0.3);
  --split1-700a: rgba(89, 47, 34, 0.3);
  --split1-800a: rgba(63, 34, 25, 0.3);
  --split1-900a: rgba(25, 14, 10, 0.3);
  --split2-100a: rgba(246, 244, 239, 0.3);
  --split2-200a: rgba(229, 223, 206, 0.3);
  --split2-300a: rgba(212, 202, 173, 0.3);
  --split2-400a: rgba(152, 127, 59, 0.3);
  --split2-500a: rgba(101, 85, 39, 0.3);
  --split2-600a: rgba(76, 64, 30, 0.3);
  --split2-700a: rgba(51, 42, 20, 0.3);
  --split2-800a: rgba(38, 32, 15, 0.3);
  --split2-900a: rgba(13, 11, 5, 0.3);
  --square1-100a: rgba(246, 239, 242, 0.3);
  --square1-200a: rgba(229, 206, 215, 0.3);
  --square1-300a: rgba(212, 173, 188, 0.3);
  --square1-400a: rgba(152, 59, 93, 0.3);
  --square1-500a: rgba(127, 49, 78, 0.3);
  --square1-600a: rgba(114, 44, 70, 0.3);
  --square1-700a: rgba(89, 34, 54, 0.3);
  --square1-800a: rgba(63, 25, 39, 0.3);
  --square1-900a: rgba(25, 10, 16, 0.3);
  --square2-100a: rgba(246, 242, 239, 0.3);
  --square2-200a: rgba(229, 217, 206, 0.3);
  --square2-300a: rgba(212, 192, 173, 0.3);
  --square2-400a: rgba(152, 104, 59, 0.3);
  --square2-500a: rgba(101, 69, 39, 0.3);
  --square2-600a: rgba(76, 52, 30, 0.3);
  --square2-700a: rgba(51, 35, 20, 0.3);
  --square2-800a: rgba(38, 26, 15, 0.3);
  --square2-900a: rgba(13, 9, 5, 0.3);
  --square3-100a: rgba(245, 246, 239, 0.3);
  --square3-200a: rgba(224, 229, 206, 0.3);
  --square3-300a: rgba(204, 212, 173, 0.3);
  --square3-400a: rgba(132, 152, 59, 0.3);
  --square3-500a: rgba(88, 101, 39, 0.3);
  --square3-600a: rgba(66, 76, 30, 0.3);
  --square3-700a: rgba(44, 51, 20, 0.3);
  --square3-800a: rgba(33, 38, 15, 0.3);
  --square3-900a: rgba(11, 13, 5, 0.3);
  --triadic1-100a: rgba(246, 239, 239, 0.3);
  --triadic1-200a: rgba(229, 207, 206, 0.3);
  --triadic1-300a: rgba(212, 175, 173, 0.3);
  --triadic1-400a: rgba(152, 63, 59, 0.3);
  --triadic1-500a: rgba(127, 53, 49, 0.3);
  --triadic1-600a: rgba(114, 47, 44, 0.3);
  --triadic1-700a: rgba(89, 37, 34, 0.3);
  --triadic1-800a: rgba(63, 26, 25, 0.3);
  --triadic1-900a: rgba(25, 11, 10, 0.3);
  --triadic2-100a: rgba(246, 246, 239, 0.3);
  --triadic2-200a: rgba(229, 229, 206, 0.3);
  --triadic2-300a: rgba(212, 211, 173, 0.3);
  --triadic2-400a: rgba(152, 150, 59, 0.3);
  --triadic2-500a: rgba(101, 100, 39, 0.3);
  --triadic2-600a: rgba(76, 75, 30, 0.3);
  --triadic2-700a: rgba(51, 50, 20, 0.3);
  --triadic2-800a: rgba(38, 38, 15, 0.3);
  --triadic2-900a: rgba(13, 13, 5, 0.3);
  --tetradic1-100a: rgba(246, 239, 246, 0.3);
  --tetradic1-200a: rgba(229, 206, 229, 0.3);
  --tetradic1-300a: rgba(211, 173, 212, 0.3);
  --tetradic1-400a: rgba(149, 59, 152, 0.3);
  --tetradic1-500a: rgba(124, 49, 127, 0.3);
  --tetradic1-600a: rgba(112, 44, 114, 0.3);
  --tetradic1-700a: rgba(87, 34, 89, 0.3);
  --tetradic1-800a: rgba(62, 25, 63, 0.3);
  --tetradic1-900a: rgba(25, 10, 25, 0.3);
  --tetradic2-100a: rgba(246, 242, 239, 0.3);
  --tetradic2-200a: rgba(229, 217, 206, 0.3);
  --tetradic2-300a: rgba(212, 192, 173, 0.3);
  --tetradic2-400a: rgba(152, 104, 59, 0.3);
  --tetradic2-500a: rgba(101, 69, 39, 0.3);
  --tetradic2-600a: rgba(76, 52, 30, 0.3);
  --tetradic2-700a: rgba(51, 35, 20, 0.3);
  --tetradic2-800a: rgba(38, 26, 15, 0.3);
  --tetradic2-900a: rgba(13, 9, 5, 0.3);
  --tetradic3-100a: rgba(246, 246, 239, 0.3);
  --tetradic3-200a: rgba(229, 229, 206, 0.3);
  --tetradic3-300a: rgba(212, 211, 173, 0.3);
  --tetradic3-400a: rgba(152, 150, 59, 0.3);
  --tetradic3-500a: rgba(101, 100, 39, 0.3);
  --tetradic3-600a: rgba(76, 75, 30, 0.3);
  --tetradic3-700a: rgba(51, 50, 20, 0.3);
  --tetradic3-800a: rgba(38, 38, 15, 0.3);
  --tetradic3-900a: rgba(13, 13, 5, 0.3);
  --success-100a: rgba(242, 246, 239, 0.3);
  --success-200a: rgba(216, 229, 206, 0.3);
  --success-300a: rgba(189, 212, 173, 0.3);
  --success-400a: rgba(97, 152, 59, 0.3);
  --success-500a: rgba(65, 101, 39, 0.3);
  --success-600a: rgba(49, 76, 30, 0.3);
  --success-700a: rgba(32, 51, 20, 0.3);
  --success-800a: rgba(24, 38, 15, 0.3);
  --success-900a: rgba(8, 13, 5, 0.3);
  --danger-100a: rgba(246, 239, 239, 0.3);
  --danger-200a: rgba(229, 208, 206, 0.3);
  --danger-300a: rgba(212, 177, 173, 0.3);
  --danger-400a: rgba(152, 67, 59, 0.3);
  --danger-500a: rgba(127, 56, 49, 0.3);
  --danger-600a: rgba(114, 50, 44, 0.3);
  --danger-700a: rgba(89, 39, 34, 0.3);
  --danger-800a: rgba(63, 28, 25, 0.3);
  --danger-900a: rgba(25, 11, 10, 0.3);
  --warning-100a: rgba(246, 243, 239, 0.3);
  --warning-200a: rgba(229, 218, 206, 0.3);
  --warning-300a: rgba(212, 193, 173, 0.3);
  --warning-400a: rgba(152, 106, 59, 0.3);
  --warning-500a: rgba(101, 71, 39, 0.3);
  --warning-600a: rgba(76, 53, 30, 0.3);
  --warning-700a: rgba(51, 35, 20, 0.3);
  --warning-800a: rgba(38, 27, 15, 0.3);
  --warning-900a: rgba(13, 9, 5, 0.3);
  --info-100a: rgba(239, 241, 246, 0.3);
  --info-200a: rgba(206, 212, 229, 0.3);
  --info-300a: rgba(173, 184, 212, 0.3);
  --info-400a: rgba(59, 84, 152, 0.3);
  --info-500a: rgba(49, 70, 127, 0.3);
  --info-600a: rgba(44, 63, 114, 0.3);
  --info-700a: rgba(34, 49, 89, 0.3);
  --info-800a: rgba(25, 35, 63, 0.3);
  --info-900a: rgba(10, 14, 25, 0.3);
}
