:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #fdf8f8;
  --primary-200: #f7e9e8;
  --primary-300: #f1dad9;
  --primary-400: #dea5a3;
  --primary-500: #ce9f9d;
  --primary-600: #c69c9b;
  --primary-700: #b69595;
  --primary-800: #a78f8f;
  --primary-900: #908686;
  --hue-0-100: #fdf8f8;
  --hue-0-200: #f7eae8;
  --hue-0-300: #f1dbd9;
  --hue-0-400: #dea9a3;
  --hue-0-500: #cea29d;
  --hue-0-600: #c69f9b;
  --hue-0-700: #b69895;
  --hue-0-800: #a7918f;
  --hue-0-900: #908786;
  --hue-30-100: #fdf9f8;
  --hue-30-200: #f7ece8;
  --hue-30-300: #f1dfd9;
  --hue-30-400: #deb2a3;
  --hue-30-500: #ceaa9d;
  --hue-30-600: #c6a69b;
  --hue-30-700: #b69d95;
  --hue-30-800: #a7958f;
  --hue-30-900: #908886;
  --hue-60-100: #fdfaf8;
  --hue-60-200: #f7f0e8;
  --hue-60-300: #f1e5d9;
  --hue-60-400: #e8c199;
  --hue-60-500: #c5ab91;
  --hue-60-600: #afa092;
  --hue-60-700: #9f958c;
  --hue-60-800: #9a9086;
  --hue-60-900: #888583;
  --hue-90-100: #fefcf7;
  --hue-90-200: #faf5e6;
  --hue-90-300: #f6edd5;
  --hue-90-400: #e8d499;
  --hue-90-500: #c5b891;
  --hue-90-600: #b4aa8c;
  --hue-90-700: #a39c88;
  --hue-90-800: #9a9586;
  --hue-90-900: #898782;
  --hue-120-100: #fefef7;
  --hue-120-200: #fafae6;
  --hue-120-300: #f6f6d5;
  --hue-120-400: #e8e899;
  --hue-120-500: #c5c591;
  --hue-120-600: #b4b48c;
  --hue-120-700: #a3a388;
  --hue-120-800: #9a9a86;
  --hue-120-900: #898982;
  --hue-150-100: #fcfef7;
  --hue-150-200: #f5fae6;
  --hue-150-300: #eef6d5;
  --hue-150-400: #d6e899;
  --hue-150-500: #b9c591;
  --hue-150-600: #abb48c;
  --hue-150-700: #9da388;
  --hue-150-800: #959a86;
  --hue-150-900: #878982;
  --hue-180-100: #fafdf8;
  --hue-180-200: #eef7e8;
  --hue-180-300: #e3f1d9;
  --hue-180-400: #bcdea3;
  --hue-180-500: #a8be98;
  --hue-180-600: #9eaf92;
  --hue-180-700: #949f8c;
  --hue-180-800: #8f9789;
  --hue-180-900: #858883;
  --hue-210-100: #f8fdfb;
  --hue-210-200: #e8f7f3;
  --hue-210-300: #d9f1eb;
  --hue-210-400: #a3dece;
  --hue-210-500: #98beb4;
  --hue-210-600: #92afa7;
  --hue-210-700: #8c9f9a;
  --hue-210-800: #899793;
  --hue-210-900: #838886;
  --hue-240-100: #f9f9fc;
  --hue-240-200: #ebedf5;
  --hue-240-300: #dde1ee;
  --hue-240-400: #acb7d5;
  --hue-240-500: #a5aec7;
  --hue-240-600: #a1aac0;
  --hue-240-700: #9aa0b1;
  --hue-240-800: #9297a3;
  --hue-240-900: #87898e;
  --hue-270-100: #faf9fc;
  --hue-270-200: #efebf5;
  --hue-270-300: #e4ddee;
  --hue-270-400: #bcacd5;
  --hue-270-500: #b2a5c7;
  --hue-270-600: #ada1c0;
  --hue-270-700: #a39ab1;
  --hue-270-800: #9992a3;
  --hue-270-900: #8a878e;
  --hue-300-100: #fcf8fc;
  --hue-300-200: #f6e9f6;
  --hue-300-300: #f0daf0;
  --hue-300-400: #daa7da;
  --hue-300-500: #cba0cb;
  --hue-300-600: #c49dc4;
  --hue-300-700: #b597b5;
  --hue-300-800: #a690a6;
  --hue-300-900: #8f868f;
  --hue-330-100: #fdf8f9;
  --hue-330-200: #f7e8ed;
  --hue-330-300: #f1d9e1;
  --hue-330-400: #dea3b6;
  --hue-330-500: #ce9dad;
  --hue-330-600: #c69ba8;
  --hue-330-700: #b6959f;
  --hue-330-800: #a78f96;
  --hue-330-900: #908689;
  --complementary-100: #fafcf7;
  --complementary-200: #eef4e8;
  --complementary-300: #e3edd8;
  --complementary-400: #bad3a0;
  --complementary-500: #a7b796;
  --complementary-600: #9da990;
  --complementary-700: #939c8a;
  --complementary-800: #8e9588;
  --complementary-900: #858783;
  --analogous1-100: #fdf9f8;
  --analogous1-200: #f7ebe8;
  --analogous1-300: #f1ded9;
  --analogous1-400: #deb0a3;
  --analogous1-500: #cea89d;
  --analogous1-600: #c6a49b;
  --analogous1-700: #b69c95;
  --analogous1-800: #a7948f;
  --analogous1-900: #908886;
  --analogous2-100: #fdfaf8;
  --analogous2-200: #f7efe8;
  --analogous2-300: #f1e4d9;
  --analogous2-400: #debda3;
  --analogous2-500: #ceb39d;
  --analogous2-600: #c6ae9b;
  --analogous2-700: #b6a495;
  --analogous2-800: #a7998f;
  --analogous2-900: #908a86;
  --analogous3-100: #fefbf7;
  --analogous3-200: #faf3e6;
  --analogous3-300: #f6ebd5;
  --analogous3-400: #e8ce99;
  --analogous3-500: #c5b491;
  --analogous3-600: #b4a78c;
  --analogous3-700: #a39a88;
  --analogous3-800: #9a9386;
  --analogous3-900: #898682;
  --split1-100: #fcfcf7;
  --split1-200: #f5f7e5;
  --split1-300: #eef1d4;
  --split1-400: #d6dd97;
  --split1-500: #babe8f;
  --split1-600: #abae8b;
  --split1-700: #9c9f87;
  --split1-800: #959786;
  --split1-900: #878882;
  --split2-100: #f9fcfb;
  --split2-200: #ecf4f1;
  --split2-300: #dfece7;
  --split2-400: #b1d1c6;
  --split2-500: #a0b6ae;
  --split2-600: #99a8a3;
  --split2-700: #909b97;
  --split2-800: #8c9491;
  --split2-900: #848786;
  --square1-100: #fefbf7;
  --square1-200: #faf3e6;
  --square1-300: #f6ebd5;
  --square1-400: #e8ce99;
  --square1-500: #c5b491;
  --square1-600: #b4a78c;
  --square1-700: #a39a88;
  --square1-800: #9a9386;
  --square1-900: #898682;
  --square2-100: #fafcf7;
  --square2-200: #eef4e8;
  --square2-300: #e3edd8;
  --square2-400: #bad3a0;
  --square2-500: #a7b796;
  --square2-600: #9da990;
  --square2-700: #939c8a;
  --square2-800: #8e9588;
  --square2-900: #858783;
  --square3-100: #faf7fb;
  --square3-200: #efe8f1;
  --square3-300: #e4d8e8;
  --square3-400: #bda1c8;
  --square3-500: #b39bbc;
  --square3-600: #ae98b6;
  --square3-700: #a393aa;
  --square3-800: #998e9e;
  --square3-900: #8a858c;
  --triadic1-100: #fdfcf7;
  --triadic1-200: #f9f7e6;
  --triadic1-300: #f5f1d5;
  --triadic1-400: #e7de99;
  --triadic1-500: #c5bf90;
  --triadic1-600: #b4af8c;
  --triadic1-700: #a29f88;
  --triadic1-800: #9a9886;
  --triadic1-900: #898882;
  --triadic2-100: #f9f9fb;
  --triadic2-200: #edecf2;
  --triadic2-300: #e0e0ea;
  --triadic2-400: #b5b4cb;
  --triadic2-500: #acabbf;
  --triadic2-600: #a7a7b8;
  --triadic2-700: #9f9eac;
  --triadic2-800: #96969f;
  --triadic2-900: #89888c;
  --tetradic1-100: #fdfaf8;
  --tetradic1-200: #f7efe8;
  --tetradic1-300: #f1e4d9;
  --tetradic1-400: #debda3;
  --tetradic1-500: #ceb39d;
  --tetradic1-600: #c6ae9b;
  --tetradic1-700: #b6a495;
  --tetradic1-800: #a7998f;
  --tetradic1-900: #908a86;
  --tetradic2-100: #fafcf7;
  --tetradic2-200: #eef4e8;
  --tetradic2-300: #e3edd8;
  --tetradic2-400: #bad3a0;
  --tetradic2-500: #a7b796;
  --tetradic2-600: #9da990;
  --tetradic2-700: #939c8a;
  --tetradic2-800: #8e9588;
  --tetradic2-900: #858783;
  --tetradic3-100: #f9f9fb;
  --tetradic3-200: #edecf2;
  --tetradic3-300: #e0e0ea;
  --tetradic3-400: #b5b4cb;
  --tetradic3-500: #acabbf;
  --tetradic3-600: #a7a7b8;
  --tetradic3-700: #9f9eac;
  --tetradic3-800: #96969f;
  --tetradic3-900: #89888c;
  --success-100: #fafdf8;
  --success-200: #eef7e8;
  --success-300: #e3f1d9;
  --success-400: #bcdea3;
  --success-500: #a8be98;
  --success-600: #9eaf92;
  --success-700: #949f8c;
  --success-800: #8f9789;
  --success-900: #858883;
  --danger-100: #fdf8f8;
  --danger-200: #f7eae8;
  --danger-300: #f1dbd9;
  --danger-400: #dea9a3;
  --danger-500: #cea29d;
  --danger-600: #c69f9b;
  --danger-700: #b69895;
  --danger-800: #a7918f;
  --danger-900: #908786;
  --warning-100: #fdfaf8;
  --warning-200: #f7f0e8;
  --warning-300: #f1e5d9;
  --warning-400: #e8c199;
  --warning-500: #c5ab91;
  --warning-600: #afa092;
  --warning-700: #9f958c;
  --warning-800: #9a9086;
  --warning-900: #888583;
  --info-100: #f9f9fc;
  --info-200: #ebedf5;
  --info-300: #dde1ee;
  --info-400: #acb7d5;
  --info-500: #a5aec7;
  --info-600: #a1aac0;
  --info-700: #9aa0b1;
  --info-800: #9297a3;
  --info-900: #87898e;
  --primary-100n: #faf0f0;
  --primary-200n: #efd2d1;
  --primary-300n: #e3b4b3;
  --primary-400n: #bc4b47;
  --primary-500n: #9d3e3b;
  --primary-600n: #8d3836;
  --primary-700n: #6d2b2a;
  --primary-800n: #4e1f1e;
  --primary-900n: #200d0c;
  --hue-0-100n: #faf1f0;
  --hue-0-200n: #efd4d1;
  --hue-0-300n: #e3b7b3;
  --hue-0-400n: #bc5247;
  --hue-0-500n: #9d443b;
  --hue-0-600n: #8d3e36;
  --hue-0-700n: #6d302a;
  --hue-0-800n: #4e221e;
  --hue-0-900n: #200e0c;
  --hue-30-100n: #faf2f0;
  --hue-30-200n: #efd8d1;
  --hue-30-300n: #e3bfb3;
  --hue-30-400n: #bc6547;
  --hue-30-500n: #9d543b;
  --hue-30-600n: #8d4c36;
  --hue-30-700n: #6d3a2a;
  --hue-30-800n: #4e2a1e;
  --hue-30-900n: #20110c;
  --hue-60-100n: #faf5f0;
  --hue-60-200n: #efe0d1;
  --hue-60-300n: #e3cbb3;
  --hue-60-400n: #d18232;
  --hue-60-500n: #8b5722;
  --hue-60-600n: #5e4124;
  --hue-60-700n: #3e2b18;
  --hue-60-800n: #34210d;
  --hue-60-900n: #100b06;
  --hue-90-100n: #fcf8ee;
  --hue-90-200n: #f4eacc;
  --hue-90-300n: #ecdbaa;
  --hue-90-400n: #d1a932;
  --hue-90-500n: #8b7122;
  --hue-90-600n: #695519;
  --hue-90-700n: #463810;
  --hue-90-800n: #342a0d;
  --hue-90-900n: #120e04;
  --hue-120-100n: #fcfcee;
  --hue-120-200n: #f4f4cc;
  --hue-120-300n: #ececaa;
  --hue-120-400n: #d1d132;
  --hue-120-500n: #8b8b22;
  --hue-120-600n: #696919;
  --hue-120-700n: #464610;
  --hue-120-800n: #34340d;
  --hue-120-900n: #121204;
  --hue-150-100n: #f8fcee;
  --hue-150-200n: #eaf4cc;
  --hue-150-300n: #ddecaa;
  --hue-150-400n: #add132;
  --hue-150-500n: #738b22;
  --hue-150-600n: #566919;
  --hue-150-700n: #3a4610;
  --hue-150-800n: #2b340d;
  --hue-150-900n: #0f1204;
  --hue-180-100n: #f4faf0;
  --hue-180-200n: #ddefd1;
  --hue-180-300n: #c7e3b3;
  --hue-180-400n: #78bc47;
  --hue-180-500n: #507d30;
  --hue-180-600n: #3c5e24;
  --hue-180-700n: #283e18;
  --hue-180-800n: #1e2f12;
  --hue-180-900n: #0a1006;
  --hue-210-100n: #f0faf7;
  --hue-210-200n: #d1efe6;
  --hue-210-300n: #b3e3d6;
  --hue-210-400n: #47bc9c;
  --hue-210-500n: #307d68;
  --hue-210-600n: #245e4f;
  --hue-210-700n: #183e34;
  --hue-210-800n: #122f27;
  --hue-210-900n: #06100d;
  --hue-240-100n: #f2f3f8;
  --hue-240-200n: #d6dbea;
  --hue-240-300n: #bac3dc;
  --hue-240-400n: #596faa;
  --hue-240-500n: #4a5d8e;
  --hue-240-600n: #435480;
  --hue-240-700n: #344163;
  --hue-240-800n: #252e47;
  --hue-240-900n: #0f131d;
  --hue-270-100n: #f4f2f8;
  --hue-270-200n: #ded6ea;
  --hue-270-300n: #c8badc;
  --hue-270-400n: #7959aa;
  --hue-270-500n: #654a8e;
  --hue-270-600n: #5b4380;
  --hue-270-700n: #473463;
  --hue-270-800n: #332547;
  --hue-270-900n: #140f1d;
  --hue-300-100n: #f9f1f9;
  --hue-300-200n: #edd3ed;
  --hue-300-300n: #e1b5e1;
  --hue-300-400n: #b54eb5;
  --hue-300-500n: #974197;
  --hue-300-600n: #883b88;
  --hue-300-700n: #6a2e6a;
  --hue-300-800n: #4c204c;
  --hue-300-900n: #1f0d1f;
  --hue-330-100n: #faf0f3;
  --hue-330-200n: #efd1db;
  --hue-330-300n: #e3b3c2;
  --hue-330-400n: #bc476c;
  --hue-330-500n: #9d3b5a;
  --hue-330-600n: #8d3651;
  --hue-330-700n: #6d2a3f;
  --hue-330-800n: #4e1e2d;
  --hue-330-900n: #200c12;
  --complementary-100n: #f4f9ee;
  --complementary-200n: #dde9d0;
  --complementary-300n: #c6dab0;
  --complementary-400n: #75a741;
  --complementary-500n: #4e6f2c;
  --complementary-600n: #3b5321;
  --complementary-700n: #273815;
  --complementary-800n: #1d2a11;
  --complementary-900n: #0a0e06;
  --analogous1-100n: #faf2f0;
  --analogous1-200n: #efd7d1;
  --analogous1-300n: #e3bdb3;
  --analogous1-400n: #bc6047;
  --analogous1-500n: #9d503b;
  --analogous1-600n: #8d4836;
  --analogous1-700n: #6d382a;
  --analogous1-800n: #4e281e;
  --analogous1-900n: #20100c;
  --analogous2-100n: #faf4f0;
  --analogous2-200n: #efded1;
  --analogous2-300n: #e3c8b3;
  --analogous2-400n: #bc7b47;
  --analogous2-500n: #9d673b;
  --analogous2-600n: #8d5d36;
  --analogous2-700n: #6d482a;
  --analogous2-800n: #4e331e;
  --analogous2-900n: #20150c;
  --analogous3-100n: #fcf7ee;
  --analogous3-200n: #f4e7cc;
  --analogous3-300n: #ecd6aa;
  --analogous3-400n: #d19c32;
  --analogous3-500n: #8b6822;
  --analogous3-600n: #694e19;
  --analogous3-700n: #463410;
  --analogous3-800n: #34270d;
  --analogous3-900n: #120d04;
  --split1-100n: #f8f9ee;
  --split1-200n: #ebeecb;
  --split1-300n: #dde2a8;
  --split1-400n: #adba2e;
  --split1-500n: #747c1f;
  --split1-600n: #575d17;
  --split1-700n: #393e0f;
  --split1-800n: #2b2f0c;
  --split1-900n: #0e1004;
  --split2-100n: #f2f8f6;
  --split2-200n: #d8e8e3;
  --split2-300n: #bed9cf;
  --split2-400n: #62a28c;
  --split2-500n: #416c5d;
  --split2-600n: #325147;
  --split2-700n: #21362f;
  --split2-800n: #192823;
  --split2-900n: #080e0c;
  --square1-100n: #fcf7ee;
  --square1-200n: #f4e7cc;
  --square1-300n: #ecd6aa;
  --square1-400n: #d19c32;
  --square1-500n: #8b6822;
  --square1-600n: #694e19;
  --square1-700n: #463410;
  --square1-800n: #34270d;
  --square1-900n: #120d04;
  --square2-100n: #f4f9ee;
  --square2-200n: #dde9d0;
  --square2-300n: #c6dab0;
  --square2-400n: #75a741;
  --square2-500n: #4e6f2c;
  --square2-600n: #3b5321;
  --square2-700n: #273815;
  --square2-800n: #1d2a11;
  --square2-900n: #0a0e06;
  --square3-100n: #f4eff6;
  --square3-200n: #ded0e3;
  --square3-300n: #c8b0d1;
  --square3-400n: #7b4291;
  --square3-500n: #663779;
  --square3-600n: #5c316d;
  --square3-700n: #472655;
  --square3-800n: #331c3c;
  --square3-900n: #150b18;
  --triadic1-100n: #fbf9ee;
  --triadic1-200n: #f3efcc;
  --triadic1-300n: #ebe3aa;
  --triadic1-400n: #cfbd32;
  --triadic1-500n: #8b7e21;
  --triadic1-600n: #685e19;
  --triadic1-700n: #453f10;
  --triadic1-800n: #34300d;
  --triadic1-900n: #121004;
  --triadic2-100n: #f2f2f6;
  --triadic2-200n: #dad9e5;
  --triadic2-300n: #c1c1d4;
  --triadic2-400n: #6a6996;
  --triadic2-500n: #58577e;
  --triadic2-600n: #4f4e71;
  --triadic2-700n: #3e3d58;
  --triadic2-800n: #2c2c3f;
  --triadic2-900n: #121119;
  --tetradic1-100n: #faf4f0;
  --tetradic1-200n: #efded1;
  --tetradic1-300n: #e3c8b3;
  --tetradic1-400n: #bc7b47;
  --tetradic1-500n: #9d673b;
  --tetradic1-600n: #8d5d36;
  --tetradic1-700n: #6d482a;
  --tetradic1-800n: #4e331e;
  --tetradic1-900n: #20150c;
  --tetradic2-100n: #f4f9ee;
  --tetradic2-200n: #dde9d0;
  --tetradic2-300n: #c6dab0;
  --tetradic2-400n: #75a741;
  --tetradic2-500n: #4e6f2c;
  --tetradic2-600n: #3b5321;
  --tetradic2-700n: #273815;
  --tetradic2-800n: #1d2a11;
  --tetradic2-900n: #0a0e06;
  --tetradic3-100n: #f2f2f6;
  --tetradic3-200n: #dad9e5;
  --tetradic3-300n: #c1c1d4;
  --tetradic3-400n: #6a6996;
  --tetradic3-500n: #58577e;
  --tetradic3-600n: #4f4e71;
  --tetradic3-700n: #3e3d58;
  --tetradic3-800n: #2c2c3f;
  --tetradic3-900n: #121119;
  --success-100n: #f4faf0;
  --success-200n: #ddefd1;
  --success-300n: #c7e3b3;
  --success-400n: #78bc47;
  --success-500n: #507d30;
  --success-600n: #3c5e24;
  --success-700n: #283e18;
  --success-800n: #1e2f12;
  --success-900n: #0a1006;
  --danger-100n: #faf1f0;
  --danger-200n: #efd4d1;
  --danger-300n: #e3b7b3;
  --danger-400n: #bc5247;
  --danger-500n: #9d443b;
  --danger-600n: #8d3e36;
  --danger-700n: #6d302a;
  --danger-800n: #4e221e;
  --danger-900n: #200e0c;
  --warning-100n: #faf5f0;
  --warning-200n: #efe0d1;
  --warning-300n: #e3cbb3;
  --warning-400n: #d18232;
  --warning-500n: #8b5722;
  --warning-600n: #5e4124;
  --warning-700n: #3e2b18;
  --warning-800n: #34210d;
  --warning-900n: #100b06;
  --info-100n: #f2f3f8;
  --info-200n: #d6dbea;
  --info-300n: #bac3dc;
  --info-400n: #596faa;
  --info-500n: #4a5d8e;
  --info-600n: #435480;
  --info-700n: #344163;
  --info-800n: #252e47;
  --info-900n: #0f131d;
  --primary-100a: rgba(254, 236, 236, 0.3);
  --primary-200a: rgba(251, 198, 197, 0.3);
  --primary-300a: rgba(248, 160, 158, 0.3);
  --primary-400a: rgba(237, 28, 22, 0.3);
  --primary-500a: rgba(198, 23, 18, 0.3);
  --primary-600a: rgba(178, 21, 17, 0.3);
  --primary-700a: rgba(138, 16, 13, 0.3);
  --primary-800a: rgba(99, 12, 9, 0.3);
  --primary-900a: rgba(40, 5, 4, 0.3);
  --hue-0-100a: rgba(254, 237, 236, 0.3);
  --hue-0-200a: rgba(251, 202, 197, 0.3);
  --hue-0-300a: rgba(248, 166, 158, 0.3);
  --hue-0-400a: rgba(237, 41, 22, 0.3);
  --hue-0-500a: rgba(198, 34, 18, 0.3);
  --hue-0-600a: rgba(178, 31, 17, 0.3);
  --hue-0-700a: rgba(138, 24, 13, 0.3);
  --hue-0-800a: rgba(99, 17, 9, 0.3);
  --hue-0-900a: rgba(40, 7, 4, 0.3);
  --hue-30-100a: rgba(254, 240, 236, 0.3);
  --hue-30-200a: rgba(251, 210, 197, 0.3);
  --hue-30-300a: rgba(248, 180, 158, 0.3);
  --hue-30-400a: rgba(237, 76, 22, 0.3);
  --hue-30-500a: rgba(198, 63, 18, 0.3);
  --hue-30-600a: rgba(178, 57, 17, 0.3);
  --hue-30-700a: rgba(138, 44, 13, 0.3);
  --hue-30-800a: rgba(99, 32, 9, 0.3);
  --hue-30-900a: rgba(40, 13, 4, 0.3);
  --hue-60-100a: rgba(254, 245, 236, 0.3);
  --hue-60-200a: rgba(251, 224, 197, 0.3);
  --hue-60-300a: rgba(248, 203, 158, 0.3);
  --hue-60-400a: rgba(237, 130, 22, 0.3);
  --hue-60-500a: rgba(158, 87, 15, 0.3);
  --hue-60-600a: rgba(119, 65, 11, 0.3);
  --hue-60-700a: rgba(79, 43, 7, 0.3);
  --hue-60-800a: rgba(59, 33, 6, 0.3);
  --hue-60-900a: rgba(20, 11, 2, 0.3);
  --hue-90-100a: rgba(254, 249, 236, 0.3);
  --hue-90-200a: rgba(251, 237, 197, 0.3);
  --hue-90-300a: rgba(248, 225, 158, 0.3);
  --hue-90-400a: rgba(237, 183, 22, 0.3);
  --hue-90-500a: rgba(158, 122, 15, 0.3);
  --hue-90-600a: rgba(119, 92, 11, 0.3);
  --hue-90-700a: rgba(79, 61, 7, 0.3);
  --hue-90-800a: rgba(59, 46, 6, 0.3);
  --hue-90-900a: rgba(20, 15, 2, 0.3);
  --hue-120-100a: rgba(254, 254, 236, 0.3);
  --hue-120-200a: rgba(251, 251, 197, 0.3);
  --hue-120-300a: rgba(248, 248, 158, 0.3);
  --hue-120-400a: rgba(237, 237, 22, 0.3);
  --hue-120-500a: rgba(158, 158, 15, 0.3);
  --hue-120-600a: rgba(119, 119, 11, 0.3);
  --hue-120-700a: rgba(79, 79, 7, 0.3);
  --hue-120-800a: rgba(59, 59, 6, 0.3);
  --hue-120-900a: rgba(20, 20, 2, 0.3);
  --hue-150-100a: rgba(249, 254, 236, 0.3);
  --hue-150-200a: rgba(238, 251, 197, 0.3);
  --hue-150-300a: rgba(227, 248, 158, 0.3);
  --hue-150-400a: rgba(188, 237, 22, 0.3);
  --hue-150-500a: rgba(125, 158, 15, 0.3);
  --hue-150-600a: rgba(94, 119, 11, 0.3);
  --hue-150-700a: rgba(63, 79, 7, 0.3);
  --hue-150-800a: rgba(47, 59, 6, 0.3);
  --hue-150-900a: rgba(16, 20, 2, 0.3);
  --hue-180-100a: rgba(243, 254, 236, 0.3);
  --hue-180-200a: rgba(219, 251, 197, 0.3);
  --hue-180-300a: rgba(195, 248, 158, 0.3);
  --hue-180-400a: rgba(111, 237, 22, 0.3);
  --hue-180-500a: rgba(74, 158, 15, 0.3);
  --hue-180-600a: rgba(56, 119, 11, 0.3);
  --hue-180-700a: rgba(37, 79, 7, 0.3);
  --hue-180-800a: rgba(28, 59, 6, 0.3);
  --hue-180-900a: rgba(9, 20, 2, 0.3);
  --hue-210-100a: rgba(236, 254, 249, 0.3);
  --hue-210-200a: rgba(197, 251, 236, 0.3);
  --hue-210-300a: rgba(158, 248, 223, 0.3);
  --hue-210-400a: rgba(22, 237, 179, 0.3);
  --hue-210-500a: rgba(15, 158, 119, 0.3);
  --hue-210-600a: rgba(11, 119, 90, 0.3);
  --hue-210-700a: rgba(7, 79, 60, 0.3);
  --hue-210-800a: rgba(6, 59, 45, 0.3);
  --hue-210-900a: rgba(2, 20, 15, 0.3);
  --hue-240-100a: rgba(236, 241, 254, 0.3);
  --hue-240-200a: rgba(197, 212, 251, 0.3);
  --hue-240-300a: rgba(158, 183, 248, 0.3);
  --hue-240-400a: rgba(22, 81, 237, 0.3);
  --hue-240-500a: rgba(18, 68, 198, 0.3);
  --hue-240-600a: rgba(17, 61, 178, 0.3);
  --hue-240-700a: rgba(13, 47, 138, 0.3);
  --hue-240-800a: rgba(9, 34, 99, 0.3);
  --hue-240-900a: rgba(4, 14, 40, 0.3);
  --hue-270-100a: rgba(243, 236, 254, 0.3);
  --hue-270-200a: rgba(218, 197, 251, 0.3);
  --hue-270-300a: rgba(194, 158, 248, 0.3);
  --hue-270-400a: rgba(108, 22, 237, 0.3);
  --hue-270-500a: rgba(90, 18, 198, 0.3);
  --hue-270-600a: rgba(81, 17, 178, 0.3);
  --hue-270-700a: rgba(63, 13, 138, 0.3);
  --hue-270-800a: rgba(45, 9, 99, 0.3);
  --hue-270-900a: rgba(18, 4, 40, 0.3);
  --hue-300-100a: rgba(254, 236, 254, 0.3);
  --hue-300-200a: rgba(251, 197, 251, 0.3);
  --hue-300-300a: rgba(248, 158, 248, 0.3);
  --hue-300-400a: rgba(237, 22, 237, 0.3);
  --hue-300-500a: rgba(198, 18, 198, 0.3);
  --hue-300-600a: rgba(178, 17, 178, 0.3);
  --hue-300-700a: rgba(138, 13, 138, 0.3);
  --hue-300-800a: rgba(99, 9, 99, 0.3);
  --hue-300-900a: rgba(40, 4, 40, 0.3);
  --hue-330-100a: rgba(254, 236, 241, 0.3);
  --hue-330-200a: rgba(251, 197, 214, 0.3);
  --hue-330-300a: rgba(248, 158, 186, 0.3);
  --hue-330-400a: rgba(237, 22, 89, 0.3);
  --hue-330-500a: rgba(198, 18, 74, 0.3);
  --hue-330-600a: rgba(178, 17, 67, 0.3);
  --hue-330-700a: rgba(138, 13, 52, 0.3);
  --hue-330-800a: rgba(99, 9, 37, 0.3);
  --hue-330-900a: rgba(40, 4, 15, 0.3);
  --complementary-100a: rgba(244, 251, 236, 0.3);
  --complementary-200a: rgba(221, 244, 197, 0.3);
  --complementary-300a: rgba(198, 236, 158, 0.3);
  --complementary-400a: rgba(117, 210, 22, 0.3);
  --complementary-500a: rgba(78, 140, 15, 0.3);
  --complementary-600a: rgba(59, 105, 11, 0.3);
  --complementary-700a: rgba(39, 70, 7, 0.3);
  --complementary-800a: rgba(29, 53, 6, 0.3);
  --complementary-900a: rgba(10, 18, 2, 0.3);
  --analogous1-100a: rgba(254, 239, 236, 0.3);
  --analogous1-200a: rgba(251, 208, 197, 0.3);
  --analogous1-300a: rgba(248, 177, 158, 0.3);
  --analogous1-400a: rgba(237, 67, 22, 0.3);
  --analogous1-500a: rgba(198, 56, 18, 0.3);
  --analogous1-600a: rgba(178, 50, 17, 0.3);
  --analogous1-700a: rgba(138, 39, 13, 0.3);
  --analogous1-800a: rgba(99, 28, 9, 0.3);
  --analogous1-900a: rgba(40, 11, 4, 0.3);
  --analogous2-100a: rgba(254, 244, 236, 0.3);
  --analogous2-200a: rgba(251, 221, 197, 0.3);
  --analogous2-300a: rgba(248, 198, 158, 0.3);
  --analogous2-400a: rgba(237, 118, 22, 0.3);
  --analogous2-500a: rgba(198, 98, 18, 0.3);
  --analogous2-600a: rgba(178, 89, 17, 0.3);
  --analogous2-700a: rgba(138, 69, 13, 0.3);
  --analogous2-800a: rgba(99, 49, 9, 0.3);
  --analogous2-900a: rgba(40, 20, 4, 0.3);
  --analogous3-100a: rgba(254, 248, 236, 0.3);
  --analogous3-200a: rgba(251, 233, 197, 0.3);
  --analogous3-300a: rgba(248, 218, 158, 0.3);
  --analogous3-400a: rgba(237, 165, 22, 0.3);
  --analogous3-500a: rgba(158, 110, 15, 0.3);
  --analogous3-600a: rgba(119, 83, 11, 0.3);
  --analogous3-700a: rgba(79, 55, 7, 0.3);
  --analogous3-800a: rgba(59, 41, 6, 0.3);
  --analogous3-900a: rgba(20, 14, 2, 0.3);
  --split1-100a: rgba(250, 251, 236, 0.3);
  --split1-200a: rgba(240, 244, 197, 0.3);
  --split1-300a: rgba(229, 236, 158, 0.3);
  --split1-400a: rgba(193, 210, 22, 0.3);
  --split1-500a: rgba(129, 140, 15, 0.3);
  --split1-600a: rgba(97, 105, 11, 0.3);
  --split1-700a: rgba(64, 70, 7, 0.3);
  --split1-800a: rgba(48, 53, 6, 0.3);
  --split1-900a: rgba(16, 18, 2, 0.3);
  --split2-100a: rgba(240, 250, 246, 0.3);
  --split2-200a: rgba(209, 239, 229, 0.3);
  --split2-300a: rgba(178, 228, 211, 0.3);
  --split2-400a: rgba(71, 189, 149, 0.3);
  --split2-500a: rgba(47, 126, 99, 0.3);
  --split2-600a: rgba(36, 95, 75, 0.3);
  --split2-700a: rgba(24, 63, 50, 0.3);
  --split2-800a: rgba(18, 47, 37, 0.3);
  --split2-900a: rgba(6, 16, 12, 0.3);
  --square1-100a: rgba(254, 248, 236, 0.3);
  --square1-200a: rgba(251, 233, 197, 0.3);
  --square1-300a: rgba(248, 218, 158, 0.3);
  --square1-400a: rgba(237, 165, 22, 0.3);
  --square1-500a: rgba(158, 110, 15, 0.3);
  --square1-600a: rgba(119, 83, 11, 0.3);
  --square1-700a: rgba(79, 55, 7, 0.3);
  --square1-800a: rgba(59, 41, 6, 0.3);
  --square1-900a: rgba(20, 14, 2, 0.3);
  --square2-100a: rgba(244, 251, 236, 0.3);
  --square2-200a: rgba(221, 244, 197, 0.3);
  --square2-300a: rgba(198, 236, 158, 0.3);
  --square2-400a: rgba(117, 210, 22, 0.3);
  --square2-500a: rgba(78, 140, 15, 0.3);
  --square2-600a: rgba(59, 105, 11, 0.3);
  --square2-700a: rgba(39, 70, 7, 0.3);
  --square2-800a: rgba(29, 53, 6, 0.3);
  --square2-900a: rgba(10, 18, 2, 0.3);
  --square3-100a: rgba(246, 236, 249, 0.3);
  --square3-200a: rgba(227, 197, 238, 0.3);
  --square3-300a: rgba(208, 158, 227, 0.3);
  --square3-400a: rgba(141, 23, 188, 0.3);
  --square3-500a: rgba(118, 19, 157, 0.3);
  --square3-600a: rgba(106, 17, 141, 0.3);
  --square3-700a: rgba(82, 13, 110, 0.3);
  --square3-800a: rgba(59, 10, 78, 0.3);
  --square3-900a: rgba(24, 4, 31, 0.3);
  --triadic1-100a: rgba(253, 251, 236, 0.3);
  --triadic1-200a: rgba(250, 244, 197, 0.3);
  --triadic1-300a: rgba(247, 236, 158, 0.3);
  --triadic1-400a: rgba(235, 210, 22, 0.3);
  --triadic1-500a: rgba(157, 140, 15, 0.3);
  --triadic1-600a: rgba(118, 105, 11, 0.3);
  --triadic1-700a: rgba(78, 70, 7, 0.3);
  --triadic1-800a: rgba(59, 53, 6, 0.3);
  --triadic1-900a: rgba(20, 18, 2, 0.3);
  --triadic2-100a: rgba(240, 239, 249, 0.3);
  --triadic2-200a: rgba(209, 208, 238, 0.3);
  --triadic2-300a: rgba(178, 177, 227, 0.3);
  --triadic2-400a: rgba(71, 67, 188, 0.3);
  --triadic2-500a: rgba(59, 56, 157, 0.3);
  --triadic2-600a: rgba(53, 50, 141, 0.3);
  --triadic2-700a: rgba(41, 39, 110, 0.3);
  --triadic2-800a: rgba(30, 28, 78, 0.3);
  --triadic2-900a: rgba(12, 11, 31, 0.3);
  --tetradic1-100a: rgba(254, 244, 236, 0.3);
  --tetradic1-200a: rgba(251, 221, 197, 0.3);
  --tetradic1-300a: rgba(248, 198, 158, 0.3);
  --tetradic1-400a: rgba(237, 118, 22, 0.3);
  --tetradic1-500a: rgba(198, 98, 18, 0.3);
  --tetradic1-600a: rgba(178, 89, 17, 0.3);
  --tetradic1-700a: rgba(138, 69, 13, 0.3);
  --tetradic1-800a: rgba(99, 49, 9, 0.3);
  --tetradic1-900a: rgba(40, 20, 4, 0.3);
  --tetradic2-100a: rgba(244, 251, 236, 0.3);
  --tetradic2-200a: rgba(221, 244, 197, 0.3);
  --tetradic2-300a: rgba(198, 236, 158, 0.3);
  --tetradic2-400a: rgba(117, 210, 22, 0.3);
  --tetradic2-500a: rgba(78, 140, 15, 0.3);
  --tetradic2-600a: rgba(59, 105, 11, 0.3);
  --tetradic2-700a: rgba(39, 70, 7, 0.3);
  --tetradic2-800a: rgba(29, 53, 6, 0.3);
  --tetradic2-900a: rgba(10, 18, 2, 0.3);
  --tetradic3-100a: rgba(240, 239, 249, 0.3);
  --tetradic3-200a: rgba(209, 208, 238, 0.3);
  --tetradic3-300a: rgba(178, 177, 227, 0.3);
  --tetradic3-400a: rgba(71, 67, 188, 0.3);
  --tetradic3-500a: rgba(59, 56, 157, 0.3);
  --tetradic3-600a: rgba(53, 50, 141, 0.3);
  --tetradic3-700a: rgba(41, 39, 110, 0.3);
  --tetradic3-800a: rgba(30, 28, 78, 0.3);
  --tetradic3-900a: rgba(12, 11, 31, 0.3);
  --success-100a: rgba(243, 254, 236, 0.3);
  --success-200a: rgba(219, 251, 197, 0.3);
  --success-300a: rgba(195, 248, 158, 0.3);
  --success-400a: rgba(111, 237, 22, 0.3);
  --success-500a: rgba(74, 158, 15, 0.3);
  --success-600a: rgba(56, 119, 11, 0.3);
  --success-700a: rgba(37, 79, 7, 0.3);
  --success-800a: rgba(28, 59, 6, 0.3);
  --success-900a: rgba(9, 20, 2, 0.3);
  --danger-100a: rgba(254, 237, 236, 0.3);
  --danger-200a: rgba(251, 202, 197, 0.3);
  --danger-300a: rgba(248, 166, 158, 0.3);
  --danger-400a: rgba(237, 41, 22, 0.3);
  --danger-500a: rgba(198, 34, 18, 0.3);
  --danger-600a: rgba(178, 31, 17, 0.3);
  --danger-700a: rgba(138, 24, 13, 0.3);
  --danger-800a: rgba(99, 17, 9, 0.3);
  --danger-900a: rgba(40, 7, 4, 0.3);
  --warning-100a: rgba(254, 245, 236, 0.3);
  --warning-200a: rgba(251, 224, 197, 0.3);
  --warning-300a: rgba(248, 203, 158, 0.3);
  --warning-400a: rgba(237, 130, 22, 0.3);
  --warning-500a: rgba(158, 87, 15, 0.3);
  --warning-600a: rgba(119, 65, 11, 0.3);
  --warning-700a: rgba(79, 43, 7, 0.3);
  --warning-800a: rgba(59, 33, 6, 0.3);
  --warning-900a: rgba(20, 11, 2, 0.3);
  --info-100a: rgba(236, 241, 254, 0.3);
  --info-200a: rgba(197, 212, 251, 0.3);
  --info-300a: rgba(158, 183, 248, 0.3);
  --info-400a: rgba(22, 81, 237, 0.3);
  --info-500a: rgba(18, 68, 198, 0.3);
  --info-600a: rgba(17, 61, 178, 0.3);
  --info-700a: rgba(13, 47, 138, 0.3);
  --info-800a: rgba(9, 34, 99, 0.3);
  --info-900a: rgba(4, 14, 40, 0.3);
}
