:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #fdf8f8;
  --primary-200: #f7e9e8;
  --primary-300: #f1dad9;
  --primary-400: #dea5a3;
  --primary-500: #ce9f9d;
  --primary-600: #c69c9b;
  --primary-700: #b69595;
  --primary-800: #a78f8f;
  --primary-900: #908686;
  --hue-0-100: #fdf8f8;
  --hue-0-200: #f7e8e8;
  --hue-0-300: #f1d9d9;
  --hue-0-400: #dea3a3;
  --hue-0-500: #ce9d9d;
  --hue-0-600: #c69b9b;
  --hue-0-700: #b69595;
  --hue-0-800: #a78f8f;
  --hue-0-900: #908686;
  --hue-30-100: #fdfaf8;
  --hue-30-200: #f7f0e8;
  --hue-30-300: #f1e5d9;
  --hue-30-400: #dec1a3;
  --hue-30-500: #c5ab91;
  --hue-30-600: #afa092;
  --hue-30-700: #9f958c;
  --hue-30-800: #9a9086;
  --hue-30-900: #888583;
  --hue-60-100: #fefef7;
  --hue-60-200: #fafae6;
  --hue-60-300: #f6f6d5;
  --hue-60-400: #e8e899;
  --hue-60-500: #c5c591;
  --hue-60-600: #b4b48c;
  --hue-60-700: #a3a388;
  --hue-60-800: #9a9a86;
  --hue-60-900: #898982;
  --hue-90-100: #fafdf8;
  --hue-90-200: #f0f7e8;
  --hue-90-300: #e5f1d9;
  --hue-90-400: #c1dea3;
  --hue-90-500: #abbe98;
  --hue-90-600: #a0af92;
  --hue-90-700: #959f8c;
  --hue-90-800: #909789;
  --hue-90-900: #858883;
  --hue-120-100: #f8fdf8;
  --hue-120-200: #e8f7e8;
  --hue-120-300: #d9f1d9;
  --hue-120-400: #a3dea3;
  --hue-120-500: #98be98;
  --hue-120-600: #92af92;
  --hue-120-700: #8c9f8c;
  --hue-120-800: #899789;
  --hue-120-900: #838883;
  --hue-150-100: #f8fdfa;
  --hue-150-200: #e8f7f0;
  --hue-150-300: #d9f1e5;
  --hue-150-400: #a3dec1;
  --hue-150-500: #98beab;
  --hue-150-600: #92afa0;
  --hue-150-700: #8c9f95;
  --hue-150-800: #899790;
  --hue-150-900: #838885;
  --hue-180-100: #f8fdfd;
  --hue-180-200: #e8f7f7;
  --hue-180-300: #d9f1f1;
  --hue-180-400: #a3dede;
  --hue-180-500: #98bebe;
  --hue-180-600: #92afaf;
  --hue-180-700: #8c9f9f;
  --hue-180-800: #899797;
  --hue-180-900: #838888;
  --hue-210-100: #f8fafd;
  --hue-210-200: #e8f0f7;
  --hue-210-300: #d9e5f1;
  --hue-210-400: #a3c1de;
  --hue-210-500: #9db6ce;
  --hue-210-600: #9bb1c6;
  --hue-210-700: #95a6b6;
  --hue-210-800: #8f9ba7;
  --hue-210-900: #868b90;
  --hue-240-100: #f9f9fc;
  --hue-240-200: #ebebf5;
  --hue-240-300: #ddddee;
  --hue-240-400: #acacd5;
  --hue-240-500: #a5a5c7;
  --hue-240-600: #a1a1c0;
  --hue-240-700: #9a9ab1;
  --hue-240-800: #9292a3;
  --hue-240-900: #87878e;
  --hue-270-100: #faf8fc;
  --hue-270-200: #f0e9f6;
  --hue-270-300: #e5daf0;
  --hue-270-400: #c1a7da;
  --hue-270-500: #b6a0cb;
  --hue-270-600: #b19dc4;
  --hue-270-700: #a697b5;
  --hue-270-800: #9b90a6;
  --hue-270-900: #8b868f;
  --hue-300-100: #fcf8fc;
  --hue-300-200: #f6e9f6;
  --hue-300-300: #f0daf0;
  --hue-300-400: #daa7da;
  --hue-300-500: #cba0cb;
  --hue-300-600: #c49dc4;
  --hue-300-700: #b597b5;
  --hue-300-800: #a690a6;
  --hue-300-900: #8f868f;
  --hue-330-100: #fdf8fa;
  --hue-330-200: #f7e8f0;
  --hue-330-300: #f1d9e5;
  --hue-330-400: #dea3c1;
  --hue-330-500: #ce9db6;
  --hue-330-600: #c69bb1;
  --hue-330-700: #b695a6;
  --hue-330-800: #a78f9b;
  --hue-330-900: #90868b;
  --complementary-100: #f9fbfb;
  --complementary-200: #ecf3f3;
  --complementary-300: #deebec;
  --complementary-400: #b1cfd0;
  --complementary-500: #a0b5b5;
  --complementary-600: #98a8a8;
  --complementary-700: #909a9b;
  --complementary-800: #8c9494;
  --complementary-900: #848687;
  --analogous1-100: #fdfaf8;
  --analogous1-200: #f7efe8;
  --analogous1-300: #f1e4d9;
  --analogous1-400: #debea3;
  --analogous1-500: #beaa98;
  --analogous1-600: #af9f92;
  --analogous1-700: #9f958c;
  --analogous1-800: #979089;
  --analogous1-900: #888583;
  --analogous2-100: #fdfcf7;
  --analogous2-200: #f9f7e6;
  --analogous2-300: #f5f1d4;
  --analogous2-400: #e6de98;
  --analogous2-500: #c4bf90;
  --analogous2-600: #b3af8c;
  --analogous2-700: #a29f88;
  --analogous2-800: #999886;
  --analogous2-900: #888882;
  --analogous3-100: #fafcf7;
  --analogous3-200: #f0f7e5;
  --analogous3-300: #e6f1d4;
  --analogous3-400: #c2dd97;
  --analogous3-500: #acbe8f;
  --analogous3-600: #a1ae8b;
  --analogous3-700: #969f87;
  --analogous3-800: #919786;
  --analogous3-900: #858882;
  --split1-100: #f9fcfa;
  --split1-200: #ecf4ee;
  --split1-300: #dfece3;
  --split1-400: #b1d1bb;
  --split1-500: #a0b6a7;
  --split1-600: #99a89e;
  --split1-700: #909b94;
  --split1-800: #8c948f;
  --split1-900: #848785;
  --split2-100: #f9fafb;
  --split2-200: #edeef2;
  --split2-300: #e0e3ea;
  --split2-400: #b5bbcc;
  --split2-500: #acb1bf;
  --split2-600: #a8acb9;
  --split2-700: #9fa3ac;
  --split2-800: #96999f;
  --split2-900: #898a8c;
  --square1-100: #fafcf7;
  --square1-200: #f0f7e5;
  --square1-300: #e6f1d4;
  --square1-400: #c2dd97;
  --square1-500: #acbe8f;
  --square1-600: #a1ae8b;
  --square1-700: #969f87;
  --square1-800: #919786;
  --square1-900: #858882;
  --square2-100: #f9fbfb;
  --square2-200: #ecf3f3;
  --square2-300: #deebec;
  --square2-400: #b1cfd0;
  --square2-500: #a0b5b5;
  --square2-600: #98a8a8;
  --square2-700: #909a9b;
  --square2-800: #8c9494;
  --square2-900: #848687;
  --square3-100: #faf7fb;
  --square3-200: #f0e8f1;
  --square3-300: #e5d8e8;
  --square3-400: #c1a1c8;
  --square3-500: #b79bbc;
  --square3-600: #b198b6;
  --square3-700: #a693aa;
  --square3-800: #9b8e9e;
  --square3-900: #8b858c;
  --triadic1-100: #f8fcf7;
  --triadic1-200: #eaf4e8;
  --triadic1-300: #dbedd8;
  --triadic1-400: #a9d4a2;
  --triadic1-500: #9bb897;
  --triadic1-600: #94aa91;
  --triadic1-700: #8d9c8b;
  --triadic1-800: #8a9589;
  --triadic1-900: #838783;
  --triadic2-100: #f9f8fa;
  --triadic2-200: #ebe9f0;
  --triadic2-300: #ded9e7;
  --triadic2-400: #afa5c4;
  --triadic2-500: #a79fb9;
  --triadic2-600: #a39bb3;
  --triadic2-700: #9b95a8;
  --triadic2-800: #938f9c;
  --triadic2-900: #88868b;
  --tetradic1-100: #fdfcf7;
  --tetradic1-200: #f9f7e6;
  --tetradic1-300: #f5f1d4;
  --tetradic1-400: #e6de98;
  --tetradic1-500: #c4bf90;
  --tetradic1-600: #b3af8c;
  --tetradic1-700: #a29f88;
  --tetradic1-800: #999886;
  --tetradic1-900: #888882;
  --tetradic2-100: #f9fbfb;
  --tetradic2-200: #ecf3f3;
  --tetradic2-300: #deebec;
  --tetradic2-400: #b1cfd0;
  --tetradic2-500: #a0b5b5;
  --tetradic2-600: #98a8a8;
  --tetradic2-700: #909a9b;
  --tetradic2-800: #8c9494;
  --tetradic2-900: #848687;
  --tetradic3-100: #f9f8fa;
  --tetradic3-200: #ebe9f0;
  --tetradic3-300: #ded9e7;
  --tetradic3-400: #afa5c4;
  --tetradic3-500: #a79fb9;
  --tetradic3-600: #a39bb3;
  --tetradic3-700: #9b95a8;
  --tetradic3-800: #938f9c;
  --tetradic3-900: #88868b;
  --success-100: #f8fdf8;
  --success-200: #e8f7e8;
  --success-300: #d9f1d9;
  --success-400: #a3dea3;
  --success-500: #98be98;
  --success-600: #92af92;
  --success-700: #8c9f8c;
  --success-800: #899789;
  --success-900: #838883;
  --danger-100: #fdf8f8;
  --danger-200: #f7e8e8;
  --danger-300: #f1d9d9;
  --danger-400: #dea3a3;
  --danger-500: #ce9d9d;
  --danger-600: #c69b9b;
  --danger-700: #b69595;
  --danger-800: #a78f8f;
  --danger-900: #908686;
  --warning-100: #fdfaf8;
  --warning-200: #f7f0e8;
  --warning-300: #f1e5d9;
  --warning-400: #e8c199;
  --warning-500: #c5ab91;
  --warning-600: #afa092;
  --warning-700: #9f958c;
  --warning-800: #9a9086;
  --warning-900: #888583;
  --info-100: #f8fafd;
  --info-200: #e8f0f7;
  --info-300: #d9e5f1;
  --info-400: #a3c1de;
  --info-500: #9db6ce;
  --info-600: #9bb1c6;
  --info-700: #95a6b6;
  --info-800: #8f9ba7;
  --info-900: #868b90;
  --primary-100n: #faf0f0;
  --primary-200n: #efd2d1;
  --primary-300n: #e3b4b3;
  --primary-400n: #bc4b47;
  --primary-500n: #9d3e3b;
  --primary-600n: #8d3836;
  --primary-700n: #6d2b2a;
  --primary-800n: #4e1f1e;
  --primary-900n: #200d0c;
  --hue-0-100n: #faf0f0;
  --hue-0-200n: #efd1d1;
  --hue-0-300n: #e3b3b3;
  --hue-0-400n: #bc4747;
  --hue-0-500n: #9d3b3b;
  --hue-0-600n: #8d3636;
  --hue-0-700n: #6d2a2a;
  --hue-0-800n: #4e1e1e;
  --hue-0-900n: #200c0c;
  --hue-30-100n: #faf5f0;
  --hue-30-200n: #efe0d1;
  --hue-30-300n: #e3cbb3;
  --hue-30-400n: #bc8247;
  --hue-30-500n: #8b5722;
  --hue-30-600n: #5e4124;
  --hue-30-700n: #3e2b18;
  --hue-30-800n: #34210d;
  --hue-30-900n: #100b06;
  --hue-60-100n: #fcfcee;
  --hue-60-200n: #f4f4cc;
  --hue-60-300n: #ececaa;
  --hue-60-400n: #d1d132;
  --hue-60-500n: #8b8b22;
  --hue-60-600n: #696919;
  --hue-60-700n: #464610;
  --hue-60-800n: #34340d;
  --hue-60-900n: #121204;
  --hue-90-100n: #f5faf0;
  --hue-90-200n: #e0efd1;
  --hue-90-300n: #cbe3b3;
  --hue-90-400n: #82bc47;
  --hue-90-500n: #577d30;
  --hue-90-600n: #415e24;
  --hue-90-700n: #2b3e18;
  --hue-90-800n: #212f12;
  --hue-90-900n: #0b1006;
  --hue-120-100n: #f0faf0;
  --hue-120-200n: #d1efd1;
  --hue-120-300n: #b3e3b3;
  --hue-120-400n: #47bc47;
  --hue-120-500n: #307d30;
  --hue-120-600n: #245e24;
  --hue-120-700n: #183e18;
  --hue-120-800n: #122f12;
  --hue-120-900n: #061006;
  --hue-150-100n: #f0faf5;
  --hue-150-200n: #d1efe0;
  --hue-150-300n: #b3e3cb;
  --hue-150-400n: #47bc82;
  --hue-150-500n: #307d57;
  --hue-150-600n: #245e41;
  --hue-150-700n: #183e2b;
  --hue-150-800n: #122f21;
  --hue-150-900n: #06100b;
  --hue-180-100n: #f0fafa;
  --hue-180-200n: #d1efef;
  --hue-180-300n: #b3e3e3;
  --hue-180-400n: #47bcbc;
  --hue-180-500n: #307d7d;
  --hue-180-600n: #245e5e;
  --hue-180-700n: #183e3e;
  --hue-180-800n: #122f2f;
  --hue-180-900n: #061010;
  --hue-210-100n: #f0f5fa;
  --hue-210-200n: #d1e0ef;
  --hue-210-300n: #b3cbe3;
  --hue-210-400n: #4782bc;
  --hue-210-500n: #3b6c9d;
  --hue-210-600n: #36628d;
  --hue-210-700n: #2a4c6d;
  --hue-210-800n: #1e364e;
  --hue-210-900n: #0c1620;
  --hue-240-100n: #f2f2f8;
  --hue-240-200n: #d6d6ea;
  --hue-240-300n: #babadc;
  --hue-240-400n: #5959aa;
  --hue-240-500n: #4a4a8e;
  --hue-240-600n: #434380;
  --hue-240-700n: #343463;
  --hue-240-800n: #252547;
  --hue-240-900n: #0f0f1d;
  --hue-270-100n: #f5f1f9;
  --hue-270-200n: #e0d3ed;
  --hue-270-300n: #cbb5e1;
  --hue-270-400n: #824eb5;
  --hue-270-500n: #6c4197;
  --hue-270-600n: #623b88;
  --hue-270-700n: #4c2e6a;
  --hue-270-800n: #36204c;
  --hue-270-900n: #160d1f;
  --hue-300-100n: #f9f1f9;
  --hue-300-200n: #edd3ed;
  --hue-300-300n: #e1b5e1;
  --hue-300-400n: #b54eb5;
  --hue-300-500n: #974197;
  --hue-300-600n: #883b88;
  --hue-300-700n: #6a2e6a;
  --hue-300-800n: #4c204c;
  --hue-300-900n: #1f0d1f;
  --hue-330-100n: #faf0f5;
  --hue-330-200n: #efd1e0;
  --hue-330-300n: #e3b3cb;
  --hue-330-400n: #bc4782;
  --hue-330-500n: #9d3b6c;
  --hue-330-600n: #8d3662;
  --hue-330-700n: #6d2a4c;
  --hue-330-800n: #4e1e36;
  --hue-330-900n: #200c16;
  --complementary-100n: #f2f7f7;
  --complementary-200n: #d8e7e7;
  --complementary-300n: #bdd7d8;
  --complementary-400n: #629fa1;
  --complementary-500n: #416a6b;
  --complementary-600n: #315051;
  --complementary-700n: #213536;
  --complementary-800n: #192828;
  --complementary-900n: #080d0e;
  --analogous1-100n: #faf4f0;
  --analogous1-200n: #efdfd1;
  --analogous1-300n: #e3c9b3;
  --analogous1-400n: #bc7d47;
  --analogous1-500n: #7d5430;
  --analogous1-600n: #5e3f24;
  --analogous1-700n: #3e2a18;
  --analogous1-800n: #2f2012;
  --analogous1-900n: #100a06;
  --analogous2-100n: #fbf9ee;
  --analogous2-200n: #f2efcc;
  --analogous2-300n: #eae3a9;
  --analogous2-400n: #cdbc31;
  --analogous2-500n: #897e21;
  --analogous2-600n: #665e19;
  --analogous2-700n: #443f10;
  --analogous2-800n: #33300d;
  --analogous2-900n: #111004;
  --analogous3-100n: #f5f9ee;
  --analogous3-200n: #e1eecb;
  --analogous3-300n: #cce2a8;
  --analogous3-400n: #85ba2e;
  --analogous3-500n: #597c1f;
  --analogous3-600n: #435d17;
  --analogous3-700n: #2c3e0f;
  --analogous3-800n: #222f0c;
  --analogous3-900n: #0b1004;
  --split1-100n: #f2f8f4;
  --split1-200n: #d8e8dd;
  --split1-300n: #bed9c7;
  --split1-400n: #62a277;
  --split1-500n: #416c4f;
  --split1-600n: #32513c;
  --split1-700n: #213628;
  --split1-800n: #19281e;
  --split1-900n: #080e0a;
  --split2-100n: #f3f4f6;
  --split2-200n: #dadde5;
  --split2-300n: #c1c6d4;
  --split2-400n: #6b7798;
  --split2-500n: #59637f;
  --split2-600n: #505972;
  --split2-700n: #3e4659;
  --split2-800n: #2d323f;
  --split2-900n: #121419;
  --square1-100n: #f5f9ee;
  --square1-200n: #e1eecb;
  --square1-300n: #cce2a8;
  --square1-400n: #85ba2e;
  --square1-500n: #597c1f;
  --square1-600n: #435d17;
  --square1-700n: #2c3e0f;
  --square1-800n: #222f0c;
  --square1-900n: #0b1004;
  --square2-100n: #f2f7f7;
  --square2-200n: #d8e7e7;
  --square2-300n: #bdd7d8;
  --square2-400n: #629fa1;
  --square2-500n: #416a6b;
  --square2-600n: #315051;
  --square2-700n: #213536;
  --square2-800n: #192828;
  --square2-900n: #080d0e;
  --square3-100n: #f5eff6;
  --square3-200n: #e0d0e3;
  --square3-300n: #cbb0d1;
  --square3-400n: #834291;
  --square3-500n: #6e3779;
  --square3-600n: #62316d;
  --square3-700n: #4d2655;
  --square3-800n: #371c3c;
  --square3-900n: #160b18;
  --triadic1-100n: #f1f8ef;
  --triadic1-200n: #d4e9d1;
  --triadic1-300n: #b7dbb1;
  --triadic1-400n: #52a845;
  --triadic1-500n: #36702e;
  --triadic1-600n: #295423;
  --triadic1-700n: #1b3817;
  --triadic1-800n: #152a12;
  --triadic1-900n: #070e06;
  --triadic2-100n: #f2f0f5;
  --triadic2-200n: #d7d2e1;
  --triadic2-300n: #bcb3ce;
  --triadic2-400n: #5e4a89;
  --triadic2-500n: #4f3e72;
  --triadic2-600n: #473767;
  --triadic2-700n: #372b50;
  --triadic2-800n: #271f39;
  --triadic2-900n: #100c17;
  --tetradic1-100n: #fbf9ee;
  --tetradic1-200n: #f2efcc;
  --tetradic1-300n: #eae3a9;
  --tetradic1-400n: #cdbc31;
  --tetradic1-500n: #897e21;
  --tetradic1-600n: #665e19;
  --tetradic1-700n: #443f10;
  --tetradic1-800n: #33300d;
  --tetradic1-900n: #111004;
  --tetradic2-100n: #f2f7f7;
  --tetradic2-200n: #d8e7e7;
  --tetradic2-300n: #bdd7d8;
  --tetradic2-400n: #629fa1;
  --tetradic2-500n: #416a6b;
  --tetradic2-600n: #315051;
  --tetradic2-700n: #213536;
  --tetradic2-800n: #192828;
  --tetradic2-900n: #080d0e;
  --tetradic3-100n: #f2f0f5;
  --tetradic3-200n: #d7d2e1;
  --tetradic3-300n: #bcb3ce;
  --tetradic3-400n: #5e4a89;
  --tetradic3-500n: #4f3e72;
  --tetradic3-600n: #473767;
  --tetradic3-700n: #372b50;
  --tetradic3-800n: #271f39;
  --tetradic3-900n: #100c17;
  --success-100n: #f0faf0;
  --success-200n: #d1efd1;
  --success-300n: #b3e3b3;
  --success-400n: #47bc47;
  --success-500n: #307d30;
  --success-600n: #245e24;
  --success-700n: #183e18;
  --success-800n: #122f12;
  --success-900n: #061006;
  --danger-100n: #faf0f0;
  --danger-200n: #efd1d1;
  --danger-300n: #e3b3b3;
  --danger-400n: #bc4747;
  --danger-500n: #9d3b3b;
  --danger-600n: #8d3636;
  --danger-700n: #6d2a2a;
  --danger-800n: #4e1e1e;
  --danger-900n: #200c0c;
  --warning-100n: #faf5f0;
  --warning-200n: #efe0d1;
  --warning-300n: #e3cbb3;
  --warning-400n: #d18232;
  --warning-500n: #8b5722;
  --warning-600n: #5e4124;
  --warning-700n: #3e2b18;
  --warning-800n: #34210d;
  --warning-900n: #100b06;
  --info-100n: #f0f5fa;
  --info-200n: #d1e0ef;
  --info-300n: #b3cbe3;
  --info-400n: #4782bc;
  --info-500n: #3b6c9d;
  --info-600n: #36628d;
  --info-700n: #2a4c6d;
  --info-800n: #1e364e;
  --info-900n: #0c1620;
  --primary-100a: rgba(254, 236, 236, 0.3);
  --primary-200a: rgba(251, 198, 197, 0.3);
  --primary-300a: rgba(248, 160, 158, 0.3);
  --primary-400a: rgba(237, 28, 22, 0.3);
  --primary-500a: rgba(198, 23, 18, 0.3);
  --primary-600a: rgba(178, 21, 17, 0.3);
  --primary-700a: rgba(138, 16, 13, 0.3);
  --primary-800a: rgba(99, 12, 9, 0.3);
  --primary-900a: rgba(40, 5, 4, 0.3);
  --hue-0-100a: rgba(254, 236, 236, 0.3);
  --hue-0-200a: rgba(251, 197, 197, 0.3);
  --hue-0-300a: rgba(248, 158, 158, 0.3);
  --hue-0-400a: rgba(237, 22, 22, 0.3);
  --hue-0-500a: rgba(198, 18, 18, 0.3);
  --hue-0-600a: rgba(178, 17, 17, 0.3);
  --hue-0-700a: rgba(138, 13, 13, 0.3);
  --hue-0-800a: rgba(99, 9, 9, 0.3);
  --hue-0-900a: rgba(40, 4, 4, 0.3);
  --hue-30-100a: rgba(254, 245, 236, 0.3);
  --hue-30-200a: rgba(251, 224, 197, 0.3);
  --hue-30-300a: rgba(248, 203, 158, 0.3);
  --hue-30-400a: rgba(237, 130, 22, 0.3);
  --hue-30-500a: rgba(158, 87, 15, 0.3);
  --hue-30-600a: rgba(119, 65, 11, 0.3);
  --hue-30-700a: rgba(79, 43, 7, 0.3);
  --hue-30-800a: rgba(59, 33, 6, 0.3);
  --hue-30-900a: rgba(20, 11, 2, 0.3);
  --hue-60-100a: rgba(254, 254, 236, 0.3);
  --hue-60-200a: rgba(251, 251, 197, 0.3);
  --hue-60-300a: rgba(248, 248, 158, 0.3);
  --hue-60-400a: rgba(237, 237, 22, 0.3);
  --hue-60-500a: rgba(158, 158, 15, 0.3);
  --hue-60-600a: rgba(119, 119, 11, 0.3);
  --hue-60-700a: rgba(79, 79, 7, 0.3);
  --hue-60-800a: rgba(59, 59, 6, 0.3);
  --hue-60-900a: rgba(20, 20, 2, 0.3);
  --hue-90-100a: rgba(245, 254, 236, 0.3);
  --hue-90-200a: rgba(224, 251, 197, 0.3);
  --hue-90-300a: rgba(203, 248, 158, 0.3);
  --hue-90-400a: rgba(130, 237, 22, 0.3);
  --hue-90-500a: rgba(87, 158, 15, 0.3);
  --hue-90-600a: rgba(65, 119, 11, 0.3);
  --hue-90-700a: rgba(43, 79, 7, 0.3);
  --hue-90-800a: rgba(33, 59, 6, 0.3);
  --hue-90-900a: rgba(11, 20, 2, 0.3);
  --hue-120-100a: rgba(236, 254, 236, 0.3);
  --hue-120-200a: rgba(197, 251, 197, 0.3);
  --hue-120-300a: rgba(158, 248, 158, 0.3);
  --hue-120-400a: rgba(22, 237, 22, 0.3);
  --hue-120-500a: rgba(15, 158, 15, 0.3);
  --hue-120-600a: rgba(11, 119, 11, 0.3);
  --hue-120-700a: rgba(7, 79, 7, 0.3);
  --hue-120-800a: rgba(6, 59, 6, 0.3);
  --hue-120-900a: rgba(2, 20, 2, 0.3);
  --hue-150-100a: rgba(236, 254, 245, 0.3);
  --hue-150-200a: rgba(197, 251, 224, 0.3);
  --hue-150-300a: rgba(158, 248, 203, 0.3);
  --hue-150-400a: rgba(22, 237, 130, 0.3);
  --hue-150-500a: rgba(15, 158, 87, 0.3);
  --hue-150-600a: rgba(11, 119, 65, 0.3);
  --hue-150-700a: rgba(7, 79, 43, 0.3);
  --hue-150-800a: rgba(6, 59, 33, 0.3);
  --hue-150-900a: rgba(2, 20, 11, 0.3);
  --hue-180-100a: rgba(236, 254, 254, 0.3);
  --hue-180-200a: rgba(197, 251, 251, 0.3);
  --hue-180-300a: rgba(158, 248, 248, 0.3);
  --hue-180-400a: rgba(22, 237, 237, 0.3);
  --hue-180-500a: rgba(15, 158, 158, 0.3);
  --hue-180-600a: rgba(11, 119, 119, 0.3);
  --hue-180-700a: rgba(7, 79, 79, 0.3);
  --hue-180-800a: rgba(6, 59, 59, 0.3);
  --hue-180-900a: rgba(2, 20, 20, 0.3);
  --hue-210-100a: rgba(236, 245, 254, 0.3);
  --hue-210-200a: rgba(197, 224, 251, 0.3);
  --hue-210-300a: rgba(158, 203, 248, 0.3);
  --hue-210-400a: rgba(22, 130, 237, 0.3);
  --hue-210-500a: rgba(18, 108, 198, 0.3);
  --hue-210-600a: rgba(17, 98, 178, 0.3);
  --hue-210-700a: rgba(13, 76, 138, 0.3);
  --hue-210-800a: rgba(9, 54, 99, 0.3);
  --hue-210-900a: rgba(4, 22, 40, 0.3);
  --hue-240-100a: rgba(236, 236, 254, 0.3);
  --hue-240-200a: rgba(197, 197, 251, 0.3);
  --hue-240-300a: rgba(158, 158, 248, 0.3);
  --hue-240-400a: rgba(22, 22, 237, 0.3);
  --hue-240-500a: rgba(18, 18, 198, 0.3);
  --hue-240-600a: rgba(17, 17, 178, 0.3);
  --hue-240-700a: rgba(13, 13, 138, 0.3);
  --hue-240-800a: rgba(9, 9, 99, 0.3);
  --hue-240-900a: rgba(4, 4, 40, 0.3);
  --hue-270-100a: rgba(245, 236, 254, 0.3);
  --hue-270-200a: rgba(224, 197, 251, 0.3);
  --hue-270-300a: rgba(203, 158, 248, 0.3);
  --hue-270-400a: rgba(130, 22, 237, 0.3);
  --hue-270-500a: rgba(108, 18, 198, 0.3);
  --hue-270-600a: rgba(98, 17, 178, 0.3);
  --hue-270-700a: rgba(76, 13, 138, 0.3);
  --hue-270-800a: rgba(54, 9, 99, 0.3);
  --hue-270-900a: rgba(22, 4, 40, 0.3);
  --hue-300-100a: rgba(254, 236, 254, 0.3);
  --hue-300-200a: rgba(251, 197, 251, 0.3);
  --hue-300-300a: rgba(248, 158, 248, 0.3);
  --hue-300-400a: rgba(237, 22, 237, 0.3);
  --hue-300-500a: rgba(198, 18, 198, 0.3);
  --hue-300-600a: rgba(178, 17, 178, 0.3);
  --hue-300-700a: rgba(138, 13, 138, 0.3);
  --hue-300-800a: rgba(99, 9, 99, 0.3);
  --hue-300-900a: rgba(40, 4, 40, 0.3);
  --hue-330-100a: rgba(254, 236, 245, 0.3);
  --hue-330-200a: rgba(251, 197, 224, 0.3);
  --hue-330-300a: rgba(248, 158, 203, 0.3);
  --hue-330-400a: rgba(237, 22, 130, 0.3);
  --hue-330-500a: rgba(198, 18, 108, 0.3);
  --hue-330-600a: rgba(178, 17, 98, 0.3);
  --hue-330-700a: rgba(138, 13, 76, 0.3);
  --hue-330-800a: rgba(99, 9, 54, 0.3);
  --hue-330-900a: rgba(40, 4, 22, 0.3);
  --complementary-100a: rgba(240, 249, 249, 0.3);
  --complementary-200a: rgba(209, 237, 238, 0.3);
  --complementary-300a: rgba(178, 225, 227, 0.3);
  --complementary-400a: rgba(71, 184, 188, 0.3);
  --complementary-500a: rgba(47, 123, 125, 0.3);
  --complementary-600a: rgba(36, 92, 94, 0.3);
  --complementary-700a: rgba(24, 61, 63, 0.3);
  --complementary-800a: rgba(18, 46, 47, 0.3);
  --complementary-900a: rgba(6, 15, 16, 0.3);
  --analogous1-100a: rgba(254, 244, 236, 0.3);
  --analogous1-200a: rgba(251, 222, 197, 0.3);
  --analogous1-300a: rgba(248, 200, 158, 0.3);
  --analogous1-400a: rgba(237, 122, 22, 0.3);
  --analogous1-500a: rgba(158, 81, 15, 0.3);
  --analogous1-600a: rgba(119, 61, 11, 0.3);
  --analogous1-700a: rgba(79, 41, 7, 0.3);
  --analogous1-800a: rgba(59, 31, 6, 0.3);
  --analogous1-900a: rgba(20, 10, 2, 0.3);
  --analogous2-100a: rgba(253, 251, 236, 0.3);
  --analogous2-200a: rgba(249, 244, 197, 0.3);
  --analogous2-300a: rgba(245, 236, 158, 0.3);
  --analogous2-400a: rgba(232, 210, 22, 0.3);
  --analogous2-500a: rgba(155, 140, 15, 0.3);
  --analogous2-600a: rgba(116, 105, 11, 0.3);
  --analogous2-700a: rgba(77, 70, 7, 0.3);
  --analogous2-800a: rgba(58, 53, 6, 0.3);
  --analogous2-900a: rgba(19, 18, 2, 0.3);
  --analogous3-100a: rgba(245, 251, 236, 0.3);
  --analogous3-200a: rgba(226, 244, 197, 0.3);
  --analogous3-300a: rgba(207, 236, 158, 0.3);
  --analogous3-400a: rgba(139, 210, 22, 0.3);
  --analogous3-500a: rgba(93, 140, 15, 0.3);
  --analogous3-600a: rgba(70, 105, 11, 0.3);
  --analogous3-700a: rgba(46, 70, 7, 0.3);
  --analogous3-800a: rgba(35, 53, 6, 0.3);
  --analogous3-900a: rgba(12, 18, 2, 0.3);
  --split1-100a: rgba(240, 250, 243, 0.3);
  --split1-200a: rgba(209, 239, 219, 0.3);
  --split1-300a: rgba(178, 228, 195, 0.3);
  --split1-400a: rgba(71, 189, 110, 0.3);
  --split1-500a: rgba(47, 126, 73, 0.3);
  --split1-600a: rgba(36, 95, 55, 0.3);
  --split1-700a: rgba(24, 63, 37, 0.3);
  --split1-800a: rgba(18, 47, 28, 0.3);
  --split1-900a: rgba(6, 16, 9, 0.3);
  --split2-100a: rgba(240, 242, 249, 0.3);
  --split2-200a: rgba(209, 217, 238, 0.3);
  --split2-300a: rgba(178, 191, 227, 0.3);
  --split2-400a: rgba(71, 102, 188, 0.3);
  --split2-500a: rgba(59, 85, 157, 0.3);
  --split2-600a: rgba(53, 77, 141, 0.3);
  --split2-700a: rgba(41, 60, 110, 0.3);
  --split2-800a: rgba(30, 43, 78, 0.3);
  --split2-900a: rgba(12, 17, 31, 0.3);
  --square1-100a: rgba(245, 251, 236, 0.3);
  --square1-200a: rgba(226, 244, 197, 0.3);
  --square1-300a: rgba(207, 236, 158, 0.3);
  --square1-400a: rgba(139, 210, 22, 0.3);
  --square1-500a: rgba(93, 140, 15, 0.3);
  --square1-600a: rgba(70, 105, 11, 0.3);
  --square1-700a: rgba(46, 70, 7, 0.3);
  --square1-800a: rgba(35, 53, 6, 0.3);
  --square1-900a: rgba(12, 18, 2, 0.3);
  --square2-100a: rgba(240, 249, 249, 0.3);
  --square2-200a: rgba(209, 237, 238, 0.3);
  --square2-300a: rgba(178, 225, 227, 0.3);
  --square2-400a: rgba(71, 184, 188, 0.3);
  --square2-500a: rgba(47, 123, 125, 0.3);
  --square2-600a: rgba(36, 92, 94, 0.3);
  --square2-700a: rgba(24, 61, 63, 0.3);
  --square2-800a: rgba(18, 46, 47, 0.3);
  --square2-900a: rgba(6, 15, 16, 0.3);
  --square3-100a: rgba(247, 236, 249, 0.3);
  --square3-200a: rgba(231, 197, 238, 0.3);
  --square3-300a: rgba(215, 158, 227, 0.3);
  --square3-400a: rgba(159, 23, 188, 0.3);
  --square3-500a: rgba(133, 19, 157, 0.3);
  --square3-600a: rgba(119, 17, 141, 0.3);
  --square3-700a: rgba(93, 13, 110, 0.3);
  --square3-800a: rgba(66, 10, 78, 0.3);
  --square3-900a: rgba(27, 4, 31, 0.3);
  --triadic1-100a: rgba(238, 251, 236, 0.3);
  --triadic1-200a: rgba(204, 244, 198, 0.3);
  --triadic1-300a: rgba(170, 236, 160, 0.3);
  --triadic1-400a: rgba(50, 210, 27, 0.3);
  --triadic1-500a: rgba(33, 140, 18, 0.3);
  --triadic1-600a: rgba(25, 105, 14, 0.3);
  --triadic1-700a: rgba(17, 70, 9, 0.3);
  --triadic1-800a: rgba(13, 53, 7, 0.3);
  --triadic1-900a: rgba(4, 18, 2, 0.3);
  --triadic2-100a: rgba(240, 236, 249, 0.3);
  --triadic2-200a: rgba(210, 197, 238, 0.3);
  --triadic2-300a: rgba(180, 158, 227, 0.3);
  --triadic2-400a: rgba(76, 23, 188, 0.3);
  --triadic2-500a: rgba(63, 19, 157, 0.3);
  --triadic2-600a: rgba(57, 17, 141, 0.3);
  --triadic2-700a: rgba(44, 13, 110, 0.3);
  --triadic2-800a: rgba(32, 10, 78, 0.3);
  --triadic2-900a: rgba(13, 4, 31, 0.3);
  --tetradic1-100a: rgba(253, 251, 236, 0.3);
  --tetradic1-200a: rgba(249, 244, 197, 0.3);
  --tetradic1-300a: rgba(245, 236, 158, 0.3);
  --tetradic1-400a: rgba(232, 210, 22, 0.3);
  --tetradic1-500a: rgba(155, 140, 15, 0.3);
  --tetradic1-600a: rgba(116, 105, 11, 0.3);
  --tetradic1-700a: rgba(77, 70, 7, 0.3);
  --tetradic1-800a: rgba(58, 53, 6, 0.3);
  --tetradic1-900a: rgba(19, 18, 2, 0.3);
  --tetradic2-100a: rgba(240, 249, 249, 0.3);
  --tetradic2-200a: rgba(209, 237, 238, 0.3);
  --tetradic2-300a: rgba(178, 225, 227, 0.3);
  --tetradic2-400a: rgba(71, 184, 188, 0.3);
  --tetradic2-500a: rgba(47, 123, 125, 0.3);
  --tetradic2-600a: rgba(36, 92, 94, 0.3);
  --tetradic2-700a: rgba(24, 61, 63, 0.3);
  --tetradic2-800a: rgba(18, 46, 47, 0.3);
  --tetradic2-900a: rgba(6, 15, 16, 0.3);
  --tetradic3-100a: rgba(240, 236, 249, 0.3);
  --tetradic3-200a: rgba(210, 197, 238, 0.3);
  --tetradic3-300a: rgba(180, 158, 227, 0.3);
  --tetradic3-400a: rgba(76, 23, 188, 0.3);
  --tetradic3-500a: rgba(63, 19, 157, 0.3);
  --tetradic3-600a: rgba(57, 17, 141, 0.3);
  --tetradic3-700a: rgba(44, 13, 110, 0.3);
  --tetradic3-800a: rgba(32, 10, 78, 0.3);
  --tetradic3-900a: rgba(13, 4, 31, 0.3);
  --success-100a: rgba(236, 254, 236, 0.3);
  --success-200a: rgba(197, 251, 197, 0.3);
  --success-300a: rgba(158, 248, 158, 0.3);
  --success-400a: rgba(22, 237, 22, 0.3);
  --success-500a: rgba(15, 158, 15, 0.3);
  --success-600a: rgba(11, 119, 11, 0.3);
  --success-700a: rgba(7, 79, 7, 0.3);
  --success-800a: rgba(6, 59, 6, 0.3);
  --success-900a: rgba(2, 20, 2, 0.3);
  --danger-100a: rgba(254, 236, 236, 0.3);
  --danger-200a: rgba(251, 197, 197, 0.3);
  --danger-300a: rgba(248, 158, 158, 0.3);
  --danger-400a: rgba(237, 22, 22, 0.3);
  --danger-500a: rgba(198, 18, 18, 0.3);
  --danger-600a: rgba(178, 17, 17, 0.3);
  --danger-700a: rgba(138, 13, 13, 0.3);
  --danger-800a: rgba(99, 9, 9, 0.3);
  --danger-900a: rgba(40, 4, 4, 0.3);
  --warning-100a: rgba(254, 245, 236, 0.3);
  --warning-200a: rgba(251, 224, 197, 0.3);
  --warning-300a: rgba(248, 203, 158, 0.3);
  --warning-400a: rgba(237, 130, 22, 0.3);
  --warning-500a: rgba(158, 87, 15, 0.3);
  --warning-600a: rgba(119, 65, 11, 0.3);
  --warning-700a: rgba(79, 43, 7, 0.3);
  --warning-800a: rgba(59, 33, 6, 0.3);
  --warning-900a: rgba(20, 11, 2, 0.3);
  --info-100a: rgba(236, 245, 254, 0.3);
  --info-200a: rgba(197, 224, 251, 0.3);
  --info-300a: rgba(158, 203, 248, 0.3);
  --info-400a: rgba(22, 130, 237, 0.3);
  --info-500a: rgba(18, 108, 198, 0.3);
  --info-600a: rgba(17, 98, 178, 0.3);
  --info-700a: rgba(13, 76, 138, 0.3);
  --info-800a: rgba(9, 54, 99, 0.3);
  --info-900a: rgba(4, 22, 40, 0.3);
}
