:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #f9f9fc;
  --primary-200: #edecf4;
  --primary-300: #e0dfec;
  --primary-400: #b5b1d2;
  --primary-500: #aca9c4;
  --primary-600: #a8a5bd;
  --primary-700: #9f9cb0;
  --primary-800: #9694a2;
  --primary-900: #89888d;
  --hue-0-100: #fcf8f8;
  --hue-0-200: #f6eaea;
  --hue-0-300: #efdcdc;
  --hue-0-400: #d8aaaa;
  --hue-0-500: #caa3a3;
  --hue-0-600: #c2a0a0;
  --hue-0-700: #b49898;
  --hue-0-800: #a59191;
  --hue-0-900: #8f8787;
  --hue-30-100: #fcfaf8;
  --hue-30-200: #f6f0ea;
  --hue-30-300: #efe5dc;
  --hue-30-400: #d8c1aa;
  --hue-30-500: #bbab9c;
  --hue-30-600: #b1a191;
  --hue-30-700: #a0968b;
  --hue-30-800: #989088;
  --hue-30-900: #878583;
  --hue-60-100: #fdfdf8;
  --hue-60-200: #f8f8e8;
  --hue-60-300: #f3f3d8;
  --hue-60-400: #e1e1a1;
  --hue-60-500: #c1c196;
  --hue-60-600: #b1b191;
  --hue-60-700: #a0a08b;
  --hue-60-800: #989888;
  --hue-60-900: #888883;
  --hue-90-100: #fafcf8;
  --hue-90-200: #f0f6ea;
  --hue-90-300: #e5efdc;
  --hue-90-400: #c1d8aa;
  --hue-90-500: #abbb9c;
  --hue-90-600: #a1ac95;
  --hue-90-700: #969d8e;
  --hue-90-800: #90968a;
  --hue-90-900: #858783;
  --hue-120-100: #f8fcf8;
  --hue-120-200: #eaf6ea;
  --hue-120-300: #dcefdc;
  --hue-120-400: #aad8aa;
  --hue-120-500: #9cbb9c;
  --hue-120-600: #95ac95;
  --hue-120-700: #8e9d8e;
  --hue-120-800: #8a968a;
  --hue-120-900: #838783;
  --hue-150-100: #f8fcfa;
  --hue-150-200: #eaf6f0;
  --hue-150-300: #dcefe5;
  --hue-150-400: #aad8c1;
  --hue-150-500: #9cbbab;
  --hue-150-600: #95aca1;
  --hue-150-700: #8e9d96;
  --hue-150-800: #8a9690;
  --hue-150-900: #838785;
  --hue-180-100: #f8fcfc;
  --hue-180-200: #eaf6f6;
  --hue-180-300: #dcefef;
  --hue-180-400: #aad8d8;
  --hue-180-500: #9cbbbb;
  --hue-180-600: #95acac;
  --hue-180-700: #8e9d9d;
  --hue-180-800: #8a9696;
  --hue-180-900: #838787;
  --hue-210-100: #f8fafc;
  --hue-210-200: #ecf0f4;
  --hue-210-300: #dfe5ec;
  --hue-210-400: #aac1d8;
  --hue-210-500: #a9b6c4;
  --hue-210-600: #a5b1bd;
  --hue-210-700: #9ca6b0;
  --hue-210-800: #919ba5;
  --hue-210-900: #878b8f;
  --hue-240-100: #f9f9fc;
  --hue-240-200: #ececf4;
  --hue-240-300: #dfdfec;
  --hue-240-400: #b1b1d2;
  --hue-240-500: #a9a9c4;
  --hue-240-600: #a5a5bd;
  --hue-240-700: #9c9cb0;
  --hue-240-800: #9494a2;
  --hue-240-900: #88888d;
  --hue-270-100: #faf9fc;
  --hue-270-200: #f0ebf5;
  --hue-270-300: #e5ddee;
  --hue-270-400: #c1add6;
  --hue-270-500: #b6a5c8;
  --hue-270-600: #b1a2c0;
  --hue-270-700: #a69ab2;
  --hue-270-800: #9b92a4;
  --hue-270-900: #8b878e;
  --hue-300-100: #fcf9fc;
  --hue-300-200: #f5ebf5;
  --hue-300-300: #eeddee;
  --hue-300-400: #d6add6;
  --hue-300-500: #c8a5c8;
  --hue-300-600: #c0a2c0;
  --hue-300-700: #b29ab2;
  --hue-300-800: #a492a4;
  --hue-300-900: #8e878e;
  --hue-330-100: #fcf8fa;
  --hue-330-200: #f6eaf0;
  --hue-330-300: #efdce5;
  --hue-330-400: #d8aac1;
  --hue-330-500: #caa3b6;
  --hue-330-600: #c2a0b1;
  --hue-330-700: #b498a6;
  --hue-330-800: #a5919b;
  --hue-330-900: #8f878b;
  --complementary-100: #fcfdf8;
  --complementary-200: #f6f8e8;
  --complementary-300: #eff3d8;
  --complementary-400: #d9e1a1;
  --complementary-500: #bbc196;
  --complementary-600: #adb191;
  --complementary-700: #9da08b;
  --complementary-800: #969888;
  --complementary-900: #878883;
  --analogous1-100: #fbf9fc;
  --analogous1-200: #f1ebf5;
  --analogous1-300: #e8ddee;
  --analogous1-400: #c7add6;
  --analogous1-500: #bba5c8;
  --analogous1-600: #b5a2c0;
  --analogous1-700: #a99ab2;
  --analogous1-800: #9d92a4;
  --analogous1-900: #8c878e;
  --analogous2-100: #fcf9fb;
  --analogous2-200: #f5ebf4;
  --analogous2-300: #eeddec;
  --analogous2-400: #d6add1;
  --analogous2-500: #c8a5c3;
  --analogous2-600: #c0a2bc;
  --analogous2-700: #b29aaf;
  --analogous2-800: #a492a1;
  --analogous2-900: #8e878d;
  --analogous3-100: #fcf8fa;
  --analogous3-200: #f6eaef;
  --analogous3-300: #efdce3;
  --analogous3-400: #d8aabb;
  --analogous3-500: #caa3b2;
  --analogous3-600: #c2a0ad;
  --analogous3-700: #b498a3;
  --analogous3-800: #a59198;
  --analogous3-900: #8f878a;
  --split1-100: #fdfbf8;
  --split1-200: #f8f2e8;
  --split1-300: #f3e9d8;
  --split1-400: #e1c9a1;
  --split1-500: #c1b196;
  --split1-600: #b1a591;
  --split1-700: #a0988b;
  --split1-800: #989288;
  --split1-900: #888683;
  --split2-100: #fafcf8;
  --split2-200: #eff6ea;
  --split2-300: #e3efdc;
  --split2-400: #bbd8aa;
  --split2-500: #a8bb9c;
  --split2-600: #9eac95;
  --split2-700: #939d8e;
  --split2-800: #8f968a;
  --split2-900: #858783;
  --square1-100: #fcf8fa;
  --square1-200: #f6eaef;
  --square1-300: #efdce3;
  --square1-400: #d8aabb;
  --square1-500: #caa3b2;
  --square1-600: #c2a0ad;
  --square1-700: #b498a3;
  --square1-800: #a59198;
  --square1-900: #8f878a;
  --square2-100: #fcfdf8;
  --square2-200: #f6f8e8;
  --square2-300: #eff3d8;
  --square2-400: #d9e1a1;
  --square2-500: #bbc196;
  --square2-600: #adb191;
  --square2-700: #9da08b;
  --square2-800: #969888;
  --square2-900: #878883;
  --square3-100: #f8fcfb;
  --square3-200: #eaf6f1;
  --square3-300: #dcefe8;
  --square3-400: #aad8c7;
  --square3-500: #9cbbaf;
  --square3-600: #95aca4;
  --square3-700: #8e9d98;
  --square3-800: #8a9691;
  --square3-900: #838786;
  --triadic1-100: #fcf9f8;
  --triadic1-200: #f6ecea;
  --triadic1-300: #efdedc;
  --triadic1-400: #d8b0aa;
  --triadic1-500: #caa8a3;
  --triadic1-600: #c2a4a0;
  --triadic1-700: #b49c98;
  --triadic1-800: #a59491;
  --triadic1-900: #8f8887;
  --triadic2-100: #f8fcf9;
  --triadic2-200: #eaf6ec;
  --triadic2-300: #dcefde;
  --triadic2-400: #aad8b0;
  --triadic2-500: #9cbba0;
  --triadic2-600: #95ac98;
  --triadic2-700: #8e9d90;
  --triadic2-800: #8a968c;
  --triadic2-900: #838784;
  --tetradic1-100: #fcf9fb;
  --tetradic1-200: #f5ebf4;
  --tetradic1-300: #eeddec;
  --tetradic1-400: #d6add1;
  --tetradic1-500: #c8a5c3;
  --tetradic1-600: #c0a2bc;
  --tetradic1-700: #b29aaf;
  --tetradic1-800: #a492a1;
  --tetradic1-900: #8e878d;
  --tetradic2-100: #fcfdf8;
  --tetradic2-200: #f6f8e8;
  --tetradic2-300: #eff3d8;
  --tetradic2-400: #d9e1a1;
  --tetradic2-500: #bbc196;
  --tetradic2-600: #adb191;
  --tetradic2-700: #9da08b;
  --tetradic2-800: #969888;
  --tetradic2-900: #878883;
  --tetradic3-100: #f8fcf9;
  --tetradic3-200: #eaf6ec;
  --tetradic3-300: #dcefde;
  --tetradic3-400: #aad8b0;
  --tetradic3-500: #9cbba0;
  --tetradic3-600: #95ac98;
  --tetradic3-700: #8e9d90;
  --tetradic3-800: #8a968c;
  --tetradic3-900: #838784;
  --success-100: #f8fcf8;
  --success-200: #eaf6ea;
  --success-300: #dcefdc;
  --success-400: #aad8aa;
  --success-500: #9cbb9c;
  --success-600: #95ac95;
  --success-700: #8e9d8e;
  --success-800: #8a968a;
  --success-900: #838783;
  --danger-100: #fcf8f8;
  --danger-200: #f6eaea;
  --danger-300: #efdcdc;
  --danger-400: #d8aaaa;
  --danger-500: #caa3a3;
  --danger-600: #c2a0a0;
  --danger-700: #b49898;
  --danger-800: #a59191;
  --danger-900: #8f8787;
  --warning-100: #fcfaf8;
  --warning-200: #f6f0ea;
  --warning-300: #efe5dc;
  --warning-400: #d8c1aa;
  --warning-500: #bbab9c;
  --warning-600: #b1a191;
  --warning-700: #a0968b;
  --warning-800: #989088;
  --warning-900: #878583;
  --info-100: #f8fafc;
  --info-200: #ecf0f4;
  --info-300: #dfe5ec;
  --info-400: #aac1d8;
  --info-500: #a9b6c4;
  --info-600: #a5b1bd;
  --info-700: #9ca6b0;
  --info-800: #919ba5;
  --info-900: #878b8f;
  --primary-100n: #f3f2f8;
  --primary-200n: #dad8e9;
  --primary-300n: #c1bed9;
  --primary-400n: #6b62a4;
  --primary-500n: #595289;
  --primary-600n: #504a7b;
  --primary-700n: #3e3960;
  --primary-800n: #2c2944;
  --primary-900n: #12111b;
  --hue-0-100n: #f9f1f1;
  --hue-0-200n: #ecd5d5;
  --hue-0-300n: #dfb8b8;
  --hue-0-400n: #b15555;
  --hue-0-500n: #944747;
  --hue-0-600n: #854040;
  --hue-0-700n: #683131;
  --hue-0-800n: #4a2323;
  --hue-0-900n: #1e0e0e;
  --hue-30-100n: #f9f5f1;
  --hue-30-200n: #ece0d5;
  --hue-30-300n: #dfcbb8;
  --hue-30-400n: #b18355;
  --hue-30-500n: #775738;
  --hue-30-600n: #624222;
  --hue-30-700n: #412c16;
  --hue-30-800n: #302111;
  --hue-30-900n: #0f0b07;
  --hue-60-100n: #fafaf0;
  --hue-60-200n: #f0f0d1;
  --hue-60-300n: #e6e6b1;
  --hue-60-400n: #c3c343;
  --hue-60-500n: #82822d;
  --hue-60-600n: #626222;
  --hue-60-700n: #414116;
  --hue-60-800n: #303011;
  --hue-60-900n: #101006;
  --hue-90-100n: #f5f9f1;
  --hue-90-200n: #e0ecd5;
  --hue-90-300n: #cbdfb8;
  --hue-90-400n: #83b155;
  --hue-90-500n: #577738;
  --hue-90-600n: #42592b;
  --hue-90-700n: #2c3b1c;
  --hue-90-800n: #212c15;
  --hue-90-900n: #0b0f07;
  --hue-120-100n: #f1f9f1;
  --hue-120-200n: #d5ecd5;
  --hue-120-300n: #b8dfb8;
  --hue-120-400n: #55b155;
  --hue-120-500n: #387738;
  --hue-120-600n: #2b592b;
  --hue-120-700n: #1c3b1c;
  --hue-120-800n: #152c15;
  --hue-120-900n: #070f07;
  --hue-150-100n: #f1f9f5;
  --hue-150-200n: #d5ece0;
  --hue-150-300n: #b8dfcb;
  --hue-150-400n: #55b183;
  --hue-150-500n: #387757;
  --hue-150-600n: #2b5942;
  --hue-150-700n: #1c3b2c;
  --hue-150-800n: #152c21;
  --hue-150-900n: #070f0b;
  --hue-180-100n: #f1f9f9;
  --hue-180-200n: #d5ecec;
  --hue-180-300n: #b8dfdf;
  --hue-180-400n: #55b1b1;
  --hue-180-500n: #387777;
  --hue-180-600n: #2b5959;
  --hue-180-700n: #1c3b3b;
  --hue-180-800n: #152c2c;
  --hue-180-900n: #070f0f;
  --hue-210-100n: #f1f5f9;
  --hue-210-200n: #d8e0e9;
  --hue-210-300n: #becbd9;
  --hue-210-400n: #5583b1;
  --hue-210-500n: #526d89;
  --hue-210-600n: #4a627b;
  --hue-210-700n: #394c60;
  --hue-210-800n: #23374a;
  --hue-210-900n: #0e161e;
  --hue-240-100n: #f2f2f8;
  --hue-240-200n: #d8d8e9;
  --hue-240-300n: #bebed9;
  --hue-240-400n: #6262a4;
  --hue-240-500n: #525289;
  --hue-240-600n: #4a4a7b;
  --hue-240-700n: #393960;
  --hue-240-800n: #292944;
  --hue-240-900n: #11111b;
  --hue-270-100n: #f5f2f8;
  --hue-270-200n: #e0d6eb;
  --hue-270-300n: #cbbadd;
  --hue-270-400n: #835aac;
  --hue-270-500n: #6d4b90;
  --hue-270-600n: #624481;
  --hue-270-700n: #4c3465;
  --hue-270-800n: #372548;
  --hue-270-900n: #160f1d;
  --hue-300-100n: #f8f2f8;
  --hue-300-200n: #ebd6eb;
  --hue-300-300n: #ddbadd;
  --hue-300-400n: #ac5aac;
  --hue-300-500n: #904b90;
  --hue-300-600n: #814481;
  --hue-300-700n: #653465;
  --hue-300-800n: #482548;
  --hue-300-900n: #1d0f1d;
  --hue-330-100n: #f9f1f5;
  --hue-330-200n: #ecd5e0;
  --hue-330-300n: #dfb8cb;
  --hue-330-400n: #b15583;
  --hue-330-500n: #94476d;
  --hue-330-600n: #854062;
  --hue-330-700n: #68314c;
  --hue-330-800n: #4a2337;
  --hue-330-900n: #1e0e16;
  --complementary-100n: #f9faf0;
  --complementary-200n: #ecf0d1;
  --complementary-300n: #dfe6b1;
  --complementary-400n: #b2c343;
  --complementary-500n: #77822d;
  --complementary-600n: #5a6222;
  --complementary-700n: #3b4116;
  --complementary-800n: #2d3011;
  --complementary-900n: #0f1006;
  --analogous1-100n: #f6f2f8;
  --analogous1-200n: #e3d6eb;
  --analogous1-300n: #d0badd;
  --analogous1-400n: #8e5aac;
  --analogous1-500n: #764b90;
  --analogous1-600n: #6a4481;
  --analogous1-700n: #533465;
  --analogous1-800n: #3b2548;
  --analogous1-900n: #180f1d;
  --analogous2-100n: #f8f2f7;
  --analogous2-200n: #ebd6e8;
  --analogous2-300n: #ddbad8;
  --analogous2-400n: #ac5aa2;
  --analogous2-500n: #904b87;
  --analogous2-600n: #814479;
  --analogous2-700n: #65345f;
  --analogous2-800n: #482543;
  --analogous2-900n: #1d0f1b;
  --analogous3-100n: #f9f1f4;
  --analogous3-200n: #ecd5de;
  --analogous3-300n: #dfb8c6;
  --analogous3-400n: #b15577;
  --analogous3-500n: #944764;
  --analogous3-600n: #85405a;
  --analogous3-700n: #683146;
  --analogous3-800n: #4a2331;
  --analogous3-900n: #1e0e14;
  --split1-100n: #faf6f0;
  --split1-200n: #f0e5d1;
  --split1-300n: #e6d3b1;
  --split1-400n: #c39343;
  --split1-500n: #82622d;
  --split1-600n: #624a22;
  --split1-700n: #413116;
  --split1-800n: #302511;
  --split1-900n: #100c06;
  --split2-100n: #f4f9f1;
  --split2-200n: #deecd5;
  --split2-300n: #c6dfb8;
  --split2-400n: #77b155;
  --split2-500n: #507738;
  --split2-600n: #3c592b;
  --split2-700n: #273b1c;
  --split2-800n: #1e2c15;
  --split2-900n: #0a0f07;
  --square1-100n: #f9f1f4;
  --square1-200n: #ecd5de;
  --square1-300n: #dfb8c6;
  --square1-400n: #b15577;
  --square1-500n: #944764;
  --square1-600n: #85405a;
  --square1-700n: #683146;
  --square1-800n: #4a2331;
  --square1-900n: #1e0e14;
  --square2-100n: #f9faf0;
  --square2-200n: #ecf0d1;
  --square2-300n: #dfe6b1;
  --square2-400n: #b2c343;
  --square2-500n: #77822d;
  --square2-600n: #5a6222;
  --square2-700n: #3b4116;
  --square2-800n: #2d3011;
  --square2-900n: #0f1006;
  --square3-100n: #f1f9f6;
  --square3-200n: #d5ece3;
  --square3-300n: #b8dfd1;
  --square3-400n: #55b18f;
  --square3-500n: #38775f;
  --square3-600n: #2b5948;
  --square3-700n: #1c3b30;
  --square3-800n: #152c23;
  --square3-900n: #070f0c;
  --triadic1-100n: #f9f2f1;
  --triadic1-200n: #ecd8d5;
  --triadic1-300n: #dfbdb8;
  --triadic1-400n: #b16055;
  --triadic1-500n: #945147;
  --triadic1-600n: #854840;
  --triadic1-700n: #683831;
  --triadic1-800n: #4a2823;
  --triadic1-900n: #1e100e;
  --triadic2-100n: #f1f9f2;
  --triadic2-200n: #d5ecd8;
  --triadic2-300n: #b8dfbd;
  --triadic2-400n: #55b160;
  --triadic2-500n: #387741;
  --triadic2-600n: #2b5931;
  --triadic2-700n: #1c3b20;
  --triadic2-800n: #152c18;
  --triadic2-900n: #070f08;
  --tetradic1-100n: #f8f2f7;
  --tetradic1-200n: #ebd6e8;
  --tetradic1-300n: #ddbad8;
  --tetradic1-400n: #ac5aa2;
  --tetradic1-500n: #904b87;
  --tetradic1-600n: #814479;
  --tetradic1-700n: #65345f;
  --tetradic1-800n: #482543;
  --tetradic1-900n: #1d0f1b;
  --tetradic2-100n: #f9faf0;
  --tetradic2-200n: #ecf0d1;
  --tetradic2-300n: #dfe6b1;
  --tetradic2-400n: #b2c343;
  --tetradic2-500n: #77822d;
  --tetradic2-600n: #5a6222;
  --tetradic2-700n: #3b4116;
  --tetradic2-800n: #2d3011;
  --tetradic2-900n: #0f1006;
  --tetradic3-100n: #f1f9f2;
  --tetradic3-200n: #d5ecd8;
  --tetradic3-300n: #b8dfbd;
  --tetradic3-400n: #55b160;
  --tetradic3-500n: #387741;
  --tetradic3-600n: #2b5931;
  --tetradic3-700n: #1c3b20;
  --tetradic3-800n: #152c18;
  --tetradic3-900n: #070f08;
  --success-100n: #f1f9f1;
  --success-200n: #d5ecd5;
  --success-300n: #b8dfb8;
  --success-400n: #55b155;
  --success-500n: #387738;
  --success-600n: #2b592b;
  --success-700n: #1c3b1c;
  --success-800n: #152c15;
  --success-900n: #070f07;
  --danger-100n: #f9f1f1;
  --danger-200n: #ecd5d5;
  --danger-300n: #dfb8b8;
  --danger-400n: #b15555;
  --danger-500n: #944747;
  --danger-600n: #854040;
  --danger-700n: #683131;
  --danger-800n: #4a2323;
  --danger-900n: #1e0e0e;
  --warning-100n: #f9f5f1;
  --warning-200n: #ece0d5;
  --warning-300n: #dfcbb8;
  --warning-400n: #b18355;
  --warning-500n: #775738;
  --warning-600n: #624222;
  --warning-700n: #412c16;
  --warning-800n: #302111;
  --warning-900n: #0f0b07;
  --info-100n: #f1f5f9;
  --info-200n: #d8e0e9;
  --info-300n: #becbd9;
  --info-400n: #5583b1;
  --info-500n: #526d89;
  --info-600n: #4a627b;
  --info-700n: #394c60;
  --info-800n: #23374a;
  --info-900n: #0e161e;
  --primary-100a: rgba(239, 238, 252, 0.3);
  --primary-200a: rgba(208, 203, 246, 0.3);
  --primary-300a: rgba(177, 168, 239, 0.3);
  --primary-400a: rgba(67, 45, 217, 0.3);
  --primary-500a: rgba(56, 38, 181, 0.3);
  --primary-600a: rgba(50, 34, 163, 0.3);
  --primary-700a: rgba(39, 26, 127, 0.3);
  --primary-800a: rgba(28, 19, 90, 0.3);
  --primary-900a: rgba(11, 8, 36, 0.3);
  --hue-0-100a: rgba(252, 238, 238, 0.3);
  --hue-0-200a: rgba(246, 203, 203, 0.3);
  --hue-0-300a: rgba(239, 168, 168, 0.3);
  --hue-0-400a: rgba(217, 45, 45, 0.3);
  --hue-0-500a: rgba(181, 38, 38, 0.3);
  --hue-0-600a: rgba(163, 34, 34, 0.3);
  --hue-0-700a: rgba(127, 26, 26, 0.3);
  --hue-0-800a: rgba(90, 19, 19, 0.3);
  --hue-0-900a: rgba(36, 8, 8, 0.3);
  --hue-30-100a: rgba(252, 245, 238, 0.3);
  --hue-30-200a: rgba(246, 224, 203, 0.3);
  --hue-30-300a: rgba(239, 203, 168, 0.3);
  --hue-30-400a: rgba(217, 131, 45, 0.3);
  --hue-30-500a: rgba(145, 87, 30, 0.3);
  --hue-30-600a: rgba(109, 66, 23, 0.3);
  --hue-30-700a: rgba(72, 44, 15, 0.3);
  --hue-30-800a: rgba(54, 33, 11, 0.3);
  --hue-30-900a: rgba(18, 11, 4, 0.3);
  --hue-60-100a: rgba(252, 252, 238, 0.3);
  --hue-60-200a: rgba(246, 246, 203, 0.3);
  --hue-60-300a: rgba(239, 239, 168, 0.3);
  --hue-60-400a: rgba(217, 217, 45, 0.3);
  --hue-60-500a: rgba(145, 145, 30, 0.3);
  --hue-60-600a: rgba(109, 109, 23, 0.3);
  --hue-60-700a: rgba(72, 72, 15, 0.3);
  --hue-60-800a: rgba(54, 54, 11, 0.3);
  --hue-60-900a: rgba(18, 18, 4, 0.3);
  --hue-90-100a: rgba(245, 252, 238, 0.3);
  --hue-90-200a: rgba(224, 246, 203, 0.3);
  --hue-90-300a: rgba(203, 239, 168, 0.3);
  --hue-90-400a: rgba(131, 217, 45, 0.3);
  --hue-90-500a: rgba(87, 145, 30, 0.3);
  --hue-90-600a: rgba(66, 109, 23, 0.3);
  --hue-90-700a: rgba(44, 72, 15, 0.3);
  --hue-90-800a: rgba(33, 54, 11, 0.3);
  --hue-90-900a: rgba(11, 18, 4, 0.3);
  --hue-120-100a: rgba(238, 252, 238, 0.3);
  --hue-120-200a: rgba(203, 246, 203, 0.3);
  --hue-120-300a: rgba(168, 239, 168, 0.3);
  --hue-120-400a: rgba(45, 217, 45, 0.3);
  --hue-120-500a: rgba(30, 145, 30, 0.3);
  --hue-120-600a: rgba(23, 109, 23, 0.3);
  --hue-120-700a: rgba(15, 72, 15, 0.3);
  --hue-120-800a: rgba(11, 54, 11, 0.3);
  --hue-120-900a: rgba(4, 18, 4, 0.3);
  --hue-150-100a: rgba(238, 252, 245, 0.3);
  --hue-150-200a: rgba(203, 246, 224, 0.3);
  --hue-150-300a: rgba(168, 239, 203, 0.3);
  --hue-150-400a: rgba(45, 217, 131, 0.3);
  --hue-150-500a: rgba(30, 145, 87, 0.3);
  --hue-150-600a: rgba(23, 109, 66, 0.3);
  --hue-150-700a: rgba(15, 72, 44, 0.3);
  --hue-150-800a: rgba(11, 54, 33, 0.3);
  --hue-150-900a: rgba(4, 18, 11, 0.3);
  --hue-180-100a: rgba(238, 252, 252, 0.3);
  --hue-180-200a: rgba(203, 246, 246, 0.3);
  --hue-180-300a: rgba(168, 239, 239, 0.3);
  --hue-180-400a: rgba(45, 217, 217, 0.3);
  --hue-180-500a: rgba(30, 145, 145, 0.3);
  --hue-180-600a: rgba(23, 109, 109, 0.3);
  --hue-180-700a: rgba(15, 72, 72, 0.3);
  --hue-180-800a: rgba(11, 54, 54, 0.3);
  --hue-180-900a: rgba(4, 18, 18, 0.3);
  --hue-210-100a: rgba(238, 245, 252, 0.3);
  --hue-210-200a: rgba(203, 224, 246, 0.3);
  --hue-210-300a: rgba(168, 203, 239, 0.3);
  --hue-210-400a: rgba(45, 131, 217, 0.3);
  --hue-210-500a: rgba(38, 109, 181, 0.3);
  --hue-210-600a: rgba(34, 98, 163, 0.3);
  --hue-210-700a: rgba(26, 76, 127, 0.3);
  --hue-210-800a: rgba(19, 55, 90, 0.3);
  --hue-210-900a: rgba(8, 22, 36, 0.3);
  --hue-240-100a: rgba(238, 238, 252, 0.3);
  --hue-240-200a: rgba(203, 203, 246, 0.3);
  --hue-240-300a: rgba(168, 168, 239, 0.3);
  --hue-240-400a: rgba(45, 45, 217, 0.3);
  --hue-240-500a: rgba(38, 38, 181, 0.3);
  --hue-240-600a: rgba(34, 34, 163, 0.3);
  --hue-240-700a: rgba(26, 26, 127, 0.3);
  --hue-240-800a: rgba(19, 19, 90, 0.3);
  --hue-240-900a: rgba(8, 8, 36, 0.3);
  --hue-270-100a: rgba(245, 238, 252, 0.3);
  --hue-270-200a: rgba(224, 203, 246, 0.3);
  --hue-270-300a: rgba(203, 168, 239, 0.3);
  --hue-270-400a: rgba(131, 45, 217, 0.3);
  --hue-270-500a: rgba(109, 38, 181, 0.3);
  --hue-270-600a: rgba(98, 34, 163, 0.3);
  --hue-270-700a: rgba(76, 26, 127, 0.3);
  --hue-270-800a: rgba(55, 19, 90, 0.3);
  --hue-270-900a: rgba(22, 8, 36, 0.3);
  --hue-300-100a: rgba(252, 238, 252, 0.3);
  --hue-300-200a: rgba(246, 203, 246, 0.3);
  --hue-300-300a: rgba(239, 168, 239, 0.3);
  --hue-300-400a: rgba(217, 45, 217, 0.3);
  --hue-300-500a: rgba(181, 38, 181, 0.3);
  --hue-300-600a: rgba(163, 34, 163, 0.3);
  --hue-300-700a: rgba(127, 26, 127, 0.3);
  --hue-300-800a: rgba(90, 19, 90, 0.3);
  --hue-300-900a: rgba(36, 8, 36, 0.3);
  --hue-330-100a: rgba(252, 238, 245, 0.3);
  --hue-330-200a: rgba(246, 203, 224, 0.3);
  --hue-330-300a: rgba(239, 168, 203, 0.3);
  --hue-330-400a: rgba(217, 45, 131, 0.3);
  --hue-330-500a: rgba(181, 38, 109, 0.3);
  --hue-330-600a: rgba(163, 34, 98, 0.3);
  --hue-330-700a: rgba(127, 26, 76, 0.3);
  --hue-330-800a: rgba(90, 19, 55, 0.3);
  --hue-330-900a: rgba(36, 8, 22, 0.3);
  --complementary-100a: rgba(250, 252, 238, 0.3);
  --complementary-200a: rgba(240, 246, 203, 0.3);
  --complementary-300a: rgba(230, 239, 168, 0.3);
  --complementary-400a: rgba(195, 217, 45, 0.3);
  --complementary-500a: rgba(130, 145, 30, 0.3);
  --complementary-600a: rgba(98, 109, 23, 0.3);
  --complementary-700a: rgba(65, 72, 15, 0.3);
  --complementary-800a: rgba(49, 54, 11, 0.3);
  --complementary-900a: rgba(16, 18, 4, 0.3);
  --analogous1-100a: rgba(247, 238, 252, 0.3);
  --analogous1-200a: rgba(230, 203, 246, 0.3);
  --analogous1-300a: rgba(213, 168, 239, 0.3);
  --analogous1-400a: rgba(153, 45, 217, 0.3);
  --analogous1-500a: rgba(128, 38, 181, 0.3);
  --analogous1-600a: rgba(115, 34, 163, 0.3);
  --analogous1-700a: rgba(89, 26, 127, 0.3);
  --analogous1-800a: rgba(64, 19, 90, 0.3);
  --analogous1-900a: rgba(26, 8, 36, 0.3);
  --analogous2-100a: rgba(252, 238, 250, 0.3);
  --analogous2-200a: rgba(246, 203, 240, 0.3);
  --analogous2-300a: rgba(239, 168, 230, 0.3);
  --analogous2-400a: rgba(217, 45, 195, 0.3);
  --analogous2-500a: rgba(181, 38, 163, 0.3);
  --analogous2-600a: rgba(163, 34, 146, 0.3);
  --analogous2-700a: rgba(127, 26, 114, 0.3);
  --analogous2-800a: rgba(90, 19, 81, 0.3);
  --analogous2-900a: rgba(36, 8, 33, 0.3);
  --analogous3-100a: rgba(252, 238, 243, 0.3);
  --analogous3-200a: rgba(246, 203, 219, 0.3);
  --analogous3-300a: rgba(239, 168, 194, 0.3);
  --analogous3-400a: rgba(217, 45, 109, 0.3);
  --analogous3-500a: rgba(181, 38, 91, 0.3);
  --analogous3-600a: rgba(163, 34, 82, 0.3);
  --analogous3-700a: rgba(127, 26, 64, 0.3);
  --analogous3-800a: rgba(90, 19, 45, 0.3);
  --analogous3-900a: rgba(36, 8, 18, 0.3);
  --split1-100a: rgba(252, 247, 238, 0.3);
  --split1-200a: rgba(246, 230, 203, 0.3);
  --split1-300a: rgba(239, 213, 168, 0.3);
  --split1-400a: rgba(217, 153, 45, 0.3);
  --split1-500a: rgba(145, 102, 30, 0.3);
  --split1-600a: rgba(109, 77, 23, 0.3);
  --split1-700a: rgba(72, 51, 15, 0.3);
  --split1-800a: rgba(54, 38, 11, 0.3);
  --split1-900a: rgba(18, 13, 4, 0.3);
  --split2-100a: rgba(243, 252, 238, 0.3);
  --split2-200a: rgba(219, 246, 203, 0.3);
  --split2-300a: rgba(194, 239, 168, 0.3);
  --split2-400a: rgba(109, 217, 45, 0.3);
  --split2-500a: rgba(73, 145, 30, 0.3);
  --split2-600a: rgba(55, 109, 23, 0.3);
  --split2-700a: rgba(36, 72, 15, 0.3);
  --split2-800a: rgba(27, 54, 11, 0.3);
  --split2-900a: rgba(9, 18, 4, 0.3);
  --square1-100a: rgba(252, 238, 243, 0.3);
  --square1-200a: rgba(246, 203, 219, 0.3);
  --square1-300a: rgba(239, 168, 194, 0.3);
  --square1-400a: rgba(217, 45, 109, 0.3);
  --square1-500a: rgba(181, 38, 91, 0.3);
  --square1-600a: rgba(163, 34, 82, 0.3);
  --square1-700a: rgba(127, 26, 64, 0.3);
  --square1-800a: rgba(90, 19, 45, 0.3);
  --square1-900a: rgba(36, 8, 18, 0.3);
  --square2-100a: rgba(250, 252, 238, 0.3);
  --square2-200a: rgba(240, 246, 203, 0.3);
  --square2-300a: rgba(230, 239, 168, 0.3);
  --square2-400a: rgba(195, 217, 45, 0.3);
  --square2-500a: rgba(130, 145, 30, 0.3);
  --square2-600a: rgba(98, 109, 23, 0.3);
  --square2-700a: rgba(65, 72, 15, 0.3);
  --square2-800a: rgba(49, 54, 11, 0.3);
  --square2-900a: rgba(16, 18, 4, 0.3);
  --square3-100a: rgba(238, 252, 247, 0.3);
  --square3-200a: rgba(203, 246, 230, 0.3);
  --square3-300a: rgba(168, 239, 213, 0.3);
  --square3-400a: rgba(45, 217, 153, 0.3);
  --square3-500a: rgba(30, 145, 102, 0.3);
  --square3-600a: rgba(23, 109, 77, 0.3);
  --square3-700a: rgba(15, 72, 51, 0.3);
  --square3-800a: rgba(11, 54, 38, 0.3);
  --square3-900a: rgba(4, 18, 13, 0.3);
  --triadic1-100a: rgba(252, 239, 238, 0.3);
  --triadic1-200a: rgba(246, 208, 203, 0.3);
  --triadic1-300a: rgba(239, 177, 168, 0.3);
  --triadic1-400a: rgba(217, 67, 45, 0.3);
  --triadic1-500a: rgba(181, 56, 38, 0.3);
  --triadic1-600a: rgba(163, 50, 34, 0.3);
  --triadic1-700a: rgba(127, 39, 26, 0.3);
  --triadic1-800a: rgba(90, 28, 19, 0.3);
  --triadic1-900a: rgba(36, 11, 8, 0.3);
  --triadic2-100a: rgba(238, 252, 239, 0.3);
  --triadic2-200a: rgba(203, 246, 208, 0.3);
  --triadic2-300a: rgba(168, 239, 177, 0.3);
  --triadic2-400a: rgba(45, 217, 67, 0.3);
  --triadic2-500a: rgba(30, 145, 45, 0.3);
  --triadic2-600a: rgba(23, 109, 34, 0.3);
  --triadic2-700a: rgba(15, 72, 22, 0.3);
  --triadic2-800a: rgba(11, 54, 17, 0.3);
  --triadic2-900a: rgba(4, 18, 6, 0.3);
  --tetradic1-100a: rgba(252, 238, 250, 0.3);
  --tetradic1-200a: rgba(246, 203, 240, 0.3);
  --tetradic1-300a: rgba(239, 168, 230, 0.3);
  --tetradic1-400a: rgba(217, 45, 195, 0.3);
  --tetradic1-500a: rgba(181, 38, 163, 0.3);
  --tetradic1-600a: rgba(163, 34, 146, 0.3);
  --tetradic1-700a: rgba(127, 26, 114, 0.3);
  --tetradic1-800a: rgba(90, 19, 81, 0.3);
  --tetradic1-900a: rgba(36, 8, 33, 0.3);
  --tetradic2-100a: rgba(250, 252, 238, 0.3);
  --tetradic2-200a: rgba(240, 246, 203, 0.3);
  --tetradic2-300a: rgba(230, 239, 168, 0.3);
  --tetradic2-400a: rgba(195, 217, 45, 0.3);
  --tetradic2-500a: rgba(130, 145, 30, 0.3);
  --tetradic2-600a: rgba(98, 109, 23, 0.3);
  --tetradic2-700a: rgba(65, 72, 15, 0.3);
  --tetradic2-800a: rgba(49, 54, 11, 0.3);
  --tetradic2-900a: rgba(16, 18, 4, 0.3);
  --tetradic3-100a: rgba(238, 252, 239, 0.3);
  --tetradic3-200a: rgba(203, 246, 208, 0.3);
  --tetradic3-300a: rgba(168, 239, 177, 0.3);
  --tetradic3-400a: rgba(45, 217, 67, 0.3);
  --tetradic3-500a: rgba(30, 145, 45, 0.3);
  --tetradic3-600a: rgba(23, 109, 34, 0.3);
  --tetradic3-700a: rgba(15, 72, 22, 0.3);
  --tetradic3-800a: rgba(11, 54, 17, 0.3);
  --tetradic3-900a: rgba(4, 18, 6, 0.3);
  --success-100a: rgba(238, 252, 238, 0.3);
  --success-200a: rgba(203, 246, 203, 0.3);
  --success-300a: rgba(168, 239, 168, 0.3);
  --success-400a: rgba(45, 217, 45, 0.3);
  --success-500a: rgba(30, 145, 30, 0.3);
  --success-600a: rgba(23, 109, 23, 0.3);
  --success-700a: rgba(15, 72, 15, 0.3);
  --success-800a: rgba(11, 54, 11, 0.3);
  --success-900a: rgba(4, 18, 4, 0.3);
  --danger-100a: rgba(252, 238, 238, 0.3);
  --danger-200a: rgba(246, 203, 203, 0.3);
  --danger-300a: rgba(239, 168, 168, 0.3);
  --danger-400a: rgba(217, 45, 45, 0.3);
  --danger-500a: rgba(181, 38, 38, 0.3);
  --danger-600a: rgba(163, 34, 34, 0.3);
  --danger-700a: rgba(127, 26, 26, 0.3);
  --danger-800a: rgba(90, 19, 19, 0.3);
  --danger-900a: rgba(36, 8, 8, 0.3);
  --warning-100a: rgba(252, 245, 238, 0.3);
  --warning-200a: rgba(246, 224, 203, 0.3);
  --warning-300a: rgba(239, 203, 168, 0.3);
  --warning-400a: rgba(217, 131, 45, 0.3);
  --warning-500a: rgba(145, 87, 30, 0.3);
  --warning-600a: rgba(109, 66, 23, 0.3);
  --warning-700a: rgba(72, 44, 15, 0.3);
  --warning-800a: rgba(54, 33, 11, 0.3);
  --warning-900a: rgba(18, 11, 4, 0.3);
  --info-100a: rgba(238, 245, 252, 0.3);
  --info-200a: rgba(203, 224, 246, 0.3);
  --info-300a: rgba(168, 203, 239, 0.3);
  --info-400a: rgba(45, 131, 217, 0.3);
  --info-500a: rgba(38, 109, 181, 0.3);
  --info-600a: rgba(34, 98, 163, 0.3);
  --info-700a: rgba(26, 76, 127, 0.3);
  --info-800a: rgba(19, 55, 90, 0.3);
  --info-900a: rgba(8, 22, 36, 0.3);
}
