:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #f9f9fc;
  --primary-200: #edecf4;
  --primary-300: #e0dfec;
  --primary-400: #b5b1d2;
  --primary-500: #aca9c4;
  --primary-600: #a8a5bd;
  --primary-700: #9f9cb0;
  --primary-800: #9694a2;
  --primary-900: #89888d;
  --hue-0-100: #fcf9f8;
  --hue-0-200: #f6ebea;
  --hue-0-300: #efdedc;
  --hue-0-400: #d8aeaa;
  --hue-0-500: #caa6a3;
  --hue-0-600: #c2a3a0;
  --hue-0-700: #b49b98;
  --hue-0-800: #a59391;
  --hue-0-900: #8f8887;
  --hue-30-100: #fcf9f8;
  --hue-30-200: #f6edea;
  --hue-30-300: #efe1dc;
  --hue-30-400: #d8b6aa;
  --hue-30-500: #caada3;
  --hue-30-600: #c2a8a0;
  --hue-30-700: #b49f98;
  --hue-30-800: #a59691;
  --hue-30-900: #8f8987;
  --hue-60-100: #fcfaf8;
  --hue-60-200: #f6f0ea;
  --hue-60-300: #efe5dc;
  --hue-60-400: #e1c1a1;
  --hue-60-500: #bbab9c;
  --hue-60-600: #b1a191;
  --hue-60-700: #a0968b;
  --hue-60-800: #989088;
  --hue-60-900: #878583;
  --hue-90-100: #fdfbf8;
  --hue-90-200: #f8f4e8;
  --hue-90-300: #f3ecd8;
  --hue-90-400: #e1d1a1;
  --hue-90-500: #c1b696;
  --hue-90-600: #b1a991;
  --hue-90-700: #a09b8b;
  --hue-90-800: #989488;
  --hue-90-900: #888783;
  --hue-120-100: #fdfdf8;
  --hue-120-200: #f8f8e8;
  --hue-120-300: #f3f3d8;
  --hue-120-400: #e1e1a1;
  --hue-120-500: #c1c196;
  --hue-120-600: #b1b191;
  --hue-120-700: #a0a08b;
  --hue-120-800: #989888;
  --hue-120-900: #888883;
  --hue-150-100: #fcfdf8;
  --hue-150-200: #f4f8e8;
  --hue-150-300: #edf3d8;
  --hue-150-400: #d3e1a1;
  --hue-150-500: #b7c196;
  --hue-150-600: #a9b191;
  --hue-150-700: #9ba08b;
  --hue-150-800: #959888;
  --hue-150-900: #878883;
  --hue-180-100: #fafcf8;
  --hue-180-200: #eff6ea;
  --hue-180-300: #e4efdc;
  --hue-180-400: #bdd8aa;
  --hue-180-500: #a9bb9c;
  --hue-180-600: #9fac95;
  --hue-180-700: #949d8e;
  --hue-180-800: #8f968a;
  --hue-180-900: #858783;
  --hue-210-100: #f8fcfb;
  --hue-210-200: #eaf6f3;
  --hue-210-300: #dcefea;
  --hue-210-400: #aad8cc;
  --hue-210-500: #9cbbb3;
  --hue-210-600: #95aca6;
  --hue-210-700: #8e9d99;
  --hue-210-800: #8a9693;
  --hue-210-900: #838786;
  --hue-240-100: #f9f9fc;
  --hue-240-200: #eceef4;
  --hue-240-300: #dfe2ec;
  --hue-240-400: #b1bad2;
  --hue-240-500: #a9b0c4;
  --hue-240-600: #a5abbd;
  --hue-240-700: #9ca2b0;
  --hue-240-800: #9498a2;
  --hue-240-900: #88898d;
  --hue-270-100: #faf9fc;
  --hue-270-200: #efecf4;
  --hue-270-300: #e4dfec;
  --hue-270-400: #beb1d2;
  --hue-270-500: #b4a9c4;
  --hue-270-600: #aea5bd;
  --hue-270-700: #a49cb0;
  --hue-270-800: #9a94a2;
  --hue-270-900: #8a888d;
  --hue-300-100: #fcf9fc;
  --hue-300-200: #f5ebf5;
  --hue-300-300: #eeddee;
  --hue-300-400: #d6add6;
  --hue-300-500: #c8a5c8;
  --hue-300-600: #c0a2c0;
  --hue-300-700: #b29ab2;
  --hue-300-800: #a492a4;
  --hue-300-900: #8e878e;
  --hue-330-100: #fcf8f9;
  --hue-330-200: #f6eaee;
  --hue-330-300: #efdce2;
  --hue-330-400: #d8aab8;
  --hue-330-500: #caa3af;
  --hue-330-600: #c2a0aa;
  --hue-330-700: #b498a1;
  --hue-330-800: #a59197;
  --hue-330-900: #8f8789;
  --complementary-100: #fdfbf8;
  --complementary-200: #f8f3e8;
  --complementary-300: #f3ead8;
  --complementary-400: #e1cda1;
  --complementary-500: #c1b396;
  --complementary-600: #b1a691;
  --complementary-700: #a0998b;
  --complementary-800: #989388;
  --complementary-900: #888683;
  --analogous1-100: #fbf9fc;
  --analogous1-200: #f3ebf5;
  --analogous1-300: #ecddee;
  --analogous1-400: #d0add6;
  --analogous1-500: #c3a5c8;
  --analogous1-600: #bca2c0;
  --analogous1-700: #af9ab2;
  --analogous1-800: #a192a4;
  --analogous1-900: #8d878e;
  --analogous2-100: #fcf8fa;
  --analogous2-200: #f6eaf0;
  --analogous2-300: #efdce6;
  --analogous2-400: #d8aac3;
  --analogous2-500: #caa3b8;
  --analogous2-600: #c2a0b2;
  --analogous2-700: #b498a7;
  --analogous2-800: #a5919c;
  --analogous2-900: #8f878b;
  --analogous3-100: #fcf8f9;
  --analogous3-200: #f6eaeb;
  --analogous3-300: #efdcde;
  --analogous3-400: #d8aaae;
  --analogous3-500: #caa3a7;
  --analogous3-600: #c2a0a3;
  --analogous3-700: #b4989b;
  --analogous3-800: #a59193;
  --analogous3-900: #8f8788;
  --split1-100: #fcfaf8;
  --split1-200: #f6efea;
  --split1-300: #efe4dc;
  --split1-400: #d8beaa;
  --split1-500: #cab4a3;
  --split1-600: #c2afa0;
  --split1-700: #b4a498;
  --split1-800: #a59a91;
  --split1-900: #8f8a87;
  --split2-100: #fdfcf8;
  --split2-200: #f8f7e8;
  --split2-300: #f3f1d8;
  --split2-400: #e1dda1;
  --split2-500: #c1be96;
  --split2-600: #b1ae91;
  --split2-700: #a09f8b;
  --split2-800: #989788;
  --split2-900: #888783;
  --square1-100: #fcf8f9;
  --square1-200: #f6eaeb;
  --square1-300: #efdcde;
  --square1-400: #d8aaae;
  --square1-500: #caa3a7;
  --square1-600: #c2a0a3;
  --square1-700: #b4989b;
  --square1-800: #a59193;
  --square1-900: #8f8788;
  --square2-100: #fdfbf8;
  --square2-200: #f8f3e8;
  --square2-300: #f3ead8;
  --square2-400: #e1cda1;
  --square2-500: #c1b396;
  --square2-600: #b1a691;
  --square2-700: #a0998b;
  --square2-800: #989388;
  --square2-900: #888683;
  --square3-100: #fafcf8;
  --square3-200: #f0f6ea;
  --square3-300: #e6f3d8;
  --square3-400: #c2e1a1;
  --square3-500: #acbb9c;
  --square3-600: #a1ac95;
  --square3-700: #96a08b;
  --square3-800: #919888;
  --square3-900: #858783;
  --triadic1-100: #fcf9f8;
  --triadic1-200: #f6ecea;
  --triadic1-300: #efdfdc;
  --triadic1-400: #d8b3aa;
  --triadic1-500: #caaaa3;
  --triadic1-600: #c2a6a0;
  --triadic1-700: #b49d98;
  --triadic1-800: #a59591;
  --triadic1-900: #8f8887;
  --triadic2-100: #fcfdf8;
  --triadic2-200: #f5f8e8;
  --triadic2-300: #eff3d8;
  --triadic2-400: #d7e1a1;
  --triadic2-500: #bac196;
  --triadic2-600: #abb191;
  --triadic2-700: #9da08b;
  --triadic2-800: #959888;
  --triadic2-900: #878883;
  --tetradic1-100: #fcf8fa;
  --tetradic1-200: #f6eaf0;
  --tetradic1-300: #efdce6;
  --tetradic1-400: #d8aac3;
  --tetradic1-500: #caa3b8;
  --tetradic1-600: #c2a0b2;
  --tetradic1-700: #b498a7;
  --tetradic1-800: #a5919c;
  --tetradic1-900: #8f878b;
  --tetradic2-100: #fdfbf8;
  --tetradic2-200: #f8f3e8;
  --tetradic2-300: #f3ead8;
  --tetradic2-400: #e1cda1;
  --tetradic2-500: #c1b396;
  --tetradic2-600: #b1a691;
  --tetradic2-700: #a0998b;
  --tetradic2-800: #989388;
  --tetradic2-900: #888683;
  --tetradic3-100: #fcfdf8;
  --tetradic3-200: #f5f8e8;
  --tetradic3-300: #eff3d8;
  --tetradic3-400: #d7e1a1;
  --tetradic3-500: #bac196;
  --tetradic3-600: #abb191;
  --tetradic3-700: #9da08b;
  --tetradic3-800: #959888;
  --tetradic3-900: #878883;
  --success-100: #fafcf8;
  --success-200: #eff6ea;
  --success-300: #e4efdc;
  --success-400: #bdd8aa;
  --success-500: #a9bb9c;
  --success-600: #9fac95;
  --success-700: #949d8e;
  --success-800: #8f968a;
  --success-900: #858783;
  --danger-100: #fcf9f8;
  --danger-200: #f6ebea;
  --danger-300: #efdedc;
  --danger-400: #d8aeaa;
  --danger-500: #caa6a3;
  --danger-600: #c2a3a0;
  --danger-700: #b49b98;
  --danger-800: #a59391;
  --danger-900: #8f8887;
  --warning-100: #fcfaf8;
  --warning-200: #f6f0ea;
  --warning-300: #efe5dc;
  --warning-400: #d8c1aa;
  --warning-500: #bbab9c;
  --warning-600: #b1a191;
  --warning-700: #a0968b;
  --warning-800: #989088;
  --warning-900: #878583;
  --info-100: #f9f9fc;
  --info-200: #eceef4;
  --info-300: #dfe2ec;
  --info-400: #b1bad2;
  --info-500: #a9b0c4;
  --info-600: #a5abbd;
  --info-700: #9ca2b0;
  --info-800: #9498a2;
  --info-900: #88898d;
  --primary-100n: #f3f2f8;
  --primary-200n: #dad8e9;
  --primary-300n: #c1bed9;
  --primary-400n: #6b62a4;
  --primary-500n: #595289;
  --primary-600n: #504a7b;
  --primary-700n: #3e3960;
  --primary-800n: #2c2944;
  --primary-900n: #12111b;
  --hue-0-100n: #f9f2f1;
  --hue-0-200n: #ecd7d5;
  --hue-0-300n: #dfbcb8;
  --hue-0-400n: #b15d55;
  --hue-0-500n: #944d47;
  --hue-0-600n: #854640;
  --hue-0-700n: #683631;
  --hue-0-800n: #4a2723;
  --hue-0-900n: #1e100e;
  --hue-30-100n: #f9f3f1;
  --hue-30-200n: #ecdad5;
  --hue-30-300n: #dfc2b8;
  --hue-30-400n: #b16c55;
  --hue-30-500n: #945a47;
  --hue-30-600n: #855140;
  --hue-30-700n: #683f31;
  --hue-30-800n: #4a2d23;
  --hue-30-900n: #1e120e;
  --hue-60-100n: #f9f5f1;
  --hue-60-200n: #ece0d5;
  --hue-60-300n: #dfcbb8;
  --hue-60-400n: #c38343;
  --hue-60-500n: #775738;
  --hue-60-600n: #624222;
  --hue-60-700n: #412c16;
  --hue-60-800n: #302111;
  --hue-60-900n: #0f0b07;
  --hue-90-100n: #faf7f0;
  --hue-90-200n: #f0e8d1;
  --hue-90-300n: #e6d8b1;
  --hue-90-400n: #c3a343;
  --hue-90-500n: #826d2d;
  --hue-90-600n: #625222;
  --hue-90-700n: #413616;
  --hue-90-800n: #302911;
  --hue-90-900n: #100e06;
  --hue-120-100n: #fafaf0;
  --hue-120-200n: #f0f0d1;
  --hue-120-300n: #e6e6b1;
  --hue-120-400n: #c3c343;
  --hue-120-500n: #82822d;
  --hue-120-600n: #626222;
  --hue-120-700n: #414116;
  --hue-120-800n: #303011;
  --hue-120-900n: #101006;
  --hue-150-100n: #f8faf0;
  --hue-150-200n: #e9f0d1;
  --hue-150-300n: #dae6b1;
  --hue-150-400n: #a6c343;
  --hue-150-500n: #6f822d;
  --hue-150-600n: #536222;
  --hue-150-700n: #374116;
  --hue-150-800n: #2a3011;
  --hue-150-900n: #0e1006;
  --hue-180-100n: #f4f9f1;
  --hue-180-200n: #deecd5;
  --hue-180-300n: #c8dfb8;
  --hue-180-400n: #7bb155;
  --hue-180-500n: #527738;
  --hue-180-600n: #3e592b;
  --hue-180-700n: #293b1c;
  --hue-180-800n: #1f2c15;
  --hue-180-900n: #0a0f07;
  --hue-210-100n: #f1f9f7;
  --hue-210-200n: #d5ece6;
  --hue-210-300n: #b8dfd4;
  --hue-210-400n: #55b199;
  --hue-210-500n: #387766;
  --hue-210-600n: #2b594d;
  --hue-210-700n: #1c3b33;
  --hue-210-800n: #152c26;
  --hue-210-900n: #070f0d;
  --hue-240-100n: #f2f3f8;
  --hue-240-200n: #d8dde9;
  --hue-240-300n: #bec5d9;
  --hue-240-400n: #6274a4;
  --hue-240-500n: #526189;
  --hue-240-600n: #4a577b;
  --hue-240-700n: #394460;
  --hue-240-800n: #293044;
  --hue-240-900n: #11131b;
  --hue-270-100n: #f4f2f8;
  --hue-270-200n: #dfd8e9;
  --hue-270-300n: #c9bed9;
  --hue-270-400n: #7c62a4;
  --hue-270-500n: #685289;
  --hue-270-600n: #5d4a7b;
  --hue-270-700n: #493960;
  --hue-270-800n: #342944;
  --hue-270-900n: #15111b;
  --hue-300-100n: #f8f2f8;
  --hue-300-200n: #ebd6eb;
  --hue-300-300n: #ddbadd;
  --hue-300-400n: #ac5aac;
  --hue-300-500n: #904b90;
  --hue-300-600n: #814481;
  --hue-300-700n: #653465;
  --hue-300-800n: #482548;
  --hue-300-900n: #1d0f1d;
  --hue-330-100n: #f9f1f3;
  --hue-330-200n: #ecd5dc;
  --hue-330-300n: #dfb8c4;
  --hue-330-400n: #b15571;
  --hue-330-500n: #94475f;
  --hue-330-600n: #854055;
  --hue-330-700n: #683142;
  --hue-330-800n: #4a232f;
  --hue-330-900n: #1e0e13;
  --complementary-100n: #faf6f0;
  --complementary-200n: #f0e6d1;
  --complementary-300n: #e6d5b1;
  --complementary-400n: #c39a43;
  --complementary-500n: #82672d;
  --complementary-600n: #624d22;
  --complementary-700n: #413316;
  --complementary-800n: #302711;
  --complementary-900n: #100d06;
  --analogous1-100n: #f7f2f8;
  --analogous1-200n: #e7d6eb;
  --analogous1-300n: #d8badd;
  --analogous1-400n: #a05aac;
  --analogous1-500n: #864b90;
  --analogous1-600n: #784481;
  --analogous1-700n: #5e3465;
  --analogous1-800n: #432548;
  --analogous1-900n: #1b0f1d;
  --analogous2-100n: #f9f1f5;
  --analogous2-200n: #ecd5e1;
  --analogous2-300n: #dfb8cd;
  --analogous2-400n: #b15586;
  --analogous2-500n: #944770;
  --analogous2-600n: #854065;
  --analogous2-700n: #68314e;
  --analogous2-800n: #4a2338;
  --analogous2-900n: #1e0e17;
  --analogous3-100n: #f9f1f2;
  --analogous3-200n: #ecd5d7;
  --analogous3-300n: #dfb8bc;
  --analogous3-400n: #b1555d;
  --analogous3-500n: #94474e;
  --analogous3-600n: #854046;
  --analogous3-700n: #683137;
  --analogous3-800n: #4a2327;
  --analogous3-900n: #1e0e10;
  --split1-100n: #f9f4f1;
  --split1-200n: #ecdfd5;
  --split1-300n: #dfc9b8;
  --split1-400n: #b17d55;
  --split1-500n: #946847;
  --split1-600n: #855e40;
  --split1-700n: #684931;
  --split1-800n: #4a3423;
  --split1-900n: #1e150e;
  --split2-100n: #faf9f0;
  --split2-200n: #f0eed1;
  --split2-300n: #e6e2b1;
  --split2-400n: #c3ba43;
  --split2-500n: #827c2d;
  --split2-600n: #625d22;
  --split2-700n: #413e16;
  --split2-800n: #302e11;
  --split2-900n: #100f06;
  --square1-100n: #f9f1f2;
  --square1-200n: #ecd5d7;
  --square1-300n: #dfb8bc;
  --square1-400n: #b1555d;
  --square1-500n: #94474e;
  --square1-600n: #854046;
  --square1-700n: #683137;
  --square1-800n: #4a2327;
  --square1-900n: #1e0e10;
  --square2-100n: #faf6f0;
  --square2-200n: #f0e6d1;
  --square2-300n: #e6d5b1;
  --square2-400n: #c39a43;
  --square2-500n: #82672d;
  --square2-600n: #624d22;
  --square2-700n: #413316;
  --square2-800n: #302711;
  --square2-900n: #100d06;
  --square3-100n: #f5f9f1;
  --square3-200n: #e1ecd5;
  --square3-300n: #cde6b1;
  --square3-400n: #85c343;
  --square3-500n: #587738;
  --square3-600n: #43592b;
  --square3-700n: #2d4116;
  --square3-800n: #223011;
  --square3-900n: #0b0f07;
  --triadic1-100n: #f9f2f1;
  --triadic1-200n: #ecd9d5;
  --triadic1-300n: #dfbfb8;
  --triadic1-400n: #b16655;
  --triadic1-500n: #945547;
  --triadic1-600n: #854d40;
  --triadic1-700n: #683b31;
  --triadic1-800n: #4a2a23;
  --triadic1-900n: #1e110e;
  --triadic2-100n: #f9faf0;
  --triadic2-200n: #ebf0d1;
  --triadic2-300n: #dee6b1;
  --triadic2-400n: #aec343;
  --triadic2-500n: #74822d;
  --triadic2-600n: #576222;
  --triadic2-700n: #3a4116;
  --triadic2-800n: #2b3011;
  --triadic2-900n: #0f1006;
  --tetradic1-100n: #f9f1f5;
  --tetradic1-200n: #ecd5e1;
  --tetradic1-300n: #dfb8cd;
  --tetradic1-400n: #b15586;
  --tetradic1-500n: #944770;
  --tetradic1-600n: #854065;
  --tetradic1-700n: #68314e;
  --tetradic1-800n: #4a2338;
  --tetradic1-900n: #1e0e17;
  --tetradic2-100n: #faf6f0;
  --tetradic2-200n: #f0e6d1;
  --tetradic2-300n: #e6d5b1;
  --tetradic2-400n: #c39a43;
  --tetradic2-500n: #82672d;
  --tetradic2-600n: #624d22;
  --tetradic2-700n: #413316;
  --tetradic2-800n: #302711;
  --tetradic2-900n: #100d06;
  --tetradic3-100n: #f9faf0;
  --tetradic3-200n: #ebf0d1;
  --tetradic3-300n: #dee6b1;
  --tetradic3-400n: #aec343;
  --tetradic3-500n: #74822d;
  --tetradic3-600n: #576222;
  --tetradic3-700n: #3a4116;
  --tetradic3-800n: #2b3011;
  --tetradic3-900n: #0f1006;
  --success-100n: #f4f9f1;
  --success-200n: #deecd5;
  --success-300n: #c8dfb8;
  --success-400n: #7bb155;
  --success-500n: #527738;
  --success-600n: #3e592b;
  --success-700n: #293b1c;
  --success-800n: #1f2c15;
  --success-900n: #0a0f07;
  --danger-100n: #f9f2f1;
  --danger-200n: #ecd7d5;
  --danger-300n: #dfbcb8;
  --danger-400n: #b15d55;
  --danger-500n: #944d47;
  --danger-600n: #854640;
  --danger-700n: #683631;
  --danger-800n: #4a2723;
  --danger-900n: #1e100e;
  --warning-100n: #f9f5f1;
  --warning-200n: #ece0d5;
  --warning-300n: #dfcbb8;
  --warning-400n: #b18355;
  --warning-500n: #775738;
  --warning-600n: #624222;
  --warning-700n: #412c16;
  --warning-800n: #302111;
  --warning-900n: #0f0b07;
  --info-100n: #f2f3f8;
  --info-200n: #d8dde9;
  --info-300n: #bec5d9;
  --info-400n: #6274a4;
  --info-500n: #526189;
  --info-600n: #4a577b;
  --info-700n: #394460;
  --info-800n: #293044;
  --info-900n: #11131b;
  --primary-100a: rgba(239, 238, 252, 0.3);
  --primary-200a: rgba(208, 203, 246, 0.3);
  --primary-300a: rgba(177, 168, 239, 0.3);
  --primary-400a: rgba(67, 45, 217, 0.3);
  --primary-500a: rgba(56, 38, 181, 0.3);
  --primary-600a: rgba(50, 34, 163, 0.3);
  --primary-700a: rgba(39, 26, 127, 0.3);
  --primary-800a: rgba(28, 19, 90, 0.3);
  --primary-900a: rgba(11, 8, 36, 0.3);
  --hue-0-100a: rgba(252, 239, 238, 0.3);
  --hue-0-200a: rgba(246, 206, 203, 0.3);
  --hue-0-300a: rgba(239, 174, 168, 0.3);
  --hue-0-400a: rgba(217, 60, 45, 0.3);
  --hue-0-500a: rgba(181, 50, 38, 0.3);
  --hue-0-600a: rgba(163, 45, 34, 0.3);
  --hue-0-700a: rgba(127, 35, 26, 0.3);
  --hue-0-800a: rgba(90, 25, 19, 0.3);
  --hue-0-900a: rgba(36, 10, 8, 0.3);
  --hue-30-100a: rgba(252, 241, 238, 0.3);
  --hue-30-200a: rgba(246, 213, 203, 0.3);
  --hue-30-300a: rgba(239, 185, 168, 0.3);
  --hue-30-400a: rgba(217, 88, 45, 0.3);
  --hue-30-500a: rgba(181, 73, 38, 0.3);
  --hue-30-600a: rgba(163, 66, 34, 0.3);
  --hue-30-700a: rgba(127, 51, 26, 0.3);
  --hue-30-800a: rgba(90, 37, 19, 0.3);
  --hue-30-900a: rgba(36, 15, 8, 0.3);
  --hue-60-100a: rgba(252, 245, 238, 0.3);
  --hue-60-200a: rgba(246, 224, 203, 0.3);
  --hue-60-300a: rgba(239, 203, 168, 0.3);
  --hue-60-400a: rgba(217, 131, 45, 0.3);
  --hue-60-500a: rgba(145, 87, 30, 0.3);
  --hue-60-600a: rgba(109, 66, 23, 0.3);
  --hue-60-700a: rgba(72, 44, 15, 0.3);
  --hue-60-800a: rgba(54, 33, 11, 0.3);
  --hue-60-900a: rgba(18, 11, 4, 0.3);
  --hue-90-100a: rgba(252, 248, 238, 0.3);
  --hue-90-200a: rgba(246, 235, 203, 0.3);
  --hue-90-300a: rgba(239, 221, 168, 0.3);
  --hue-90-400a: rgba(217, 174, 45, 0.3);
  --hue-90-500a: rgba(145, 116, 30, 0.3);
  --hue-90-600a: rgba(109, 87, 23, 0.3);
  --hue-90-700a: rgba(72, 58, 15, 0.3);
  --hue-90-800a: rgba(54, 44, 11, 0.3);
  --hue-90-900a: rgba(18, 15, 4, 0.3);
  --hue-120-100a: rgba(252, 252, 238, 0.3);
  --hue-120-200a: rgba(246, 246, 203, 0.3);
  --hue-120-300a: rgba(239, 239, 168, 0.3);
  --hue-120-400a: rgba(217, 217, 45, 0.3);
  --hue-120-500a: rgba(145, 145, 30, 0.3);
  --hue-120-600a: rgba(109, 109, 23, 0.3);
  --hue-120-700a: rgba(72, 72, 15, 0.3);
  --hue-120-800a: rgba(54, 54, 11, 0.3);
  --hue-120-900a: rgba(18, 18, 4, 0.3);
  --hue-150-100a: rgba(249, 252, 238, 0.3);
  --hue-150-200a: rgba(236, 246, 203, 0.3);
  --hue-150-300a: rgba(223, 239, 168, 0.3);
  --hue-150-400a: rgba(178, 217, 45, 0.3);
  --hue-150-500a: rgba(119, 145, 30, 0.3);
  --hue-150-600a: rgba(89, 109, 23, 0.3);
  --hue-150-700a: rgba(59, 72, 15, 0.3);
  --hue-150-800a: rgba(45, 54, 11, 0.3);
  --hue-150-900a: rgba(15, 18, 4, 0.3);
  --hue-180-100a: rgba(243, 252, 238, 0.3);
  --hue-180-200a: rgba(220, 246, 203, 0.3);
  --hue-180-300a: rgba(197, 239, 168, 0.3);
  --hue-180-400a: rgba(116, 217, 45, 0.3);
  --hue-180-500a: rgba(77, 145, 30, 0.3);
  --hue-180-600a: rgba(58, 109, 23, 0.3);
  --hue-180-700a: rgba(39, 72, 15, 0.3);
  --hue-180-800a: rgba(29, 54, 11, 0.3);
  --hue-180-900a: rgba(10, 18, 4, 0.3);
  --hue-210-100a: rgba(238, 252, 248, 0.3);
  --hue-210-200a: rgba(203, 246, 234, 0.3);
  --hue-210-300a: rgba(168, 239, 220, 0.3);
  --hue-210-400a: rgba(45, 217, 171, 0.3);
  --hue-210-500a: rgba(30, 145, 114, 0.3);
  --hue-210-600a: rgba(23, 109, 86, 0.3);
  --hue-210-700a: rgba(15, 72, 57, 0.3);
  --hue-210-800a: rgba(11, 54, 43, 0.3);
  --hue-210-900a: rgba(4, 18, 14, 0.3);
  --hue-240-100a: rgba(238, 241, 252, 0.3);
  --hue-240-200a: rgba(203, 214, 246, 0.3);
  --hue-240-300a: rgba(168, 187, 239, 0.3);
  --hue-240-400a: rgba(45, 92, 217, 0.3);
  --hue-240-500a: rgba(38, 77, 181, 0.3);
  --hue-240-600a: rgba(34, 69, 163, 0.3);
  --hue-240-700a: rgba(26, 54, 127, 0.3);
  --hue-240-800a: rgba(19, 38, 90, 0.3);
  --hue-240-900a: rgba(8, 15, 36, 0.3);
  --hue-270-100a: rgba(243, 238, 252, 0.3);
  --hue-270-200a: rgba(220, 203, 246, 0.3);
  --hue-270-300a: rgba(196, 168, 239, 0.3);
  --hue-270-400a: rgba(113, 45, 217, 0.3);
  --hue-270-500a: rgba(94, 38, 181, 0.3);
  --hue-270-600a: rgba(85, 34, 163, 0.3);
  --hue-270-700a: rgba(66, 26, 127, 0.3);
  --hue-270-800a: rgba(47, 19, 90, 0.3);
  --hue-270-900a: rgba(19, 8, 36, 0.3);
  --hue-300-100a: rgba(252, 238, 252, 0.3);
  --hue-300-200a: rgba(246, 203, 246, 0.3);
  --hue-300-300a: rgba(239, 168, 239, 0.3);
  --hue-300-400a: rgba(217, 45, 217, 0.3);
  --hue-300-500a: rgba(181, 38, 181, 0.3);
  --hue-300-600a: rgba(163, 34, 163, 0.3);
  --hue-300-700a: rgba(127, 26, 127, 0.3);
  --hue-300-800a: rgba(90, 19, 90, 0.3);
  --hue-300-900a: rgba(36, 8, 36, 0.3);
  --hue-330-100a: rgba(252, 238, 242, 0.3);
  --hue-330-200a: rgba(246, 203, 216, 0.3);
  --hue-330-300a: rgba(239, 168, 190, 0.3);
  --hue-330-400a: rgba(217, 45, 98, 0.3);
  --hue-330-500a: rgba(181, 38, 82, 0.3);
  --hue-330-600a: rgba(163, 34, 74, 0.3);
  --hue-330-700a: rgba(127, 26, 57, 0.3);
  --hue-330-800a: rgba(90, 19, 41, 0.3);
  --hue-330-900a: rgba(36, 8, 16, 0.3);
  --complementary-100a: rgba(252, 247, 238, 0.3);
  --complementary-200a: rgba(246, 232, 203, 0.3);
  --complementary-300a: rgba(239, 216, 168, 0.3);
  --complementary-400a: rgba(217, 162, 45, 0.3);
  --complementary-500a: rgba(145, 108, 30, 0.3);
  --complementary-600a: rgba(109, 81, 23, 0.3);
  --complementary-700a: rgba(72, 54, 15, 0.3);
  --complementary-800a: rgba(54, 41, 11, 0.3);
  --complementary-900a: rgba(18, 14, 4, 0.3);
  --analogous1-100a: rgba(250, 238, 252, 0.3);
  --analogous1-200a: rgba(239, 203, 246, 0.3);
  --analogous1-300a: rgba(229, 168, 239, 0.3);
  --analogous1-400a: rgba(192, 45, 217, 0.3);
  --analogous1-500a: rgba(160, 38, 181, 0.3);
  --analogous1-600a: rgba(144, 34, 163, 0.3);
  --analogous1-700a: rgba(112, 26, 127, 0.3);
  --analogous1-800a: rgba(80, 19, 90, 0.3);
  --analogous1-900a: rgba(32, 8, 36, 0.3);
  --analogous2-100a: rgba(252, 238, 245, 0.3);
  --analogous2-200a: rgba(246, 203, 226, 0.3);
  --analogous2-300a: rgba(239, 168, 206, 0.3);
  --analogous2-400a: rgba(217, 45, 137, 0.3);
  --analogous2-500a: rgba(181, 38, 114, 0.3);
  --analogous2-600a: rgba(163, 34, 103, 0.3);
  --analogous2-700a: rgba(127, 26, 80, 0.3);
  --analogous2-800a: rgba(90, 19, 57, 0.3);
  --analogous2-900a: rgba(36, 8, 23, 0.3);
  --analogous3-100a: rgba(252, 238, 239, 0.3);
  --analogous3-200a: rgba(246, 203, 207, 0.3);
  --analogous3-300a: rgba(239, 168, 174, 0.3);
  --analogous3-400a: rgba(217, 45, 61, 0.3);
  --analogous3-500a: rgba(181, 38, 51, 0.3);
  --analogous3-600a: rgba(163, 34, 46, 0.3);
  --analogous3-700a: rgba(127, 26, 36, 0.3);
  --analogous3-800a: rgba(90, 19, 25, 0.3);
  --analogous3-900a: rgba(36, 8, 10, 0.3);
  --split1-100a: rgba(252, 244, 238, 0.3);
  --split1-200a: rgba(246, 221, 203, 0.3);
  --split1-300a: rgba(239, 199, 168, 0.3);
  --split1-400a: rgba(217, 120, 45, 0.3);
  --split1-500a: rgba(181, 100, 38, 0.3);
  --split1-600a: rgba(163, 90, 34, 0.3);
  --split1-700a: rgba(127, 70, 26, 0.3);
  --split1-800a: rgba(90, 50, 19, 0.3);
  --split1-900a: rgba(36, 20, 8, 0.3);
  --split2-100a: rgba(252, 251, 238, 0.3);
  --split2-200a: rgba(246, 243, 203, 0.3);
  --split2-300a: rgba(239, 234, 168, 0.3);
  --split2-400a: rgba(217, 205, 45, 0.3);
  --split2-500a: rgba(145, 137, 30, 0.3);
  --split2-600a: rgba(109, 103, 23, 0.3);
  --split2-700a: rgba(72, 68, 15, 0.3);
  --split2-800a: rgba(54, 51, 11, 0.3);
  --split2-900a: rgba(18, 17, 4, 0.3);
  --square1-100a: rgba(252, 238, 239, 0.3);
  --square1-200a: rgba(246, 203, 207, 0.3);
  --square1-300a: rgba(239, 168, 174, 0.3);
  --square1-400a: rgba(217, 45, 61, 0.3);
  --square1-500a: rgba(181, 38, 51, 0.3);
  --square1-600a: rgba(163, 34, 46, 0.3);
  --square1-700a: rgba(127, 26, 36, 0.3);
  --square1-800a: rgba(90, 19, 25, 0.3);
  --square1-900a: rgba(36, 8, 10, 0.3);
  --square2-100a: rgba(252, 247, 238, 0.3);
  --square2-200a: rgba(246, 232, 203, 0.3);
  --square2-300a: rgba(239, 216, 168, 0.3);
  --square2-400a: rgba(217, 162, 45, 0.3);
  --square2-500a: rgba(145, 108, 30, 0.3);
  --square2-600a: rgba(109, 81, 23, 0.3);
  --square2-700a: rgba(72, 54, 15, 0.3);
  --square2-800a: rgba(54, 41, 11, 0.3);
  --square2-900a: rgba(18, 14, 4, 0.3);
  --square3-100a: rgba(245, 252, 238, 0.3);
  --square3-200a: rgba(225, 246, 203, 0.3);
  --square3-300a: rgba(205, 239, 168, 0.3);
  --square3-400a: rgba(134, 217, 45, 0.3);
  --square3-500a: rgba(89, 145, 30, 0.3);
  --square3-600a: rgba(67, 109, 23, 0.3);
  --square3-700a: rgba(45, 72, 15, 0.3);
  --square3-800a: rgba(34, 54, 11, 0.3);
  --square3-900a: rgba(11, 18, 4, 0.3);
  --triadic1-100a: rgba(252, 240, 238, 0.3);
  --triadic1-200a: rgba(246, 211, 203, 0.3);
  --triadic1-300a: rgba(239, 181, 168, 0.3);
  --triadic1-400a: rgba(217, 77, 45, 0.3);
  --triadic1-500a: rgba(181, 64, 38, 0.3);
  --triadic1-600a: rgba(163, 58, 34, 0.3);
  --triadic1-700a: rgba(127, 45, 26, 0.3);
  --triadic1-800a: rgba(90, 32, 19, 0.3);
  --triadic1-900a: rgba(36, 13, 8, 0.3);
  --triadic2-100a: rgba(250, 252, 238, 0.3);
  --triadic2-200a: rgba(239, 246, 203, 0.3);
  --triadic2-300a: rgba(228, 239, 168, 0.3);
  --triadic2-400a: rgba(189, 217, 45, 0.3);
  --triadic2-500a: rgba(126, 145, 30, 0.3);
  --triadic2-600a: rgba(95, 109, 23, 0.3);
  --triadic2-700a: rgba(63, 72, 15, 0.3);
  --triadic2-800a: rgba(47, 54, 11, 0.3);
  --triadic2-900a: rgba(16, 18, 4, 0.3);
  --tetradic1-100a: rgba(252, 238, 245, 0.3);
  --tetradic1-200a: rgba(246, 203, 226, 0.3);
  --tetradic1-300a: rgba(239, 168, 206, 0.3);
  --tetradic1-400a: rgba(217, 45, 137, 0.3);
  --tetradic1-500a: rgba(181, 38, 114, 0.3);
  --tetradic1-600a: rgba(163, 34, 103, 0.3);
  --tetradic1-700a: rgba(127, 26, 80, 0.3);
  --tetradic1-800a: rgba(90, 19, 57, 0.3);
  --tetradic1-900a: rgba(36, 8, 23, 0.3);
  --tetradic2-100a: rgba(252, 247, 238, 0.3);
  --tetradic2-200a: rgba(246, 232, 203, 0.3);
  --tetradic2-300a: rgba(239, 216, 168, 0.3);
  --tetradic2-400a: rgba(217, 162, 45, 0.3);
  --tetradic2-500a: rgba(145, 108, 30, 0.3);
  --tetradic2-600a: rgba(109, 81, 23, 0.3);
  --tetradic2-700a: rgba(72, 54, 15, 0.3);
  --tetradic2-800a: rgba(54, 41, 11, 0.3);
  --tetradic2-900a: rgba(18, 14, 4, 0.3);
  --tetradic3-100a: rgba(250, 252, 238, 0.3);
  --tetradic3-200a: rgba(239, 246, 203, 0.3);
  --tetradic3-300a: rgba(228, 239, 168, 0.3);
  --tetradic3-400a: rgba(189, 217, 45, 0.3);
  --tetradic3-500a: rgba(126, 145, 30, 0.3);
  --tetradic3-600a: rgba(95, 109, 23, 0.3);
  --tetradic3-700a: rgba(63, 72, 15, 0.3);
  --tetradic3-800a: rgba(47, 54, 11, 0.3);
  --tetradic3-900a: rgba(16, 18, 4, 0.3);
  --success-100a: rgba(243, 252, 238, 0.3);
  --success-200a: rgba(220, 246, 203, 0.3);
  --success-300a: rgba(197, 239, 168, 0.3);
  --success-400a: rgba(116, 217, 45, 0.3);
  --success-500a: rgba(77, 145, 30, 0.3);
  --success-600a: rgba(58, 109, 23, 0.3);
  --success-700a: rgba(39, 72, 15, 0.3);
  --success-800a: rgba(29, 54, 11, 0.3);
  --success-900a: rgba(10, 18, 4, 0.3);
  --danger-100a: rgba(252, 239, 238, 0.3);
  --danger-200a: rgba(246, 206, 203, 0.3);
  --danger-300a: rgba(239, 174, 168, 0.3);
  --danger-400a: rgba(217, 60, 45, 0.3);
  --danger-500a: rgba(181, 50, 38, 0.3);
  --danger-600a: rgba(163, 45, 34, 0.3);
  --danger-700a: rgba(127, 35, 26, 0.3);
  --danger-800a: rgba(90, 25, 19, 0.3);
  --danger-900a: rgba(36, 10, 8, 0.3);
  --warning-100a: rgba(252, 245, 238, 0.3);
  --warning-200a: rgba(246, 224, 203, 0.3);
  --warning-300a: rgba(239, 203, 168, 0.3);
  --warning-400a: rgba(217, 131, 45, 0.3);
  --warning-500a: rgba(145, 87, 30, 0.3);
  --warning-600a: rgba(109, 66, 23, 0.3);
  --warning-700a: rgba(72, 44, 15, 0.3);
  --warning-800a: rgba(54, 33, 11, 0.3);
  --warning-900a: rgba(18, 11, 4, 0.3);
  --info-100a: rgba(238, 241, 252, 0.3);
  --info-200a: rgba(203, 214, 246, 0.3);
  --info-300a: rgba(168, 187, 239, 0.3);
  --info-400a: rgba(45, 92, 217, 0.3);
  --info-500a: rgba(38, 77, 181, 0.3);
  --info-600a: rgba(34, 69, 163, 0.3);
  --info-700a: rgba(26, 54, 127, 0.3);
  --info-800a: rgba(19, 38, 90, 0.3);
  --info-900a: rgba(8, 15, 36, 0.3);
}
