:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #f7f7fe;
  --primary-200: #e8e5fb;
  --primary-300: #d8d4f7;
  --primary-400: #a196ec;
  --primary-500: #9c93da;
  --primary-600: #9991d1;
  --primary-700: #938dbf;
  --primary-800: #8e89ad;
  --primary-900: #858492;
  --hue-0-100: #fef7f7;
  --hue-0-200: #fbe7e5;
  --hue-0-300: #f7d7d4;
  --hue-0-400: #ec9e96;
  --hue-0-500: #da9993;
  --hue-0-600: #d19691;
  --hue-0-700: #bf918d;
  --hue-0-800: #ad8c89;
  --hue-0-900: #928584;
  --hue-30-100: #fef8f7;
  --hue-30-200: #fbeae5;
  --hue-30-300: #f7dcd4;
  --hue-30-400: #ecac96;
  --hue-30-500: #daa493;
  --hue-30-600: #d1a191;
  --hue-30-700: #bf998d;
  --hue-30-800: #ad9289;
  --hue-30-900: #928784;
  --hue-60-100: #fefaf7;
  --hue-60-200: #fbf0e5;
  --hue-60-300: #f7e5d4;
  --hue-60-400: #ecc196;
  --hue-60-500: #c8ab8f;
  --hue-60-600: #b6a18b;
  --hue-60-700: #a49687;
  --hue-60-800: #9b9085;
  --hue-60-900: #898582;
  --hue-90-100: #fefcf7;
  --hue-90-200: #fbf5e5;
  --hue-90-300: #f7eed4;
  --hue-90-400: #ecd796;
  --hue-90-500: #c8ba8f;
  --hue-90-600: #b6ab8b;
  --hue-90-700: #a49d87;
  --hue-90-800: #9b9685;
  --hue-90-900: #898782;
  --hue-120-100: #fefef7;
  --hue-120-200: #fbfbe5;
  --hue-120-300: #f7f7d4;
  --hue-120-400: #ecec96;
  --hue-120-500: #c8c88f;
  --hue-120-600: #b6b68b;
  --hue-120-700: #a4a487;
  --hue-120-800: #9b9b85;
  --hue-120-900: #898982;
  --hue-150-100: #fcfef7;
  --hue-150-200: #f6fbe5;
  --hue-150-300: #eff7d4;
  --hue-150-400: #d9ec96;
  --hue-150-500: #bbc88f;
  --hue-150-600: #acb68b;
  --hue-150-700: #9da487;
  --hue-150-800: #969b85;
  --hue-150-900: #878982;
  --hue-180-100: #f9fef7;
  --hue-180-200: #eefbe5;
  --hue-180-300: #e2f7d4;
  --hue-180-400: #baec96;
  --hue-180-500: #a6c88f;
  --hue-180-600: #9db68b;
  --hue-180-700: #93a487;
  --hue-180-800: #8e9b85;
  --hue-180-900: #858982;
  --hue-210-100: #f7fefc;
  --hue-210-200: #e5fbf5;
  --hue-210-300: #d4f7ee;
  --hue-210-400: #96ecd5;
  --hue-210-500: #8fc8b9;
  --hue-210-600: #8bb6ab;
  --hue-210-700: #87a49c;
  --hue-210-800: #859b95;
  --hue-210-900: #828987;
  --hue-240-100: #f7f8fe;
  --hue-240-200: #e5ebfb;
  --hue-240-300: #d4ddf7;
  --hue-240-400: #96aeec;
  --hue-240-500: #93a6da;
  --hue-240-600: #91a2d1;
  --hue-240-700: #8d9bbf;
  --hue-240-800: #8993ad;
  --hue-240-900: #848792;
  --hue-270-100: #f9f7fe;
  --hue-270-200: #eee5fb;
  --hue-270-300: #e2d4f7;
  --hue-270-400: #b896ec;
  --hue-270-500: #af93da;
  --hue-270-600: #aa91d1;
  --hue-270-700: #a18dbf;
  --hue-270-800: #9789ad;
  --hue-270-900: #898492;
  --hue-300-100: #fef7fe;
  --hue-300-200: #fbe5fb;
  --hue-300-300: #f7d4f7;
  --hue-300-400: #ec96ec;
  --hue-300-500: #da93da;
  --hue-300-600: #d191d1;
  --hue-300-700: #bf8dbf;
  --hue-300-800: #ad89ad;
  --hue-300-900: #928492;
  --hue-330-100: #fef7f9;
  --hue-330-200: #fbe5ec;
  --hue-330-300: #f7d4df;
  --hue-330-400: #ec96b1;
  --hue-330-500: #da93a9;
  --hue-330-600: #d191a5;
  --hue-330-700: #bf8d9c;
  --hue-330-800: #ad8994;
  --hue-330-900: #928488;
  --complementary-100: #fdfbf7;
  --complementary-200: #f9f2e7;
  --complementary-300: #f4e9d7;
  --complementary-400: #e4caa0;
  --complementary-500: #c3b195;
  --complementary-600: #b2a590;
  --complementary-700: #a1998a;
  --complementary-800: #999288;
  --complementary-900: #888682;
  --analogous1-100: #fcf7fe;
  --analogous1-200: #f5e5fb;
  --analogous1-300: #eed4f7;
  --analogous1-400: #d696ec;
  --analogous1-500: #c793da;
  --analogous1-600: #c091d1;
  --analogous1-700: #b28dbf;
  --analogous1-800: #a489ad;
  --analogous1-900: #8e8492;
  --analogous2-100: #fdf7fb;
  --analogous2-200: #f8e5f2;
  --analogous2-300: #f2d4e9;
  --analogous2-400: #e096cb;
  --analogous2-500: #d093be;
  --analogous2-600: #c891b8;
  --analogous2-700: #b88dac;
  --analogous2-800: #a8899f;
  --analogous2-900: #90848c;
  --analogous3-100: #fdf7f8;
  --analogous3-200: #f8e5ea;
  --analogous3-300: #f2d4dc;
  --analogous3-400: #e096ab;
  --analogous3-500: #d093a4;
  --analogous3-600: #c891a0;
  --analogous3-700: #b88d99;
  --analogous3-800: #a88992;
  --analogous3-900: #908487;
  --split1-100: #fdf9f8;
  --split1-200: #f8ede9;
  --split1-300: #f2e1d9;
  --split1-400: #e0b6a4;
  --split1-500: #d0ad9e;
  --split1-600: #c8a89b;
  --split1-700: #b89f95;
  --split1-800: #a8968f;
  --split1-900: #908986;
  --split2-100: #fdfcf7;
  --split2-200: #f9f7e7;
  --split2-300: #f4f1d7;
  --split2-400: #e4dda0;
  --split2-500: #c3be95;
  --split2-600: #b2af90;
  --split2-700: #a19f8a;
  --split2-800: #999788;
  --split2-900: #888882;
  --square1-100: #fdf7f8;
  --square1-200: #f8e5ea;
  --square1-300: #f2d4dc;
  --square1-400: #e096ab;
  --square1-500: #d093a4;
  --square1-600: #c891a0;
  --square1-700: #b88d99;
  --square1-800: #a88992;
  --square1-900: #908487;
  --square2-100: #fdfbf7;
  --square2-200: #f9f2e7;
  --square2-300: #f4e9d7;
  --square2-400: #e4caa0;
  --square2-500: #c3b195;
  --square2-600: #b2a590;
  --square2-700: #a1998a;
  --square2-800: #999288;
  --square2-900: #888682;
  --square3-100: #fafdf7;
  --square3-200: #eff8e7;
  --square3-300: #e5f3d7;
  --square3-400: #bfe3a0;
  --square3-500: #aac295;
  --square3-600: #a0b190;
  --square3-700: #95a18a;
  --square3-800: #909988;
  --square3-900: #858882;
  --triadic1-100: #fdf8f8;
  --triadic1-200: #f8e8e9;
  --triadic1-300: #f2d9d9;
  --triadic1-400: #e0a4a4;
  --triadic1-500: #d09e9e;
  --triadic1-600: #c89b9b;
  --triadic1-700: #b89595;
  --triadic1-800: #a88f8f;
  --triadic1-900: #908686;
  --triadic2-100: #fcfdf7;
  --triadic2-200: #f5f8e7;
  --triadic2-300: #eff3d7;
  --triadic2-400: #d8e3a0;
  --triadic2-500: #bac295;
  --triadic2-600: #acb190;
  --triadic2-700: #9da18a;
  --triadic2-800: #969988;
  --triadic2-900: #878882;
  --tetradic1-100: #fdf7fb;
  --tetradic1-200: #f8e5f2;
  --tetradic1-300: #f2d4e9;
  --tetradic1-400: #e096cb;
  --tetradic1-500: #d093be;
  --tetradic1-600: #c891b8;
  --tetradic1-700: #b88dac;
  --tetradic1-800: #a8899f;
  --tetradic1-900: #90848c;
  --tetradic2-100: #fdfbf7;
  --tetradic2-200: #f9f2e7;
  --tetradic2-300: #f4e9d7;
  --tetradic2-400: #e4caa0;
  --tetradic2-500: #c3b195;
  --tetradic2-600: #b2a590;
  --tetradic2-700: #a1998a;
  --tetradic2-800: #999288;
  --tetradic2-900: #888682;
  --tetradic3-100: #fcfdf7;
  --tetradic3-200: #f5f8e7;
  --tetradic3-300: #eff3d7;
  --tetradic3-400: #d8e3a0;
  --tetradic3-500: #bac295;
  --tetradic3-600: #acb190;
  --tetradic3-700: #9da18a;
  --tetradic3-800: #969988;
  --tetradic3-900: #878882;
  --success-100: #f9fef7;
  --success-200: #eefbe5;
  --success-300: #e2f7d4;
  --success-400: #baec96;
  --success-500: #a6c88f;
  --success-600: #9db68b;
  --success-700: #93a487;
  --success-800: #8e9b85;
  --success-900: #858982;
  --danger-100: #fef7f7;
  --danger-200: #fbe7e5;
  --danger-300: #f7d7d4;
  --danger-400: #ec9e96;
  --danger-500: #da9993;
  --danger-600: #d19691;
  --danger-700: #bf918d;
  --danger-800: #ad8c89;
  --danger-900: #928584;
  --warning-100: #fefaf7;
  --warning-200: #fbf0e5;
  --warning-300: #f7e5d4;
  --warning-400: #ecc196;
  --warning-500: #c8ab8f;
  --warning-600: #b6a18b;
  --warning-700: #a49687;
  --warning-800: #9b9085;
  --warning-900: #898582;
  --info-100: #f7f8fe;
  --info-200: #e5ebfb;
  --info-300: #d4ddf7;
  --info-400: #96aeec;
  --info-500: #93a6da;
  --info-600: #91a2d1;
  --info-700: #8d9bbf;
  --info-800: #8993ad;
  --info-900: #848792;
  --primary-100n: #f3f2f8;
  --primary-200n: #dad8e9;
  --primary-300n: #c1bed9;
  --primary-400n: #6b62a4;
  --primary-500n: #595289;
  --primary-600n: #504a7b;
  --primary-700n: #3e3960;
  --primary-800n: #2c2944;
  --primary-900n: #12111b;
  --hue-0-100n: #f9f2f1;
  --hue-0-200n: #ecd7d5;
  --hue-0-300n: #dfbcb8;
  --hue-0-400n: #b15d55;
  --hue-0-500n: #944d47;
  --hue-0-600n: #854640;
  --hue-0-700n: #683631;
  --hue-0-800n: #4a2723;
  --hue-0-900n: #1e100e;
  --hue-30-100n: #f9f3f1;
  --hue-30-200n: #ecdad5;
  --hue-30-300n: #dfc2b8;
  --hue-30-400n: #b16c55;
  --hue-30-500n: #945a47;
  --hue-30-600n: #855140;
  --hue-30-700n: #683f31;
  --hue-30-800n: #4a2d23;
  --hue-30-900n: #1e120e;
  --hue-60-100n: #f9f5f1;
  --hue-60-200n: #ece0d5;
  --hue-60-300n: #dfcbb8;
  --hue-60-400n: #c38343;
  --hue-60-500n: #775738;
  --hue-60-600n: #624222;
  --hue-60-700n: #412c16;
  --hue-60-800n: #302111;
  --hue-60-900n: #0f0b07;
  --hue-90-100n: #faf7f0;
  --hue-90-200n: #f0e8d1;
  --hue-90-300n: #e6d8b1;
  --hue-90-400n: #c3a343;
  --hue-90-500n: #826d2d;
  --hue-90-600n: #625222;
  --hue-90-700n: #413616;
  --hue-90-800n: #302911;
  --hue-90-900n: #100e06;
  --hue-120-100n: #fafaf0;
  --hue-120-200n: #f0f0d1;
  --hue-120-300n: #e6e6b1;
  --hue-120-400n: #c3c343;
  --hue-120-500n: #82822d;
  --hue-120-600n: #626222;
  --hue-120-700n: #414116;
  --hue-120-800n: #303011;
  --hue-120-900n: #101006;
  --hue-150-100n: #f8faf0;
  --hue-150-200n: #e9f0d1;
  --hue-150-300n: #dae6b1;
  --hue-150-400n: #a6c343;
  --hue-150-500n: #6f822d;
  --hue-150-600n: #536222;
  --hue-150-700n: #374116;
  --hue-150-800n: #2a3011;
  --hue-150-900n: #0e1006;
  --hue-180-100n: #f4f9f1;
  --hue-180-200n: #deecd5;
  --hue-180-300n: #c8dfb8;
  --hue-180-400n: #7bb155;
  --hue-180-500n: #527738;
  --hue-180-600n: #3e592b;
  --hue-180-700n: #293b1c;
  --hue-180-800n: #1f2c15;
  --hue-180-900n: #0a0f07;
  --hue-210-100n: #f1f9f7;
  --hue-210-200n: #d5ece6;
  --hue-210-300n: #b8dfd4;
  --hue-210-400n: #55b199;
  --hue-210-500n: #387766;
  --hue-210-600n: #2b594d;
  --hue-210-700n: #1c3b33;
  --hue-210-800n: #152c26;
  --hue-210-900n: #070f0d;
  --hue-240-100n: #f2f3f8;
  --hue-240-200n: #d8dde9;
  --hue-240-300n: #bec5d9;
  --hue-240-400n: #6274a4;
  --hue-240-500n: #526189;
  --hue-240-600n: #4a577b;
  --hue-240-700n: #394460;
  --hue-240-800n: #293044;
  --hue-240-900n: #11131b;
  --hue-270-100n: #f4f2f8;
  --hue-270-200n: #dfd8e9;
  --hue-270-300n: #c9bed9;
  --hue-270-400n: #7c62a4;
  --hue-270-500n: #685289;
  --hue-270-600n: #5d4a7b;
  --hue-270-700n: #493960;
  --hue-270-800n: #342944;
  --hue-270-900n: #15111b;
  --hue-300-100n: #f8f2f8;
  --hue-300-200n: #ebd6eb;
  --hue-300-300n: #ddbadd;
  --hue-300-400n: #ac5aac;
  --hue-300-500n: #904b90;
  --hue-300-600n: #814481;
  --hue-300-700n: #653465;
  --hue-300-800n: #482548;
  --hue-300-900n: #1d0f1d;
  --hue-330-100n: #f9f1f3;
  --hue-330-200n: #ecd5dc;
  --hue-330-300n: #dfb8c4;
  --hue-330-400n: #b15571;
  --hue-330-500n: #94475f;
  --hue-330-600n: #854055;
  --hue-330-700n: #683142;
  --hue-330-800n: #4a232f;
  --hue-330-900n: #1e0e13;
  --complementary-100n: #f9f6f1;
  --complementary-200n: #ede4d4;
  --complementary-300n: #e1d1b7;
  --complementary-400n: #b79152;
  --complementary-500n: #7a6037;
  --complementary-600n: #5c4929;
  --complementary-700n: #3d301b;
  --complementary-800n: #2e2414;
  --complementary-900n: #0f0c07;
  --analogous1-100n: #f6f2f8;
  --analogous1-200n: #e5d6eb;
  --analogous1-300n: #d3badd;
  --analogous1-400n: #975aac;
  --analogous1-500n: #7e4b90;
  --analogous1-600n: #714481;
  --analogous1-700n: #583465;
  --analogous1-800n: #3f2548;
  --analogous1-900n: #190f1d;
  --analogous2-100n: #f7f1f5;
  --analogous2-200n: #e6d5e1;
  --analogous2-300n: #d5b8cd;
  --analogous2-400n: #9b5386;
  --analogous2-500n: #814670;
  --analogous2-600n: #743f65;
  --analogous2-700n: #5a314e;
  --analogous2-800n: #402338;
  --analogous2-900n: #1a0e16;
  --analogous3-100n: #f7f1f2;
  --analogous3-200n: #e7d4d9;
  --analogous3-300n: #d7b6bf;
  --analogous3-400n: #9f4f65;
  --analogous3-500n: #854255;
  --analogous3-600n: #773c4c;
  --analogous3-700n: #5d2e3b;
  --analogous3-800n: #42212a;
  --analogous3-900n: #1a0e11;
  --split1-100n: #f8f4f2;
  --split1-200n: #e9ddd9;
  --split1-300n: #dac7bf;
  --split1-400n: #a57865;
  --split1-500n: #8a6454;
  --split1-600n: #7c5a4c;
  --split1-700n: #61463b;
  --split1-800n: #45322a;
  --split1-900n: #1b1411;
  --split2-100n: #f9f8f1;
  --split2-200n: #edead4;
  --split2-300n: #e1ddb7;
  --split2-400n: #b7ad52;
  --split2-500n: #7a7437;
  --split2-600n: #5c5729;
  --split2-700n: #3d391b;
  --split2-800n: #2e2b14;
  --split2-900n: #0f0f07;
  --square1-100n: #f7f1f2;
  --square1-200n: #e7d4d9;
  --square1-300n: #d7b6bf;
  --square1-400n: #9f4f65;
  --square1-500n: #854255;
  --square1-600n: #773c4c;
  --square1-700n: #5d2e3b;
  --square1-800n: #42212a;
  --square1-900n: #1a0e11;
  --square2-100n: #f9f6f1;
  --square2-200n: #ede4d4;
  --square2-300n: #e1d1b7;
  --square2-400n: #b79152;
  --square2-500n: #7a6037;
  --square2-600n: #5c4929;
  --square2-700n: #3d301b;
  --square2-800n: #2e2414;
  --square2-900n: #0f0c07;
  --square3-100n: #f4f7f2;
  --square3-200n: #dfe9d7;
  --square3-300n: #cadabc;
  --square3-400n: #81a75f;
  --square3-500n: #56703f;
  --square3-600n: #41542f;
  --square3-700n: #2b381f;
  --square3-800n: #202a18;
  --square3-900n: #0b0e08;
  --triadic1-100n: #f8f2f2;
  --triadic1-200n: #e9d8d9;
  --triadic1-300n: #dabfbf;
  --triadic1-400n: #a56464;
  --triadic1-500n: #8a5354;
  --triadic1-600n: #7c4b4b;
  --triadic1-700n: #613a3b;
  --triadic1-800n: #452a2a;
  --triadic1-900n: #1b1111;
  --triadic2-100n: #f7f9f0;
  --triadic2-200n: #e8edd3;
  --triadic2-300n: #d9e0b6;
  --triadic2-400n: #a4b551;
  --triadic2-500n: #6d7837;
  --triadic2-600n: #525a29;
  --triadic2-700n: #373c1b;
  --triadic2-800n: #292e14;
  --triadic2-900n: #0e0f07;
  --tetradic1-100n: #f7f1f5;
  --tetradic1-200n: #e6d5e1;
  --tetradic1-300n: #d5b8cd;
  --tetradic1-400n: #9b5386;
  --tetradic1-500n: #814670;
  --tetradic1-600n: #743f65;
  --tetradic1-700n: #5a314e;
  --tetradic1-800n: #402338;
  --tetradic1-900n: #1a0e16;
  --tetradic2-100n: #f9f6f1;
  --tetradic2-200n: #ede4d4;
  --tetradic2-300n: #e1d1b7;
  --tetradic2-400n: #b79152;
  --tetradic2-500n: #7a6037;
  --tetradic2-600n: #5c4929;
  --tetradic2-700n: #3d301b;
  --tetradic2-800n: #2e2414;
  --tetradic2-900n: #0f0c07;
  --tetradic3-100n: #f7f9f0;
  --tetradic3-200n: #e8edd3;
  --tetradic3-300n: #d9e0b6;
  --tetradic3-400n: #a4b551;
  --tetradic3-500n: #6d7837;
  --tetradic3-600n: #525a29;
  --tetradic3-700n: #373c1b;
  --tetradic3-800n: #292e14;
  --tetradic3-900n: #0e0f07;
  --success-100n: #f4f9f1;
  --success-200n: #deecd5;
  --success-300n: #c8dfb8;
  --success-400n: #7bb155;
  --success-500n: #527738;
  --success-600n: #3e592b;
  --success-700n: #293b1c;
  --success-800n: #1f2c15;
  --success-900n: #0a0f07;
  --danger-100n: #f9f2f1;
  --danger-200n: #ecd7d5;
  --danger-300n: #dfbcb8;
  --danger-400n: #b15d55;
  --danger-500n: #944d47;
  --danger-600n: #854640;
  --danger-700n: #683631;
  --danger-800n: #4a2723;
  --danger-900n: #1e100e;
  --warning-100n: #f9f5f1;
  --warning-200n: #ece0d5;
  --warning-300n: #dfcbb8;
  --warning-400n: #b18355;
  --warning-500n: #775738;
  --warning-600n: #624222;
  --warning-700n: #412c16;
  --warning-800n: #302111;
  --warning-900n: #0f0b07;
  --info-100n: #f2f3f8;
  --info-200n: #d8dde9;
  --info-300n: #bec5d9;
  --info-400n: #6274a4;
  --info-500n: #526189;
  --info-600n: #4a577b;
  --info-700n: #394460;
  --info-800n: #293044;
  --info-900n: #11131b;
  --primary-100a: rgba(239, 238, 252, 0.3);
  --primary-200a: rgba(208, 203, 246, 0.3);
  --primary-300a: rgba(177, 168, 239, 0.3);
  --primary-400a: rgba(67, 45, 217, 0.3);
  --primary-500a: rgba(56, 38, 181, 0.3);
  --primary-600a: rgba(50, 34, 163, 0.3);
  --primary-700a: rgba(39, 26, 127, 0.3);
  --primary-800a: rgba(28, 19, 90, 0.3);
  --primary-900a: rgba(11, 8, 36, 0.3);
  --hue-0-100a: rgba(252, 239, 238, 0.3);
  --hue-0-200a: rgba(246, 206, 203, 0.3);
  --hue-0-300a: rgba(239, 174, 168, 0.3);
  --hue-0-400a: rgba(217, 60, 45, 0.3);
  --hue-0-500a: rgba(181, 50, 38, 0.3);
  --hue-0-600a: rgba(163, 45, 34, 0.3);
  --hue-0-700a: rgba(127, 35, 26, 0.3);
  --hue-0-800a: rgba(90, 25, 19, 0.3);
  --hue-0-900a: rgba(36, 10, 8, 0.3);
  --hue-30-100a: rgba(252, 241, 238, 0.3);
  --hue-30-200a: rgba(246, 213, 203, 0.3);
  --hue-30-300a: rgba(239, 185, 168, 0.3);
  --hue-30-400a: rgba(217, 88, 45, 0.3);
  --hue-30-500a: rgba(181, 73, 38, 0.3);
  --hue-30-600a: rgba(163, 66, 34, 0.3);
  --hue-30-700a: rgba(127, 51, 26, 0.3);
  --hue-30-800a: rgba(90, 37, 19, 0.3);
  --hue-30-900a: rgba(36, 15, 8, 0.3);
  --hue-60-100a: rgba(252, 245, 238, 0.3);
  --hue-60-200a: rgba(246, 224, 203, 0.3);
  --hue-60-300a: rgba(239, 203, 168, 0.3);
  --hue-60-400a: rgba(217, 131, 45, 0.3);
  --hue-60-500a: rgba(145, 87, 30, 0.3);
  --hue-60-600a: rgba(109, 66, 23, 0.3);
  --hue-60-700a: rgba(72, 44, 15, 0.3);
  --hue-60-800a: rgba(54, 33, 11, 0.3);
  --hue-60-900a: rgba(18, 11, 4, 0.3);
  --hue-90-100a: rgba(252, 248, 238, 0.3);
  --hue-90-200a: rgba(246, 235, 203, 0.3);
  --hue-90-300a: rgba(239, 221, 168, 0.3);
  --hue-90-400a: rgba(217, 174, 45, 0.3);
  --hue-90-500a: rgba(145, 116, 30, 0.3);
  --hue-90-600a: rgba(109, 87, 23, 0.3);
  --hue-90-700a: rgba(72, 58, 15, 0.3);
  --hue-90-800a: rgba(54, 44, 11, 0.3);
  --hue-90-900a: rgba(18, 15, 4, 0.3);
  --hue-120-100a: rgba(252, 252, 238, 0.3);
  --hue-120-200a: rgba(246, 246, 203, 0.3);
  --hue-120-300a: rgba(239, 239, 168, 0.3);
  --hue-120-400a: rgba(217, 217, 45, 0.3);
  --hue-120-500a: rgba(145, 145, 30, 0.3);
  --hue-120-600a: rgba(109, 109, 23, 0.3);
  --hue-120-700a: rgba(72, 72, 15, 0.3);
  --hue-120-800a: rgba(54, 54, 11, 0.3);
  --hue-120-900a: rgba(18, 18, 4, 0.3);
  --hue-150-100a: rgba(249, 252, 238, 0.3);
  --hue-150-200a: rgba(236, 246, 203, 0.3);
  --hue-150-300a: rgba(223, 239, 168, 0.3);
  --hue-150-400a: rgba(178, 217, 45, 0.3);
  --hue-150-500a: rgba(119, 145, 30, 0.3);
  --hue-150-600a: rgba(89, 109, 23, 0.3);
  --hue-150-700a: rgba(59, 72, 15, 0.3);
  --hue-150-800a: rgba(45, 54, 11, 0.3);
  --hue-150-900a: rgba(15, 18, 4, 0.3);
  --hue-180-100a: rgba(243, 252, 238, 0.3);
  --hue-180-200a: rgba(220, 246, 203, 0.3);
  --hue-180-300a: rgba(197, 239, 168, 0.3);
  --hue-180-400a: rgba(116, 217, 45, 0.3);
  --hue-180-500a: rgba(77, 145, 30, 0.3);
  --hue-180-600a: rgba(58, 109, 23, 0.3);
  --hue-180-700a: rgba(39, 72, 15, 0.3);
  --hue-180-800a: rgba(29, 54, 11, 0.3);
  --hue-180-900a: rgba(10, 18, 4, 0.3);
  --hue-210-100a: rgba(238, 252, 248, 0.3);
  --hue-210-200a: rgba(203, 246, 234, 0.3);
  --hue-210-300a: rgba(168, 239, 220, 0.3);
  --hue-210-400a: rgba(45, 217, 171, 0.3);
  --hue-210-500a: rgba(30, 145, 114, 0.3);
  --hue-210-600a: rgba(23, 109, 86, 0.3);
  --hue-210-700a: rgba(15, 72, 57, 0.3);
  --hue-210-800a: rgba(11, 54, 43, 0.3);
  --hue-210-900a: rgba(4, 18, 14, 0.3);
  --hue-240-100a: rgba(238, 241, 252, 0.3);
  --hue-240-200a: rgba(203, 214, 246, 0.3);
  --hue-240-300a: rgba(168, 187, 239, 0.3);
  --hue-240-400a: rgba(45, 92, 217, 0.3);
  --hue-240-500a: rgba(38, 77, 181, 0.3);
  --hue-240-600a: rgba(34, 69, 163, 0.3);
  --hue-240-700a: rgba(26, 54, 127, 0.3);
  --hue-240-800a: rgba(19, 38, 90, 0.3);
  --hue-240-900a: rgba(8, 15, 36, 0.3);
  --hue-270-100a: rgba(243, 238, 252, 0.3);
  --hue-270-200a: rgba(220, 203, 246, 0.3);
  --hue-270-300a: rgba(196, 168, 239, 0.3);
  --hue-270-400a: rgba(113, 45, 217, 0.3);
  --hue-270-500a: rgba(94, 38, 181, 0.3);
  --hue-270-600a: rgba(85, 34, 163, 0.3);
  --hue-270-700a: rgba(66, 26, 127, 0.3);
  --hue-270-800a: rgba(47, 19, 90, 0.3);
  --hue-270-900a: rgba(19, 8, 36, 0.3);
  --hue-300-100a: rgba(252, 238, 252, 0.3);
  --hue-300-200a: rgba(246, 203, 246, 0.3);
  --hue-300-300a: rgba(239, 168, 239, 0.3);
  --hue-300-400a: rgba(217, 45, 217, 0.3);
  --hue-300-500a: rgba(181, 38, 181, 0.3);
  --hue-300-600a: rgba(163, 34, 163, 0.3);
  --hue-300-700a: rgba(127, 26, 127, 0.3);
  --hue-300-800a: rgba(90, 19, 90, 0.3);
  --hue-300-900a: rgba(36, 8, 36, 0.3);
  --hue-330-100a: rgba(252, 238, 242, 0.3);
  --hue-330-200a: rgba(246, 203, 216, 0.3);
  --hue-330-300a: rgba(239, 168, 190, 0.3);
  --hue-330-400a: rgba(217, 45, 98, 0.3);
  --hue-330-500a: rgba(181, 38, 82, 0.3);
  --hue-330-600a: rgba(163, 34, 74, 0.3);
  --hue-330-700a: rgba(127, 26, 57, 0.3);
  --hue-330-800a: rgba(90, 19, 41, 0.3);
  --hue-330-900a: rgba(36, 8, 16, 0.3);
  --complementary-100a: rgba(251, 246, 239, 0.3);
  --complementary-200a: rgba(242, 229, 207, 0.3);
  --complementary-300a: rgba(233, 211, 175, 0.3);
  --complementary-400a: rgba(201, 149, 64, 0.3);
  --complementary-500a: rgba(134, 99, 43, 0.3);
  --complementary-600a: rgba(101, 75, 32, 0.3);
  --complementary-700a: rgba(67, 50, 21, 0.3);
  --complementary-800a: rgba(50, 37, 16, 0.3);
  --complementary-900a: rgba(17, 12, 5, 0.3);
  --analogous1-100a: rgba(248, 238, 252, 0.3);
  --analogous1-200a: rgba(234, 203, 246, 0.3);
  --analogous1-300a: rgba(220, 168, 239, 0.3);
  --analogous1-400a: rgba(172, 45, 217, 0.3);
  --analogous1-500a: rgba(143, 38, 181, 0.3);
  --analogous1-600a: rgba(129, 34, 163, 0.3);
  --analogous1-700a: rgba(100, 26, 127, 0.3);
  --analogous1-800a: rgba(72, 19, 90, 0.3);
  --analogous1-900a: rgba(29, 8, 36, 0.3);
  --analogous2-100a: rgba(250, 238, 246, 0.3);
  --analogous2-200a: rgba(240, 203, 229, 0.3);
  --analogous2-300a: rgba(229, 168, 211, 0.3);
  --analogous2-400a: rgba(193, 45, 150, 0.3);
  --analogous2-500a: rgba(161, 38, 125, 0.3);
  --analogous2-600a: rgba(145, 34, 113, 0.3);
  --analogous2-700a: rgba(113, 26, 88, 0.3);
  --analogous2-800a: rgba(80, 19, 63, 0.3);
  --analogous2-900a: rgba(32, 8, 25, 0.3);
  --analogous3-100a: rgba(250, 238, 241, 0.3);
  --analogous3-200a: rgba(240, 203, 213, 0.3);
  --analogous3-300a: rgba(229, 168, 185, 0.3);
  --analogous3-400a: rgba(193, 45, 86, 0.3);
  --analogous3-500a: rgba(161, 38, 72, 0.3);
  --analogous3-600a: rgba(145, 34, 65, 0.3);
  --analogous3-700a: rgba(113, 26, 50, 0.3);
  --analogous3-800a: rgba(80, 19, 36, 0.3);
  --analogous3-900a: rgba(32, 8, 14, 0.3);
  --split1-100a: rgba(250, 243, 240, 0.3);
  --split1-200a: rgba(240, 218, 210, 0.3);
  --split1-300a: rgba(229, 194, 179, 0.3);
  --split1-400a: rgba(193, 108, 73, 0.3);
  --split1-500a: rgba(161, 90, 61, 0.3);
  --split1-600a: rgba(145, 81, 55, 0.3);
  --split1-700a: rgba(113, 63, 43, 0.3);
  --split1-800a: rgba(80, 45, 30, 0.3);
  --split1-900a: rgba(32, 18, 12, 0.3);
  --split2-100a: rgba(251, 249, 239, 0.3);
  --split2-200a: rgba(242, 238, 207, 0.3);
  --split2-300a: rgba(233, 227, 175, 0.3);
  --split2-400a: rgba(201, 187, 64, 0.3);
  --split2-500a: rgba(134, 125, 43, 0.3);
  --split2-600a: rgba(101, 94, 32, 0.3);
  --split2-700a: rgba(67, 62, 21, 0.3);
  --split2-800a: rgba(50, 47, 16, 0.3);
  --split2-900a: rgba(17, 16, 5, 0.3);
  --square1-100a: rgba(250, 238, 241, 0.3);
  --square1-200a: rgba(240, 203, 213, 0.3);
  --square1-300a: rgba(229, 168, 185, 0.3);
  --square1-400a: rgba(193, 45, 86, 0.3);
  --square1-500a: rgba(161, 38, 72, 0.3);
  --square1-600a: rgba(145, 34, 65, 0.3);
  --square1-700a: rgba(113, 26, 50, 0.3);
  --square1-800a: rgba(80, 19, 36, 0.3);
  --square1-900a: rgba(32, 8, 14, 0.3);
  --square2-100a: rgba(251, 246, 239, 0.3);
  --square2-200a: rgba(242, 229, 207, 0.3);
  --square2-300a: rgba(233, 211, 175, 0.3);
  --square2-400a: rgba(201, 149, 64, 0.3);
  --square2-500a: rgba(134, 99, 43, 0.3);
  --square2-600a: rgba(101, 75, 32, 0.3);
  --square2-700a: rgba(67, 50, 21, 0.3);
  --square2-800a: rgba(50, 37, 16, 0.3);
  --square2-900a: rgba(17, 12, 5, 0.3);
  --square3-100a: rgba(244, 250, 239, 0.3);
  --square3-200a: rgba(223, 241, 207, 0.3);
  --square3-300a: rgba(202, 231, 175, 0.3);
  --square3-400a: rgba(127, 198, 64, 0.3);
  --square3-500a: rgba(85, 132, 43, 0.3);
  --square3-600a: rgba(64, 99, 32, 0.3);
  --square3-700a: rgba(42, 66, 21, 0.3);
  --square3-800a: rgba(32, 50, 16, 0.3);
  --square3-900a: rgba(11, 17, 5, 0.3);
  --triadic1-100a: rgba(250, 240, 240, 0.3);
  --triadic1-200a: rgba(240, 209, 210, 0.3);
  --triadic1-300a: rgba(229, 179, 179, 0.3);
  --triadic1-400a: rgba(193, 72, 73, 0.3);
  --triadic1-500a: rgba(161, 60, 61, 0.3);
  --triadic1-600a: rgba(145, 54, 55, 0.3);
  --triadic1-700a: rgba(113, 42, 43, 0.3);
  --triadic1-800a: rgba(80, 30, 30, 0.3);
  --triadic1-900a: rgba(32, 12, 12, 0.3);
  --triadic2-100a: rgba(248, 250, 239, 0.3);
  --triadic2-200a: rgba(235, 241, 207, 0.3);
  --triadic2-300a: rgba(222, 231, 175, 0.3);
  --triadic2-400a: rgba(176, 198, 64, 0.3);
  --triadic2-500a: rgba(117, 132, 43, 0.3);
  --triadic2-600a: rgba(88, 99, 32, 0.3);
  --triadic2-700a: rgba(59, 66, 21, 0.3);
  --triadic2-800a: rgba(44, 50, 16, 0.3);
  --triadic2-900a: rgba(15, 17, 5, 0.3);
  --tetradic1-100a: rgba(250, 238, 246, 0.3);
  --tetradic1-200a: rgba(240, 203, 229, 0.3);
  --tetradic1-300a: rgba(229, 168, 211, 0.3);
  --tetradic1-400a: rgba(193, 45, 150, 0.3);
  --tetradic1-500a: rgba(161, 38, 125, 0.3);
  --tetradic1-600a: rgba(145, 34, 113, 0.3);
  --tetradic1-700a: rgba(113, 26, 88, 0.3);
  --tetradic1-800a: rgba(80, 19, 63, 0.3);
  --tetradic1-900a: rgba(32, 8, 25, 0.3);
  --tetradic2-100a: rgba(251, 246, 239, 0.3);
  --tetradic2-200a: rgba(242, 229, 207, 0.3);
  --tetradic2-300a: rgba(233, 211, 175, 0.3);
  --tetradic2-400a: rgba(201, 149, 64, 0.3);
  --tetradic2-500a: rgba(134, 99, 43, 0.3);
  --tetradic2-600a: rgba(101, 75, 32, 0.3);
  --tetradic2-700a: rgba(67, 50, 21, 0.3);
  --tetradic2-800a: rgba(50, 37, 16, 0.3);
  --tetradic2-900a: rgba(17, 12, 5, 0.3);
  --tetradic3-100a: rgba(248, 250, 239, 0.3);
  --tetradic3-200a: rgba(235, 241, 207, 0.3);
  --tetradic3-300a: rgba(222, 231, 175, 0.3);
  --tetradic3-400a: rgba(176, 198, 64, 0.3);
  --tetradic3-500a: rgba(117, 132, 43, 0.3);
  --tetradic3-600a: rgba(88, 99, 32, 0.3);
  --tetradic3-700a: rgba(59, 66, 21, 0.3);
  --tetradic3-800a: rgba(44, 50, 16, 0.3);
  --tetradic3-900a: rgba(15, 17, 5, 0.3);
  --success-100a: rgba(243, 252, 238, 0.3);
  --success-200a: rgba(220, 246, 203, 0.3);
  --success-300a: rgba(197, 239, 168, 0.3);
  --success-400a: rgba(116, 217, 45, 0.3);
  --success-500a: rgba(77, 145, 30, 0.3);
  --success-600a: rgba(58, 109, 23, 0.3);
  --success-700a: rgba(39, 72, 15, 0.3);
  --success-800a: rgba(29, 54, 11, 0.3);
  --success-900a: rgba(10, 18, 4, 0.3);
  --danger-100a: rgba(252, 239, 238, 0.3);
  --danger-200a: rgba(246, 206, 203, 0.3);
  --danger-300a: rgba(239, 174, 168, 0.3);
  --danger-400a: rgba(217, 60, 45, 0.3);
  --danger-500a: rgba(181, 50, 38, 0.3);
  --danger-600a: rgba(163, 45, 34, 0.3);
  --danger-700a: rgba(127, 35, 26, 0.3);
  --danger-800a: rgba(90, 25, 19, 0.3);
  --danger-900a: rgba(36, 10, 8, 0.3);
  --warning-100a: rgba(252, 245, 238, 0.3);
  --warning-200a: rgba(246, 224, 203, 0.3);
  --warning-300a: rgba(239, 203, 168, 0.3);
  --warning-400a: rgba(217, 131, 45, 0.3);
  --warning-500a: rgba(145, 87, 30, 0.3);
  --warning-600a: rgba(109, 66, 23, 0.3);
  --warning-700a: rgba(72, 44, 15, 0.3);
  --warning-800a: rgba(54, 33, 11, 0.3);
  --warning-900a: rgba(18, 11, 4, 0.3);
  --info-100a: rgba(238, 241, 252, 0.3);
  --info-200a: rgba(203, 214, 246, 0.3);
  --info-300a: rgba(168, 187, 239, 0.3);
  --info-400a: rgba(45, 92, 217, 0.3);
  --info-500a: rgba(38, 77, 181, 0.3);
  --info-600a: rgba(34, 69, 163, 0.3);
  --info-700a: rgba(26, 54, 127, 0.3);
  --info-800a: rgba(19, 38, 90, 0.3);
  --info-900a: rgba(8, 15, 36, 0.3);
}
