/*==============================
=            Buttons           =
===============================*/

.btn {
  display: flex;
  align-items: center;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:focus {
  outline: 0;
}

.btn-secondary {
  background-color: var(--primary-400);
  border-color: var(--primary-400);
}
.btn-secondary:hover {
  background-color: var(-primary-700);
  border-color: var(-primary-700);
}

.theme-dark .btn-primary {
  background-color: var(--primary-400-a);
  border-color: var(--primary-400);
  color: var(--white) !important;
}

.theme-light .btn-primary {
  background-color: var(--primary-200-n);
  border-color: var(--primary-400-a);
  color: var(--primary-700n) !important;
  font-weight: bold;
}

.theme-light .btn-primary:hover {
  background-color: var(--primary-300-n);
  border-color: var(--primary-500-a);
}
.theme-light .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem var(--primary-400-a);
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  appearance: button;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
