:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #f6effd;
  --primary-200: #e3d0f9;
  --primary-300: #d0b1f5;
  --primary-400: #8e43e7;
  --primary-500: #7638c1;
  --primary-600: #6b32ad;
  --primary-700: #532787;
  --primary-800: #3b1c60;
  --primary-900: #180b27;
}
