:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #ebfef2;
  --primary-200: #c2fcd9;
  --primary-300: #99f9c0;
  --primary-400: #0af167;
  --primary-500: #07a145;
  --primary-600: #057934;
  --primary-700: #035022;
  --primary-800: #033c1a;
  --primary-900: #011409;
  --hue-0-100: #feebeb;
  --hue-0-200: #fcc2c2;
  --hue-0-300: #f99999;
  --hue-0-400: #f10a0a;
  --hue-0-500: #c90808;
  --hue-0-600: #b50808;
  --hue-0-700: #8d0606;
  --hue-0-800: #640404;
  --hue-0-900: #280202;
  --hue-30-100: #fef4eb;
  --hue-30-200: #fcdfc2;
  --hue-30-300: #f9c999;
  --hue-30-400: #f17e0a;
  --hue-30-500: #a15407;
  --hue-30-600: #793f05;
  --hue-30-700: #502a03;
  --hue-30-800: #3c2003;
  --hue-30-900: #140b01;
  --hue-60-100: #fefeeb;
  --hue-60-200: #fcfcc2;
  --hue-60-300: #f9f999;
  --hue-60-400: #f1f10a;
  --hue-60-500: #a1a107;
  --hue-60-600: #797905;
  --hue-60-700: #505003;
  --hue-60-800: #3c3c03;
  --hue-60-900: #141401;
  --hue-90-100: #f4feeb;
  --hue-90-200: #dffcc2;
  --hue-90-300: #c9f999;
  --hue-90-400: #7ef10a;
  --hue-90-500: #54a107;
  --hue-90-600: #3f7905;
  --hue-90-700: #2a5003;
  --hue-90-800: #203c03;
  --hue-90-900: #0b1401;
  --hue-120-100: #ebfeeb;
  --hue-120-200: #c2fcc2;
  --hue-120-300: #99f999;
  --hue-120-400: #0af10a;
  --hue-120-500: #07a107;
  --hue-120-600: #057905;
  --hue-120-700: #035003;
  --hue-120-800: #033c03;
  --hue-120-900: #011401;
  --hue-150-100: #ebfef4;
  --hue-150-200: #c2fcdf;
  --hue-150-300: #99f9c9;
  --hue-150-400: #0af17e;
  --hue-150-500: #07a154;
  --hue-150-600: #05793f;
  --hue-150-700: #03502a;
  --hue-150-800: #033c20;
  --hue-150-900: #01140b;
  --hue-180-100: #ebfefe;
  --hue-180-200: #c2fcfc;
  --hue-180-300: #99f9f9;
  --hue-180-400: #0af1f1;
  --hue-180-500: #07a1a1;
  --hue-180-600: #057979;
  --hue-180-700: #035050;
  --hue-180-800: #033c3c;
  --hue-180-900: #011414;
  --hue-210-100: #ebf4fe;
  --hue-210-200: #c2dffc;
  --hue-210-300: #99c9f9;
  --hue-210-400: #0a7ef1;
  --hue-210-500: #0869c9;
  --hue-210-600: #085fb5;
  --hue-210-700: #064a8d;
  --hue-210-800: #043564;
  --hue-210-900: #021528;
  --hue-240-100: #ebebfe;
  --hue-240-200: #c2c2fc;
  --hue-240-300: #9999f9;
  --hue-240-400: #0a0af1;
  --hue-240-500: #0808c9;
  --hue-240-600: #0808b5;
  --hue-240-700: #06068d;
  --hue-240-800: #040464;
  --hue-240-900: #020228;
  --hue-270-100: #f4ebfe;
  --hue-270-200: #dfc2fc;
  --hue-270-300: #c999f9;
  --hue-270-400: #7e0af1;
  --hue-270-500: #6908c9;
  --hue-270-600: #5f08b5;
  --hue-270-700: #4a068d;
  --hue-270-800: #350464;
  --hue-270-900: #150228;
  --hue-300-100: #feebfe;
  --hue-300-200: #fcc2fc;
  --hue-300-300: #f999f9;
  --hue-300-400: #f10af1;
  --hue-300-500: #c908c9;
  --hue-300-600: #b508b5;
  --hue-300-700: #8d068d;
  --hue-300-800: #640464;
  --hue-300-900: #280228;
  --hue-330-100: #feebf4;
  --hue-330-200: #fcc2df;
  --hue-330-300: #f999c9;
  --hue-330-400: #f10a7e;
  --hue-330-500: #c90869;
  --hue-330-600: #b5085f;
  --hue-330-700: #8d064a;
  --hue-330-800: #640435;
  --hue-330-900: #280215;
  --complementary-100: #fbeef6;
  --complementary-200: #f2cbe3;
  --complementary-300: #eaa8d0;
  --complementary-400: #cc2f8d;
  --complementary-500: #aa2776;
  --complementary-600: #99236a;
  --complementary-700: #771b52;
  --complementary-800: #55143b;
  --complementary-900: #220818;
  --analogous1-100: #ebfefa;
  --analogous1-200: #c2fcf1;
  --analogous1-300: #99f9e8;
  --analogous1-400: #0af1c8;
  --analogous1-500: #07a185;
  --analogous1-600: #057964;
  --analogous1-700: #035043;
  --analogous1-800: #033c32;
  --analogous1-900: #011411;
  --analogous2-100: #ebf7fc;
  --analogous2-200: #c2e8f6;
  --analogous2-300: #99d9f0;
  --analogous2-400: #0aa3db;
  --analogous2-500: #076d92;
  --analogous2-600: #05526e;
  --analogous2-700: #033649;
  --analogous2-800: #032937;
  --analogous2-900: #010e12;
  --analogous3-100: #ebeffc;
  --analogous3-200: #c2d0f6;
  --analogous3-300: #99b0f0;
  --analogous3-400: #0a42db;
  --analogous3-500: #0837b7;
  --analogous3-600: #0832a4;
  --analogous3-700: #062780;
  --analogous3-800: #041c5b;
  --analogous3-900: #020b25;
  --split1-100: #f9eefc;
  --split1-200: #eecbf6;
  --split1-300: #e2a8f0;
  --split1-400: #ba2fdb;
  --split1-500: #9b27b7;
  --split1-600: #8c23a4;
  --split1-700: #6d1b80;
  --split1-800: #4e145b;
  --split1-900: #1f0825;
  --split2-100: #fbeeed;
  --split2-200: #f2cbca;
  --split2-300: #eaa8a7;
  --split2-400: #cc2f2c;
  --split2-500: #aa2725;
  --split2-600: #992321;
  --split2-700: #771b1a;
  --split2-800: #551412;
  --split2-900: #220807;
  --square1-100: #ebeffc;
  --square1-200: #c2d0f6;
  --square1-300: #99b0f0;
  --square1-400: #0a42db;
  --square1-500: #0837b7;
  --square1-600: #0832a4;
  --square1-700: #062780;
  --square1-800: #041c5b;
  --square1-900: #020b25;
  --square2-100: #fbeef6;
  --square2-200: #f2cbe3;
  --square2-300: #eaa8d0;
  --square2-400: #cc2f8d;
  --square2-500: #aa2776;
  --square2-600: #99236a;
  --square2-700: #771b52;
  --square2-800: #55143b;
  --square2-900: #220818;
  --square3-100: #fcfceb;
  --square3-200: #f5f7c4;
  --square3-300: #eff19d;
  --square3-400: #d8dd14;
  --square3-500: #90930d;
  --square3-600: #6c6f0a;
  --square3-700: #484a07;
  --square3-800: #363705;
  --square3-900: #121202;
  --triadic1-100: #f1eefc;
  --triadic1-200: #d5cbf6;
  --triadic1-300: #b9a8f0;
  --triadic1-400: #582fdb;
  --triadic1-500: #4927b7;
  --triadic1-600: #4223a4;
  --triadic1-700: #331b80;
  --triadic1-800: #25145b;
  --triadic1-900: #0f0825;
  --triadic2-100: #fbf4ec;
  --triadic2-200: #f2dfc6;
  --triadic2-300: #eac99f;
  --triadic2-400: #cc7d19;
  --triadic2-500: #885311;
  --triadic2-600: #663f0d;
  --triadic2-700: #442a08;
  --triadic2-800: #331f06;
  --triadic2-900: #110a02;
  --tetradic1-100: #ebf7fc;
  --tetradic1-200: #c2e8f6;
  --tetradic1-300: #99d9f0;
  --tetradic1-400: #0aa3db;
  --tetradic1-500: #076d92;
  --tetradic1-600: #05526e;
  --tetradic1-700: #033649;
  --tetradic1-800: #032937;
  --tetradic1-900: #010e12;
  --tetradic2-100: #fbeef6;
  --tetradic2-200: #f2cbe3;
  --tetradic2-300: #eaa8d0;
  --tetradic2-400: #cc2f8d;
  --tetradic2-500: #aa2776;
  --tetradic2-600: #99236a;
  --tetradic2-700: #771b52;
  --tetradic2-800: #55143b;
  --tetradic2-900: #220818;
  --tetradic3-100: #fbf4ec;
  --tetradic3-200: #f2dfc6;
  --tetradic3-300: #eac99f;
  --tetradic3-400: #cc7d19;
  --tetradic3-500: #885311;
  --tetradic3-600: #663f0d;
  --tetradic3-700: #442a08;
  --tetradic3-800: #331f06;
  --tetradic3-900: #110a02;
  --success-100: #ebfeeb;
  --success-200: #c2fcc2;
  --success-300: #99f999;
  --success-400: #0af10a;
  --success-500: #07a107;
  --success-600: #057905;
  --success-700: #035003;
  --success-800: #033c03;
  --success-900: #011401;
  --danger-100: #feebeb;
  --danger-200: #fcc2c2;
  --danger-300: #f99999;
  --danger-400: #f10a0a;
  --danger-500: #c90808;
  --danger-600: #b50808;
  --danger-700: #8d0606;
  --danger-800: #640404;
  --danger-900: #280202;
  --warning-100: #fef4eb;
  --warning-200: #fcdfc2;
  --warning-300: #f9c999;
  --warning-400: #f17e0a;
  --warning-500: #a15407;
  --warning-600: #793f05;
  --warning-700: #502a03;
  --warning-800: #3c2003;
  --warning-900: #140b01;
  --info-100: #ebf4fe;
  --info-200: #c2dffc;
  --info-300: #99c9f9;
  --info-400: #0a7ef1;
  --info-500: #0869c9;
  --info-600: #085fb5;
  --info-700: #064a8d;
  --info-800: #043564;
  --info-900: #021528;
  --primary-100n: #effaf3;
  --primary-200n: #cfefdc;
  --primary-300n: #afe3c4;
  --primary-400n: #3fbc71;
  --primary-500n: #2a7e4c;
  --primary-600n: #205e39;
  --primary-700n: #153e25;
  --primary-800n: #102f1d;
  --primary-900n: #05100a;
  --hue-0-100n: #faefef;
  --hue-0-200n: #efcfcf;
  --hue-0-300n: #e3afaf;
  --hue-0-400n: #bc3f3f;
  --hue-0-500n: #9d3434;
  --hue-0-600n: #8d3030;
  --hue-0-700n: #6e2525;
  --hue-0-800n: #4e1a1a;
  --hue-0-900n: #1f0b0b;
  --hue-30-100n: #faf4ef;
  --hue-30-200n: #efdfcf;
  --hue-30-300n: #e3c9af;
  --hue-30-400n: #bc7e3f;
  --hue-30-500n: #7e542a;
  --hue-30-600n: #6a3f14;
  --hue-30-700n: #462a0d;
  --hue-30-800n: #35200a;
  --hue-30-900n: #120b03;
  --hue-60-100n: #fcfced;
  --hue-60-200n: #f4f4ca;
  --hue-60-300n: #ededa5;
  --hue-60-400n: #d3d328;
  --hue-60-500n: #8d8d1b;
  --hue-60-600n: #6a6a14;
  --hue-60-700n: #46460d;
  --hue-60-800n: #35350a;
  --hue-60-900n: #121203;
  --hue-90-100n: #f4faef;
  --hue-90-200n: #dfefcf;
  --hue-90-300n: #c9e3af;
  --hue-90-400n: #7ebc3f;
  --hue-90-500n: #547e2a;
  --hue-90-600n: #3f5e20;
  --hue-90-700n: #2a3e15;
  --hue-90-800n: #202f10;
  --hue-90-900n: #0b1203;
  --hue-120-100n: #effaef;
  --hue-120-200n: #cfefcf;
  --hue-120-300n: #afe3af;
  --hue-120-400n: #3fbc3f;
  --hue-120-500n: #2a7e2a;
  --hue-120-600n: #205e20;
  --hue-120-700n: #153e15;
  --hue-120-800n: #102f10;
  --hue-120-900n: #051005;
  --hue-150-100n: #effaf4;
  --hue-150-200n: #cfefdf;
  --hue-150-300n: #afe3c9;
  --hue-150-400n: #3fbc7e;
  --hue-150-500n: #2a7e54;
  --hue-150-600n: #205e3f;
  --hue-150-700n: #153e2a;
  --hue-150-800n: #102f20;
  --hue-150-900n: #05100b;
  --hue-180-100n: #effafa;
  --hue-180-200n: #cfefef;
  --hue-180-300n: #afe3e3;
  --hue-180-400n: #3fbcbc;
  --hue-180-500n: #2a7e7e;
  --hue-180-600n: #205e5e;
  --hue-180-700n: #153e3e;
  --hue-180-800n: #102f2f;
  --hue-180-900n: #051010;
  --hue-210-100n: #f1f4f8;
  --hue-210-200n: #cfdfef;
  --hue-210-300n: #afc9e3;
  --hue-210-400n: #3f7ebc;
  --hue-210-500n: #34699d;
  --hue-210-600n: #305f8d;
  --hue-210-700n: #254a6e;
  --hue-210-800n: #1a354e;
  --hue-210-900n: #0b151f;
  --hue-240-100n: #f1f1f8;
  --hue-240-200n: #d4d4ea;
  --hue-240-300n: #b7b7db;
  --hue-240-400n: #5252a9;
  --hue-240-500n: #44448d;
  --hue-240-600n: #3e3e7f;
  --hue-240-700n: #303063;
  --hue-240-800n: #222246;
  --hue-240-900n: #0e0e1c;
  --hue-270-100n: #f4f1f8;
  --hue-270-200n: #dfd1ed;
  --hue-270-300n: #c9b2e0;
  --hue-270-400n: #7e46b5;
  --hue-270-500n: #693a97;
  --hue-270-600n: #5f3588;
  --hue-270-700n: #4a296a;
  --hue-270-800n: #341d4b;
  --hue-270-900n: #150c1e;
  --hue-300-100n: #f9f0f9;
  --hue-300-200n: #edd1ed;
  --hue-300-300n: #e0b2e0;
  --hue-300-400n: #b546b5;
  --hue-300-500n: #973a97;
  --hue-300-600n: #883588;
  --hue-300-700n: #6a296a;
  --hue-300-800n: #4b1d4b;
  --hue-300-900n: #1e0c1e;
  --hue-330-100n: #faeff4;
  --hue-330-200n: #efcfdf;
  --hue-330-300n: #e3afc9;
  --hue-330-400n: #bc3f7e;
  --hue-330-500n: #9d3469;
  --hue-330-600n: #8d305f;
  --hue-330-700n: #6e254a;
  --hue-330-800n: #4e1a35;
  --hue-330-900n: #1f0b15;
  --complementary-100n: #f8f1f5;
  --complementary-200n: #e9d4e1;
  --complementary-300n: #dbb7cd;
  --complementary-400n: #a85386;
  --complementary-500n: #8c4570;
  --complementary-600n: #7e3e64;
  --complementary-700n: #62304e;
  --complementary-800n: #462338;
  --complementary-900n: #1c0e17;
  --analogous1-100n: #effaf7;
  --analogous1-200n: #cfefe9;
  --analogous1-300n: #afe3da;
  --analogous1-400n: #3fbca6;
  --analogous1-500n: #2a7e6e;
  --analogous1-600n: #205e53;
  --analogous1-700n: #153e37;
  --analogous1-800n: #102f29;
  --analogous1-900n: #05100e;
  --analogous2-100n: #eff5f8;
  --analogous2-200n: #cee2ea;
  --analogous2-300n: #add0dc;
  --analogous2-400n: #3a8dab;
  --analogous2-500n: #275e72;
  --analogous2-600n: #1d4756;
  --analogous2-700n: #132f39;
  --analogous2-800n: #0f232b;
  --analogous2-900n: #050c0e;
  --analogous3-100n: #f0f2f7;
  --analogous3-200n: #d2d7e6;
  --analogous3-300n: #b4bdd5;
  --analogous3-400n: #4b609a;
  --analogous3-500n: #3e5081;
  --analogous3-600n: #384874;
  --analogous3-700n: #2c385a;
  --analogous3-800n: #1f2840;
  --analogous3-900n: #0d101a;
  --split1-100n: #f7f2f8;
  --split1-200n: #e7d6eb;
  --split1-300n: #d7bbdd;
  --split1-400n: #9e5cae;
  --split1-500n: #844c92;
  --split1-600n: #774582;
  --split1-700n: #5d3566;
  --split1-800n: #422649;
  --split1-900n: #1b101d;
  --split2-100n: #f8f1f0;
  --split2-200n: #e9d4d3;
  --split2-300n: #dbb7b6;
  --split2-400n: #a75251;
  --split2-500n: #8b4544;
  --split2-600n: #7d3e3d;
  --split2-700n: #62302f;
  --split2-800n: #462221;
  --split2-900n: #1c0e0d;
  --square1-100n: #f0f2f7;
  --square1-200n: #d2d7e6;
  --square1-300n: #b4bdd5;
  --square1-400n: #4b609a;
  --square1-500n: #3e5081;
  --square1-600n: #384874;
  --square1-700n: #2c385a;
  --square1-800n: #1f2840;
  --square1-900n: #0d101a;
  --square2-100n: #f8f1f5;
  --square2-200n: #e9d4e1;
  --square2-300n: #dbb7cd;
  --square2-400n: #a85386;
  --square2-500n: #8c4570;
  --square2-600n: #7e3e64;
  --square2-700n: #62304e;
  --square2-800n: #462338;
  --square2-900n: #1c0e17;
  --square3-100n: #fafaed;
  --square3-200n: #eff0cb;
  --square3-300n: #e5e6a8;
  --square3-400n: #bfc32e;
  --square3-500n: #7f821e;
  --square3-600n: #606217;
  --square3-700n: #404110;
  --square3-800n: #30310c;
  --square3-900n: #101004;
  --triadic1-100n: #f3f2f8;
  --triadic1-200n: #dcd8e9;
  --triadic1-300n: #c5beda;
  --triadic1-400n: #7464a6;
  --triadic1-500n: #61548a;
  --triadic1-600n: #574b7c;
  --triadic1-700n: #433a61;
  --triadic1-800n: #302a45;
  --triadic1-900n: #14111c;
  --triadic2-100n: #f9f4ee;
  --triadic2-200n: #ecdecc;
  --triadic2-300n: #e0c8a9;
  --triadic2-400n: #b57a30;
  --triadic2-500n: #795120;
  --triadic2-600n: #5a3e19;
  --triadic2-700n: #3c2910;
  --triadic2-800n: #2d1e0c;
  --triadic2-900n: #0f0a04;
  --tetradic1-100n: #eff5f8;
  --tetradic1-200n: #cee2ea;
  --tetradic1-300n: #add0dc;
  --tetradic1-400n: #3a8dab;
  --tetradic1-500n: #275e72;
  --tetradic1-600n: #1d4756;
  --tetradic1-700n: #132f39;
  --tetradic1-800n: #0f232b;
  --tetradic1-900n: #050c0e;
  --tetradic2-100n: #f8f1f5;
  --tetradic2-200n: #e9d4e1;
  --tetradic2-300n: #dbb7cd;
  --tetradic2-400n: #a85386;
  --tetradic2-500n: #8c4570;
  --tetradic2-600n: #7e3e64;
  --tetradic2-700n: #62304e;
  --tetradic2-800n: #462338;
  --tetradic2-900n: #1c0e17;
  --tetradic3-100n: #f9f4ee;
  --tetradic3-200n: #ecdecc;
  --tetradic3-300n: #e0c8a9;
  --tetradic3-400n: #b57a30;
  --tetradic3-500n: #795120;
  --tetradic3-600n: #5a3e19;
  --tetradic3-700n: #3c2910;
  --tetradic3-800n: #2d1e0c;
  --tetradic3-900n: #0f0a04;
  --success-100n: #effaef;
  --success-200n: #cfefcf;
  --success-300n: #afe3af;
  --success-400n: #3fbc3f;
  --success-500n: #2a7e2a;
  --success-600n: #205e20;
  --success-700n: #153e15;
  --success-800n: #102f10;
  --success-900n: #051005;
  --danger-100n: #faefef;
  --danger-200n: #efcfcf;
  --danger-300n: #e3afaf;
  --danger-400n: #bc3f3f;
  --danger-500n: #9d3434;
  --danger-600n: #8d3030;
  --danger-700n: #6e2525;
  --danger-800n: #4e1a1a;
  --danger-900n: #1f0b0b;
  --warning-100n: #faf4ef;
  --warning-200n: #efdfcf;
  --warning-300n: #e3c9af;
  --warning-400n: #d37e28;
  --warning-500n: #7e542a;
  --warning-600n: #6a3f14;
  --warning-700n: #462a0d;
  --warning-800n: #35200a;
  --warning-900n: #120b03;
  --info-100n: #f1f4f8;
  --info-200n: #cfdfef;
  --info-300n: #afc9e3;
  --info-400n: #3f7ebc;
  --info-500n: #34699d;
  --info-600n: #305f8d;
  --info-700n: #254a6e;
  --info-800n: #1a354e;
  --info-900n: #0b151f;
  --primary-100a: rgba(235, 254, 242, 0.3);
  --primary-200a: rgba(194, 252, 217, 0.3);
  --primary-300a: rgba(153, 249, 192, 0.3);
  --primary-400a: rgba(10, 241, 103, 0.3);
  --primary-500a: rgba(7, 161, 69, 0.3);
  --primary-600a: rgba(5, 121, 52, 0.3);
  --primary-700a: rgba(3, 80, 34, 0.3);
  --primary-800a: rgba(3, 60, 26, 0.3);
  --primary-900a: rgba(1, 20, 9, 0.3);
  --hue-0-100a: rgba(254, 235, 235, 0.3);
  --hue-0-200a: rgba(252, 194, 194, 0.3);
  --hue-0-300a: rgba(249, 153, 153, 0.3);
  --hue-0-400a: rgba(241, 10, 10, 0.3);
  --hue-0-500a: rgba(201, 8, 8, 0.3);
  --hue-0-600a: rgba(181, 8, 8, 0.3);
  --hue-0-700a: rgba(141, 6, 6, 0.3);
  --hue-0-800a: rgba(100, 4, 4, 0.3);
  --hue-0-900a: rgba(40, 2, 2, 0.3);
  --hue-30-100a: rgba(254, 244, 235, 0.3);
  --hue-30-200a: rgba(252, 223, 194, 0.3);
  --hue-30-300a: rgba(249, 201, 153, 0.3);
  --hue-30-400a: rgba(241, 126, 10, 0.3);
  --hue-30-500a: rgba(161, 84, 7, 0.3);
  --hue-30-600a: rgba(121, 63, 5, 0.3);
  --hue-30-700a: rgba(80, 42, 3, 0.3);
  --hue-30-800a: rgba(60, 32, 3, 0.3);
  --hue-30-900a: rgba(20, 11, 1, 0.3);
  --hue-60-100a: rgba(254, 254, 235, 0.3);
  --hue-60-200a: rgba(252, 252, 194, 0.3);
  --hue-60-300a: rgba(249, 249, 153, 0.3);
  --hue-60-400a: rgba(241, 241, 10, 0.3);
  --hue-60-500a: rgba(161, 161, 7, 0.3);
  --hue-60-600a: rgba(121, 121, 5, 0.3);
  --hue-60-700a: rgba(80, 80, 3, 0.3);
  --hue-60-800a: rgba(60, 60, 3, 0.3);
  --hue-60-900a: rgba(20, 20, 1, 0.3);
  --hue-90-100a: rgba(244, 254, 235, 0.3);
  --hue-90-200a: rgba(223, 252, 194, 0.3);
  --hue-90-300a: rgba(201, 249, 153, 0.3);
  --hue-90-400a: rgba(126, 241, 10, 0.3);
  --hue-90-500a: rgba(84, 161, 7, 0.3);
  --hue-90-600a: rgba(63, 121, 5, 0.3);
  --hue-90-700a: rgba(42, 80, 3, 0.3);
  --hue-90-800a: rgba(32, 60, 3, 0.3);
  --hue-90-900a: rgba(11, 20, 1, 0.3);
  --hue-120-100a: rgba(235, 254, 235, 0.3);
  --hue-120-200a: rgba(194, 252, 194, 0.3);
  --hue-120-300a: rgba(153, 249, 153, 0.3);
  --hue-120-400a: rgba(10, 241, 10, 0.3);
  --hue-120-500a: rgba(7, 161, 7, 0.3);
  --hue-120-600a: rgba(5, 121, 5, 0.3);
  --hue-120-700a: rgba(3, 80, 3, 0.3);
  --hue-120-800a: rgba(3, 60, 3, 0.3);
  --hue-120-900a: rgba(1, 20, 1, 0.3);
  --hue-150-100a: rgba(235, 254, 244, 0.3);
  --hue-150-200a: rgba(194, 252, 223, 0.3);
  --hue-150-300a: rgba(153, 249, 201, 0.3);
  --hue-150-400a: rgba(10, 241, 126, 0.3);
  --hue-150-500a: rgba(7, 161, 84, 0.3);
  --hue-150-600a: rgba(5, 121, 63, 0.3);
  --hue-150-700a: rgba(3, 80, 42, 0.3);
  --hue-150-800a: rgba(3, 60, 32, 0.3);
  --hue-150-900a: rgba(1, 20, 11, 0.3);
  --hue-180-100a: rgba(235, 254, 254, 0.3);
  --hue-180-200a: rgba(194, 252, 252, 0.3);
  --hue-180-300a: rgba(153, 249, 249, 0.3);
  --hue-180-400a: rgba(10, 241, 241, 0.3);
  --hue-180-500a: rgba(7, 161, 161, 0.3);
  --hue-180-600a: rgba(5, 121, 121, 0.3);
  --hue-180-700a: rgba(3, 80, 80, 0.3);
  --hue-180-800a: rgba(3, 60, 60, 0.3);
  --hue-180-900a: rgba(1, 20, 20, 0.3);
  --hue-210-100a: rgba(235, 244, 254, 0.3);
  --hue-210-200a: rgba(194, 223, 252, 0.3);
  --hue-210-300a: rgba(153, 201, 249, 0.3);
  --hue-210-400a: rgba(10, 126, 241, 0.3);
  --hue-210-500a: rgba(8, 105, 201, 0.3);
  --hue-210-600a: rgba(8, 95, 181, 0.3);
  --hue-210-700a: rgba(6, 74, 141, 0.3);
  --hue-210-800a: rgba(4, 53, 100, 0.3);
  --hue-210-900a: rgba(2, 21, 40, 0.3);
  --hue-240-100a: rgba(235, 235, 254, 0.3);
  --hue-240-200a: rgba(194, 194, 252, 0.3);
  --hue-240-300a: rgba(153, 153, 249, 0.3);
  --hue-240-400a: rgba(10, 10, 241, 0.3);
  --hue-240-500a: rgba(8, 8, 201, 0.3);
  --hue-240-600a: rgba(8, 8, 181, 0.3);
  --hue-240-700a: rgba(6, 6, 141, 0.3);
  --hue-240-800a: rgba(4, 4, 100, 0.3);
  --hue-240-900a: rgba(2, 2, 40, 0.3);
  --hue-270-100a: rgba(244, 235, 254, 0.3);
  --hue-270-200a: rgba(223, 194, 252, 0.3);
  --hue-270-300a: rgba(201, 153, 249, 0.3);
  --hue-270-400a: rgba(126, 10, 241, 0.3);
  --hue-270-500a: rgba(105, 8, 201, 0.3);
  --hue-270-600a: rgba(95, 8, 181, 0.3);
  --hue-270-700a: rgba(74, 6, 141, 0.3);
  --hue-270-800a: rgba(53, 4, 100, 0.3);
  --hue-270-900a: rgba(21, 2, 40, 0.3);
  --hue-300-100a: rgba(254, 235, 254, 0.3);
  --hue-300-200a: rgba(252, 194, 252, 0.3);
  --hue-300-300a: rgba(249, 153, 249, 0.3);
  --hue-300-400a: rgba(241, 10, 241, 0.3);
  --hue-300-500a: rgba(201, 8, 201, 0.3);
  --hue-300-600a: rgba(181, 8, 181, 0.3);
  --hue-300-700a: rgba(141, 6, 141, 0.3);
  --hue-300-800a: rgba(100, 4, 100, 0.3);
  --hue-300-900a: rgba(40, 2, 40, 0.3);
  --hue-330-100a: rgba(254, 235, 244, 0.3);
  --hue-330-200a: rgba(252, 194, 223, 0.3);
  --hue-330-300a: rgba(249, 153, 201, 0.3);
  --hue-330-400a: rgba(241, 10, 126, 0.3);
  --hue-330-500a: rgba(201, 8, 105, 0.3);
  --hue-330-600a: rgba(181, 8, 95, 0.3);
  --hue-330-700a: rgba(141, 6, 74, 0.3);
  --hue-330-800a: rgba(100, 4, 53, 0.3);
  --hue-330-900a: rgba(40, 2, 21, 0.3);
  --complementary-100a: rgba(251, 238, 246, 0.3);
  --complementary-200a: rgba(242, 203, 227, 0.3);
  --complementary-300a: rgba(234, 168, 208, 0.3);
  --complementary-400a: rgba(204, 47, 141, 0.3);
  --complementary-500a: rgba(170, 39, 118, 0.3);
  --complementary-600a: rgba(153, 35, 106, 0.3);
  --complementary-700a: rgba(119, 27, 82, 0.3);
  --complementary-800a: rgba(85, 20, 59, 0.3);
  --complementary-900a: rgba(34, 8, 24, 0.3);
  --analogous1-100a: rgba(235, 254, 250, 0.3);
  --analogous1-200a: rgba(194, 252, 241, 0.3);
  --analogous1-300a: rgba(153, 249, 232, 0.3);
  --analogous1-400a: rgba(10, 241, 200, 0.3);
  --analogous1-500a: rgba(7, 161, 133, 0.3);
  --analogous1-600a: rgba(5, 121, 100, 0.3);
  --analogous1-700a: rgba(3, 80, 67, 0.3);
  --analogous1-800a: rgba(3, 60, 50, 0.3);
  --analogous1-900a: rgba(1, 20, 17, 0.3);
  --analogous2-100a: rgba(235, 247, 252, 0.3);
  --analogous2-200a: rgba(194, 232, 246, 0.3);
  --analogous2-300a: rgba(153, 217, 240, 0.3);
  --analogous2-400a: rgba(10, 163, 219, 0.3);
  --analogous2-500a: rgba(7, 109, 146, 0.3);
  --analogous2-600a: rgba(5, 82, 110, 0.3);
  --analogous2-700a: rgba(3, 54, 73, 0.3);
  --analogous2-800a: rgba(3, 41, 55, 0.3);
  --analogous2-900a: rgba(1, 14, 18, 0.3);
  --analogous3-100a: rgba(235, 239, 252, 0.3);
  --analogous3-200a: rgba(194, 208, 246, 0.3);
  --analogous3-300a: rgba(153, 176, 240, 0.3);
  --analogous3-400a: rgba(10, 66, 219, 0.3);
  --analogous3-500a: rgba(8, 55, 183, 0.3);
  --analogous3-600a: rgba(8, 50, 164, 0.3);
  --analogous3-700a: rgba(6, 39, 128, 0.3);
  --analogous3-800a: rgba(4, 28, 91, 0.3);
  --analogous3-900a: rgba(2, 11, 37, 0.3);
  --split1-100a: rgba(249, 238, 252, 0.3);
  --split1-200a: rgba(238, 203, 246, 0.3);
  --split1-300a: rgba(226, 168, 240, 0.3);
  --split1-400a: rgba(186, 47, 219, 0.3);
  --split1-500a: rgba(155, 39, 183, 0.3);
  --split1-600a: rgba(140, 35, 164, 0.3);
  --split1-700a: rgba(109, 27, 128, 0.3);
  --split1-800a: rgba(78, 20, 91, 0.3);
  --split1-900a: rgba(31, 8, 37, 0.3);
  --split2-100a: rgba(251, 238, 237, 0.3);
  --split2-200a: rgba(242, 203, 202, 0.3);
  --split2-300a: rgba(234, 168, 167, 0.3);
  --split2-400a: rgba(204, 47, 44, 0.3);
  --split2-500a: rgba(170, 39, 37, 0.3);
  --split2-600a: rgba(153, 35, 33, 0.3);
  --split2-700a: rgba(119, 27, 26, 0.3);
  --split2-800a: rgba(85, 20, 18, 0.3);
  --split2-900a: rgba(34, 8, 7, 0.3);
  --square1-100a: rgba(235, 239, 252, 0.3);
  --square1-200a: rgba(194, 208, 246, 0.3);
  --square1-300a: rgba(153, 176, 240, 0.3);
  --square1-400a: rgba(10, 66, 219, 0.3);
  --square1-500a: rgba(8, 55, 183, 0.3);
  --square1-600a: rgba(8, 50, 164, 0.3);
  --square1-700a: rgba(6, 39, 128, 0.3);
  --square1-800a: rgba(4, 28, 91, 0.3);
  --square1-900a: rgba(2, 11, 37, 0.3);
  --square2-100a: rgba(251, 238, 246, 0.3);
  --square2-200a: rgba(242, 203, 227, 0.3);
  --square2-300a: rgba(234, 168, 208, 0.3);
  --square2-400a: rgba(204, 47, 141, 0.3);
  --square2-500a: rgba(170, 39, 118, 0.3);
  --square2-600a: rgba(153, 35, 106, 0.3);
  --square2-700a: rgba(119, 27, 82, 0.3);
  --square2-800a: rgba(85, 20, 59, 0.3);
  --square2-900a: rgba(34, 8, 24, 0.3);
  --square3-100a: rgba(252, 252, 235, 0.3);
  --square3-200a: rgba(245, 247, 196, 0.3);
  --square3-300a: rgba(239, 241, 157, 0.3);
  --square3-400a: rgba(216, 221, 20, 0.3);
  --square3-500a: rgba(144, 147, 13, 0.3);
  --square3-600a: rgba(108, 111, 10, 0.3);
  --square3-700a: rgba(72, 74, 7, 0.3);
  --square3-800a: rgba(54, 55, 5, 0.3);
  --square3-900a: rgba(18, 18, 2, 0.3);
  --triadic1-100a: rgba(241, 238, 252, 0.3);
  --triadic1-200a: rgba(213, 203, 246, 0.3);
  --triadic1-300a: rgba(185, 168, 240, 0.3);
  --triadic1-400a: rgba(88, 47, 219, 0.3);
  --triadic1-500a: rgba(73, 39, 183, 0.3);
  --triadic1-600a: rgba(66, 35, 164, 0.3);
  --triadic1-700a: rgba(51, 27, 128, 0.3);
  --triadic1-800a: rgba(37, 20, 91, 0.3);
  --triadic1-900a: rgba(15, 8, 37, 0.3);
  --triadic2-100a: rgba(251, 244, 236, 0.3);
  --triadic2-200a: rgba(242, 223, 198, 0.3);
  --triadic2-300a: rgba(234, 201, 159, 0.3);
  --triadic2-400a: rgba(204, 125, 25, 0.3);
  --triadic2-500a: rgba(136, 83, 17, 0.3);
  --triadic2-600a: rgba(102, 63, 13, 0.3);
  --triadic2-700a: rgba(68, 42, 8, 0.3);
  --triadic2-800a: rgba(51, 31, 6, 0.3);
  --triadic2-900a: rgba(17, 10, 2, 0.3);
  --tetradic1-100a: rgba(235, 247, 252, 0.3);
  --tetradic1-200a: rgba(194, 232, 246, 0.3);
  --tetradic1-300a: rgba(153, 217, 240, 0.3);
  --tetradic1-400a: rgba(10, 163, 219, 0.3);
  --tetradic1-500a: rgba(7, 109, 146, 0.3);
  --tetradic1-600a: rgba(5, 82, 110, 0.3);
  --tetradic1-700a: rgba(3, 54, 73, 0.3);
  --tetradic1-800a: rgba(3, 41, 55, 0.3);
  --tetradic1-900a: rgba(1, 14, 18, 0.3);
  --tetradic2-100a: rgba(251, 238, 246, 0.3);
  --tetradic2-200a: rgba(242, 203, 227, 0.3);
  --tetradic2-300a: rgba(234, 168, 208, 0.3);
  --tetradic2-400a: rgba(204, 47, 141, 0.3);
  --tetradic2-500a: rgba(170, 39, 118, 0.3);
  --tetradic2-600a: rgba(153, 35, 106, 0.3);
  --tetradic2-700a: rgba(119, 27, 82, 0.3);
  --tetradic2-800a: rgba(85, 20, 59, 0.3);
  --tetradic2-900a: rgba(34, 8, 24, 0.3);
  --tetradic3-100a: rgba(251, 244, 236, 0.3);
  --tetradic3-200a: rgba(242, 223, 198, 0.3);
  --tetradic3-300a: rgba(234, 201, 159, 0.3);
  --tetradic3-400a: rgba(204, 125, 25, 0.3);
  --tetradic3-500a: rgba(136, 83, 17, 0.3);
  --tetradic3-600a: rgba(102, 63, 13, 0.3);
  --tetradic3-700a: rgba(68, 42, 8, 0.3);
  --tetradic3-800a: rgba(51, 31, 6, 0.3);
  --tetradic3-900a: rgba(17, 10, 2, 0.3);
  --success-100a: rgba(235, 254, 235, 0.3);
  --success-200a: rgba(194, 252, 194, 0.3);
  --success-300a: rgba(153, 249, 153, 0.3);
  --success-400a: rgba(10, 241, 10, 0.3);
  --success-500a: rgba(7, 161, 7, 0.3);
  --success-600a: rgba(5, 121, 5, 0.3);
  --success-700a: rgba(3, 80, 3, 0.3);
  --success-800a: rgba(3, 60, 3, 0.3);
  --success-900a: rgba(1, 20, 1, 0.3);
  --danger-100a: rgba(254, 235, 235, 0.3);
  --danger-200a: rgba(252, 194, 194, 0.3);
  --danger-300a: rgba(249, 153, 153, 0.3);
  --danger-400a: rgba(241, 10, 10, 0.3);
  --danger-500a: rgba(201, 8, 8, 0.3);
  --danger-600a: rgba(181, 8, 8, 0.3);
  --danger-700a: rgba(141, 6, 6, 0.3);
  --danger-800a: rgba(100, 4, 4, 0.3);
  --danger-900a: rgba(40, 2, 2, 0.3);
  --warning-100a: rgba(254, 244, 235, 0.3);
  --warning-200a: rgba(252, 223, 194, 0.3);
  --warning-300a: rgba(249, 201, 153, 0.3);
  --warning-400a: rgba(241, 126, 10, 0.3);
  --warning-500a: rgba(161, 84, 7, 0.3);
  --warning-600a: rgba(121, 63, 5, 0.3);
  --warning-700a: rgba(80, 42, 3, 0.3);
  --warning-800a: rgba(60, 32, 3, 0.3);
  --warning-900a: rgba(20, 11, 1, 0.3);
  --info-100a: rgba(235, 244, 254, 0.3);
  --info-200a: rgba(194, 223, 252, 0.3);
  --info-300a: rgba(153, 201, 249, 0.3);
  --info-400a: rgba(10, 126, 241, 0.3);
  --info-500a: rgba(8, 105, 201, 0.3);
  --info-600a: rgba(8, 95, 181, 0.3);
  --info-700a: rgba(6, 74, 141, 0.3);
  --info-800a: rgba(4, 53, 100, 0.3);
  --info-900a: rgba(2, 21, 40, 0.3);
}
