:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #f5fff9;
  --primary-200: #e1feec;
  --primary-300: #ccfce0;
  --primary-400: #85f8b3;
  --primary-500: #83d0a2;
  --primary-600: #82bc9a;
  --primary-700: #81a891;
  --primary-800: #819e8d;
  --primary-900: #808a84;
  --hue-0-100: #fff6f5;
  --hue-0-200: #fee3e1;
  --hue-0-300: #fcd1cc;
  --hue-0-400: #f88f85;
  --hue-0-500: #e48d84;
  --hue-0-600: #da8b84;
  --hue-0-700: #c68983;
  --hue-0-800: #b28682;
  --hue-0-900: #948281;
  --hue-30-100: #fff7f5;
  --hue-30-200: #fee8e1;
  --hue-30-300: #fcd8cc;
  --hue-30-400: #f8a285;
  --hue-30-500: #e49c84;
  --hue-30-600: #da9984;
  --hue-30-700: #c69483;
  --hue-30-800: #b28e82;
  --hue-30-900: #948581;
  --hue-60-100: #fffaf5;
  --hue-60-200: #feefe1;
  --hue-60-300: #fce4cc;
  --hue-60-400: #f8bf85;
  --hue-60-500: #d0aa83;
  --hue-60-600: #bc9f82;
  --hue-60-700: #a89581;
  --hue-60-800: #9e9081;
  --hue-60-900: #8a8580;
  --hue-90-100: #fffcf5;
  --hue-90-200: #fef6e1;
  --hue-90-300: #fcf0cc;
  --hue-90-400: #f8db85;
  --hue-90-500: #d0bd83;
  --hue-90-600: #bcae82;
  --hue-90-700: #a89e81;
  --hue-90-800: #9e9781;
  --hue-90-900: #8a8780;
  --hue-120-100: #fffff5;
  --hue-120-200: #fefee1;
  --hue-120-300: #fcfccc;
  --hue-120-400: #f8f885;
  --hue-120-500: #d0d083;
  --hue-120-600: #bcbc82;
  --hue-120-700: #a8a881;
  --hue-120-800: #9e9e81;
  --hue-120-900: #8a8a80;
  --hue-150-100: #fdfff5;
  --hue-150-200: #f7fee1;
  --hue-150-300: #f2fccc;
  --hue-150-400: #def885;
  --hue-150-500: #bfd083;
  --hue-150-600: #afbc82;
  --hue-150-700: #9fa881;
  --hue-150-800: #979e81;
  --hue-150-900: #888a80;
  --hue-180-100: #f9fff5;
  --hue-180-200: #edfee1;
  --hue-180-300: #e0fccc;
  --hue-180-400: #b4f885;
  --hue-180-500: #a3d083;
  --hue-180-600: #9abc82;
  --hue-180-700: #91a881;
  --hue-180-800: #8d9e81;
  --hue-180-900: #848a80;
  --hue-210-100: #f5fffc;
  --hue-210-200: #e1fef6;
  --hue-210-300: #ccfcef;
  --hue-210-400: #85f8d9;
  --hue-210-500: #83d0bb;
  --hue-210-600: #82bcad;
  --hue-210-700: #81a89e;
  --hue-210-800: #819e96;
  --hue-210-900: #808a87;
  --hue-240-100: #f5f8ff;
  --hue-240-200: #e1e9fe;
  --hue-240-300: #ccd9fc;
  --hue-240-400: #85a4f8;
  --hue-240-500: #849ee4;
  --hue-240-600: #849bda;
  --hue-240-700: #8395c6;
  --hue-240-800: #828fb2;
  --hue-240-900: #818694;
  --hue-270-100: #f9f5ff;
  --hue-270-200: #ece1fe;
  --hue-270-300: #dfccfc;
  --hue-270-400: #b385f8;
  --hue-270-500: #aa84e4;
  --hue-270-600: #a684da;
  --hue-270-700: #9e83c6;
  --hue-270-800: #9582b2;
  --hue-270-900: #888194;
  --hue-300-100: #fff5ff;
  --hue-300-200: #fee1fe;
  --hue-300-300: #fcccfc;
  --hue-300-400: #f885f8;
  --hue-300-500: #e484e4;
  --hue-300-600: #da84da;
  --hue-300-700: #c683c6;
  --hue-300-800: #b282b2;
  --hue-300-900: #948194;
  --hue-330-100: #fff5f8;
  --hue-330-200: #fee1ea;
  --hue-330-300: #fcccdb;
  --hue-330-400: #f885a9;
  --hue-330-500: #e484a2;
  --hue-330-600: #da849f;
  --hue-330-700: #c68398;
  --hue-330-800: #b28291;
  --hue-330-900: #948187;
  --complementary-100: #fdf8f6;
  --complementary-200: #f9e8e3;
  --complementary-300: #f5d9cf;
  --complementary-400: #e6a28c;
  --complementary-500: #d59d8a;
  --complementary-600: #cc9a89;
  --complementary-700: #bb9487;
  --complementary-800: #aa8e85;
  --complementary-900: #918682;
  --analogous1-100: #f5fefe;
  --analogous1-200: #e1fbfb;
  --analogous1-300: #ccf9f8;
  --analogous1-400: #85f0ed;
  --analogous1-500: #83cac9;
  --analogous1-600: #82b8b7;
  --analogous1-700: #81a5a4;
  --analogous1-800: #819c9b;
  --analogous1-900: #808989;
  --analogous2-100: #f5f8fe;
  --analogous2-200: #e1e9fb;
  --analogous2-300: #ccdaf8;
  --analogous2-400: #85a6ed;
  --analogous2-500: #84a0db;
  --analogous2-600: #849dd2;
  --analogous2-700: #8396c0;
  --analogous2-800: #8290ad;
  --analogous2-900: #818692;
  --analogous3-100: #faf7fe;
  --analogous3-200: #f0e5fb;
  --analogous3-300: #e5d4f8;
  --analogous3-400: #c097ed;
  --analogous3-500: #b693db;
  --analogous3-600: #b091d2;
  --analogous3-700: #a58dc0;
  --analogous3-800: #9b8aad;
  --analogous3-900: #8b8492;
  --split1-100: #fdf7f8;
  --split1-200: #f9e5e9;
  --split1-300: #f5d4da;
  --split1-400: #e697a7;
  --split1-500: #d593a0;
  --split1-600: #cc919d;
  --split1-700: #bb8d97;
  --split1-800: #aa8a90;
  --split1-900: #918486;
  --split2-100: #fdf9f6;
  --split2-200: #f9ede3;
  --split2-300: #f5e1cf;
  --split2-400: #e6b88c;
  --split2-500: #c4a588;
  --split2-600: #b39c86;
  --split2-700: #a29284;
  --split2-800: #998e83;
  --split2-900: #888481;
  --square1-100: #faf7fe;
  --square1-200: #f0e5fb;
  --square1-300: #e5d4f8;
  --square1-400: #c097ed;
  --square1-500: #b693db;
  --square1-600: #b091d2;
  --square1-700: #a58dc0;
  --square1-800: #9b8aad;
  --square1-900: #8b8492;
  --square2-100: #fdf8f6;
  --square2-200: #f9e8e3;
  --square2-300: #f5d9cf;
  --square2-400: #e6a28c;
  --square2-500: #d59d8a;
  --square2-600: #cc9a89;
  --square2-700: #bb9487;
  --square2-800: #aa8e85;
  --square2-900: #918682;
  --square3-100: #fefdf5;
  --square3-200: #faf9e2;
  --square3-300: #f7f5ce;
  --square3-400: #ece78a;
  --square3-500: #c8c486;
  --square3-600: #b6b385;
  --square3-700: #a4a283;
  --square3-800: #9b9a82;
  --square3-900: #898881;
  --triadic1-100: #fdf7fc;
  --triadic1-200: #f9e5f6;
  --triadic1-300: #f5d4f0;
  --triadic1-400: #e697dc;
  --triadic1-500: #d593cc;
  --triadic1-600: #cc91c5;
  --triadic1-700: #bb8db5;
  --triadic1-800: #aa8aa6;
  --triadic1-900: #91848f;
  --triadic2-100: #fefbf5;
  --triadic2-200: #faf3e2;
  --triadic2-300: #f7ebce;
  --triadic2-400: #ecce8a;
  --triadic2-500: #c8b486;
  --triadic2-600: #b6a785;
  --triadic2-700: #a49a83;
  --triadic2-800: #9b9382;
  --triadic2-900: #898681;
  --tetradic1-100: #f5f8fe;
  --tetradic1-200: #e1e9fb;
  --tetradic1-300: #ccdaf8;
  --tetradic1-400: #85a6ed;
  --tetradic1-500: #84a0db;
  --tetradic1-600: #849dd2;
  --tetradic1-700: #8396c0;
  --tetradic1-800: #8290ad;
  --tetradic1-900: #818692;
  --tetradic2-100: #fdf8f6;
  --tetradic2-200: #f9e8e3;
  --tetradic2-300: #f5d9cf;
  --tetradic2-400: #e6a28c;
  --tetradic2-500: #d59d8a;
  --tetradic2-600: #cc9a89;
  --tetradic2-700: #bb9487;
  --tetradic2-800: #aa8e85;
  --tetradic2-900: #918682;
  --tetradic3-100: #fefbf5;
  --tetradic3-200: #faf3e2;
  --tetradic3-300: #f7ebce;
  --tetradic3-400: #ecce8a;
  --tetradic3-500: #c8b486;
  --tetradic3-600: #b6a785;
  --tetradic3-700: #a49a83;
  --tetradic3-800: #9b9382;
  --tetradic3-900: #898681;
  --success-100: #f9fff5;
  --success-200: #edfee1;
  --success-300: #e0fccc;
  --success-400: #b4f885;
  --success-500: #a3d083;
  --success-600: #9abc82;
  --success-700: #91a881;
  --success-800: #8d9e81;
  --success-900: #848a80;
  --danger-100: #fff6f5;
  --danger-200: #fee3e1;
  --danger-300: #fcd1cc;
  --danger-400: #f88f85;
  --danger-500: #e48d84;
  --danger-600: #da8b84;
  --danger-700: #c68983;
  --danger-800: #b28682;
  --danger-900: #948281;
  --warning-100: #fffaf5;
  --warning-200: #feefe1;
  --warning-300: #fce4cc;
  --warning-400: #f8bf85;
  --warning-500: #d0aa83;
  --warning-600: #bc9f82;
  --warning-700: #a89581;
  --warning-800: #9e9081;
  --warning-900: #8a8580;
  --info-100: #f5f8ff;
  --info-200: #e1e9fe;
  --info-300: #ccd9fc;
  --info-400: #85a4f8;
  --info-500: #849ee4;
  --info-600: #849bda;
  --info-700: #8395c6;
  --info-800: #828fb2;
  --info-900: #818694;
  --primary-100n: #effaf3;
  --primary-200n: #cfefdc;
  --primary-300n: #afe3c4;
  --primary-400n: #3fbc71;
  --primary-500n: #2a7e4c;
  --primary-600n: #205e39;
  --primary-700n: #153e25;
  --primary-800n: #102f1d;
  --primary-900n: #05100a;
  --hue-0-100n: #faf0ef;
  --hue-0-200n: #efd2cf;
  --hue-0-300n: #e3b4af;
  --hue-0-400n: #bc4a3f;
  --hue-0-500n: #9d3e34;
  --hue-0-600n: #8d3830;
  --hue-0-700n: #6e2c25;
  --hue-0-800n: #4e1f1a;
  --hue-0-900n: #1f0c0b;
  --hue-30-100n: #faf2ef;
  --hue-30-200n: #efd7cf;
  --hue-30-300n: #e3bcaf;
  --hue-30-400n: #bc5e3f;
  --hue-30-500n: #9d4f34;
  --hue-30-600n: #8d4730;
  --hue-30-700n: #6e3725;
  --hue-30-800n: #4e271a;
  --hue-30-900n: #1f100b;
  --hue-60-100n: #faf4ef;
  --hue-60-200n: #efdfcf;
  --hue-60-300n: #e3c9af;
  --hue-60-400n: #d37e28;
  --hue-60-500n: #7e542a;
  --hue-60-600n: #6a3f14;
  --hue-60-700n: #462a0d;
  --hue-60-800n: #35200a;
  --hue-60-900n: #120b03;
  --hue-90-100n: #fcf8ed;
  --hue-90-200n: #f4e9ca;
  --hue-90-300n: #eddba5;
  --hue-90-400n: #d3a828;
  --hue-90-500n: #8d701b;
  --hue-90-600n: #6a5414;
  --hue-90-700n: #46380d;
  --hue-90-800n: #352a0a;
  --hue-90-900n: #120e03;
  --hue-120-100n: #fcfced;
  --hue-120-200n: #f4f4ca;
  --hue-120-300n: #ededa5;
  --hue-120-400n: #d3d328;
  --hue-120-500n: #8d8d1b;
  --hue-120-600n: #6a6a14;
  --hue-120-700n: #46460d;
  --hue-120-800n: #35350a;
  --hue-120-900n: #121203;
  --hue-150-100n: #f9fced;
  --hue-150-200n: #ebf4ca;
  --hue-150-300n: #ddeda5;
  --hue-150-400n: #acd328;
  --hue-150-500n: #738d1b;
  --hue-150-600n: #576a14;
  --hue-150-700n: #39460d;
  --hue-150-800n: #2b350a;
  --hue-150-900n: #0f1203;
  --hue-180-100n: #f4faef;
  --hue-180-200n: #dcefcf;
  --hue-180-300n: #c5e3af;
  --hue-180-400n: #72bc3f;
  --hue-180-500n: #4c7e2a;
  --hue-180-600n: #3a5e20;
  --hue-180-700n: #263e15;
  --hue-180-800n: #1d2f10;
  --hue-180-900n: #0a1005;
  --hue-210-100n: #effaf7;
  --hue-210-200n: #cfefe6;
  --hue-210-300n: #afe3d5;
  --hue-210-400n: #3fbc9a;
  --hue-210-500n: #2a7e67;
  --hue-210-600n: #205e4e;
  --hue-210-700n: #153e33;
  --hue-210-800n: #102f27;
  --hue-210-900n: #05100d;
  --hue-240-100n: #f1f3f8;
  --hue-240-200n: #d4daea;
  --hue-240-300n: #b7c1db;
  --hue-240-400n: #526aa9;
  --hue-240-500n: #44588d;
  --hue-240-600n: #3e4f7f;
  --hue-240-700n: #303e63;
  --hue-240-800n: #222c46;
  --hue-240-900n: #0e121c;
  --hue-270-100n: #f4f1f8;
  --hue-270-200n: #ddd4ea;
  --hue-270-300n: #c5b7db;
  --hue-270-400n: #7552a9;
  --hue-270-500n: #61448d;
  --hue-270-600n: #583e7f;
  --hue-270-700n: #443063;
  --hue-270-800n: #312246;
  --hue-270-900n: #130e1c;
  --hue-300-100n: #f9f0f9;
  --hue-300-200n: #edd1ed;
  --hue-300-300n: #e0b2e0;
  --hue-300-400n: #b546b5;
  --hue-300-500n: #973a97;
  --hue-300-600n: #883588;
  --hue-300-700n: #6a296a;
  --hue-300-800n: #4b1d4b;
  --hue-300-900n: #1e0c1e;
  --hue-330-100n: #faeff3;
  --hue-330-200n: #efcfd9;
  --hue-330-300n: #e3afbf;
  --hue-330-400n: #bc3f66;
  --hue-330-500n: #9d3455;
  --hue-330-600n: #8d304d;
  --hue-330-700n: #6e253c;
  --hue-330-800n: #4e1a2a;
  --hue-330-900n: #1f0b11;
  --complementary-100n: #f8f2ef;
  --complementary-200n: #e8d6d0;
  --complementary-300n: #d9bbb0;
  --complementary-400n: #a35a42;
  --complementary-500n: #884b37;
  --complementary-600n: #7a4432;
  --complementary-700n: #5f3427;
  --complementary-800n: #44261b;
  --complementary-900n: #1b0f0b;
  --analogous1-100n: #eff8f8;
  --analogous1-200n: #ceebea;
  --analogous1-300n: #addedc;
  --analogous1-400n: #3bafac;
  --analogous1-500n: #287473;
  --analogous1-600n: #1e5756;
  --analogous1-700n: #143a39;
  --analogous1-800n: #0f2c2b;
  --analogous1-900n: #050f0e;
  --analogous2-100n: #f0f2f7;
  --analogous2-200n: #d2d9e6;
  --analogous2-300n: #b4bfd5;
  --analogous2-400n: #4b649a;
  --analogous2-500n: #3e5481;
  --analogous2-600n: #384b74;
  --analogous2-700n: #2c3b5a;
  --analogous2-800n: #1f2a40;
  --analogous2-900n: #0d111a;
  --analogous3-100n: #f5f2f8;
  --analogous3-200n: #e0d6eb;
  --analogous3-300n: #ccbbdd;
  --analogous3-400n: #8364a6;
  --analogous3-500n: #6e548a;
  --analogous3-600n: #634b7c;
  --analogous3-700n: #4d3a61;
  --analogous3-800n: #372a45;
  --analogous3-900n: #16111c;
  --split1-100n: #f8f1f2;
  --split1-200n: #e9d4d8;
  --split1-300n: #dbb7be;
  --split1-400n: #a85364;
  --split1-500n: #8c4553;
  --split1-600n: #7e3e4b;
  --split1-700n: #62303a;
  --split1-800n: #46232a;
  --split1-900n: #1c0e11;
  --split2-100n: #f8f3ef;
  --split2-200n: #e8dbd0;
  --split2-300n: #d9c4b0;
  --split2-400n: #a37142;
  --split2-500n: #6d4c2c;
  --split2-600n: #523921;
  --split2-700n: #362516;
  --split2-800n: #291c10;
  --split2-900n: #0e0905;
  --square1-100n: #f5f2f8;
  --square1-200n: #e0d6eb;
  --square1-300n: #ccbbdd;
  --square1-400n: #8364a6;
  --square1-500n: #6e548a;
  --square1-600n: #634b7c;
  --square1-700n: #4d3a61;
  --square1-800n: #372a45;
  --square1-900n: #16111c;
  --square2-100n: #f8f2ef;
  --square2-200n: #e8d6d0;
  --square2-300n: #d9bbb0;
  --square2-400n: #a35a42;
  --square2-500n: #884b37;
  --square2-600n: #7a4432;
  --square2-700n: #5f3427;
  --square2-800n: #44261b;
  --square2-900n: #1b0f0b;
  --square3-100n: #faf9ed;
  --square3-200n: #efedca;
  --square3-300n: #e4e1a8;
  --square3-400n: #bfb72d;
  --square3-500n: #7f7a1e;
  --square3-600n: #5f5c17;
  --square3-700n: #403d0f;
  --square3-800n: #302e0b;
  --square3-900n: #100f04;
  --triadic1-100n: #f8f1f7;
  --triadic1-200n: #e8d5e5;
  --triadic1-300n: #d9b9d5;
  --triadic1-400n: #a3589a;
  --triadic1-500n: #884980;
  --triadic1-600n: #7a4273;
  --triadic1-700n: #5f3359;
  --triadic1-800n: #442540;
  --triadic1-900n: #1b0f1a;
  --triadic2-100n: #faf6ed;
  --triadic2-200n: #efe4ca;
  --triadic2-300n: #e4d2a8;
  --triadic2-400n: #bf922d;
  --triadic2-500n: #7f611e;
  --triadic2-600n: #5f4917;
  --triadic2-700n: #40310f;
  --triadic2-800n: #30250b;
  --triadic2-900n: #100c04;
  --tetradic1-100n: #f0f2f7;
  --tetradic1-200n: #d2d9e6;
  --tetradic1-300n: #b4bfd5;
  --tetradic1-400n: #4b649a;
  --tetradic1-500n: #3e5481;
  --tetradic1-600n: #384b74;
  --tetradic1-700n: #2c3b5a;
  --tetradic1-800n: #1f2a40;
  --tetradic1-900n: #0d111a;
  --tetradic2-100n: #f8f2ef;
  --tetradic2-200n: #e8d6d0;
  --tetradic2-300n: #d9bbb0;
  --tetradic2-400n: #a35a42;
  --tetradic2-500n: #884b37;
  --tetradic2-600n: #7a4432;
  --tetradic2-700n: #5f3427;
  --tetradic2-800n: #44261b;
  --tetradic2-900n: #1b0f0b;
  --tetradic3-100n: #faf6ed;
  --tetradic3-200n: #efe4ca;
  --tetradic3-300n: #e4d2a8;
  --tetradic3-400n: #bf922d;
  --tetradic3-500n: #7f611e;
  --tetradic3-600n: #5f4917;
  --tetradic3-700n: #40310f;
  --tetradic3-800n: #30250b;
  --tetradic3-900n: #100c04;
  --success-100n: #f4faef;
  --success-200n: #dcefcf;
  --success-300n: #c5e3af;
  --success-400n: #72bc3f;
  --success-500n: #4c7e2a;
  --success-600n: #3a5e20;
  --success-700n: #263e15;
  --success-800n: #1d2f10;
  --success-900n: #0a1005;
  --danger-100n: #faf0ef;
  --danger-200n: #efd2cf;
  --danger-300n: #e3b4af;
  --danger-400n: #bc4a3f;
  --danger-500n: #9d3e34;
  --danger-600n: #8d3830;
  --danger-700n: #6e2c25;
  --danger-800n: #4e1f1a;
  --danger-900n: #1f0c0b;
  --warning-100n: #faf4ef;
  --warning-200n: #efdfcf;
  --warning-300n: #e3c9af;
  --warning-400n: #d37e28;
  --warning-500n: #7e542a;
  --warning-600n: #6a3f14;
  --warning-700n: #462a0d;
  --warning-800n: #35200a;
  --warning-900n: #120b03;
  --info-100n: #f1f3f8;
  --info-200n: #d4daea;
  --info-300n: #b7c1db;
  --info-400n: #526aa9;
  --info-500n: #44588d;
  --info-600n: #3e4f7f;
  --info-700n: #303e63;
  --info-800n: #222c46;
  --info-900n: #0e121c;
  --primary-100a: rgba(235, 254, 242, 0.3);
  --primary-200a: rgba(194, 252, 217, 0.3);
  --primary-300a: rgba(153, 249, 192, 0.3);
  --primary-400a: rgba(10, 241, 103, 0.3);
  --primary-500a: rgba(7, 161, 69, 0.3);
  --primary-600a: rgba(5, 121, 52, 0.3);
  --primary-700a: rgba(3, 80, 34, 0.3);
  --primary-800a: rgba(3, 60, 26, 0.3);
  --primary-900a: rgba(1, 20, 9, 0.3);
  --hue-0-100a: rgba(254, 236, 235, 0.3);
  --hue-0-200a: rgba(252, 199, 194, 0.3);
  --hue-0-300a: rgba(249, 162, 153, 0.3);
  --hue-0-400a: rgba(241, 31, 10, 0.3);
  --hue-0-500a: rgba(201, 26, 8, 0.3);
  --hue-0-600a: rgba(181, 23, 8, 0.3);
  --hue-0-700a: rgba(141, 18, 6, 0.3);
  --hue-0-800a: rgba(100, 13, 4, 0.3);
  --hue-0-900a: rgba(40, 5, 2, 0.3);
  --hue-30-100a: rgba(254, 239, 235, 0.3);
  --hue-30-200a: rgba(252, 208, 194, 0.3);
  --hue-30-300a: rgba(249, 177, 153, 0.3);
  --hue-30-400a: rgba(241, 68, 10, 0.3);
  --hue-30-500a: rgba(201, 57, 8, 0.3);
  --hue-30-600a: rgba(181, 51, 8, 0.3);
  --hue-30-700a: rgba(141, 40, 6, 0.3);
  --hue-30-800a: rgba(100, 28, 4, 0.3);
  --hue-30-900a: rgba(40, 11, 2, 0.3);
  --hue-60-100a: rgba(254, 244, 235, 0.3);
  --hue-60-200a: rgba(252, 223, 194, 0.3);
  --hue-60-300a: rgba(249, 201, 153, 0.3);
  --hue-60-400a: rgba(241, 126, 10, 0.3);
  --hue-60-500a: rgba(161, 84, 7, 0.3);
  --hue-60-600a: rgba(121, 63, 5, 0.3);
  --hue-60-700a: rgba(80, 42, 3, 0.3);
  --hue-60-800a: rgba(60, 32, 3, 0.3);
  --hue-60-900a: rgba(20, 11, 1, 0.3);
  --hue-90-100a: rgba(254, 249, 235, 0.3);
  --hue-90-200a: rgba(252, 237, 194, 0.3);
  --hue-90-300a: rgba(249, 225, 153, 0.3);
  --hue-90-400a: rgba(241, 183, 10, 0.3);
  --hue-90-500a: rgba(161, 122, 7, 0.3);
  --hue-90-600a: rgba(121, 92, 5, 0.3);
  --hue-90-700a: rgba(80, 61, 3, 0.3);
  --hue-90-800a: rgba(60, 46, 3, 0.3);
  --hue-90-900a: rgba(20, 15, 1, 0.3);
  --hue-120-100a: rgba(254, 254, 235, 0.3);
  --hue-120-200a: rgba(252, 252, 194, 0.3);
  --hue-120-300a: rgba(249, 249, 153, 0.3);
  --hue-120-400a: rgba(241, 241, 10, 0.3);
  --hue-120-500a: rgba(161, 161, 7, 0.3);
  --hue-120-600a: rgba(121, 121, 5, 0.3);
  --hue-120-700a: rgba(80, 80, 3, 0.3);
  --hue-120-800a: rgba(60, 60, 3, 0.3);
  --hue-120-900a: rgba(20, 20, 1, 0.3);
  --hue-150-100a: rgba(250, 254, 235, 0.3);
  --hue-150-200a: rgba(239, 252, 194, 0.3);
  --hue-150-300a: rgba(228, 249, 153, 0.3);
  --hue-150-400a: rgba(189, 241, 10, 0.3);
  --hue-150-500a: rgba(126, 161, 7, 0.3);
  --hue-150-600a: rgba(95, 121, 5, 0.3);
  --hue-150-700a: rgba(63, 80, 3, 0.3);
  --hue-150-800a: rgba(47, 60, 3, 0.3);
  --hue-150-900a: rgba(16, 20, 1, 0.3);
  --hue-180-100a: rgba(243, 254, 235, 0.3);
  --hue-180-200a: rgba(218, 252, 194, 0.3);
  --hue-180-300a: rgba(193, 249, 153, 0.3);
  --hue-180-400a: rgba(105, 241, 10, 0.3);
  --hue-180-500a: rgba(70, 161, 7, 0.3);
  --hue-180-600a: rgba(53, 121, 5, 0.3);
  --hue-180-700a: rgba(35, 80, 3, 0.3);
  --hue-180-800a: rgba(26, 60, 3, 0.3);
  --hue-180-900a: rgba(9, 20, 1, 0.3);
  --hue-210-100a: rgba(235, 254, 249, 0.3);
  --hue-210-200a: rgba(194, 252, 236, 0.3);
  --hue-210-300a: rgba(153, 249, 223, 0.3);
  --hue-210-400a: rgba(10, 241, 179, 0.3);
  --hue-210-500a: rgba(7, 161, 119, 0.3);
  --hue-210-600a: rgba(5, 121, 90, 0.3);
  --hue-210-700a: rgba(3, 80, 60, 0.3);
  --hue-210-800a: rgba(3, 60, 45, 0.3);
  --hue-210-900a: rgba(1, 20, 15, 0.3);
  --hue-240-100a: rgba(235, 240, 254, 0.3);
  --hue-240-200a: rgba(194, 210, 252, 0.3);
  --hue-240-300a: rgba(153, 179, 249, 0.3);
  --hue-240-400a: rgba(10, 73, 241, 0.3);
  --hue-240-500a: rgba(8, 61, 201, 0.3);
  --hue-240-600a: rgba(8, 55, 181, 0.3);
  --hue-240-700a: rgba(6, 43, 141, 0.3);
  --hue-240-800a: rgba(4, 30, 100, 0.3);
  --hue-240-900a: rgba(2, 12, 40, 0.3);
  --hue-270-100a: rgba(242, 235, 254, 0.3);
  --hue-270-200a: rgba(217, 194, 252, 0.3);
  --hue-270-300a: rgba(191, 153, 249, 0.3);
  --hue-270-400a: rgba(102, 10, 241, 0.3);
  --hue-270-500a: rgba(85, 8, 201, 0.3);
  --hue-270-600a: rgba(77, 8, 181, 0.3);
  --hue-270-700a: rgba(60, 6, 141, 0.3);
  --hue-270-800a: rgba(43, 4, 100, 0.3);
  --hue-270-900a: rgba(17, 2, 40, 0.3);
  --hue-300-100a: rgba(254, 235, 254, 0.3);
  --hue-300-200a: rgba(252, 194, 252, 0.3);
  --hue-300-300a: rgba(249, 153, 249, 0.3);
  --hue-300-400a: rgba(241, 10, 241, 0.3);
  --hue-300-500a: rgba(201, 8, 201, 0.3);
  --hue-300-600a: rgba(181, 8, 181, 0.3);
  --hue-300-700a: rgba(141, 6, 141, 0.3);
  --hue-300-800a: rgba(100, 4, 100, 0.3);
  --hue-300-900a: rgba(40, 2, 40, 0.3);
  --hue-330-100a: rgba(254, 235, 241, 0.3);
  --hue-330-200a: rgba(252, 194, 212, 0.3);
  --hue-330-300a: rgba(249, 153, 183, 0.3);
  --hue-330-400a: rgba(241, 10, 82, 0.3);
  --hue-330-500a: rgba(201, 8, 68, 0.3);
  --hue-330-600a: rgba(181, 8, 62, 0.3);
  --hue-330-700a: rgba(141, 6, 48, 0.3);
  --hue-330-800a: rgba(100, 4, 34, 0.3);
  --hue-330-900a: rgba(40, 2, 14, 0.3);
  --complementary-100a: rgba(251, 240, 236, 0.3);
  --complementary-200a: rgba(242, 209, 198, 0.3);
  --complementary-300a: rgba(234, 178, 159, 0.3);
  --complementary-400a: rgba(204, 69, 25, 0.3);
  --complementary-500a: rgba(170, 58, 21, 0.3);
  --complementary-600a: rgba(153, 52, 19, 0.3);
  --complementary-700a: rgba(119, 40, 15, 0.3);
  --complementary-800a: rgba(85, 29, 10, 0.3);
  --complementary-900a: rgba(34, 12, 4, 0.3);
  --analogous1-100a: rgba(235, 252, 252, 0.3);
  --analogous1-200a: rgba(194, 247, 246, 0.3);
  --analogous1-300a: rgba(153, 242, 240, 0.3);
  --analogous1-400a: rgba(10, 224, 219, 0.3);
  --analogous1-500a: rgba(7, 149, 146, 0.3);
  --analogous1-600a: rgba(5, 112, 110, 0.3);
  --analogous1-700a: rgba(3, 75, 73, 0.3);
  --analogous1-800a: rgba(3, 56, 55, 0.3);
  --analogous1-900a: rgba(1, 19, 18, 0.3);
  --analogous2-100a: rgba(235, 240, 252, 0.3);
  --analogous2-200a: rgba(194, 211, 246, 0.3);
  --analogous2-300a: rgba(153, 181, 240, 0.3);
  --analogous2-400a: rgba(10, 77, 219, 0.3);
  --analogous2-500a: rgba(8, 64, 183, 0.3);
  --analogous2-600a: rgba(8, 58, 164, 0.3);
  --analogous2-700a: rgba(6, 45, 128, 0.3);
  --analogous2-800a: rgba(4, 32, 91, 0.3);
  --analogous2-900a: rgba(2, 13, 37, 0.3);
  --analogous3-100a: rgba(245, 238, 252, 0.3);
  --analogous3-200a: rgba(224, 203, 246, 0.3);
  --analogous3-300a: rgba(203, 168, 240, 0.3);
  --analogous3-400a: rgba(129, 47, 219, 0.3);
  --analogous3-500a: rgba(108, 39, 183, 0.3);
  --analogous3-600a: rgba(97, 35, 164, 0.3);
  --analogous3-700a: rgba(75, 27, 128, 0.3);
  --analogous3-800a: rgba(54, 20, 91, 0.3);
  --analogous3-900a: rgba(22, 8, 37, 0.3);
  --split1-100a: rgba(251, 238, 240, 0.3);
  --split1-200a: rgba(242, 203, 211, 0.3);
  --split1-300a: rgba(234, 168, 181, 0.3);
  --split1-400a: rgba(204, 47, 78, 0.3);
  --split1-500a: rgba(170, 39, 65, 0.3);
  --split1-600a: rgba(153, 35, 59, 0.3);
  --split1-700a: rgba(119, 27, 46, 0.3);
  --split1-800a: rgba(85, 20, 33, 0.3);
  --split1-900a: rgba(34, 8, 13, 0.3);
  --split2-100a: rgba(251, 243, 236, 0.3);
  --split2-200a: rgba(242, 219, 198, 0.3);
  --split2-300a: rgba(234, 195, 159, 0.3);
  --split2-400a: rgba(204, 112, 25, 0.3);
  --split2-500a: rgba(136, 75, 17, 0.3);
  --split2-600a: rgba(102, 56, 13, 0.3);
  --split2-700a: rgba(68, 37, 8, 0.3);
  --split2-800a: rgba(51, 28, 6, 0.3);
  --split2-900a: rgba(17, 9, 2, 0.3);
  --square1-100a: rgba(245, 238, 252, 0.3);
  --square1-200a: rgba(224, 203, 246, 0.3);
  --square1-300a: rgba(203, 168, 240, 0.3);
  --square1-400a: rgba(129, 47, 219, 0.3);
  --square1-500a: rgba(108, 39, 183, 0.3);
  --square1-600a: rgba(97, 35, 164, 0.3);
  --square1-700a: rgba(75, 27, 128, 0.3);
  --square1-800a: rgba(54, 20, 91, 0.3);
  --square1-900a: rgba(22, 8, 37, 0.3);
  --square2-100a: rgba(251, 240, 236, 0.3);
  --square2-200a: rgba(242, 209, 198, 0.3);
  --square2-300a: rgba(234, 178, 159, 0.3);
  --square2-400a: rgba(204, 69, 25, 0.3);
  --square2-500a: rgba(170, 58, 21, 0.3);
  --square2-600a: rgba(153, 52, 19, 0.3);
  --square2-700a: rgba(119, 40, 15, 0.3);
  --square2-800a: rgba(85, 29, 10, 0.3);
  --square2-900a: rgba(34, 12, 4, 0.3);
  --square3-100a: rgba(252, 251, 235, 0.3);
  --square3-200a: rgba(245, 243, 196, 0.3);
  --square3-300a: rgba(239, 235, 157, 0.3);
  --square3-400a: rgba(216, 206, 20, 0.3);
  --square3-500a: rgba(144, 137, 13, 0.3);
  --square3-600a: rgba(108, 103, 10, 0.3);
  --square3-700a: rgba(72, 69, 7, 0.3);
  --square3-800a: rgba(54, 52, 5, 0.3);
  --square3-900a: rgba(18, 17, 2, 0.3);
  --triadic1-100a: rgba(251, 238, 249, 0.3);
  --triadic1-200a: rgba(242, 203, 237, 0.3);
  --triadic1-300a: rgba(234, 168, 225, 0.3);
  --triadic1-400a: rgba(204, 47, 184, 0.3);
  --triadic1-500a: rgba(170, 39, 153, 0.3);
  --triadic1-600a: rgba(153, 35, 138, 0.3);
  --triadic1-700a: rgba(119, 27, 107, 0.3);
  --triadic1-800a: rgba(85, 20, 77, 0.3);
  --triadic1-900a: rgba(34, 8, 31, 0.3);
  --triadic2-100a: rgba(252, 247, 235, 0.3);
  --triadic2-200a: rgba(245, 230, 196, 0.3);
  --triadic2-300a: rgba(239, 214, 157, 0.3);
  --triadic2-400a: rgba(216, 156, 20, 0.3);
  --triadic2-500a: rgba(144, 104, 13, 0.3);
  --triadic2-600a: rgba(108, 78, 10, 0.3);
  --triadic2-700a: rgba(72, 52, 7, 0.3);
  --triadic2-800a: rgba(54, 39, 5, 0.3);
  --triadic2-900a: rgba(18, 13, 2, 0.3);
  --tetradic1-100a: rgba(235, 240, 252, 0.3);
  --tetradic1-200a: rgba(194, 211, 246, 0.3);
  --tetradic1-300a: rgba(153, 181, 240, 0.3);
  --tetradic1-400a: rgba(10, 77, 219, 0.3);
  --tetradic1-500a: rgba(8, 64, 183, 0.3);
  --tetradic1-600a: rgba(8, 58, 164, 0.3);
  --tetradic1-700a: rgba(6, 45, 128, 0.3);
  --tetradic1-800a: rgba(4, 32, 91, 0.3);
  --tetradic1-900a: rgba(2, 13, 37, 0.3);
  --tetradic2-100a: rgba(251, 240, 236, 0.3);
  --tetradic2-200a: rgba(242, 209, 198, 0.3);
  --tetradic2-300a: rgba(234, 178, 159, 0.3);
  --tetradic2-400a: rgba(204, 69, 25, 0.3);
  --tetradic2-500a: rgba(170, 58, 21, 0.3);
  --tetradic2-600a: rgba(153, 52, 19, 0.3);
  --tetradic2-700a: rgba(119, 40, 15, 0.3);
  --tetradic2-800a: rgba(85, 29, 10, 0.3);
  --tetradic2-900a: rgba(34, 12, 4, 0.3);
  --tetradic3-100a: rgba(252, 247, 235, 0.3);
  --tetradic3-200a: rgba(245, 230, 196, 0.3);
  --tetradic3-300a: rgba(239, 214, 157, 0.3);
  --tetradic3-400a: rgba(216, 156, 20, 0.3);
  --tetradic3-500a: rgba(144, 104, 13, 0.3);
  --tetradic3-600a: rgba(108, 78, 10, 0.3);
  --tetradic3-700a: rgba(72, 52, 7, 0.3);
  --tetradic3-800a: rgba(54, 39, 5, 0.3);
  --tetradic3-900a: rgba(18, 13, 2, 0.3);
  --success-100a: rgba(243, 254, 235, 0.3);
  --success-200a: rgba(218, 252, 194, 0.3);
  --success-300a: rgba(193, 249, 153, 0.3);
  --success-400a: rgba(105, 241, 10, 0.3);
  --success-500a: rgba(70, 161, 7, 0.3);
  --success-600a: rgba(53, 121, 5, 0.3);
  --success-700a: rgba(35, 80, 3, 0.3);
  --success-800a: rgba(26, 60, 3, 0.3);
  --success-900a: rgba(9, 20, 1, 0.3);
  --danger-100a: rgba(254, 236, 235, 0.3);
  --danger-200a: rgba(252, 199, 194, 0.3);
  --danger-300a: rgba(249, 162, 153, 0.3);
  --danger-400a: rgba(241, 31, 10, 0.3);
  --danger-500a: rgba(201, 26, 8, 0.3);
  --danger-600a: rgba(181, 23, 8, 0.3);
  --danger-700a: rgba(141, 18, 6, 0.3);
  --danger-800a: rgba(100, 13, 4, 0.3);
  --danger-900a: rgba(40, 5, 2, 0.3);
  --warning-100a: rgba(254, 244, 235, 0.3);
  --warning-200a: rgba(252, 223, 194, 0.3);
  --warning-300a: rgba(249, 201, 153, 0.3);
  --warning-400a: rgba(241, 126, 10, 0.3);
  --warning-500a: rgba(161, 84, 7, 0.3);
  --warning-600a: rgba(121, 63, 5, 0.3);
  --warning-700a: rgba(80, 42, 3, 0.3);
  --warning-800a: rgba(60, 32, 3, 0.3);
  --warning-900a: rgba(20, 11, 1, 0.3);
  --info-100a: rgba(235, 240, 254, 0.3);
  --info-200a: rgba(194, 210, 252, 0.3);
  --info-300a: rgba(153, 179, 249, 0.3);
  --info-400a: rgba(10, 73, 241, 0.3);
  --info-500a: rgba(8, 61, 201, 0.3);
  --info-600a: rgba(8, 55, 181, 0.3);
  --info-700a: rgba(6, 43, 141, 0.3);
  --info-800a: rgba(4, 30, 100, 0.3);
  --info-900a: rgba(2, 12, 40, 0.3);
}
