:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #effaf3;
  --primary-200: #cfefdc;
  --primary-300: #afe3c4;
  --primary-400: #3fbc71;
  --primary-500: #2a7e4c;
  --primary-600: #205e39;
  --primary-700: #153e25;
  --primary-800: #102f1d;
  --primary-900: #05100a;
  --hue-0-100: #faf0ef;
  --hue-0-200: #efd2cf;
  --hue-0-300: #e3b4af;
  --hue-0-400: #bc4a3f;
  --hue-0-500: #9d3e34;
  --hue-0-600: #8d3830;
  --hue-0-700: #6e2c25;
  --hue-0-800: #4e1f1a;
  --hue-0-900: #1f0c0b;
  --hue-30-100: #faf2ef;
  --hue-30-200: #efd7cf;
  --hue-30-300: #e3bcaf;
  --hue-30-400: #bc5e3f;
  --hue-30-500: #9d4f34;
  --hue-30-600: #8d4730;
  --hue-30-700: #6e3725;
  --hue-30-800: #4e271a;
  --hue-30-900: #1f100b;
  --hue-60-100: #faf4ef;
  --hue-60-200: #efdfcf;
  --hue-60-300: #e3c9af;
  --hue-60-400: #d37e28;
  --hue-60-500: #7e542a;
  --hue-60-600: #6a3f14;
  --hue-60-700: #462a0d;
  --hue-60-800: #35200a;
  --hue-60-900: #120b03;
  --hue-90-100: #fcf8ed;
  --hue-90-200: #f4e9ca;
  --hue-90-300: #eddba5;
  --hue-90-400: #d3a828;
  --hue-90-500: #8d701b;
  --hue-90-600: #6a5414;
  --hue-90-700: #46380d;
  --hue-90-800: #352a0a;
  --hue-90-900: #120e03;
  --hue-120-100: #fcfced;
  --hue-120-200: #f4f4ca;
  --hue-120-300: #ededa5;
  --hue-120-400: #d3d328;
  --hue-120-500: #8d8d1b;
  --hue-120-600: #6a6a14;
  --hue-120-700: #46460d;
  --hue-120-800: #35350a;
  --hue-120-900: #121203;
  --hue-150-100: #f9fced;
  --hue-150-200: #ebf4ca;
  --hue-150-300: #ddeda5;
  --hue-150-400: #acd328;
  --hue-150-500: #738d1b;
  --hue-150-600: #576a14;
  --hue-150-700: #39460d;
  --hue-150-800: #2b350a;
  --hue-150-900: #0f1203;
  --hue-180-100: #f4faef;
  --hue-180-200: #dcefcf;
  --hue-180-300: #c5e3af;
  --hue-180-400: #72bc3f;
  --hue-180-500: #4c7e2a;
  --hue-180-600: #3a5e20;
  --hue-180-700: #263e15;
  --hue-180-800: #1d2f10;
  --hue-180-900: #0a1005;
  --hue-210-100: #effaf7;
  --hue-210-200: #cfefe6;
  --hue-210-300: #afe3d5;
  --hue-210-400: #3fbc9a;
  --hue-210-500: #2a7e67;
  --hue-210-600: #205e4e;
  --hue-210-700: #153e33;
  --hue-210-800: #102f27;
  --hue-210-900: #05100d;
  --hue-240-100: #f1f3f8;
  --hue-240-200: #d4daea;
  --hue-240-300: #b7c1db;
  --hue-240-400: #526aa9;
  --hue-240-500: #44588d;
  --hue-240-600: #3e4f7f;
  --hue-240-700: #303e63;
  --hue-240-800: #222c46;
  --hue-240-900: #0e121c;
  --hue-270-100: #f4f1f8;
  --hue-270-200: #ddd4ea;
  --hue-270-300: #c5b7db;
  --hue-270-400: #7552a9;
  --hue-270-500: #61448d;
  --hue-270-600: #583e7f;
  --hue-270-700: #443063;
  --hue-270-800: #312246;
  --hue-270-900: #130e1c;
  --hue-300-100: #f9f0f9;
  --hue-300-200: #edd1ed;
  --hue-300-300: #e0b2e0;
  --hue-300-400: #b546b5;
  --hue-300-500: #973a97;
  --hue-300-600: #883588;
  --hue-300-700: #6a296a;
  --hue-300-800: #4b1d4b;
  --hue-300-900: #1e0c1e;
  --hue-330-100: #faeff3;
  --hue-330-200: #efcfd9;
  --hue-330-300: #e3afbf;
  --hue-330-400: #bc3f66;
  --hue-330-500: #9d3455;
  --hue-330-600: #8d304d;
  --hue-330-700: #6e253c;
  --hue-330-800: #4e1a2a;
  --hue-330-900: #1f0b11;
  --complementary-100: #faf0ef;
  --complementary-200: #efd3cf;
  --complementary-300: #e3b5af;
  --complementary-400: #bc4d3f;
  --complementary-500: #9d4034;
  --complementary-600: #8d3a30;
  --complementary-700: #6e2d25;
  --complementary-800: #4e201a;
  --complementary-900: #1f0d0b;
  --analogous1-100: #eff9fa;
  --analogous1-200: #cfecef;
  --analogous1-300: #afdfe3;
  --analogous1-400: #3fb1bc;
  --analogous1-500: #2a767e;
  --analogous1-600: #20595e;
  --analogous1-700: #153b3e;
  --analogous1-800: #102c2f;
  --analogous1-900: #050f10;
  --analogous2-100: #f1f2f8;
  --analogous2-200: #d4d7ea;
  --analogous2-300: #b7bcdb;
  --analogous2-400: #525fa9;
  --analogous2-500: #444f8d;
  --analogous2-600: #3e487f;
  --analogous2-700: #303863;
  --analogous2-800: #222746;
  --analogous2-900: #0e101c;
  --analogous3-100: #f5f0f9;
  --analogous3-200: #e2d1ed;
  --analogous3-300: #ceb2e0;
  --analogous3-400: #8a46b5;
  --analogous3-500: #733a97;
  --analogous3-600: #683588;
  --analogous3-700: #51296a;
  --analogous3-800: #391d4b;
  --analogous3-900: #170c1e;
  --split1-100: #faeff2;
  --split1-200: #efcfd8;
  --split1-300: #e3afbd;
  --split1-400: #bc3f61;
  --split1-500: #9d3451;
  --split1-600: #8d3049;
  --split1-700: #6e2539;
  --split1-800: #4e1a28;
  --split1-900: #1f0b10;
  --split2-100: #faf3ef;
  --split2-200: #efdacf;
  --split2-300: #e3c0af;
  --split2-400: #bc693f;
  --split2-500: #9d5734;
  --split2-600: #8d4f30;
  --split2-700: #6e3d25;
  --split2-800: #4e2b1a;
  --split2-900: #1f120b;
  --square1-100: #f5f0f9;
  --square1-200: #e2d1ed;
  --square1-300: #ceb2e0;
  --square1-400: #8a46b5;
  --square1-500: #733a97;
  --square1-600: #683588;
  --square1-700: #51296a;
  --square1-800: #391d4b;
  --square1-900: #170c1e;
  --square2-100: #faf0ef;
  --square2-200: #efd3cf;
  --square2-300: #e3b5af;
  --square2-400: #bc4d3f;
  --square2-500: #9d4034;
  --square2-600: #8d3a30;
  --square2-700: #6e2d25;
  --square2-800: #4e201a;
  --square2-900: #1f0d0b;
  --square3-100: #fcf9ed;
  --square3-200: #f4edca;
  --square3-300: #ede1a5;
  --square3-400: #d3b628;
  --square3-500: #8d7a1b;
  --square3-600: #6a5b14;
  --square3-700: #463c0d;
  --square3-800: #352e0a;
  --square3-900: #120f03;
  --triadic1-100: #f9f0f7;
  --triadic1-200: #edd1e8;
  --triadic1-300: #e0b2d8;
  --triadic1-400: #b546a1;
  --triadic1-500: #973a86;
  --triadic1-600: #883579;
  --triadic1-700: #6a295e;
  --triadic1-800: #4b1d43;
  --triadic1-900: #1e0c1b;
  --triadic2-100: #fcf6ed;
  --triadic2-200: #f4e3ca;
  --triadic2-300: #edcfa5;
  --triadic2-400: #d38c28;
  --triadic2-500: #8d5e1b;
  --triadic2-600: #6a4614;
  --triadic2-700: #462e0d;
  --triadic2-800: #35230a;
  --triadic2-900: #120c03;
  --tetradic1-100: #f1f2f8;
  --tetradic1-200: #d4d7ea;
  --tetradic1-300: #b7bcdb;
  --tetradic1-400: #525fa9;
  --tetradic1-500: #444f8d;
  --tetradic1-600: #3e487f;
  --tetradic1-700: #303863;
  --tetradic1-800: #222746;
  --tetradic1-900: #0e101c;
  --tetradic2-100: #faf0ef;
  --tetradic2-200: #efd3cf;
  --tetradic2-300: #e3b5af;
  --tetradic2-400: #bc4d3f;
  --tetradic2-500: #9d4034;
  --tetradic2-600: #8d3a30;
  --tetradic2-700: #6e2d25;
  --tetradic2-800: #4e201a;
  --tetradic2-900: #1f0d0b;
  --tetradic3-100: #fcf6ed;
  --tetradic3-200: #f4e3ca;
  --tetradic3-300: #edcfa5;
  --tetradic3-400: #d38c28;
  --tetradic3-500: #8d5e1b;
  --tetradic3-600: #6a4614;
  --tetradic3-700: #462e0d;
  --tetradic3-800: #35230a;
  --tetradic3-900: #120c03;
  --success-100: #f4faef;
  --success-200: #dcefcf;
  --success-300: #c5e3af;
  --success-400: #72bc3f;
  --success-500: #4c7e2a;
  --success-600: #3a5e20;
  --success-700: #263e15;
  --success-800: #1d2f10;
  --success-900: #0a1005;
  --danger-100: #faf0ef;
  --danger-200: #efd2cf;
  --danger-300: #e3b4af;
  --danger-400: #bc4a3f;
  --danger-500: #9d3e34;
  --danger-600: #8d3830;
  --danger-700: #6e2c25;
  --danger-800: #4e1f1a;
  --danger-900: #1f0c0b;
  --warning-100: #faf4ef;
  --warning-200: #efdfcf;
  --warning-300: #e3c9af;
  --warning-400: #d37e28;
  --warning-500: #7e542a;
  --warning-600: #6a3f14;
  --warning-700: #462a0d;
  --warning-800: #35200a;
  --warning-900: #120b03;
  --info-100: #f1f3f8;
  --info-200: #d4daea;
  --info-300: #b7c1db;
  --info-400: #526aa9;
  --info-500: #44588d;
  --info-600: #3e4f7f;
  --info-700: #303e63;
  --info-800: #222c46;
  --info-900: #0e121c;
  --primary-100n: #effaf3;
  --primary-200n: #cfefdc;
  --primary-300n: #afe3c4;
  --primary-400n: #3fbc71;
  --primary-500n: #2a7e4c;
  --primary-600n: #205e39;
  --primary-700n: #153e25;
  --primary-800n: #102f1d;
  --primary-900n: #05100a;
  --hue-0-100n: #faf0ef;
  --hue-0-200n: #efd2cf;
  --hue-0-300n: #e3b4af;
  --hue-0-400n: #bc4a3f;
  --hue-0-500n: #9d3e34;
  --hue-0-600n: #8d3830;
  --hue-0-700n: #6e2c25;
  --hue-0-800n: #4e1f1a;
  --hue-0-900n: #1f0c0b;
  --hue-30-100n: #faf2ef;
  --hue-30-200n: #efd7cf;
  --hue-30-300n: #e3bcaf;
  --hue-30-400n: #bc5e3f;
  --hue-30-500n: #9d4f34;
  --hue-30-600n: #8d4730;
  --hue-30-700n: #6e3725;
  --hue-30-800n: #4e271a;
  --hue-30-900n: #1f100b;
  --hue-60-100n: #faf4ef;
  --hue-60-200n: #efdfcf;
  --hue-60-300n: #e3c9af;
  --hue-60-400n: #d37e28;
  --hue-60-500n: #7e542a;
  --hue-60-600n: #6a3f14;
  --hue-60-700n: #462a0d;
  --hue-60-800n: #35200a;
  --hue-60-900n: #120b03;
  --hue-90-100n: #fcf8ed;
  --hue-90-200n: #f4e9ca;
  --hue-90-300n: #eddba5;
  --hue-90-400n: #d3a828;
  --hue-90-500n: #8d701b;
  --hue-90-600n: #6a5414;
  --hue-90-700n: #46380d;
  --hue-90-800n: #352a0a;
  --hue-90-900n: #120e03;
  --hue-120-100n: #fcfced;
  --hue-120-200n: #f4f4ca;
  --hue-120-300n: #ededa5;
  --hue-120-400n: #d3d328;
  --hue-120-500n: #8d8d1b;
  --hue-120-600n: #6a6a14;
  --hue-120-700n: #46460d;
  --hue-120-800n: #35350a;
  --hue-120-900n: #121203;
  --hue-150-100n: #f9fced;
  --hue-150-200n: #ebf4ca;
  --hue-150-300n: #ddeda5;
  --hue-150-400n: #acd328;
  --hue-150-500n: #738d1b;
  --hue-150-600n: #576a14;
  --hue-150-700n: #39460d;
  --hue-150-800n: #2b350a;
  --hue-150-900n: #0f1203;
  --hue-180-100n: #f4faef;
  --hue-180-200n: #dcefcf;
  --hue-180-300n: #c5e3af;
  --hue-180-400n: #72bc3f;
  --hue-180-500n: #4c7e2a;
  --hue-180-600n: #3a5e20;
  --hue-180-700n: #263e15;
  --hue-180-800n: #1d2f10;
  --hue-180-900n: #0a1005;
  --hue-210-100n: #effaf7;
  --hue-210-200n: #cfefe6;
  --hue-210-300n: #afe3d5;
  --hue-210-400n: #3fbc9a;
  --hue-210-500n: #2a7e67;
  --hue-210-600n: #205e4e;
  --hue-210-700n: #153e33;
  --hue-210-800n: #102f27;
  --hue-210-900n: #05100d;
  --hue-240-100n: #f1f3f8;
  --hue-240-200n: #d4daea;
  --hue-240-300n: #b7c1db;
  --hue-240-400n: #526aa9;
  --hue-240-500n: #44588d;
  --hue-240-600n: #3e4f7f;
  --hue-240-700n: #303e63;
  --hue-240-800n: #222c46;
  --hue-240-900n: #0e121c;
  --hue-270-100n: #f4f1f8;
  --hue-270-200n: #ddd4ea;
  --hue-270-300n: #c5b7db;
  --hue-270-400n: #7552a9;
  --hue-270-500n: #61448d;
  --hue-270-600n: #583e7f;
  --hue-270-700n: #443063;
  --hue-270-800n: #312246;
  --hue-270-900n: #130e1c;
  --hue-300-100n: #f9f0f9;
  --hue-300-200n: #edd1ed;
  --hue-300-300n: #e0b2e0;
  --hue-300-400n: #b546b5;
  --hue-300-500n: #973a97;
  --hue-300-600n: #883588;
  --hue-300-700n: #6a296a;
  --hue-300-800n: #4b1d4b;
  --hue-300-900n: #1e0c1e;
  --hue-330-100n: #faeff3;
  --hue-330-200n: #efcfd9;
  --hue-330-300n: #e3afbf;
  --hue-330-400n: #bc3f66;
  --hue-330-500n: #9d3455;
  --hue-330-600n: #8d304d;
  --hue-330-700n: #6e253c;
  --hue-330-800n: #4e1a2a;
  --hue-330-900n: #1f0b11;
  --complementary-100n: #faf0ef;
  --complementary-200n: #efd3cf;
  --complementary-300n: #e3b5af;
  --complementary-400n: #bc4d3f;
  --complementary-500n: #9d4034;
  --complementary-600n: #8d3a30;
  --complementary-700n: #6e2d25;
  --complementary-800n: #4e201a;
  --complementary-900n: #1f0d0b;
  --analogous1-100n: #eff9fa;
  --analogous1-200n: #cfecef;
  --analogous1-300n: #afdfe3;
  --analogous1-400n: #3fb1bc;
  --analogous1-500n: #2a767e;
  --analogous1-600n: #20595e;
  --analogous1-700n: #153b3e;
  --analogous1-800n: #102c2f;
  --analogous1-900n: #050f10;
  --analogous2-100n: #f1f2f8;
  --analogous2-200n: #d4d7ea;
  --analogous2-300n: #b7bcdb;
  --analogous2-400n: #525fa9;
  --analogous2-500n: #444f8d;
  --analogous2-600n: #3e487f;
  --analogous2-700n: #303863;
  --analogous2-800n: #222746;
  --analogous2-900n: #0e101c;
  --analogous3-100n: #f5f0f9;
  --analogous3-200n: #e2d1ed;
  --analogous3-300n: #ceb2e0;
  --analogous3-400n: #8a46b5;
  --analogous3-500n: #733a97;
  --analogous3-600n: #683588;
  --analogous3-700n: #51296a;
  --analogous3-800n: #391d4b;
  --analogous3-900n: #170c1e;
  --split1-100n: #faeff2;
  --split1-200n: #efcfd8;
  --split1-300n: #e3afbd;
  --split1-400n: #bc3f61;
  --split1-500n: #9d3451;
  --split1-600n: #8d3049;
  --split1-700n: #6e2539;
  --split1-800n: #4e1a28;
  --split1-900n: #1f0b10;
  --split2-100n: #faf3ef;
  --split2-200n: #efdacf;
  --split2-300n: #e3c0af;
  --split2-400n: #bc693f;
  --split2-500n: #9d5734;
  --split2-600n: #8d4f30;
  --split2-700n: #6e3d25;
  --split2-800n: #4e2b1a;
  --split2-900n: #1f120b;
  --square1-100n: #f5f0f9;
  --square1-200n: #e2d1ed;
  --square1-300n: #ceb2e0;
  --square1-400n: #8a46b5;
  --square1-500n: #733a97;
  --square1-600n: #683588;
  --square1-700n: #51296a;
  --square1-800n: #391d4b;
  --square1-900n: #170c1e;
  --square2-100n: #faf0ef;
  --square2-200n: #efd3cf;
  --square2-300n: #e3b5af;
  --square2-400n: #bc4d3f;
  --square2-500n: #9d4034;
  --square2-600n: #8d3a30;
  --square2-700n: #6e2d25;
  --square2-800n: #4e201a;
  --square2-900n: #1f0d0b;
  --square3-100n: #fcf9ed;
  --square3-200n: #f4edca;
  --square3-300n: #ede1a5;
  --square3-400n: #d3b628;
  --square3-500n: #8d7a1b;
  --square3-600n: #6a5b14;
  --square3-700n: #463c0d;
  --square3-800n: #352e0a;
  --square3-900n: #120f03;
  --triadic1-100n: #f9f0f7;
  --triadic1-200n: #edd1e8;
  --triadic1-300n: #e0b2d8;
  --triadic1-400n: #b546a1;
  --triadic1-500n: #973a86;
  --triadic1-600n: #883579;
  --triadic1-700n: #6a295e;
  --triadic1-800n: #4b1d43;
  --triadic1-900n: #1e0c1b;
  --triadic2-100n: #fcf6ed;
  --triadic2-200n: #f4e3ca;
  --triadic2-300n: #edcfa5;
  --triadic2-400n: #d38c28;
  --triadic2-500n: #8d5e1b;
  --triadic2-600n: #6a4614;
  --triadic2-700n: #462e0d;
  --triadic2-800n: #35230a;
  --triadic2-900n: #120c03;
  --tetradic1-100n: #f1f2f8;
  --tetradic1-200n: #d4d7ea;
  --tetradic1-300n: #b7bcdb;
  --tetradic1-400n: #525fa9;
  --tetradic1-500n: #444f8d;
  --tetradic1-600n: #3e487f;
  --tetradic1-700n: #303863;
  --tetradic1-800n: #222746;
  --tetradic1-900n: #0e101c;
  --tetradic2-100n: #faf0ef;
  --tetradic2-200n: #efd3cf;
  --tetradic2-300n: #e3b5af;
  --tetradic2-400n: #bc4d3f;
  --tetradic2-500n: #9d4034;
  --tetradic2-600n: #8d3a30;
  --tetradic2-700n: #6e2d25;
  --tetradic2-800n: #4e201a;
  --tetradic2-900n: #1f0d0b;
  --tetradic3-100n: #fcf6ed;
  --tetradic3-200n: #f4e3ca;
  --tetradic3-300n: #edcfa5;
  --tetradic3-400n: #d38c28;
  --tetradic3-500n: #8d5e1b;
  --tetradic3-600n: #6a4614;
  --tetradic3-700n: #462e0d;
  --tetradic3-800n: #35230a;
  --tetradic3-900n: #120c03;
  --success-100n: #f4faef;
  --success-200n: #dcefcf;
  --success-300n: #c5e3af;
  --success-400n: #72bc3f;
  --success-500n: #4c7e2a;
  --success-600n: #3a5e20;
  --success-700n: #263e15;
  --success-800n: #1d2f10;
  --success-900n: #0a1005;
  --danger-100n: #faf0ef;
  --danger-200n: #efd2cf;
  --danger-300n: #e3b4af;
  --danger-400n: #bc4a3f;
  --danger-500n: #9d3e34;
  --danger-600n: #8d3830;
  --danger-700n: #6e2c25;
  --danger-800n: #4e1f1a;
  --danger-900n: #1f0c0b;
  --warning-100n: #faf4ef;
  --warning-200n: #efdfcf;
  --warning-300n: #e3c9af;
  --warning-400n: #d37e28;
  --warning-500n: #7e542a;
  --warning-600n: #6a3f14;
  --warning-700n: #462a0d;
  --warning-800n: #35200a;
  --warning-900n: #120b03;
  --info-100n: #f1f3f8;
  --info-200n: #d4daea;
  --info-300n: #b7c1db;
  --info-400n: #526aa9;
  --info-500n: #44588d;
  --info-600n: #3e4f7f;
  --info-700n: #303e63;
  --info-800n: #222c46;
  --info-900n: #0e121c;
  --primary-100a: rgba(235, 254, 242, 0.3);
  --primary-200a: rgba(194, 252, 217, 0.3);
  --primary-300a: rgba(153, 249, 192, 0.3);
  --primary-400a: rgba(10, 241, 103, 0.3);
  --primary-500a: rgba(7, 161, 69, 0.3);
  --primary-600a: rgba(5, 121, 52, 0.3);
  --primary-700a: rgba(3, 80, 34, 0.3);
  --primary-800a: rgba(3, 60, 26, 0.3);
  --primary-900a: rgba(1, 20, 9, 0.3);
  --hue-0-100a: rgba(254, 236, 235, 0.3);
  --hue-0-200a: rgba(252, 199, 194, 0.3);
  --hue-0-300a: rgba(249, 162, 153, 0.3);
  --hue-0-400a: rgba(241, 31, 10, 0.3);
  --hue-0-500a: rgba(201, 26, 8, 0.3);
  --hue-0-600a: rgba(181, 23, 8, 0.3);
  --hue-0-700a: rgba(141, 18, 6, 0.3);
  --hue-0-800a: rgba(100, 13, 4, 0.3);
  --hue-0-900a: rgba(40, 5, 2, 0.3);
  --hue-30-100a: rgba(254, 239, 235, 0.3);
  --hue-30-200a: rgba(252, 208, 194, 0.3);
  --hue-30-300a: rgba(249, 177, 153, 0.3);
  --hue-30-400a: rgba(241, 68, 10, 0.3);
  --hue-30-500a: rgba(201, 57, 8, 0.3);
  --hue-30-600a: rgba(181, 51, 8, 0.3);
  --hue-30-700a: rgba(141, 40, 6, 0.3);
  --hue-30-800a: rgba(100, 28, 4, 0.3);
  --hue-30-900a: rgba(40, 11, 2, 0.3);
  --hue-60-100a: rgba(254, 244, 235, 0.3);
  --hue-60-200a: rgba(252, 223, 194, 0.3);
  --hue-60-300a: rgba(249, 201, 153, 0.3);
  --hue-60-400a: rgba(241, 126, 10, 0.3);
  --hue-60-500a: rgba(161, 84, 7, 0.3);
  --hue-60-600a: rgba(121, 63, 5, 0.3);
  --hue-60-700a: rgba(80, 42, 3, 0.3);
  --hue-60-800a: rgba(60, 32, 3, 0.3);
  --hue-60-900a: rgba(20, 11, 1, 0.3);
  --hue-90-100a: rgba(254, 249, 235, 0.3);
  --hue-90-200a: rgba(252, 237, 194, 0.3);
  --hue-90-300a: rgba(249, 225, 153, 0.3);
  --hue-90-400a: rgba(241, 183, 10, 0.3);
  --hue-90-500a: rgba(161, 122, 7, 0.3);
  --hue-90-600a: rgba(121, 92, 5, 0.3);
  --hue-90-700a: rgba(80, 61, 3, 0.3);
  --hue-90-800a: rgba(60, 46, 3, 0.3);
  --hue-90-900a: rgba(20, 15, 1, 0.3);
  --hue-120-100a: rgba(254, 254, 235, 0.3);
  --hue-120-200a: rgba(252, 252, 194, 0.3);
  --hue-120-300a: rgba(249, 249, 153, 0.3);
  --hue-120-400a: rgba(241, 241, 10, 0.3);
  --hue-120-500a: rgba(161, 161, 7, 0.3);
  --hue-120-600a: rgba(121, 121, 5, 0.3);
  --hue-120-700a: rgba(80, 80, 3, 0.3);
  --hue-120-800a: rgba(60, 60, 3, 0.3);
  --hue-120-900a: rgba(20, 20, 1, 0.3);
  --hue-150-100a: rgba(250, 254, 235, 0.3);
  --hue-150-200a: rgba(239, 252, 194, 0.3);
  --hue-150-300a: rgba(228, 249, 153, 0.3);
  --hue-150-400a: rgba(189, 241, 10, 0.3);
  --hue-150-500a: rgba(126, 161, 7, 0.3);
  --hue-150-600a: rgba(95, 121, 5, 0.3);
  --hue-150-700a: rgba(63, 80, 3, 0.3);
  --hue-150-800a: rgba(47, 60, 3, 0.3);
  --hue-150-900a: rgba(16, 20, 1, 0.3);
  --hue-180-100a: rgba(243, 254, 235, 0.3);
  --hue-180-200a: rgba(218, 252, 194, 0.3);
  --hue-180-300a: rgba(193, 249, 153, 0.3);
  --hue-180-400a: rgba(105, 241, 10, 0.3);
  --hue-180-500a: rgba(70, 161, 7, 0.3);
  --hue-180-600a: rgba(53, 121, 5, 0.3);
  --hue-180-700a: rgba(35, 80, 3, 0.3);
  --hue-180-800a: rgba(26, 60, 3, 0.3);
  --hue-180-900a: rgba(9, 20, 1, 0.3);
  --hue-210-100a: rgba(235, 254, 249, 0.3);
  --hue-210-200a: rgba(194, 252, 236, 0.3);
  --hue-210-300a: rgba(153, 249, 223, 0.3);
  --hue-210-400a: rgba(10, 241, 179, 0.3);
  --hue-210-500a: rgba(7, 161, 119, 0.3);
  --hue-210-600a: rgba(5, 121, 90, 0.3);
  --hue-210-700a: rgba(3, 80, 60, 0.3);
  --hue-210-800a: rgba(3, 60, 45, 0.3);
  --hue-210-900a: rgba(1, 20, 15, 0.3);
  --hue-240-100a: rgba(235, 240, 254, 0.3);
  --hue-240-200a: rgba(194, 210, 252, 0.3);
  --hue-240-300a: rgba(153, 179, 249, 0.3);
  --hue-240-400a: rgba(10, 73, 241, 0.3);
  --hue-240-500a: rgba(8, 61, 201, 0.3);
  --hue-240-600a: rgba(8, 55, 181, 0.3);
  --hue-240-700a: rgba(6, 43, 141, 0.3);
  --hue-240-800a: rgba(4, 30, 100, 0.3);
  --hue-240-900a: rgba(2, 12, 40, 0.3);
  --hue-270-100a: rgba(242, 235, 254, 0.3);
  --hue-270-200a: rgba(217, 194, 252, 0.3);
  --hue-270-300a: rgba(191, 153, 249, 0.3);
  --hue-270-400a: rgba(102, 10, 241, 0.3);
  --hue-270-500a: rgba(85, 8, 201, 0.3);
  --hue-270-600a: rgba(77, 8, 181, 0.3);
  --hue-270-700a: rgba(60, 6, 141, 0.3);
  --hue-270-800a: rgba(43, 4, 100, 0.3);
  --hue-270-900a: rgba(17, 2, 40, 0.3);
  --hue-300-100a: rgba(254, 235, 254, 0.3);
  --hue-300-200a: rgba(252, 194, 252, 0.3);
  --hue-300-300a: rgba(249, 153, 249, 0.3);
  --hue-300-400a: rgba(241, 10, 241, 0.3);
  --hue-300-500a: rgba(201, 8, 201, 0.3);
  --hue-300-600a: rgba(181, 8, 181, 0.3);
  --hue-300-700a: rgba(141, 6, 141, 0.3);
  --hue-300-800a: rgba(100, 4, 100, 0.3);
  --hue-300-900a: rgba(40, 2, 40, 0.3);
  --hue-330-100a: rgba(254, 235, 241, 0.3);
  --hue-330-200a: rgba(252, 194, 212, 0.3);
  --hue-330-300a: rgba(249, 153, 183, 0.3);
  --hue-330-400a: rgba(241, 10, 82, 0.3);
  --hue-330-500a: rgba(201, 8, 68, 0.3);
  --hue-330-600a: rgba(181, 8, 62, 0.3);
  --hue-330-700a: rgba(141, 6, 48, 0.3);
  --hue-330-800a: rgba(100, 4, 34, 0.3);
  --hue-330-900a: rgba(40, 2, 14, 0.3);
  --complementary-100a: rgba(254, 237, 235, 0.3);
  --complementary-200a: rgba(252, 200, 194, 0.3);
  --complementary-300a: rgba(249, 164, 153, 0.3);
  --complementary-400a: rgba(241, 36, 10, 0.3);
  --complementary-500a: rgba(201, 30, 8, 0.3);
  --complementary-600a: rgba(181, 27, 8, 0.3);
  --complementary-700a: rgba(141, 21, 6, 0.3);
  --complementary-800a: rgba(100, 15, 4, 0.3);
  --complementary-900a: rgba(40, 6, 2, 0.3);
  --analogous1-100a: rgba(235, 252, 254, 0.3);
  --analogous1-200a: rgba(194, 247, 252, 0.3);
  --analogous1-300a: rgba(153, 241, 249, 0.3);
  --analogous1-400a: rgba(10, 221, 241, 0.3);
  --analogous1-500a: rgba(7, 147, 161, 0.3);
  --analogous1-600a: rgba(5, 111, 121, 0.3);
  --analogous1-700a: rgba(3, 74, 80, 0.3);
  --analogous1-800a: rgba(3, 55, 60, 0.3);
  --analogous1-900a: rgba(1, 18, 20, 0.3);
  --analogous2-100a: rgba(235, 238, 254, 0.3);
  --analogous2-200a: rgba(194, 203, 252, 0.3);
  --analogous2-300a: rgba(153, 168, 249, 0.3);
  --analogous2-400a: rgba(10, 46, 241, 0.3);
  --analogous2-500a: rgba(8, 38, 201, 0.3);
  --analogous2-600a: rgba(8, 35, 181, 0.3);
  --analogous2-700a: rgba(6, 27, 141, 0.3);
  --analogous2-800a: rgba(4, 19, 100, 0.3);
  --analogous2-900a: rgba(2, 8, 40, 0.3);
  --analogous3-100a: rgba(246, 235, 254, 0.3);
  --analogous3-200a: rgba(229, 194, 252, 0.3);
  --analogous3-300a: rgba(212, 153, 249, 0.3);
  --analogous3-400a: rgba(152, 10, 241, 0.3);
  --analogous3-500a: rgba(127, 8, 201, 0.3);
  --analogous3-600a: rgba(114, 8, 181, 0.3);
  --analogous3-700a: rgba(89, 6, 141, 0.3);
  --analogous3-800a: rgba(63, 4, 100, 0.3);
  --analogous3-900a: rgba(25, 2, 40, 0.3);
  --split1-100a: rgba(254, 235, 240, 0.3);
  --split1-200a: rgba(252, 194, 210, 0.3);
  --split1-300a: rgba(249, 153, 179, 0.3);
  --split1-400a: rgba(241, 10, 73, 0.3);
  --split1-500a: rgba(201, 8, 61, 0.3);
  --split1-600a: rgba(181, 8, 55, 0.3);
  --split1-700a: rgba(141, 6, 43, 0.3);
  --split1-800a: rgba(100, 4, 30, 0.3);
  --split1-900a: rgba(40, 2, 12, 0.3);
  --split2-100a: rgba(254, 241, 235, 0.3);
  --split2-200a: rgba(252, 213, 194, 0.3);
  --split2-300a: rgba(249, 185, 153, 0.3);
  --split2-400a: rgba(241, 87, 10, 0.3);
  --split2-500a: rgba(201, 73, 8, 0.3);
  --split2-600a: rgba(181, 65, 8, 0.3);
  --split2-700a: rgba(141, 51, 6, 0.3);
  --split2-800a: rgba(100, 36, 4, 0.3);
  --split2-900a: rgba(40, 15, 2, 0.3);
  --square1-100a: rgba(246, 235, 254, 0.3);
  --square1-200a: rgba(229, 194, 252, 0.3);
  --square1-300a: rgba(212, 153, 249, 0.3);
  --square1-400a: rgba(152, 10, 241, 0.3);
  --square1-500a: rgba(127, 8, 201, 0.3);
  --square1-600a: rgba(114, 8, 181, 0.3);
  --square1-700a: rgba(89, 6, 141, 0.3);
  --square1-800a: rgba(63, 4, 100, 0.3);
  --square1-900a: rgba(25, 2, 40, 0.3);
  --square2-100a: rgba(254, 237, 235, 0.3);
  --square2-200a: rgba(252, 200, 194, 0.3);
  --square2-300a: rgba(249, 164, 153, 0.3);
  --square2-400a: rgba(241, 36, 10, 0.3);
  --square2-500a: rgba(201, 30, 8, 0.3);
  --square2-600a: rgba(181, 27, 8, 0.3);
  --square2-700a: rgba(141, 21, 6, 0.3);
  --square2-800a: rgba(100, 15, 4, 0.3);
  --square2-900a: rgba(40, 6, 2, 0.3);
  --square3-100a: rgba(254, 251, 235, 0.3);
  --square3-200a: rgba(252, 242, 194, 0.3);
  --square3-300a: rgba(249, 233, 153, 0.3);
  --square3-400a: rgba(241, 202, 10, 0.3);
  --square3-500a: rgba(161, 135, 7, 0.3);
  --square3-600a: rgba(121, 101, 5, 0.3);
  --square3-700a: rgba(80, 67, 3, 0.3);
  --square3-800a: rgba(60, 51, 3, 0.3);
  --square3-900a: rgba(20, 17, 1, 0.3);
  --triadic1-100a: rgba(254, 235, 250, 0.3);
  --triadic1-200a: rgba(252, 194, 241, 0.3);
  --triadic1-300a: rgba(249, 153, 232, 0.3);
  --triadic1-400a: rgba(241, 10, 199, 0.3);
  --triadic1-500a: rgba(201, 8, 166, 0.3);
  --triadic1-600a: rgba(181, 8, 149, 0.3);
  --triadic1-700a: rgba(141, 6, 116, 0.3);
  --triadic1-800a: rgba(100, 4, 83, 0.3);
  --triadic1-900a: rgba(40, 2, 33, 0.3);
  --triadic2-100a: rgba(254, 246, 235, 0.3);
  --triadic2-200a: rgba(252, 228, 194, 0.3);
  --triadic2-300a: rgba(249, 209, 153, 0.3);
  --triadic2-400a: rgba(241, 145, 10, 0.3);
  --triadic2-500a: rgba(161, 97, 7, 0.3);
  --triadic2-600a: rgba(121, 73, 5, 0.3);
  --triadic2-700a: rgba(80, 48, 3, 0.3);
  --triadic2-800a: rgba(60, 36, 3, 0.3);
  --triadic2-900a: rgba(20, 12, 1, 0.3);
  --tetradic1-100a: rgba(235, 238, 254, 0.3);
  --tetradic1-200a: rgba(194, 203, 252, 0.3);
  --tetradic1-300a: rgba(153, 168, 249, 0.3);
  --tetradic1-400a: rgba(10, 46, 241, 0.3);
  --tetradic1-500a: rgba(8, 38, 201, 0.3);
  --tetradic1-600a: rgba(8, 35, 181, 0.3);
  --tetradic1-700a: rgba(6, 27, 141, 0.3);
  --tetradic1-800a: rgba(4, 19, 100, 0.3);
  --tetradic1-900a: rgba(2, 8, 40, 0.3);
  --tetradic2-100a: rgba(254, 237, 235, 0.3);
  --tetradic2-200a: rgba(252, 200, 194, 0.3);
  --tetradic2-300a: rgba(249, 164, 153, 0.3);
  --tetradic2-400a: rgba(241, 36, 10, 0.3);
  --tetradic2-500a: rgba(201, 30, 8, 0.3);
  --tetradic2-600a: rgba(181, 27, 8, 0.3);
  --tetradic2-700a: rgba(141, 21, 6, 0.3);
  --tetradic2-800a: rgba(100, 15, 4, 0.3);
  --tetradic2-900a: rgba(40, 6, 2, 0.3);
  --tetradic3-100a: rgba(254, 246, 235, 0.3);
  --tetradic3-200a: rgba(252, 228, 194, 0.3);
  --tetradic3-300a: rgba(249, 209, 153, 0.3);
  --tetradic3-400a: rgba(241, 145, 10, 0.3);
  --tetradic3-500a: rgba(161, 97, 7, 0.3);
  --tetradic3-600a: rgba(121, 73, 5, 0.3);
  --tetradic3-700a: rgba(80, 48, 3, 0.3);
  --tetradic3-800a: rgba(60, 36, 3, 0.3);
  --tetradic3-900a: rgba(20, 12, 1, 0.3);
  --success-100a: rgba(243, 254, 235, 0.3);
  --success-200a: rgba(218, 252, 194, 0.3);
  --success-300a: rgba(193, 249, 153, 0.3);
  --success-400a: rgba(105, 241, 10, 0.3);
  --success-500a: rgba(70, 161, 7, 0.3);
  --success-600a: rgba(53, 121, 5, 0.3);
  --success-700a: rgba(35, 80, 3, 0.3);
  --success-800a: rgba(26, 60, 3, 0.3);
  --success-900a: rgba(9, 20, 1, 0.3);
  --danger-100a: rgba(254, 236, 235, 0.3);
  --danger-200a: rgba(252, 199, 194, 0.3);
  --danger-300a: rgba(249, 162, 153, 0.3);
  --danger-400a: rgba(241, 31, 10, 0.3);
  --danger-500a: rgba(201, 26, 8, 0.3);
  --danger-600a: rgba(181, 23, 8, 0.3);
  --danger-700a: rgba(141, 18, 6, 0.3);
  --danger-800a: rgba(100, 13, 4, 0.3);
  --danger-900a: rgba(40, 5, 2, 0.3);
  --warning-100a: rgba(254, 244, 235, 0.3);
  --warning-200a: rgba(252, 223, 194, 0.3);
  --warning-300a: rgba(249, 201, 153, 0.3);
  --warning-400a: rgba(241, 126, 10, 0.3);
  --warning-500a: rgba(161, 84, 7, 0.3);
  --warning-600a: rgba(121, 63, 5, 0.3);
  --warning-700a: rgba(80, 42, 3, 0.3);
  --warning-800a: rgba(60, 32, 3, 0.3);
  --warning-900a: rgba(20, 11, 1, 0.3);
  --info-100a: rgba(235, 240, 254, 0.3);
  --info-200a: rgba(194, 210, 252, 0.3);
  --info-300a: rgba(153, 179, 249, 0.3);
  --info-400a: rgba(10, 73, 241, 0.3);
  --info-500a: rgba(8, 61, 201, 0.3);
  --info-600a: rgba(8, 55, 181, 0.3);
  --info-700a: rgba(6, 43, 141, 0.3);
  --info-800a: rgba(4, 30, 100, 0.3);
  --info-900a: rgba(2, 12, 40, 0.3);
}
