:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #f5fff9;
  --primary-200: #e1feec;
  --primary-300: #ccfce0;
  --primary-400: #85f8b3;
  --primary-500: #83d0a2;
  --primary-600: #82bc9a;
  --primary-700: #81a891;
  --primary-800: #819e8d;
  --primary-900: #808a84;
  --hue-0-100: #fff5f5;
  --hue-0-200: #fee1e1;
  --hue-0-300: #fccccc;
  --hue-0-400: #f88585;
  --hue-0-500: #e48484;
  --hue-0-600: #da8484;
  --hue-0-700: #c68383;
  --hue-0-800: #b28282;
  --hue-0-900: #948181;
  --hue-30-100: #fffaf5;
  --hue-30-200: #feefe1;
  --hue-30-300: #fce4cc;
  --hue-30-400: #f8bf85;
  --hue-30-500: #d0aa83;
  --hue-30-600: #bc9f82;
  --hue-30-700: #a89581;
  --hue-30-800: #9e9081;
  --hue-30-900: #8a8580;
  --hue-60-100: #fffff5;
  --hue-60-200: #fefee1;
  --hue-60-300: #fcfccc;
  --hue-60-400: #f8f885;
  --hue-60-500: #d0d083;
  --hue-60-600: #bcbc82;
  --hue-60-700: #a8a881;
  --hue-60-800: #9e9e81;
  --hue-60-900: #8a8a80;
  --hue-90-100: #fafff5;
  --hue-90-200: #effee1;
  --hue-90-300: #e4fccc;
  --hue-90-400: #bff885;
  --hue-90-500: #aad083;
  --hue-90-600: #9fbc82;
  --hue-90-700: #95a881;
  --hue-90-800: #909e81;
  --hue-90-900: #858a80;
  --hue-120-100: #f5fff5;
  --hue-120-200: #e1fee1;
  --hue-120-300: #ccfccc;
  --hue-120-400: #85f885;
  --hue-120-500: #83d083;
  --hue-120-600: #82bc82;
  --hue-120-700: #81a881;
  --hue-120-800: #819e81;
  --hue-120-900: #808a80;
  --hue-150-100: mintcream;
  --hue-150-200: #e1feef;
  --hue-150-300: #ccfce4;
  --hue-150-400: #85f8bf;
  --hue-150-500: #83d0aa;
  --hue-150-600: #82bc9f;
  --hue-150-700: #81a895;
  --hue-150-800: #819e90;
  --hue-150-900: #808a85;
  --hue-180-100: #f5ffff;
  --hue-180-200: #e1fefe;
  --hue-180-300: #ccfcfc;
  --hue-180-400: #85f8f8;
  --hue-180-500: #83d0d0;
  --hue-180-600: #82bcbc;
  --hue-180-700: #81a8a8;
  --hue-180-800: #819e9e;
  --hue-180-900: #808a8a;
  --hue-210-100: #f5faff;
  --hue-210-200: #e1effe;
  --hue-210-300: #cce4fc;
  --hue-210-400: #85bff8;
  --hue-210-500: #84b4e4;
  --hue-210-600: #84afda;
  --hue-210-700: #83a5c6;
  --hue-210-800: #829ab2;
  --hue-210-900: #818a94;
  --hue-240-100: #f5f5ff;
  --hue-240-200: #e1e1fe;
  --hue-240-300: #ccccfc;
  --hue-240-400: #8585f8;
  --hue-240-500: #8484e4;
  --hue-240-600: #8484da;
  --hue-240-700: #8383c6;
  --hue-240-800: #8282b2;
  --hue-240-900: #818194;
  --hue-270-100: #faf5ff;
  --hue-270-200: #efe1fe;
  --hue-270-300: #e4ccfc;
  --hue-270-400: #bf85f8;
  --hue-270-500: #b484e4;
  --hue-270-600: #af84da;
  --hue-270-700: #a583c6;
  --hue-270-800: #9a82b2;
  --hue-270-900: #8a8194;
  --hue-300-100: #fff5ff;
  --hue-300-200: #fee1fe;
  --hue-300-300: #fcccfc;
  --hue-300-400: #f885f8;
  --hue-300-500: #e484e4;
  --hue-300-600: #da84da;
  --hue-300-700: #c683c6;
  --hue-300-800: #b282b2;
  --hue-300-900: #948194;
  --hue-330-100: #fff5fa;
  --hue-330-200: #fee1ef;
  --hue-330-300: #fccce4;
  --hue-330-400: #f885bf;
  --hue-330-500: #e484b4;
  --hue-330-600: #da84af;
  --hue-330-700: #c683a5;
  --hue-330-800: #b2829a;
  --hue-330-900: #94818a;
  --complementary-100: #fff5fb;
  --complementary-200: #fee1f2;
  --complementary-300: #fccce9;
  --complementary-400: #f885ca;
  --complementary-500: #e484bd;
  --complementary-600: #da84b7;
  --complementary-700: #c683ab;
  --complementary-800: #b2829f;
  --complementary-900: #94818c;
  --analogous1-100: #f5fffe;
  --analogous1-200: #e1fefb;
  --analogous1-300: #ccfcf8;
  --analogous1-400: #85f8ed;
  --analogous1-500: #83d0c9;
  --analogous1-600: #82bcb7;
  --analogous1-700: #81a8a4;
  --analogous1-800: #819e9b;
  --analogous1-900: #808a89;
  --analogous2-100: #f5fbff;
  --analogous2-200: #e1f2fe;
  --analogous2-300: #cce9fc;
  --analogous2-400: #85caf8;
  --analogous2-500: #83b1d0;
  --analogous2-600: #82a5bc;
  --analogous2-700: #8198a8;
  --analogous2-800: #81929e;
  --analogous2-900: #80868a;
  --analogous3-100: #f5f6ff;
  --analogous3-200: #e1e4fe;
  --analogous3-300: #ccd1fc;
  --analogous3-400: #8590f8;
  --analogous3-500: #848ee4;
  --analogous3-600: #848cda;
  --analogous3-700: #8389c6;
  --analogous3-800: #8287b2;
  --analogous3-900: #818394;
  --split1-100: #fef5ff;
  --split1-200: #fbe1fe;
  --split1-300: #f8ccfc;
  --split1-400: #ed85f8;
  --split1-500: #db84e4;
  --split1-600: #d284da;
  --split1-700: #c083c6;
  --split1-800: #ad82b2;
  --split1-900: #928194;
  --split2-100: #fff5f6;
  --split2-200: #fee1e4;
  --split2-300: #fcccd1;
  --split2-400: #f88590;
  --split2-500: #e4848e;
  --split2-600: #da848c;
  --split2-700: #c68389;
  --split2-800: #b28287;
  --split2-900: #948183;
  --square1-100: #f5f6ff;
  --square1-200: #e1e4fe;
  --square1-300: #ccd1fc;
  --square1-400: #8590f8;
  --square1-500: #848ee4;
  --square1-600: #848cda;
  --square1-700: #8389c6;
  --square1-800: #8287b2;
  --square1-900: #818394;
  --square2-100: #fff5fb;
  --square2-200: #fee1f2;
  --square2-300: #fccce9;
  --square2-400: #f885ca;
  --square2-500: #e484bd;
  --square2-600: #da84b7;
  --square2-700: #c683ab;
  --square2-800: #b2829f;
  --square2-900: #94818c;
  --square3-100: #fffef5;
  --square3-200: #fefbe1;
  --square3-300: #fcf8cc;
  --square3-400: #f8ed85;
  --square3-500: #d0c983;
  --square3-600: #bcb782;
  --square3-700: #a8a481;
  --square3-800: #9e9b81;
  --square3-900: #8a8980;
  --triadic1-100: #f9f5ff;
  --triadic1-200: #ece1fe;
  --triadic1-300: #e0ccfc;
  --triadic1-400: #b385f8;
  --triadic1-500: #ab84e4;
  --triadic1-600: #a684da;
  --triadic1-700: #9e83c6;
  --triadic1-800: #9582b2;
  --triadic1-900: #888194;
  --triadic2-100: #fff9f5;
  --triadic2-200: #feece1;
  --triadic2-300: #fce0cc;
  --triadic2-400: #f8b385;
  --triadic2-500: #e4ab84;
  --triadic2-600: #daa684;
  --triadic2-700: #c69e83;
  --triadic2-800: #b29582;
  --triadic2-900: #948881;
  --tetradic1-100: #f5fbff;
  --tetradic1-200: #e1f2fe;
  --tetradic1-300: #cce9fc;
  --tetradic1-400: #85caf8;
  --tetradic1-500: #83b1d0;
  --tetradic1-600: #82a5bc;
  --tetradic1-700: #8198a8;
  --tetradic1-800: #81929e;
  --tetradic1-900: #80868a;
  --tetradic2-100: #fff5fb;
  --tetradic2-200: #fee1f2;
  --tetradic2-300: #fccce9;
  --tetradic2-400: #f885ca;
  --tetradic2-500: #e484bd;
  --tetradic2-600: #da84b7;
  --tetradic2-700: #c683ab;
  --tetradic2-800: #b2829f;
  --tetradic2-900: #94818c;
  --tetradic3-100: #fff9f5;
  --tetradic3-200: #feece1;
  --tetradic3-300: #fce0cc;
  --tetradic3-400: #f8b385;
  --tetradic3-500: #e4ab84;
  --tetradic3-600: #daa684;
  --tetradic3-700: #c69e83;
  --tetradic3-800: #b29582;
  --tetradic3-900: #948881;
  --success-100: #f5fff5;
  --success-200: #e1fee1;
  --success-300: #ccfccc;
  --success-400: #85f885;
  --success-500: #83d083;
  --success-600: #82bc82;
  --success-700: #81a881;
  --success-800: #819e81;
  --success-900: #808a80;
  --danger-100: #fff5f5;
  --danger-200: #fee1e1;
  --danger-300: #fccccc;
  --danger-400: #f88585;
  --danger-500: #e48484;
  --danger-600: #da8484;
  --danger-700: #c68383;
  --danger-800: #b28282;
  --danger-900: #948181;
  --warning-100: #fffaf5;
  --warning-200: #feefe1;
  --warning-300: #fce4cc;
  --warning-400: #f8bf85;
  --warning-500: #d0aa83;
  --warning-600: #bc9f82;
  --warning-700: #a89581;
  --warning-800: #9e9081;
  --warning-900: #8a8580;
  --info-100: #f5faff;
  --info-200: #e1effe;
  --info-300: #cce4fc;
  --info-400: #85bff8;
  --info-500: #84b4e4;
  --info-600: #84afda;
  --info-700: #83a5c6;
  --info-800: #829ab2;
  --info-900: #818a94;
  --primary-100n: #effaf3;
  --primary-200n: #cfefdc;
  --primary-300n: #afe3c4;
  --primary-400n: #3fbc71;
  --primary-500n: #2a7e4c;
  --primary-600n: #205e39;
  --primary-700n: #153e25;
  --primary-800n: #102f1d;
  --primary-900n: #05100a;
  --hue-0-100n: #faefef;
  --hue-0-200n: #efcfcf;
  --hue-0-300n: #e3afaf;
  --hue-0-400n: #bc3f3f;
  --hue-0-500n: #9d3434;
  --hue-0-600n: #8d3030;
  --hue-0-700n: #6e2525;
  --hue-0-800n: #4e1a1a;
  --hue-0-900n: #1f0b0b;
  --hue-30-100n: #faf4ef;
  --hue-30-200n: #efdfcf;
  --hue-30-300n: #e3c9af;
  --hue-30-400n: #bc7e3f;
  --hue-30-500n: #7e542a;
  --hue-30-600n: #6a3f14;
  --hue-30-700n: #462a0d;
  --hue-30-800n: #35200a;
  --hue-30-900n: #120b03;
  --hue-60-100n: #fcfced;
  --hue-60-200n: #f4f4ca;
  --hue-60-300n: #ededa5;
  --hue-60-400n: #d3d328;
  --hue-60-500n: #8d8d1b;
  --hue-60-600n: #6a6a14;
  --hue-60-700n: #46460d;
  --hue-60-800n: #35350a;
  --hue-60-900n: #121203;
  --hue-90-100n: #f4faef;
  --hue-90-200n: #dfefcf;
  --hue-90-300n: #c9e3af;
  --hue-90-400n: #7ebc3f;
  --hue-90-500n: #547e2a;
  --hue-90-600n: #3f5e20;
  --hue-90-700n: #2a3e15;
  --hue-90-800n: #202f10;
  --hue-90-900n: #0b1203;
  --hue-120-100n: #effaef;
  --hue-120-200n: #cfefcf;
  --hue-120-300n: #afe3af;
  --hue-120-400n: #3fbc3f;
  --hue-120-500n: #2a7e2a;
  --hue-120-600n: #205e20;
  --hue-120-700n: #153e15;
  --hue-120-800n: #102f10;
  --hue-120-900n: #051005;
  --hue-150-100n: #effaf4;
  --hue-150-200n: #cfefdf;
  --hue-150-300n: #afe3c9;
  --hue-150-400n: #3fbc7e;
  --hue-150-500n: #2a7e54;
  --hue-150-600n: #205e3f;
  --hue-150-700n: #153e2a;
  --hue-150-800n: #102f20;
  --hue-150-900n: #05100b;
  --hue-180-100n: #effafa;
  --hue-180-200n: #cfefef;
  --hue-180-300n: #afe3e3;
  --hue-180-400n: #3fbcbc;
  --hue-180-500n: #2a7e7e;
  --hue-180-600n: #205e5e;
  --hue-180-700n: #153e3e;
  --hue-180-800n: #102f2f;
  --hue-180-900n: #051010;
  --hue-210-100n: #f1f4f8;
  --hue-210-200n: #cfdfef;
  --hue-210-300n: #afc9e3;
  --hue-210-400n: #3f7ebc;
  --hue-210-500n: #34699d;
  --hue-210-600n: #305f8d;
  --hue-210-700n: #254a6e;
  --hue-210-800n: #1a354e;
  --hue-210-900n: #0b151f;
  --hue-240-100n: #f1f1f8;
  --hue-240-200n: #d4d4ea;
  --hue-240-300n: #b7b7db;
  --hue-240-400n: #5252a9;
  --hue-240-500n: #44448d;
  --hue-240-600n: #3e3e7f;
  --hue-240-700n: #303063;
  --hue-240-800n: #222246;
  --hue-240-900n: #0e0e1c;
  --hue-270-100n: #f4f1f8;
  --hue-270-200n: #dfd1ed;
  --hue-270-300n: #c9b2e0;
  --hue-270-400n: #7e46b5;
  --hue-270-500n: #693a97;
  --hue-270-600n: #5f3588;
  --hue-270-700n: #4a296a;
  --hue-270-800n: #341d4b;
  --hue-270-900n: #150c1e;
  --hue-300-100n: #f9f0f9;
  --hue-300-200n: #edd1ed;
  --hue-300-300n: #e0b2e0;
  --hue-300-400n: #b546b5;
  --hue-300-500n: #973a97;
  --hue-300-600n: #883588;
  --hue-300-700n: #6a296a;
  --hue-300-800n: #4b1d4b;
  --hue-300-900n: #1e0c1e;
  --hue-330-100n: #faeff4;
  --hue-330-200n: #efcfdf;
  --hue-330-300n: #e3afc9;
  --hue-330-400n: #bc3f7e;
  --hue-330-500n: #9d3469;
  --hue-330-600n: #8d305f;
  --hue-330-700n: #6e254a;
  --hue-330-800n: #4e1a35;
  --hue-330-900n: #1f0b15;
  --complementary-100n: #faeff5;
  --complementary-200n: #efcfe2;
  --complementary-300n: #e3afce;
  --complementary-400n: #bc3f8a;
  --complementary-500n: #9d3472;
  --complementary-600n: #8d3067;
  --complementary-700n: #6e2550;
  --complementary-800n: #4e1a39;
  --complementary-900n: #1f0b17;
  --analogous1-100n: #effaf9;
  --analogous1-200n: #cfefeb;
  --analogous1-300n: #afe3de;
  --analogous1-400n: #3fbcb0;
  --analogous1-500n: #2a7e75;
  --analogous1-600n: #205e58;
  --analogous1-700n: #153e3b;
  --analogous1-800n: #102f2c;
  --analogous1-900n: #05100f;
  --analogous2-100n: #eff5fa;
  --analogous2-200n: #cfe2ef;
  --analogous2-300n: #afcee3;
  --analogous2-400n: #3f8abc;
  --analogous2-500n: #2a5c7e;
  --analogous2-600n: #20455e;
  --analogous2-700n: #152e3e;
  --analogous2-800n: #10222f;
  --analogous2-900n: #050b10;
  --analogous3-100n: #f1f2f8;
  --analogous3-200n: #d4d6ea;
  --analogous3-300n: #b7bbdb;
  --analogous3-400n: #525ba9;
  --analogous3-500n: #444b8d;
  --analogous3-600n: #3e447f;
  --analogous3-700n: #303563;
  --analogous3-800n: #222646;
  --analogous3-900n: #0e0f1c;
  --split1-100n: #f8f0f9;
  --split1-200n: #ead1ed;
  --split1-300n: #dcb2e0;
  --split1-400n: #ab46b5;
  --split1-500n: #8e3a97;
  --split1-600n: #803588;
  --split1-700n: #64296a;
  --split1-800n: #471d4b;
  --split1-900n: #1d0c1e;
  --split2-100n: #faeff0;
  --split2-200n: #efcfd3;
  --split2-300n: #e3afb4;
  --split2-400n: #bc3f4c;
  --split2-500n: #9d343f;
  --split2-600n: #8d3039;
  --split2-700n: #6e252c;
  --split2-800n: #4e1a1f;
  --split2-900n: #1f0b0d;
  --square1-100n: #f1f2f8;
  --square1-200n: #d4d6ea;
  --square1-300n: #b7bbdb;
  --square1-400n: #525ba9;
  --square1-500n: #444b8d;
  --square1-600n: #3e447f;
  --square1-700n: #303563;
  --square1-800n: #222646;
  --square1-900n: #0e0f1c;
  --square2-100n: #faeff5;
  --square2-200n: #efcfe2;
  --square2-300n: #e3afce;
  --square2-400n: #bc3f8a;
  --square2-500n: #9d3472;
  --square2-600n: #8d3067;
  --square2-700n: #6e2550;
  --square2-800n: #4e1a39;
  --square2-900n: #1f0b17;
  --square3-100n: #fcfaed;
  --square3-200n: #f4f0ca;
  --square3-300n: #ede6a5;
  --square3-400n: #d3c328;
  --square3-500n: #8d821b;
  --square3-600n: #6a6214;
  --square3-700n: #46410d;
  --square3-800n: #35310a;
  --square3-900n: #121003;
  --triadic1-100n: #f4f1f8;
  --triadic1-200n: #ddd4ea;
  --triadic1-300n: #c6b7db;
  --triadic1-400n: #7552a9;
  --triadic1-500n: #61448d;
  --triadic1-600n: #583e7f;
  --triadic1-700n: #443063;
  --triadic1-800n: #312246;
  --triadic1-900n: #130e1c;
  --triadic2-100n: #faf3ef;
  --triadic2-200n: #efdccf;
  --triadic2-300n: #e3c4af;
  --triadic2-400n: #bc713f;
  --triadic2-500n: #9d5f34;
  --triadic2-600n: #8d5530;
  --triadic2-700n: #6e4225;
  --triadic2-800n: #4e2f1a;
  --triadic2-900n: #1f130b;
  --tetradic1-100n: #eff5fa;
  --tetradic1-200n: #cfe2ef;
  --tetradic1-300n: #afcee3;
  --tetradic1-400n: #3f8abc;
  --tetradic1-500n: #2a5c7e;
  --tetradic1-600n: #20455e;
  --tetradic1-700n: #152e3e;
  --tetradic1-800n: #10222f;
  --tetradic1-900n: #050b10;
  --tetradic2-100n: #faeff5;
  --tetradic2-200n: #efcfe2;
  --tetradic2-300n: #e3afce;
  --tetradic2-400n: #bc3f8a;
  --tetradic2-500n: #9d3472;
  --tetradic2-600n: #8d3067;
  --tetradic2-700n: #6e2550;
  --tetradic2-800n: #4e1a39;
  --tetradic2-900n: #1f0b17;
  --tetradic3-100n: #faf3ef;
  --tetradic3-200n: #efdccf;
  --tetradic3-300n: #e3c4af;
  --tetradic3-400n: #bc713f;
  --tetradic3-500n: #9d5f34;
  --tetradic3-600n: #8d5530;
  --tetradic3-700n: #6e4225;
  --tetradic3-800n: #4e2f1a;
  --tetradic3-900n: #1f130b;
  --success-100n: #effaef;
  --success-200n: #cfefcf;
  --success-300n: #afe3af;
  --success-400n: #3fbc3f;
  --success-500n: #2a7e2a;
  --success-600n: #205e20;
  --success-700n: #153e15;
  --success-800n: #102f10;
  --success-900n: #051005;
  --danger-100n: #faefef;
  --danger-200n: #efcfcf;
  --danger-300n: #e3afaf;
  --danger-400n: #bc3f3f;
  --danger-500n: #9d3434;
  --danger-600n: #8d3030;
  --danger-700n: #6e2525;
  --danger-800n: #4e1a1a;
  --danger-900n: #1f0b0b;
  --warning-100n: #faf4ef;
  --warning-200n: #efdfcf;
  --warning-300n: #e3c9af;
  --warning-400n: #d37e28;
  --warning-500n: #7e542a;
  --warning-600n: #6a3f14;
  --warning-700n: #462a0d;
  --warning-800n: #35200a;
  --warning-900n: #120b03;
  --info-100n: #f1f4f8;
  --info-200n: #cfdfef;
  --info-300n: #afc9e3;
  --info-400n: #3f7ebc;
  --info-500n: #34699d;
  --info-600n: #305f8d;
  --info-700n: #254a6e;
  --info-800n: #1a354e;
  --info-900n: #0b151f;
  --primary-100a: rgba(235, 254, 242, 0.3);
  --primary-200a: rgba(194, 252, 217, 0.3);
  --primary-300a: rgba(153, 249, 192, 0.3);
  --primary-400a: rgba(10, 241, 103, 0.3);
  --primary-500a: rgba(7, 161, 69, 0.3);
  --primary-600a: rgba(5, 121, 52, 0.3);
  --primary-700a: rgba(3, 80, 34, 0.3);
  --primary-800a: rgba(3, 60, 26, 0.3);
  --primary-900a: rgba(1, 20, 9, 0.3);
  --hue-0-100a: rgba(254, 235, 235, 0.3);
  --hue-0-200a: rgba(252, 194, 194, 0.3);
  --hue-0-300a: rgba(249, 153, 153, 0.3);
  --hue-0-400a: rgba(241, 10, 10, 0.3);
  --hue-0-500a: rgba(201, 8, 8, 0.3);
  --hue-0-600a: rgba(181, 8, 8, 0.3);
  --hue-0-700a: rgba(141, 6, 6, 0.3);
  --hue-0-800a: rgba(100, 4, 4, 0.3);
  --hue-0-900a: rgba(40, 2, 2, 0.3);
  --hue-30-100a: rgba(254, 244, 235, 0.3);
  --hue-30-200a: rgba(252, 223, 194, 0.3);
  --hue-30-300a: rgba(249, 201, 153, 0.3);
  --hue-30-400a: rgba(241, 126, 10, 0.3);
  --hue-30-500a: rgba(161, 84, 7, 0.3);
  --hue-30-600a: rgba(121, 63, 5, 0.3);
  --hue-30-700a: rgba(80, 42, 3, 0.3);
  --hue-30-800a: rgba(60, 32, 3, 0.3);
  --hue-30-900a: rgba(20, 11, 1, 0.3);
  --hue-60-100a: rgba(254, 254, 235, 0.3);
  --hue-60-200a: rgba(252, 252, 194, 0.3);
  --hue-60-300a: rgba(249, 249, 153, 0.3);
  --hue-60-400a: rgba(241, 241, 10, 0.3);
  --hue-60-500a: rgba(161, 161, 7, 0.3);
  --hue-60-600a: rgba(121, 121, 5, 0.3);
  --hue-60-700a: rgba(80, 80, 3, 0.3);
  --hue-60-800a: rgba(60, 60, 3, 0.3);
  --hue-60-900a: rgba(20, 20, 1, 0.3);
  --hue-90-100a: rgba(244, 254, 235, 0.3);
  --hue-90-200a: rgba(223, 252, 194, 0.3);
  --hue-90-300a: rgba(201, 249, 153, 0.3);
  --hue-90-400a: rgba(126, 241, 10, 0.3);
  --hue-90-500a: rgba(84, 161, 7, 0.3);
  --hue-90-600a: rgba(63, 121, 5, 0.3);
  --hue-90-700a: rgba(42, 80, 3, 0.3);
  --hue-90-800a: rgba(32, 60, 3, 0.3);
  --hue-90-900a: rgba(11, 20, 1, 0.3);
  --hue-120-100a: rgba(235, 254, 235, 0.3);
  --hue-120-200a: rgba(194, 252, 194, 0.3);
  --hue-120-300a: rgba(153, 249, 153, 0.3);
  --hue-120-400a: rgba(10, 241, 10, 0.3);
  --hue-120-500a: rgba(7, 161, 7, 0.3);
  --hue-120-600a: rgba(5, 121, 5, 0.3);
  --hue-120-700a: rgba(3, 80, 3, 0.3);
  --hue-120-800a: rgba(3, 60, 3, 0.3);
  --hue-120-900a: rgba(1, 20, 1, 0.3);
  --hue-150-100a: rgba(235, 254, 244, 0.3);
  --hue-150-200a: rgba(194, 252, 223, 0.3);
  --hue-150-300a: rgba(153, 249, 201, 0.3);
  --hue-150-400a: rgba(10, 241, 126, 0.3);
  --hue-150-500a: rgba(7, 161, 84, 0.3);
  --hue-150-600a: rgba(5, 121, 63, 0.3);
  --hue-150-700a: rgba(3, 80, 42, 0.3);
  --hue-150-800a: rgba(3, 60, 32, 0.3);
  --hue-150-900a: rgba(1, 20, 11, 0.3);
  --hue-180-100a: rgba(235, 254, 254, 0.3);
  --hue-180-200a: rgba(194, 252, 252, 0.3);
  --hue-180-300a: rgba(153, 249, 249, 0.3);
  --hue-180-400a: rgba(10, 241, 241, 0.3);
  --hue-180-500a: rgba(7, 161, 161, 0.3);
  --hue-180-600a: rgba(5, 121, 121, 0.3);
  --hue-180-700a: rgba(3, 80, 80, 0.3);
  --hue-180-800a: rgba(3, 60, 60, 0.3);
  --hue-180-900a: rgba(1, 20, 20, 0.3);
  --hue-210-100a: rgba(235, 244, 254, 0.3);
  --hue-210-200a: rgba(194, 223, 252, 0.3);
  --hue-210-300a: rgba(153, 201, 249, 0.3);
  --hue-210-400a: rgba(10, 126, 241, 0.3);
  --hue-210-500a: rgba(8, 105, 201, 0.3);
  --hue-210-600a: rgba(8, 95, 181, 0.3);
  --hue-210-700a: rgba(6, 74, 141, 0.3);
  --hue-210-800a: rgba(4, 53, 100, 0.3);
  --hue-210-900a: rgba(2, 21, 40, 0.3);
  --hue-240-100a: rgba(235, 235, 254, 0.3);
  --hue-240-200a: rgba(194, 194, 252, 0.3);
  --hue-240-300a: rgba(153, 153, 249, 0.3);
  --hue-240-400a: rgba(10, 10, 241, 0.3);
  --hue-240-500a: rgba(8, 8, 201, 0.3);
  --hue-240-600a: rgba(8, 8, 181, 0.3);
  --hue-240-700a: rgba(6, 6, 141, 0.3);
  --hue-240-800a: rgba(4, 4, 100, 0.3);
  --hue-240-900a: rgba(2, 2, 40, 0.3);
  --hue-270-100a: rgba(244, 235, 254, 0.3);
  --hue-270-200a: rgba(223, 194, 252, 0.3);
  --hue-270-300a: rgba(201, 153, 249, 0.3);
  --hue-270-400a: rgba(126, 10, 241, 0.3);
  --hue-270-500a: rgba(105, 8, 201, 0.3);
  --hue-270-600a: rgba(95, 8, 181, 0.3);
  --hue-270-700a: rgba(74, 6, 141, 0.3);
  --hue-270-800a: rgba(53, 4, 100, 0.3);
  --hue-270-900a: rgba(21, 2, 40, 0.3);
  --hue-300-100a: rgba(254, 235, 254, 0.3);
  --hue-300-200a: rgba(252, 194, 252, 0.3);
  --hue-300-300a: rgba(249, 153, 249, 0.3);
  --hue-300-400a: rgba(241, 10, 241, 0.3);
  --hue-300-500a: rgba(201, 8, 201, 0.3);
  --hue-300-600a: rgba(181, 8, 181, 0.3);
  --hue-300-700a: rgba(141, 6, 141, 0.3);
  --hue-300-800a: rgba(100, 4, 100, 0.3);
  --hue-300-900a: rgba(40, 2, 40, 0.3);
  --hue-330-100a: rgba(254, 235, 244, 0.3);
  --hue-330-200a: rgba(252, 194, 223, 0.3);
  --hue-330-300a: rgba(249, 153, 201, 0.3);
  --hue-330-400a: rgba(241, 10, 126, 0.3);
  --hue-330-500a: rgba(201, 8, 105, 0.3);
  --hue-330-600a: rgba(181, 8, 95, 0.3);
  --hue-330-700a: rgba(141, 6, 74, 0.3);
  --hue-330-800a: rgba(100, 4, 53, 0.3);
  --hue-330-900a: rgba(40, 2, 21, 0.3);
  --complementary-100a: rgba(254, 235, 246, 0.3);
  --complementary-200a: rgba(252, 194, 228, 0.3);
  --complementary-300a: rgba(249, 153, 210, 0.3);
  --complementary-400a: rgba(241, 10, 148, 0.3);
  --complementary-500a: rgba(201, 8, 123, 0.3);
  --complementary-600a: rgba(181, 8, 111, 0.3);
  --complementary-700a: rgba(141, 6, 86, 0.3);
  --complementary-800a: rgba(100, 4, 62, 0.3);
  --complementary-900a: rgba(40, 2, 25, 0.3);
  --analogous1-100a: rgba(235, 254, 252, 0.3);
  --analogous1-200a: rgba(194, 252, 246, 0.3);
  --analogous1-300a: rgba(153, 249, 240, 0.3);
  --analogous1-400a: rgba(10, 241, 219, 0.3);
  --analogous1-500a: rgba(7, 161, 146, 0.3);
  --analogous1-600a: rgba(5, 121, 110, 0.3);
  --analogous1-700a: rgba(3, 80, 73, 0.3);
  --analogous1-800a: rgba(3, 60, 55, 0.3);
  --analogous1-900a: rgba(1, 20, 18, 0.3);
  --analogous2-100a: rgba(235, 246, 254, 0.3);
  --analogous2-200a: rgba(194, 228, 252, 0.3);
  --analogous2-300a: rgba(153, 210, 249, 0.3);
  --analogous2-400a: rgba(10, 148, 241, 0.3);
  --analogous2-500a: rgba(7, 99, 161, 0.3);
  --analogous2-600a: rgba(5, 74, 121, 0.3);
  --analogous2-700a: rgba(3, 49, 80, 0.3);
  --analogous2-800a: rgba(3, 37, 60, 0.3);
  --analogous2-900a: rgba(1, 12, 20, 0.3);
  --analogous3-100a: rgba(235, 237, 254, 0.3);
  --analogous3-200a: rgba(194, 200, 252, 0.3);
  --analogous3-300a: rgba(153, 163, 249, 0.3);
  --analogous3-400a: rgba(10, 33, 241, 0.3);
  --analogous3-500a: rgba(8, 28, 201, 0.3);
  --analogous3-600a: rgba(8, 25, 181, 0.3);
  --analogous3-700a: rgba(6, 19, 141, 0.3);
  --analogous3-800a: rgba(4, 14, 100, 0.3);
  --analogous3-900a: rgba(2, 6, 40, 0.3);
  --split1-100a: rgba(252, 235, 254, 0.3);
  --split1-200a: rgba(246, 194, 252, 0.3);
  --split1-300a: rgba(240, 153, 249, 0.3);
  --split1-400a: rgba(219, 10, 241, 0.3);
  --split1-500a: rgba(183, 8, 201, 0.3);
  --split1-600a: rgba(164, 8, 181, 0.3);
  --split1-700a: rgba(128, 6, 141, 0.3);
  --split1-800a: rgba(91, 4, 100, 0.3);
  --split1-900a: rgba(37, 2, 40, 0.3);
  --split2-100a: rgba(254, 235, 237, 0.3);
  --split2-200a: rgba(252, 194, 200, 0.3);
  --split2-300a: rgba(249, 153, 163, 0.3);
  --split2-400a: rgba(241, 10, 33, 0.3);
  --split2-500a: rgba(201, 8, 28, 0.3);
  --split2-600a: rgba(181, 8, 25, 0.3);
  --split2-700a: rgba(141, 6, 19, 0.3);
  --split2-800a: rgba(100, 4, 14, 0.3);
  --split2-900a: rgba(40, 2, 6, 0.3);
  --square1-100a: rgba(235, 237, 254, 0.3);
  --square1-200a: rgba(194, 200, 252, 0.3);
  --square1-300a: rgba(153, 163, 249, 0.3);
  --square1-400a: rgba(10, 33, 241, 0.3);
  --square1-500a: rgba(8, 28, 201, 0.3);
  --square1-600a: rgba(8, 25, 181, 0.3);
  --square1-700a: rgba(6, 19, 141, 0.3);
  --square1-800a: rgba(4, 14, 100, 0.3);
  --square1-900a: rgba(2, 6, 40, 0.3);
  --square2-100a: rgba(254, 235, 246, 0.3);
  --square2-200a: rgba(252, 194, 228, 0.3);
  --square2-300a: rgba(249, 153, 210, 0.3);
  --square2-400a: rgba(241, 10, 148, 0.3);
  --square2-500a: rgba(201, 8, 123, 0.3);
  --square2-600a: rgba(181, 8, 111, 0.3);
  --square2-700a: rgba(141, 6, 86, 0.3);
  --square2-800a: rgba(100, 4, 62, 0.3);
  --square2-900a: rgba(40, 2, 25, 0.3);
  --square3-100a: rgba(254, 252, 235, 0.3);
  --square3-200a: rgba(252, 246, 194, 0.3);
  --square3-300a: rgba(249, 240, 153, 0.3);
  --square3-400a: rgba(241, 219, 10, 0.3);
  --square3-500a: rgba(161, 146, 7, 0.3);
  --square3-600a: rgba(121, 110, 5, 0.3);
  --square3-700a: rgba(80, 73, 3, 0.3);
  --square3-800a: rgba(60, 55, 3, 0.3);
  --square3-900a: rgba(20, 18, 1, 0.3);
  --triadic1-100a: rgba(242, 235, 254, 0.3);
  --triadic1-200a: rgba(217, 194, 252, 0.3);
  --triadic1-300a: rgba(192, 153, 249, 0.3);
  --triadic1-400a: rgba(103, 10, 241, 0.3);
  --triadic1-500a: rgba(86, 8, 201, 0.3);
  --triadic1-600a: rgba(77, 8, 181, 0.3);
  --triadic1-700a: rgba(60, 6, 141, 0.3);
  --triadic1-800a: rgba(43, 4, 100, 0.3);
  --triadic1-900a: rgba(17, 2, 40, 0.3);
  --triadic2-100a: rgba(254, 242, 235, 0.3);
  --triadic2-200a: rgba(252, 217, 194, 0.3);
  --triadic2-300a: rgba(249, 192, 153, 0.3);
  --triadic2-400a: rgba(241, 103, 10, 0.3);
  --triadic2-500a: rgba(201, 86, 8, 0.3);
  --triadic2-600a: rgba(181, 77, 8, 0.3);
  --triadic2-700a: rgba(141, 60, 6, 0.3);
  --triadic2-800a: rgba(100, 43, 4, 0.3);
  --triadic2-900a: rgba(40, 17, 2, 0.3);
  --tetradic1-100a: rgba(235, 246, 254, 0.3);
  --tetradic1-200a: rgba(194, 228, 252, 0.3);
  --tetradic1-300a: rgba(153, 210, 249, 0.3);
  --tetradic1-400a: rgba(10, 148, 241, 0.3);
  --tetradic1-500a: rgba(7, 99, 161, 0.3);
  --tetradic1-600a: rgba(5, 74, 121, 0.3);
  --tetradic1-700a: rgba(3, 49, 80, 0.3);
  --tetradic1-800a: rgba(3, 37, 60, 0.3);
  --tetradic1-900a: rgba(1, 12, 20, 0.3);
  --tetradic2-100a: rgba(254, 235, 246, 0.3);
  --tetradic2-200a: rgba(252, 194, 228, 0.3);
  --tetradic2-300a: rgba(249, 153, 210, 0.3);
  --tetradic2-400a: rgba(241, 10, 148, 0.3);
  --tetradic2-500a: rgba(201, 8, 123, 0.3);
  --tetradic2-600a: rgba(181, 8, 111, 0.3);
  --tetradic2-700a: rgba(141, 6, 86, 0.3);
  --tetradic2-800a: rgba(100, 4, 62, 0.3);
  --tetradic2-900a: rgba(40, 2, 25, 0.3);
  --tetradic3-100a: rgba(254, 242, 235, 0.3);
  --tetradic3-200a: rgba(252, 217, 194, 0.3);
  --tetradic3-300a: rgba(249, 192, 153, 0.3);
  --tetradic3-400a: rgba(241, 103, 10, 0.3);
  --tetradic3-500a: rgba(201, 86, 8, 0.3);
  --tetradic3-600a: rgba(181, 77, 8, 0.3);
  --tetradic3-700a: rgba(141, 60, 6, 0.3);
  --tetradic3-800a: rgba(100, 43, 4, 0.3);
  --tetradic3-900a: rgba(40, 17, 2, 0.3);
  --success-100a: rgba(235, 254, 235, 0.3);
  --success-200a: rgba(194, 252, 194, 0.3);
  --success-300a: rgba(153, 249, 153, 0.3);
  --success-400a: rgba(10, 241, 10, 0.3);
  --success-500a: rgba(7, 161, 7, 0.3);
  --success-600a: rgba(5, 121, 5, 0.3);
  --success-700a: rgba(3, 80, 3, 0.3);
  --success-800a: rgba(3, 60, 3, 0.3);
  --success-900a: rgba(1, 20, 1, 0.3);
  --danger-100a: rgba(254, 235, 235, 0.3);
  --danger-200a: rgba(252, 194, 194, 0.3);
  --danger-300a: rgba(249, 153, 153, 0.3);
  --danger-400a: rgba(241, 10, 10, 0.3);
  --danger-500a: rgba(201, 8, 8, 0.3);
  --danger-600a: rgba(181, 8, 8, 0.3);
  --danger-700a: rgba(141, 6, 6, 0.3);
  --danger-800a: rgba(100, 4, 4, 0.3);
  --danger-900a: rgba(40, 2, 2, 0.3);
  --warning-100a: rgba(254, 244, 235, 0.3);
  --warning-200a: rgba(252, 223, 194, 0.3);
  --warning-300a: rgba(249, 201, 153, 0.3);
  --warning-400a: rgba(241, 126, 10, 0.3);
  --warning-500a: rgba(161, 84, 7, 0.3);
  --warning-600a: rgba(121, 63, 5, 0.3);
  --warning-700a: rgba(80, 42, 3, 0.3);
  --warning-800a: rgba(60, 32, 3, 0.3);
  --warning-900a: rgba(20, 11, 1, 0.3);
  --info-100a: rgba(235, 244, 254, 0.3);
  --info-200a: rgba(194, 223, 252, 0.3);
  --info-300a: rgba(153, 201, 249, 0.3);
  --info-400a: rgba(10, 126, 241, 0.3);
  --info-500a: rgba(8, 105, 201, 0.3);
  --info-600a: rgba(8, 95, 181, 0.3);
  --info-700a: rgba(6, 74, 141, 0.3);
  --info-800a: rgba(4, 53, 100, 0.3);
  --info-900a: rgba(2, 21, 40, 0.3);
}
