:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #f7fdf9;
  --primary-200: #e7f7ee;
  --primary-300: #d7f1e2;
  --primary-400: #9fdeb8;
  --primary-500: #95bfa6;
  --primary-600: #90af9c;
  --primary-700: #8a9f92;
  --primary-800: #88978e;
  --primary-900: #828885;
  --hue-0-100: #fdf8f7;
  --hue-0-200: #f7e9e7;
  --hue-0-300: #f1dad7;
  --hue-0-400: #dea59f;
  --hue-0-500: #ce9f9a;
  --hue-0-600: #c69c98;
  --hue-0-700: #b79692;
  --hue-0-800: #a78f8d;
  --hue-0-900: #8f8685;
  --hue-30-100: #fdf9f7;
  --hue-30-200: #f7ebe7;
  --hue-30-300: #f1ded7;
  --hue-30-400: #deaf9f;
  --hue-30-500: #cea79a;
  --hue-30-600: #c6a398;
  --hue-30-700: #b79b92;
  --hue-30-800: #a7938d;
  --hue-30-900: #8f8885;
  --hue-60-100: #fdfaf7;
  --hue-60-200: #f7efe7;
  --hue-60-300: #f1e4d7;
  --hue-60-400: #e9bf94;
  --hue-60-500: #bfaa95;
  --hue-60-600: #b59f8a;
  --hue-60-700: #a39586;
  --hue-60-800: #9a9085;
  --hue-60-900: #898581;
  --hue-90-100: #fefcf6;
  --hue-90-200: #faf4e5;
  --hue-90-300: #f6edd2;
  --hue-90-400: #e9d494;
  --hue-90-500: #c6b88d;
  --hue-90-600: #b5aa8a;
  --hue-90-700: #a39c86;
  --hue-90-800: #9a9585;
  --hue-90-900: #898781;
  --hue-120-100: #fefef6;
  --hue-120-200: #fafae5;
  --hue-120-300: #f6f6d2;
  --hue-120-400: #e9e994;
  --hue-120-500: #c6c68d;
  --hue-120-600: #b5b58a;
  --hue-120-700: #a3a386;
  --hue-120-800: #9a9a85;
  --hue-120-900: #898981;
  --hue-150-100: #fcfef6;
  --hue-150-200: #f5fae5;
  --hue-150-300: #eef6d2;
  --hue-150-400: #d6e994;
  --hue-150-500: #b9c68d;
  --hue-150-600: #abb58a;
  --hue-150-700: #9ca386;
  --hue-150-800: #959a85;
  --hue-150-900: #878981;
  --hue-180-100: #fafdf7;
  --hue-180-200: #eef7e7;
  --hue-180-300: #e2f1d7;
  --hue-180-400: #b9de9f;
  --hue-180-500: #a6bf95;
  --hue-180-600: #9daf90;
  --hue-180-700: #939f8a;
  --hue-180-800: #8e9788;
  --hue-180-900: #858882;
  --hue-210-100: #f7fdfb;
  --hue-210-200: #e7f7f3;
  --hue-210-300: #d7f1ea;
  --hue-210-400: #9fdecd;
  --hue-210-500: #95bfb3;
  --hue-210-600: #90afa7;
  --hue-210-700: #8a9f99;
  --hue-210-800: #889793;
  --hue-210-900: #828886;
  --hue-240-100: #f8f9fc;
  --hue-240-200: #eaedf5;
  --hue-240-300: #dbe0ed;
  --hue-240-400: #a9b5d4;
  --hue-240-500: #a2acc6;
  --hue-240-600: #9fa7bf;
  --hue-240-700: #989fb1;
  --hue-240-800: #9196a3;
  --hue-240-900: #87898e;
  --hue-270-100: #faf8fc;
  --hue-270-200: #eeeaf5;
  --hue-270-300: #e2dbed;
  --hue-270-400: #baa9d4;
  --hue-270-500: #b0a2c6;
  --hue-270-600: #ac9fbf;
  --hue-270-700: #a298b1;
  --hue-270-800: #9891a3;
  --hue-270-900: #89878e;
  --hue-300-100: #fcf8fc;
  --hue-300-200: #f6e8f6;
  --hue-300-300: #f0d9f0;
  --hue-300-400: #daa3da;
  --hue-300-500: #cb9dcb;
  --hue-300-600: #c49ac4;
  --hue-300-700: #b594b5;
  --hue-300-800: #a58ea5;
  --hue-300-900: #8f868f;
  --hue-330-100: #fdf7f9;
  --hue-330-200: #f7e7ec;
  --hue-330-300: #f1d7df;
  --hue-330-400: #de9fb3;
  --hue-330-500: #ce9aaa;
  --hue-330-600: #c698a6;
  --hue-330-700: #b7929e;
  --hue-330-800: #a78d95;
  --hue-330-900: #8f8588;
  --complementary-100: #fcf9f7;
  --complementary-200: #f4ebe8;
  --complementary-300: #ecddd8;
  --complementary-400: #d1ada1;
  --complementary-500: #c4a59b;
  --complementary-600: #bda299;
  --complementary-700: #af9a93;
  --complementary-800: #a2938d;
  --complementary-900: #8d8785;
  --analogous1-100: #f7fcfc;
  --analogous1-200: #e7f5f5;
  --analogous1-300: #d6efee;
  --analogous1-400: #9dd7d6;
  --analogous1-500: #94bab9;
  --analogous1-600: #8fabab;
  --analogous1-700: #8a9d9c;
  --analogous1-800: #879695;
  --analogous1-900: #828787;
  --analogous2-100: #f8f9fb;
  --analogous2-200: #e9ecf3;
  --analogous2-300: #dadfea;
  --analogous2-400: #a5b2cd;
  --analogous2-500: #9faac0;
  --analogous2-600: #9ca5ba;
  --analogous2-700: #969dad;
  --analogous2-800: #8f95a0;
  --analogous2-900: #86888d;
  --analogous3-100: #faf9fc;
  --analogous3-200: #f0ebf5;
  --analogous3-300: #e6ddee;
  --analogous3-400: #c1b2d3;
  --analogous3-500: #b7aac5;
  --analogous3-600: #b1a5be;
  --analogous3-700: #a69db0;
  --analogous3-800: #9b95a2;
  --analogous3-900: #8b888e;
  --split1-100: #fcf8f9;
  --split1-200: #f4eaec;
  --split1-300: #eddbdf;
  --split1-400: #d4a9b2;
  --split1-500: #c6a2a9;
  --split1-600: #bf9fa5;
  --split1-700: #b1989d;
  --split1-800: #a39195;
  --split1-900: #8e8788;
  --split2-100: #fcf9f7;
  --split2-200: #f4ede8;
  --split2-300: #ece2d8;
  --split2-400: #d1b8a1;
  --split2-500: #b6a696;
  --split2-600: #a99c90;
  --split2-700: #9b928b;
  --split2-800: #948e88;
  --split2-900: #878482;
  --square1-100: #faf9fc;
  --square1-200: #f0ebf5;
  --square1-300: #e6ddee;
  --square1-400: #c1b2d3;
  --square1-500: #b7aac5;
  --square1-600: #b1a5be;
  --square1-700: #a69db0;
  --square1-800: #9b95a2;
  --square1-900: #8b888e;
  --square2-100: #fcf9f7;
  --square2-200: #f4ebe8;
  --square2-300: #ecddd8;
  --square2-400: #d1ada1;
  --square2-500: #c4a59b;
  --square2-600: #bda299;
  --square2-700: #af9a93;
  --square2-800: #a2938d;
  --square2-900: #8d8785;
  --square3-100: #fdfcf6;
  --square3-200: #f7f6e5;
  --square3-300: #f2f0d4;
  --square3-400: #dfdb96;
  --square3-500: #bfbd8f;
  --square3-600: #afae8b;
  --square3-700: #a09e87;
  --square3-800: #989785;
  --square3-900: #888782;
  --triadic1-100: #fcf8fb;
  --triadic1-200: #f4eaf2;
  --triadic1-300: #ecdcea;
  --triadic1-400: #d1accd;
  --triadic1-500: #c4a4c0;
  --triadic1-600: #bda1b9;
  --triadic1-700: #af99ac;
  --triadic1-800: #a292a0;
  --triadic1-900: #8d878d;
  --triadic2-100: #fdfbf6;
  --triadic2-200: #f7f2e5;
  --triadic2-300: #f2e9d4;
  --triadic2-400: #dfc996;
  --triadic2-500: #bfb08f;
  --triadic2-600: #afa48b;
  --triadic2-700: #a09887;
  --triadic2-800: #989285;
  --triadic2-900: #888682;
  --tetradic1-100: #f8f9fb;
  --tetradic1-200: #e9ecf3;
  --tetradic1-300: #dadfea;
  --tetradic1-400: #a5b2cd;
  --tetradic1-500: #9faac0;
  --tetradic1-600: #9ca5ba;
  --tetradic1-700: #969dad;
  --tetradic1-800: #8f95a0;
  --tetradic1-900: #86888d;
  --tetradic2-100: #fcf9f7;
  --tetradic2-200: #f4ebe8;
  --tetradic2-300: #ecddd8;
  --tetradic2-400: #d1ada1;
  --tetradic2-500: #c4a59b;
  --tetradic2-600: #bda299;
  --tetradic2-700: #af9a93;
  --tetradic2-800: #a2938d;
  --tetradic2-900: #8d8785;
  --tetradic3-100: #fdfbf6;
  --tetradic3-200: #f7f2e5;
  --tetradic3-300: #f2e9d4;
  --tetradic3-400: #dfc996;
  --tetradic3-500: #bfb08f;
  --tetradic3-600: #afa48b;
  --tetradic3-700: #a09887;
  --tetradic3-800: #989285;
  --tetradic3-900: #888682;
  --success-100: #fafdf7;
  --success-200: #eef7e7;
  --success-300: #e2f1d7;
  --success-400: #b9de9f;
  --success-500: #a6bf95;
  --success-600: #9daf90;
  --success-700: #939f8a;
  --success-800: #8e9788;
  --success-900: #858882;
  --danger-100: #fdf8f7;
  --danger-200: #f7e9e7;
  --danger-300: #f1dad7;
  --danger-400: #dea59f;
  --danger-500: #ce9f9a;
  --danger-600: #c69c98;
  --danger-700: #b79692;
  --danger-800: #a78f8d;
  --danger-900: #8f8685;
  --warning-100: #fdfaf7;
  --warning-200: #f7efe7;
  --warning-300: #f1e4d7;
  --warning-400: #e9bf94;
  --warning-500: #bfaa95;
  --warning-600: #b59f8a;
  --warning-700: #a39586;
  --warning-800: #9a9085;
  --warning-900: #898581;
  --info-100: #f8f9fc;
  --info-200: #eaedf5;
  --info-300: #dbe0ed;
  --info-400: #a9b5d4;
  --info-500: #a2acc6;
  --info-600: #9fa7bf;
  --info-700: #989fb1;
  --info-800: #9196a3;
  --info-900: #87898e;
  --primary-100n: #effaf3;
  --primary-200n: #cfefdc;
  --primary-300n: #afe3c4;
  --primary-400n: #3fbc71;
  --primary-500n: #2a7e4c;
  --primary-600n: #205e39;
  --primary-700n: #153e25;
  --primary-800n: #102f1d;
  --primary-900n: #05100a;
  --hue-0-100n: #faf0ef;
  --hue-0-200n: #efd2cf;
  --hue-0-300n: #e3b4af;
  --hue-0-400n: #bc4a3f;
  --hue-0-500n: #9d3e34;
  --hue-0-600n: #8d3830;
  --hue-0-700n: #6e2c25;
  --hue-0-800n: #4e1f1a;
  --hue-0-900n: #1f0c0b;
  --hue-30-100n: #faf2ef;
  --hue-30-200n: #efd7cf;
  --hue-30-300n: #e3bcaf;
  --hue-30-400n: #bc5e3f;
  --hue-30-500n: #9d4f34;
  --hue-30-600n: #8d4730;
  --hue-30-700n: #6e3725;
  --hue-30-800n: #4e271a;
  --hue-30-900n: #1f100b;
  --hue-60-100n: #faf4ef;
  --hue-60-200n: #efdfcf;
  --hue-60-300n: #e3c9af;
  --hue-60-400n: #d37e28;
  --hue-60-500n: #7e542a;
  --hue-60-600n: #6a3f14;
  --hue-60-700n: #462a0d;
  --hue-60-800n: #35200a;
  --hue-60-900n: #120b03;
  --hue-90-100n: #fcf8ed;
  --hue-90-200n: #f4e9ca;
  --hue-90-300n: #eddba5;
  --hue-90-400n: #d3a828;
  --hue-90-500n: #8d701b;
  --hue-90-600n: #6a5414;
  --hue-90-700n: #46380d;
  --hue-90-800n: #352a0a;
  --hue-90-900n: #120e03;
  --hue-120-100n: #fcfced;
  --hue-120-200n: #f4f4ca;
  --hue-120-300n: #ededa5;
  --hue-120-400n: #d3d328;
  --hue-120-500n: #8d8d1b;
  --hue-120-600n: #6a6a14;
  --hue-120-700n: #46460d;
  --hue-120-800n: #35350a;
  --hue-120-900n: #121203;
  --hue-150-100n: #f9fced;
  --hue-150-200n: #ebf4ca;
  --hue-150-300n: #ddeda5;
  --hue-150-400n: #acd328;
  --hue-150-500n: #738d1b;
  --hue-150-600n: #576a14;
  --hue-150-700n: #39460d;
  --hue-150-800n: #2b350a;
  --hue-150-900n: #0f1203;
  --hue-180-100n: #f4faef;
  --hue-180-200n: #dcefcf;
  --hue-180-300n: #c5e3af;
  --hue-180-400n: #72bc3f;
  --hue-180-500n: #4c7e2a;
  --hue-180-600n: #3a5e20;
  --hue-180-700n: #263e15;
  --hue-180-800n: #1d2f10;
  --hue-180-900n: #0a1005;
  --hue-210-100n: #effaf7;
  --hue-210-200n: #cfefe6;
  --hue-210-300n: #afe3d5;
  --hue-210-400n: #3fbc9a;
  --hue-210-500n: #2a7e67;
  --hue-210-600n: #205e4e;
  --hue-210-700n: #153e33;
  --hue-210-800n: #102f27;
  --hue-210-900n: #05100d;
  --hue-240-100n: #f1f3f8;
  --hue-240-200n: #d4daea;
  --hue-240-300n: #b7c1db;
  --hue-240-400n: #526aa9;
  --hue-240-500n: #44588d;
  --hue-240-600n: #3e4f7f;
  --hue-240-700n: #303e63;
  --hue-240-800n: #222c46;
  --hue-240-900n: #0e121c;
  --hue-270-100n: #f4f1f8;
  --hue-270-200n: #ddd4ea;
  --hue-270-300n: #c5b7db;
  --hue-270-400n: #7552a9;
  --hue-270-500n: #61448d;
  --hue-270-600n: #583e7f;
  --hue-270-700n: #443063;
  --hue-270-800n: #312246;
  --hue-270-900n: #130e1c;
  --hue-300-100n: #f9f0f9;
  --hue-300-200n: #edd1ed;
  --hue-300-300n: #e0b2e0;
  --hue-300-400n: #b546b5;
  --hue-300-500n: #973a97;
  --hue-300-600n: #883588;
  --hue-300-700n: #6a296a;
  --hue-300-800n: #4b1d4b;
  --hue-300-900n: #1e0c1e;
  --hue-330-100n: #faeff3;
  --hue-330-200n: #efcfd9;
  --hue-330-300n: #e3afbf;
  --hue-330-400n: #bc3f66;
  --hue-330-500n: #9d3455;
  --hue-330-600n: #8d304d;
  --hue-330-700n: #6e253c;
  --hue-330-800n: #4e1a2a;
  --hue-330-900n: #1f0b11;
  --complementary-100n: #f8f2ef;
  --complementary-200n: #e8d6d0;
  --complementary-300n: #d9bbb0;
  --complementary-400n: #a35a42;
  --complementary-500n: #884b37;
  --complementary-600n: #7a4432;
  --complementary-700n: #5f3427;
  --complementary-800n: #44261b;
  --complementary-900n: #1b0f0b;
  --analogous1-100n: #eff8f8;
  --analogous1-200n: #ceebea;
  --analogous1-300n: #addedc;
  --analogous1-400n: #3bafac;
  --analogous1-500n: #287473;
  --analogous1-600n: #1e5756;
  --analogous1-700n: #143a39;
  --analogous1-800n: #0f2c2b;
  --analogous1-900n: #050f0e;
  --analogous2-100n: #f0f2f7;
  --analogous2-200n: #d2d9e6;
  --analogous2-300n: #b4bfd5;
  --analogous2-400n: #4b649a;
  --analogous2-500n: #3e5481;
  --analogous2-600n: #384b74;
  --analogous2-700n: #2c3b5a;
  --analogous2-800n: #1f2a40;
  --analogous2-900n: #0d111a;
  --analogous3-100n: #f5f2f8;
  --analogous3-200n: #e0d6eb;
  --analogous3-300n: #ccbbdd;
  --analogous3-400n: #8364a6;
  --analogous3-500n: #6e548a;
  --analogous3-600n: #634b7c;
  --analogous3-700n: #4d3a61;
  --analogous3-800n: #372a45;
  --analogous3-900n: #16111c;
  --split1-100n: #f8f1f2;
  --split1-200n: #e9d4d8;
  --split1-300n: #dbb7be;
  --split1-400n: #a85364;
  --split1-500n: #8c4553;
  --split1-600n: #7e3e4b;
  --split1-700n: #62303a;
  --split1-800n: #46232a;
  --split1-900n: #1c0e11;
  --split2-100n: #f8f3ef;
  --split2-200n: #e8dbd0;
  --split2-300n: #d9c4b0;
  --split2-400n: #a37142;
  --split2-500n: #6d4c2c;
  --split2-600n: #523921;
  --split2-700n: #362516;
  --split2-800n: #291c10;
  --split2-900n: #0e0905;
  --square1-100n: #f5f2f8;
  --square1-200n: #e0d6eb;
  --square1-300n: #ccbbdd;
  --square1-400n: #8364a6;
  --square1-500n: #6e548a;
  --square1-600n: #634b7c;
  --square1-700n: #4d3a61;
  --square1-800n: #372a45;
  --square1-900n: #16111c;
  --square2-100n: #f8f2ef;
  --square2-200n: #e8d6d0;
  --square2-300n: #d9bbb0;
  --square2-400n: #a35a42;
  --square2-500n: #884b37;
  --square2-600n: #7a4432;
  --square2-700n: #5f3427;
  --square2-800n: #44261b;
  --square2-900n: #1b0f0b;
  --square3-100n: #faf9ed;
  --square3-200n: #efedca;
  --square3-300n: #e4e1a8;
  --square3-400n: #bfb72d;
  --square3-500n: #7f7a1e;
  --square3-600n: #5f5c17;
  --square3-700n: #403d0f;
  --square3-800n: #302e0b;
  --square3-900n: #100f04;
  --triadic1-100n: #f8f1f7;
  --triadic1-200n: #e8d5e5;
  --triadic1-300n: #d9b9d5;
  --triadic1-400n: #a3589a;
  --triadic1-500n: #884980;
  --triadic1-600n: #7a4273;
  --triadic1-700n: #5f3359;
  --triadic1-800n: #442540;
  --triadic1-900n: #1b0f1a;
  --triadic2-100n: #faf6ed;
  --triadic2-200n: #efe4ca;
  --triadic2-300n: #e4d2a8;
  --triadic2-400n: #bf922d;
  --triadic2-500n: #7f611e;
  --triadic2-600n: #5f4917;
  --triadic2-700n: #40310f;
  --triadic2-800n: #30250b;
  --triadic2-900n: #100c04;
  --tetradic1-100n: #f0f2f7;
  --tetradic1-200n: #d2d9e6;
  --tetradic1-300n: #b4bfd5;
  --tetradic1-400n: #4b649a;
  --tetradic1-500n: #3e5481;
  --tetradic1-600n: #384b74;
  --tetradic1-700n: #2c3b5a;
  --tetradic1-800n: #1f2a40;
  --tetradic1-900n: #0d111a;
  --tetradic2-100n: #f8f2ef;
  --tetradic2-200n: #e8d6d0;
  --tetradic2-300n: #d9bbb0;
  --tetradic2-400n: #a35a42;
  --tetradic2-500n: #884b37;
  --tetradic2-600n: #7a4432;
  --tetradic2-700n: #5f3427;
  --tetradic2-800n: #44261b;
  --tetradic2-900n: #1b0f0b;
  --tetradic3-100n: #faf6ed;
  --tetradic3-200n: #efe4ca;
  --tetradic3-300n: #e4d2a8;
  --tetradic3-400n: #bf922d;
  --tetradic3-500n: #7f611e;
  --tetradic3-600n: #5f4917;
  --tetradic3-700n: #40310f;
  --tetradic3-800n: #30250b;
  --tetradic3-900n: #100c04;
  --success-100n: #f4faef;
  --success-200n: #dcefcf;
  --success-300n: #c5e3af;
  --success-400n: #72bc3f;
  --success-500n: #4c7e2a;
  --success-600n: #3a5e20;
  --success-700n: #263e15;
  --success-800n: #1d2f10;
  --success-900n: #0a1005;
  --danger-100n: #faf0ef;
  --danger-200n: #efd2cf;
  --danger-300n: #e3b4af;
  --danger-400n: #bc4a3f;
  --danger-500n: #9d3e34;
  --danger-600n: #8d3830;
  --danger-700n: #6e2c25;
  --danger-800n: #4e1f1a;
  --danger-900n: #1f0c0b;
  --warning-100n: #faf4ef;
  --warning-200n: #efdfcf;
  --warning-300n: #e3c9af;
  --warning-400n: #d37e28;
  --warning-500n: #7e542a;
  --warning-600n: #6a3f14;
  --warning-700n: #462a0d;
  --warning-800n: #35200a;
  --warning-900n: #120b03;
  --info-100n: #f1f3f8;
  --info-200n: #d4daea;
  --info-300n: #b7c1db;
  --info-400n: #526aa9;
  --info-500n: #44588d;
  --info-600n: #3e4f7f;
  --info-700n: #303e63;
  --info-800n: #222c46;
  --info-900n: #0e121c;
  --primary-100a: rgba(235, 254, 242, 0.3);
  --primary-200a: rgba(194, 252, 217, 0.3);
  --primary-300a: rgba(153, 249, 192, 0.3);
  --primary-400a: rgba(10, 241, 103, 0.3);
  --primary-500a: rgba(7, 161, 69, 0.3);
  --primary-600a: rgba(5, 121, 52, 0.3);
  --primary-700a: rgba(3, 80, 34, 0.3);
  --primary-800a: rgba(3, 60, 26, 0.3);
  --primary-900a: rgba(1, 20, 9, 0.3);
  --hue-0-100a: rgba(254, 236, 235, 0.3);
  --hue-0-200a: rgba(252, 199, 194, 0.3);
  --hue-0-300a: rgba(249, 162, 153, 0.3);
  --hue-0-400a: rgba(241, 31, 10, 0.3);
  --hue-0-500a: rgba(201, 26, 8, 0.3);
  --hue-0-600a: rgba(181, 23, 8, 0.3);
  --hue-0-700a: rgba(141, 18, 6, 0.3);
  --hue-0-800a: rgba(100, 13, 4, 0.3);
  --hue-0-900a: rgba(40, 5, 2, 0.3);
  --hue-30-100a: rgba(254, 239, 235, 0.3);
  --hue-30-200a: rgba(252, 208, 194, 0.3);
  --hue-30-300a: rgba(249, 177, 153, 0.3);
  --hue-30-400a: rgba(241, 68, 10, 0.3);
  --hue-30-500a: rgba(201, 57, 8, 0.3);
  --hue-30-600a: rgba(181, 51, 8, 0.3);
  --hue-30-700a: rgba(141, 40, 6, 0.3);
  --hue-30-800a: rgba(100, 28, 4, 0.3);
  --hue-30-900a: rgba(40, 11, 2, 0.3);
  --hue-60-100a: rgba(254, 244, 235, 0.3);
  --hue-60-200a: rgba(252, 223, 194, 0.3);
  --hue-60-300a: rgba(249, 201, 153, 0.3);
  --hue-60-400a: rgba(241, 126, 10, 0.3);
  --hue-60-500a: rgba(161, 84, 7, 0.3);
  --hue-60-600a: rgba(121, 63, 5, 0.3);
  --hue-60-700a: rgba(80, 42, 3, 0.3);
  --hue-60-800a: rgba(60, 32, 3, 0.3);
  --hue-60-900a: rgba(20, 11, 1, 0.3);
  --hue-90-100a: rgba(254, 249, 235, 0.3);
  --hue-90-200a: rgba(252, 237, 194, 0.3);
  --hue-90-300a: rgba(249, 225, 153, 0.3);
  --hue-90-400a: rgba(241, 183, 10, 0.3);
  --hue-90-500a: rgba(161, 122, 7, 0.3);
  --hue-90-600a: rgba(121, 92, 5, 0.3);
  --hue-90-700a: rgba(80, 61, 3, 0.3);
  --hue-90-800a: rgba(60, 46, 3, 0.3);
  --hue-90-900a: rgba(20, 15, 1, 0.3);
  --hue-120-100a: rgba(254, 254, 235, 0.3);
  --hue-120-200a: rgba(252, 252, 194, 0.3);
  --hue-120-300a: rgba(249, 249, 153, 0.3);
  --hue-120-400a: rgba(241, 241, 10, 0.3);
  --hue-120-500a: rgba(161, 161, 7, 0.3);
  --hue-120-600a: rgba(121, 121, 5, 0.3);
  --hue-120-700a: rgba(80, 80, 3, 0.3);
  --hue-120-800a: rgba(60, 60, 3, 0.3);
  --hue-120-900a: rgba(20, 20, 1, 0.3);
  --hue-150-100a: rgba(250, 254, 235, 0.3);
  --hue-150-200a: rgba(239, 252, 194, 0.3);
  --hue-150-300a: rgba(228, 249, 153, 0.3);
  --hue-150-400a: rgba(189, 241, 10, 0.3);
  --hue-150-500a: rgba(126, 161, 7, 0.3);
  --hue-150-600a: rgba(95, 121, 5, 0.3);
  --hue-150-700a: rgba(63, 80, 3, 0.3);
  --hue-150-800a: rgba(47, 60, 3, 0.3);
  --hue-150-900a: rgba(16, 20, 1, 0.3);
  --hue-180-100a: rgba(243, 254, 235, 0.3);
  --hue-180-200a: rgba(218, 252, 194, 0.3);
  --hue-180-300a: rgba(193, 249, 153, 0.3);
  --hue-180-400a: rgba(105, 241, 10, 0.3);
  --hue-180-500a: rgba(70, 161, 7, 0.3);
  --hue-180-600a: rgba(53, 121, 5, 0.3);
  --hue-180-700a: rgba(35, 80, 3, 0.3);
  --hue-180-800a: rgba(26, 60, 3, 0.3);
  --hue-180-900a: rgba(9, 20, 1, 0.3);
  --hue-210-100a: rgba(235, 254, 249, 0.3);
  --hue-210-200a: rgba(194, 252, 236, 0.3);
  --hue-210-300a: rgba(153, 249, 223, 0.3);
  --hue-210-400a: rgba(10, 241, 179, 0.3);
  --hue-210-500a: rgba(7, 161, 119, 0.3);
  --hue-210-600a: rgba(5, 121, 90, 0.3);
  --hue-210-700a: rgba(3, 80, 60, 0.3);
  --hue-210-800a: rgba(3, 60, 45, 0.3);
  --hue-210-900a: rgba(1, 20, 15, 0.3);
  --hue-240-100a: rgba(235, 240, 254, 0.3);
  --hue-240-200a: rgba(194, 210, 252, 0.3);
  --hue-240-300a: rgba(153, 179, 249, 0.3);
  --hue-240-400a: rgba(10, 73, 241, 0.3);
  --hue-240-500a: rgba(8, 61, 201, 0.3);
  --hue-240-600a: rgba(8, 55, 181, 0.3);
  --hue-240-700a: rgba(6, 43, 141, 0.3);
  --hue-240-800a: rgba(4, 30, 100, 0.3);
  --hue-240-900a: rgba(2, 12, 40, 0.3);
  --hue-270-100a: rgba(242, 235, 254, 0.3);
  --hue-270-200a: rgba(217, 194, 252, 0.3);
  --hue-270-300a: rgba(191, 153, 249, 0.3);
  --hue-270-400a: rgba(102, 10, 241, 0.3);
  --hue-270-500a: rgba(85, 8, 201, 0.3);
  --hue-270-600a: rgba(77, 8, 181, 0.3);
  --hue-270-700a: rgba(60, 6, 141, 0.3);
  --hue-270-800a: rgba(43, 4, 100, 0.3);
  --hue-270-900a: rgba(17, 2, 40, 0.3);
  --hue-300-100a: rgba(254, 235, 254, 0.3);
  --hue-300-200a: rgba(252, 194, 252, 0.3);
  --hue-300-300a: rgba(249, 153, 249, 0.3);
  --hue-300-400a: rgba(241, 10, 241, 0.3);
  --hue-300-500a: rgba(201, 8, 201, 0.3);
  --hue-300-600a: rgba(181, 8, 181, 0.3);
  --hue-300-700a: rgba(141, 6, 141, 0.3);
  --hue-300-800a: rgba(100, 4, 100, 0.3);
  --hue-300-900a: rgba(40, 2, 40, 0.3);
  --hue-330-100a: rgba(254, 235, 241, 0.3);
  --hue-330-200a: rgba(252, 194, 212, 0.3);
  --hue-330-300a: rgba(249, 153, 183, 0.3);
  --hue-330-400a: rgba(241, 10, 82, 0.3);
  --hue-330-500a: rgba(201, 8, 68, 0.3);
  --hue-330-600a: rgba(181, 8, 62, 0.3);
  --hue-330-700a: rgba(141, 6, 48, 0.3);
  --hue-330-800a: rgba(100, 4, 34, 0.3);
  --hue-330-900a: rgba(40, 2, 14, 0.3);
  --complementary-100a: rgba(251, 240, 236, 0.3);
  --complementary-200a: rgba(242, 209, 198, 0.3);
  --complementary-300a: rgba(234, 178, 159, 0.3);
  --complementary-400a: rgba(204, 69, 25, 0.3);
  --complementary-500a: rgba(170, 58, 21, 0.3);
  --complementary-600a: rgba(153, 52, 19, 0.3);
  --complementary-700a: rgba(119, 40, 15, 0.3);
  --complementary-800a: rgba(85, 29, 10, 0.3);
  --complementary-900a: rgba(34, 12, 4, 0.3);
  --analogous1-100a: rgba(235, 252, 252, 0.3);
  --analogous1-200a: rgba(194, 247, 246, 0.3);
  --analogous1-300a: rgba(153, 242, 240, 0.3);
  --analogous1-400a: rgba(10, 224, 219, 0.3);
  --analogous1-500a: rgba(7, 149, 146, 0.3);
  --analogous1-600a: rgba(5, 112, 110, 0.3);
  --analogous1-700a: rgba(3, 75, 73, 0.3);
  --analogous1-800a: rgba(3, 56, 55, 0.3);
  --analogous1-900a: rgba(1, 19, 18, 0.3);
  --analogous2-100a: rgba(235, 240, 252, 0.3);
  --analogous2-200a: rgba(194, 211, 246, 0.3);
  --analogous2-300a: rgba(153, 181, 240, 0.3);
  --analogous2-400a: rgba(10, 77, 219, 0.3);
  --analogous2-500a: rgba(8, 64, 183, 0.3);
  --analogous2-600a: rgba(8, 58, 164, 0.3);
  --analogous2-700a: rgba(6, 45, 128, 0.3);
  --analogous2-800a: rgba(4, 32, 91, 0.3);
  --analogous2-900a: rgba(2, 13, 37, 0.3);
  --analogous3-100a: rgba(245, 238, 252, 0.3);
  --analogous3-200a: rgba(224, 203, 246, 0.3);
  --analogous3-300a: rgba(203, 168, 240, 0.3);
  --analogous3-400a: rgba(129, 47, 219, 0.3);
  --analogous3-500a: rgba(108, 39, 183, 0.3);
  --analogous3-600a: rgba(97, 35, 164, 0.3);
  --analogous3-700a: rgba(75, 27, 128, 0.3);
  --analogous3-800a: rgba(54, 20, 91, 0.3);
  --analogous3-900a: rgba(22, 8, 37, 0.3);
  --split1-100a: rgba(251, 238, 240, 0.3);
  --split1-200a: rgba(242, 203, 211, 0.3);
  --split1-300a: rgba(234, 168, 181, 0.3);
  --split1-400a: rgba(204, 47, 78, 0.3);
  --split1-500a: rgba(170, 39, 65, 0.3);
  --split1-600a: rgba(153, 35, 59, 0.3);
  --split1-700a: rgba(119, 27, 46, 0.3);
  --split1-800a: rgba(85, 20, 33, 0.3);
  --split1-900a: rgba(34, 8, 13, 0.3);
  --split2-100a: rgba(251, 243, 236, 0.3);
  --split2-200a: rgba(242, 219, 198, 0.3);
  --split2-300a: rgba(234, 195, 159, 0.3);
  --split2-400a: rgba(204, 112, 25, 0.3);
  --split2-500a: rgba(136, 75, 17, 0.3);
  --split2-600a: rgba(102, 56, 13, 0.3);
  --split2-700a: rgba(68, 37, 8, 0.3);
  --split2-800a: rgba(51, 28, 6, 0.3);
  --split2-900a: rgba(17, 9, 2, 0.3);
  --square1-100a: rgba(245, 238, 252, 0.3);
  --square1-200a: rgba(224, 203, 246, 0.3);
  --square1-300a: rgba(203, 168, 240, 0.3);
  --square1-400a: rgba(129, 47, 219, 0.3);
  --square1-500a: rgba(108, 39, 183, 0.3);
  --square1-600a: rgba(97, 35, 164, 0.3);
  --square1-700a: rgba(75, 27, 128, 0.3);
  --square1-800a: rgba(54, 20, 91, 0.3);
  --square1-900a: rgba(22, 8, 37, 0.3);
  --square2-100a: rgba(251, 240, 236, 0.3);
  --square2-200a: rgba(242, 209, 198, 0.3);
  --square2-300a: rgba(234, 178, 159, 0.3);
  --square2-400a: rgba(204, 69, 25, 0.3);
  --square2-500a: rgba(170, 58, 21, 0.3);
  --square2-600a: rgba(153, 52, 19, 0.3);
  --square2-700a: rgba(119, 40, 15, 0.3);
  --square2-800a: rgba(85, 29, 10, 0.3);
  --square2-900a: rgba(34, 12, 4, 0.3);
  --square3-100a: rgba(252, 251, 235, 0.3);
  --square3-200a: rgba(245, 243, 196, 0.3);
  --square3-300a: rgba(239, 235, 157, 0.3);
  --square3-400a: rgba(216, 206, 20, 0.3);
  --square3-500a: rgba(144, 137, 13, 0.3);
  --square3-600a: rgba(108, 103, 10, 0.3);
  --square3-700a: rgba(72, 69, 7, 0.3);
  --square3-800a: rgba(54, 52, 5, 0.3);
  --square3-900a: rgba(18, 17, 2, 0.3);
  --triadic1-100a: rgba(251, 238, 249, 0.3);
  --triadic1-200a: rgba(242, 203, 237, 0.3);
  --triadic1-300a: rgba(234, 168, 225, 0.3);
  --triadic1-400a: rgba(204, 47, 184, 0.3);
  --triadic1-500a: rgba(170, 39, 153, 0.3);
  --triadic1-600a: rgba(153, 35, 138, 0.3);
  --triadic1-700a: rgba(119, 27, 107, 0.3);
  --triadic1-800a: rgba(85, 20, 77, 0.3);
  --triadic1-900a: rgba(34, 8, 31, 0.3);
  --triadic2-100a: rgba(252, 247, 235, 0.3);
  --triadic2-200a: rgba(245, 230, 196, 0.3);
  --triadic2-300a: rgba(239, 214, 157, 0.3);
  --triadic2-400a: rgba(216, 156, 20, 0.3);
  --triadic2-500a: rgba(144, 104, 13, 0.3);
  --triadic2-600a: rgba(108, 78, 10, 0.3);
  --triadic2-700a: rgba(72, 52, 7, 0.3);
  --triadic2-800a: rgba(54, 39, 5, 0.3);
  --triadic2-900a: rgba(18, 13, 2, 0.3);
  --tetradic1-100a: rgba(235, 240, 252, 0.3);
  --tetradic1-200a: rgba(194, 211, 246, 0.3);
  --tetradic1-300a: rgba(153, 181, 240, 0.3);
  --tetradic1-400a: rgba(10, 77, 219, 0.3);
  --tetradic1-500a: rgba(8, 64, 183, 0.3);
  --tetradic1-600a: rgba(8, 58, 164, 0.3);
  --tetradic1-700a: rgba(6, 45, 128, 0.3);
  --tetradic1-800a: rgba(4, 32, 91, 0.3);
  --tetradic1-900a: rgba(2, 13, 37, 0.3);
  --tetradic2-100a: rgba(251, 240, 236, 0.3);
  --tetradic2-200a: rgba(242, 209, 198, 0.3);
  --tetradic2-300a: rgba(234, 178, 159, 0.3);
  --tetradic2-400a: rgba(204, 69, 25, 0.3);
  --tetradic2-500a: rgba(170, 58, 21, 0.3);
  --tetradic2-600a: rgba(153, 52, 19, 0.3);
  --tetradic2-700a: rgba(119, 40, 15, 0.3);
  --tetradic2-800a: rgba(85, 29, 10, 0.3);
  --tetradic2-900a: rgba(34, 12, 4, 0.3);
  --tetradic3-100a: rgba(252, 247, 235, 0.3);
  --tetradic3-200a: rgba(245, 230, 196, 0.3);
  --tetradic3-300a: rgba(239, 214, 157, 0.3);
  --tetradic3-400a: rgba(216, 156, 20, 0.3);
  --tetradic3-500a: rgba(144, 104, 13, 0.3);
  --tetradic3-600a: rgba(108, 78, 10, 0.3);
  --tetradic3-700a: rgba(72, 52, 7, 0.3);
  --tetradic3-800a: rgba(54, 39, 5, 0.3);
  --tetradic3-900a: rgba(18, 13, 2, 0.3);
  --success-100a: rgba(243, 254, 235, 0.3);
  --success-200a: rgba(218, 252, 194, 0.3);
  --success-300a: rgba(193, 249, 153, 0.3);
  --success-400a: rgba(105, 241, 10, 0.3);
  --success-500a: rgba(70, 161, 7, 0.3);
  --success-600a: rgba(53, 121, 5, 0.3);
  --success-700a: rgba(35, 80, 3, 0.3);
  --success-800a: rgba(26, 60, 3, 0.3);
  --success-900a: rgba(9, 20, 1, 0.3);
  --danger-100a: rgba(254, 236, 235, 0.3);
  --danger-200a: rgba(252, 199, 194, 0.3);
  --danger-300a: rgba(249, 162, 153, 0.3);
  --danger-400a: rgba(241, 31, 10, 0.3);
  --danger-500a: rgba(201, 26, 8, 0.3);
  --danger-600a: rgba(181, 23, 8, 0.3);
  --danger-700a: rgba(141, 18, 6, 0.3);
  --danger-800a: rgba(100, 13, 4, 0.3);
  --danger-900a: rgba(40, 5, 2, 0.3);
  --warning-100a: rgba(254, 244, 235, 0.3);
  --warning-200a: rgba(252, 223, 194, 0.3);
  --warning-300a: rgba(249, 201, 153, 0.3);
  --warning-400a: rgba(241, 126, 10, 0.3);
  --warning-500a: rgba(161, 84, 7, 0.3);
  --warning-600a: rgba(121, 63, 5, 0.3);
  --warning-700a: rgba(80, 42, 3, 0.3);
  --warning-800a: rgba(60, 32, 3, 0.3);
  --warning-900a: rgba(20, 11, 1, 0.3);
  --info-100a: rgba(235, 240, 254, 0.3);
  --info-200a: rgba(194, 210, 252, 0.3);
  --info-300a: rgba(153, 179, 249, 0.3);
  --info-400a: rgba(10, 73, 241, 0.3);
  --info-500a: rgba(8, 61, 201, 0.3);
  --info-600a: rgba(8, 55, 181, 0.3);
  --info-700a: rgba(6, 43, 141, 0.3);
  --info-800a: rgba(4, 30, 100, 0.3);
  --info-900a: rgba(2, 12, 40, 0.3);
}
