:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #f7fbf9;
  --primary-200: #e8f2eb;
  --primary-300: #d8e9de;
  --primary-400: #a0caaf;
  --primary-500: #95b19f;
  --primary-600: #90a598;
  --primary-700: #8b9990;
  --primary-800: #88928c;
  --primary-900: #828684;
  --hue-0-100: #fbf8f7;
  --hue-0-200: #f2e9e8;
  --hue-0-300: #e9d9d8;
  --hue-0-400: #caa4a0;
  --hue-0-500: #be9e9b;
  --hue-0-600: #b89b98;
  --hue-0-700: #ab9593;
  --hue-0-800: #9f8f8d;
  --hue-0-900: #8c8685;
  --hue-30-100: #fbf8f7;
  --hue-30-200: #f2eae8;
  --hue-30-300: #e9dcd8;
  --hue-30-400: #caaba0;
  --hue-30-500: #bea49b;
  --hue-30-600: #b8a098;
  --hue-30-700: #ab9993;
  --hue-30-800: #9f928d;
  --hue-30-900: #8c8785;
  --hue-60-100: #fbf9f7;
  --hue-60-200: #f2ede8;
  --hue-60-300: #e9e0d8;
  --hue-60-400: #d2b598;
  --hue-60-500: #b1a395;
  --hue-60-600: #a99b8c;
  --hue-60-700: #99928b;
  --hue-60-800: #948d86;
  --hue-60-900: #868482;
  --hue-90-100: #fbfaf7;
  --hue-90-200: #f4f1e6;
  --hue-90-300: #ede7d4;
  --hue-90-400: #d2c498;
  --hue-90-500: #b6ad90;
  --hue-90-600: #a9a28c;
  --hue-90-700: #9b9788;
  --hue-90-800: #949186;
  --hue-90-900: #868582;
  --hue-120-100: #fbfbf7;
  --hue-120-200: #f4f4e6;
  --hue-120-300: #ededd4;
  --hue-120-400: #d2d298;
  --hue-120-500: #b6b690;
  --hue-120-600: #a9a98c;
  --hue-120-700: #9b9b88;
  --hue-120-800: #949486;
  --hue-120-900: #868682;
  --hue-150-100: #fafbf7;
  --hue-150-200: #f1f4e6;
  --hue-150-300: #e7edd4;
  --hue-150-400: #c5d298;
  --hue-150-500: #aeb690;
  --hue-150-600: #a3a98c;
  --hue-150-700: #979b88;
  --hue-150-800: #919486;
  --hue-150-900: #868682;
  --hue-180-100: #f9fbf7;
  --hue-180-200: #ecf2e8;
  --hue-180-300: #dfe9d8;
  --hue-180-400: #b1caa0;
  --hue-180-500: #a1b195;
  --hue-180-600: #99a590;
  --hue-180-700: #90998b;
  --hue-180-800: #8c9288;
  --hue-180-900: #848682;
  --hue-210-100: #f7fbfa;
  --hue-210-200: #e8f2ef;
  --hue-210-300: #d8e9e4;
  --hue-210-400: #a0cabf;
  --hue-210-500: #95b1aa;
  --hue-210-600: #90a5a0;
  --hue-210-700: #8b9995;
  --hue-210-800: #889290;
  --hue-210-900: #828685;
  --hue-240-100: #f8f9fa;
  --hue-240-200: #e9ebf1;
  --hue-240-300: #dadee7;
  --hue-240-400: #a6afc4;
  --hue-240-500: #a0a7b9;
  --hue-240-600: #9da3b3;
  --hue-240-700: #969ba8;
  --hue-240-800: #90939c;
  --hue-240-900: #86888b;
  --hue-270-100: #f9f8fa;
  --hue-270-200: #ece9f1;
  --hue-270-300: #dfdae7;
  --hue-270-400: #b2a6c4;
  --hue-270-500: #aaa0b9;
  --hue-270-600: #a69db3;
  --hue-270-700: #9d96a8;
  --hue-270-800: #95909c;
  --hue-270-900: #88868b;
  --hue-300-100: #fbf7fb;
  --hue-300-200: #f2e8f2;
  --hue-300-300: #e8d9e8;
  --hue-300-400: #c8a3c8;
  --hue-300-500: #bc9dbc;
  --hue-300-600: #b69ab6;
  --hue-300-700: #aa94aa;
  --hue-300-800: #9e8e9e;
  --hue-300-900: #8c868c;
  --hue-330-100: #fbf7f8;
  --hue-330-200: #f2e8eb;
  --hue-330-300: #e9d8dd;
  --hue-330-400: #caa0ad;
  --hue-330-500: #be9ba6;
  --hue-330-600: #b898a2;
  --hue-330-700: #ab939a;
  --hue-330-800: #9f8d93;
  --hue-330-900: #8c8587;
  --complementary-100: #faf8f7;
  --complementary-200: #f0eae8;
  --complementary-300: #e6dbd8;
  --complementary-400: #c2a9a1;
  --complementary-500: #b7a29b;
  --complementary-600: #b19f99;
  --complementary-700: #a69893;
  --complementary-800: #9b918e;
  --complementary-900: #8b8785;
  --analogous1-100: #f7fbfa;
  --analogous1-200: #e8f1f1;
  --analogous1-300: #d7e8e7;
  --analogous1-400: #9fc8c5;
  --analogous1-500: #95b0ae;
  --analogous1-600: #90a4a3;
  --analogous1-700: #8a9897;
  --analogous1-800: #889291;
  --analogous1-900: #828685;
  --analogous2-100: #f8f8fa;
  --analogous2-200: #e9ebef;
  --analogous2-300: #d9dde4;
  --analogous2-400: #a4adbf;
  --analogous2-500: #9ea5b4;
  --analogous2-600: #9ba2af;
  --analogous2-700: #959aa5;
  --analogous2-800: #8f939a;
  --analogous2-900: #86878a;
  --analogous3-100: #f9f8fa;
  --analogous3-200: #edebf0;
  --analogous3-300: #e1dde6;
  --analogous3-400: #b7adc2;
  --analogous3-500: #ada5b7;
  --analogous3-600: #a9a2b2;
  --analogous3-700: #a09aa7;
  --analogous3-800: #97939b;
  --analogous3-900: #89878b;
  --split1-100: #faf8f8;
  --split1-200: #f0e9eb;
  --split1-300: #e6dadd;
  --split1-400: #c4a7ac;
  --split1-500: #b8a0a5;
  --split1-600: #b39da1;
  --split1-700: #a7979a;
  --split1-800: #9c9092;
  --split1-900: #8b8687;
  --split2-100: #faf9f7;
  --split2-200: #f0ece8;
  --split2-300: #e6ded8;
  --split2-400: #c2b1a1;
  --split2-500: #aca096;
  --split2-600: #a19890;
  --split2-700: #96908b;
  --split2-800: #908c88;
  --split2-900: #858482;
  --square1-100: #f9f8fa;
  --square1-200: #edebf0;
  --square1-300: #e1dde6;
  --square1-400: #b7adc2;
  --square1-500: #ada5b7;
  --square1-600: #a9a2b2;
  --square1-700: #a09aa7;
  --square1-800: #97939b;
  --square1-900: #89878b;
  --square2-100: #faf8f7;
  --square2-200: #f0eae8;
  --square2-300: #e6dbd8;
  --square2-400: #c2a9a1;
  --square2-500: #b7a29b;
  --square2-600: #b19f99;
  --square2-700: #a69893;
  --square2-800: #9b918e;
  --square2-900: #8b8785;
  --square3-100: #fbfbf7;
  --square3-200: #f2f2e6;
  --square3-300: #eae9d5;
  --square3-400: #cbc99a;
  --square3-500: #b2b091;
  --square3-600: #a5a48d;
  --square3-700: #999889;
  --square3-800: #939286;
  --square3-900: #868682;
  --triadic1-100: #faf8fa;
  --triadic1-200: #f0eaef;
  --triadic1-300: #e6dbe4;
  --triadic1-400: #c2a9bf;
  --triadic1-500: #b7a2b4;
  --triadic1-600: #b19faf;
  --triadic1-700: #a698a5;
  --triadic1-800: #9c919a;
  --triadic1-900: #8b878a;
  --triadic2-100: #fbfaf7;
  --triadic2-200: #f2eee6;
  --triadic2-300: #eae3d5;
  --triadic2-400: #cbbc9a;
  --triadic2-500: #b2a891;
  --triadic2-600: #a59e8d;
  --triadic2-700: #999489;
  --triadic2-800: #938f86;
  --triadic2-900: #868582;
  --tetradic1-100: #f8f8fa;
  --tetradic1-200: #e9ebef;
  --tetradic1-300: #d9dde4;
  --tetradic1-400: #a4adbf;
  --tetradic1-500: #9ea5b4;
  --tetradic1-600: #9ba2af;
  --tetradic1-700: #959aa5;
  --tetradic1-800: #8f939a;
  --tetradic1-900: #86878a;
  --tetradic2-100: #faf8f7;
  --tetradic2-200: #f0eae8;
  --tetradic2-300: #e6dbd8;
  --tetradic2-400: #c2a9a1;
  --tetradic2-500: #b7a29b;
  --tetradic2-600: #b19f99;
  --tetradic2-700: #a69893;
  --tetradic2-800: #9b918e;
  --tetradic2-900: #8b8785;
  --tetradic3-100: #fbfaf7;
  --tetradic3-200: #f2eee6;
  --tetradic3-300: #eae3d5;
  --tetradic3-400: #cbbc9a;
  --tetradic3-500: #b2a891;
  --tetradic3-600: #a59e8d;
  --tetradic3-700: #999489;
  --tetradic3-800: #938f86;
  --tetradic3-900: #868582;
  --success-100: #f9fbf7;
  --success-200: #ecf2e8;
  --success-300: #dfe9d8;
  --success-400: #b1caa0;
  --success-500: #a1b195;
  --success-600: #99a590;
  --success-700: #90998b;
  --success-800: #8c9288;
  --success-900: #848682;
  --danger-100: #fbf8f7;
  --danger-200: #f2e9e8;
  --danger-300: #e9d9d8;
  --danger-400: #caa4a0;
  --danger-500: #be9e9b;
  --danger-600: #b89b98;
  --danger-700: #ab9593;
  --danger-800: #9f8f8d;
  --danger-900: #8c8685;
  --warning-100: #fbf9f7;
  --warning-200: #f2ede8;
  --warning-300: #e9e0d8;
  --warning-400: #d2b598;
  --warning-500: #b1a395;
  --warning-600: #a99b8c;
  --warning-700: #99928b;
  --warning-800: #948d86;
  --warning-900: #868482;
  --info-100: #f8f9fa;
  --info-200: #e9ebf1;
  --info-300: #dadee7;
  --info-400: #a6afc4;
  --info-500: #a0a7b9;
  --info-600: #9da3b3;
  --info-700: #969ba8;
  --info-800: #90939c;
  --info-900: #86888b;
  --primary-100n: #eff6f2;
  --primary-200n: #d0e5d7;
  --primary-300n: #b0d3bc;
  --primary-400n: #41955f;
  --primary-500n: #2b633f;
  --primary-600n: #214b30;
  --primary-700n: #163220;
  --primary-800n: #102518;
  --primary-900n: #050c08;
  --hue-0-100n: #f6f0ef;
  --hue-0-200n: #e5d2d0;
  --hue-0-300n: #d3b3b0;
  --hue-0-400n: #954841;
  --hue-0-500n: #7c3c36;
  --hue-0-600n: #703631;
  --hue-0-700n: #572a26;
  --hue-0-800n: #3e1e1b;
  --hue-0-900n: #190c0b;
  --hue-30-100n: #f6f1ef;
  --hue-30-200n: #e5d5d0;
  --hue-30-300n: #d3b9b0;
  --hue-30-400n: #955641;
  --hue-30-500n: #7c4836;
  --hue-30-600n: #704131;
  --hue-30-700n: #573226;
  --hue-30-800n: #3e241b;
  --hue-30-900n: #190e0b;
  --hue-60-100n: #f7f3ee;
  --hue-60-200n: #e5dad0;
  --hue-60-300n: #d3c1b0;
  --hue-60-400n: #a56b31;
  --hue-60-500n: #63472b;
  --hue-60-600n: #533619;
  --hue-60-700n: #322416;
  --hue-60-800n: #291b0c;
  --hue-60-900n: #0d0904;
  --hue-90-100n: #f7f5ee;
  --hue-90-200n: #e9e2cc;
  --hue-90-300n: #dacea9;
  --hue-90-400n: #a58831;
  --hue-90-500n: #6d5a21;
  --hue-90-600n: #534419;
  --hue-90-700n: #372e11;
  --hue-90-800n: #29220c;
  --hue-90-900n: #0d0b04;
  --hue-120-100n: #f7f7ee;
  --hue-120-200n: #e9e9cc;
  --hue-120-300n: #dadaa9;
  --hue-120-400n: #a5a531;
  --hue-120-500n: #6d6d21;
  --hue-120-600n: #535319;
  --hue-120-700n: #373711;
  --hue-120-800n: #29290c;
  --hue-120-900n: #0d0d04;
  --hue-150-100n: #f5f7ee;
  --hue-150-200n: #e2e9cc;
  --hue-150-300n: #cedaa9;
  --hue-150-400n: #8ba531;
  --hue-150-500n: #5c6d21;
  --hue-150-600n: #465319;
  --hue-150-700n: #2e3711;
  --hue-150-800n: #23290c;
  --hue-150-900n: #0c0d04;
  --hue-180-100n: #f2f6ef;
  --hue-180-200n: #d9e5d0;
  --hue-180-300n: #bfd3b0;
  --hue-180-400n: #639541;
  --hue-180-500n: #42632b;
  --hue-180-600n: #324b21;
  --hue-180-700n: #213216;
  --hue-180-800n: #192510;
  --hue-180-900n: #080c05;
  --hue-210-100n: #eff6f4;
  --hue-210-200n: #d0e5df;
  --hue-210-300n: #b0d3c9;
  --hue-210-400n: #41957e;
  --hue-210-500n: #2b6354;
  --hue-210-600n: #214b40;
  --hue-210-700n: #16322a;
  --hue-210-800n: #102520;
  --hue-210-900n: #050c0a;
  --hue-240-100n: #f0f2f5;
  --hue-240-200n: #d3d7e2;
  --hue-240-300n: #b5bcce;
  --hue-240-400n: #4d5e89;
  --hue-240-500n: #404e72;
  --hue-240-600n: #3a4667;
  --hue-240-700n: #2d3750;
  --hue-240-800n: #202739;
  --hue-240-900n: #0d1017;
  --hue-270-100n: #f2f0f5;
  --hue-270-200n: #d9d3e2;
  --hue-270-300n: #bfb5ce;
  --hue-270-400n: #654d89;
  --hue-270-500n: #544072;
  --hue-270-600n: #4c3a67;
  --hue-270-700n: #3b2d50;
  --hue-270-800n: #2a2039;
  --hue-270-900n: #110d17;
  --hue-300-100n: #f6eff6;
  --hue-300-200n: #e4d1e4;
  --hue-300-300n: #d1b2d1;
  --hue-300-400n: #904690;
  --hue-300-500n: #783a78;
  --hue-300-600n: #6d346d;
  --hue-300-700n: #542954;
  --hue-300-800n: #3c1d3c;
  --hue-300-900n: #180c18;
  --hue-330-100n: #f6eff1;
  --hue-330-200n: #e5d0d6;
  --hue-330-300n: #d3b0bb;
  --hue-330-400n: #95415b;
  --hue-330-500n: #7c364c;
  --hue-330-600n: #703144;
  --hue-330-700n: #572635;
  --hue-330-800n: #3e1b26;
  --hue-330-900n: #190b0f;
  --complementary-100n: #f5f0ef;
  --complementary-200n: #e0d4d0;
  --complementary-300n: #ccb7b1;
  --complementary-400n: #845242;
  --complementary-500n: #6e4537;
  --complementary-600n: #633e32;
  --complementary-700n: #4d3026;
  --complementary-800n: #37221c;
  --complementary-900n: #160e0b;
  --analogous1-100n: #eff6f5;
  --analogous1-200n: #d0e3e2;
  --analogous1-300n: #afd1cf;
  --analogous1-400n: #3f908b;
  --analogous1-500n: #2a605d;
  --analogous1-600n: #204846;
  --analogous1-700n: #15302e;
  --analogous1-800n: #102423;
  --analogous1-900n: #050c0b;
  --analogous2-100n: #f0f1f4;
  --analogous2-200n: #d2d6df;
  --analogous2-300n: #b3bac9;
  --analogous2-400n: #485a7e;
  --analogous2-500n: #3c4b69;
  --analogous2-600n: #37445e;
  --analogous2-700n: #2a354a;
  --analogous2-800n: #1e2634;
  --analogous2-900n: #0c0f15;
  --analogous3-100n: #f3f1f5;
  --analogous3-200n: #dbd6e1;
  --analogous3-300n: #c2bacc;
  --analogous3-400n: #6e5a85;
  --analogous3-500n: #5b4b6f;
  --analogous3-600n: #524464;
  --analogous3-700n: #40354e;
  --analogous3-800n: #2e2637;
  --analogous3-900n: #120f16;
  --split1-100n: #f5f0f1;
  --split1-200n: #e1d3d6;
  --split1-300n: #cdb5ba;
  --split1-400n: #884e59;
  --split1-500n: #71414a;
  --split1-600n: #663b43;
  --split1-700n: #4f2e34;
  --split1-800n: #392125;
  --split1-900n: #170d0f;
  --split2-100n: #f5f2ef;
  --split2-200n: #e0d8d0;
  --split2-300n: #ccbdb1;
  --split2-400n: #846242;
  --split2-500n: #58412c;
  --split2-600n: #423121;
  --split2-700n: #2c2016;
  --split2-800n: #211811;
  --split2-900n: #0b0805;
  --square1-100n: #f3f1f5;
  --square1-200n: #dbd6e1;
  --square1-300n: #c2bacc;
  --square1-400n: #6e5a85;
  --square1-500n: #5b4b6f;
  --square1-600n: #524464;
  --square1-700n: #40354e;
  --square1-800n: #2e2637;
  --square1-900n: #120f16;
  --square2-100n: #f5f0ef;
  --square2-200n: #e0d4d0;
  --square2-300n: #ccb7b1;
  --square2-400n: #845242;
  --square2-500n: #6e4537;
  --square2-600n: #633e32;
  --square2-700n: #4d3026;
  --square2-800n: #37221c;
  --square2-900n: #160e0b;
  --square3-100n: #f7f6ee;
  --square3-200n: #e5e4cc;
  --square3-300n: #d4d2aa;
  --square3-400n: #979234;
  --square3-500n: #646123;
  --square3-600n: #4b491b;
  --square3-700n: #323112;
  --square3-800n: #26240d;
  --square3-900n: #0d0c04;
  --triadic1-100n: #f5f0f4;
  --triadic1-200n: #e0d4df;
  --triadic1-300n: #ccb6c9;
  --triadic1-400n: #84527f;
  --triadic1-500n: #6e4469;
  --triadic1-600n: #633e5f;
  --triadic1-700n: #4d304a;
  --triadic1-800n: #382235;
  --triadic1-900n: #160e15;
  --triadic2-100n: #f7f4ee;
  --triadic2-200n: #e5ddcc;
  --triadic2-300n: #d4c6aa;
  --triadic2-400n: #977834;
  --triadic2-500n: #645023;
  --triadic2-600n: #4b3c1b;
  --triadic2-700n: #322812;
  --triadic2-800n: #261e0d;
  --triadic2-900n: #0d0a04;
  --tetradic1-100n: #f0f1f4;
  --tetradic1-200n: #d2d6df;
  --tetradic1-300n: #b3bac9;
  --tetradic1-400n: #485a7e;
  --tetradic1-500n: #3c4b69;
  --tetradic1-600n: #37445e;
  --tetradic1-700n: #2a354a;
  --tetradic1-800n: #1e2634;
  --tetradic1-900n: #0c0f15;
  --tetradic2-100n: #f5f0ef;
  --tetradic2-200n: #e0d4d0;
  --tetradic2-300n: #ccb7b1;
  --tetradic2-400n: #845242;
  --tetradic2-500n: #6e4537;
  --tetradic2-600n: #633e32;
  --tetradic2-700n: #4d3026;
  --tetradic2-800n: #37221c;
  --tetradic2-900n: #160e0b;
  --tetradic3-100n: #f7f4ee;
  --tetradic3-200n: #e5ddcc;
  --tetradic3-300n: #d4c6aa;
  --tetradic3-400n: #977834;
  --tetradic3-500n: #645023;
  --tetradic3-600n: #4b3c1b;
  --tetradic3-700n: #322812;
  --tetradic3-800n: #261e0d;
  --tetradic3-900n: #0d0a04;
  --success-100n: #f2f6ef;
  --success-200n: #d9e5d0;
  --success-300n: #bfd3b0;
  --success-400n: #639541;
  --success-500n: #42632b;
  --success-600n: #324b21;
  --success-700n: #213216;
  --success-800n: #192510;
  --success-900n: #080c05;
  --danger-100n: #f6f0ef;
  --danger-200n: #e5d2d0;
  --danger-300n: #d3b3b0;
  --danger-400n: #954841;
  --danger-500n: #7c3c36;
  --danger-600n: #703631;
  --danger-700n: #572a26;
  --danger-800n: #3e1e1b;
  --danger-900n: #190c0b;
  --warning-100n: #f7f3ee;
  --warning-200n: #e5dad0;
  --warning-300n: #d3c1b0;
  --warning-400n: #a56b31;
  --warning-500n: #63472b;
  --warning-600n: #533619;
  --warning-700n: #322416;
  --warning-800n: #291b0c;
  --warning-900n: #0d0904;
  --info-100n: #f0f2f5;
  --info-200n: #d3d7e2;
  --info-300n: #b5bcce;
  --info-400n: #4d5e89;
  --info-500n: #404e72;
  --info-600n: #3a4667;
  --info-700n: #2d3750;
  --info-800n: #202739;
  --info-900n: #0d1017;
  --primary-100a: rgba(236, 249, 241, 0.3);
  --primary-200a: rgba(199, 238, 212, 0.3);
  --primary-300a: rgba(161, 226, 184, 0.3);
  --primary-400a: rgba(29, 185, 84, 0.3);
  --primary-500a: rgba(19, 123, 56, 0.3);
  --primary-600a: rgba(15, 93, 42, 0.3);
  --primary-700a: rgba(10, 62, 28, 0.3);
  --primary-800a: rgba(7, 46, 21, 0.3);
  --primary-900a: rgba(2, 15, 7, 0.3);
  --hue-0-100a: rgba(249, 237, 236, 0.3);
  --hue-0-200a: rgba(238, 202, 199, 0.3);
  --hue-0-300a: rgba(226, 167, 161, 0.3);
  --hue-0-400a: rgba(185, 43, 29, 0.3);
  --hue-0-500a: rgba(154, 36, 24, 0.3);
  --hue-0-600a: rgba(139, 32, 22, 0.3);
  --hue-0-700a: rgba(108, 25, 17, 0.3);
  --hue-0-800a: rgba(77, 18, 12, 0.3);
  --hue-0-900a: rgba(31, 7, 5, 0.3);
  --hue-30-100a: rgba(249, 239, 236, 0.3);
  --hue-30-200a: rgba(238, 208, 199, 0.3);
  --hue-30-300a: rgba(226, 177, 161, 0.3);
  --hue-30-400a: rgba(185, 68, 29, 0.3);
  --hue-30-500a: rgba(154, 57, 24, 0.3);
  --hue-30-600a: rgba(139, 51, 22, 0.3);
  --hue-30-700a: rgba(108, 40, 17, 0.3);
  --hue-30-800a: rgba(77, 28, 12, 0.3);
  --hue-30-900a: rgba(31, 11, 5, 0.3);
  --hue-60-100a: rgba(249, 243, 236, 0.3);
  --hue-60-200a: rgba(238, 218, 199, 0.3);
  --hue-60-300a: rgba(226, 193, 161, 0.3);
  --hue-60-400a: rgba(185, 107, 29, 0.3);
  --hue-60-500a: rgba(123, 71, 19, 0.3);
  --hue-60-600a: rgba(93, 54, 15, 0.3);
  --hue-60-700a: rgba(62, 36, 10, 0.3);
  --hue-60-800a: rgba(46, 27, 7, 0.3);
  --hue-60-900a: rgba(15, 9, 2, 0.3);
  --hue-90-100a: rgba(249, 246, 236, 0.3);
  --hue-90-200a: rgba(238, 228, 199, 0.3);
  --hue-90-300a: rgba(226, 210, 161, 0.3);
  --hue-90-400a: rgba(185, 146, 29, 0.3);
  --hue-90-500a: rgba(123, 97, 19, 0.3);
  --hue-90-600a: rgba(93, 73, 15, 0.3);
  --hue-90-700a: rgba(62, 49, 10, 0.3);
  --hue-90-800a: rgba(46, 37, 7, 0.3);
  --hue-90-900a: rgba(15, 12, 2, 0.3);
  --hue-120-100a: rgba(249, 249, 236, 0.3);
  --hue-120-200a: rgba(238, 238, 199, 0.3);
  --hue-120-300a: rgba(226, 226, 161, 0.3);
  --hue-120-400a: rgba(185, 185, 29, 0.3);
  --hue-120-500a: rgba(123, 123, 19, 0.3);
  --hue-120-600a: rgba(93, 93, 15, 0.3);
  --hue-120-700a: rgba(62, 62, 10, 0.3);
  --hue-120-800a: rgba(46, 46, 7, 0.3);
  --hue-120-900a: rgba(15, 15, 2, 0.3);
  --hue-150-100a: rgba(246, 249, 236, 0.3);
  --hue-150-200a: rgba(229, 238, 199, 0.3);
  --hue-150-300a: rgba(211, 226, 161, 0.3);
  --hue-150-400a: rgba(150, 185, 29, 0.3);
  --hue-150-500a: rgba(100, 123, 19, 0.3);
  --hue-150-600a: rgba(75, 93, 15, 0.3);
  --hue-150-700a: rgba(50, 62, 10, 0.3);
  --hue-150-800a: rgba(38, 46, 7, 0.3);
  --hue-150-900a: rgba(13, 15, 2, 0.3);
  --hue-180-100a: rgba(242, 249, 236, 0.3);
  --hue-180-200a: rgba(215, 238, 199, 0.3);
  --hue-180-300a: rgba(188, 226, 161, 0.3);
  --hue-180-400a: rgba(93, 185, 29, 0.3);
  --hue-180-500a: rgba(62, 123, 19, 0.3);
  --hue-180-600a: rgba(47, 93, 15, 0.3);
  --hue-180-700a: rgba(31, 62, 10, 0.3);
  --hue-180-800a: rgba(23, 46, 7, 0.3);
  --hue-180-900a: rgba(8, 15, 2, 0.3);
  --hue-210-100a: rgba(236, 249, 246, 0.3);
  --hue-210-200a: rgba(199, 238, 227, 0.3);
  --hue-210-300a: rgba(161, 226, 208, 0.3);
  --hue-210-400a: rgba(29, 185, 143, 0.3);
  --hue-210-500a: rgba(19, 123, 95, 0.3);
  --hue-210-600a: rgba(15, 93, 72, 0.3);
  --hue-210-700a: rgba(10, 62, 48, 0.3);
  --hue-210-800a: rgba(7, 46, 36, 0.3);
  --hue-210-900a: rgba(2, 15, 12, 0.3);
  --hue-240-100a: rgba(236, 240, 249, 0.3);
  --hue-240-200a: rgba(199, 209, 238, 0.3);
  --hue-240-300a: rgba(161, 179, 226, 0.3);
  --hue-240-400a: rgba(29, 72, 185, 0.3);
  --hue-240-500a: rgba(24, 60, 154, 0.3);
  --hue-240-600a: rgba(22, 54, 139, 0.3);
  --hue-240-700a: rgba(17, 42, 108, 0.3);
  --hue-240-800a: rgba(12, 30, 77, 0.3);
  --hue-240-900a: rgba(5, 12, 31, 0.3);
  --hue-270-100a: rgba(241, 236, 249, 0.3);
  --hue-270-200a: rgba(214, 199, 238, 0.3);
  --hue-270-300a: rgba(187, 161, 226, 0.3);
  --hue-270-400a: rgba(91, 29, 185, 0.3);
  --hue-270-500a: rgba(76, 24, 154, 0.3);
  --hue-270-600a: rgba(68, 22, 139, 0.3);
  --hue-270-700a: rgba(53, 17, 108, 0.3);
  --hue-270-800a: rgba(38, 12, 77, 0.3);
  --hue-270-900a: rgba(15, 5, 31, 0.3);
  --hue-300-100a: rgba(249, 236, 249, 0.3);
  --hue-300-200a: rgba(238, 199, 238, 0.3);
  --hue-300-300a: rgba(226, 161, 226, 0.3);
  --hue-300-400a: rgba(185, 29, 185, 0.3);
  --hue-300-500a: rgba(154, 24, 154, 0.3);
  --hue-300-600a: rgba(139, 22, 139, 0.3);
  --hue-300-700a: rgba(108, 17, 108, 0.3);
  --hue-300-800a: rgba(77, 12, 77, 0.3);
  --hue-300-900a: rgba(31, 5, 31, 0.3);
  --hue-330-100a: rgba(249, 236, 240, 0.3);
  --hue-330-200a: rgba(238, 199, 211, 0.3);
  --hue-330-300a: rgba(226, 161, 181, 0.3);
  --hue-330-400a: rgba(185, 29, 77, 0.3);
  --hue-330-500a: rgba(154, 24, 64, 0.3);
  --hue-330-600a: rgba(139, 22, 58, 0.3);
  --hue-330-700a: rgba(108, 17, 45, 0.3);
  --hue-330-800a: rgba(77, 12, 32, 0.3);
  --hue-330-900a: rgba(31, 5, 13, 0.3);
  --complementary-100a: rgba(247, 239, 237, 0.3);
  --complementary-200a: rgba(231, 208, 201, 0.3);
  --complementary-300a: rgba(215, 177, 165, 0.3);
  --complementary-400a: rgba(160, 68, 38, 0.3);
  --complementary-500a: rgba(133, 57, 32, 0.3);
  --complementary-600a: rgba(120, 51, 29, 0.3);
  --complementary-700a: rgba(93, 40, 22, 0.3);
  --complementary-800a: rgba(67, 28, 16, 0.3);
  --complementary-900a: rgba(27, 11, 6, 0.3);
  --analogous1-100a: rgba(236, 249, 248, 0.3);
  --analogous1-200a: rgba(199, 236, 234, 0.3);
  --analogous1-300a: rgba(161, 223, 219, 0.3);
  --analogous1-400a: rgba(29, 178, 169, 0.3);
  --analogous1-500a: rgba(19, 119, 113, 0.3);
  --analogous1-600a: rgba(15, 89, 85, 0.3);
  --analogous1-700a: rgba(10, 59, 56, 0.3);
  --analogous1-800a: rgba(7, 45, 42, 0.3);
  --analogous1-900a: rgba(2, 15, 14, 0.3);
  --analogous2-100a: rgba(236, 240, 248, 0.3);
  --analogous2-200a: rgba(199, 210, 234, 0.3);
  --analogous2-300a: rgba(161, 180, 219, 0.3);
  --analogous2-400a: rgba(29, 76, 169, 0.3);
  --analogous2-500a: rgba(24, 63, 141, 0.3);
  --analogous2-600a: rgba(22, 57, 127, 0.3);
  --analogous2-700a: rgba(17, 44, 99, 0.3);
  --analogous2-800a: rgba(12, 32, 70, 0.3);
  --analogous2-900a: rgba(5, 13, 28, 0.3);
  --analogous3-100a: rgba(243, 238, 248, 0.3);
  --analogous3-200a: rgba(218, 205, 234, 0.3);
  --analogous3-300a: rgba(193, 171, 219, 0.3);
  --analogous3-400a: rgba(107, 54, 169, 0.3);
  --analogous3-500a: rgba(89, 45, 141, 0.3);
  --analogous3-600a: rgba(80, 41, 127, 0.3);
  --analogous3-700a: rgba(62, 32, 99, 0.3);
  --analogous3-800a: rgba(45, 23, 70, 0.3);
  --analogous3-900a: rgba(18, 9, 28, 0.3);
  --split1-100a: rgba(247, 238, 240, 0.3);
  --split1-200a: rgba(231, 205, 210, 0.3);
  --split1-300a: rgba(215, 171, 180, 0.3);
  --split1-400a: rgba(160, 54, 74, 0.3);
  --split1-500a: rgba(133, 45, 62, 0.3);
  --split1-600a: rgba(120, 41, 56, 0.3);
  --split1-700a: rgba(93, 32, 43, 0.3);
  --split1-800a: rgba(67, 23, 31, 0.3);
  --split1-900a: rgba(27, 9, 12, 0.3);
  --split2-100a: rgba(247, 242, 237, 0.3);
  --split2-200a: rgba(231, 216, 201, 0.3);
  --split2-300a: rgba(215, 189, 165, 0.3);
  --split2-400a: rgba(160, 97, 38, 0.3);
  --split2-500a: rgba(107, 65, 25, 0.3);
  --split2-600a: rgba(80, 49, 19, 0.3);
  --split2-700a: rgba(53, 32, 13, 0.3);
  --split2-800a: rgba(40, 24, 10, 0.3);
  --split2-900a: rgba(13, 8, 3, 0.3);
  --square1-100a: rgba(243, 238, 248, 0.3);
  --square1-200a: rgba(218, 205, 234, 0.3);
  --square1-300a: rgba(193, 171, 219, 0.3);
  --square1-400a: rgba(107, 54, 169, 0.3);
  --square1-500a: rgba(89, 45, 141, 0.3);
  --square1-600a: rgba(80, 41, 127, 0.3);
  --square1-700a: rgba(62, 32, 99, 0.3);
  --square1-800a: rgba(45, 23, 70, 0.3);
  --square1-900a: rgba(18, 9, 28, 0.3);
  --square2-100a: rgba(247, 239, 237, 0.3);
  --square2-200a: rgba(231, 208, 201, 0.3);
  --square2-300a: rgba(215, 177, 165, 0.3);
  --square2-400a: rgba(160, 68, 38, 0.3);
  --square2-500a: rgba(133, 57, 32, 0.3);
  --square2-600a: rgba(120, 51, 29, 0.3);
  --square2-700a: rgba(93, 40, 22, 0.3);
  --square2-800a: rgba(67, 28, 16, 0.3);
  --square2-900a: rgba(27, 11, 6, 0.3);
  --square3-100a: rgba(248, 247, 237, 0.3);
  --square3-200a: rgba(233, 232, 200, 0.3);
  --square3-300a: rgba(219, 216, 163, 0.3);
  --square3-400a: rgba(168, 161, 35, 0.3);
  --square3-500a: rgba(112, 107, 23, 0.3);
  --square3-600a: rgba(84, 81, 18, 0.3);
  --square3-700a: rgba(56, 54, 12, 0.3);
  --square3-800a: rgba(42, 40, 9, 0.3);
  --square3-900a: rgba(14, 13, 3, 0.3);
  --triadic1-100a: rgba(247, 238, 246, 0.3);
  --triadic1-200a: rgba(231, 205, 228, 0.3);
  --triadic1-300a: rgba(215, 171, 210, 0.3);
  --triadic1-400a: rgba(160, 54, 148, 0.3);
  --triadic1-500a: rgba(133, 45, 123, 0.3);
  --triadic1-600a: rgba(120, 41, 111, 0.3);
  --triadic1-700a: rgba(93, 32, 86, 0.3);
  --triadic1-800a: rgba(67, 23, 62, 0.3);
  --triadic1-900a: rgba(27, 9, 25, 0.3);
  --triadic2-100a: rgba(248, 244, 237, 0.3);
  --triadic2-200a: rgba(233, 223, 200, 0.3);
  --triadic2-300a: rgba(219, 201, 163, 0.3);
  --triadic2-400a: rgba(168, 126, 35, 0.3);
  --triadic2-500a: rgba(112, 84, 23, 0.3);
  --triadic2-600a: rgba(84, 63, 18, 0.3);
  --triadic2-700a: rgba(56, 42, 12, 0.3);
  --triadic2-800a: rgba(42, 32, 9, 0.3);
  --triadic2-900a: rgba(14, 11, 3, 0.3);
  --tetradic1-100a: rgba(236, 240, 248, 0.3);
  --tetradic1-200a: rgba(199, 210, 234, 0.3);
  --tetradic1-300a: rgba(161, 180, 219, 0.3);
  --tetradic1-400a: rgba(29, 76, 169, 0.3);
  --tetradic1-500a: rgba(24, 63, 141, 0.3);
  --tetradic1-600a: rgba(22, 57, 127, 0.3);
  --tetradic1-700a: rgba(17, 44, 99, 0.3);
  --tetradic1-800a: rgba(12, 32, 70, 0.3);
  --tetradic1-900a: rgba(5, 13, 28, 0.3);
  --tetradic2-100a: rgba(247, 239, 237, 0.3);
  --tetradic2-200a: rgba(231, 208, 201, 0.3);
  --tetradic2-300a: rgba(215, 177, 165, 0.3);
  --tetradic2-400a: rgba(160, 68, 38, 0.3);
  --tetradic2-500a: rgba(133, 57, 32, 0.3);
  --tetradic2-600a: rgba(120, 51, 29, 0.3);
  --tetradic2-700a: rgba(93, 40, 22, 0.3);
  --tetradic2-800a: rgba(67, 28, 16, 0.3);
  --tetradic2-900a: rgba(27, 11, 6, 0.3);
  --tetradic3-100a: rgba(248, 244, 237, 0.3);
  --tetradic3-200a: rgba(233, 223, 200, 0.3);
  --tetradic3-300a: rgba(219, 201, 163, 0.3);
  --tetradic3-400a: rgba(168, 126, 35, 0.3);
  --tetradic3-500a: rgba(112, 84, 23, 0.3);
  --tetradic3-600a: rgba(84, 63, 18, 0.3);
  --tetradic3-700a: rgba(56, 42, 12, 0.3);
  --tetradic3-800a: rgba(42, 32, 9, 0.3);
  --tetradic3-900a: rgba(14, 11, 3, 0.3);
  --success-100a: rgba(242, 249, 236, 0.3);
  --success-200a: rgba(215, 238, 199, 0.3);
  --success-300a: rgba(188, 226, 161, 0.3);
  --success-400a: rgba(93, 185, 29, 0.3);
  --success-500a: rgba(62, 123, 19, 0.3);
  --success-600a: rgba(47, 93, 15, 0.3);
  --success-700a: rgba(31, 62, 10, 0.3);
  --success-800a: rgba(23, 46, 7, 0.3);
  --success-900a: rgba(8, 15, 2, 0.3);
  --danger-100a: rgba(249, 237, 236, 0.3);
  --danger-200a: rgba(238, 202, 199, 0.3);
  --danger-300a: rgba(226, 167, 161, 0.3);
  --danger-400a: rgba(185, 43, 29, 0.3);
  --danger-500a: rgba(154, 36, 24, 0.3);
  --danger-600a: rgba(139, 32, 22, 0.3);
  --danger-700a: rgba(108, 25, 17, 0.3);
  --danger-800a: rgba(77, 18, 12, 0.3);
  --danger-900a: rgba(31, 7, 5, 0.3);
  --warning-100a: rgba(249, 243, 236, 0.3);
  --warning-200a: rgba(238, 218, 199, 0.3);
  --warning-300a: rgba(226, 193, 161, 0.3);
  --warning-400a: rgba(185, 107, 29, 0.3);
  --warning-500a: rgba(123, 71, 19, 0.3);
  --warning-600a: rgba(93, 54, 15, 0.3);
  --warning-700a: rgba(62, 36, 10, 0.3);
  --warning-800a: rgba(46, 27, 7, 0.3);
  --warning-900a: rgba(15, 9, 2, 0.3);
  --info-100a: rgba(236, 240, 249, 0.3);
  --info-200a: rgba(199, 209, 238, 0.3);
  --info-300a: rgba(161, 179, 226, 0.3);
  --info-400a: rgba(29, 72, 185, 0.3);
  --info-500a: rgba(24, 60, 154, 0.3);
  --info-600a: rgba(22, 54, 139, 0.3);
  --info-700a: rgba(17, 42, 108, 0.3);
  --info-800a: rgba(12, 30, 77, 0.3);
  --info-900a: rgba(5, 12, 31, 0.3);
}
