@forward "../../node_modules/@rgbyk/color/src/scss/core" with (
    $brand-color: #8e43e7,
    $color-model: ryb,

    $color-mode-harmony: false,
    $color-scheme-neutral: true,
    $color-scheme-pastel: true,

    $color-mode-harmony-grayscale: false,
    $color-mode-harmony-grayscale-cool-mix: 3%,
    $color-mode-harmony-grayscale-warm-mix: 2%,

    $color-scheme-primary: true,
    $color-scheme-achromatic: true,
    $color-scheme-analogous: true,
    $color-scheme-complementary: true,
    $color-scheme-hues: true,
    $color-scheme-split: true,
    $color-scheme-square: true,
    $color-scheme-tetradic: true,
    $color-scheme-triadic: true,
    $color-scheme-danger: true,
    $color-scheme-warning: true,
    $color-scheme-success: true,
    $color-scheme-info: true,

    $color-scheme-alpha: true,
    $color-scheme-chromatic: false,

    $enable-root-colors: true,
    $enable-utility-classes: false,
);

@use "../../node_modules/@rgbyk/color/src/scss/functions";
@use "../../node_modules/@rgbyk/color/src/scss/schemes";
@use "../../node_modules/@rgbyk/color/src/scss/utilities";
