@forward "../../node_modules/@rgbyk/color/src/scss/core" with (
    $brand-color: #fffc00,

    $color-mode-harmony: true,
    $color-mode-harmony-grayscale: true,
    $color-mode-harmony-grayscale-cool-mix: 3%,
    $color-mode-harmony-grayscale-warm-mix: 2%,

    $enable-utility-classes: true,
    $enable-utility-bg: true,
    $enable-utility-color: true,
    $enable-utility-border: true,
    $enable-utility-fill: true,
    $enable-utility-stroke: true,

    $enable-utility-docs: true,

    $color-scheme-primary: true,
    $color-scheme-achromatic: true,

    $color-scheme-analogous: true,
    $color-scheme-complementary: true,
    $color-scheme-hues: true,
    $color-scheme-split: true,
    $color-scheme-square: true,
    $color-scheme-tetradic: true,
    $color-scheme-triadic: true,

    $color-scheme-danger: true,
    $color-scheme-warning: true,
    $color-scheme-success: true,
    $color-scheme-info: true,

    $color-scheme-neutral: true,
    $color-scheme-pastel: true,
    $color-scheme-alpha: true,
    
    $enable-root-colors: true
);

@use "../../node_modules/@rgbyk/color/src/scss/functions";
@use "../../node_modules/@rgbyk/color/src/scss/schemes";
@use "../../node_modules/@rgbyk/color/src/scss/utilities";

.particle-tabs{margin-top:1rem;margin-bottom:1rem}.particle-tabs:first-child{margin-top:0}.particle-tabs nav{display:flex;margin-bottom:1rem;border-bottom:1px solid var(--grey-400);align-items:center;justify-content:flex-start}.particle-tabs nav a:after{transform:translate3d(0,100%,0) translate3d(0,0,0)}.particle-tabs nav a{font-style:normal;font-size:16px;font-weight:400;position:relative;display:block;overflow:hidden;padding:0 1rem;transition:color .3s ease;white-space:nowrap;text-overflow:ellipsis}.particle-tabs nav a span{z-index:1;position:relative}.particle-tabs nav a:after{position:absolute;z-index:0;left:0;width:100%;content:"";transition:background-color .2s,transform .3s;transition-timing-function:ease,ease}.particle-tabs nav a.active:after{transform:translate3d(0,0,0)}.particle-tabs:not(.is--contained) nav a{margin-bottom:-1px;line-height:40px}.particle-tabs:not(.is--contained) nav a:after{background-color:var(--grey-400);top:0;height:100%}.particle-tabs:not(.is--contained) nav a:not(.active){color:var(--grey-500)}.particle-tabs:not(.is--contained) nav a:not(.active):hover{color:var(--grey-900)}.particle-tabs:not(.is--contained) nav a.active{color:var(--white)}.particle-tabs:not(.is--contained) nav a.active:after{background-color:var(--primary-400)}.particle-tabs.is--contained nav{border:1px solid var(--grey-400);border-radius:4px 4px 0 0}.particle-tabs.is--contained nav a{line-height:49px}.particle-tabs.is--contained nav a:after{height:4px;bottom:-1px}.particle-tabs.is--contained nav a:hover:after{transform:translate3d(0,0,0)}.particle-tabs.is--contained nav a:not(.active){color:var(--grey-500)}.particle-tabs.is--contained nav a:not(.active):hover{color:var(--grey-900)}.particle-tabs.is--contained nav a:not(.active):hover:after{background-color:var(--primary-200)}.particle-tabs.is--contained nav a.active{color:var(--grey-900)}.particle-tabs.is--contained nav a.active{font-weight:700;background-color:var(--primary-300)}.particle-tabs.is--contained nav a.active:after{background-color:var(--primary-400)}.particle-tabs.has--container nav{margin-bottom:0}.particle-tabs.has--container div[class^=particle-item--]{border:1px solid var(--grey-400);border-top:0;padding:1rem;border-radius:0 0 4px 4px}@media (max-width:768px){.particle-tabs nav{align-items:left;justify-content:flex-start;flex-flow:column}.particle-tabs nav a{width:100%}.particle-tabs.is--contained a,.particle-tabs:not(.is--contained) a{font-size:13px;line-height:38px}.particle-tabs:not(.is--contained) a:not(.active){background-color:var(--grey-200)}.particle-tabs.is--contained a:after{bottom:0;height:100%;width:100%;left:0}}.hide{display: none;}table.demo-colorspectrum-table {border-collapse: collapse;width: 100%;}table.demo-colorspectrum-table th, table.demo-colorspectrum-table tdvertical-align: middle;border: 0px solid;padding: 0;}table.demo-colorspectrum-table tbody tr, table.demo-colorspectrum-table tbody th, table.demo-colorspectrum-table thead th {border-width: 0px;font-size: 13px;font-weight: 500;vertical-align: middle;text-align: center;width: 100px;height: 60px;}