@forward "../../node_modules/@rgbyk/color/src/scss/core" with (
    $brand-color: #432dd9,

    $color-mode-harmony: true,
    $color-mode-harmony-grayscale: true,
    $color-mode-harmony-grayscale-cool-mix: 3%,
    $color-mode-harmony-grayscale-warm-mix: 2%,

    $enable-utility-classes: true,
    $enable-utility-bg: true,
    $enable-utility-color: true,
    $enable-utility-border: true,
    $enable-utility-fill: true,
    $enable-utility-stroke: true,

    $color-scheme-primary: true,
    $color-scheme-achromatic: true,

    $color-scheme-analogous: true,
    $color-scheme-complementary: true,
    $color-scheme-hues: true,
    $color-scheme-split: true,
    $color-scheme-square: true,
    $color-scheme-tetradic: true,
    $color-scheme-triadic: true,

    $color-scheme-danger: true,
    $color-scheme-warning: true,
    $color-scheme-success: true,
    $color-scheme-info: true,

    $color-scheme-neutral: true,
    $color-scheme-pastel: true,
    $color-scheme-alpha: true,
    
    $enable-root-colors: true
);

@use "../../node_modules/@rgbyk/color/src/scss/functions";
@use "../../node_modules/@rgbyk/color/src/scss/schemes";
@use "../../node_modules/@rgbyk/color/src/scss/utilities";