@forward "../../node_modules/@rgbyk/color/src/scss/core" with (
    $brand-color: #8e43e7,

    $color-mode-harmony: false,
    $color-mode-harmony-grayscale: false,
    $color-mode-harmony-grayscale-cool-mix: 3%,
    $color-mode-harmony-grayscale-warm-mix: 2%,

    $enable-utility-classes: true,
    $enable-utility-bg: true,
    $enable-utility-color: true,
    $enable-utility-border: true,
    $enable-utility-fill: false,
    $enable-utility-stroke: false,

    $color-scheme-primary: true,
    $color-scheme-achromatic: true,

    $color-scheme-analogous: false,
    $color-scheme-complementary: false,
    $color-scheme-hues: false,
    $color-scheme-split: false,
    $color-scheme-square: false,
    $color-scheme-tetradic: false,
    $color-scheme-triadic: false,

    $color-scheme-danger: false,
    $color-scheme-warning: false,
    $color-scheme-success: false,
    $color-scheme-info: false,

    $color-scheme-neutral: false,
    $color-scheme-pastel: false,
    $color-scheme-alpha: false,
    $color-scheme-chromatic: false,

    $enable-root-colors: true
);

@use "../../node_modules/@rgbyk/color/src/scss/functions";
@use "../../node_modules/@rgbyk/color/src/scss/schemes";
@use "../../node_modules/@rgbyk/color/src/scss/utilities";