:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #fffff5;
  --primary-200: #ffffdf;
  --primary-300: #ffffca;
  --primary-400: #fffe80;
  --primary-500: #d5d480;
  --primary-600: #c0bf80;
  --primary-700: #aaaa80;
  --primary-800: #a09f80;
  --primary-900: #8a8a80;
  --hue-0-100: #fff6f5;
  --hue-0-200: #ffe2df;
  --hue-0-300: #ffcfca;
  --hue-0-400: #ff8b80;
  --hue-0-500: #ea8980;
  --hue-0-600: #df8880;
  --hue-0-700: #ca8680;
  --hue-0-800: #b58580;
  --hue-0-900: #958280;
  --hue-30-100: #fff7f5;
  --hue-30-200: #ffe7df;
  --hue-30-300: #ffd7ca;
  --hue-30-400: #ffa080;
  --hue-30-500: #ea9a80;
  --hue-30-600: #df9880;
  --hue-30-700: #ca9280;
  --hue-30-800: #b58d80;
  --hue-30-900: #958580;
  --hue-60-100: #fffaf5;
  --hue-60-200: #ffefdf;
  --hue-60-300: #ffe5ca;
  --hue-60-400: #ffc080;
  --hue-60-500: #d5aa80;
  --hue-60-600: #c0a080;
  --hue-60-700: #aa9580;
  --hue-60-800: #a09080;
  --hue-60-900: #8a8580;
  --hue-90-100: #fffdf5;
  --hue-90-200: #fff7df;
  --hue-90-300: #fff2ca;
  --hue-90-400: #ffdf80;
  --hue-90-500: #d5bf80;
  --hue-90-600: #c0b080;
  --hue-90-700: #aaa080;
  --hue-90-800: #a09880;
  --hue-90-900: #8a8880;
  --hue-120-100: #fffff5;
  --hue-120-200: #ffffdf;
  --hue-120-300: #ffffca;
  --hue-120-400: #ffff80;
  --hue-120-500: #d5d580;
  --hue-120-600: #c0c080;
  --hue-120-700: #aaaa80;
  --hue-120-800: #a0a080;
  --hue-120-900: #8a8a80;
  --hue-150-100: #fdfff5;
  --hue-150-200: #f8ffdf;
  --hue-150-300: #f3ffca;
  --hue-150-400: #e2ff80;
  --hue-150-500: #c1d580;
  --hue-150-600: #b1c080;
  --hue-150-700: #a1aa80;
  --hue-150-800: #98a080;
  --hue-150-900: #888a80;
  --hue-180-100: #f9fff5;
  --hue-180-200: #edffdf;
  --hue-180-300: #e0ffca;
  --hue-180-400: #b4ff80;
  --hue-180-500: #a3d580;
  --hue-180-600: #9ac080;
  --hue-180-700: #91aa80;
  --hue-180-800: #8da080;
  --hue-180-900: #848a80;
  --hue-210-100: #f5fffc;
  --hue-210-200: #dffff7;
  --hue-210-300: #cafff1;
  --hue-210-400: #80ffdd;
  --hue-210-500: #80d5be;
  --hue-210-600: #80c0ae;
  --hue-210-700: #80aa9f;
  --hue-210-800: #80a097;
  --hue-210-900: #808a88;
  --hue-240-100: #f5f8ff;
  --hue-240-200: #dfe8ff;
  --hue-240-300: #cad9ff;
  --hue-240-400: #80a3ff;
  --hue-240-500: #809dea;
  --hue-240-600: #809adf;
  --hue-240-700: #8094ca;
  --hue-240-800: #808eb5;
  --hue-240-900: #808695;
  --hue-270-100: #f9f5ff;
  --hue-270-200: #ecdfff;
  --hue-270-300: #dfcaff;
  --hue-270-400: #b280ff;
  --hue-270-500: #aa80ea;
  --hue-270-600: #a680df;
  --hue-270-700: #9d80ca;
  --hue-270-800: #9580b5;
  --hue-270-900: #888095;
  --hue-300-100: #fff5ff;
  --hue-300-200: #ffdfff;
  --hue-300-300: #ffcaff;
  --hue-300-400: #ff80ff;
  --hue-300-500: #ea80ea;
  --hue-300-600: #df80df;
  --hue-300-700: #ca80ca;
  --hue-300-800: #b580b5;
  --hue-300-900: #958095;
  --hue-330-100: #fff5f8;
  --hue-330-200: #ffdfe9;
  --hue-330-300: #ffcadb;
  --hue-330-400: #ff80a7;
  --hue-330-500: #ea80a1;
  --hue-330-600: #df809d;
  --hue-330-700: #ca8097;
  --hue-330-800: #b58090;
  --hue-330-900: #958086;
  --complementary-100: #fff7fd;
  --complementary-200: #fee7f8;
  --complementary-300: #fed6f3;
  --complementary-400: #fc9de2;
  --complementary-500: #d293c1;
  --complementary-600: #be8eb1;
  --complementary-700: #a989a0;
  --complementary-800: #9f8798;
  --complementary-900: #8a8288;
  --analogous1-100: #fdfff5;
  --analogous1-200: #f9ffdf;
  --analogous1-300: #f5ffca;
  --analogous1-400: #e8ff80;
  --analogous1-500: #c5d580;
  --analogous1-600: #b4c080;
  --analogous1-700: #a2aa80;
  --analogous1-800: #9aa080;
  --analogous1-900: #888a80;
  --analogous2-100: #fafff5;
  --analogous2-200: #f0ffdf;
  --analogous2-300: #e5ffca;
  --analogous2-400: #c1ff80;
  --analogous2-500: #abd580;
  --analogous2-600: #a1c080;
  --analogous2-700: #96aa80;
  --analogous2-800: #90a080;
  --analogous2-900: #858a80;
  --analogous3-100: #f7fffa;
  --analogous3-200: #e7fff0;
  --analogous3-300: #d6ffe6;
  --analogous3-400: #9dffc3;
  --analogous3-500: #93d4ad;
  --analogous3-600: #8fbfa2;
  --analogous3-700: #8aaa96;
  --analogous3-800: #87a091;
  --analogous3-900: #828a85;
  --split1-100: #faf7fd;
  --split1-200: #efe7f8;
  --split1-300: #e4d6f3;
  --split1-400: #be9de2;
  --split1-500: #b398d1;
  --split1-600: #ae96c9;
  --split1-700: #a491b9;
  --split1-800: #9a8ca9;
  --split1-900: #8a8590;
  --split2-100: #fff7f8;
  --split2-200: #ffe7e8;
  --split2-300: #ffd6d9;
  --split2-400: #ff9da4;
  --split2-500: #d59398;
  --split2-600: #c08e92;
  --split2-700: #aa898c;
  --split2-800: #a08789;
  --split2-900: #8a8283;
  --square1-100: #f7fffa;
  --square1-200: #e7fff0;
  --square1-300: #d6ffe6;
  --square1-400: #9dffc3;
  --square1-500: #93d4ad;
  --square1-600: #8fbfa2;
  --square1-700: #8aaa96;
  --square1-800: #87a091;
  --square1-900: #828a85;
  --square2-100: #fff7fd;
  --square2-200: #fee7f8;
  --square2-300: #fed6f3;
  --square2-400: #fc9de2;
  --square2-500: #d293c1;
  --square2-600: #be8eb1;
  --square2-700: #a989a0;
  --square2-800: #9f8798;
  --square2-900: #8a8288;
  --square3-100: #fff9f5;
  --square3-200: #ffecdf;
  --square3-300: #ffe0ca;
  --square3-400: #ffb480;
  --square3-500: #eaab80;
  --square3-600: #dfa780;
  --square3-700: #ca9e80;
  --square3-800: #b59580;
  --square3-900: #958880;
  --triadic1-100: #f7fafd;
  --triadic1-200: #e7eff8;
  --triadic1-300: #d6e4f3;
  --triadic1-400: #9dbee2;
  --triadic1-500: #98b3d1;
  --triadic1-600: #96aec9;
  --triadic1-700: #91a4b9;
  --triadic1-800: #8c9aa9;
  --triadic1-900: #858a90;
  --triadic2-100: #fff7f5;
  --triadic2-200: #ffe8df;
  --triadic2-300: #ffd8ca;
  --triadic2-400: #ffa180;
  --triadic2-500: #ea9b80;
  --triadic2-600: #df9980;
  --triadic2-700: #ca9380;
  --triadic2-800: #b58e80;
  --triadic2-900: #958580;
  --tetradic1-100: #fafff5;
  --tetradic1-200: #f0ffdf;
  --tetradic1-300: #e5ffca;
  --tetradic1-400: #c1ff80;
  --tetradic1-500: #abd580;
  --tetradic1-600: #a1c080;
  --tetradic1-700: #96aa80;
  --tetradic1-800: #90a080;
  --tetradic1-900: #858a80;
  --tetradic2-100: #fff7fd;
  --tetradic2-200: #fee7f8;
  --tetradic2-300: #fed6f3;
  --tetradic2-400: #fc9de2;
  --tetradic2-500: #d293c1;
  --tetradic2-600: #be8eb1;
  --tetradic2-700: #a989a0;
  --tetradic2-800: #9f8798;
  --tetradic2-900: #8a8288;
  --tetradic3-100: #fff7f5;
  --tetradic3-200: #ffe8df;
  --tetradic3-300: #ffd8ca;
  --tetradic3-400: #ffa180;
  --tetradic3-500: #ea9b80;
  --tetradic3-600: #df9980;
  --tetradic3-700: #ca9380;
  --tetradic3-800: #b58e80;
  --tetradic3-900: #958580;
  --success-100: #f9fff5;
  --success-200: #edffdf;
  --success-300: #e0ffca;
  --success-400: #b4ff80;
  --success-500: #a3d580;
  --success-600: #9ac080;
  --success-700: #91aa80;
  --success-800: #8da080;
  --success-900: #848a80;
  --danger-100: #fff6f5;
  --danger-200: #ffe2df;
  --danger-300: #ffcfca;
  --danger-400: #ff8b80;
  --danger-500: #ea8980;
  --danger-600: #df8880;
  --danger-700: #ca8680;
  --danger-800: #b58580;
  --danger-900: #958280;
  --warning-100: #fffaf5;
  --warning-200: #ffefdf;
  --warning-300: #ffe5ca;
  --warning-400: #ffc080;
  --warning-500: #d5aa80;
  --warning-600: #c0a080;
  --warning-700: #aa9580;
  --warning-800: #a09080;
  --warning-900: #8a8580;
  --info-100: #f5f8ff;
  --info-200: #dfe8ff;
  --info-300: #cad9ff;
  --info-400: #80a3ff;
  --info-500: #809dea;
  --info-600: #809adf;
  --info-700: #8094ca;
  --info-800: #808eb5;
  --info-900: #808695;
  --primary-100n: #fcfced;
  --primary-200n: #f7f6c7;
  --primary-300n: #f1f0a3;
  --primary-400n: #dedc21;
  --primary-500n: #949216;
  --primary-600n: #6f6e11;
  --primary-700n: #4a490b;
  --primary-800n: #383708;
  --primary-900n: #121203;
  --hue-0-100n: #faf0ef;
  --hue-0-200n: #f0d1ce;
  --hue-0-300n: #e7b2ad;
  --hue-0-400n: #c4473b;
  --hue-0-500n: #a43b31;
  --hue-0-600n: #93352c;
  --hue-0-700n: #732922;
  --hue-0-800n: #521e18;
  --hue-0-900n: #210c0a;
  --hue-30-100n: #faf2ef;
  --hue-30-200n: #f0d6ce;
  --hue-30-300n: #e7bbad;
  --hue-30-400n: #c45d3b;
  --hue-30-500n: #a44e31;
  --hue-30-600n: #93462c;
  --hue-30-700n: #733622;
  --hue-30-800n: #522718;
  --hue-30-900n: #21100a;
  --hue-60-100n: #faf4ef;
  --hue-60-200n: #f0dfce;
  --hue-60-300n: #e7caad;
  --hue-60-400n: #de8021;
  --hue-60-500n: #835527;
  --hue-60-600n: #63401d;
  --hue-60-700n: #4a2b0b;
  --hue-60-800n: #31200f;
  --hue-60-900n: #120b03;
  --hue-90-100n: #fcf9ed;
  --hue-90-200n: #f7ebc7;
  --hue-90-300n: #f1dda3;
  --hue-90-400n: #deae21;
  --hue-90-500n: #947416;
  --hue-90-600n: #6f5811;
  --hue-90-700n: #4a3a0b;
  --hue-90-800n: #382c08;
  --hue-90-900n: #120f03;
  --hue-120-100n: #fcfced;
  --hue-120-200n: #f7f7c7;
  --hue-120-300n: #f1f1a3;
  --hue-120-400n: #dede21;
  --hue-120-500n: #949416;
  --hue-120-600n: #6f6f11;
  --hue-120-700n: #4a4a0b;
  --hue-120-800n: #383808;
  --hue-120-900n: #121203;
  --hue-150-100n: #f9fced;
  --hue-150-200n: #ecf7c7;
  --hue-150-300n: #dff1a3;
  --hue-150-400n: #b3de21;
  --hue-150-500n: #779416;
  --hue-150-600n: #5a6f11;
  --hue-150-700n: #3c4a0b;
  --hue-150-800n: #2d3808;
  --hue-150-900n: #0f1203;
  --hue-180-100n: #f4faef;
  --hue-180-200n: #dcf0ce;
  --hue-180-300n: #c5e7ad;
  --hue-180-400n: #73c43b;
  --hue-180-500n: #4d8327;
  --hue-180-600n: #3a631d;
  --hue-180-700n: #264114;
  --hue-180-800n: #1d310f;
  --hue-180-900n: #0a1005;
  --hue-210-100n: #effaf7;
  --hue-210-200n: #cef0e7;
  --hue-210-300n: #ade7d7;
  --hue-210-400n: #3bc49f;
  --hue-210-500n: #27836a;
  --hue-210-600n: #1d6350;
  --hue-210-700n: #144135;
  --hue-210-800n: #0f3128;
  --hue-210-900n: #05100d;
  --hue-240-100n: #f1f3f8;
  --hue-240-200n: #d3daeb;
  --hue-240-300n: #b6c1de;
  --hue-240-400n: #4f6ab0;
  --hue-240-500n: #425893;
  --hue-240-600n: #3b4f84;
  --hue-240-700n: #2e3e67;
  --hue-240-800n: #212c49;
  --hue-240-900n: #0d121e;
  --hue-270-100n: #f4f1f8;
  --hue-270-200n: #ddd3eb;
  --hue-270-300n: #c6b6de;
  --hue-270-400n: #754fb0;
  --hue-270-500n: #624293;
  --hue-270-600n: #583b84;
  --hue-270-700n: #452e67;
  --hue-270-800n: #312149;
  --hue-270-900n: #140d1e;
  --hue-300-100n: #faeffa;
  --hue-300-200n: #eed0ee;
  --hue-300-300n: #e3b1e3;
  --hue-300-400n: #bd42bd;
  --hue-300-500n: #9e379e;
  --hue-300-600n: #8d328d;
  --hue-300-700n: #6e276e;
  --hue-300-800n: #4e1c4e;
  --hue-300-900n: #200b20;
  --hue-330-100n: #faeff2;
  --hue-330-200n: #f0ced9;
  --hue-330-300n: #e7adbf;
  --hue-330-400n: #c43b65;
  --hue-330-500n: #a43155;
  --hue-330-600n: #932c4c;
  --hue-330-700n: #73223b;
  --hue-330-800n: #52182a;
  --hue-330-900n: #210a11;
  --complementary-100n: #faf3f8;
  --complementary-200n: #f1daeb;
  --complementary-300n: #e7c2dd;
  --complementary-400n: #c76bae;
  --complementary-500n: #844874;
  --complementary-600n: #633657;
  --complementary-700n: #42243a;
  --complementary-800n: #321b2c;
  --complementary-900n: #11090e;
  --analogous1-100n: #f9fced;
  --analogous1-200n: #eef7c7;
  --analogous1-300n: #e2f1a3;
  --analogous1-400n: #bbde21;
  --analogous1-500n: #7d9416;
  --analogous1-600n: #5e6f11;
  --analogous1-700n: #3e4a0b;
  --analogous1-800n: #2f3808;
  --analogous1-900n: #0f1203;
  --analogous2-100n: #f5fced;
  --analogous2-200n: #e0f0ce;
  --analogous2-300n: #cbe7ad;
  --analogous2-400n: #81c43b;
  --analogous2-500n: #568327;
  --analogous2-600n: #41631d;
  --analogous2-700n: #2c4a0b;
  --analogous2-800n: #21310f;
  --analogous2-900n: #0b1203;
  --analogous3-100n: #f3fbf6;
  --analogous3-200n: #d9f4e4;
  --analogous3-300n: #c0ecd1;
  --analogous3-400n: #68d191;
  --analogous3-500n: #458b60;
  --analogous3-600n: #346949;
  --analogous3-700n: #234630;
  --analogous3-800n: #1a3525;
  --analogous3-900n: #09110c;
  --split1-100n: #f4f2f7;
  --split1-200n: #dfd9e5;
  --split1-300n: #c9bfd4;
  --split1-400n: #7e6599;
  --split1-500n: #69547f;
  --split1-600n: #5f4c73;
  --split1-700n: #493b59;
  --split1-800n: #352a40;
  --split1-900n: #15111a;
  --split2-100n: #fbf3f3;
  --split2-200n: #f4d9db;
  --split2-300n: #ecc0c3;
  --split2-400n: #d2676f;
  --split2-500n: #8c454a;
  --split2-600n: #693438;
  --split2-700n: #462225;
  --split2-800n: #351a1c;
  --split2-900n: #110909;
  --square1-100n: #f3fbf6;
  --square1-200n: #d9f4e4;
  --square1-300n: #c0ecd1;
  --square1-400n: #68d191;
  --square1-500n: #458b60;
  --square1-600n: #346949;
  --square1-700n: #234630;
  --square1-800n: #1a3525;
  --square1-900n: #09110c;
  --square2-100n: #faf3f8;
  --square2-200n: #f1daeb;
  --square2-300n: #e7c2dd;
  --square2-400n: #c76bae;
  --square2-500n: #844874;
  --square2-600n: #633657;
  --square2-700n: #42243a;
  --square2-800n: #321b2c;
  --square2-900n: #11090e;
  --square3-100n: #faf3ef;
  --square3-200n: #f0dcce;
  --square3-300n: #e7c5ad;
  --square3-400n: #c4733b;
  --square3-500n: #a46031;
  --square3-600n: #93562c;
  --square3-700n: #734322;
  --square3-800n: #523018;
  --square3-900n: #21130a;
  --triadic1-100n: #f2f4f7;
  --triadic1-200n: #d9dfe5;
  --triadic1-300n: #bfc9d4;
  --triadic1-400n: #657e9a;
  --triadic1-500n: #546980;
  --triadic1-600n: #4c5f73;
  --triadic1-700n: #3b4959;
  --triadic1-800n: #2b3540;
  --triadic1-900n: #11151a;
  --triadic2-100n: #faf2ef;
  --triadic2-200n: #f0d7ce;
  --triadic2-300n: #e7bcad;
  --triadic2-400n: #c45e3b;
  --triadic2-500n: #a44f31;
  --triadic2-600n: #93472c;
  --triadic2-700n: #733722;
  --triadic2-800n: #522818;
  --triadic2-900n: #21100a;
  --tetradic1-100n: #f5fced;
  --tetradic1-200n: #e0f0ce;
  --tetradic1-300n: #cbe7ad;
  --tetradic1-400n: #81c43b;
  --tetradic1-500n: #568327;
  --tetradic1-600n: #41631d;
  --tetradic1-700n: #2c4a0b;
  --tetradic1-800n: #21310f;
  --tetradic1-900n: #0b1203;
  --tetradic2-100n: #faf3f8;
  --tetradic2-200n: #f1daeb;
  --tetradic2-300n: #e7c2dd;
  --tetradic2-400n: #c76bae;
  --tetradic2-500n: #844874;
  --tetradic2-600n: #633657;
  --tetradic2-700n: #42243a;
  --tetradic2-800n: #321b2c;
  --tetradic2-900n: #11090e;
  --tetradic3-100n: #faf2ef;
  --tetradic3-200n: #f0d7ce;
  --tetradic3-300n: #e7bcad;
  --tetradic3-400n: #c45e3b;
  --tetradic3-500n: #a44f31;
  --tetradic3-600n: #93472c;
  --tetradic3-700n: #733722;
  --tetradic3-800n: #522818;
  --tetradic3-900n: #21100a;
  --success-100n: #f4faef;
  --success-200n: #dcf0ce;
  --success-300n: #c5e7ad;
  --success-400n: #73c43b;
  --success-500n: #4d8327;
  --success-600n: #3a631d;
  --success-700n: #264114;
  --success-800n: #1d310f;
  --success-900n: #0a1005;
  --danger-100n: #faf0ef;
  --danger-200n: #f0d1ce;
  --danger-300n: #e7b2ad;
  --danger-400n: #c4473b;
  --danger-500n: #a43b31;
  --danger-600n: #93352c;
  --danger-700n: #732922;
  --danger-800n: #521e18;
  --danger-900n: #210c0a;
  --warning-100n: #faf4ef;
  --warning-200n: #f0dfce;
  --warning-300n: #e7caad;
  --warning-400n: #de8021;
  --warning-500n: #835527;
  --warning-600n: #63401d;
  --warning-700n: #4a2b0b;
  --warning-800n: #31200f;
  --warning-900n: #120b03;
  --info-100n: #f1f3f8;
  --info-200n: #d3daeb;
  --info-300n: #b6c1de;
  --info-400n: #4f6ab0;
  --info-500n: #425893;
  --info-600n: #3b4f84;
  --info-700n: #2e3e67;
  --info-800n: #212c49;
  --info-900n: #0d121e;
  --primary-100a: rgba(255, 255, 234, 0.3);
  --primary-200a: rgba(255, 254, 191, 0.3);
  --primary-300a: rgba(255, 254, 149, 0.3);
  --primary-400a: rgba(255, 252, 0, 0.3);
  --primary-500a: rgba(170, 168, 0, 0.3);
  --primary-600a: rgba(128, 126, 0, 0.3);
  --primary-700a: rgba(85, 84, 0, 0.3);
  --primary-800a: rgba(64, 63, 0, 0.3);
  --primary-900a: rgba(21, 21, 0, 0.3);
  --hue-0-100a: rgba(255, 236, 234, 0.3);
  --hue-0-200a: rgba(255, 197, 191, 0.3);
  --hue-0-300a: rgba(255, 158, 149, 0.3);
  --hue-0-400a: rgba(255, 23, 0, 0.3);
  --hue-0-500a: rgba(213, 19, 0, 0.3);
  --hue-0-600a: rgba(191, 17, 0, 0.3);
  --hue-0-700a: rgba(149, 13, 0, 0.3);
  --hue-0-800a: rgba(106, 10, 0, 0.3);
  --hue-0-900a: rgba(43, 4, 0, 0.3);
  --hue-30-100a: rgba(255, 239, 234, 0.3);
  --hue-30-200a: rgba(255, 207, 191, 0.3);
  --hue-30-300a: rgba(255, 175, 149, 0.3);
  --hue-30-400a: rgba(255, 64, 0, 0.3);
  --hue-30-500a: rgba(213, 53, 0, 0.3);
  --hue-30-600a: rgba(191, 48, 0, 0.3);
  --hue-30-700a: rgba(149, 37, 0, 0.3);
  --hue-30-800a: rgba(106, 27, 0, 0.3);
  --hue-30-900a: rgba(43, 11, 0, 0.3);
  --hue-60-100a: rgba(255, 244, 234, 0.3);
  --hue-60-200a: rgba(255, 223, 191, 0.3);
  --hue-60-300a: rgba(255, 202, 149, 0.3);
  --hue-60-400a: rgba(255, 128, 0, 0.3);
  --hue-60-500a: rgba(170, 85, 0, 0.3);
  --hue-60-600a: rgba(128, 64, 0, 0.3);
  --hue-60-700a: rgba(85, 43, 0, 0.3);
  --hue-60-800a: rgba(64, 32, 0, 0.3);
  --hue-60-900a: rgba(21, 11, 0, 0.3);
  --hue-90-100a: rgba(255, 250, 234, 0.3);
  --hue-90-200a: rgba(255, 239, 191, 0.3);
  --hue-90-300a: rgba(255, 228, 149, 0.3);
  --hue-90-400a: rgba(255, 191, 0, 0.3);
  --hue-90-500a: rgba(170, 127, 0, 0.3);
  --hue-90-600a: rgba(128, 96, 0, 0.3);
  --hue-90-700a: rgba(85, 64, 0, 0.3);
  --hue-90-800a: rgba(64, 48, 0, 0.3);
  --hue-90-900a: rgba(21, 16, 0, 0.3);
  --hue-120-100a: rgba(255, 255, 234, 0.3);
  --hue-120-200a: rgba(255, 255, 191, 0.3);
  --hue-120-300a: rgba(255, 255, 149, 0.3);
  --hue-120-400a: rgba(255, 255, 0, 0.3);
  --hue-120-500a: rgba(170, 170, 0, 0.3);
  --hue-120-600a: rgba(128, 128, 0, 0.3);
  --hue-120-700a: rgba(85, 85, 0, 0.3);
  --hue-120-800a: rgba(64, 64, 0, 0.3);
  --hue-120-900a: rgba(21, 21, 0, 0.3);
  --hue-150-100a: rgba(250, 255, 234, 0.3);
  --hue-150-200a: rgba(241, 255, 191, 0.3);
  --hue-150-300a: rgba(231, 255, 149, 0.3);
  --hue-150-400a: rgba(197, 255, 0, 0.3);
  --hue-150-500a: rgba(131, 170, 0, 0.3);
  --hue-150-600a: rgba(99, 128, 0, 0.3);
  --hue-150-700a: rgba(66, 85, 0, 0.3);
  --hue-150-800a: rgba(49, 64, 0, 0.3);
  --hue-150-900a: rgba(16, 21, 0, 0.3);
  --hue-180-100a: rgba(243, 255, 234, 0.3);
  --hue-180-200a: rgba(218, 255, 191, 0.3);
  --hue-180-300a: rgba(193, 255, 149, 0.3);
  --hue-180-400a: rgba(105, 255, 0, 0.3);
  --hue-180-500a: rgba(70, 170, 0, 0.3);
  --hue-180-600a: rgba(53, 128, 0, 0.3);
  --hue-180-700a: rgba(35, 85, 0, 0.3);
  --hue-180-800a: rgba(26, 64, 0, 0.3);
  --hue-180-900a: rgba(9, 21, 0, 0.3);
  --hue-210-100a: rgba(234, 255, 249, 0.3);
  --hue-210-200a: rgba(191, 255, 238, 0.3);
  --hue-210-300a: rgba(149, 255, 226, 0.3);
  --hue-210-400a: rgba(0, 255, 186, 0.3);
  --hue-210-500a: rgba(0, 170, 124, 0.3);
  --hue-210-600a: rgba(0, 128, 93, 0.3);
  --hue-210-700a: rgba(0, 85, 62, 0.3);
  --hue-210-800a: rgba(0, 64, 47, 0.3);
  --hue-210-900a: rgba(0, 21, 16, 0.3);
  --hue-240-100a: rgba(234, 240, 255, 0.3);
  --hue-240-200a: rgba(191, 209, 255, 0.3);
  --hue-240-300a: rgba(149, 178, 255, 0.3);
  --hue-240-400a: rgba(0, 70, 255, 0.3);
  --hue-240-500a: rgba(0, 58, 213, 0.3);
  --hue-240-600a: rgba(0, 53, 191, 0.3);
  --hue-240-700a: rgba(0, 41, 149, 0.3);
  --hue-240-800a: rgba(0, 29, 106, 0.3);
  --hue-240-900a: rgba(0, 12, 43, 0.3);
  --hue-270-100a: rgba(242, 234, 255, 0.3);
  --hue-270-200a: rgba(217, 191, 255, 0.3);
  --hue-270-300a: rgba(191, 149, 255, 0.3);
  --hue-270-400a: rgba(101, 0, 255, 0.3);
  --hue-270-500a: rgba(84, 0, 213, 0.3);
  --hue-270-600a: rgba(76, 0, 191, 0.3);
  --hue-270-700a: rgba(59, 0, 149, 0.3);
  --hue-270-800a: rgba(42, 0, 106, 0.3);
  --hue-270-900a: rgba(17, 0, 43, 0.3);
  --hue-300-100a: rgba(255, 234, 255, 0.3);
  --hue-300-200a: rgba(255, 191, 255, 0.3);
  --hue-300-300a: rgba(255, 149, 255, 0.3);
  --hue-300-400a: rgba(255, 0, 255, 0.3);
  --hue-300-500a: rgba(213, 0, 213, 0.3);
  --hue-300-600a: rgba(191, 0, 191, 0.3);
  --hue-300-700a: rgba(149, 0, 149, 0.3);
  --hue-300-800a: rgba(106, 0, 106, 0.3);
  --hue-300-900a: rgba(43, 0, 43, 0.3);
  --hue-330-100a: rgba(255, 234, 240, 0.3);
  --hue-330-200a: rgba(255, 191, 211, 0.3);
  --hue-330-300a: rgba(255, 149, 182, 0.3);
  --hue-330-400a: rgba(255, 0, 79, 0.3);
  --hue-330-500a: rgba(213, 0, 66, 0.3);
  --hue-330-600a: rgba(191, 0, 59, 0.3);
  --hue-330-700a: rgba(149, 0, 46, 0.3);
  --hue-330-800a: rgba(106, 0, 33, 0.3);
  --hue-330-900a: rgba(43, 0, 13, 0.3);
  --complementary-100a: rgba(254, 239, 250, 0.3);
  --complementary-200a: rgba(253, 206, 240, 0.3);
  --complementary-300a: rgba(252, 173, 230, 0.3);
  --complementary-400a: rgba(248, 58, 196, 0.3);
  --complementary-500a: rgba(165, 39, 131, 0.3);
  --complementary-600a: rgba(124, 29, 98, 0.3);
  --complementary-700a: rgba(83, 19, 65, 0.3);
  --complementary-800a: rgba(62, 15, 49, 0.3);
  --complementary-900a: rgba(21, 5, 16, 0.3);
  --analogous1-100a: rgba(251, 255, 234, 0.3);
  --analogous1-200a: rgba(243, 255, 191, 0.3);
  --analogous1-300a: rgba(235, 255, 149, 0.3);
  --analogous1-400a: rgba(208, 255, 0, 0.3);
  --analogous1-500a: rgba(139, 170, 0, 0.3);
  --analogous1-600a: rgba(104, 128, 0, 0.3);
  --analogous1-700a: rgba(69, 85, 0, 0.3);
  --analogous1-800a: rgba(52, 64, 0, 0.3);
  --analogous1-900a: rgba(17, 21, 0, 0.3);
  --analogous2-100a: rgba(245, 255, 234, 0.3);
  --analogous2-200a: rgba(224, 255, 191, 0.3);
  --analogous2-300a: rgba(203, 255, 149, 0.3);
  --analogous2-400a: rgba(131, 255, 0, 0.3);
  --analogous2-500a: rgba(87, 170, 0, 0.3);
  --analogous2-600a: rgba(66, 128, 0, 0.3);
  --analogous2-700a: rgba(44, 85, 0, 0.3);
  --analogous2-800a: rgba(33, 64, 0, 0.3);
  --analogous2-900a: rgba(11, 21, 0, 0.3);
  --analogous3-100a: rgba(239, 255, 245, 0.3);
  --analogous3-200a: rgba(206, 255, 225, 0.3);
  --analogous3-300a: rgba(173, 255, 205, 0.3);
  --analogous3-400a: rgba(59, 254, 135, 0.3);
  --analogous3-500a: rgba(39, 169, 90, 0.3);
  --analogous3-600a: rgba(30, 127, 68, 0.3);
  --analogous3-700a: rgba(20, 85, 45, 0.3);
  --analogous3-800a: rgba(15, 64, 34, 0.3);
  --analogous3-900a: rgba(5, 21, 11, 0.3);
  --split1-100a: rgba(244, 239, 250, 0.3);
  --split1-200a: rgba(222, 206, 240, 0.3);
  --split1-300a: rgba(200, 173, 230, 0.3);
  --split1-400a: rgba(124, 58, 196, 0.3);
  --split1-500a: rgba(103, 48, 163, 0.3);
  --split1-600a: rgba(93, 44, 147, 0.3);
  --split1-700a: rgba(72, 34, 114, 0.3);
  --split1-800a: rgba(52, 24, 82, 0.3);
  --split1-900a: rgba(21, 10, 33, 0.3);
  --split2-100a: rgba(255, 239, 240, 0.3);
  --split2-200a: rgba(255, 206, 209, 0.3);
  --split2-300a: rgba(255, 173, 179, 0.3);
  --split2-400a: rgba(255, 58, 72, 0.3);
  --split2-500a: rgba(170, 39, 48, 0.3);
  --split2-600a: rgba(128, 29, 36, 0.3);
  --split2-700a: rgba(85, 19, 24, 0.3);
  --split2-800a: rgba(64, 15, 18, 0.3);
  --split2-900a: rgba(21, 5, 6, 0.3);
  --square1-100a: rgba(239, 255, 245, 0.3);
  --square1-200a: rgba(206, 255, 225, 0.3);
  --square1-300a: rgba(173, 255, 205, 0.3);
  --square1-400a: rgba(59, 254, 135, 0.3);
  --square1-500a: rgba(39, 169, 90, 0.3);
  --square1-600a: rgba(30, 127, 68, 0.3);
  --square1-700a: rgba(20, 85, 45, 0.3);
  --square1-800a: rgba(15, 64, 34, 0.3);
  --square1-900a: rgba(5, 21, 11, 0.3);
  --square2-100a: rgba(254, 239, 250, 0.3);
  --square2-200a: rgba(253, 206, 240, 0.3);
  --square2-300a: rgba(252, 173, 230, 0.3);
  --square2-400a: rgba(248, 58, 196, 0.3);
  --square2-500a: rgba(165, 39, 131, 0.3);
  --square2-600a: rgba(124, 29, 98, 0.3);
  --square2-700a: rgba(83, 19, 65, 0.3);
  --square2-800a: rgba(62, 15, 49, 0.3);
  --square2-900a: rgba(21, 5, 16, 0.3);
  --square3-100a: rgba(255, 242, 234, 0.3);
  --square3-200a: rgba(255, 217, 191, 0.3);
  --square3-300a: rgba(255, 192, 149, 0.3);
  --square3-400a: rgba(255, 104, 0, 0.3);
  --square3-500a: rgba(213, 87, 0, 0.3);
  --square3-600a: rgba(191, 78, 0, 0.3);
  --square3-700a: rgba(149, 61, 0, 0.3);
  --square3-800a: rgba(106, 43, 0, 0.3);
  --square3-900a: rgba(43, 17, 0, 0.3);
  --triadic1-100a: rgba(239, 244, 250, 0.3);
  --triadic1-200a: rgba(206, 222, 240, 0.3);
  --triadic1-300a: rgba(173, 200, 230, 0.3);
  --triadic1-400a: rgba(59, 124, 196, 0.3);
  --triadic1-500a: rgba(49, 103, 163, 0.3);
  --triadic1-600a: rgba(44, 93, 147, 0.3);
  --triadic1-700a: rgba(34, 72, 114, 0.3);
  --triadic1-800a: rgba(25, 52, 82, 0.3);
  --triadic1-900a: rgba(10, 21, 33, 0.3);
  --triadic2-100a: rgba(255, 239, 234, 0.3);
  --triadic2-200a: rgba(255, 208, 191, 0.3);
  --triadic2-300a: rgba(255, 176, 149, 0.3);
  --triadic2-400a: rgba(255, 66, 0, 0.3);
  --triadic2-500a: rgba(213, 55, 0, 0.3);
  --triadic2-600a: rgba(191, 50, 0, 0.3);
  --triadic2-700a: rgba(149, 39, 0, 0.3);
  --triadic2-800a: rgba(106, 28, 0, 0.3);
  --triadic2-900a: rgba(43, 11, 0, 0.3);
  --tetradic1-100a: rgba(245, 255, 234, 0.3);
  --tetradic1-200a: rgba(224, 255, 191, 0.3);
  --tetradic1-300a: rgba(203, 255, 149, 0.3);
  --tetradic1-400a: rgba(131, 255, 0, 0.3);
  --tetradic1-500a: rgba(87, 170, 0, 0.3);
  --tetradic1-600a: rgba(66, 128, 0, 0.3);
  --tetradic1-700a: rgba(44, 85, 0, 0.3);
  --tetradic1-800a: rgba(33, 64, 0, 0.3);
  --tetradic1-900a: rgba(11, 21, 0, 0.3);
  --tetradic2-100a: rgba(254, 239, 250, 0.3);
  --tetradic2-200a: rgba(253, 206, 240, 0.3);
  --tetradic2-300a: rgba(252, 173, 230, 0.3);
  --tetradic2-400a: rgba(248, 58, 196, 0.3);
  --tetradic2-500a: rgba(165, 39, 131, 0.3);
  --tetradic2-600a: rgba(124, 29, 98, 0.3);
  --tetradic2-700a: rgba(83, 19, 65, 0.3);
  --tetradic2-800a: rgba(62, 15, 49, 0.3);
  --tetradic2-900a: rgba(21, 5, 16, 0.3);
  --tetradic3-100a: rgba(255, 239, 234, 0.3);
  --tetradic3-200a: rgba(255, 208, 191, 0.3);
  --tetradic3-300a: rgba(255, 176, 149, 0.3);
  --tetradic3-400a: rgba(255, 66, 0, 0.3);
  --tetradic3-500a: rgba(213, 55, 0, 0.3);
  --tetradic3-600a: rgba(191, 50, 0, 0.3);
  --tetradic3-700a: rgba(149, 39, 0, 0.3);
  --tetradic3-800a: rgba(106, 28, 0, 0.3);
  --tetradic3-900a: rgba(43, 11, 0, 0.3);
  --success-100a: rgba(243, 255, 234, 0.3);
  --success-200a: rgba(218, 255, 191, 0.3);
  --success-300a: rgba(193, 255, 149, 0.3);
  --success-400a: rgba(105, 255, 0, 0.3);
  --success-500a: rgba(70, 170, 0, 0.3);
  --success-600a: rgba(53, 128, 0, 0.3);
  --success-700a: rgba(35, 85, 0, 0.3);
  --success-800a: rgba(26, 64, 0, 0.3);
  --success-900a: rgba(9, 21, 0, 0.3);
  --danger-100a: rgba(255, 236, 234, 0.3);
  --danger-200a: rgba(255, 197, 191, 0.3);
  --danger-300a: rgba(255, 158, 149, 0.3);
  --danger-400a: rgba(255, 23, 0, 0.3);
  --danger-500a: rgba(213, 19, 0, 0.3);
  --danger-600a: rgba(191, 17, 0, 0.3);
  --danger-700a: rgba(149, 13, 0, 0.3);
  --danger-800a: rgba(106, 10, 0, 0.3);
  --danger-900a: rgba(43, 4, 0, 0.3);
  --warning-100a: rgba(255, 244, 234, 0.3);
  --warning-200a: rgba(255, 223, 191, 0.3);
  --warning-300a: rgba(255, 202, 149, 0.3);
  --warning-400a: rgba(255, 128, 0, 0.3);
  --warning-500a: rgba(170, 85, 0, 0.3);
  --warning-600a: rgba(128, 64, 0, 0.3);
  --warning-700a: rgba(85, 43, 0, 0.3);
  --warning-800a: rgba(64, 32, 0, 0.3);
  --warning-900a: rgba(21, 11, 0, 0.3);
  --info-100a: rgba(234, 240, 255, 0.3);
  --info-200a: rgba(191, 209, 255, 0.3);
  --info-300a: rgba(149, 178, 255, 0.3);
  --info-400a: rgba(0, 70, 255, 0.3);
  --info-500a: rgba(0, 58, 213, 0.3);
  --info-600a: rgba(0, 53, 191, 0.3);
  --info-700a: rgba(0, 41, 149, 0.3);
  --info-800a: rgba(0, 29, 106, 0.3);
  --info-900a: rgba(0, 12, 43, 0.3);
}
