:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #fcfced;
  --primary-200: #f7f6c7;
  --primary-300: #f1f0a3;
  --primary-400: #dedc21;
  --primary-500: #949216;
  --primary-600: #6f6e11;
  --primary-700: #4a490b;
  --primary-800: #383708;
  --primary-900: #121203;
  --hue-0-100: #faefef;
  --hue-0-200: #f0cece;
  --hue-0-300: #e7adad;
  --hue-0-400: #c43b3b;
  --hue-0-500: #a43131;
  --hue-0-600: #932c2c;
  --hue-0-700: #732222;
  --hue-0-800: #521818;
  --hue-0-900: #210a0a;
  --hue-30-100: #faf4ef;
  --hue-30-200: #f0dfce;
  --hue-30-300: #e7caad;
  --hue-30-400: #c4803b;
  --hue-30-500: #835527;
  --hue-30-600: #63401d;
  --hue-30-700: #4a2b0b;
  --hue-30-800: #31200f;
  --hue-30-900: #120b03;
  --hue-60-100: #fcfced;
  --hue-60-200: #f7f7c7;
  --hue-60-300: #f1f1a3;
  --hue-60-400: #dede21;
  --hue-60-500: #949416;
  --hue-60-600: #6f6f11;
  --hue-60-700: #4a4a0b;
  --hue-60-800: #383808;
  --hue-60-900: #121203;
  --hue-90-100: #f4faef;
  --hue-90-200: #dff0ce;
  --hue-90-300: #cae7ad;
  --hue-90-400: #80c43b;
  --hue-90-500: #558327;
  --hue-90-600: #40631d;
  --hue-90-700: #2b4114;
  --hue-90-800: #20310f;
  --hue-90-900: #0b1203;
  --hue-120-100: #effaef;
  --hue-120-200: #cef0ce;
  --hue-120-300: #ade7ad;
  --hue-120-400: #3bc43b;
  --hue-120-500: #278327;
  --hue-120-600: #1d631d;
  --hue-120-700: #144114;
  --hue-120-800: #0f310f;
  --hue-120-900: #051005;
  --hue-150-100: #effaf4;
  --hue-150-200: #cef0df;
  --hue-150-300: #ade7ca;
  --hue-150-400: #3bc480;
  --hue-150-500: #278355;
  --hue-150-600: #1d6340;
  --hue-150-700: #14412b;
  --hue-150-800: #0f3120;
  --hue-150-900: #05100b;
  --hue-180-100: #effafa;
  --hue-180-200: #cef0f0;
  --hue-180-300: #ade7e7;
  --hue-180-400: #3bc4c4;
  --hue-180-500: #278383;
  --hue-180-600: #1d6363;
  --hue-180-700: #144141;
  --hue-180-800: #0f3131;
  --hue-180-900: #051010;
  --hue-210-100: #f1f4f8;
  --hue-210-200: #cedff0;
  --hue-210-300: #adcae7;
  --hue-210-400: #3b80c4;
  --hue-210-500: #316ba4;
  --hue-210-600: #2c6093;
  --hue-210-700: #224b73;
  --hue-210-800: #183552;
  --hue-210-900: #0d151e;
  --hue-240-100: #f1f1f8;
  --hue-240-200: #d3d3eb;
  --hue-240-300: #b6b6de;
  --hue-240-400: #4f4fb0;
  --hue-240-500: #424293;
  --hue-240-600: #3b3b84;
  --hue-240-700: #2e2e67;
  --hue-240-800: #212149;
  --hue-240-900: #0d0d1e;
  --hue-270-100: #f4f1f8;
  --hue-270-200: #dfd0ee;
  --hue-270-300: #cab1e3;
  --hue-270-400: #8042bd;
  --hue-270-500: #6b379e;
  --hue-270-600: #60328d;
  --hue-270-700: #4b276e;
  --hue-270-800: #351c4e;
  --hue-270-900: #150b20;
  --hue-300-100: #faeffa;
  --hue-300-200: #eed0ee;
  --hue-300-300: #e3b1e3;
  --hue-300-400: #bd42bd;
  --hue-300-500: #9e379e;
  --hue-300-600: #8d328d;
  --hue-300-700: #6e276e;
  --hue-300-800: #4e1c4e;
  --hue-300-900: #200b20;
  --hue-330-100: #faeff4;
  --hue-330-200: #f0cedf;
  --hue-330-300: #e7adca;
  --hue-330-400: #c43b80;
  --hue-330-500: #a4316b;
  --hue-330-600: #932c60;
  --hue-330-700: #73224b;
  --hue-330-800: #521835;
  --hue-330-900: #210a15;
  --complementary-100: #f1f1f8;
  --complementary-200: #d3d3eb;
  --complementary-300: #b6b6de;
  --complementary-400: #4f50b0;
  --complementary-500: #424393;
  --complementary-600: #3b3c84;
  --complementary-700: #2e2f67;
  --complementary-800: #212149;
  --complementary-900: #0d0e1e;
  --analogous1-100: #f5fced;
  --analogous1-200: #e0f0ce;
  --analogous1-300: #cbe7ad;
  --analogous1-400: #82c43b;
  --analogous1-500: #568327;
  --analogous1-600: #41631d;
  --analogous1-700: #2c4a0b;
  --analogous1-800: #21310f;
  --analogous1-900: #0b1203;
  --analogous2-100: #effaef;
  --analogous2-200: #cef0ce;
  --analogous2-300: #aee7ad;
  --analogous2-400: #3cc43b;
  --analogous2-500: #288327;
  --analogous2-600: #1f631d;
  --analogous2-700: #144114;
  --analogous2-800: #0f310f;
  --analogous2-900: #051005;
  --analogous3-100: #effaf4;
  --analogous3-200: #cef0df;
  --analogous3-300: #ade7c9;
  --analogous3-400: #3bc47e;
  --analogous3-500: #278354;
  --analogous3-600: #1d633f;
  --analogous3-700: #14412a;
  --analogous3-800: #0f311f;
  --analogous3-900: #05100a;
  --split1-100: #eff5fa;
  --split1-200: #cee0f0;
  --split1-300: #adcbe7;
  --split1-400: #3b82c4;
  --split1-500: #316ca4;
  --split1-600: #2c6193;
  --split1-700: #224b73;
  --split1-800: #183652;
  --split1-900: #0a1621;
  --split2-100: #f4f1f8;
  --split2-200: #dfd0ee;
  --split2-300: #cab1e3;
  --split2-400: #7f42bd;
  --split2-500: #69379e;
  --split2-600: #5f328d;
  --split2-700: #4a276e;
  --split2-800: #351c4e;
  --split2-900: #150b20;
  --square1-100: #effaf4;
  --square1-200: #cef0df;
  --square1-300: #ade7c9;
  --square1-400: #3bc47e;
  --square1-500: #278354;
  --square1-600: #1d633f;
  --square1-700: #14412a;
  --square1-800: #0f311f;
  --square1-900: #05100a;
  --square2-100: #f1f1f8;
  --square2-200: #d3d3eb;
  --square2-300: #b6b6de;
  --square2-400: #4f50b0;
  --square2-500: #424393;
  --square2-600: #3b3c84;
  --square2-700: #2e2f67;
  --square2-800: #212149;
  --square2-900: #0d0e1e;
  --square3-100: #faeff5;
  --square3-200: #f0cee0;
  --square3-300: #e7adcb;
  --square3-400: #c43b82;
  --square3-500: #a4316c;
  --square3-600: #932c61;
  --square3-700: #73224b;
  --square3-800: #521836;
  --square3-900: #210a16;
  --triadic1-100: #effafa;
  --triadic1-200: #cef0f0;
  --triadic1-300: #ade7e6;
  --triadic1-400: #3bc4c3;
  --triadic1-500: #278382;
  --triadic1-600: #1d6361;
  --triadic1-700: #144141;
  --triadic1-800: #0f3131;
  --triadic1-900: #051010;
  --triadic2-100: #faeffa;
  --triadic2-200: #eed0ee;
  --triadic2-300: #e3b1e3;
  --triadic2-400: #bb42bd;
  --triadic2-500: #9c379e;
  --triadic2-600: #8c328d;
  --triadic2-700: #6d276e;
  --triadic2-800: #4e1c4e;
  --triadic2-900: #1f0b20;
  --tetradic1-100: #effaef;
  --tetradic1-200: #cef0ce;
  --tetradic1-300: #aee7ad;
  --tetradic1-400: #3cc43b;
  --tetradic1-500: #288327;
  --tetradic1-600: #1f631d;
  --tetradic1-700: #144114;
  --tetradic1-800: #0f310f;
  --tetradic1-900: #051005;
  --tetradic2-100: #f1f1f8;
  --tetradic2-200: #d3d3eb;
  --tetradic2-300: #b6b6de;
  --tetradic2-400: #4f50b0;
  --tetradic2-500: #424393;
  --tetradic2-600: #3b3c84;
  --tetradic2-700: #2e2f67;
  --tetradic2-800: #212149;
  --tetradic2-900: #0d0e1e;
  --tetradic3-100: #faeffa;
  --tetradic3-200: #eed0ee;
  --tetradic3-300: #e3b1e3;
  --tetradic3-400: #bb42bd;
  --tetradic3-500: #9c379e;
  --tetradic3-600: #8c328d;
  --tetradic3-700: #6d276e;
  --tetradic3-800: #4e1c4e;
  --tetradic3-900: #1f0b20;
  --success-100: #effaef;
  --success-200: #cef0ce;
  --success-300: #ade7ad;
  --success-400: #3bc43b;
  --success-500: #278327;
  --success-600: #1d631d;
  --success-700: #144114;
  --success-800: #0f310f;
  --success-900: #051005;
  --danger-100: #faefef;
  --danger-200: #f0cece;
  --danger-300: #e7adad;
  --danger-400: #c43b3b;
  --danger-500: #a43131;
  --danger-600: #932c2c;
  --danger-700: #732222;
  --danger-800: #521818;
  --danger-900: #210a0a;
  --warning-100: #faf4ef;
  --warning-200: #f0dfce;
  --warning-300: #e7caad;
  --warning-400: #de8021;
  --warning-500: #835527;
  --warning-600: #63401d;
  --warning-700: #4a2b0b;
  --warning-800: #31200f;
  --warning-900: #120b03;
  --info-100: #f1f4f8;
  --info-200: #cedff0;
  --info-300: #adcae7;
  --info-400: #3b80c4;
  --info-500: #316ba4;
  --info-600: #2c6093;
  --info-700: #224b73;
  --info-800: #183552;
  --info-900: #0d151e;
  --primary-100n: #fcfced;
  --primary-200n: #f7f6c7;
  --primary-300n: #f1f0a3;
  --primary-400n: #dedc21;
  --primary-500n: #949216;
  --primary-600n: #6f6e11;
  --primary-700n: #4a490b;
  --primary-800n: #383708;
  --primary-900n: #121203;
  --hue-0-100n: #faefef;
  --hue-0-200n: #f0cece;
  --hue-0-300n: #e7adad;
  --hue-0-400n: #c43b3b;
  --hue-0-500n: #a43131;
  --hue-0-600n: #932c2c;
  --hue-0-700n: #732222;
  --hue-0-800n: #521818;
  --hue-0-900n: #210a0a;
  --hue-30-100n: #faf4ef;
  --hue-30-200n: #f0dfce;
  --hue-30-300n: #e7caad;
  --hue-30-400n: #c4803b;
  --hue-30-500n: #835527;
  --hue-30-600n: #63401d;
  --hue-30-700n: #4a2b0b;
  --hue-30-800n: #31200f;
  --hue-30-900n: #120b03;
  --hue-60-100n: #fcfced;
  --hue-60-200n: #f7f7c7;
  --hue-60-300n: #f1f1a3;
  --hue-60-400n: #dede21;
  --hue-60-500n: #949416;
  --hue-60-600n: #6f6f11;
  --hue-60-700n: #4a4a0b;
  --hue-60-800n: #383808;
  --hue-60-900n: #121203;
  --hue-90-100n: #f4faef;
  --hue-90-200n: #dff0ce;
  --hue-90-300n: #cae7ad;
  --hue-90-400n: #80c43b;
  --hue-90-500n: #558327;
  --hue-90-600n: #40631d;
  --hue-90-700n: #2b4114;
  --hue-90-800n: #20310f;
  --hue-90-900n: #0b1203;
  --hue-120-100n: #effaef;
  --hue-120-200n: #cef0ce;
  --hue-120-300n: #ade7ad;
  --hue-120-400n: #3bc43b;
  --hue-120-500n: #278327;
  --hue-120-600n: #1d631d;
  --hue-120-700n: #144114;
  --hue-120-800n: #0f310f;
  --hue-120-900n: #051005;
  --hue-150-100n: #effaf4;
  --hue-150-200n: #cef0df;
  --hue-150-300n: #ade7ca;
  --hue-150-400n: #3bc480;
  --hue-150-500n: #278355;
  --hue-150-600n: #1d6340;
  --hue-150-700n: #14412b;
  --hue-150-800n: #0f3120;
  --hue-150-900n: #05100b;
  --hue-180-100n: #effafa;
  --hue-180-200n: #cef0f0;
  --hue-180-300n: #ade7e7;
  --hue-180-400n: #3bc4c4;
  --hue-180-500n: #278383;
  --hue-180-600n: #1d6363;
  --hue-180-700n: #144141;
  --hue-180-800n: #0f3131;
  --hue-180-900n: #051010;
  --hue-210-100n: #f1f4f8;
  --hue-210-200n: #cedff0;
  --hue-210-300n: #adcae7;
  --hue-210-400n: #3b80c4;
  --hue-210-500n: #316ba4;
  --hue-210-600n: #2c6093;
  --hue-210-700n: #224b73;
  --hue-210-800n: #183552;
  --hue-210-900n: #0d151e;
  --hue-240-100n: #f1f1f8;
  --hue-240-200n: #d3d3eb;
  --hue-240-300n: #b6b6de;
  --hue-240-400n: #4f4fb0;
  --hue-240-500n: #424293;
  --hue-240-600n: #3b3b84;
  --hue-240-700n: #2e2e67;
  --hue-240-800n: #212149;
  --hue-240-900n: #0d0d1e;
  --hue-270-100n: #f4f1f8;
  --hue-270-200n: #dfd0ee;
  --hue-270-300n: #cab1e3;
  --hue-270-400n: #8042bd;
  --hue-270-500n: #6b379e;
  --hue-270-600n: #60328d;
  --hue-270-700n: #4b276e;
  --hue-270-800n: #351c4e;
  --hue-270-900n: #150b20;
  --hue-300-100n: #faeffa;
  --hue-300-200n: #eed0ee;
  --hue-300-300n: #e3b1e3;
  --hue-300-400n: #bd42bd;
  --hue-300-500n: #9e379e;
  --hue-300-600n: #8d328d;
  --hue-300-700n: #6e276e;
  --hue-300-800n: #4e1c4e;
  --hue-300-900n: #200b20;
  --hue-330-100n: #faeff4;
  --hue-330-200n: #f0cedf;
  --hue-330-300n: #e7adca;
  --hue-330-400n: #c43b80;
  --hue-330-500n: #a4316b;
  --hue-330-600n: #932c60;
  --hue-330-700n: #73224b;
  --hue-330-800n: #521835;
  --hue-330-900n: #210a15;
  --complementary-100n: #f1f1f8;
  --complementary-200n: #d3d3eb;
  --complementary-300n: #b6b6de;
  --complementary-400n: #4f50b0;
  --complementary-500n: #424393;
  --complementary-600n: #3b3c84;
  --complementary-700n: #2e2f67;
  --complementary-800n: #212149;
  --complementary-900n: #0d0e1e;
  --analogous1-100n: #f5fced;
  --analogous1-200n: #e0f0ce;
  --analogous1-300n: #cbe7ad;
  --analogous1-400n: #82c43b;
  --analogous1-500n: #568327;
  --analogous1-600n: #41631d;
  --analogous1-700n: #2c4a0b;
  --analogous1-800n: #21310f;
  --analogous1-900n: #0b1203;
  --analogous2-100n: #effaef;
  --analogous2-200n: #cef0ce;
  --analogous2-300n: #aee7ad;
  --analogous2-400n: #3cc43b;
  --analogous2-500n: #288327;
  --analogous2-600n: #1f631d;
  --analogous2-700n: #144114;
  --analogous2-800n: #0f310f;
  --analogous2-900n: #051005;
  --analogous3-100n: #effaf4;
  --analogous3-200n: #cef0df;
  --analogous3-300n: #ade7c9;
  --analogous3-400n: #3bc47e;
  --analogous3-500n: #278354;
  --analogous3-600n: #1d633f;
  --analogous3-700n: #14412a;
  --analogous3-800n: #0f311f;
  --analogous3-900n: #05100a;
  --split1-100n: #eff5fa;
  --split1-200n: #cee0f0;
  --split1-300n: #adcbe7;
  --split1-400n: #3b82c4;
  --split1-500n: #316ca4;
  --split1-600n: #2c6193;
  --split1-700n: #224b73;
  --split1-800n: #183652;
  --split1-900n: #0a1621;
  --split2-100n: #f4f1f8;
  --split2-200n: #dfd0ee;
  --split2-300n: #cab1e3;
  --split2-400n: #7f42bd;
  --split2-500n: #69379e;
  --split2-600n: #5f328d;
  --split2-700n: #4a276e;
  --split2-800n: #351c4e;
  --split2-900n: #150b20;
  --square1-100n: #effaf4;
  --square1-200n: #cef0df;
  --square1-300n: #ade7c9;
  --square1-400n: #3bc47e;
  --square1-500n: #278354;
  --square1-600n: #1d633f;
  --square1-700n: #14412a;
  --square1-800n: #0f311f;
  --square1-900n: #05100a;
  --square2-100n: #f1f1f8;
  --square2-200n: #d3d3eb;
  --square2-300n: #b6b6de;
  --square2-400n: #4f50b0;
  --square2-500n: #424393;
  --square2-600n: #3b3c84;
  --square2-700n: #2e2f67;
  --square2-800n: #212149;
  --square2-900n: #0d0e1e;
  --square3-100n: #faeff5;
  --square3-200n: #f0cee0;
  --square3-300n: #e7adcb;
  --square3-400n: #c43b82;
  --square3-500n: #a4316c;
  --square3-600n: #932c61;
  --square3-700n: #73224b;
  --square3-800n: #521836;
  --square3-900n: #210a16;
  --triadic1-100n: #effafa;
  --triadic1-200n: #cef0f0;
  --triadic1-300n: #ade7e6;
  --triadic1-400n: #3bc4c3;
  --triadic1-500n: #278382;
  --triadic1-600n: #1d6361;
  --triadic1-700n: #144141;
  --triadic1-800n: #0f3131;
  --triadic1-900n: #051010;
  --triadic2-100n: #faeffa;
  --triadic2-200n: #eed0ee;
  --triadic2-300n: #e3b1e3;
  --triadic2-400n: #bb42bd;
  --triadic2-500n: #9c379e;
  --triadic2-600n: #8c328d;
  --triadic2-700n: #6d276e;
  --triadic2-800n: #4e1c4e;
  --triadic2-900n: #1f0b20;
  --tetradic1-100n: #effaef;
  --tetradic1-200n: #cef0ce;
  --tetradic1-300n: #aee7ad;
  --tetradic1-400n: #3cc43b;
  --tetradic1-500n: #288327;
  --tetradic1-600n: #1f631d;
  --tetradic1-700n: #144114;
  --tetradic1-800n: #0f310f;
  --tetradic1-900n: #051005;
  --tetradic2-100n: #f1f1f8;
  --tetradic2-200n: #d3d3eb;
  --tetradic2-300n: #b6b6de;
  --tetradic2-400n: #4f50b0;
  --tetradic2-500n: #424393;
  --tetradic2-600n: #3b3c84;
  --tetradic2-700n: #2e2f67;
  --tetradic2-800n: #212149;
  --tetradic2-900n: #0d0e1e;
  --tetradic3-100n: #faeffa;
  --tetradic3-200n: #eed0ee;
  --tetradic3-300n: #e3b1e3;
  --tetradic3-400n: #bb42bd;
  --tetradic3-500n: #9c379e;
  --tetradic3-600n: #8c328d;
  --tetradic3-700n: #6d276e;
  --tetradic3-800n: #4e1c4e;
  --tetradic3-900n: #1f0b20;
  --success-100n: #effaef;
  --success-200n: #cef0ce;
  --success-300n: #ade7ad;
  --success-400n: #3bc43b;
  --success-500n: #278327;
  --success-600n: #1d631d;
  --success-700n: #144114;
  --success-800n: #0f310f;
  --success-900n: #051005;
  --danger-100n: #faefef;
  --danger-200n: #f0cece;
  --danger-300n: #e7adad;
  --danger-400n: #c43b3b;
  --danger-500n: #a43131;
  --danger-600n: #932c2c;
  --danger-700n: #732222;
  --danger-800n: #521818;
  --danger-900n: #210a0a;
  --warning-100n: #faf4ef;
  --warning-200n: #f0dfce;
  --warning-300n: #e7caad;
  --warning-400n: #de8021;
  --warning-500n: #835527;
  --warning-600n: #63401d;
  --warning-700n: #4a2b0b;
  --warning-800n: #31200f;
  --warning-900n: #120b03;
  --info-100n: #f1f4f8;
  --info-200n: #cedff0;
  --info-300n: #adcae7;
  --info-400n: #3b80c4;
  --info-500n: #316ba4;
  --info-600n: #2c6093;
  --info-700n: #224b73;
  --info-800n: #183552;
  --info-900n: #0d151e;
  --primary-100a: rgba(255, 255, 234, 0.3);
  --primary-200a: rgba(255, 254, 191, 0.3);
  --primary-300a: rgba(255, 254, 149, 0.3);
  --primary-400a: rgba(255, 252, 0, 0.3);
  --primary-500a: rgba(170, 168, 0, 0.3);
  --primary-600a: rgba(128, 126, 0, 0.3);
  --primary-700a: rgba(85, 84, 0, 0.3);
  --primary-800a: rgba(64, 63, 0, 0.3);
  --primary-900a: rgba(21, 21, 0, 0.3);
  --hue-0-100a: rgba(255, 234, 234, 0.3);
  --hue-0-200a: rgba(255, 191, 191, 0.3);
  --hue-0-300a: rgba(255, 149, 149, 0.3);
  --hue-0-400a: rgba(255, 0, 0, 0.3);
  --hue-0-500a: rgba(213, 0, 0, 0.3);
  --hue-0-600a: rgba(191, 0, 0, 0.3);
  --hue-0-700a: rgba(149, 0, 0, 0.3);
  --hue-0-800a: rgba(106, 0, 0, 0.3);
  --hue-0-900a: rgba(43, 0, 0, 0.3);
  --hue-30-100a: rgba(255, 244, 234, 0.3);
  --hue-30-200a: rgba(255, 223, 191, 0.3);
  --hue-30-300a: rgba(255, 202, 149, 0.3);
  --hue-30-400a: rgba(255, 128, 0, 0.3);
  --hue-30-500a: rgba(170, 85, 0, 0.3);
  --hue-30-600a: rgba(128, 64, 0, 0.3);
  --hue-30-700a: rgba(85, 43, 0, 0.3);
  --hue-30-800a: rgba(64, 32, 0, 0.3);
  --hue-30-900a: rgba(21, 11, 0, 0.3);
  --hue-60-100a: rgba(255, 255, 234, 0.3);
  --hue-60-200a: rgba(255, 255, 191, 0.3);
  --hue-60-300a: rgba(255, 255, 149, 0.3);
  --hue-60-400a: rgba(255, 255, 0, 0.3);
  --hue-60-500a: rgba(170, 170, 0, 0.3);
  --hue-60-600a: rgba(128, 128, 0, 0.3);
  --hue-60-700a: rgba(85, 85, 0, 0.3);
  --hue-60-800a: rgba(64, 64, 0, 0.3);
  --hue-60-900a: rgba(21, 21, 0, 0.3);
  --hue-90-100a: rgba(244, 255, 234, 0.3);
  --hue-90-200a: rgba(223, 255, 191, 0.3);
  --hue-90-300a: rgba(202, 255, 149, 0.3);
  --hue-90-400a: rgba(128, 255, 0, 0.3);
  --hue-90-500a: rgba(85, 170, 0, 0.3);
  --hue-90-600a: rgba(64, 128, 0, 0.3);
  --hue-90-700a: rgba(43, 85, 0, 0.3);
  --hue-90-800a: rgba(32, 64, 0, 0.3);
  --hue-90-900a: rgba(11, 21, 0, 0.3);
  --hue-120-100a: rgba(234, 255, 234, 0.3);
  --hue-120-200a: rgba(191, 255, 191, 0.3);
  --hue-120-300a: rgba(149, 255, 149, 0.3);
  --hue-120-400a: rgba(0, 255, 0, 0.3);
  --hue-120-500a: rgba(0, 170, 0, 0.3);
  --hue-120-600a: rgba(0, 128, 0, 0.3);
  --hue-120-700a: rgba(0, 85, 0, 0.3);
  --hue-120-800a: rgba(0, 64, 0, 0.3);
  --hue-120-900a: rgba(0, 21, 0, 0.3);
  --hue-150-100a: rgba(234, 255, 244, 0.3);
  --hue-150-200a: rgba(191, 255, 223, 0.3);
  --hue-150-300a: rgba(149, 255, 202, 0.3);
  --hue-150-400a: rgba(0, 255, 128, 0.3);
  --hue-150-500a: rgba(0, 170, 85, 0.3);
  --hue-150-600a: rgba(0, 128, 64, 0.3);
  --hue-150-700a: rgba(0, 85, 43, 0.3);
  --hue-150-800a: rgba(0, 64, 32, 0.3);
  --hue-150-900a: rgba(0, 21, 11, 0.3);
  --hue-180-100a: rgba(234, 255, 255, 0.3);
  --hue-180-200a: rgba(191, 255, 255, 0.3);
  --hue-180-300a: rgba(149, 255, 255, 0.3);
  --hue-180-400a: rgba(0, 255, 255, 0.3);
  --hue-180-500a: rgba(0, 170, 170, 0.3);
  --hue-180-600a: rgba(0, 128, 128, 0.3);
  --hue-180-700a: rgba(0, 85, 85, 0.3);
  --hue-180-800a: rgba(0, 64, 64, 0.3);
  --hue-180-900a: rgba(0, 21, 21, 0.3);
  --hue-210-100a: rgba(234, 244, 255, 0.3);
  --hue-210-200a: rgba(191, 223, 255, 0.3);
  --hue-210-300a: rgba(149, 202, 255, 0.3);
  --hue-210-400a: rgba(0, 128, 255, 0.3);
  --hue-210-500a: rgba(0, 107, 213, 0.3);
  --hue-210-600a: rgba(0, 96, 191, 0.3);
  --hue-210-700a: rgba(0, 75, 149, 0.3);
  --hue-210-800a: rgba(0, 53, 106, 0.3);
  --hue-210-900a: rgba(0, 21, 43, 0.3);
  --hue-240-100a: rgba(234, 234, 255, 0.3);
  --hue-240-200a: rgba(191, 191, 255, 0.3);
  --hue-240-300a: rgba(149, 149, 255, 0.3);
  --hue-240-400a: rgba(0, 0, 255, 0.3);
  --hue-240-500a: rgba(0, 0, 213, 0.3);
  --hue-240-600a: rgba(0, 0, 191, 0.3);
  --hue-240-700a: rgba(0, 0, 149, 0.3);
  --hue-240-800a: rgba(0, 0, 106, 0.3);
  --hue-240-900a: rgba(0, 0, 43, 0.3);
  --hue-270-100a: rgba(244, 234, 255, 0.3);
  --hue-270-200a: rgba(223, 191, 255, 0.3);
  --hue-270-300a: rgba(202, 149, 255, 0.3);
  --hue-270-400a: rgba(128, 0, 255, 0.3);
  --hue-270-500a: rgba(107, 0, 213, 0.3);
  --hue-270-600a: rgba(96, 0, 191, 0.3);
  --hue-270-700a: rgba(75, 0, 149, 0.3);
  --hue-270-800a: rgba(53, 0, 106, 0.3);
  --hue-270-900a: rgba(21, 0, 43, 0.3);
  --hue-300-100a: rgba(255, 234, 255, 0.3);
  --hue-300-200a: rgba(255, 191, 255, 0.3);
  --hue-300-300a: rgba(255, 149, 255, 0.3);
  --hue-300-400a: rgba(255, 0, 255, 0.3);
  --hue-300-500a: rgba(213, 0, 213, 0.3);
  --hue-300-600a: rgba(191, 0, 191, 0.3);
  --hue-300-700a: rgba(149, 0, 149, 0.3);
  --hue-300-800a: rgba(106, 0, 106, 0.3);
  --hue-300-900a: rgba(43, 0, 43, 0.3);
  --hue-330-100a: rgba(255, 234, 244, 0.3);
  --hue-330-200a: rgba(255, 191, 223, 0.3);
  --hue-330-300a: rgba(255, 149, 202, 0.3);
  --hue-330-400a: rgba(255, 0, 128, 0.3);
  --hue-330-500a: rgba(213, 0, 107, 0.3);
  --hue-330-600a: rgba(191, 0, 96, 0.3);
  --hue-330-700a: rgba(149, 0, 75, 0.3);
  --hue-330-800a: rgba(106, 0, 53, 0.3);
  --hue-330-900a: rgba(43, 0, 21, 0.3);
  --complementary-100a: rgba(234, 234, 255, 0.3);
  --complementary-200a: rgba(191, 192, 255, 0.3);
  --complementary-300a: rgba(149, 150, 255, 0.3);
  --complementary-400a: rgba(0, 3, 255, 0.3);
  --complementary-500a: rgba(0, 3, 213, 0.3);
  --complementary-600a: rgba(0, 2, 191, 0.3);
  --complementary-700a: rgba(0, 2, 149, 0.3);
  --complementary-800a: rgba(0, 1, 106, 0.3);
  --complementary-900a: rgba(0, 1, 43, 0.3);
  --analogous1-100a: rgba(245, 255, 234, 0.3);
  --analogous1-200a: rgba(224, 255, 191, 0.3);
  --analogous1-300a: rgba(203, 255, 149, 0.3);
  --analogous1-400a: rgba(131, 255, 0, 0.3);
  --analogous1-500a: rgba(87, 170, 0, 0.3);
  --analogous1-600a: rgba(66, 128, 0, 0.3);
  --analogous1-700a: rgba(44, 85, 0, 0.3);
  --analogous1-800a: rgba(33, 64, 0, 0.3);
  --analogous1-900a: rgba(11, 21, 0, 0.3);
  --analogous2-100a: rgba(234, 255, 234, 0.3);
  --analogous2-200a: rgba(192, 255, 191, 0.3);
  --analogous2-300a: rgba(150, 255, 149, 0.3);
  --analogous2-400a: rgba(3, 255, 0, 0.3);
  --analogous2-500a: rgba(2, 170, 0, 0.3);
  --analogous2-600a: rgba(2, 128, 0, 0.3);
  --analogous2-700a: rgba(1, 85, 0, 0.3);
  --analogous2-800a: rgba(1, 64, 0, 0.3);
  --analogous2-900a: rgba(0, 21, 0, 0.3);
  --analogous3-100a: rgba(234, 255, 244, 0.3);
  --analogous3-200a: rgba(191, 255, 223, 0.3);
  --analogous3-300a: rgba(149, 255, 201, 0.3);
  --analogous3-400a: rgba(0, 255, 125, 0.3);
  --analogous3-500a: rgba(0, 170, 83, 0.3);
  --analogous3-600a: rgba(0, 128, 63, 0.3);
  --analogous3-700a: rgba(0, 85, 42, 0.3);
  --analogous3-800a: rgba(0, 64, 31, 0.3);
  --analogous3-900a: rgba(0, 21, 10, 0.3);
  --split1-100a: rgba(234, 245, 255, 0.3);
  --split1-200a: rgba(191, 224, 255, 0.3);
  --split1-300a: rgba(149, 203, 255, 0.3);
  --split1-400a: rgba(0, 131, 255, 0.3);
  --split1-500a: rgba(0, 109, 213, 0.3);
  --split1-600a: rgba(0, 98, 191, 0.3);
  --split1-700a: rgba(0, 76, 149, 0.3);
  --split1-800a: rgba(0, 55, 106, 0.3);
  --split1-900a: rgba(0, 22, 43, 0.3);
  --split2-100a: rgba(244, 234, 255, 0.3);
  --split2-200a: rgba(223, 191, 255, 0.3);
  --split2-300a: rgba(201, 149, 255, 0.3);
  --split2-400a: rgba(125, 0, 255, 0.3);
  --split2-500a: rgba(104, 0, 213, 0.3);
  --split2-600a: rgba(94, 0, 191, 0.3);
  --split2-700a: rgba(73, 0, 149, 0.3);
  --split2-800a: rgba(52, 0, 106, 0.3);
  --split2-900a: rgba(21, 0, 43, 0.3);
  --square1-100a: rgba(234, 255, 244, 0.3);
  --square1-200a: rgba(191, 255, 223, 0.3);
  --square1-300a: rgba(149, 255, 201, 0.3);
  --square1-400a: rgba(0, 255, 125, 0.3);
  --square1-500a: rgba(0, 170, 83, 0.3);
  --square1-600a: rgba(0, 128, 63, 0.3);
  --square1-700a: rgba(0, 85, 42, 0.3);
  --square1-800a: rgba(0, 64, 31, 0.3);
  --square1-900a: rgba(0, 21, 10, 0.3);
  --square2-100a: rgba(234, 234, 255, 0.3);
  --square2-200a: rgba(191, 192, 255, 0.3);
  --square2-300a: rgba(149, 150, 255, 0.3);
  --square2-400a: rgba(0, 3, 255, 0.3);
  --square2-500a: rgba(0, 3, 213, 0.3);
  --square2-600a: rgba(0, 2, 191, 0.3);
  --square2-700a: rgba(0, 2, 149, 0.3);
  --square2-800a: rgba(0, 1, 106, 0.3);
  --square2-900a: rgba(0, 1, 43, 0.3);
  --square3-100a: rgba(255, 234, 245, 0.3);
  --square3-200a: rgba(255, 191, 224, 0.3);
  --square3-300a: rgba(255, 149, 203, 0.3);
  --square3-400a: rgba(255, 0, 131, 0.3);
  --square3-500a: rgba(213, 0, 109, 0.3);
  --square3-600a: rgba(191, 0, 98, 0.3);
  --square3-700a: rgba(149, 0, 76, 0.3);
  --square3-800a: rgba(106, 0, 55, 0.3);
  --square3-900a: rgba(43, 0, 22, 0.3);
  --triadic1-100a: rgba(234, 255, 255, 0.3);
  --triadic1-200a: rgba(191, 255, 254, 0.3);
  --triadic1-300a: rgba(149, 255, 254, 0.3);
  --triadic1-400a: rgba(0, 255, 252, 0.3);
  --triadic1-500a: rgba(0, 170, 168, 0.3);
  --triadic1-600a: rgba(0, 128, 126, 0.3);
  --triadic1-700a: rgba(0, 85, 84, 0.3);
  --triadic1-800a: rgba(0, 64, 63, 0.3);
  --triadic1-900a: rgba(0, 21, 21, 0.3);
  --triadic2-100a: rgba(255, 234, 255, 0.3);
  --triadic2-200a: rgba(254, 191, 255, 0.3);
  --triadic2-300a: rgba(254, 149, 255, 0.3);
  --triadic2-400a: rgba(252, 0, 255, 0.3);
  --triadic2-500a: rgba(210, 0, 213, 0.3);
  --triadic2-600a: rgba(189, 0, 191, 0.3);
  --triadic2-700a: rgba(147, 0, 149, 0.3);
  --triadic2-800a: rgba(105, 0, 106, 0.3);
  --triadic2-900a: rgba(42, 0, 43, 0.3);
  --tetradic1-100a: rgba(234, 255, 234, 0.3);
  --tetradic1-200a: rgba(192, 255, 191, 0.3);
  --tetradic1-300a: rgba(150, 255, 149, 0.3);
  --tetradic1-400a: rgba(3, 255, 0, 0.3);
  --tetradic1-500a: rgba(2, 170, 0, 0.3);
  --tetradic1-600a: rgba(2, 128, 0, 0.3);
  --tetradic1-700a: rgba(1, 85, 0, 0.3);
  --tetradic1-800a: rgba(1, 64, 0, 0.3);
  --tetradic1-900a: rgba(0, 21, 0, 0.3);
  --tetradic2-100a: rgba(234, 234, 255, 0.3);
  --tetradic2-200a: rgba(191, 192, 255, 0.3);
  --tetradic2-300a: rgba(149, 150, 255, 0.3);
  --tetradic2-400a: rgba(0, 3, 255, 0.3);
  --tetradic2-500a: rgba(0, 3, 213, 0.3);
  --tetradic2-600a: rgba(0, 2, 191, 0.3);
  --tetradic2-700a: rgba(0, 2, 149, 0.3);
  --tetradic2-800a: rgba(0, 1, 106, 0.3);
  --tetradic2-900a: rgba(0, 1, 43, 0.3);
  --tetradic3-100a: rgba(255, 234, 255, 0.3);
  --tetradic3-200a: rgba(254, 191, 255, 0.3);
  --tetradic3-300a: rgba(254, 149, 255, 0.3);
  --tetradic3-400a: rgba(252, 0, 255, 0.3);
  --tetradic3-500a: rgba(210, 0, 213, 0.3);
  --tetradic3-600a: rgba(189, 0, 191, 0.3);
  --tetradic3-700a: rgba(147, 0, 149, 0.3);
  --tetradic3-800a: rgba(105, 0, 106, 0.3);
  --tetradic3-900a: rgba(42, 0, 43, 0.3);
  --success-100a: rgba(234, 255, 234, 0.3);
  --success-200a: rgba(191, 255, 191, 0.3);
  --success-300a: rgba(149, 255, 149, 0.3);
  --success-400a: rgba(0, 255, 0, 0.3);
  --success-500a: rgba(0, 170, 0, 0.3);
  --success-600a: rgba(0, 128, 0, 0.3);
  --success-700a: rgba(0, 85, 0, 0.3);
  --success-800a: rgba(0, 64, 0, 0.3);
  --success-900a: rgba(0, 21, 0, 0.3);
  --danger-100a: rgba(255, 234, 234, 0.3);
  --danger-200a: rgba(255, 191, 191, 0.3);
  --danger-300a: rgba(255, 149, 149, 0.3);
  --danger-400a: rgba(255, 0, 0, 0.3);
  --danger-500a: rgba(213, 0, 0, 0.3);
  --danger-600a: rgba(191, 0, 0, 0.3);
  --danger-700a: rgba(149, 0, 0, 0.3);
  --danger-800a: rgba(106, 0, 0, 0.3);
  --danger-900a: rgba(43, 0, 0, 0.3);
  --warning-100a: rgba(255, 244, 234, 0.3);
  --warning-200a: rgba(255, 223, 191, 0.3);
  --warning-300a: rgba(255, 202, 149, 0.3);
  --warning-400a: rgba(255, 128, 0, 0.3);
  --warning-500a: rgba(170, 85, 0, 0.3);
  --warning-600a: rgba(128, 64, 0, 0.3);
  --warning-700a: rgba(85, 43, 0, 0.3);
  --warning-800a: rgba(64, 32, 0, 0.3);
  --warning-900a: rgba(21, 11, 0, 0.3);
  --info-100a: rgba(234, 244, 255, 0.3);
  --info-200a: rgba(191, 223, 255, 0.3);
  --info-300a: rgba(149, 202, 255, 0.3);
  --info-400a: rgba(0, 128, 255, 0.3);
  --info-500a: rgba(0, 107, 213, 0.3);
  --info-600a: rgba(0, 96, 191, 0.3);
  --info-700a: rgba(0, 75, 149, 0.3);
  --info-800a: rgba(0, 53, 106, 0.3);
  --info-900a: rgba(0, 21, 43, 0.3);
}
