:root {
  --white: white;
  --black: #000000;
  --grey-100: #f4f4f4;
  --grey-200: #dfdfdf;
  --grey-300: #cacaca;
  --grey-400: gray;
  --grey-500: #6b6b6b;
  --grey-600: #606060;
  --grey-700: #4b4b4b;
  --grey-800: #353535;
  --grey-900: #151515;
  --primary-100: #fefef6;
  --primary-200: #fbfbe3;
  --primary-300: #f8f8d1;
  --primary-400: #efee90;
  --primary-500: #cac98b;
  --primary-600: #b7b788;
  --primary-700: #a5a485;
  --primary-800: #9c9b84;
  --primary-900: #898981;
  --hue-0-100: #fdf8f7;
  --hue-0-200: #f8e8e7;
  --hue-0-300: #f3d9d6;
  --hue-0-400: #e2a39d;
  --hue-0-500: #d29d98;
  --hue-0-600: #c99a96;
  --hue-0-700: #b99491;
  --hue-0-800: #a98f8c;
  --hue-0-900: #908685;
  --hue-30-100: #fdf9f7;
  --hue-30-200: #f8ebe7;
  --hue-30-300: #f3ddd6;
  --hue-30-400: #e2ae9d;
  --hue-30-500: #d2a798;
  --hue-30-600: #c9a396;
  --hue-30-700: #b99b91;
  --hue-30-800: #a9938c;
  --hue-30-900: #908885;
  --hue-60-100: #fdfaf7;
  --hue-60-200: #f8efe7;
  --hue-60-300: #f3e5d6;
  --hue-60-400: #efc090;
  --hue-60-500: #c1aa93;
  --hue-60-600: #b1a08e;
  --hue-60-700: #a59585;
  --hue-60-800: #989087;
  --hue-60-900: #898581;
  --hue-90-100: #fefcf6;
  --hue-90-200: #fbf5e3;
  --hue-90-300: #f8eed1;
  --hue-90-400: #efd790;
  --hue-90-500: #caba8b;
  --hue-90-600: #b7ac88;
  --hue-90-700: #a59d85;
  --hue-90-800: #9c9684;
  --hue-90-900: #898781;
  --hue-120-100: #fefef6;
  --hue-120-200: #fbfbe3;
  --hue-120-300: #f8f8d1;
  --hue-120-400: #efef90;
  --hue-120-500: #caca8b;
  --hue-120-600: #b7b788;
  --hue-120-700: #a5a585;
  --hue-120-800: #9c9c84;
  --hue-120-900: #898981;
  --hue-150-100: #fcfef6;
  --hue-150-200: #f6fbe3;
  --hue-150-300: #eff8d1;
  --hue-150-400: #d9ef90;
  --hue-150-500: #bbca8b;
  --hue-150-600: #adb788;
  --hue-150-700: #9ea585;
  --hue-150-800: #969c84;
  --hue-150-900: #878981;
  --hue-180-100: #fafdf7;
  --hue-180-200: #eef8e7;
  --hue-180-300: #e2f3d6;
  --hue-180-400: #b9e29d;
  --hue-180-500: #a6c193;
  --hue-180-600: #9db18e;
  --hue-180-700: #93a08a;
  --hue-180-800: #8e9887;
  --hue-180-900: #858882;
  --hue-210-100: #f7fdfb;
  --hue-210-200: #e7f8f3;
  --hue-210-300: #d6f3eb;
  --hue-210-400: #9de2cf;
  --hue-210-500: #93c1b5;
  --hue-210-600: #8eb1a8;
  --hue-210-700: #8aa09a;
  --hue-210-800: #879894;
  --hue-210-900: #828886;
  --hue-240-100: #f8f9fc;
  --hue-240-200: #e9edf5;
  --hue-240-300: #dbe0ef;
  --hue-240-400: #a7b5d8;
  --hue-240-500: #a1acc9;
  --hue-240-600: #9da7c2;
  --hue-240-700: #979fb3;
  --hue-240-800: #9096a4;
  --hue-240-900: #86898f;
  --hue-270-100: #faf8fc;
  --hue-270-200: #eee9f5;
  --hue-270-300: #e3dbef;
  --hue-270-400: #baa7d8;
  --hue-270-500: #b1a1c9;
  --hue-270-600: #ac9dc2;
  --hue-270-700: #a297b3;
  --hue-270-800: #9890a4;
  --hue-270-900: #8a868f;
  --hue-300-100: #fdf7fd;
  --hue-300-200: #f7e8f7;
  --hue-300-300: #f1d8f1;
  --hue-300-400: #dea1de;
  --hue-300-500: #cf9bcf;
  --hue-300-600: #c699c6;
  --hue-300-700: #b793b7;
  --hue-300-800: #a78ea7;
  --hue-300-900: #908590;
  --hue-330-100: #fdf7f9;
  --hue-330-200: #f8e7ec;
  --hue-330-300: #f3d6df;
  --hue-330-400: #e29db2;
  --hue-330-500: #d298aa;
  --hue-330-600: #c996a6;
  --hue-330-700: #b9919d;
  --hue-330-800: #a98c95;
  --hue-330-900: #908588;
  --complementary-100: #fcf7fd;
  --complementary-200: #f6e8f7;
  --complementary-300: #f1d8f1;
  --complementary-400: #dca1de;
  --complementary-500: #cd9bcf;
  --complementary-600: #c599c6;
  --complementary-700: #b693b7;
  --complementary-800: #a68ea7;
  --complementary-900: #8f8590;
  --analogous1-100: #fcfef6;
  --analogous1-200: #f6fbe3;
  --analogous1-300: #f0f8d1;
  --analogous1-400: #dbef90;
  --analogous1-500: #bcca8b;
  --analogous1-600: #adb788;
  --analogous1-700: #9ea585;
  --analogous1-800: #969c84;
  --analogous1-900: #878981;
  --analogous2-100: #fafdf7;
  --analogous2-200: #eef8e7;
  --analogous2-300: #e3f3d6;
  --analogous2-400: #bbe29d;
  --analogous2-500: #a8c193;
  --analogous2-600: #9eb18e;
  --analogous2-700: #94a08a;
  --analogous2-800: #8f9887;
  --analogous2-900: #858882;
  --analogous3-100: #f7fdfb;
  --analogous3-200: #e7f8f2;
  --analogous3-300: #d6f3ea;
  --analogous3-400: #9de2cc;
  --analogous3-500: #93c1b3;
  --analogous3-600: #8eb1a6;
  --analogous3-700: #8aa099;
  --analogous3-800: #879893;
  --analogous3-900: #828886;
  --split1-100: #f9f8fc;
  --split1-200: #ede9f5;
  --split1-300: #e1dbef;
  --split1-400: #b7a7d8;
  --split1-500: #aea1c9;
  --split1-600: #aa9dc2;
  --split1-700: #a097b3;
  --split1-800: #9790a4;
  --split1-900: #89868f;
  --split2-100: #fdf7f9;
  --split2-200: #f8e7ed;
  --split2-300: #f3d6e1;
  --split2-400: #e29db6;
  --split2-500: #d298ad;
  --split2-600: #c996a9;
  --split2-700: #b9919f;
  --split2-800: #a98c96;
  --split2-900: #908589;
  --square1-100: #f7fdfb;
  --square1-200: #e7f8f2;
  --square1-300: #d6f3ea;
  --square1-400: #9de2cc;
  --square1-500: #93c1b3;
  --square1-600: #8eb1a6;
  --square1-700: #8aa099;
  --square1-800: #879893;
  --square1-900: #828886;
  --square2-100: #fcf7fd;
  --square2-200: #f6e8f7;
  --square2-300: #f1d8f1;
  --square2-400: #dca1de;
  --square2-500: #cd9bcf;
  --square2-600: #c599c6;
  --square2-700: #b693b7;
  --square2-800: #a68ea7;
  --square2-900: #8f8590;
  --square3-100: #fdf9f7;
  --square3-200: #f8ebe7;
  --square3-300: #f3ddd6;
  --square3-400: #e2ad9d;
  --square3-500: #d2a698;
  --square3-600: #c9a296;
  --square3-700: #b99a91;
  --square3-800: #a9938c;
  --square3-900: #908785;
  --triadic1-100: #f8f9fc;
  --triadic1-200: #e9edf5;
  --triadic1-300: #dbe2ef;
  --triadic1-400: #a7b8d8;
  --triadic1-500: #a1aec9;
  --triadic1-600: #9daac2;
  --triadic1-700: #97a0b3;
  --triadic1-800: #9097a4;
  --triadic1-900: #86898f;
  --triadic2-100: #fdf7f7;
  --triadic2-200: #f8e7e7;
  --triadic2-300: #f3d8d6;
  --triadic2-400: #e2a09d;
  --triadic2-500: #d29b98;
  --triadic2-600: #c99896;
  --triadic2-700: #b99391;
  --triadic2-800: #a98d8c;
  --triadic2-900: #908585;
  --tetradic1-100: #fafdf7;
  --tetradic1-200: #eef8e7;
  --tetradic1-300: #e3f3d6;
  --tetradic1-400: #bbe29d;
  --tetradic1-500: #a8c193;
  --tetradic1-600: #9eb18e;
  --tetradic1-700: #94a08a;
  --tetradic1-800: #8f9887;
  --tetradic1-900: #858882;
  --tetradic2-100: #fcf7fd;
  --tetradic2-200: #f6e8f7;
  --tetradic2-300: #f1d8f1;
  --tetradic2-400: #dca1de;
  --tetradic2-500: #cd9bcf;
  --tetradic2-600: #c599c6;
  --tetradic2-700: #b693b7;
  --tetradic2-800: #a68ea7;
  --tetradic2-900: #8f8590;
  --tetradic3-100: #fdf7f7;
  --tetradic3-200: #f8e7e7;
  --tetradic3-300: #f3d8d6;
  --tetradic3-400: #e2a09d;
  --tetradic3-500: #d29b98;
  --tetradic3-600: #c99896;
  --tetradic3-700: #b99391;
  --tetradic3-800: #a98d8c;
  --tetradic3-900: #908585;
  --success-100: #fafdf7;
  --success-200: #eef8e7;
  --success-300: #e2f3d6;
  --success-400: #b9e29d;
  --success-500: #a6c193;
  --success-600: #9db18e;
  --success-700: #93a08a;
  --success-800: #8e9887;
  --success-900: #858882;
  --danger-100: #fdf8f7;
  --danger-200: #f8e8e7;
  --danger-300: #f3d9d6;
  --danger-400: #e2a39d;
  --danger-500: #d29d98;
  --danger-600: #c99a96;
  --danger-700: #b99491;
  --danger-800: #a98f8c;
  --danger-900: #908685;
  --warning-100: #fdfaf7;
  --warning-200: #f8efe7;
  --warning-300: #f3e5d6;
  --warning-400: #efc090;
  --warning-500: #c1aa93;
  --warning-600: #b1a08e;
  --warning-700: #a59585;
  --warning-800: #989087;
  --warning-900: #898581;
  --info-100: #f8f9fc;
  --info-200: #e9edf5;
  --info-300: #dbe0ef;
  --info-400: #a7b5d8;
  --info-500: #a1acc9;
  --info-600: #9da7c2;
  --info-700: #979fb3;
  --info-800: #9096a4;
  --info-900: #86898f;
  --primary-100n: #fcfced;
  --primary-200n: #f7f6c7;
  --primary-300n: #f1f0a3;
  --primary-400n: #dedc21;
  --primary-500n: #949216;
  --primary-600n: #6f6e11;
  --primary-700n: #4a490b;
  --primary-800n: #383708;
  --primary-900n: #121203;
  --hue-0-100n: #faf0ef;
  --hue-0-200n: #f0d1ce;
  --hue-0-300n: #e7b2ad;
  --hue-0-400n: #c4473b;
  --hue-0-500n: #a43b31;
  --hue-0-600n: #93352c;
  --hue-0-700n: #732922;
  --hue-0-800n: #521e18;
  --hue-0-900n: #210c0a;
  --hue-30-100n: #faf2ef;
  --hue-30-200n: #f0d6ce;
  --hue-30-300n: #e7bbad;
  --hue-30-400n: #c45d3b;
  --hue-30-500n: #a44e31;
  --hue-30-600n: #93462c;
  --hue-30-700n: #733622;
  --hue-30-800n: #522718;
  --hue-30-900n: #21100a;
  --hue-60-100n: #faf4ef;
  --hue-60-200n: #f0dfce;
  --hue-60-300n: #e7caad;
  --hue-60-400n: #de8021;
  --hue-60-500n: #835527;
  --hue-60-600n: #63401d;
  --hue-60-700n: #4a2b0b;
  --hue-60-800n: #31200f;
  --hue-60-900n: #120b03;
  --hue-90-100n: #fcf9ed;
  --hue-90-200n: #f7ebc7;
  --hue-90-300n: #f1dda3;
  --hue-90-400n: #deae21;
  --hue-90-500n: #947416;
  --hue-90-600n: #6f5811;
  --hue-90-700n: #4a3a0b;
  --hue-90-800n: #382c08;
  --hue-90-900n: #120f03;
  --hue-120-100n: #fcfced;
  --hue-120-200n: #f7f7c7;
  --hue-120-300n: #f1f1a3;
  --hue-120-400n: #dede21;
  --hue-120-500n: #949416;
  --hue-120-600n: #6f6f11;
  --hue-120-700n: #4a4a0b;
  --hue-120-800n: #383808;
  --hue-120-900n: #121203;
  --hue-150-100n: #f9fced;
  --hue-150-200n: #ecf7c7;
  --hue-150-300n: #dff1a3;
  --hue-150-400n: #b3de21;
  --hue-150-500n: #779416;
  --hue-150-600n: #5a6f11;
  --hue-150-700n: #3c4a0b;
  --hue-150-800n: #2d3808;
  --hue-150-900n: #0f1203;
  --hue-180-100n: #f4faef;
  --hue-180-200n: #dcf0ce;
  --hue-180-300n: #c5e7ad;
  --hue-180-400n: #73c43b;
  --hue-180-500n: #4d8327;
  --hue-180-600n: #3a631d;
  --hue-180-700n: #264114;
  --hue-180-800n: #1d310f;
  --hue-180-900n: #0a1005;
  --hue-210-100n: #effaf7;
  --hue-210-200n: #cef0e7;
  --hue-210-300n: #ade7d7;
  --hue-210-400n: #3bc49f;
  --hue-210-500n: #27836a;
  --hue-210-600n: #1d6350;
  --hue-210-700n: #144135;
  --hue-210-800n: #0f3128;
  --hue-210-900n: #05100d;
  --hue-240-100n: #f1f3f8;
  --hue-240-200n: #d3daeb;
  --hue-240-300n: #b6c1de;
  --hue-240-400n: #4f6ab0;
  --hue-240-500n: #425893;
  --hue-240-600n: #3b4f84;
  --hue-240-700n: #2e3e67;
  --hue-240-800n: #212c49;
  --hue-240-900n: #0d121e;
  --hue-270-100n: #f4f1f8;
  --hue-270-200n: #ddd3eb;
  --hue-270-300n: #c6b6de;
  --hue-270-400n: #754fb0;
  --hue-270-500n: #624293;
  --hue-270-600n: #583b84;
  --hue-270-700n: #452e67;
  --hue-270-800n: #312149;
  --hue-270-900n: #140d1e;
  --hue-300-100n: #faeffa;
  --hue-300-200n: #eed0ee;
  --hue-300-300n: #e3b1e3;
  --hue-300-400n: #bd42bd;
  --hue-300-500n: #9e379e;
  --hue-300-600n: #8d328d;
  --hue-300-700n: #6e276e;
  --hue-300-800n: #4e1c4e;
  --hue-300-900n: #200b20;
  --hue-330-100n: #faeff2;
  --hue-330-200n: #f0ced9;
  --hue-330-300n: #e7adbf;
  --hue-330-400n: #c43b65;
  --hue-330-500n: #a43155;
  --hue-330-600n: #932c4c;
  --hue-330-700n: #73223b;
  --hue-330-800n: #52182a;
  --hue-330-900n: #210a11;
  --complementary-100n: #f9effa;
  --complementary-200n: #edd0ee;
  --complementary-300n: #e2b1e3;
  --complementary-400n: #b842bd;
  --complementary-500n: #9a379e;
  --complementary-600n: #8a328d;
  --complementary-700n: #6c276e;
  --complementary-800n: #4d1c4e;
  --complementary-900n: #1f0b20;
  --analogous1-100n: #f9fced;
  --analogous1-200n: #edf7c7;
  --analogous1-300n: #e1f1a3;
  --analogous1-400n: #b6de21;
  --analogous1-500n: #799416;
  --analogous1-600n: #5b6f11;
  --analogous1-700n: #3d4a0b;
  --analogous1-800n: #2d3808;
  --analogous1-900n: #0f1203;
  --analogous2-100n: #f4faef;
  --analogous2-200n: #ddf0ce;
  --analogous2-300n: #c6e7ad;
  --analogous2-400n: #77c43b;
  --analogous2-500n: #508327;
  --analogous2-600n: #3c631d;
  --analogous2-700n: #284114;
  --analogous2-800n: #1e310f;
  --analogous2-900n: #0a1005;
  --analogous3-100n: #effaf6;
  --analogous3-200n: #cef0e5;
  --analogous3-300n: #ade7d5;
  --analogous3-400n: #3bc499;
  --analogous3-500n: #278366;
  --analogous3-600n: #1d634d;
  --analogous3-700n: #144133;
  --analogous3-800n: #0f3126;
  --analogous3-900n: #05100d;
  --split1-100n: #f3f1f8;
  --split1-200n: #dbd3eb;
  --split1-300n: #c3b6de;
  --split1-400n: #6f4fb0;
  --split1-500n: #5d4293;
  --split1-600n: #543b84;
  --split1-700n: #412e67;
  --split1-800n: #2e2149;
  --split1-900n: #130d1e;
  --split2-100n: #faeff3;
  --split2-200n: #f0cedb;
  --split2-300n: #e7adc2;
  --split2-400n: #c43b6d;
  --split2-500n: #a4315b;
  --split2-600n: #932c52;
  --split2-700n: #73223f;
  --split2-800n: #52182d;
  --split2-900n: #210a13;
  --square1-100n: #effaf6;
  --square1-200n: #cef0e5;
  --square1-300n: #ade7d5;
  --square1-400n: #3bc499;
  --square1-500n: #278366;
  --square1-600n: #1d634d;
  --square1-700n: #144133;
  --square1-800n: #0f3126;
  --square1-900n: #05100d;
  --square2-100n: #f9effa;
  --square2-200n: #edd0ee;
  --square2-300n: #e2b1e3;
  --square2-400n: #b842bd;
  --square2-500n: #9a379e;
  --square2-600n: #8a328d;
  --square2-700n: #6c276e;
  --square2-800n: #4d1c4e;
  --square2-900n: #1f0b20;
  --square3-100n: #faf2ef;
  --square3-200n: #f0d6ce;
  --square3-300n: #e7bbad;
  --square3-400n: #c45b3b;
  --square3-500n: #a44c31;
  --square3-600n: #93442c;
  --square3-700n: #733522;
  --square3-800n: #522618;
  --square3-900n: #210f0a;
  --triadic1-100n: #f1f3f8;
  --triadic1-200n: #d3dbeb;
  --triadic1-300n: #b6c4de;
  --triadic1-400n: #4f70b0;
  --triadic1-500n: #425d93;
  --triadic1-600n: #3b5484;
  --triadic1-700n: #2e4167;
  --triadic1-800n: #212f49;
  --triadic1-900n: #0d131e;
  --triadic2-100n: #faefef;
  --triadic2-200n: #f0cfce;
  --triadic2-300n: #e7b0ad;
  --triadic2-400n: #c4413b;
  --triadic2-500n: #a43631;
  --triadic2-600n: #93302c;
  --triadic2-700n: #732622;
  --triadic2-800n: #521b18;
  --triadic2-900n: #210b0a;
  --tetradic1-100n: #f4faef;
  --tetradic1-200n: #ddf0ce;
  --tetradic1-300n: #c6e7ad;
  --tetradic1-400n: #77c43b;
  --tetradic1-500n: #508327;
  --tetradic1-600n: #3c631d;
  --tetradic1-700n: #284114;
  --tetradic1-800n: #1e310f;
  --tetradic1-900n: #0a1005;
  --tetradic2-100n: #f9effa;
  --tetradic2-200n: #edd0ee;
  --tetradic2-300n: #e2b1e3;
  --tetradic2-400n: #b842bd;
  --tetradic2-500n: #9a379e;
  --tetradic2-600n: #8a328d;
  --tetradic2-700n: #6c276e;
  --tetradic2-800n: #4d1c4e;
  --tetradic2-900n: #1f0b20;
  --tetradic3-100n: #faefef;
  --tetradic3-200n: #f0cfce;
  --tetradic3-300n: #e7b0ad;
  --tetradic3-400n: #c4413b;
  --tetradic3-500n: #a43631;
  --tetradic3-600n: #93302c;
  --tetradic3-700n: #732622;
  --tetradic3-800n: #521b18;
  --tetradic3-900n: #210b0a;
  --success-100n: #f4faef;
  --success-200n: #dcf0ce;
  --success-300n: #c5e7ad;
  --success-400n: #73c43b;
  --success-500n: #4d8327;
  --success-600n: #3a631d;
  --success-700n: #264114;
  --success-800n: #1d310f;
  --success-900n: #0a1005;
  --danger-100n: #faf0ef;
  --danger-200n: #f0d1ce;
  --danger-300n: #e7b2ad;
  --danger-400n: #c4473b;
  --danger-500n: #a43b31;
  --danger-600n: #93352c;
  --danger-700n: #732922;
  --danger-800n: #521e18;
  --danger-900n: #210c0a;
  --warning-100n: #faf4ef;
  --warning-200n: #f0dfce;
  --warning-300n: #e7caad;
  --warning-400n: #de8021;
  --warning-500n: #835527;
  --warning-600n: #63401d;
  --warning-700n: #4a2b0b;
  --warning-800n: #31200f;
  --warning-900n: #120b03;
  --info-100n: #f1f3f8;
  --info-200n: #d3daeb;
  --info-300n: #b6c1de;
  --info-400n: #4f6ab0;
  --info-500n: #425893;
  --info-600n: #3b4f84;
  --info-700n: #2e3e67;
  --info-800n: #212c49;
  --info-900n: #0d121e;
  --primary-100a: rgba(255, 255, 234, 0.3);
  --primary-200a: rgba(255, 254, 191, 0.3);
  --primary-300a: rgba(255, 254, 149, 0.3);
  --primary-400a: rgba(255, 252, 0, 0.3);
  --primary-500a: rgba(170, 168, 0, 0.3);
  --primary-600a: rgba(128, 126, 0, 0.3);
  --primary-700a: rgba(85, 84, 0, 0.3);
  --primary-800a: rgba(64, 63, 0, 0.3);
  --primary-900a: rgba(21, 21, 0, 0.3);
  --hue-0-100a: rgba(255, 236, 234, 0.3);
  --hue-0-200a: rgba(255, 197, 191, 0.3);
  --hue-0-300a: rgba(255, 158, 149, 0.3);
  --hue-0-400a: rgba(255, 23, 0, 0.3);
  --hue-0-500a: rgba(213, 19, 0, 0.3);
  --hue-0-600a: rgba(191, 17, 0, 0.3);
  --hue-0-700a: rgba(149, 13, 0, 0.3);
  --hue-0-800a: rgba(106, 10, 0, 0.3);
  --hue-0-900a: rgba(43, 4, 0, 0.3);
  --hue-30-100a: rgba(255, 239, 234, 0.3);
  --hue-30-200a: rgba(255, 207, 191, 0.3);
  --hue-30-300a: rgba(255, 175, 149, 0.3);
  --hue-30-400a: rgba(255, 64, 0, 0.3);
  --hue-30-500a: rgba(213, 53, 0, 0.3);
  --hue-30-600a: rgba(191, 48, 0, 0.3);
  --hue-30-700a: rgba(149, 37, 0, 0.3);
  --hue-30-800a: rgba(106, 27, 0, 0.3);
  --hue-30-900a: rgba(43, 11, 0, 0.3);
  --hue-60-100a: rgba(255, 244, 234, 0.3);
  --hue-60-200a: rgba(255, 223, 191, 0.3);
  --hue-60-300a: rgba(255, 202, 149, 0.3);
  --hue-60-400a: rgba(255, 128, 0, 0.3);
  --hue-60-500a: rgba(170, 85, 0, 0.3);
  --hue-60-600a: rgba(128, 64, 0, 0.3);
  --hue-60-700a: rgba(85, 43, 0, 0.3);
  --hue-60-800a: rgba(64, 32, 0, 0.3);
  --hue-60-900a: rgba(21, 11, 0, 0.3);
  --hue-90-100a: rgba(255, 250, 234, 0.3);
  --hue-90-200a: rgba(255, 239, 191, 0.3);
  --hue-90-300a: rgba(255, 228, 149, 0.3);
  --hue-90-400a: rgba(255, 191, 0, 0.3);
  --hue-90-500a: rgba(170, 127, 0, 0.3);
  --hue-90-600a: rgba(128, 96, 0, 0.3);
  --hue-90-700a: rgba(85, 64, 0, 0.3);
  --hue-90-800a: rgba(64, 48, 0, 0.3);
  --hue-90-900a: rgba(21, 16, 0, 0.3);
  --hue-120-100a: rgba(255, 255, 234, 0.3);
  --hue-120-200a: rgba(255, 255, 191, 0.3);
  --hue-120-300a: rgba(255, 255, 149, 0.3);
  --hue-120-400a: rgba(255, 255, 0, 0.3);
  --hue-120-500a: rgba(170, 170, 0, 0.3);
  --hue-120-600a: rgba(128, 128, 0, 0.3);
  --hue-120-700a: rgba(85, 85, 0, 0.3);
  --hue-120-800a: rgba(64, 64, 0, 0.3);
  --hue-120-900a: rgba(21, 21, 0, 0.3);
  --hue-150-100a: rgba(250, 255, 234, 0.3);
  --hue-150-200a: rgba(241, 255, 191, 0.3);
  --hue-150-300a: rgba(231, 255, 149, 0.3);
  --hue-150-400a: rgba(197, 255, 0, 0.3);
  --hue-150-500a: rgba(131, 170, 0, 0.3);
  --hue-150-600a: rgba(99, 128, 0, 0.3);
  --hue-150-700a: rgba(66, 85, 0, 0.3);
  --hue-150-800a: rgba(49, 64, 0, 0.3);
  --hue-150-900a: rgba(16, 21, 0, 0.3);
  --hue-180-100a: rgba(243, 255, 234, 0.3);
  --hue-180-200a: rgba(218, 255, 191, 0.3);
  --hue-180-300a: rgba(193, 255, 149, 0.3);
  --hue-180-400a: rgba(105, 255, 0, 0.3);
  --hue-180-500a: rgba(70, 170, 0, 0.3);
  --hue-180-600a: rgba(53, 128, 0, 0.3);
  --hue-180-700a: rgba(35, 85, 0, 0.3);
  --hue-180-800a: rgba(26, 64, 0, 0.3);
  --hue-180-900a: rgba(9, 21, 0, 0.3);
  --hue-210-100a: rgba(234, 255, 249, 0.3);
  --hue-210-200a: rgba(191, 255, 238, 0.3);
  --hue-210-300a: rgba(149, 255, 226, 0.3);
  --hue-210-400a: rgba(0, 255, 186, 0.3);
  --hue-210-500a: rgba(0, 170, 124, 0.3);
  --hue-210-600a: rgba(0, 128, 93, 0.3);
  --hue-210-700a: rgba(0, 85, 62, 0.3);
  --hue-210-800a: rgba(0, 64, 47, 0.3);
  --hue-210-900a: rgba(0, 21, 16, 0.3);
  --hue-240-100a: rgba(234, 240, 255, 0.3);
  --hue-240-200a: rgba(191, 209, 255, 0.3);
  --hue-240-300a: rgba(149, 178, 255, 0.3);
  --hue-240-400a: rgba(0, 70, 255, 0.3);
  --hue-240-500a: rgba(0, 58, 213, 0.3);
  --hue-240-600a: rgba(0, 53, 191, 0.3);
  --hue-240-700a: rgba(0, 41, 149, 0.3);
  --hue-240-800a: rgba(0, 29, 106, 0.3);
  --hue-240-900a: rgba(0, 12, 43, 0.3);
  --hue-270-100a: rgba(242, 234, 255, 0.3);
  --hue-270-200a: rgba(217, 191, 255, 0.3);
  --hue-270-300a: rgba(191, 149, 255, 0.3);
  --hue-270-400a: rgba(101, 0, 255, 0.3);
  --hue-270-500a: rgba(84, 0, 213, 0.3);
  --hue-270-600a: rgba(76, 0, 191, 0.3);
  --hue-270-700a: rgba(59, 0, 149, 0.3);
  --hue-270-800a: rgba(42, 0, 106, 0.3);
  --hue-270-900a: rgba(17, 0, 43, 0.3);
  --hue-300-100a: rgba(255, 234, 255, 0.3);
  --hue-300-200a: rgba(255, 191, 255, 0.3);
  --hue-300-300a: rgba(255, 149, 255, 0.3);
  --hue-300-400a: rgba(255, 0, 255, 0.3);
  --hue-300-500a: rgba(213, 0, 213, 0.3);
  --hue-300-600a: rgba(191, 0, 191, 0.3);
  --hue-300-700a: rgba(149, 0, 149, 0.3);
  --hue-300-800a: rgba(106, 0, 106, 0.3);
  --hue-300-900a: rgba(43, 0, 43, 0.3);
  --hue-330-100a: rgba(255, 234, 240, 0.3);
  --hue-330-200a: rgba(255, 191, 211, 0.3);
  --hue-330-300a: rgba(255, 149, 182, 0.3);
  --hue-330-400a: rgba(255, 0, 79, 0.3);
  --hue-330-500a: rgba(213, 0, 66, 0.3);
  --hue-330-600a: rgba(191, 0, 59, 0.3);
  --hue-330-700a: rgba(149, 0, 46, 0.3);
  --hue-330-800a: rgba(106, 0, 33, 0.3);
  --hue-330-900a: rgba(43, 0, 13, 0.3);
  --complementary-100a: rgba(254, 234, 255, 0.3);
  --complementary-200a: rgba(253, 191, 255, 0.3);
  --complementary-300a: rgba(251, 149, 255, 0.3);
  --complementary-400a: rgba(246, 0, 255, 0.3);
  --complementary-500a: rgba(205, 0, 213, 0.3);
  --complementary-600a: rgba(185, 0, 191, 0.3);
  --complementary-700a: rgba(144, 0, 149, 0.3);
  --complementary-800a: rgba(103, 0, 106, 0.3);
  --complementary-900a: rgba(41, 0, 43, 0.3);
  --analogous1-100a: rgba(251, 255, 234, 0.3);
  --analogous1-200a: rgba(242, 255, 191, 0.3);
  --analogous1-300a: rgba(233, 255, 149, 0.3);
  --analogous1-400a: rgba(201, 255, 0, 0.3);
  --analogous1-500a: rgba(134, 170, 0, 0.3);
  --analogous1-600a: rgba(101, 128, 0, 0.3);
  --analogous1-700a: rgba(67, 85, 0, 0.3);
  --analogous1-800a: rgba(50, 64, 0, 0.3);
  --analogous1-900a: rgba(17, 21, 0, 0.3);
  --analogous2-100a: rgba(243, 255, 234, 0.3);
  --analogous2-200a: rgba(219, 255, 191, 0.3);
  --analogous2-300a: rgba(195, 255, 149, 0.3);
  --analogous2-400a: rgba(112, 255, 0, 0.3);
  --analogous2-500a: rgba(75, 170, 0, 0.3);
  --analogous2-600a: rgba(56, 128, 0, 0.3);
  --analogous2-700a: rgba(37, 85, 0, 0.3);
  --analogous2-800a: rgba(28, 64, 0, 0.3);
  --analogous2-900a: rgba(9, 21, 0, 0.3);
  --analogous3-100a: rgba(234, 255, 248, 0.3);
  --analogous3-200a: rgba(191, 255, 235, 0.3);
  --analogous3-300a: rgba(149, 255, 222, 0.3);
  --analogous3-400a: rgba(0, 255, 175, 0.3);
  --analogous3-500a: rgba(0, 170, 117, 0.3);
  --analogous3-600a: rgba(0, 128, 88, 0.3);
  --analogous3-700a: rgba(0, 85, 58, 0.3);
  --analogous3-800a: rgba(0, 64, 44, 0.3);
  --analogous3-900a: rgba(0, 21, 15, 0.3);
  --split1-100a: rgba(241, 234, 255, 0.3);
  --split1-200a: rgba(213, 191, 255, 0.3);
  --split1-300a: rgba(184, 149, 255, 0.3);
  --split1-400a: rgba(85, 0, 255, 0.3);
  --split1-500a: rgba(71, 0, 213, 0.3);
  --split1-600a: rgba(64, 0, 191, 0.3);
  --split1-700a: rgba(50, 0, 149, 0.3);
  --split1-800a: rgba(35, 0, 106, 0.3);
  --split1-900a: rgba(14, 0, 43, 0.3);
  --split2-100a: rgba(255, 234, 242, 0.3);
  --split2-200a: rgba(255, 191, 215, 0.3);
  --split2-300a: rgba(255, 149, 188, 0.3);
  --split2-400a: rgba(255, 0, 93, 0.3);
  --split2-500a: rgba(213, 0, 78, 0.3);
  --split2-600a: rgba(191, 0, 70, 0.3);
  --split2-700a: rgba(149, 0, 54, 0.3);
  --split2-800a: rgba(106, 0, 39, 0.3);
  --split2-900a: rgba(43, 0, 16, 0.3);
  --square1-100a: rgba(234, 255, 248, 0.3);
  --square1-200a: rgba(191, 255, 235, 0.3);
  --square1-300a: rgba(149, 255, 222, 0.3);
  --square1-400a: rgba(0, 255, 175, 0.3);
  --square1-500a: rgba(0, 170, 117, 0.3);
  --square1-600a: rgba(0, 128, 88, 0.3);
  --square1-700a: rgba(0, 85, 58, 0.3);
  --square1-800a: rgba(0, 64, 44, 0.3);
  --square1-900a: rgba(0, 21, 15, 0.3);
  --square2-100a: rgba(254, 234, 255, 0.3);
  --square2-200a: rgba(253, 191, 255, 0.3);
  --square2-300a: rgba(251, 149, 255, 0.3);
  --square2-400a: rgba(246, 0, 255, 0.3);
  --square2-500a: rgba(205, 0, 213, 0.3);
  --square2-600a: rgba(185, 0, 191, 0.3);
  --square2-700a: rgba(144, 0, 149, 0.3);
  --square2-800a: rgba(103, 0, 106, 0.3);
  --square2-900a: rgba(41, 0, 43, 0.3);
  --square3-100a: rgba(255, 239, 234, 0.3);
  --square3-200a: rgba(255, 206, 191, 0.3);
  --square3-300a: rgba(255, 174, 149, 0.3);
  --square3-400a: rgba(255, 60, 0, 0.3);
  --square3-500a: rgba(213, 50, 0, 0.3);
  --square3-600a: rgba(191, 45, 0, 0.3);
  --square3-700a: rgba(149, 35, 0, 0.3);
  --square3-800a: rgba(106, 25, 0, 0.3);
  --square3-900a: rgba(43, 10, 0, 0.3);
  --triadic1-100a: rgba(234, 241, 255, 0.3);
  --triadic1-200a: rgba(191, 213, 255, 0.3);
  --triadic1-300a: rgba(149, 185, 255, 0.3);
  --triadic1-400a: rgba(0, 86, 255, 0.3);
  --triadic1-500a: rgba(0, 72, 213, 0.3);
  --triadic1-600a: rgba(0, 65, 191, 0.3);
  --triadic1-700a: rgba(0, 50, 149, 0.3);
  --triadic1-800a: rgba(0, 36, 106, 0.3);
  --triadic1-900a: rgba(0, 14, 43, 0.3);
  --triadic2-100a: rgba(255, 235, 234, 0.3);
  --triadic2-200a: rgba(255, 194, 191, 0.3);
  --triadic2-300a: rgba(255, 153, 149, 0.3);
  --triadic2-400a: rgba(255, 11, 0, 0.3);
  --triadic2-500a: rgba(213, 9, 0, 0.3);
  --triadic2-600a: rgba(191, 8, 0, 0.3);
  --triadic2-700a: rgba(149, 6, 0, 0.3);
  --triadic2-800a: rgba(106, 5, 0, 0.3);
  --triadic2-900a: rgba(43, 2, 0, 0.3);
  --tetradic1-100a: rgba(243, 255, 234, 0.3);
  --tetradic1-200a: rgba(219, 255, 191, 0.3);
  --tetradic1-300a: rgba(195, 255, 149, 0.3);
  --tetradic1-400a: rgba(112, 255, 0, 0.3);
  --tetradic1-500a: rgba(75, 170, 0, 0.3);
  --tetradic1-600a: rgba(56, 128, 0, 0.3);
  --tetradic1-700a: rgba(37, 85, 0, 0.3);
  --tetradic1-800a: rgba(28, 64, 0, 0.3);
  --tetradic1-900a: rgba(9, 21, 0, 0.3);
  --tetradic2-100a: rgba(254, 234, 255, 0.3);
  --tetradic2-200a: rgba(253, 191, 255, 0.3);
  --tetradic2-300a: rgba(251, 149, 255, 0.3);
  --tetradic2-400a: rgba(246, 0, 255, 0.3);
  --tetradic2-500a: rgba(205, 0, 213, 0.3);
  --tetradic2-600a: rgba(185, 0, 191, 0.3);
  --tetradic2-700a: rgba(144, 0, 149, 0.3);
  --tetradic2-800a: rgba(103, 0, 106, 0.3);
  --tetradic2-900a: rgba(41, 0, 43, 0.3);
  --tetradic3-100a: rgba(255, 235, 234, 0.3);
  --tetradic3-200a: rgba(255, 194, 191, 0.3);
  --tetradic3-300a: rgba(255, 153, 149, 0.3);
  --tetradic3-400a: rgba(255, 11, 0, 0.3);
  --tetradic3-500a: rgba(213, 9, 0, 0.3);
  --tetradic3-600a: rgba(191, 8, 0, 0.3);
  --tetradic3-700a: rgba(149, 6, 0, 0.3);
  --tetradic3-800a: rgba(106, 5, 0, 0.3);
  --tetradic3-900a: rgba(43, 2, 0, 0.3);
  --success-100a: rgba(243, 255, 234, 0.3);
  --success-200a: rgba(218, 255, 191, 0.3);
  --success-300a: rgba(193, 255, 149, 0.3);
  --success-400a: rgba(105, 255, 0, 0.3);
  --success-500a: rgba(70, 170, 0, 0.3);
  --success-600a: rgba(53, 128, 0, 0.3);
  --success-700a: rgba(35, 85, 0, 0.3);
  --success-800a: rgba(26, 64, 0, 0.3);
  --success-900a: rgba(9, 21, 0, 0.3);
  --danger-100a: rgba(255, 236, 234, 0.3);
  --danger-200a: rgba(255, 197, 191, 0.3);
  --danger-300a: rgba(255, 158, 149, 0.3);
  --danger-400a: rgba(255, 23, 0, 0.3);
  --danger-500a: rgba(213, 19, 0, 0.3);
  --danger-600a: rgba(191, 17, 0, 0.3);
  --danger-700a: rgba(149, 13, 0, 0.3);
  --danger-800a: rgba(106, 10, 0, 0.3);
  --danger-900a: rgba(43, 4, 0, 0.3);
  --warning-100a: rgba(255, 244, 234, 0.3);
  --warning-200a: rgba(255, 223, 191, 0.3);
  --warning-300a: rgba(255, 202, 149, 0.3);
  --warning-400a: rgba(255, 128, 0, 0.3);
  --warning-500a: rgba(170, 85, 0, 0.3);
  --warning-600a: rgba(128, 64, 0, 0.3);
  --warning-700a: rgba(85, 43, 0, 0.3);
  --warning-800a: rgba(64, 32, 0, 0.3);
  --warning-900a: rgba(21, 11, 0, 0.3);
  --info-100a: rgba(234, 240, 255, 0.3);
  --info-200a: rgba(191, 209, 255, 0.3);
  --info-300a: rgba(149, 178, 255, 0.3);
  --info-400a: rgba(0, 70, 255, 0.3);
  --info-500a: rgba(0, 58, 213, 0.3);
  --info-600a: rgba(0, 53, 191, 0.3);
  --info-700a: rgba(0, 41, 149, 0.3);
  --info-800a: rgba(0, 29, 106, 0.3);
  --info-900a: rgba(0, 12, 43, 0.3);
}
